<app-menu></app-menu>
<div class="table-body table-padding">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    <input type="checkbox">
                </th>
                <th>Description</th>
                <th>
                    <span class="glyphicon  glyphicon-filter icon-margin"></span>Type</th>
                <th>
                    <span class="glyphicon glyphicon-filter icon-margin"></span>Assignor</th>
                <th>
                    <span class="glyphicon glyphicon-filter icon-margin"></span>Due on
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </th>
                <th>
                    <span class="glyphicon glyphicon-filter icon-margin"></span>Status</th>
                <th>
                    <span class="	glyphicon glyphicon-trash"></span>
                </th>
            </tr>
        </thead>
        <tfoot>
            <tr class="table-striped tab-font-size font-weight">
                <td class="tab tab-font-size font-weight">
                    <input type="checkbox">
                </td>
                <td class=" tab-font-size font-weight">
                    <div class="tab-font-size">Filmworks FZ LLC</div>New Request for Scripted shootfrom jun 1 2018 to jun 15, 2018</td>
                <td cass="tab-font-size font-weight">Ground Filming Permit</td>
                <td class=" tab-font-size font-weight">Saeed Al Janahi</td>
                <td class="tab-font-size font-weight">
                    <div class="days-font-size">Wednesday </div>May 28, 2018</td>
                <td class=" tab-font-size font-weight">Work in progress</td>
                <td class=" tab-font-size font-weight">
                    <span class="glyphicon glyphicon-trash"></span>
                </td>
            </tr>
        </tfoot>

        <tbody>
            <tr>

                <td class=" tab-font-size font-weight">
                    <input type="checkbox">
                </td>
                <td class=" tab-font-size font-weight">
                    <div class="tab-font-size">Filmworks FZ LLC</div>New Request for Scripted shootfrom jun 1 2018 to jun 15, 2018</td>
                <td cass="tab-font-size font-weight">Ground Filming Permit</td>
                <td class=" tab-font-size font-weight">Saeed Al Janahi</td>
                <td class="tab-font-size font-weight">
                    <div class="days-font-sizep">Wednesday </div>May 28, 2018</td>
                <td class=" tab-font-size font-weight">Work in progress</td>
                <td class=" tab-font-size font-weight">
                    <span class="glyphicon glyphicon-trash"></span>
                </td>
            </tr>
            <tr class="table-striped tab-font-size font-weight">
                <td class="tab tab-font-size font-weight">
                    <input type="checkbox">
                </td>
                <td class=" tab-font-size font-weight">
                    <div class="tab-font-size">Filmworks FZ LLC</div>New Request for Scripted shootfrom jun 1 2018 to jun 15, 2018</td>
                <td cass="tab-font-size font-weight">Ground Filming Permit</td>
                <td class=" tab-font-size font-weight">Saeed Al Janahi</td>
                <td class="tab-font-size font-weight">
                    <div class="days-font-size">Wednesday </div>May 28, 2018</td>
                <td class=" tab-font-size font-weight">Work in progress</td>
                <td class=" tab-font-size font-weight">
                    <span class="glyphicon glyphicon-trash"></span>
                </td>
            </tr>
            <tr>
                <td class=" tab-font-size font-weight">
                    <input type="checkbox">
                </td>
                <td class=" tab-font-size font-weight">
                    <div class="tab-font-size">Filmworks FZ LLC</div>New Request for Scripted shootfrom jun 1 2018 to jun 15, 2018</td>
                <td cass="tab-font-size font-weight">Ground Filming Permit</td>
                <td class=" tab-font-size font-weight">Saeed Al Janahi</td>
                <td class="tab-font-size font-weight">
                    <div class="days-font-sizep">Wednesday </div>May 28, 2018</td>
                <td class=" tab-font-size font-weight">Work in progress</td>
                <td class=" tab-font-size font-weight">
                    <span class="glyphicon glyphicon-trash"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>