<div class=" table-padding">
  <!-- Breadcrumb start-->
  <mat-toolbar>
    <mat-icon>home</mat-icon>
    <mat-icon>arrow_forward_ios</mat-icon>
    <span>
      <a href="#" outerLink={{mainRouterLink}}>{{mainbreadcrumb}}</a>
    </span>
    <mat-icon>arrow_forward_ios</mat-icon>
    <span>
      <a routerLink={{breadcrumbRouterLink}}>{{breadcrumb}}</a>
    </span>
  </mat-toolbar>
  <!-- Breadcrumb end-->

  <nav mat-tab-nav-bar [backgroundColor]="background">
    <ng-container *ngFor="let menu of menuList;">
      <a mat-tab-link *ngIf="menu.menuType==3 " (click)="activeLink=shownRouterLink(menu.routerLink)" [active]="activeLink==menu.routerLink">
        {{menu.translation}} </a>
    </ng-container>
    <button mat-icon-button>
      <mat-icon (click)="toggleBackground()">invert_colors</mat-icon>
    </button>
  </nav>
  <mat-card>
    <app-dynamic-datatable *ngIf="MyTaskColumns!=null" [myurl]=MyTaskUrl [mycoloums]=MyTaskColumns></app-dynamic-datatable>
    <div class="button-row">
      <button type="button" (click)="editFunction()" mat-raised-button color="primary">Edit</button>
    </div>
  </mat-card>

</div>
