
.eta-margin-all {
    margin: 10px;
  }

.button-row {
    margin-top: 20px;
  }
   

  .example-action-button {
    margin-bottom: 8px;
  }
  a:hover{
    text-decoration: none;
    color: inherit;
  }