<div>
  <div class="col-sm-6 table-padding">
    <mat-toolbar color="primary"> Custom table </mat-toolbar>
    <mat-card>
      <form [formGroup]="customTablefrm" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width">
          <mat-icon matSuffix>perm_identity</mat-icon>
          <input matInput #message placeholder="Enter Table Name" formControlName="tableName" required/>
          <mat-hint align="end">{{message.value.length}} / 50</mat-hint>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <textarea matInput matTextareaAutosize="true" formControlName="tableOption" placeholder="Enter table options"></textarea>
        </mat-form-field>
        <div class="button-row">
          <button type="submit" mat-raised-button color="primary">Add</button>
          <button class="eta-margin-all" type="button" (click)="cancel()" mat-raised-button color="primary">cancel</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>