a{
    text-decoration: none;
}
a:hover{
    color: #A6510C;
}
.colorA6510C{
    color: #A6510C;
    
}
#tag{
    width: 200px;
    padding: 10px;
}
#assignRoleHeaderBC{
    background-color:#fce2c4; 
}
#assignRoleValueBC{
background-color:#e1e3ea; 
}


/* Material design css start */
.eta-margin-all{
    margin: 10px;
  }
  