<div class="loading-indicator" *ngIf="isSpinnerShow==true">
    <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
  </div>
<div>
    <!-- Breadcrumb start-->
    <mat-toolbar>
        <mat-icon>home</mat-icon>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span>
          <a href="#" routerLink='/eta-web/userdashboard'>{{mainbreadcrumb}}</a>
        </span>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span>
          <a routerLink='/eta-web/editassignrole'> Assign Role </a>
        </span>
    </mat-toolbar>
    <!-- Breadcrumb end-->

  <!-- Form col-sm-6 tage start-->
  <div class="col-sm-6 div-padding">
    <!-- Form table-padding tage start-->
    <div class="table-padding">
      <!-- Form formatter tage start-->
      <div class="container col-sm-12">
        <!-- Assign Role Header tag start-->
        <mat-toolbar color="primary"> Assign Role </mat-toolbar>
        <!-- Assign Role Header tag End-->

        <!-- mat card tag start-->
        <mat-card>
        <form [formGroup]="assignRoleForm" (ngSubmit)="onSubmitMethod()">
         
            <div class="form-group ">
              <span class="floating-label">User Name</span>
              <input type="text" class="form-control permit-input inputwidth inputText " max="16" formControlName="firstName" id="firstName"
                disabled/>
            </div>
          
            <mat-card-title>
              <table *ngIf="userRoleType!=null && roleNameList!=null" style="width:100%">
                <tr class="form-header">
                  <td id="tag" class="text-center">Select</td>
                  <td id="tag">Role Name</td>
                  <td id="tag">Role Description</td>
                </tr>
                </table>
            </mat-card-title>

            <div *ngIf="isSpinnerShow==false">
              <tr *ngFor="let roleObj of roleNameList" class="outer-border">
                <td id="tag" class="text-center">
                  <mat-checkbox (change)="selectRoleID($event)" ng-selected="true"  [checked]="selectedRoleNameList.includes(''+roleObj.roleId)"  [id]=roleObj.roleId value="{{roleObj.roleId}}"></mat-checkbox>
                  <td id="tag">{{roleObj.roleName}}</td>
                  <td id="tag">For {{roleObj.roleName}} Users</td>
              </tr>
            </div>

            <div class="button-row">
                <button type="submit" mat-raised-button color="primary">Add</button>
                <button class="eta-margin-all" type="button" (click)="cancel()" mat-raised-button color="primary">Cancel</button>
            </div>
         
        </form>
        </mat-card>
        <!-- mat card tag end -->
      </div>
      <!-- Form formatter tage End-->
    </div>
    <!-- Form table-padding tage End-->
  </div>
  <!-- Form col-sm-6 tage End-->
  <div class="col-sm-6 table-padding">
    <!-- <app-dynamic-datatable-edit [myurl]="templateurl" [mycoloums]="templateConfigCol"></app-dynamic-datatable-edit> -->
  </div>

</div>
