<div class="col-sm-8 table-padding">
    <form [formGroup]="acceptform" (ngSubmit)="onSubmit(acceptform.value)">


        <div innerHTML=" {{acceptTerms.policyText}}"></div>
        <div class="  form-group form-group-margin  ">
          <!--   <input type="checkbox" name="name" formControlName="AcceptCheck" required/> -->
            <mat-checkbox formControlName="AcceptCheck"></mat-checkbox>
            <label>I accept privacy policy</label>
        </div>

        <div class="button-div">
            <button type="submit" [disabled]="acceptform.controls['AcceptCheck'].invalid || acceptform.controls['AcceptCheck'].value ==false " mat-raised-button color="primary">Add</button>
            <button class="eta-margin-all" type="reset" click='close()' mat-raised-button color="primary">Cancel</button>
        </div>
    </form>
</div>