<div class=" table-padding">
  <!-- Breadcrumb start-->
  <mat-toolbar>
    <mat-icon>home</mat-icon>
    <mat-icon>arrow_forward_ios</mat-icon>
    <span>
      <a href="#" routerLink='/eta-web/emaildashboard'>{{mainbreadcrumb}}</a>
    </span>
    <mat-icon>arrow_forward_ios</mat-icon>
    <span>
      <a routerLink='/eta-web/emaillogdashboard'>{{breadcrumb}}</a>
    </span>
  </mat-toolbar>
  <!-- Breadcrumb end-->

  <!--  table-padding tage start-->
  <nav mat-tab-nav-bar [backgroundColor]="background">
    <ng-container *ngFor="let menu of menuList;">
      <a mat-tab-link *ngIf="menu.menuType==3 && menu.menuRef == 4" (click)="activeLink=shownRouterLink(menu.routerLink)" [active]="activeLink==menu.routerLink">
        {{menu.translation}} </a>
    </ng-container>
    <button mat-icon-button>
      <mat-icon (click)="toggleBackground()">invert_colors</mat-icon>
    </button>
  </nav>
  <mat-card>
    <div *ngIf="emailLogCol!=null">
      <app-admin-dynamic-datatable [myurl]=emailLogUrl [mycoloums]=emailLogCol></app-admin-dynamic-datatable>
      <!-- <app-dynamic-datatable-edit [myurl]="emailLogUrl" [mycoloums]="emailLogCol" [mySubmitUrl]=emailSubmitUrl [checkboxId]=checkbox></app-dynamic-datatable-edit> -->
    </div>

  </mat-card>

</div>
