<div>
  <!-- Breadcrumb start-->
  <mat-toolbar>
    <mat-icon>home</mat-icon>
    <mat-icon>arrow_forward_ios</mat-icon>
    <span>
      <a href="#" routerLink='/eta-web/home'>{{mainbreadcrumb}}</a>
    </span>
    <mat-icon>arrow_forward_ios</mat-icon>
    <span>
      <a routerLink='/eta-web/home'>{{breadcrumb}}</a>
    </span>
    <mat-icon>arrow_forward_ios</mat-icon>
    <span>
      <a routerLink='/addfunction'>Add</a>
    </span>
  </mat-toolbar>
  <!-- Breadcrumb end-->
  <div class="col-sm-6 table-padding">

    <!--<div class=" breadcrumb ">
      <table>
        <td>
          <span class="glyphicon glyphicon-home "></span>
        </td>
        <td>
          <span class="glyphicon glyphicon-menu-right"></span>
        </td>
        <td>
          <a href="#" routerLink='/home'>{{mainbreadcrumb}}</a>
        </td>
        <td>
          <span class="glyphicon glyphicon-menu-right"></span>
        </td>
        <td>
          <a class=" colorA6510C" routerLink='/home'>{{breadcrumb}}</a>
        </td>
        <td>
          <span class="glyphicon glyphicon-menu-right"></span>
        </td>
        <td>
          <a class=" colorA6510C" routerLink='/addfunction'>Add</a>
        </td>

      </table>
    </div>-->
    <mat-toolbar color="primary"> Function </mat-toolbar>
    <mat-card>
      <form [formGroup]="addfrm" (ngSubmit)="onSubmit()">

        <mat-form-field class="example-full-width">
          <mat-icon matSuffix>perm_identity</mat-icon>
          <input matInput #message placeholder="Enter Function Name" formControlName="functionName" required/>
          <mat-hint align="end">{{message.value.length}} / 50</mat-hint>
        </mat-form-field>


        <div class="button-row">
          <div class="upload-btn-wrapper">
            <button mat-raised-button color="primary" class="eta-float-right"> Select Your Profile Image
              <mat-icon aria-label="Example icon-button with a heart icon">attachment</mat-icon>
            </button>
            <input type="file" name="img" (change)="selectFile($event)" accept=".png" placeholder="Upload Image" required/>
          </div>
        </div>


        <mat-form-field class="example-full-width">
          <textarea matInput matTextareaAutosize="true" formControlName="functioinDes" placeholder="Enter Description"></textarea>
        </mat-form-field>


        <mat-form-field class="example-full-width">
          <mat-icon matSuffix>perm_identity</mat-icon>
          <input matInput #message placeholder="Search" formControlName="search" />
          <mat-hint align="end">{{message.value.length}} / 50</mat-hint>
        </mat-form-field>

        <div class="button-row">
          <button type="submit" mat-raised-button color="primary">Add</button>
          <button class="eta-margin-all" type="button" (click)="cancel()" mat-raised-button color="primary">cancel</button>
          <button type="button" (click)="translationColumns()" mat-raised-button color="primary" data-toggle="modal" data-target="#myModal">Add Translation</button>
        </div>

      </form>
    </mat-card>
  </div>
  <div *ngIf="gridFunctionColumns!=null" class="col-sm-6 table-padding">
    <mat-toolbar color="primary">
        <span [matBadge]=recordsTotal matBadgeOverlap="false" matBadgeColor="accent" >List of Functions</span>
     <!--  List of Functions ({{recordsTotal}}) --></mat-toolbar>
    <mat-card>
      <mat-data-table [myDataUrl]=functionUrl [defaultSortColumn]=defaultColumnToSort></mat-data-table>
    </mat-card>
    <!-- <app-dynamic-datatable [myurl]=functionUrl [mycoloums]=gridFunctionColumns [mySubmitUrl]=functionSubmitUrl></app-dynamic-datatable> -->
  </div>
</div>

<div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content" id="popup">
        <div class="modal-header">
          <!-- cross close button -->
          <button type="button" (click)="closePopUp()" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div *ngIf="isDataLoaded">
          <!-- <app-translation-grid  [myurl]="functionTransUrl" [key]="key"> </app-translation-grid> -->
          <app-dynamic-datatable (translationEditObj)="getTranslationEditObject($event)" [myurl]=functionTransUrl [mycoloums]=gridTranslationColumns></app-dynamic-datatable>
        </div>
        <!-- close button    -->
        <div class="modal-footer">
          <button type="button" (click)="closePopUp()" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
