input.ng-invalid {border-left: 5px solid red;}
 input.ng-valid {border-left: 5px solid green;}
 input.ng-untouched { border-left: 5px solid green;}
 .eta-margin-all{
    margin: 10px;
  }
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }