.view-height{
    height: auto;
    max-height: 90vh;
    overflow-y: auto;
    padding: 0; margin: 0;
}

.add-from-width{
    max-width: 350px;
    display: block;
    position: relative;
    float: left;
    padding: 10px;
}
.popup-close{
    position: relative;
    top: 5px;
    right: 10px;
    float: right;
    cursor: pointer;

}

.example-full-width {
    width: 100%;
    margin: .5em 0;
  }

.side-block-border{
    border-left: 1px solid #BDBDBD;
}


.flex-display{
    display: flex;
    width: 100%;
}

.bc{
    background-color: #bdbdbd;
    padding: 10px;
}
.mat-chip{
    display: flex;
    justify-content: space-between;
  }
  .mat-chip-delete-button{
    float: right;
  }

 
  