

<div class="loading-indicator" *ngIf="isSpinnerShow==true">
  <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
</div>


<div class="view-height">
  <div class="top-header" style="display: block">
    <h3>{{popupData.action}} Task in {{taskFlowName}} </h3>
    <button class="popup-close" type="button" aria-label="Toggle sidenav" mat-icon-button [mat-dialog-close]=responseMsg>
      <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
    </button>


  </div>

  <form [formGroup]="taskfrm" (ngSubmit)="onSubmit(taskfrm.value)">
    <div class="flex-display">


      <div class="add-from-width">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Previous Task</mat-label>
          <mat-select placeholder="Previous Task" formControlName="previousTask">
            <mat-option *ngFor="let pTask of allTask" [value]="pTask.taskID">
              {{pTask.taskName}}
            </mat-option>
          </mat-select>
          <mat-hint>Select Previous Task(s)</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Task Name</mat-label>
          <input #taskName maxlength="64" matInput placeholder="Task Name" formControlName="taskName">
          <mat-icon matSuffix>search</mat-icon>
          <mat-hint>{{64 - taskName.value.length}} characters remainings.</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Category</mat-label>
          <mat-select placeholder="Category" formControlName="category" (selectionChange)="categoryChange($event.value,0)">
            <mat-option *ngFor="let cat of category" [value]="cat.taskTypeID">
              {{cat.taskTypeName}}
            </mat-option>
          </mat-select>
          <mat-hint>Select Category</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Task Type</mat-label>
          <mat-select placeholder="Task Type" (selectionChange)="taskTypeFx($event.value)" formControlName="taskType">
            <mat-option *ngFor="let subTask of subTaskType" [value]="subTask.subTaskTypeId">
              {{subTask.subTaskTypeName}}
            </mat-option>
          </mat-select>
          <mat-hint>Select Task Type</mat-hint>
        </mat-form-field>

        <!-- <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Container</mat-label>
          <mat-select placeholder="Container" formControlName="container">
            <mat-option *ngFor="let dc of dataContainer" [value]="dc.dataContainerID">
              {{dc.dataContainerName}}
            </mat-option>
          </mat-select>
          <mat-hint>Select Container. Add new if required.</mat-hint>
        </mat-form-field> -->

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Discription</mat-label>
          <textarea matInput #taskDes maxlength="256" formControlName="taskDes"></textarea>
          <mat-hint>{{256 - taskDes.value.length}} characters remainings.</mat-hint>
        </mat-form-field>

        <mat-form-field *ngIf="categoryValue ==1 " appearance="outline" class="example-full-width">
          <mat-label>Privilege</mat-label>
          <input matInput #FDE placeholder="Privilege" formControlName="privilege">
          <mat-icon matSuffix>search</mat-icon>
          <mat-hint>Auto generated. Editable only when Human Category is selectd</mat-hint>
        </mat-form-field>




      </div>
      <!-- Humans Task  -->
      <!-- Fill Application Start -->

      <!-- Fill Application END-->
      <div *ngIf="taskTypeId==1 || taskTypeId==3" class="add-from-width side-block-border">

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Form</mat-label>
          <mat-select placeholder=" Form" formControlName="form">
            <mat-option *ngFor="let form of allForm" [value]="form.formID">
              {{form.formName}}
            </mat-option>
          </mat-select>
          <mat-hint>Select Select Form.</mat-hint>
        </mat-form-field>

      </div>

      <!-- Human Task END -->

      <!-- Derivation Task Type Start -->
      <div *ngIf="taskTypeId==10" class="add-from-width side-block-border" formArrayName="darivationTaskList">

        <div *ngFor="let itemrow of taskfrm.controls.darivationTaskList.controls; let i=index"  [formGroupName]="i">

          <!--  -->
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Openrand *</mat-label>
            <mat-select placeholder="Container"  formControlName="dataElementOneID">
              <mat-option *ngFor="let dc of dataContainer" [value]="dc.dataContainerID">
                {{dc.dataContainerName}}
              </mat-option>
            </mat-select>
            <mat-hint>Select Openrand. </mat-hint>
          </mat-form-field>
          <!--  -->

          <!--  -->
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Operator *</mat-label>
            <mat-select placeholder="Container" formControlName="derivationOperatorID">
              <ng-container *ngFor="let relationaOpt of relationalOpraters">
                <mat-option *ngIf="relationaOpt.operatorsType==='arithmetic'" [value]="relationaOpt.id">
                  {{relationaOpt.operator}}
                </mat-option>
              </ng-container>
            </mat-select>
            <mat-hint>Select Operator.</mat-hint>
          </mat-form-field>
          <!--  -->

          <!--  -->
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Openrand *</mat-label>
            <mat-select placeholder="Container" formControlName="dataElementTwoID">
              <mat-option *ngFor="let dc of dataContainer" [value]="dc.dataContainerID">
                {{dc.dataContainerName}}
              </mat-option>
            </mat-select>
            <mat-hint>Select Openrand. </mat-hint>
          </mat-form-field>
          <!--  -->

          <!--  -->
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Openrand *</mat-label>
            <mat-select placeholder="Container" #message[i] formControlName="derivationDataElementID">
              <mat-option *ngFor="let dc of dataContainer" [value]="dc.dataContainerID">
                {{dc.dataContainerName}}
              </mat-option>
            </mat-select>
            <mat-hint>Select Container. Add new if required.</mat-hint>
          </mat-form-field>
          <!--  -->
         
        </div>
        <!-- Repeating Button Start -->
        <div class="button-row" *ngIf="taskTypeId==10 && taskTypeId!=null">
            <mat-checkbox></mat-checkbox>
          <button type="button" mat-icon-button color="primary" (click)="addNewDerivation()">

            <mat-icon>add_box</mat-icon>
          </button>
        </div>
        <h2 class="bc" *ngIf="taskTypeId==10"> # Derivations</h2>
       
        <!-- Repeating Button Start -->
      </div>
      <!-- Repeating block close -->

      <!-- Derivation Task Type END -->
    </div>


    <div class="flex-display">
      <div class="button-row flex-btn">
        <button type="submit" mat-raised-button color="primary">SUBMIT</button>
        <button class="eta-margin-all" type="button" [mat-dialog-close]=responseMsg mat-raised-button color="primary">CANCEL</button>
      </div>
    </div>
  </form>
</div>
