<!-- Breadcrumb start-->
<mat-toolbar class="breadcrumb">
  <svg-icon src="assets/svg-icons/home.svg"></svg-icon>
  <svg-icon src="assets/svg-icons/arrow_forward.svg"></svg-icon>
  <span>
    <a href="#" routerLink='/#5'>{{mainbreadcrumb}}</a>
  </span>
  <svg-icon src="assets/svg-icons/arrow_forward.svg"></svg-icon>
  <span>
    <a routerLink='/eta-web/formdashboard'>{{breadcrumb}}</a>
  </span>
  <svg-icon src="assets/svg-icons/arrow_forward.svg"></svg-icon>
  <span>
    <a routerLink='/editForm'>Change</a>
  </span>
</mat-toolbar>



<h3 class="target-area-title">Change {{ formName }} in {{ processAcronym }}</h3>

<mat-card class="content-card">
  <!-- form starts -->
  <form [formGroup]="editForm" autocomplete="off">
    <input type="hidden" name="processId" [value]="processId" formControlName="processId">
    <input type="hidden" name="formId" [value]="formId" formControlName="formId">
    <div class="top-container">
      <div class="custom-control-row">
        <div class="custom-field custom-field-fw">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput #nameInput placeholder="Name" formControlName='formName' maxlength="64" required (keyup)="checkFormName($event.target.value); enableSubmitButtonForEdit()">
            <mat-hint>{{64 - nameInput.value.length }} characters remaining.</mat-hint>
            <mat-error *ngIf="editForm.controls['formName'].errors?.required">Name is required</mat-error>
            <mat-error *ngIf="editForm.controls['formName'].errors?.pattern">Name should be alphanumeric</mat-error>
            <mat-error *ngIf="editForm.controls['formName'].invalid  && invalidFormName &&  editForm.controls['formName'].value.length>0">Form Name already exist</mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- resuable button -->
      <mat-slide-toggle class="toggle-button eta-bottom-margin" (change)="createDefaultFieldsOnReusableChange(); enableSubmitButtonForEdit()"
        [ngModelOptions]="{standalone: true}" [(ngModel)]='reusable' formControlName="reusable">Reusable</mat-slide-toggle>

      <!-- checkbox, add button and delete button -->
      <div class='table-modification-button-container'>
        <div class="inner-center-division">
          <button *ngIf="!((editForm.controls['reusable'].value && editForm.value.form_group.length > 1 && selection.selected.length) || 
                    (!this.editForm.controls['reusable'].value && editForm.value.form_group.length > 3 && selection.selected.length))"
            type="button" (click)="addFormField(null, null, '', null, true, null, '', null, '', null); scrollToTarget(scrollTarget)" class="modification-buttons button-without-background vertical-align-middle">
            <svg-icon class="unit-control-icon no-padding-svg" src="assets/svg-icons/add_box.svg"></svg-icon>
          </button>
          <button *ngIf="(editForm.controls['reusable'].value && editForm.value.form_group.length > 1 && selection.selected.length) || 
                        (!this.editForm.controls['reusable'].value && editForm.value.form_group.length > 3 && selection.selected.length)"
            type="button" (click)="deleteFormField()" class="modification-buttons button-without-background vertical-align-middle">
            <svg-icon class="unit-control-icon no-padding-svg" src="assets/svg-icons/delete.svg"></svg-icon>
          </button>
        </div>
      </div>
    </div>


    <div formArrayName="form_group">
      <div class="custom-table">
        <div class="custom-table-header">
          <div class="custom-table-cell eta-table-constant-width-column-first text-align-center">
            <mat-checkbox [ngModelOptions]="{standalone: true}" class="custom-checkbox-without-margin margin-auto" (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()">
            </mat-checkbox>
          </div>
          <div class="index-field custom-table-cell eta-table-constant-width-column-other body-text1">
            <span></span>#</div>
          <div class="name-field custom-table-cell body-text1">Field*</div>
          <div class="field-type custom-table-cell body-text1">Type*</div>
          <div class="mandatory-checkbox custom-table-cell eta-table-constant-width-column-first body-text1 text-align-center">*?</div>
          <div class="store-field custom-table-cell body-text1">Store</div>
          <div class="default-field custom-table-cell body-text1">Default</div>
          <div class="reference-field custom-table-cell body-text1">Reference</div>
          <div class="help-text-field custom-table-cell body-text1">Help Text*</div>
          <div class="validation-field custom-table-cell body-text1">Validation(s)</div>

        </div>
        <div class="table-rows-division" #tableScrollableContent id="customScrollBarContainer">
        <div class="custom-table-row custom-control-row" *ngFor="let item of formGroup.controls; let index=index" [formGroupName]="index">
          <!-- check box field -->
          <div class="checkbox custom-table-cell eta-table-constant-width-column-first">
            <div class="control-button-container">
              <mat-checkbox [disableControl]="!reusable && (editForm.value.form_group[index].name.toLowerCase() == 'Submit'  || editForm.value.form_group[index].name.toLowerCase() == 'Cancel')"
                class="custom-checkbox-without-margin margin-auto" (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(this.editForm.controls['form_group'].controls[index]) : null"
                [checked]="selection.isSelected(this.editForm.controls['form_group'].controls[index])" formControlName='filedCheckStatus'>
              </mat-checkbox>

            </div>
          </div>
          <!-- index field -->
          <div class="index-field custom-table-cell eta-table-constant-width-column-other">
            <div class="control-button-container">{{index + 1}}</div>
            <input hidden [value]="index + 1" formControlName="index">
          </div>

          <!-- name field -->
          <div class="name-field custom-table-cell">
            <div class="custom-field">
              <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input #nameField matInput placeholder="Name" formControlName='name' required maxlength="32" (keyup)="checkDuplicacy($event, index); enableSubmitButtonForEdit()"
                  [readonly]="editForm.value.form_group[index].name.toLowerCase() == 'submit' || editForm.value.form_group[index].name.toLowerCase() == 'cancel'">
                <mat-hint>{{32 - nameField.value.length}} characters</mat-hint>
                <!-- show error according validations(this is for required validatin) -->
                <mat-error *ngIf="this.editForm.controls['form_group'].controls[index].get('name').invalid && this.editForm.controls['form_group'].controls[index].get('name').errors.required">Please Enter value</mat-error>
                <mat-error *ngIf="editForm.controls['form_group'].controls[index].get('name').errors?.duplicateName">Duplicate Name.</mat-error>
                <mat-error *ngIf="editForm.controls['form_group'].controls[index].get('name').errors?.pattern">Please Enter correct value</mat-error>
                <div [style.visibility]="(duplicateField == index + 1) ? 'visible' : 'hidden' " class="{{index +1}}">
                  <mat-error>Form Field Name already exist.</mat-error>
                </div>

              </mat-form-field>
            </div>
          </div>

          <!-- field type -->
          <div class="field-type custom-table-cell">
            <div class="custom-select custom-field no-right-padding">
              <mat-form-field appearance="outline">
                <mat-label>Type</mat-label>
                <mat-select placeholder="Type *" formControlName='typeId' required (selectionChange)="enableSubmitButtonForEdit(); selectInputType(editForm.value.form_group[index].typeId)"
                  [disableControl]="editForm.value.form_group[index].name.toLowerCase() == 'submit' || editForm.value.form_group[index].name.toLowerCase() == 'cancel'"
                  disableOptionCentering panelClass="custom-select-panel">
                  <mat-option *ngFor="let formElement of formElementList" [value]="formElement.typeId">
                    {{formElement.name}}
                  </mat-option>
                </mat-select>
                <!-- show error according validations(this is for required validation) -->
                <mat-error *ngIf="this.editForm.controls['form_group'].controls[index].get('typeId').invalid && this.editForm.controls['form_group'].controls[index].get('typeId').errors.required">required</mat-error>
                <mat-hint>Select Field Type.</mat-hint>
              </mat-form-field>
            </div>
          </div>

          <!-- mandatory's checkbox -->
          <div class="mandatory-checkbox custom-table-cell eta-table-constant-width-column-first">
            <div class="control-button-container">
              <mat-checkbox class="custom-checkbox-without-margin margin-auto" formControlName='mandatory'
              (change)="enableSubmitButtonForEdit()"></mat-checkbox>

            </div>
          </div>

          <!-- store field -->
          <div class="store-field custom-table-cell">
            <div class="custom-select custom-field no-right-padding">
              <mat-form-field appearance="outline">
                <mat-label>Store</mat-label>
                <mat-select placeholder="Store *" formControlName='dataElementStore' required (selectionChange)="enableSubmitButtonForEdit();"
                  [disableControl]="editForm.value.form_group[index].name.toLowerCase() == 'submit' 
                  || editForm.value.form_group[index].name.toLowerCase() == 'cancel'
                  || editForm.value.form_group[index].typeId == 13
                   || editForm.value.form_group[index].typeId == 14"
                  disableOptionCentering panelClass="custom-select-panel">
                  <mat-option *ngFor="let Element of dataList" [value]="Element.elementName">
                    {{Element.elementName}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="this.editForm.controls['form_group'].controls[index].get('dataElementStore').errors?.required">Store Required</mat-error>
                <mat-hint>Select or Add New</mat-hint>
              </mat-form-field>
            </div>
          </div>
          <!--<div class="store-field custom-table-cell">
                <div class="custom-field no-left-padding">
                    <mat-form-field appearance="outline" >
                      <mat-label>Store</mat-label>
                      <input matInput
                              [typeaheadAsync]="true"
                              [typeahead]="dataElementDatasource"
                              (typeaheadLoading)="changeTypeaheadLoadingDataElement($event)"
                              (typeaheadOnSelect)="typeaheadOnSelectForm($event)"
                              [typeaheadOptionsLimit]="100"
                              [typeaheadMinLength]="0"
                              (keyup)="enableSubmitButtonForEdit()"
                              typeaheadOptionField="elementName" 
                              placeholder="Store" maxlength="24" formControlName="dataElementStore" [ngModelOptions]="{standalone: true}"
                              [disableControl]="editForm.value.form_group[index].name == 'Submit'  || 
                              editForm.value.form_group[index].name == 'Cancel' || disableStoreForForm" >
                      <svg-icon matSuffix src="assets/svg-icons/search.svg"></svg-icon>
                      <mat-hint>Select or Add New</mat-hint>
                    </mat-form-field>
                  </div>
              </div>-->

          <!-- default field -->
          <div class="default-field custom-table-cell">
            <div class="custom-field">
              <mat-form-field appearance="outline">
                <mat-label>Default</mat-label>
                <input #nameField matInput placeholder="Default" formControlName='defaultValue' maxlength="32" [disableControl]="editForm.value.form_group[index].name == 'Submit'  || 
                              editForm.value.form_group[index].name == 'Cancel'">
                <mat-hint>{{32 - nameField.value.length}} characters</mat-hint>
              </mat-form-field>
            </div>
          </div>
          <!--<div class="default-field custom-table-cell">
                  <div class="custom-field" >
                    <mat-form-field appearance="outline">
                      <mat-label>Default</mat-label>
                      <input matInput
                            [typeaheadAsync]="true"
                            [typeahead]="dataElementDatasource"
                            (typeaheadLoading)="changeTypeaheadLoadingDataElementDefaultValue($event)"
                            (typeaheadOnSelect)="typeaheadOnSelectFormDefaultValue($event)"
                            [typeaheadOptionsLimit]="100"
                            [typeaheadMinLength]="0"
                            (keyup)="enableSubmitButtonForEdit()"
                            typeaheadOptionField="elementName" 
                            placeholder="Default" maxlength="24" formControlName="defaultValue" [ngModelOptions]="{standalone: true}"
                            >
                            <svg-icon matSuffix src="assets/svg-icons/search.svg"></svg-icon>
                      <mat-hint>Select or Input</mat-hint>            
                    </mat-form-field>
                  </div>
              </div>-->

          <!-- reference field -->
          <div class="reference-field custom-table-cell">
            <div class="custom-select custom-field">

              <!--  <mat-form-field appearance="outline">
                        <mat-label>Reference</mat-label>
                        <mat-select placeholder="Reference" formControlName='reference' (selectionChange)="enableSubmitButtonForEdit(); referenceSelectedForInput()"  disableOptionCentering panelClass="custom-select-panel" 
                         [disableControl]="editForm.value.form_group[index].name.toLowerCase() == 'submit' || editForm.value.form_group[index].name.toLowerCase() == 'cancel' || disableReference">
                          <mat-option *ngFor="let reference of refList" [value]="reference.refId">
                                {{reference.refName}}
                          </mat-option>
                        </mat-select>                      
                        <mat-hint>Select Reference.</mat-hint>
                      </mat-form-field> -->
              <mat-form-field appearance="outline">
                <mat-label>Reference</mat-label>
                <mat-select placeholder="Reference" formControlName='reference'  (selectionChange)="enableSubmitButtonForEdit(); referenceSelectedForInput()"
                  disableOptionCentering panelClass="custom-select-panel" [disableControl]="
                         editForm.value.form_group[index].name.toLowerCase() == 'submit' 
                         || editForm.value.form_group[index].name.toLowerCase() == 'cancel'
                         || editForm.value.form_group[index].typeId == 1 
                          || editForm.value.form_group[index].typeId == 2
                          || editForm.value.form_group[index].typeId == 3
                          || editForm.value.form_group[index].typeId == 8
                          || editForm.value.form_group[index].typeId == 9
                          || editForm.value.form_group[index].typeId == 10
                          || editForm.value.form_group[index].typeId == 13
                          || editForm.value.form_group[index].typeId == 14
                          || editForm.value.form_group[index].typeId == 15
                          || editForm.value.form_group[index].typeId == 12
                          || editForm.value.form_group[index].typeId == 11 
                          || editForm.value.form_group[index].typeId == null 
                          || editForm.value.form_group[index].typeId == undefined 
                          || editForm.value.form_group[index].typeId == ''">
                  <mat-option *ngFor="let reference of refList" [value]="reference.refId">
                    {{reference.refName}}
                  </mat-option>
                </mat-select>
                <mat-hint>Select Reference.</mat-hint>
              </mat-form-field>
            </div>
          </div>

          <!-- help text -->
          <div class="help-text-field custom-table-cell">
            <div class="custom-field">
              <mat-form-field appearance="outline">
                <mat-label>Help</mat-label>
                <input #helpText matInput placeholder="Help" formControlName='helpText' (keyup)="enableSubmitButtonForEdit()" 
                [disableControl]="editForm.value.form_group[index].name.toLowerCase() == 'submit' ||
                   editForm.value.form_group[index].name.toLowerCase() == 'cancel'
                   || editForm.value.form_group[index].typeId == 1
                   || editForm.value.form_group[index].typeId == null 
                     || editForm.value.form_group[index].typeId == undefined 
                     || editForm.value.form_group[index].typeId == ''"
                   maxlength="32">
                <mat-hint>{{32 - helpText.value.length}} characters</mat-hint>
                <!-- show error according validations(this is for required validatin) -->
                <mat-error *ngIf="this.editForm.controls['form_group'].controls[index].get('helpText').invalid && this.editForm.controls['form_group'].controls[index].get('helpText').errors.required">required</mat-error>

              </mat-form-field>
            </div>
          </div>

          <!-- validation field -->
          <div class="validation-field custom-table-cell">
            <div class="custom-select custom-field no-right-padding">
              <mat-form-field appearance="outline">
                <mat-label>Validation*</mat-label>
                <mat-select placeholder="Validation"  formControlName='validationId' (selectionChange)="enableSubmitButtonForEdit()" disableOptionCentering
                  panelClass="custom-select-panel" 
                  [disableControl]="editForm.value.form_group[index].name.toLowerCase() == 'submit' 
                  || editForm.value.form_group[index].name.toLowerCase() == 'cancel'">
                  <!--   <mat-option>-none-</mat-option> -->
                  <mat-option *ngFor="let validation of validationList" [value]="validation.id">
                    {{validation.desc}}
                  </mat-option>
                </mat-select>
                <mat-hint>Select Reference.</mat-hint>
              </mat-form-field>
            </div>
          </div>
        </div>
</div>
      </div>
    </div>
    <div *ngIf="isLoadingResults" class="loading-spinner-div">
        <mat-spinner></mat-spinner>
      </div>
<div #scrollTarget></div>
    <mat-toolbar class="form-button-toolbar">
      <!-- <button type="button" class="button submit-button"  [disabled]="(editForm.invalid || editChangeStatus) && disableSubmitButtonForReference" (click)="changeForm()">Update</button> -->
      <button type="button" class="button submit-button" [disabled]="editForm.invalid || editChangeStatus" (click)="changeForm()">Update</button>
      <button type="button" class="button" (click)="openFormList()">Cancel</button>
      <span class="example-spacer"></span>
      <button type="button" (click)="openDialog()" class="button">Preview</button>
    </mat-toolbar>
  </form>


</mat-card>


<!--   {{this.editForm.value | json}}  -->