<div *ngIf="languageData!=null" class="table-responsive  table-padding">
  <table datatable [dtOptions]="dtOptions" id="datatabledcsdf" class="awidth row-border hover display table table-bordered striped">
    <thead>
      <tr class="gridheader">
        <th class="icon-margin">{{gridName}}</th>
        <th *ngFor="let key of tdheader">{{key.spdlanguage.language}}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let gefield of gefields">
        <tr *ngIf="gefield.id== myroleId && gefield.languageId==gefieldsName[0].languageId">
          <td class="tab tab-font-size font-weight">
            <span class="overflowTest ">{{gefield.name}} </span>
          </td>
          <td id="thHeader" *ngFor="let thd of tdheader" class="tab-font-size font-weight harkesh">
            <span id="roleLanguage" class="glyphicon glyphicon-pencil pull-right" (click)="makeCellEdit($event)"></span>
            <ng-container id="ngContainer" *ngFor="let role of gefields">
              <span id="1" *ngIf = "thd.languageId === role.languageId; else content" class="overflowTest " (focusout)="saveDetails($event, role, thd.languageId)">
                {{role.translation}}
              </span>
            <ng-template #content><span *ngIf=" gefields?.length ==0 || tdheader?.length != gefields?.length" id ="2" (focusout)="saveDetails($event, role, thd.languageId)"> </span></ng-template>
          </ng-container>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>