<mat-card class="content-card">
  <div class="inner-flex-container">
    <div *ngIf="showSuccess" class="success">
      <!-- <i class="material-icons check-box-icon unit-control-icon icon-without-padding">check_box</i> -->
      <p>Org detail added successfully.</p>
      <!--  and placed it at the end of the display order. Drag it up to reorder.  -->

      <button class="remove-alert-button button-without-background " (click)="removeSuccess()">
        <i class="material-icons unit-control-icon icon-without-padding cancel-icon">cancel </i>
      </button>

    </div>
  </div>
  <!-- <button class="button " (click)="getId(371)"> Edit
  </button> -->
  <form [formGroup]="form" #formDirective="ngForm">

    <!-- input field  -->
    <!-- <div class="custom-control-row">
    <div class="custom-field custom-field-fw">
        <mat-form-field appearance="outline" >
          <mat-label></mat-label>
          <input id="input-field-" matInput placeholder="" formControlName="name"  required>
          <mat-hint></mat-hint>
          <svg-icon matSuffix src="assets/svg-icons/search.svg"></svg-icon>
         <mat-error *ngIf="form.controls['name'].errors?.required">Required</mat-error>
        </mat-form-field>
      </div>
    </div> -->

    <!-- select field  -->
    <!-- <div class="custom-control-row">
      <div class="custom-field custom-select custom-field-fw">
          <mat-form-field appearance="outline" >
            <mat-label></mat-label>
            <mat-select id="select-field-" placeholder="" formControlName="select"
            disableOptionCentering panelClass="custom-select-panel">
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          </mat-select>
            <mat-hint></mat-hint>
           <mat-error *ngIf="form.controls['name'].errors?.required">Required</mat-error>
          </mat-form-field>
        </div>
      </div> -->

    <!-- input field legal name -->
    <div class="custom-control-row">
      <div class="custom-field custom-field-fw">
        <mat-form-field appearance="outline">
          <mat-label>Legal Name</mat-label>
          <!-- <input id="input-field-" matInput placeholder="Legal Name" formControlName="orgName"  [attr.disabled]='notEditable' required> -->

          <input id="input-field-" type="text" matInput placeholder="Legal Name" formControlName="orgName" [attr.disabled]='notEditable' required
            [matAutocomplete]="autoGroup">
          <mat-autocomplete #autoGroup="matAutocomplete">
            <mat-optgroup *ngFor="let group of orgNameOptions | async">
              <mat-option *ngFor="let name of group.names" [value]="name">
                {{name}}
              </mat-option>
            </mat-optgroup>
          </mat-autocomplete>


          <mat-hint>Uneditable. Visit <a>FAQs</a> to find how to change legal name.</mat-hint>
          <mat-error *ngIf="form.controls['orgName'].errors?.required">Required</mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- input field acronym -->
    <div class="custom-control-row">
      <div class="custom-field custom-field-fw">
        <mat-form-field appearance="outline">
          <mat-label>Acronym</mat-label>
          <input id="input-field-" matInput #acronym placeholder="Acronym" formControlName="acronym" required>
          <mat-hint>{{3 - acronym.value.length}} characters remaining.</mat-hint>
          <svg-icon matSuffix src="assets/svg-icons/search.svg"></svg-icon>
          <mat-error *ngIf="form.controls['acronym'].errors?.required">Required</mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- select field industry -->
    <div class="custom-control-row">
      <div class="custom-field custom-select custom-field-fw">
        <mat-form-field appearance="outline">
          <mat-label>Industry</mat-label>
          <mat-select id="select-field-industry" placeholder="Industry" formControlName="orgTypeName" required
            disableOptionCentering panelClass="custom-select-panel">
            <mat-option value="1">Custom Computer Programming Services (NAICS - 541511)</mat-option>
            <mat-option value="2">2</mat-option>
          </mat-select>
          <mat-hint>Select most appropriate from the list.</mat-hint>
          <mat-error *ngIf="form.controls['orgTypeName'].errors?.required">Required</mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- input field domains  -->
    <div class="custom-control-row">
      <div class="custom-field custom-field-fw">
        <mat-form-field appearance="outline">
          <mat-label>Domains</mat-label>
          <input id="input-field-domains" matInput placeholder="Domains" formControlName="orgDomain" required>
          <mat-hint>Enter verifiable domains separated by commas(,). Exclude "www" before the domain name.</mat-hint>
          <mat-error *ngIf="form.controls['orgDomain'].errors?.required">Required</mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- label -->
    <div class="custom-control-row">
      <p class="label no-margin">Registered Address:</p>
      <p class="no-margin control-label-hint-text">Registered address of the Organization. </p>
    </div>

    <!-- input field line1 -->
    <div class="custom-control-row">
      <div class="custom-field custom-field-fw">
        <mat-form-field appearance="outline">
          <mat-label>Line 1</mat-label>
          <input id="input-field-line1" matInput placeholder="Line 1" formControlName="addressLine1" required>
          <mat-hint>Street Name/Building Name.</mat-hint>
          <mat-error *ngIf="form.controls['addressLine1'].errors?.required">Required</mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- input field line2 -->
    <div class="custom-control-row">
      <div class="custom-field custom-field-fw">
        <mat-form-field appearance="outline">
          <mat-label>Line 2</mat-label>
          <input id="input-field-line2" matInput placeholder="Line 2" formControlName="addressLine2" required>
          <mat-hint>Suite/ Apartment/ Office number.</mat-hint>
          <mat-error *ngIf="form.controls['addressLine2'].errors?.required">Required</mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- country, state, city, ZIP code fields row starts here-->

    <div class="custom-control-row">
      <div>
        <!--select field countery -->
        <div class="custom-field custom-select custom-field-m">
          <mat-form-field appearance="outline">
            <mat-label>Country</mat-label>
            <mat-select id="select-field-country" placeholder="Country" formControlName="country" required
              disableOptionCentering panelClass="custom-select-panel">
              <mat-option value="1">USA</mat-option>
              <mat-option value="2">2</mat-option>
            </mat-select>
            <mat-hint>Select Country</mat-hint>
            <mat-error *ngIf="form.controls['country'].errors?.required">Required</mat-error>
          </mat-form-field>
        </div>

        <!--select field state -->
        <div class="custom-field custom-select custom-field-m">
          <mat-form-field appearance="outline">
            <mat-label>State</mat-label>
            <mat-select id="select-field-country" placeholder="State" formControlName="state" required
              disableOptionCentering panelClass="custom-select-panel">
              <mat-option value="1">Wyoming</mat-option>
              <mat-option value="2">2</mat-option>
            </mat-select>
            <mat-hint>Select State.</mat-hint>
            <mat-error *ngIf="form.controls['state'].errors?.required">Required</mat-error>
          </mat-form-field>
        </div>

        <!-- input field city -->
        <div class="custom-field custom-field-m">
          <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input id="input-field-city" matInput placeholder="City" formControlName="city" required>
            <mat-hint>Enter City.</mat-hint>
            <svg-icon matSuffix src="assets/svg-icons/search.svg"></svg-icon>
            <mat-error *ngIf="form.controls['city'].errors?.required">Required</mat-error>
          </mat-form-field>
        </div>

        <!-- input field zip/postal code -->
        <div class="custom-field custom-field-m">
          <mat-form-field appearance="outline">
            <mat-label>ZIP/Postal code</mat-label>
            <input id="input-field-zipCode" matInput placeholder="ZIP/Postal code" formControlName="zipCode" required>
            <mat-hint>Enter ZIP/Postal code.</mat-hint>
            <svg-icon matSuffix src="assets/svg-icons/search.svg"></svg-icon>
            <mat-error *ngIf="form.controls['zipCode'].errors?.required">Required</mat-error>
          </mat-form-field>
        </div>

      </div>
    </div>
    <!-- country, state, city, ZIP code fields row ends here-->

    <!-- label - owner -->
    <div class="custom-control-row">
      <p class="label no-margin">Owner:</p>
      <p class="no-margin control-label-hint-text">Details of person designated as the Owner of this system. </p>
    </div>

    <!-- owner full name fields (salutation, first name, middle name, last name, suffix) row starts  -->
    <div class="custom-control-row">
      <div>
        <!--select field salutation -->
        <div class="custom-field custom-select custom-field-xs">
          <mat-form-field appearance="outline">
            <mat-label>Salutation</mat-label>
            <mat-select id="select-field-salutation" placeholder="Salutation" formControlName="salutation" required
              disableOptionCentering panelClass="custom-select-panel">
              <mat-option value="1">Mr.</mat-option>
              <mat-option value="2">Dr.</mat-option>
            </mat-select>
            <mat-hint>Select Salutation.</mat-hint>
            <mat-error *ngIf="form.controls['salutation'].errors?.required">Required</mat-error>
          </mat-form-field>
        </div>

        <!-- input field firstName -->
        <div class="custom-field custom-field-m">
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input id="input-field-firstName" matInput placeholder="First Name" formControlName="firstName" required>
            <mat-hint>First Name.</mat-hint>
            <mat-error *ngIf="form.controls['firstName'].errors?.required">Required</mat-error>
          </mat-form-field>
        </div>

        <!-- input field middleName -->
        <div class="custom-field custom-field-m">
          <mat-form-field appearance="outline">
            <mat-label>Middle Name</mat-label>
            <input id="input-field-middleName" matInput placeholder="Middle Name" formControlName="middleName">
            <mat-hint>Middle Name.</mat-hint>
          </mat-form-field>
        </div>

        <!-- input field last name -->
        <div class="custom-field custom-field-m">
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input id="input-field-lastName" matInput placeholder="Last Name" formControlName="lastName" required>
            <mat-hint>Last Name.</mat-hint>
            <mat-error *ngIf="form.controls['lastName'].errors?.required">Required</mat-error>
          </mat-form-field>
        </div>

        <!--select field suffix -->
        <div class="custom-field custom-select custom-field-xs">
          <mat-form-field appearance="outline">
            <mat-label>Suffix</mat-label>
            <mat-select id="select-field-suffix" placeholder="Suffix" formControlName="suffix" disableOptionCentering
              panelClass="custom-select-panel">
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
            </mat-select>
            <mat-hint>Select Suffix.</mat-hint>
          </mat-form-field>
        </div>

      </div>
    </div>
    <!-- owner full name fields (salutation, first name, middle name, last name, suffix) row ends here   -->

    <!-- input field position  -->
    <div class="custom-control-row">
      <div class="custom-field custom-field-fw">
        <mat-form-field appearance="outline">
          <mat-label>Position</mat-label>
          <input id="input-field-position" matInput placeholder="Position" formControlName="position" required>
          <mat-hint>Organizational position of the Owner.</mat-hint>
          <mat-error *ngIf="form.controls['position'].errors?.required">Required</mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- input field email  -->
    <div class="custom-control-row">
      <div class="custom-field custom-field-fw">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input id="input-field-email" matInput placeholder="Email" formControlName="emailaddress" required>
          <mat-hint>Organizational Email of the Owner.</mat-hint>
          <mat-error *ngIf="form.controls['emailaddress'].errors?.required">Required</mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- Contact numbers (mobile, work phone, work fax) row starts  -->
    <div class="custom-control-row">
      <div>

        <!-- input field mobile -->
        <div class="custom-field custom-field-l">
          <mat-form-field appearance="outline">
            <mat-label>Mobile</mat-label>
            <input id="input-field-mobile" matInput placeholder="Mobile" formControlName="phoneNumber" required>
            <mat-hint>For e.g., +1 (510) 258-9467.</mat-hint>
            <mat-error *ngIf="form.controls['phoneNumber'].errors?.required">Required</mat-error>
          </mat-form-field>
        </div>

        <!-- input field workPhone -->
        <div class="custom-field custom-field-l">
          <mat-form-field appearance="outline">
            <mat-label>Work Phone</mat-label>
            <input id="input-field-workPhone" matInput placeholder="Work Phone" formControlName="workPhone" required>
            <mat-hint>For e.g., +1 (510) 258-9467.</mat-hint>
            <mat-error *ngIf="form.controls['workPhone'].errors?.required">Required</mat-error>
          </mat-form-field>
        </div>

        <!-- input field workFax -->
        <div class="custom-field custom-field-l">
          <mat-form-field appearance="outline">
            <mat-label>Work Fax</mat-label>
            <input id="input-field-workFax" matInput placeholder="Work Fax" formControlName="faxNumber">
            <mat-hint>For e.g., +1 (510) 258-9467.</mat-hint>
            <mat-error *ngIf="form.controls['faxNumber'].errors?.required">Required</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <!-- Contact numbers (mobile, work phone, work fax) row ends here  -->

    <!-- label - mailing addresss -->

    <div class="custom-control-row">
      <p class="label no-margin">Mailing Address:</p>
      <p class="no-margin control-label-hint-text">Owner's Address for Correspondence. </p>
    </div>
    <div class="custom-control-row">
      <mat-checkbox class="custom-checkbox-without-margin body-text1" formControlName="sameAsRegisteredAddress"
        (change)="registeredAddress()">&nbsp;Same as Registered Address</mat-checkbox>
    </div>
    <!-- mailing address div input field starts here -->
    <div class="mailing-address-div">
      <!-- input field line1 -->
      <div class="custom-control-row">
        <div class="custom-field custom-field-fw">
          <mat-form-field appearance="outline">
            <mat-label>Line 1</mat-label>
            <input id="input-field-line1" matInput placeholder="Line 1" formControlName="mailAddrLine1" required
              [attr.disabled]='disableSameAddress'>
            <mat-hint>Street Name/Building Name.</mat-hint>
            <mat-error *ngIf="form.controls['mailAddrLine1'].errors?.required">Required</mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- input field line2 -->
      <div class="custom-control-row">
        <div class="custom-field custom-field-fw">
          <mat-form-field appearance="outline">
            <mat-label>Line 2</mat-label>
            <input id="input-field-line2" matInput placeholder="Line 2" formControlName="mailAddrLine2"
              [attr.disabled]='disableSameAddress' required>
            <mat-hint>Suite/ Apartment/ Office number.</mat-hint>
            <mat-error *ngIf="form.controls['mailAddrLine2'].errors?.required">Required</mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- country, state, city, ZIP code fields row starts here-->

      <div class="custom-control-row">
        <div>
          <!--select field countery -->
          <div class="custom-field custom-select custom-field-m">
            <mat-form-field appearance="outline">
              <mat-label>Country</mat-label>
              <mat-select id="select-field-mailingAddressCountry" placeholder="Country"
                formControlName="mailingAddressCountry" [disabled]='disableSameAddress' required disableOptionCentering
                panelClass="custom-select-panel">
                <mat-option value="1">USA</mat-option>
                <mat-option value="2">2</mat-option>
              </mat-select>
              <mat-hint>Select Country</mat-hint>
              <mat-error *ngIf="form.controls['mailingAddressCountry'].errors?.required">Required</mat-error>
            </mat-form-field>
          </div>

          <!--select field state -->
          <div class="custom-field custom-select custom-field-m">
            <mat-form-field appearance="outline">
              <mat-label>State</mat-label>
              <mat-select id="select-field-mailingAddressState" placeholder="State"
                formControlName="mailingAddressState" [disabled]='disableSameAddress' required disableOptionCentering
                panelClass="custom-select-panel">
                <mat-option value="1">Wyoming</mat-option>
                <mat-option value="2">2</mat-option>
              </mat-select>
              <mat-hint>Select State.</mat-hint>
              <mat-error *ngIf="form.controls['mailingAddressState'].errors?.required">Required</mat-error>
            </mat-form-field>
          </div>

          <!-- input field city -->
          <div class="custom-field custom-field-m">
            <mat-form-field appearance="outline">
              <mat-label>City</mat-label>
              <input id="input-field-mailingAddressCity" matInput placeholder="City"
                formControlName="mailingAddressCity" [attr.disabled]='disableSameAddress' required>
              <mat-hint>Enter City.</mat-hint>
              <svg-icon matSuffix src="assets/svg-icons/search.svg"></svg-icon>
              <mat-error *ngIf="form.controls['mailingAddressCity'].errors?.required">Required</mat-error>
            </mat-form-field>
          </div>

          <!-- input field zip/postal code -->
          <div class="custom-field custom-field-m">
            <mat-form-field appearance="outline">
              <mat-label>ZIP/Postal code</mat-label>
              <input id="input-field-mailingAddressZipCode" matInput placeholder="ZIP/Postal code"
                formControlName="mailingAddressZipCode" [attr.disabled]='disableSameAddress' required>
              <mat-hint>Enter ZIP/Postal code.</mat-hint>
              <mat-error *ngIf="form.controls['mailingAddressZipCode'].errors?.required">Required</mat-error>
            </mat-form-field>
          </div>

        </div>
      </div>
      <!-- country, state, city, ZIP code fields row ends here-->
    </div>
    <!-- mailing address div input field ends here -->

    <div class="form-action-buttons">
      <button class="button no-margin button-margin-right" (click)='onSubmit(formDirective)' [disabled]="(form.invalid)"
        *ngIf='!notEditable'>Submit</button>
      <button class="button no-margin button-margin-right" (click)='onSubmit(formDirective)' [disabled]="(form.invalid)"
        *ngIf='notEditable'>Update</button>
      <button type="button" class="button no-margin" (click)='print()'>Cancel</button>
    </div>
  </form>
</mat-card>