<app-header></app-header>
<button class="visible-xs" data-toggle="collapse" data-target="#SearchParameters">Toggle it</button>

<div class="hidden-xs  SearchParameters" id="SearchParameters">
      <!-- nav -->
      <nav>
            <div class="container-fluid menu ">
                 
                  <ul class="nav navbar-nav nav1">
                        <li *ngFor="let menu of menuTypeList" class="dropdown">
                          <a class="dropdown-toggle" routerLink='/{{menu.routerLink}}' data-toggle="dropdown">
                            <!-- <span class="glyphicon glyphicon-object-align-vertical"></span>{{functionImage}} {{menu.translation}}
                            <span class="glyphicon glyphicon-triangle-bottom merg-lef span"></span> -->

                            
                            <span *ngIf="functionId == null && functionImage == null" class="glyphicon glyphicon-object-align-vertical"></span>
                            
                            <span *ngIf="functionId != null && functionImage != null" > <img src="{{imageToShow}}" class="functionImg" width="auto" height="100px">
                              
                         </span>
                            
                           <span> {{menu.translation}}</span>
                            <span class="glyphicon glyphicon-triangle-bottom merg-lef span"></span>
                          </a>
                          <ul *ngIf="menu.subMenu!=null" class="dropdown-menu">
                            <li *ngFor="let submenu of menu.subMenu">
                              <a href="#" routerLink='/{{submenu.routerLink}}' routerLinkActive="active">{{submenu.translation}}</a>
                            </li>
                          </ul>
                        </li>
                  </ul>
                  <!-- search -->
            <div class="mrgtop borderr pull-right">
                        <form class="form-inline">
                              <div class="form-group">
                                          <div class="form-group has-success has-feedback" style="padding: 0 10px;">
                                                <input type="text" class="form-control" id="inputSuccess2">
                                                <span class="glyphicon glyphicon-search form-control-feedback "></span>
                                          </div>
                              </div>
                              <div *ngIf="orgList!=null" class="form-group">
                                    <div class="form-group has-success has-feedback">
                                          <select class="form-control" name="org" (change)="orgIdSelected($event.target.value)">
                                                <option value="0" disabled selected>Select Organization</option>
                                          <option *ngFor="let master of orgList" value={{master.orgId}} > {{master.orgName}} </option>
                                          </select>                 
                                    </div>
                              </div>
                        </form>
                  </div>
            </div>
      </nav>
</div>