
<div *ngIf ="isDataLoad" class="table-responsive table-padding">
  <table style="display: none" datatable [dtOptions]="dtOptions" id="datatabledcsdf" class="awidth row-border hover display table table-bordered striped">
    <!-- <thead>
      <tr>
        <th *ngFor="let key of mycoloums" class="icon-margin" style="padding: 8px;">{{key.displayName}}</th>
      </tr>
    </thead> -->
    <!-- <tbody>
      <tr *ngFor="let gefield of gefields" class="overflowTest">
          <ng-container *ngIf="isCreateCheck==true" >
          <td> <input type="checkbox" (click)="editCheckBox($event, gefield)" class="form-check-input-size" ></td> 
          <td *ngFor="let k of mycoloums | slice:1"  class="tab-font-size font-weight">

            <div (click)="k.hyperlink && showUser($event, gefield, k)" data-toggle="modal" data-target="#Info" [class.pointer]="k.hyperlink">
              <span *ngIf="k.data!=null && k.data1==null && k.type != 'button' " (focusout)="saveDetails($event, gefield, k)">{{gefield[k.data]}}</span>
              <span *ngIf="k.data1!=null  && k.type != 'button'" (focusout)="saveDetails($event, gefield, k)">{{gefield[k.data][k.data1]}}</span>
              <span id="editPencil" *ngIf='k.edit == true' class='glyphicon glyphicon-pencil pull-right white' (click)="makeCellEdit($event)"></span>
              <button *ngIf="k.type == 'button'" (click)="buttonClick($event, gefield, k)"> {{k.displayName}} </button>
            </div>
          </td>
        </ng-container>
        <ng-container *ngIf="isCreateCheck==false">
            <td *ngFor="let k of mycoloums" class="tab-font-size font-weight">
  
              <div (click)="k.hyperlink && showUser($event, gefield, k)" data-toggle="modal" data-target="#Info" [class.pointer]="k.hyperlink">
                <span *ngIf="k.data!=null && k.data1==null &&  k.type != 'button'" (focusout)="saveDetails($event, gefield, k)">{{gefield[k.data]}}</span>
                <span *ngIf="k.data1!=null  && k.type != 'button'" (focusout)="saveDetails($event, gefield, k)">{{gefield[k.data][k.data1]}}</span>
                <span id="editPencil" *ngIf='k.edit == true' class='glyphicon glyphicon-pencil pull-right white' (click)="makeCellEdit($event)"></span>
                <button *ngIf="k.type == 'button'" (click)="buttonClick($event, gefield, k)">{{k.displayName}}</button>
              </div>
            </td>
          </ng-container>
      </tr>
    
    </tbody> -->
  </table>

  
   <!-- Mat Data Table Start -->

   <div class="data-model-table custom-common-expandable-table">   
      <div class="example-container mat-elevation-z8">
          <mat-table #table [dataSource]="dataSource" matSort id="mat-table">
              <ng-container *ngFor="let column of displayedColumns; let columnIndex = index" matColumnDef="{{column}}">
                  <mat-header-cell *matHeaderCellDef [class.eta-table-constant-width-column-first]="mycoloums[columnIndex].data=='check'" style="text-transform: capitalize">
                    {{column}}
                  </mat-header-cell>
                    <mat-cell  *matCellDef="let row" [class.eta-table-constant-width-column-first]="mycoloums[columnIndex].data=='check'">
                      <div (click)="mycoloums[columnIndex].hyperlink && showUser($event, row, mycoloums[columnIndex])"  [class.pointer]="mycoloums[columnIndex].hyperlink">
                          <span *ngIf="mycoloums[columnIndex].data=='check'"><mat-checkbox (click)="editCheckBox($event, gefield)" class="custom-checkbox"></mat-checkbox></span>
                          <span *ngIf="mycoloums[columnIndex].data!=null && mycoloums[columnIndex].data1==null &&  mycoloums[columnIndex].type != 'button'" (focusout)="saveDetails($event, row, mycoloums[columnIndex])">{{row[mycoloums[columnIndex].data]}}</span>
                          <span *ngIf="mycoloums[columnIndex].data1!=null &&  mycoloums[columnIndex].type != 'button'" (focusout)="saveDetails($event, row, mycoloums[columnIndex])">{{row[mycoloums[columnIndex].data][mycoloums[columnIndex].data1]}}</span>
                          <span id="editPencil" *ngIf='mycoloums[columnIndex].edit == true' class='glyphicon glyphicon-pencil pull-right white' (click)="makeCellEdit($event)"></span> 
                          <button *ngIf="mycoloums[columnIndex].type == 'button'" (click)="buttonClick($event, row, mycoloums[columnIndex])" class="button">{{mycoloums[columnIndex].displayName}}</button>
                        </div>
                      </mat-cell>
              </ng-container>
              
              <mat-header-row id="header-row" *matHeaderRowDef="displayedColumns | slice"></mat-header-row>
              <mat-row  *matRowDef="let row ; let rowIndex = index; columns: displayedColumns;" id="{{'table-row' + rowIndex}}"  class="element-row"  >   
              </mat-row>
          </mat-table> 
         
          <mat-toolbar>
                  <mat-toolbar-row>
                    <span class="example-spacer"></span>
                    <mat-paginator #paginator [length]="resultsLength" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20, 50]" [pageIndex]="0"></mat-paginator>
                  </mat-toolbar-row>
                </mat-toolbar>
      </div>  
  </div>  
</div>
<div *ngIf="showPopUp==true" class="container">
  <div class="modal fade" id="Info" role="dialog">
    <div class="modal-dialog">

      <div class="container">
        <div class="row pricing">
          <div class="col-md-3">
            <div class="well">
              <h3>
                <b>View Form</b>
              </h3>
              <p>Nitin</p>
              <p>Mark@greentechict.com</p>
              <hr>
              <h3>
                <b>Dev</b>
              </h3>
              <p>Dev</p>
              <p>skype</p>
              <hr>
              <hr>
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closePopUp()">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>

   


   