<div>
     <!-- Breadcrumb start-->
    <mat-toolbar>
        <mat-icon>home</mat-icon>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span>
          <a href="#" routerLink='/eta-web/organizationdashboard'>{{mainbreadcrumb}}</a>
        </span>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span>
          <a routerLink='/eta-web/orgpolicydashboard'>{{breadcrumb}}</a>
        </span>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span>
          <a routerLink='/privacypolicytranslation'> Privacy Policy Translation </a>
        </span>
    </mat-toolbar>
    <!-- Breadcrumb end-->

    <div *ngIf="functioncol!=null" class="col-sm-12 div-padding">
        <mat-card>
            <app-policy-dt-trans [myurl]="policyUrl" [mycoloums]="functioncol" ></app-policy-dt-trans>
        </mat-card>
    </div>
</div>