.top-container{
    background-color: lightgray;
    position: relative;
    border-bottom: solid 1px gray;
}
.top-container .target-area-title{
    margin: 0;
}
.top-container button:nth-of-type(1){
    margin-right: 15px;
}
.top-container .setting-button{
    position: absolute;
    top: 0;
    right: 10px;
    background: none;
    padding: 0;
    border: none;
}
.setting-button .material-icons{
    color: gray;
}
.delete-and-checkbox-icon-container{
    padding: 10px;
}
.delete-and-checkbox-icon-container .custom-checkbox, .delete-and-checkbox-icon-container .delete-icon{
    vertical-align: middle;
}
.search-icon{
    float: right;
}
/*css for data table starts*/
.master-data-table{
    position: relative;
}
.example-container {
    display: flex;
    flex-direction: column;
   
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
   
  }
  
  .element-row {
    position: relative;
  }
  
  .element-row:not(.expanded) {
    cursor: pointer;
  }
  
  .element-row:not(.expanded):hover {
    background: #f5f5f5;
  }
  
  .element-row.expanded {
    border-bottom-color: transparent;
  }
  .element-row.expanded .arrow {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari 3-8 */
    transform: rotate(180deg);
    transition: transform .2s linear;
  }
  .detail-row{
      padding-left: 70px;
  }
  .detail-row ul{
      margin: 0;
      padding: 0;
  }
  .detail-row ul li{
      list-style: none;
      padding: 5px 0;
      font-weight: 500;
  }
  .detail-row .container-detail{
      width: 290px;
  }
  .detail-row .container-detail .eye-icon{
    vertical-align: middle;
    font-size: 20px;
    padding: 0px 1px;
    border: solid 1px black;
    border-radius: 4px;
    margin-right: 10px;
  }
  /*css for data table ends*/
  .filter-icon, .arrow{
      position: absolute;
      right: 20px;
  }
  .filter-icon{
      font-size: 18px;
  }

  .green{
    color: green !important;
  }
  .red{
    color: red !important;
  }
  .amber {
    color: var(--secondary) !important;
  }
  .add-new-button{
      position: absolute;
      bottom: 0px;
      left: 10px;
  }
  