
<div class="main-container">

    <div class="top-container">
      <h3 class="target-area-title">Forms</h3>
      <button class="button no-uppercase" >Show Live</button>
      <button class="button no-uppercase">Show Test</button>
      <button class="setting-button">
          <i class="material-icons">settings</i>
        </button>
    </div>
    <div class="tab-group">
      <button class="button-as-tab" (click)='markActiveButton($event)'>All</button>
      <button class="button-as-tab active-button"  (click)='markActiveButton($event)'>Gfp</button>
      <button class="button-as-tab"  (click)='markActiveButton($event)'>Afp</button>
    </div>
    <div class="delete-and-checkbox-icon-container">
      <mat-checkbox class="custom-checkbox"></mat-checkbox>
      <i class="material-icons delete-icon">delete</i>
      <i class="material-icons search-icon">search</i>
    </div>
    <div class="data-model-table custom-common-expandable-table">
       
          
          <div class="example-container mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource" matSort>
          
              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
          
              <!-- checkbox Column -->
              <ng-container matColumnDef="checkbox">
                <mat-header-cell *matHeaderCellDef > </mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                  <mat-checkbox *ngIf="!(element.type == 'System')"  [disabled]="element.type == 'Reused'" class="custom-checkbox" (click)='stopPropagationFunction($event)'></mat-checkbox>
                </mat-cell>
                
              </ng-container>
          
              <!-- container Column -->
              <ng-container matColumnDef="form">
                <mat-header-cell *matHeaderCellDef > Form 
                    <i class="material-icons filter-icon" mat-sort-header>filter_list</i>
                </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.form}}
                   </mat-cell>
              </ng-container>
          
              <!-- type Column -->
              <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef > Type 
                    <i class="material-icons filter-icon" mat-sort-header>filter_list</i>
                </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
              </ng-container>
          
              <!-- objects Column -->
              <ng-container matColumnDef="field">
                <mat-header-cell *matHeaderCellDef> Field 
                    <i class="material-icons filter-icon" mat-sort-header>filter_list</i>
                </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.field}} 
                
                </mat-cell>
              </ng-container>
        
              
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef > Status
                        <i class="material-icons filter-icon" mat-sort-header>filter_list</i> </mat-header-cell>
                    <mat-cell *matCellDef="let element"> 
                        <i class="material-icons" [class.green]="element.status == 'green'" [class.red]="element.status == 'red'" [class.amber]="element.status == 'amber'">
                            fiber_manual_record 
                        </i>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="since">
                      <mat-header-cell *matHeaderCellDef > Since
                          <i class="material-icons filter-icon" mat-sort-header>filter_list</i> </mat-header-cell>
                      <mat-cell *matCellDef="let element"> 
                         {{element.since}}
                      </mat-cell>
                    </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row (click)='stopPropagationFunction($event)' *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" [cdkDetailRow]="row" [cdkDetailRowTpl]="tpl">
            
              </mat-row>
            </mat-table>
            
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
          
          <ng-template #tpl let-element>
            <div  class="mat-row detail-row" [@detailExpand] style="overflow: hidden">
          
            </div>
          </ng-template>
          <button class="button add-new-button">Add New</button>
          
    </div>
  </div>