.error-msg {
    color: #a94442;
  }
  .fix-error-icon {
    top: 27px;
  }

  .control-label.required:after { 
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 5px;
    top:7px;
  }
  .btn-bottom-margin{
    margin-bottom: 50px;
  }
  a{
    text-decoration: none;
  }
  a:hover{
      color: #A6510C;
  }
  .colorA6510C{
    color: #A6510C;
    
}



