<div class="loading-indicator" *ngIf="isSpinnerShow==true">
  <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
</div>


<div>
  <!-- Breadcrumb start-->
  <mat-toolbar>
    <mat-icon>home</mat-icon>
    <mat-icon>arrow_forward_ios</mat-icon>
    <span>
      <a href="#" routerLink='/eta-web/userdashboard'>{{mainbreadcrumb}}</a>
    </span>
    <mat-icon>arrow_forward_ios</mat-icon>
    <span>
       <!--<a routerLink='/userdashboard'>{{breadcrumb}}</a>-->
      <a routerLink='/eta-web/adduser'>Add</a>
    </span>
  </mat-toolbar>
  <!-- Breadcrumb end-->

  <!--  col-sm-6 tage start-->
  <div class="container col-sm-6">
    <!--  table-padding tage start-->
    <div class="table-padding">
      <!-- Form container tage start-->
      <div class="container col-sm-12">
        <!-- User Header tag start-->
        <mat-toolbar color="primary"> User Information </mat-toolbar>
        <!-- User Header tag End-->

        <!-- mat card tag start -->
        <mat-card>
          <form [formGroup]="userdetailForm" (ngSubmit)="onSubmit(userdetailForm.value)">

            <!-- Material Design Contol Apply Start here  -->
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Select Salutation" formControlName="salutation" required>
                <mat-option *ngFor="let salList of salutationList" [value]="salList.salutationId">
                  {{salList.salutation}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <input matInput #message placeholder="Enter First Name" formControlName="firstname" required>
              <mat-hint align="start">
                <strong>Don't disclose personal info</strong>
              </mat-hint>
              <mat-hint align="end">{{message.value.length}} / 50</mat-hint>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <input matInput placeholder="Enter Last Name" formControlName="lastname" required>
              <mat-hint align="start">
                <strong>Don't disclose personal info</strong>
              </mat-hint>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-icon matSuffix>email</mat-icon>
              <input matInput etaEmailValidate type="email" placeholder="Enter Your Email Address" formControlName="emailaddress" required>
              <mat-hint align="start">
                <strong>Don't disclose personal info</strong>
              </mat-hint>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input type="tel" matInput placeholder="Enter User Name" formControlName="userName" required (blur)="checkUserNameAvailability($event)">
              <mat-spinner *ngIf="showSpinner==true" matSuffix [diameter]="20"></mat-spinner>
              <!--  <mat-icon matSuffix>contact_phone</mat-icon> -->
            </mat-form-field> 
            <div style="color: red" *ngIf ="usernameTaken !=null">{{usernameTaken}}</div>

            <mat-form-field class="example-full-width">
              <input type="tel" matInput placeholder="Enter Office Phone Number" formControlName="officephone">
              <mat-icon matSuffix>contact_phone</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input type="tel" matInput placeholder="Enter Mobile Phone Number" formControlName="mobilephone">
              <mat-icon matSuffix>contact_phone</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input type="tel" matInput placeholder="Enter Fax Number" formControlName="fax">
              <mat-icon matSuffix>contact_phone</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-select placeholder="Select User Type" formControlName="usertype" required>
                <mat-option *ngFor="let uidList of userList" [value]="uidList.id">
                  {{uidList.userType}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-select placeholder="Select Language" formControlName="prefferedlanguageid" required>
                <mat-option *ngFor="let langObj of languageList" [value]="langObj.languageID">
                  {{langObj.language}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-select placeholder="Select Country" formControlName="countryid" >
                <mat-option *ngFor="let countryObj of countryList" [value]="countryObj.countryId" required>
                  {{countryObj.countryName}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <input type="tel" matInput placeholder="Enter Direct Phone" formControlName="directphone">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <input type="tel" matInput placeholder="Enter Other Phone" formControlName="otherphone">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <input type="tel" matInput placeholder="Enter Twitter" formControlName="twitter">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <input matInput placeholder="Job Title" formControlName="jobtitle">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <input matInput placeholder="Enter Department" formControlName="department">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <input matInput placeholder="Enter Skype Name" formControlName="skype">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-icon matSuffix>speaker_notes</mat-icon>
              <input matInput placeholder="Enter Remarks" formControlName="remarks">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-icon matSuffix>web</mat-icon>
              <input type="url" matInput placeholder="Enter web url" formControlName="website" required>
            </mat-form-field>

            <div class="button-row">
              <div class="upload-btn-wrapper">
                <button type="button" mat-mini-fab color="primary" class="eta-float-left">
                  <mat-icon aria-label="Example icon-button with a heart icon">attach_file</mat-icon>
                </button>
                <input type="file" name="myfile" (change)="selectFile($event)"  accept=".png" placeholder="Upload Image" required/>
                <mat-form-field >
                    <input type="text" matInput placeholder="Choose file" formControlName="userPhoto" disabled>
                  </mat-form-field>
              </div>
            </div>

            <div class="button-row">
              <button [disabled]="disableEditButton" type="submit" mat-raised-button color="primary">Add</button>
              <button class="eta-margin-all" type="button" (click)="cancel()" mat-raised-button color="primary">Cancel</button>
            </div>

            <mat-divider></mat-divider>
            <div class="eta-footer-block"></div>

            <!-- Material Design end here -->

          </form>
        </mat-card>
        <!-- mat card tag end -->

      </div>
      <!-- Form container tage End-->
    </div>
    <!--  table-padding tage end-->
  </div>
  <!-- Form col-sm-6 tage End-->

  <div *ngIf="allUserGridFunctionCol!=null"  class=" container col-sm-6 table-padding">
      <mat-toolbar color="primary"> List of User Details</mat-toolbar>
    <mat-card>
      <mat-data-table [myDataUrl]=userInnerDataUrl [defaultSortColumn]=defaultColumnToSort></mat-data-table>
    </mat-card>
  </div>
</div>
