
<div class="heading-container">
  <h3 class="target-area-title">Add New Form to Process Name</h3>
</div>
<div class="top-container">
    <div class="custom-field" >
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput #nameInput placeholder="Name" [formControl]='name' maxlength="64" required>
          <mat-hint>{{64 - nameInput.value.length }} characters remaining.</mat-hint>
          <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>


<!-- resuable button -->
      <mat-slide-toggle class="toggle-button" [(ngModel)]='reusable'>Reusable</mat-slide-toggle>

      <!-- checkbox, add button and delete button -->
      <div class="modification-buttons-container">
        <mat-checkbox  [ngModelOptions]="{standalone: true}" [(ngModel)]='checkAllItem' (change)='checkAllItems($event); toggleDeleteButton()' class="custom-checkbox"></mat-checkbox>
        <button class="add-button" (click)="addFormField()">
          <i class="material-icons" >add_box</i>
        </button>
        <button *ngIf="deleteButtonFlag" class="delete-button" (click)="deleteFormField()">
            <i class="material-icons delete-button">delete</i>
        </button>
      </div>
</div>

<!-- form starts -->
<form [formGroup]="myForm">
  <div formArrayName="form_group">
<!-- 
  <button type="button" (click)="deleteFormField()">Delete Selling Point</button>
 
    <button type="button" (click)="addFormField()">Add Selling Point</button>  -->
  <table width='100%'>
    <tr>
      <th></th>
      <th>#</th>
      <th>Field*</th>
      <th>Type*</th>
      <th>*?</th>
      <th>Store</th>
      <th>Default</th>
      <th>Reference</th>
      <th>Help Text*</th>
      <th>Validation</th>
    </tr>


    <tr *ngFor="let item of formGroup.controls; let index=index" [formGroupName]="index">
      <!-- check box field -->
      <td class="checkbox">
        <mat-checkbox (change)="toggleDeleteButton(); toggleCheckAllButton()" class="custom-checkbox-without-margin field-checkbox-button"  formControlName='filedCheckStatus'></mat-checkbox>
      </td>
      <!-- index field -->
      <td >
        <div class="index-field">{{index + 1}}
          </div>
      </td>

      <!-- name field -->
      <td class="name-field" width='5%'>
        <div class="custom-field" >
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input #nameField matInput placeholder="Name" formControlName='name' required maxlength="32">
            <mat-hint>{{32 - nameField.value.length}} characters</mat-hint>

            <!-- show error according validations(this is for required validatin) -->
          <mat-error *ngIf="this.myForm.controls['form_group'].controls[index].get('name').invalid &&
          this.myForm.controls['form_group'].controls[index].get('name').errors.required">required</mat-error>
          </mat-form-field>
        </div>
      </td>

      <!-- field type -->
      <td class="field-input" width='100%' >
        <div class="custom-select custom-field">
<mat-form-field appearance="outline">
              <mat-select placeholder="Favorite animal" formControlName='type' required  disableOptionCentering panelClass="custom-select-panel">
                <mat-option>-none-</mat-option>
                <mat-option *ngFor="let type of types" [value]="type">
                  {{type}}
                </mat-option>
              </mat-select>
                 <!-- show error according validations(this is for required validation) -->
          <mat-error *ngIf="this.myForm.controls['form_group'].controls[index].get('type').invalid &&
          this.myForm.controls['form_group'].controls[index].get('type').errors.required">required</mat-error>
              <mat-hint>Select Field Type.</mat-hint>
            </mat-form-field>
        </div>
      </td>

      <!-- mandatory's checkbox -->
      <td class="mandatory-checkbox">
        <mat-checkbox class="custom-checkbox"  formControlName='mandatory'></mat-checkbox>
      </td>

  <!-- store field -->
      <td>
        <div class="custom-field">
          <mat-form-field appearance="outline" >
            <mat-label>Store</mat-label>

            <input matInput placeholder="Store" formControlName='fieldStore' 
            [disableControl]="myForm.value.form_group[index].type == 'submit' 
            || myForm.value.form_group[index].type == 'cancel'" >
            <mat-icon matSuffix
            [class.disabled]="myForm.value.form_group[index].type == 'submit' 
            || myForm.value.form_group[index].type == 'cancel'">search</mat-icon>
            <mat-hint>Select or Add New</mat-hint>
           
          </mat-form-field>
        </div>
      </td>

    <!-- default field -->
      <td class="store-field">
        <div class="custom-field" >
          <mat-form-field appearance="outline">
            <mat-label>Default</mat-label>
            <input matInput placeholder="Default" formControlName="default" >
            <mat-icon matSuffix>search</mat-icon>
            <mat-hint>Select or Input</mat-hint>
           
          </mat-form-field>
        </div>
      </td>

      <!-- reference field -->
      <td class="default-field">
        <div class="custom-select custom-field">
<mat-form-field appearance="outline">
              <mat-select placeholder="Reference" formControlName='reference'  disableOptionCentering panelClass="custom-select-panel"
              [disableControl]="myForm.value.form_group[index].type == 'submit' 
            || myForm.value.form_group[index].type == 'cancel'">
                <mat-option>-none-</mat-option>
                <mat-option *ngFor="let reference of references" [value]="reference">
                  {{reference}}
                </mat-option>
              </mat-select>
            
              <mat-hint>Select Reference.</mat-hint>
            </mat-form-field>
        </div>
      </td>

      <!-- help text -->
      <td class="reference-field">
        <div class="custom-field" >
          <mat-form-field appearance="outline">
            <mat-label>Help</mat-label>
            <input #helpText matInput placeholder="Help*" formControlName='helpText' required maxlength="32">
            <mat-hint>{{32 - helpText.value.length}} characters</mat-hint>

                  <!-- show error according validations(this is for required validatin) -->
          <mat-error *ngIf="this.myForm.controls['form_group'].controls[index].get('helpText').invalid &&
          this.myForm.controls['form_group'].controls[index].get('helpText').errors.required">required</mat-error>
              
          </mat-form-field>
        </div>
      </td>

      <!-- validation field -->
      <td class="help-text">
        <div class="custom-select custom-field">
<mat-form-field appearance="outline">
  <mat-label>Validation*</mat-label>
              <mat-select placeholder="Validation" formControlName='validation'  disableOptionCentering panelClass="custom-select-panel">
                <mat-option>-none-</mat-option>
                <mat-option *ngFor="let validation of validations" [value]="validation">
                  {{validation}}
                </mat-option>
              </mat-select>
            
              <mat-hint>Select Reference.</mat-hint>
            </mat-form-field>
        </div>
      </td>
    </tr>
  </table>
</div>
<div class="bottom-button-group">
  <button disabled class="button submit-button">Submit</button>
  <button class="button">Cancel</button>
  <button disabled class="button preview-button">Preview</button>
</div>
</form>

 {{ this.myForm.value | json }} 