.heading-container{
    background-color: lightgray;
    padding-bottom: 15px;
}
.heading-container .target-area-title{
    margin: 0;
}
.custom-checkbox{
    margin: 0 !important;
    margin-right: 0 !important;
}
.top-container{
    padding: 16px;
}
.toggle-button{
    margin: 10px 0;
}
.modification-buttons-container{
    padding: 7px 0;
}
.modification-buttons-container .custom-checkbox{
    vertical-align: super;
}
.modification-buttons-container button{
    background: none;
    border: none;
    padding: 0;
}
.modification-buttons-container .add-button{
    margin: 0 10px 0 5px;
}

table{
    width: 100%;
    border-bottom: solid 2px gray;
    border-spacing: 0 !important;
    padding-bottom: 10px;
}
table tr td{
    min-width: 10px;
}
table th{
    background: lightgray;
    padding: 10px 0 !important;
    color: black;
    text-align: left;
    border-spacing: 0 !important;
}
table th, table td{
    padding: 0 10px 0 0;
}
.field-checkbox-button {
    position: relative;
    top: -8px;
    padding: 0 10px;
}
.index-field{
    position: relative;
    top: -8px;
}
.checkbox, .index-field, .mandatory-checkbox{
    text-align: center;
}
.disabled{
    color: lightgray;
}
.bottom-button-group .submit-button{
    margin-right: 10px;
}
.bottom-button-group .preview-button{
    float: right;
}
table .custom-field{
    width: 117px;
}