a {
  text-decoration: none;
}

a:hover {
  color: #A6510C;
}

.colorA6510C {
  color: #A6510C;
}

.addbtn-float {
  float: left;
}

.addbtn-margin-top {
  margin-top: 50px;
}

/* Material design css start */

.eta-margin-all {
  margin: 10px;
}

.filter-option>.mat-pseudo-checkbox {
  display: none !important;
}

.filter-sidenav .mat-list-item-content {
  padding: 0 10px !important;
  font-size: 0.875rem !important;
}

.filter-sidenav .mat-select-trigger {
  font-size: 1rem !important;
}

.cdk-overlay-container {
  /* position: fixed; */
  z-index: -1000;
}



/* Absolute Center Spinner */
.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading-indicator:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

