<div class="loading-indicator" *ngIf="isSpinnerShow==true">
    <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
  </div>
<div>
    <!-- Breadcrumb start-->
    <mat-toolbar>
        <mat-icon>home</mat-icon>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span>
          <a href="#" routerLink='/eta-web/userdashboard'>{{mainbreadcrumb}}</a>
        </span>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span>
          <a routerLink='/eta-web/roledashboard'>{{breadcrumb}}</a>
        </span>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span>
          <a routerLink='/addrole'>Add</a>
        </span>
    </mat-toolbar>
    <!-- Breadcrumb end-->

  <!-- Form col-sm-6 tage start-->
  <div class="col-sm-6 div-padding">
    <!-- Form table-padding tage start-->
    <div class="table-padding">     
      <!-- Form container tage start-->
      <div class="container col-sm-12">
        <!-- User Role Header tag start-->
        <mat-toolbar color="primary"> User Role </mat-toolbar>
        <!-- User Role Header tag End-->

        <!-- mat card tag start-->
        <mat-card>
          <form [formGroup]="roleForm" (ngSubmit)="onSubmit(roleForm.value)">

            <mat-form-field class="example-full-width">
              <mat-select placeholder="Select Role Type" formControlName="roleType" (selectionChange)="roleTypeSelect($event.value)" required>
                <mat-option *ngFor="let role of roleTypeList" [value]="role.roleTypeId">
                  {{role.roleTypeName}}
                </mat-option>
              </mat-select>
            </mat-form-field>

        
        
          <!-- Multi Select Mat Start -->
          <mat-form-field class="example-full-width">

            <mat-select placeholder="Select Privileges" name="year" #selectedValues  class="filter-select" formControlName="privilegeMultiselect" 
              multiple required >
              <mat-option disabled="disabled" class="filter-option">
                <button mat-raised-button class="mat-primary fill text-sm" (click)="selectAll(dropdownList)">
                  Select All 
                </button>
                <button  mat-raised-button class="mat-primary fill text-sm eta-margin-all" (click)="deselectAll()">
                  Deselect All
                </button>
              </mat-option>
              <mat-option *ngFor="let privilege of dropdownList" [value]="privilege.id">{{privilege.itemName}}</mat-option>
            </mat-select>

          </mat-form-field>
          <!-- Multi select mat end -->
         
            <mat-form-field class="example-full-width">
              <input matInput placeholder=" Role Name" formControlName="roleName" required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput placeholder="Role Discription" formControlName="roleDiscription" required>
            </mat-form-field>

            <div class="button-row">
              <button type="submit" mat-raised-button color="primary">Add</button>
              <button class="eta-margin-all" type="button" (click)="cancel()" mat-raised-button color="primary">Cancel</button>
              <button type="button" (click)="translationColumns()" mat-raised-button color="primary" data-toggle="modal" data-target="#myModal">Add Translation</button>
            </div>

          </form>
        </mat-card>
        <!-- mat card tag end -->

      </div>
      <!-- Form container tage End-->
    </div>
    <!-- Form table-padding tage End-->
  </div>
  <!-- Form col-sm-6 tage End-->
  
  <div *ngIf="roleCol!=null" class="container col-sm-6 table-padding">
      <mat-toolbar color="primary"> List of User Role</mat-toolbar>
    <mat-card>
      <!--<app-admin-dynamic-datatable [myurl]=roleurl [mycoloums]=roleCol></app-admin-dynamic-datatable>-->
      <mat-data-table [myDataUrl]=userRoleInnerDataUrl [defaultSortColumn]=defaultColumnToSort></mat-data-table>
    </mat-card>
  </div>

<div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!-- cross close button -->
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div *ngIf="isDataLoaded">
          <!-- <app-translation-grid  [myurl]="functionTransUrl" [key]="key"> </app-translation-grid> -->
  <div *ngIf="roleCol!=null" >
          <app-user-translation-dt  [myurl]="roleTranslationUrl" [mycoloums]="roleTranslationCol" [checkpid]="storeRoleId" [gridName]="Role">
          </app-user-translation-dt>

        </div></div>
        <!-- close button    -->
        <div class="modal-footer">
          <button (click)="closePopup()" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>