<div class=" table-padding">
  <!-- Breadcrumb start-->
  <mat-toolbar>
    <mat-icon>home</mat-icon>
    <mat-icon>arrow_forward_ios</mat-icon>
    <span>
      <a href="#" routerLink='/eta-web/organizationdashboard'>{{mainbreadcrumb}}</a>
    </span>
    <mat-icon>arrow_forward_ios</mat-icon>
    <span>
      <a routerLink='/eta-web/calendardashboard'>{{breadcrumb}}</a>
    </span>
  </mat-toolbar>
  <!-- Breadcrumb end-->

  <!-- Tabs menu start -->
  <nav mat-tab-nav-bar [backgroundColor]="background">
    <ng-container *ngFor="let menu of menuList;">
      <a mat-tab-link *ngIf="menu.menuType==3 && menu.menuRef == 2" (click)="activeLink=shownRouterLink(menu.routerLink)" [active]="activeLink==menu.routerLink">
        {{menu.translation}} </a>
    </ng-container>
    <!--  -->
    <span class="example-spacer"></span>
    <button mat-icon-button>
      <mat-icon (click)="toggleBackground()">invert_colors</mat-icon>
    </button>
  </nav>
  <!-- tabs menu ends -->
  <!-- mat card start -->
  <mat-card>
    <!-- grid Start here -->
    <mat-data-table [myDataUrl]=location_url [defaultSortColumn]=defaultColumnToSort></mat-data-table>
    <!-- Grid End -->
    <!-- Button Row start -->
    <div class="button-row">
      <button type="button" (click)="addLoc()" mat-raised-button color="primary">{{addButtonText}}</button>
      <button [disabled]="isEditAllowed == false" class="eta-margin-all" type="button"  mat-raised-button color="primary">{{editButtonText}}</button>

    </div>
    <!-- Buttom row end -->
  </mat-card>
  <!-- mat card end -->
</div>
<!-- Grid show end-->
