<div>
    <!-- Breadcrumb start-->
    <mat-toolbar>
        <mat-icon>home</mat-icon>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span>
          <a href="#" routerLink='/eta-web/organizationdashboard'>{{mainbreadcrumb}}</a>
        </span>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span>
          <a routerLink='/eta-web/orgpolicydashboard'>{{breadcrumb}}</a>
        </span>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span>
          <a routerLink='/editprivacypolicy'>Edit</a>
        </span>
    </mat-toolbar>
    <!-- Breadcrumb end-->

  <!-- Form col-sm-6 tage start-->
  <div class="col-sm-6 div-padding">
    <!-- Form table-padding tage start-->
    <div class="table-padding">        
      <!-- Form container tage start-->
      <div class="container col-sm-12">
         <!-- Privacy Policy Header tag start-->
         <mat-toolbar color="primary">Privacy Policy </mat-toolbar>
         <!-- Privacy Policy Header tag End-->
 
        <!-- mat card tag start -->
        <mat-card>
          <form [formGroup]="privacyForm" (ngSubmit)="onSubmit(privacyForm.value)">

         
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Organization Name" disabled [value]="get_orgName">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput placeholder="Policy Name " formControlName="privacypolicy">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput placeholder="Active Status" disabled [value]="get_ActiveYN">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Draft Status" disabled [value]="get_DraftYN">
            </mat-form-field>

            <div class="button-row">
              <button type="submit" mat-raised-button color="primary">Add</button>
              <button class="eta-margin-all" type="button" (click)="cancel()" mat-raised-button color="primary">Cancel</button>
            </div>
          
          </form>
        </mat-card>
        <!-- mat card tag end -->

      </div>
      <!-- Form container tage End-->
    </div>
    <!-- Form table-padding tage End-->
  </div>
  <!-- Form col-sm-6 tage End-->
  <!--Table code Start -->
  <div *ngIf="policyManagementCol!=null" class="col-sm-6 table-padding">
    <mat-card>
      <app-admin-dynamic-datatable [myurl]=allPolicyurl [mycoloums]=policyManagementCol></app-admin-dynamic-datatable>
    </mat-card>
  </div>
  <!--Table code End -->
</div>
