.popup-container{
    margin: 20px;
    padding: 20px;
    width: 1000px;
    display: block;
    z-index: -1000;
    position: absolute;
    background-color: aquamarine;
}
.zindex{
    z-index: -50000;
}
a{
    text-decoration: none;
}
a:hover{
    color: #A6510C;
}
.colorA6510C{
    color: #A6510C;
    
}

/* Material design css start */
.eta-margin-all{
    margin: 10px;
  }