<div>
        <!-- Breadcrumb start-->
        <mat-toolbar>
            <mat-icon>home</mat-icon>
            <mat-icon>arrow_forward_ios</mat-icon>
            <span>
              <a href="#" routerLink='/organizationdashboard'>{{mainbreadcrumb}}</a>
            </span>
            <mat-icon>arrow_forward_ios</mat-icon>
            <span>
              <a routerLink='/gadashboard'>{{breadcrumb}}</a>
            </span>
            <mat-icon>arrow_forward_ios</mat-icon>
            <span>
              <a routerLink='/gaCongig'>Add</a>
            </span>
        </mat-toolbar>
        <!-- Breadcrumb end-->

    <!-- Form col-sm-6 tage start-->
    <div class="col-sm-6 div-padding">
        <!-- Form table-padding tage start-->
        <div class="table-padding">
          <!-- Form container tage start-->
          <div class="container col-sm-12">
            <!-- Org GA Header tag start-->
            <mat-toolbar color="primary"> Organization Google Analytics </mat-toolbar>
            <!-- Org GA Header tag End-->
    
            <!-- mat card start -->
            <mat-card>
            <form [formGroup]="gafrm" (ngSubmit)="onSubmit(gafrm.value)">

                <mat-form-field class="example-full-width">   
                        <input matInput placeholder="Domain Name" formControlName="domainName">
                </mat-form-field>

                <div class="form-group">
                    <label class="label labelfont">Google Api</label>
                </div>

                <div class="form-group">
                    <textarea class="form-control permit-input inputwidth" rows="5" id="gaDomainName"></textarea>
                </div>

                <div class="button-div">
                    <button type="submit" (click)="setGaConfiguration()" class="btn btn-default btn-add btn-border">Add</button>
                    <button type="submit"  class="btn btn-default btn-add btn-border">Cancel</button>
                </div>
            </form>
            </mat-card>
            <!-- mat card end -->
    </div>
    <!-- Form container tage End-->
</div>
<!-- Form table-padding tage End-->
</div>
<!-- Form col-sm-6 tage End-->
<!--Grid code Start -->
    <div *ngIf="gaUrlCol!=null" class="col-sm-6">
        <mat-card>
            <app-admin-dynamic-datatable  [myurl]=gaUrl [mycoloums]=gaUrlCol></app-admin-dynamic-datatable>
        </mat-card>
    </div>
<!--Grid code End -->
</div>
