
<div class="col-sm-12 table-padding">
<angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" (change)="showOrgValueForEditOrgDetails($event.target.value)" 
    [settings]="dropdownSettings" 
    >
</angular2-multiselect>
</div>

<div class="button-div">
    <button type="button" class="btn btn-default btn-add btn-border btn-size"  (click)="onSubmitLanguage()">Add</button>
    <!-- <button type="submit" class="btn btn-default btn-add btn-border"  (click) ="getLanguageByOrgId(1)">edit</button> -->
</div>