.awidth{
    width: 100% !important;
}
.textBox{
    padding: 3px;
    border: 1px solid #91a0a7;
    width: 90%;
    display: inline-block;
    height: 27px;
    overflow: hidden;
    white-space: nowrap;
}

#hoverText{
    
    color: #0c6270;
    font-weight: 600;
    
}

.pricing {
    text-align: center;
}

/* table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: rgb(235, 205, 205);
} */
table.dataTable.hover tbody tr td:hover, table.dataTable.display tbody tr td:hover {
    background-color: rgb(156, 141, 141);
}
.pointer{
    cursor: pointer;
    text-decoration: underline;
}
.white{
    color: white;
}

/* Grid css */

.gridheader>th{
    margin: 5px;
    padding: 5px;
    word-wrap: normal;
    width: 70px auto;
    color: #FFFFFF;
    font-weight: 400;
}
.gridheader :first-child{
    width: 20px;
    color: #FFFFFF;
    font-weight: 400;
}
.overflowTest {
    margin: 5px;
    padding: 5px;
    overflow: hidden; 
    word-wrap: normal ;
    font-weight: 400;
    color: #141414;
    font-size: 15px;
}
.form-check-input-size{
    zoom:1.7;
    margin: 5px ;
}
   



