<div class="table-responsive  table-padding">
  <table datatable [dtOptions]="dtOptions" id="datatabledcsdf" class="awidth row-border hover display table table-bordered striped">
    <thead>
      <tr class="gridheader">
        <th *ngFor="let key of arrayOfValues" class="icon-margin" >{{key}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let gefield of gefields" class="overflowTest ">
        <input type="checkbox" class="form-check-input-size" value={{gefield[checkId]}}+{{gefield[checkOrgid]}} (click)="editCheckBox($event)">
        <td *ngFor="let k of arrayOfKeys">
          <div *ngFor="let hyp of planTextArray">
            <span *ngIf="hyp == k">
              <span (focusout)="saveDetails($event, gefield, k)">{{gefield[k]}}</span>
            </span>
          </div>

          <div *ngFor="let edit of editArray">
            <span *ngIf="edit == k">
              <span (focusout)="saveDetails($event, gefield, k)">{{gefield[k]}}</span>
              <span *ngIf="mySubmitUrl!=null" class='glyphicon glyphicon-pencil pull-right' (click)="makeCellEdit($event)"> </span>
            </span>
          </div>
          <div *ngFor="let edit of hyperlinkArray">
            <span *ngIf="edit == k">
              <span id="hoverText" (click)="showUser($event,gefield,k)" style="cursor: pointer;" data-toggle="modal" data-target="#userInfo">{{gefield[k]}}</span>

            </span>
          </div>

        </td>
      </tr>
      <!-- <tr *ngIf="gefields?.length == 0">
        <td colspan="3" class="no-data-available">No data!</td>
      </tr> -->
    </tbody>
  </table>

</div>

<div class="container">
  <div class="modal fade" id="userInfo" role="dialog">
    <div class="modal-dialog">
<!-- user Pop up start -->
      <div class="container">
        <div class="row pricing">
          <div class="col-md-3">
            <div *ngIf="colkey == 'user'" class="well">
                <a class="" href="">
                    <img class="media-object dp img-circle" src="assets/avtar1.png" style="width: 100px;height:100px;">
                </a>
              <h3>
                <b>{{userDetials.firstName}}</b>
              </h3>
              <p>{{userDetials.lastName}}</p>
              <p>{{userDetials.emailAddress}}</p>
              <hr>
              <h3>
                <b>{{userDetials.department}}</b>
              </h3>
              <p>{{userDetials.jobTitle}}</p>
              <p>{{userDetials.skype}}</p>
              <hr>
              <hr>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>
      <!-- user pop up end -->
<!-- org popup  start -->
<div class="container">
  <div class="row pricing">
    <div class="col-md-3">
      <div *ngIf="colkey=='org'" class="well">
        <h3>
          <b>{{orgDetials.orgName}}</b>
        </h3>
        <p>{{orgDetials.phoneNumber}}</p>
        <p>{{orgDetials.emailaddress}}</p>
        <hr>
        <h3>
          <b>{{orgDetials.orgType}}</b>
        </h3>
        <p>{{userDetials.jobTitle}}</p>
        <p>{{userDetials.skype}}</p>
        <hr>
        <hr>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- org pop end -->

    </div>
  </div>

</div>

