<mat-card>

        <div class="main-container">
          <form id="add-role-form" [formGroup]="form">
            <div class="heading-division eta-heading-background">
              <h4 class="target-area-title">{{roleRealName}} in ORG Acronym</h4>
            </div>
            <!-- name field  -->
            <div class="custom-control-row">
              <div class="custom-field custom-field-fw">
                <!--<mat-form-field appearance="outline">
                  <mat-label>Name</mat-label>
                  <input id="role-name" matInput #name placeholder="Name *" formControlName="roleName" maxlength="64" (keypress)="checkCharValidationForName($event)" required>
                  <mat-hint>{{64 - name.value.length }} characters remaining.</mat-hint>
                  <mat-icon matSuffix>search</mat-icon>
                  <mat-error *ngIf="form.controls['roleName'].errors?.required">Name is required.</mat-error>
                </mat-form-field>-->
                <mat-form-field appearance="outline" >
                  <mat-label>Name</mat-label>
                  <input id="role-name" matInput #roleName placeholder="Name *" formControlName="roleName" maxlength="64" required
                        [(ngModel)]="name"
                        [typeaheadAsync]="true"
                        [typeahead]="dataSourceRoleName"
                        (typeaheadLoading)="changeTypeaheadLoadingRole($event)"
                        (typeaheadOnSelect)="typeaheadOnSelectRole($event)"
                        [typeaheadOptionsLimit]="5"
                        [typeaheadMinLength]="0"
                        typeaheadOptionField="roleName" [ngModelOptions]="{standalone: true}" 
                        (keyup)= "checkOnKeyUpRole($event)"
                        (keypress)="checkCharValidationForName($event)">
                        <mat-hint>{{64 - roleName.value.length }} characters remaining.</mat-hint>
                  <mat-icon matSuffix>search</mat-icon>
                  <mat-error *ngIf="form.controls['roleName'].errors?.required">Role name is required.</mat-error>
                  <mat-error *ngIf="form.controls['roleName'].invalid && duplicateroleName && form.controls['roleName'].value.length>0">
                      Role name  already taken.
                    </mat-error>
                </mat-form-field>
              </div>
            </div>
      
            <div class='table-modification-button-container'>
              <div class="inner-center-division">
                <div class="eta-table-constant-width-column text-align-center display-inline-block">
                  <mat-checkbox id="checkbox-select-all-fields" [ngModelOptions]="{standalone: true}" class="custom-checkbox-without-margin"
                    (change)="$event ? masterToggleFordynamicItems() : null" [checked]="selectionFordynamicItem.hasValue() && isAlldynamicItemsSelected()"
                    [indeterminate]="selectionFordynamicItem.hasValue() && !isAlldynamicItemsSelected()"></mat-checkbox>
                </div>
      
                <div class="eta-table-constant-width-column-half-width  display-inline-block">
                  <button id="button-add-field" type="button" class="button-without-background vertical-align-middle" (click)="adddynamicItem()">
                    <i class="material-icons unit-control-icon icon-without-padding">add_box</i>
                  </button>
                </div>
      
                <div *ngIf="form.controls['privilegeList'].value.length > 1 && selectionFordynamicItem.selected.length" class="eta-table-constant-width-column-half-width text-align-right display-inline-block">
                  <button id="button-delete-button" type="button" class="button-without-background vertical-align-middle" (click)='deletedynamicItem()'>
                    <i class="material-icons unit-control-icon icon-without-padding">delete</i>
                  </button>
                </div>
              </div>
            </div>
      
            <div formArrayName="privilegeList">
              <mat-toolbar class="data-object-heading eta-heading-background eta-dynamic-height">
                <p class="body-text1">Privilege Name*</p>
              </mat-toolbar>
              <div *ngFor="let dynamicItem of form['controls'].privilegeList['controls']; let dynamicItemIndex=index" formGroupName="{{dynamicItemIndex}}"
                class="dynamicItem display-flex" id="{{'div-dynamic-fields-' + dynamicItemIndex}}">
      
                <!-- dynamic item checked status -->
      
                <div class="eta-table-constant-width-column display-inline-block text-align-center">
                  <div class="control-button-container display-flex width-hundred-percent">
                    <mat-checkbox id="{{'checkbox-select-field-' + dynamicItemIndex}}" [ngModelOptions]="{standalone: true}" class="custom-checkbox-without-margin"
                      (click)="$event.stopPropagation()" (change)="$event ? selectionFordynamicItem.toggle(this.form.controls['privilegeList'].controls[dynamicItemIndex]) : null"
                      [checked]="selectionFordynamicItem.isSelected(this.form.controls['privilegeList'].controls[dynamicItemIndex])"
                      formControlName='dynamicItemCheckedStatus'>
                    </mat-checkbox>
                  </div>
                </div>
                <!-- dynamic item name field -->
                <div class="custom-control-row width-hundred-percent">
                  <div class="custom-field custom-select custom-field-fw data-object-name-field">
                    <mat-form-field appearance="outline">
                      <mat-label>Name </mat-label>
                      <mat-select id="{{'select-role-' + dynamicItemIndex}}" appearance="outline" formControlName="privilegeID" disableOptionCentering
                        panelClass="custom-select-panel" placeholder="Name *" (selectionChange)="changePrivilege($event.value,dynamicItemIndex)"
                        required>
                        <mat-option *ngFor="let privilege of privilegeTypeList" [value]="privilege.privilegeID">{{privilege.privilege}}</mat-option>
                      </mat-select>
                      <mat-hint>Select Privilege Name.</mat-hint>
                      <mat-error *ngIf="form.controls['privilegeList'].controls[dynamicItemIndex].get('privilegeID').invalid &&
                                  form.controls['privilegeList'].controls[dynamicItemIndex].get('privilegeID').errors.required">Privilege is required</mat-error>
                      <mat-error *ngIf="form.controls['privilegeList'].controls[dynamicItemIndex].get('privilegeID').errors?.myError">Privilege already exist</mat-error>
                    </mat-form-field>
      
                  </div>
                </div>
      
              </div>
      
            </div>
      
          </form>
          <!-- submit and cancel buttons -->
          <div class="submit-cancel-button-group">
            <button type="button" id="submit-button" class="button submit-button no-bottom-margin button-margin-right" [disabled]="form.invalid"
              (click)="submitEditRole()">Submit</button>
            <button type="button" id="cancel-button" class="button no-bottom-margin" (click)="cancel()">Cancel</button>
          </div>
        </div>
      </mat-card>