<!-- Breadcrumb start-->
<mat-toolbar class="breadcrumb">
    <svg-icon  src="assets/svg-icons/home.svg"></svg-icon>
      <svg-icon src="assets/svg-icons/arrow_forward.svg"></svg-icon>
    <span>
      <a href="#" routerLink='/#6'>{{mainbreadcrumb}}</a>
    </span>
    <svg-icon src="assets/svg-icons/arrow_forward.svg"></svg-icon>
    <span>
      <a routerLink='/eta-web/roleConfigDashboard'>{{breadcrumb}}</a>
    </span>
    <svg-icon src="assets/svg-icons/arrow_forward.svg"></svg-icon>
    <span>
      <a routerLink='/edit-role'> Change </a>
    </span>
</mat-toolbar>
<!-- Breadcrumb End -->

<h4 class="target-area-title">Change {{roleRealName}} in Eta{{OrgListDetails}}</h4>
<form id="add-role-form" [formGroup]="form">
<mat-card class="content-card">
    <form id="add-role-form" [formGroup]="form">
  <div class="top-container">
 <!-- name field  -->
 <div class="custom-control-row">
    <div class="custom-field custom-field-fw">
      <mat-form-field appearance="outline" >
        <mat-label>Name</mat-label>
        <input id="role-name" matInput #roleName placeholder="Name *" formControlName="roleName" maxlength="64" required
              [(ngModel)]="name"
              [typeaheadAsync]="true"
              [typeahead]="dataSourceRoleName"
              (typeaheadLoading)="changeTypeaheadLoadingRole($event)"
              (typeaheadOnSelect)="typeaheadOnSelectRole($event);enableSubmitButtonForEdit()"
              [typeaheadOptionsLimit]="5"
              [typeaheadMinLength]="0"
              typeaheadOptionField="roleName" [ngModelOptions]="{standalone: true}" 
              (keyup)= "checkCharValidationForName($event);enableSubmitButtonForEdit()"
              (blur)="checkOnKeyUpRole($event)">
              <mat-hint>{{64 - roleName.value.length }} characters remaining.</mat-hint>
              <svg-icon matSuffix src="assets/svg-icons/search.svg"></svg-icon>
        <mat-error *ngIf="form.controls['roleName'].errors?.required">Role name is required.</mat-error>
        <mat-error *ngIf="form.controls['roleName'].invalid && duplicateroleName && form.controls['roleName'].value.length>0">
            Role name  already taken.
          </mat-error>
          <mat-error
                  *ngIf="form.controls['roleName'].errors?.patternError">
                  First letter should be alphabatic.
                </mat-error>
      </mat-form-field>
    </div>
  </div>


<div class='table-modification-button-container'>
  <div class="inner-center-division">
      <button *ngIf="!(form.controls['privilegeList'].value.length > 1 && selectionFordynamicItem.selected.length)"
         id="button-add-field" type="button" class="modification-buttons button-without-background vertical-align-middle" (click)="adddynamicItem($event)">
         <svg-icon class="unit-control-icon no-padding-svg" src="assets/svg-icons/add_box.svg"></svg-icon>
      </button>

      <button *ngIf="form.controls['privilegeList'].value.length > 1 && selectionFordynamicItem.selected.length"
         id="button-delete-button" type="button" class="modification-buttons button-without-background vertical-align-middle" 
         (click)='deletedynamicItem()'>
         <svg-icon class="unit-control-icon no-padding-svg" src="assets/svg-icons/delete.svg"></svg-icon>
      </button>
  
  </div>
</div>
</div>
<div formArrayName="privilegeList">
  <mat-toolbar class="data-object-heading eta-heading-background eta-dynamic-height">
    <div class="eta-table-constant-width-column-first text-align-center">
        <mat-checkbox id="checkbox-select-all-fields" [ngModelOptions]="{standalone: true}" class="custom-checkbox-without-margin"
        (change)="$event ? masterToggleFordynamicItems() : null" [checked]="selectionFordynamicItem.hasValue() && isAlldynamicItemsSelected()"></mat-checkbox>
    </div>
    <p class="body-text1">Privilege Name*</p>
  </mat-toolbar>
  <div class="dynamic-items"  #rolesScrollabeContent id="customScrollBarContainer">
  <div *ngFor="let dynamicItem of form['controls'].privilegeList['controls']; let dynamicItemIndex=index" formGroupName="{{dynamicItemIndex}}"
    class="dynamicItem display-flex" id="{{'div-dynamic-fields-' + dynamicItemIndex}}">

    <!-- dynamic item checked status -->

    <div class="eta-table-constant-width-column-first display-inline-block text-align-center">
      <div class="control-button-container display-flex width-hundred-percent">
          <mat-checkbox id="{{'checkbox-select-field-' + dynamicItemIndex}}" [ngModelOptions]="{standalone: true}" class="custom-checkbox-without-margin"
          (click)="$event.stopPropagation()" (change)="$event ? selectionFordynamicItem.toggle(this.form.controls['privilegeList'].controls[dynamicItemIndex]) : null"
          [checked]="selectionFordynamicItem.isSelected(this.form.controls['privilegeList'].controls[dynamicItemIndex])"
          formControlName='dynamicItemCheckedStatus'>
        </mat-checkbox>
      </div>
    </div>
    <!-- dynamic item name field -->
    <div class="custom-control-row width-hundred-percent">
        <div class="custom-field custom-select custom-field-fw data-object-name-field">
          <mat-form-field appearance="outline">
            <mat-label>Name </mat-label>
            <mat-select id="{{'select-role-' + dynamicItemIndex}}" appearance="outline" formControlName="privilegeID" disableOptionCentering
              panelClass="custom-select-panel" placeholder="Name *" (selectionChange)="changePrivilege($event.value,dynamicItemIndex);enableSubmitButtonForEdit()"
              required>
              <mat-option *ngFor="let privilege of privilegeTypeList" [value]="privilege.privilegeID">{{privilege.privilege}}</mat-option>
            </mat-select>
            <mat-hint>Select Privilege Name.</mat-hint>
            <mat-error *ngIf="form.controls['privilegeList'].controls[dynamicItemIndex].get('privilegeID').invalid &&
                        form.controls['privilegeList'].controls[dynamicItemIndex].get('privilegeID').errors.required">Privilege is required</mat-error>
            <mat-error *ngIf="form.controls['privilegeList'].controls[dynamicItemIndex].get('privilegeID').errors?.myError">Privilege already exist</mat-error>
          </mat-form-field>

        </div>
      </div>

  </div>
</div>
  <div #scrollTarget></div>
</div>

</form>
<!-- submit and cancel buttons -->
<div class="submit-cancel-button-group">
    <button type="button" id="update-button" class="button update-button" [disabled]="form.invalid || submitButtonDisabled"
    (click)="submitEditRole()">Update</button>
  <button type="button" id="cancel-button" class="button" (click)="cancel()">Cancel</button>
</div>

</mat-card>