.view-height{
    height: auto;
    max-height: 90vh;
    overflow-y: auto;
    padding: 0; margin: 0;
    position: relative;
}

.base-form, .expanded-form{
   flex: 1;
   min-width: 400px;
   height: 100%;
}
.base-form{
} 
.expanded-form{
  margin-left: var(--content-inside-padding);
  padding-left: var(--content-inside-padding);
  border-left: solid 1px lightgray;
 
}
.close-button{
  position: absolute;
  top: 5px;
  right: 10px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;

}
button[type="submit"]{
  margin-right: 15px;
}
.example-full-width {
    width: 100%;
    margin: .5em 0;
  }

.side-block-border{
    border-left: 1px solid #BDBDBD;
}


.flex-display{
    display: flex;
    width: 100%;
}

.bc{
    background-color: #bdbdbd;
    padding: 10px;
}

.task {
    border-radius: 5px;
    margin-top: 30px;
    border: 1px solid #252829;
  }
  
  .input-border-color {
    border: 2px solid #9C9FA1;
  }
  
  .modal-content {
    width: 150%;
    margin-top: 50px;
  }
  
  .poppadding {
    padding: 10px 10px;
  }
  
  .label-space {
    margin-left: 20px;
    color: #9C9FA1;
  }
  
  .permit {
    height: 45px;
    font-size: 18px;
  }
  
  .image-margin {
    margin-top: 20px;
  }
  
 
  .eta-margin-all {
    margin: 10px;
  }
  
  .two-way-banding {
    float: left;
    width: 30%;
  }
  
  .eta-margin-two-way {
    margin: auto 10px;
  }
  
  .add-new-task-border {
    border-radius: 10px;
    display: block;
  }
  
  .width-50{
    width: 45%;
    
  }
  .itemRow{
    position: relative;
  }
  .delete-button{
    position: absolute;
    bottom: 5px;
    right: 10px;
  }

 
  /*table modification button styles starts*/
.table-modification-button-container{
  padding: var(--content-inside-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
  .modification-buttons {
  margin-right: var(--content-inside-padding);
  }
  
  /*table modification button styles ends*/
  .derivation-table{
  width: 100%;
  text-align: center;
  }
  .derivation-table,
  .derivation-table tr,
  .derivation-table th,
  .derivation-table td{
  border: solid 1px black;
  border-collapse: collapse;
  }
  .mat-chip{
    display: flex;
    justify-content: space-between;
  }
  .mat-chip-delete-button{
    float: right;
  }


  button.color-red svg-icon .svg{
    fill: red !important;
    
  }
  button.color-primary svg-icon .svg{
    fill: var(--primary) !important;
  }
  button.color-primary{
    color: var(--primary) !important;
  }
  button.color-red{
    color: red !important;
  }
  .svg-red .svg{
    fill: red !important;
  }