<div class="loading-indicator" *ngIf="isSpinnerShow==true">
    <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
  </div>
  
  
  <div class="view-height my-light-green-theme custom-popup">
    <div class="top-header" style="display: block">
      <h3 class="target-area-title ellipsisable-content"> {{actionValue}} Task in {{taskFlowName}} </h3>
      <button class="close-button" type="button" [mat-dialog-close]=taskId>
          <svg-icon  class="unit-icon" src="assets/svg-icons/clear.svg"></svg-icon>
      </button>
  
    </div>
  
  
    <form [formGroup]="taskfrm" (ngSubmit)="onSubmit(taskfrm.value)">
      <div mat-dialog-content class="flex-display">
  
        <div class="base-form">
          <div class="custom-control-row">
            <div class="custom-select custom-field custom-field-fw">
  
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Previous Task *</mat-label>
                <mat-select placeholder="Previous Task *" formControlName="previousTask" disableOptionCentering panelClass="custom-select-panel" [disabled]='disableSelect'
                  panelClass="custom-select-panel  popup-select">
                  <mat-option *ngFor="let pTask of allTask" [value]="pTask.taskID">
                    {{pTask.taskName}}
                  </mat-option>
                </mat-select>
                <mat-hint>Select Previous Task(s)</mat-hint>
  
                <mat-error
                  *ngIf="taskfrm.controls['previousTask'].invalid && taskfrm.controls['previousTask'].errors.required && taskfrm.controls['previousTask'].touched">
                  Previous Task is required.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
  
          <div class="custom-control-row">
            <div class="custom-field custom-field-fw">
              <mat-form-field appearance="outline" class="example-full-width">
                
                <mat-label> Name *</mat-label>
                <input matInput [(ngModel)]="duplicateTaskFlowName" [typeaheadAsync]="true"
                  [typeahead]="dataSourceTaskName" (typeaheadLoading)="changeTypeaheadLoadingTaskFlow($event)"
                  (typeaheadOnSelect)="typeaheadOnSelectTaskFlow($event)" [typeaheadOptionsLimit]="20"
                  typeaheadOptionField="taskName" (input)="checkOnKeyUpName($event)" placeholder="Name *"
                  maxlength="32" formControlName="taskName" [ngModelOptions]="{standalone: true}" (keypress)='omitSpecialChar($event)'>
                   <!-- pattern="^[A-Za-z][A-Za-z0-9~`!@#$%^&*()_+-={}\|?/,.:;' ]*$"> -->
  
                  <svg-icon matSuffix src="assets/svg-icons/search.svg"></svg-icon>
                <mat-hint>{{32 - duplicateTaskFlowName.length}} Characters Remaining.</mat-hint>
                <mat-error *ngIf="taskfrm.controls['taskName'].invalid && taskfrm.controls['taskName'].errors.required">
                  Name is required
                </mat-error>
                <mat-error
                  *ngIf="taskfrm.controls['taskName'].invalid &&
                   taskfrm.controls['taskName'].hasError('checkDuplicateTaskFlowName')">
                  Name has been already taken.</mat-error>  
                  <mat-error
                  *ngIf="taskfrm.get('taskName').hasError('invalidName')">
                  First letter should be alphabatic. 
                </mat-error>
                </mat-form-field>
            </div>
          </div>
  
          <div class="custom-control-row">
            <div class="custom-text-area">
              <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput #taskDes maxlength="256" formControlName="taskDes"></textarea>
                <mat-hint>{{256 - taskDes.value.length}} Characters Remaining.</mat-hint>
              </mat-form-field>
            </div>
          </div>
  
          <div class="custom-control-row">
            <div class="custom-select custom-field custom-field-fw">
              <mat-form-field appearance="outline">
                <mat-label>Category *</mat-label>
                <mat-select placeholder="Category *" formControlName="category"
                  (selectionChange)="categoryChange($event.value,0)" disableOptionCentering
                  panelClass="custom-select-panel ">
                  <mat-option *ngFor="let cat of category" [value]="cat.taskTypeID">
                    {{cat.taskTypeName}}
                  </mat-option>
                </mat-select>
                <mat-hint>Select Task Category</mat-hint>
  
                <mat-error
                  *ngIf="taskfrm.controls['category'].invalid && taskfrm.controls['category'].errors.required && taskfrm.controls['category'].touched">
                  Category is required.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
  
          <div class="custom-control-row">
            <div class="custom-select custom-field custom-field-fw">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Type *</mat-label>
                <mat-select placeholder="Task Type *" (selectionChange)="taskTypeFx($event.value)"
                  formControlName="taskType" disableOptionCentering panelClass="custom-select-panel ">
                  <mat-option *ngFor="let subTask of subTaskType" [value]="subTask.subTaskTypeId">
                    {{subTask.subTaskTypeName}}
                  </mat-option>
                </mat-select>
                <mat-hint>Select Task Type</mat-hint>
  
                <mat-error
                  *ngIf="taskfrm.controls['taskType'].invalid && taskfrm.controls['taskType'].errors.required && taskfrm.controls['taskType'].touched">
                  Type is required.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
  
          <!-- <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Container</mat-label>
            <mat-select placeholder="Container" formControlName="container">
              <mat-option *ngFor="let dc of dataContainer" [value]="dc.dataContainerID">
                {{dc.dataContainerName}}
              </mat-option>
            </mat-select>
            <mat-hint>Select Container. Add new if required.</mat-hint>
          </mat-form-field> -->
  
  
          <div *ngIf="categoryValue ==1 " class="custom-control-row">
            <div class="custom-field custom-field-fw">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Privilege *</mat-label>
                <input matInput #FDE placeholder="Privilege *" formControlName="privilege">
                <svg-icon matSuffix src="assets/svg-icons/search.svg"></svg-icon>
                <mat-hint>Auto generated. Editable only when Human Category is selectd</mat-hint>
                <mat-error
                  *ngIf="taskfrm.controls['privilege'].invalid && taskfrm.controls['privilege'].errors.required && taskfrm.controls['privilege'].touched">
                  Privilege is required.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
  
  
  
  
        </div>
        <!-- Humans Task  -->
        <!-- Fill Application Start -->
  
        <!-- Fill Application END-->
        <div *ngIf="taskTypeId==1 || taskTypeId==3" class="expanded-form">
          <div class="custom-control-row">
            <div class="custom-select custom-field custom-field-fw">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Form *</mat-label>
                <mat-select placeholder=" Form *" formControlName="form" disableOptionCentering
                  panelClass="custom-select-panel ">
                  <mat-option *ngFor="let form of allForm" [value]="form.formID">
                    {{form.formName}}
                  </mat-option>
                </mat-select>
                <mat-hint>Select Form.</mat-hint>
                <mat-error
                  *ngIf="taskfrm.controls['form'].invalid && taskfrm.controls['form'].errors.required && taskfrm.controls['form'].touched">
                  Form is required.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
  
        <!-- Human Task END -->
  
        <!-- Derivation Task Type Start -->
        <div *ngIf="taskTypeId==10" class="expanded-form" formArrayName="darivationTaskList">
  
          <div *ngFor="let itemrow of taskfrm.controls.darivationTaskList.controls; let i=index" [formGroupName]="i">
            <div class="add-new-task-border itemRow">
              <!--  -->
              <div class="custom-control-row">
                <div class="custom-select custom-field custom-field-fw">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Operand *</mat-label>
                    <mat-select placeholder="Container" formControlName="dataElementOneID" disableOptionCentering
                      panelClass="custom-select-panel ">
                      <mat-option *ngFor="let dc of dataElementList" [value]="dc">
                        {{dc.elementName}}
                      </mat-option>
                    </mat-select>
                    <mat-hint>Select Operand. </mat-hint>
                    <mat-error
                      *ngIf="itemrow.get('dataElementOneID').invalid && itemrow.get('dataElementOneID').errors.required && itemrow.get('dataElementOneID').touched">
                      Operand is required.
                    </mat-error>
                    <!-- <mat-error *ngIf="itemrow.get('dataElementOneID').invalid && sameAsdataElement1 && itemrow.get('dataElementOneID').value.length>0">
                        Role name  already taken.
                      </mat-error> -->
                    <!-- <mat-error
                      *ngIf="itemrow.get('dataElementOneID').errors?.myError">
                      Data Element One and Data Element Two can not be same.
                    </mat-error> -->
                    <!-- <mat-error
                      *ngIf="itemrow.get('dataElementOneID').errors?.newError">
                      Data Element One and Target Data Element can not be same.
                    </mat-error> -->
                  </mat-form-field>
                </div>
                <!-- (selectionChange)="dataElement1Data($event.value)" -->
              </div>
              <!--  -->
  
              <!--  -->
              <div class="custom-control-row">
                <div class="custom-select custom-field custom-field-fw">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Operator *</mat-label>
                    <mat-select placeholder="Container" formControlName="derivationOperatorID" disableOptionCentering
                      panelClass="custom-select-panel ">
                      <ng-container *ngFor="let relationaOpt of relationalOpraters">
                        <mat-option *ngIf="relationaOpt.operatorsType==='arithmetic'" [value]="relationaOpt">
                          {{relationaOpt.operator}}
                        </mat-option>
  
                      </ng-container>
                      <!-- <mat-option *ngFor='let operator of operators' [value]='operator'> {{operator.name}} </mat-option> -->
                    </mat-select>
                    <mat-hint>Select Operator.</mat-hint>
                    <mat-error
                      *ngIf="(itemrow.get('derivationOperatorID').errors && (itemrow.get('derivationOperatorID').dirty || itemrow.get('derivationOperatorID').touched))">
                      Operator is required.
                    </mat-error>
                  </mat-form-field>
                </div>
                <!-- (selectionChange)='checkOperator($event.value)' -->
              </div>
  
              <!--  -->
  
              <!--  -->
              <div class="custom-control-row">
                <div class="custom-select custom-field custom-field-fw">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Operand *</mat-label>
                    <mat-select placeholder="Container" formControlName="dataElementTwoID" disableOptionCentering
                      panelClass="custom-select-panel ">
                      <mat-option *ngFor="let dc of dataElementList" [value]="dc">
                        {{dc.elementName}}
                      </mat-option>
                    </mat-select>
                    <mat-hint>Select Operand. </mat-hint>
                    <mat-error
                      *ngIf="itemrow.get('dataElementTwoID').invalid && itemrow.get('dataElementTwoID').errors.required && itemrow.get('dataElementTwoID').touched">
                      Operand is required.
                    </mat-error>
                    <!-- <mat-error
                      *ngIf="itemrow.get('dataElementTwoID').errors?.myError">
                      Data Element One and Data Element Two can not be same.
                    </mat-error> -->
                  </mat-form-field>
                </div>
                <!-- (selectionChange)="dataElement2Data($event.value)"  -->
              </div>
              <!--  -->
  
              <!--  -->
              <div class="custom-control-row">
                <div class="custom-select custom-field custom-field-fw">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Operand *</mat-label>
                    <mat-select placeholder="Container" #message[i] formControlName="derivationDataElementID"
                      disableOptionCentering panelClass="custom-select-panel ">
                      <mat-option *ngFor="let dc of dataElementList" [value]="dc">
                        {{dc.elementName}}
                      </mat-option>
                    </mat-select>
                    <mat-hint>Select Container. Add new if required.</mat-hint>
                    <mat-error
                      *ngIf="itemrow.get('derivationDataElementID').invalid && itemrow.get('derivationDataElementID').errors.required && itemrow.get('derivationDataElementID').touched">
                      Operand is required.
                    </mat-error>
                    <!-- <mat-error
                      *ngIf="itemrow.get('derivationDataElementID').errors?.newError">
                      Data Element One and Target Data Element can not be same.
                    </mat-error> -->
                  </mat-form-field>
                </div>
                <!-- (selectionChange)='dataElement3Data($event.value)' -->
              </div>
              <!--  -->
              <button *ngIf="i>0" class="delete-button color-red" type="button" 
                (click)="deleteRowForDerivationTask(i)">
                <svg-icon class="unit-icon display-inline-block svg-red" src="assets/svg-icons/remove_circle.svg"></svg-icon> 
              </button>
            </div>
  
          </div>
          <!-- Repeating Button Start -->
          <!-- table modification button group -->
          <div *ngIf="taskTypeId==10 && taskTypeId!=null" class='table-modification-button-container top-container-row'>
            <div class="inner-center-division">
              <mat-checkbox class="custom-checkbox-without-margin modification-buttons vertical-align-middle">
              </mat-checkbox>
              <button type="button" class="modification-buttons button-as-icon vertical-align-middle"
                (click)="addDerivationData()" [disabled]='btnDisable'>
                <svg-icon class="unit-control-icon no-padding-svg" src="assets/svg-icons/add_box.svg"></svg-icon>
              </button>
            </div>
          </div>
  
          <mat-toolbar *ngIf="taskTypeId==10" style="margin-bottom: var(--content-inside-padding)"
            class="no-padding eta-dynamic-height eta-heading-background">
            <div class="eta-table-constant-width-column-first text-align-center display-inline-block">#</div>
            <h4 class="body-text1">Derivations</h4>
          </mat-toolbar>
          <table class="derivation-table">
            <tr>
              <th>S.No</th>
              <th>Derivations</th>
              <th>Action</th>
            </tr>
            <tr *ngFor='let data of derivationData, index as i'>
              <td class="eta-table-constant-width-column-first">{{i+1}}</td>
              <td>
                {{data.dataElementOneID}}&nbsp;{{data.derivationOperatorID}}&nbsp;{{data.dataElementTwoID}}&nbsp;=&nbsp;{{data.derivationDataElementID}}
              </td>
              <td>
                <button type="button" class="button-as-icon color-red" (click)="deleteRowForDerivationTask(i)">
                    <svg-icon class="unit-icon display-inline-block svg-red" src="assets/svg-icons/remove_circle.svg"></svg-icon>
                </button>
              </td>
  
            </tr>
          </table>
  
          <!-- Repeating Button Start -->
        </div>
        <!-- Repeating block close -->
  
        <!-- Derivation Task Type END -->
  
        <!-- List Of All Send Notifications Template Start  -->
        <div *ngIf="taskTypeId==2" class="expanded-form">
          <div class="custom-control-row">
            <div class="custom-select custom-field custom-field-fw">
              <mat-form-field appearance="outline">
                <mat-label>Template Name *</mat-label>
                <mat-select placeholder="Template Name *" name="configId" formControlName="templateName"
                  disableOptionCentering panelClass="custom-select-panel ">
                  <mat-option *ngFor="let el of templateNameList" [value]="el.mailSendEvent">
                    {{el.mailSendEvent}}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="taskfrm.controls['templateName'].invalid && taskfrm.controls['templateName'].errors.required && taskfrm.controls['templateName'].touched">
                  Template Name is required.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <!-- List Of All Send Notifications Template Start -->
  
  
        <!-- Two Way Router Task START -->
        <!--  Border START -->
        <div *ngIf="taskTypeId==5" class="expanded-form">
          <div class="custom-control-row">
            <div class="custom-select custom-field custom-field-l">
              <mat-form-field appearance="outline">
                <mat-label>DataElement 1*</mat-label>
                <mat-select placeholder="DataElement 1*" formControlName="firstDataElement"
                  (selectionChange)="OtherConstantValue($event.value)" disableOptionCentering
                  panelClass="custom-select-panel ">
                  <mat-option *ngFor="let dataElement of dataElementList" [value]="dataElement.elementId">
                    {{dataElement.elementName}}
                  </mat-option>
                  <!-- <mat-option [value]="100">
                    A
                  </mat-option> -->
  
                </mat-select>
                <mat-error
                  *ngIf="taskfrm.controls['firstDataElement'].invalid && taskfrm.controls['firstDataElement'].errors.required && taskfrm.controls['firstDataElement'].touched">
                  DataElement 1 is required.
                </mat-error>
              </mat-form-field>
            </div>
  
            <div class="custom-select custom-field custom-field-l">
              <mat-form-field appearance="outline">
                <mat-label>Relational Oprater*</mat-label>
                <mat-select placeholder="Relational Oprater *" formControlName="relationalOpraters" disableOptionCentering
                  panelClass="custom-select-panel ">
                  <ng-container *ngFor="let relationaOpt of relationalOpraters">
                    <mat-option *ngIf="relationaOpt.operatorsType==='relational'" [value]="relationaOpt.id">
                      {{relationaOpt.operator}}
                    </mat-option>
                  </ng-container>
                </mat-select>
                <mat-error
                  *ngIf="taskfrm.controls['relationalOpraters'].invalid && taskfrm.controls['relationalOpraters'].errors.required && taskfrm.controls['relationalOpraters'].touched">
                  Relational Oprater is required.
                </mat-error>
              </mat-form-field>
            </div>
  
            <div class="custom-select custom-field custom-field-l">
              <mat-form-field appearance="outline">
                <mat-label>DataElement 2*</mat-label>
                <mat-select placeholder="DataElement 2*" formControlName="secondDataElement"
                  (selectionChange)="OtherConstantValue1($event.value)" disableOptionCentering
                  panelClass="custom-select-panel ">
                  <mat-option *ngFor="let dataElement of dataElementList" [value]="dataElement.elementId">
                    {{dataElement.elementName}}
                  </mat-option>
                  <mat-option [value]="-2">
                    Constant Value
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="taskfrm.controls['secondDataElement'].invalid && taskfrm.controls['secondDataElement'].errors.required && taskfrm.controls['secondDataElement'].touched">
                  DataElement 2 is required.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
  
  
          <!-- <div *ngIf="showConstantTextBox1== -1" class="custom-control-row">
            <div class="custom-select custom-field custom-field-xl">
              <mat-form-field appearance="outline" class="two-way-banding">
                <input matInput #message placeholder="Enter Constant1 Value" formControlName="OtherConstant1">
                <mat-error
                  *ngIf="(itemrow.get('OtherConstant1').errors && (itemrow.get('OtherConstant1').dirty || itemrow.get('OtherConstant1').touched))">
                  Constant1 Value is required.
                </mat-error>
              </mat-form-field>
            </div> -->
          <mat-form-field class="two-way-banding" style="margin-right: 10px; float: right;"
            *ngIf="showConstantTextBox2 == -2">
            <input matInput #message placeholder="Enter Constant2 Value" formControlName="OtherConstant2">
            <mat-error
              *ngIf="taskfrm.controls['OtherConstant2'].invalid && taskfrm.controls['OtherConstant2'].errors.required && taskfrm.controls['OtherConstant2'].touched">
              Constant2 Value is required.
            </mat-error>
          </mat-form-field>
          <!-- </div> -->
  
  
          <div formArrayName="itemRows">
  
            <div *ngFor="let itemrow of taskfrm.controls.itemRows.controls; let i=index" [formGroupName]="i">
  
              <div class="add-new-task-border itemRow">
                <div class="custom-control-row">
                  <div class="custom-select custom-field custom-field-fw">
                    <mat-form-field appearance="outline">
                      <mat-select placeholder="Logical Oprater *" formControlName="relationalConditionRow"
                      disableOptionCentering panelClass="custom-select-panel">
                        <ng-container *ngFor="let relationaOpt of relationalOpraters">
                          <mat-option *ngIf="relationaOpt.operatorsType==='logical'" [value]="relationaOpt.id">
                            {{relationaOpt.operator}}
                          </mat-option>
                        </ng-container>
                      </mat-select>
                      <mat-error
                        *ngIf="(itemrow.get('relationalConditionRow').errors && (itemrow.get('relationalConditionRow').dirty || itemrow.get('relationalConditionRow').touched))">
                        This Field is required.
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
  
                <div class="custom-control-row display-flex">
                  <div class="custom-select custom-field custom-field-l">
                    <mat-form-field appearance="outline" class="two-way-banding">
                      <mat-select placeholder="DataElement 1 *" formControlName="firstDataElementRow"
                      disableOptionCentering panelClass="custom-select-panel"
                        (selectionChange)="repeatingOtherConstantValue2($event.value ,i)">
  
                        <mat-option *ngFor="let dataElement of dataElementList" [value]="dataElement.elementId">
                          {{dataElement.elementName}}
                        </mat-option>
                        <mat-option [value]="-1">
                          Other first
                        </mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="(itemrow.get('firstDataElementRow').errors && (itemrow.get('firstDataElementRow').dirty || itemrow.get('firstDataElementRow').touched))">
                        This Field is required.
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="custom-select custom-field custom-field-l">
                    <mat-form-field appearance="outline" class="two-way-banding eta-margin-two-way">
                      <mat-select placeholder="Relational Oprater *" formControlName="relationalOpratersRow"
                      disableOptionCentering panelClass="custom-select-panel">
                        <ng-container *ngFor="let relationaOpt of relationalOpraters">
                          <mat-option *ngIf="relationaOpt.operatorsType==='relational'" [value]="relationaOpt.id">
                            {{relationaOpt.operator}}
                          </mat-option>
                        </ng-container>
                      </mat-select>
                      <mat-error
                        *ngIf="(itemrow.get('relationalOpratersRow').errors && (itemrow.get('relationalOpratersRow').dirty || itemrow.get('relationalOpratersRow').touched))">
                        This Field is required.
                      </mat-error>
                    </mat-form-field>
                  </div>
  
                  <div class="custom-select custom-field custom-field-l">
                    <mat-form-field appearance="outline" class="two-way-banding">
                      <mat-select placeholder="DataElement 2 *" formControlName="secondDataElementRow"
                        (selectionChange)="repeatingOtherConstantValue2($event.value, i)"
                        disableOptionCentering panelClass="custom-select-panel">
                        <mat-option *ngFor="let dataElement of dataElementList" [value]="dataElement.elementId">
                          {{dataElement.elementName}}
                        </mat-option>
                        <mat-option [value]="-2">
                          Other Constant
                        </mat-option>
  
                        <!-- <mat-option [value]="100">
                          A
                        </mat-option> -->
  
                      </mat-select>
                      <mat-error
                        *ngIf="(itemrow.get('secondDataElementRow').errors && (itemrow.get('secondDataElementRow').dirty || itemrow.get('secondDataElementRow').touched))">
                        This Field is required.
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="control-button-container display-flex">
                      <button class="button-as-icon color-red" type="button"  (click)="deleteRow(i)">
                          <svg-icon  class="unit-icon svg-red" src="assets/svg-icons/remove_circle.svg"></svg-icon>
                        </button>
                  </div>
                </div>
                <mat-form-field class="two-way-banding" *ngIf="repeatingBlockConstantValue1 == -1 &&  i == currentIndex">
                  <input matInput #message placeholder="Enter Constant1 Value" formControlName="OtherConstant1">
                </mat-form-field>
  
                <mat-form-field class="two-way-banding" style="margin-right: 15px; float: right;"
                  *ngIf="repeatingBlockConstantValue2 === -2 &&  i === currentIndex">
                  <input matInput #message placeholder="Enter Constant2 Value" formControlName="OtherConstant2"
                    type="text" required>
                  <mat-error
                    *ngIf="(itemrow.get('OtherConstant2').errors && (itemrow.get('OtherConstant2').dirty || itemrow.get('OtherConstant2').touched))">
                    Constant2 Value is required.
                  </mat-error>
                </mat-form-field>
  
  
                
              </div>
  
            </div>
          </div>
  
          <button class="color-primary button-as-icon" style="float:right; width: 100%; margin-bottom: var(--vertical-space-between-rows)" type="button"  (click)="addNewRow()">
            Add more conditions
            <svg-icon class="unit-icon display-inline-block" src="assets/svg-icons/add_circle.svg"></svg-icon>
          </button>
  
          <div class="inner-flex-container">
            <div *ngIf="showSuccessForTrueTask" class="success">
              <!-- <i class="material-icons check-box-icon unit-control-icon icon-without-padding">check_box</i> -->
              <p>Successfully added <span>{{ newTrueTaskName }}</span>.</p>
              <!--  and placed it at the end of the display order. Drag it up to reorder.  -->
  
              <button class="remove-alert-button button-without-background " (click)="removeSuccess()">
                <i class="material-icons unit-control-icon icon-without-padding cancel-icon">cancel </i>
              </button>
  
            </div>
            <div *ngIf="showSuccessForFalseTask" class="success">
              <!-- <i class="material-icons check-box-icon unit-control-icon icon-without-padding">check_box</i> -->
              <p>Successfully added <span>{{newFalseTaskName}}</span>.</p>
              <!--  and placed it at the end of the display order. Drag it up to reorder.  -->
  
              <button class="remove-alert-button button-without-background " (click)="removeSuccess()">
                <i class="material-icons unit-control-icon icon-without-padding cancel-icon">cancel </i>
              </button>
  
            </div>
          </div>
  
          <div class="custom-control-row">
            <div class="custom-select custom-field custom-field-xl">
              <mat-form-field appearance="outline">
                <mat-select placeholder="True *" formControlName="taskTrue" disableOptionCentering
                  panelClass="custom-select-panel ">
                  <mat-option *ngFor="let el of allTask" [value]="el.taskID">
                    {{el.taskName}}
                  </mat-option>
                  <button mat-button color="primary" class="add-button" (click)="openTaskTrueDialog()">
                    <mat-icon>add</mat-icon>
                    Add New Task
                  </button>
                </mat-select>
                <mat-error
                  *ngIf="taskfrm.controls['taskTrue'].invalid && taskfrm.controls['taskTrue'].errors.required && taskfrm.controls['taskTrue'].touched">
                  This Field is required.
                </mat-error>
              </mat-form-field>
            </div>
  
            <div class="custom-select custom-field custom-field-xl">
              <mat-form-field appearance="outline">
                <mat-select placeholder="False *" formControlName="taskFalse" disableOptionCentering
                  panelClass="custom-select-panel ">
                  <mat-option *ngFor="let el of allTask" [value]="el.taskID">
                    {{el.taskName}}
                  </mat-option>
                  <button mat-button color="primary" class="add-button" (click)="openTaskFalseDialog()">
                    <mat-icon>add</mat-icon>
                    Add New Task
                  </button>
                </mat-select>
                <mat-error
                  *ngIf="taskfrm.controls['taskFalse'].invalid && taskfrm.controls['taskFalse'].errors.required && taskfrm.controls['taskFalse'].touched">
                  This Field is required.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <!-- Two Way Router Task IF/ELSE Conditions END  -->
  
        <!-- Splitter Task Display Chip End  -->
  
  
  
        <!-- Splitter Task Display Chip Started  -->
  
        <!-- <div class="custom-control-row" *ngIf="taskTypeId== 6 && taskTypeId!=null">
          
          
        </div> -->
        <div *ngIf="taskTypeId== 6 && taskTypeId!=null" class="expanded-form">
  
            
          <!-- <button *ngIf="subTaskValue==6" type="button" mat-raised-button color="primary" class="eta-float-right eta-margin-all"
              (click)="openDialog()"> Splitter
              Task</button> -->
          
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let task of splitter_task" [selectable]="selectable" [removable]="removable"
              (removed)="remove(task)">
              <span> {{task.name}}</span>
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              <button class="mat-chip-delete-button color-red" type="button" (click)="deleteSplitterTask(i, task.id)">
                  <svg-icon class="unit-icon display-inline-block svg-red" src="assets/svg-icons/remove_circle.svg"></svg-icon>
              </button>
            </mat-chip>
            <!--   <input placeholder="New fruit..."
                       [matChipInputFor]="chipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="addOnBlur"
                       (matChipInputTokenEnd)="add($event)"> -->
          </mat-chip-list>
          <button *ngIf="taskTypeId== 6 && taskTypeId!=null" class="color-primary button-as-icon" style="float:right; width: auto" type="button" (click)="openDialog('Add')">
            Add Splitter Tasks
            <svg-icon class="unit-icon display-inline-block" src="assets/svg-icons/add_circle.svg"></svg-icon>
          </button>
  
  <br><br>
          
  
  
          <!-- Splitter Task Display Chip End  -->
          <!-- Splitter Task Display Chip Started  -->
          <!-- <button *ngIf="subTaskValue==6" type="button" mat-raised-button color="primary" class="eta-float-right eta-margin-all"
              (click)="openDialog()"> Splitter
              Task</button> -->
  
          <!--   <mat-divider></mat-divider> -->
          <hr *ngIf="taskTypeId== 6 && taskTypeId!=null ">
  
          <div class="custom-select custom-field custom-field-fw">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Joiner Task *</mat-label>
              <mat-select placeholder="Joiner Task *" formControlName="joinerTask"
                disableOptionCentering panelClass="custom-select-panel ">
                <mat-option [value]="1">
                  ANDing Joiner
                </mat-option>
                <mat-option [value]="2">
                  ORing Joiner
                </mat-option>
              </mat-select>
              <mat-hint>Select Joiner Task.</mat-hint>
              <mat-error
                *ngIf="taskfrm.controls['joinerTask'].invalid && taskfrm.controls['joinerTask'].errors.required && taskfrm.controls['joinerTask'].touched">
                This Field is required.
              </mat-error>
            </mat-form-field>
          </div>
  
          
  
  
          <mat-chip-list #chipList>
            <mat-chip class="mat-chip" *ngFor="let task of joinner_task ; index as i" [selectable]="selectable" [removable]="removable"
              (removed)="remove(task)">
             <span> {{task.name}}</span>
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              <button class="mat-chip-delete-button color-red" type="button" (click)="deleteJoinerTask(i, task.id)">
                  <svg-icon class="unit-icon display-inline-block svg-red" src="assets/svg-icons/remove_circle.svg"></svg-icon>
              </button>
            </mat-chip>
          </mat-chip-list>
          <button *ngIf="taskTypeId== 6 && taskTypeId!=null && joinner_task.length==0" class="color-primary button-as-icon" style="float:right; width: auto" type="button"
             (click)="openFutureTaskDialog('Add')">
            Add Joiner Task
            <svg-icon class="unit-icon display-inline-block" src="assets/svg-icons/add_circle.svg"></svg-icon>
          </button>
  
        </div>
        <!-- Splitter Task Display Chip End  -->
  
  
        <!-- Business Rule Task Start Here-->
        <div *ngIf="taskTypeId==15 && taskTypeId!=null" class="expanded-form">
          <!-- <mat-form-field class="two-way-banding">
            <mat-select placeholder="DataElement 1" formControlName="bRuleFirstDataElement"
              (selectionChange)="OtherConstantValue($event.value)">
              <mat-option *ngFor="let dataElement of dataElementList" [value]="dataElement.dataElementID">
                {{dataElement.dataElementName}}
              </mat-option>
               <mat-option [value]="-1" >
                      Other If
                    </mat-option>
                    <mat-option [value]="1" >
                      Any
                    </mat-option>
            </mat-select>
            <mat-error
                  *ngIf="taskfrm.controls['bRuleFirstDataElement'].invalid && taskfrm.controls['bRuleFirstDataElement'].errors.required && taskfrm.controls['bRuleFirstDataElement'].touched">
                  This Field is required.
                </mat-error>
          </mat-form-field> -->
  
          <!-- <mat-form-field class="two-way-banding eta-margin-two-way">
            <mat-select placeholder="Relational Oprater" formControlName="bRuleRelationalOpraters">
              <ng-container *ngFor="let relationaOpt of relationalOpraters">
                <mat-option *ngIf="relationaOpt.operatorsType==='relational'" [value]="relationaOpt.id">
                  {{relationaOpt.operator}}
                </mat-option>
              </ng-container>
            </mat-select>
            <mat-error
                  *ngIf="taskfrm.controls['bRuleRelationalOpraters'].invalid && taskfrm.controls['bRuleRelationalOpraters'].errors.required && taskfrm.controls['bRuleRelationalOpraters'].touched">
                  This Field is required.
                </mat-error>
          </mat-form-field> -->
          <!-- <mat-form-field class="two-way-banding">
            <mat-select placeholder="DataElement 2" formControlName="bRuleSecondDataElement"
              (selectionChange)="OtherConstantValue2($event.value)">
              <mat-option *ngFor="let dataElement of dataElementList" [value]="dataElement.dataElementID">
                {{dataElement.dataElementName}}
              </mat-option>
              <mat-option [value]="-2">
                Constant Value
              </mat-option>
              <mat-option [value]="5">
                A
              </mat-option>
            </mat-select>
            <mat-error
                  *ngIf="taskfrm.controls['bRuleSecondDataElement'].invalid && taskfrm.controls['bRuleSecondDataElement'].errors.required && taskfrm.controls['bRuleSecondDataElement'].touched">
                  This Field is required.
                </mat-error>
          </mat-form-field> -->
  
          <!-- <mat-form-field class="two-way-banding" *ngIf="showConstantTextBox1== -1">
            <input matInput #message placeholder="Enter Constant1 Value" formControlName="OtherConstant1">
            <mat-error
                  *ngIf="taskfrm.controls['OtherConstant1'].invalid && taskfrm.controls['OtherConstant1'].errors.required && taskfrm.controls['OtherConstant1'].touched">
                  This Field is required.
                </mat-error>
          </mat-form-field>
  
          <mat-form-field class="two-way-banding" style="margin-right: 15px; float: right;"
            *ngIf="showConstantTextBox3 == -2">
            <input matInput #message placeholder="Enter Constant2 Value" formControlName="bRuleOtherConstant2">
            <mat-error
                  *ngIf="taskfrm.controls['bRuleOtherConstant2'].invalid && taskfrm.controls['bRuleOtherConstant2'].errors.required && taskfrm.controls['bRuleOtherConstant2'].touched">
                  This Field is required.
                </mat-error>
          </mat-form-field> -->
  
          <!-- Business Task For Excute on condition Start here -->
          <!-- <mat-form-field class="example-full-width">
            <mat-select placeholder="Business Task For above condition" formControlName="businessRuleTask">
              <mat-option *ngFor="let el of allTask" [value]="el.taskID">
                {{el.taskName}}
              </mat-option>
              <button mat-button color="primary" class="add-button" (click)="openTaskTrueDialog()">
                <mat-icon>add</mat-icon>
                Add New Task
              </button>
            </mat-select>
            <mat-error
                  *ngIf="taskfrm.controls['businessRuleTask'].invalid && taskfrm.controls['businessRuleTask'].errors.required && taskfrm.controls['businessRuleTask'].touched">
                  This Field is required.
                </mat-error>
          </mat-form-field> -->
          <!-- Business Task for Excute on condition ends Here -->
  
          <!-- repeating loop for business rule start here-->
          <div *ngIf="taskTypeId==15 && taskTypeId!=null" formArrayName="businessRuleRow">
            <div *ngFor="let itemrow of taskfrm.controls.businessRuleRow.controls; let i=index" [formGroupName]="i">
  
              <!-- Border START -->
              <div  class="add-new-task-border itemRow">
                <div class="custom-control-row">
                  <div class="custom-select custom-field custom-field-l">
                <mat-form-field appearance="outline">
                  <mat-select placeholder="DataElement 1" formControlName="bRulefirstDataElementRow"
                    (selectionChange)="OtherConstantValue($event.value)" 
                    disableOptionCentering panelClass="custom-select-panel">
                    <mat-option *ngFor="let dataElement of dataElementList" [value]="dataElement.elementId">
                      {{dataElement.elementName}}
                    </mat-option>
                    <!-- <mat-option [value]="-1">
                      Other If
                    </mat-option> -->
                    <mat-option [value]="10">
                      Other If
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="(itemrow.get('bRulefirstDataElementRow').errors && (itemrow.get('bRulefirstDataElementRow').dirty || itemrow.get('bRulefirstDataElementRow').touched))">
                    DataElement 1 Value is required.
                  </mat-error>
                </mat-form-field>
                </div>
                <div *ngIf="showConstantTextBox1== -1" class="custom-field custom-field-l">
                <mat-form-field appearance="outline" >
                  <input matInput #message placeholder="Enter Constant1 Value" formControlName="OtherConstant">
                  <mat-error
                    *ngIf="taskfrm.controls['OtherConstant1'].invalid && taskfrm.controls['OtherConstant1'].errors.required && taskfrm.controls['OtherConstant1'].touched">
                    This Field is required.
                  </mat-error>
                </mat-form-field>
                </div>
                <div class="custom-select custom-field custom-field-l">
                <mat-form-field appearance="outline">
                  <mat-select placeholder="Relational Oprater" formControlName="bRuleRelationalOpratersRow"
                  disableOptionCentering panelClass="custom-select-panel">
                    <ng-container *ngFor="let relationaOpt of relationalOpraters">
                      <mat-option *ngIf="relationaOpt.operatorsType==='relational'" [value]="relationaOpt.id">
                        {{relationaOpt.operator}}
                      </mat-option>
                    </ng-container>
                  </mat-select>
                  <mat-error
                    *ngIf="(itemrow.get('bRuleRelationalOpratersRow').errors && (itemrow.get('bRuleRelationalOpratersRow').dirty || itemrow.get('bRuleRelationalOpratersRow').touched))">
                    Relational Oprater Value is required.
                  </mat-error>
                </mat-form-field>
  </div>
  <div class="custom-select custom-field custom-field-l">
                <mat-form-field appearance="outline">
                  <mat-select placeholder="DataElement 2" formControlName="bRuleSecondDataElementRow"
                    (selectionChange)="bRuleSecondDataConstant($event.value,i)"
                    disableOptionCentering panelClass="custom-select-panel">
                    <mat-option *ngFor="let dataElement of dataElementList" [value]="dataElement.elementId">
                      {{dataElement.elementName}}
                    </mat-option>
                    <mat-option [value]="-2">
                      Constant Value
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="(itemrow.get('bRuleSecondDataElementRow').errors && (itemrow.get('bRuleSecondDataElementRow').dirty || itemrow.get('bRuleSecondDataElementRow').touched))">
                    DataElement 2 Value is required.
                  </mat-error>
                </mat-form-field>
  </div>
                <!--     <mat-form-field class="two-way-banding" *ngIf="showConstantTextBox1== -1">
                        <input matInput #message placeholder="Enter Constant1 Value" formControlName="OtherConstant1">
                      </mat-form-field> -->
                      <div *ngIf="showConstantTextBox2ForBesinessRule == -2" class="custom-field custom-field-l" >
                <mat-form-field appearance="outline">
                  <input matInput #message placeholder="Enter Constant2 Value" formControlName="bRuleOtherConstantRow">
                  <mat-error
                    *ngIf="(itemrow.get('bRuleOtherConstantRow').errors && (itemrow.get('bRuleOtherConstantRow').dirty || itemrow.get('bRuleOtherConstantRow').touched))">
                    Constant2 Value is required.
                  </mat-error>
                </mat-form-field>
                </div>
              </div>
                <!-- Business Task For Excute on condition Start here -->
                <div class="custom-control-row display-flex">
                <div class="custom-select custom-field custom-field-fw">
                    <mat-form-field appearance="outline">
                  <mat-select placeholder="Business Task For above condition" formControlName="businessRuleTaskRow"
                  disableOptionCentering panelClass="custom-select-panel">
                    <mat-option *ngFor="let el of allTask" [value]="el.taskID">
                      {{el.taskName}}
                    </mat-option>
                    <button mat-button color="primary" class="add-button" (click)="openTaskTrueDialog()">
                      <mat-icon>add</mat-icon>
                      Add New Task
                    </button>
                  </mat-select>
                  <mat-error
                    *ngIf="(itemrow.get('businessRuleTaskRow').errors && (itemrow.get('businessRuleTaskRow').dirty || itemrow.get('businessRuleTaskRow').touched))">
                    This field Value is required.
                  </mat-error>
                </mat-form-field>
                </div>
                <div class="control-button-container display-flex">
                    <button type="button" class="color-red button-as-icon" (click)="deleteBusinessRule(i)"
                    *ngIf="i>0">
                    <svg-icon class="unit-icon display-inline-block svg-red" src="assets/svg-icons/remove_circle.svg"></svg-icon>
                  </button>
                </div>
              </div>
               
              </div>
              <!-- Border END -->
  
            </div>
          </div>
          <!-- Repeating block close -->
          <button *ngIf="taskTypeId==15 && taskTypeId!=null" class="color-primary button-as-icon" style=" float:right; width: 100%; margin-bottom: var(--vertical-space-between-rows)" type="button"
           (click)="addNewBusinessRule()">
            Add more conditions
            <svg-icon class="unit-icon display-inline-block" src="assets/svg-icons/add_circle.svg"></svg-icon>
          </button>
  
  
  
          <!-- Business Task For Excute on condition Else Condition  Start here -->
          <div class="custom-control-row">
            <div class="custom-field custom-select custom-field-fw">
          <mat-form-field appearance="outline">
            <mat-select placeholder="Default Business Rule Task  " formControlName="businessRuleElseTask"
            disableOptionCentering panelClass="custom-select-panel">
              <mat-option *ngFor="let el of allTask" [value]="el.taskID">
                {{el.taskName}}
              </mat-option>
              <button mat-button color="primary" class="add-button" (click)="openTaskTrueDialog()">
                <mat-icon>add</mat-icon>
                Add New Task
              </button>
            </mat-select>
            <mat-error
              *ngIf="taskfrm.controls['businessRuleElseTask'].invalid && taskfrm.controls['businessRuleElseTask'].errors.required && taskfrm.controls['businessRuleElseTask'].touched">
              This Field is required.
            </mat-error>
          </mat-form-field>
          </div>
          </div>
          <!-- Business Task For Excute on condition Else Condition  Start END -->
          <!-- repeating loop for business rule start Ends Here-->
        </div>
        <!-- Business Rule task End here -->
  
      </div>
  
  
      <div class="flex-display">
        <div class="button-row flex-btn">
          <button type="submit" class="button" [disabled]="(taskfrm.invalid) || disableSubmit"
            *ngIf='actionValue !="Edit"'>SUBMIT</button>
          <button class="button" type="button" [disabled]="(taskfrm.invalid) || disableSubmit" *ngIf='actionValue=="Edit"'
            (click)='update()'>UPDATE</button>&nbsp;
          <button class="eta-margin-all" type="button" [mat-dialog-close]=responseMsg class="button">CANCEL</button>
        </div>
      </div>
  
    </form>
    <!-- {{taskfrm.value|json}} -->
  
  </div>