<div class="modal-dialog my-light-green-theme" [ngStyle]="{'display':display}" id="processAdd">
  <md-card-header>
    <md-card-title>
        <h2 class="target-area-title">Change Process in {{functionAcronym}}</h2>
    </md-card-title>
    <button class="close-button" mat-dialog-close (click)="cancel()">
       <svg-icon class="unit-icon" src="assets/svg-icons/clear.svg"></svg-icon>
    </button>
  </md-card-header>

  <form [formGroup]="editProcessForm" novalidate autocomplete='off'>
    <div mat-dialog-content>
    <!-- form name field -->
      <div class="custom-control-row">
          <div class="custom-field custom-field-fw"> 
          <mat-form-field  appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="processName" [typeaheadAsync]="true" [typeahead]="dataSourceProcess"
                  (typeaheadLoading)="changeTypeaheadLoadingProcess($event)"
                  (typeaheadOnSelect)="typeaheadOnSelectProcess($event)" [typeaheadOptionsLimit]="100"
                  typeaheadOptionField="processName" [typeaheadMinLength]="0" [ngModelOptions]="{standalone: true}"
                  placeholder="Name *" maxlength="24" formControlName="processNameControl" 
                   (keyup)="enableSubmitButtonForEdit();checkCharValidationForName($event)" 
                  (blur)="checkOnProcessName($event)" required>
                  <svg-icon matSuffix src="assets/svg-icons/search.svg"></svg-icon>
            <!-- <mat-hint>For display in Navigation. 24 Characters Remaining.</mat-hint> -->
            <mat-hint>For display in Navigation.{{24 - processName.length}} Characters Remaining.</mat-hint>
            <mat-error *ngIf="editProcessForm.controls['processNameControl'].invalid && editProcessForm.controls['processNameControl'].errors.required && editProcessForm.controls['processNameControl'].touched">
                Name is required.
            </mat-error>
            <mat-error *ngIf="editProcessForm.controls['processNameControl'].invalid && processName.length>0 && duplicateProcessName">
                  Name has been already taken.
            </mat-error>

            <mat-error *ngIf="editProcessForm.controls['processNameControl'].errors?.patternError">
              First letter should be alphabatic.
            </mat-error>
          </mat-form-field>
  </div>
</div>



<div class="custom-control-row">
    <div class="custom-field custom-field-fw"> 
      <mat-form-field  appearance="outline">
        <mat-label>Acronym </mat-label>
        <input matInput [(ngModel)]="acronym" [typeaheadAsync]="true" [typeahead]="dataSourceAcronym"
              (typeaheadLoading)="changeTypeaheadLoadingAcronym($event)"
              (typeaheadOnSelect)="typeaheadOnSelectAcronym($event)" [typeaheadOptionsLimit]="100"
              typeaheadOptionField="acronym" placeholder="Acronym *" [typeaheadMinLength]="0" minlength="3"
              [ngModelOptions]="{standalone: true}" maxlength="3" formControlName="acronymControl"  (keyup)="enableSubmitButtonForEdit();checkCharValidationForAcronym($event)"
               #input (input)="input.value=$event.target.value.toUpperCase()" (blur) = "checkDuplicateAcronymName($event)" required>
        <!--class="acr-text-transform" upperCase remove-->
        <svg-icon matSuffix src="assets/svg-icons/search.svg"></svg-icon>
        <mat-hint>Process' Acronym.{{3 - acronym.length}} Characters Remaining.</mat-hint>

        <mat-error  *ngIf="editProcessForm.controls['acronymControl'].invalid && editProcessForm.controls['acronymControl'].value.length<3 &&  !editProcessForm.controls['acronymControl'].errors?.patternAcronymError">
          Acronym should be minimum 3 Letter.
        </mat-error>

        <mat-error *ngIf="editProcessForm.controls['acronymControl'].invalid && editProcessForm.controls['acronymControl'].errors.required && editProcessForm.controls['acronymControl'].touched">
          Acronym is required.
        </mat-error>
        <mat-error *ngIf="editProcessForm.controls['acronymControl'].errors?.myError">
          Acronym  already taken.
        </mat-error>

        <mat-error *ngIf="editProcessForm.controls['acronymControl'].errors?.patternAcronymError">
          First letter should be alphabatic.
        </mat-error>
      </mat-form-field>
  </div>
</div>
 

<div class="custom-control-row">
    <div class="custom-text-area">
        <mat-form-field class="example-full-width input-fields" appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput [(ngModel)]="processDescription" maxlength="255" placeholder="Description *"
                    formControlName="decriptionControl" [ngModelOptions]="{standalone: true}"  (keyup)="enableSubmitButtonForEdit()" required></textarea>

          <mat-hint [class.error]='processDescription.length == 255'>{{255 - processDescription.length}} Characters Remaining</mat-hint>

          <mat-error *ngIf="editProcessForm.controls['decriptionControl'].invalid && editProcessForm.controls['decriptionControl'].errors.required && editProcessForm.controls['decriptionControl'].touched">
            Description is required.
          </mat-error>

        </mat-form-field>
    </div>
</div>
   
<!-- file upload starts -->
<div class="custom-control-row">
  <div class="file-upload-container custom-field">
    
    <!-- real input -->
 <input #myInput hidden  [(ngModel)]="fileValue" [ngModelOptions]="{standalone: true}" type="file" name="file" id="file"
  class="input-file" (change)='fileInputChanged($event)' />
<div class="custom-input-label">
    <label class="label" (click)="myInput.click()"></label>
<mat-form-field  appearance="outline">  
    <mat-label>Icon </mat-label>
    
    <input   formControlName="fileInput" 
    [ngModelOptions]="{standalone: true}" [type]="hide ? 'password' : 'text'" matInput readonly required>
    <svg-icon matSuffix src="assets/svg-icons/image_suffix.svg"></svg-icon>
    <mat-hint> Max size 128 x 128.PNG only.</mat-hint>
    
    <mat-error *ngIf="editProcessForm.controls['fileInput'].errors?.invalidFile">Max size 128 x 128.PNG only.</mat-error>
   </mat-form-field>
</div>

<!-- upload and toggle container starts -->
<div class="control-button-container">
<button type="button" class="control-button upload-button" (click)='upload($event);' [disabled]="editProcessForm.controls['fileInput'].invalid || !progressBarValue == 100 || fileUploadButton">
    <svg-icon class="unit-icon" src="assets/svg-icons/cloud_upload.svg"></svg-icon>
        <div [style.height.%]="progressBarValue"
         [class.validated]="progressBarValue == 100 && editProcessForm.controls['fileInput'].valid"
         [class.error]="progressBarValue == 100 && editProcessForm.controls['fileInput'].invalid"
         class="custom-progress-division"></div>
</button>
</div>
<div class="control-button-container">
<button type="button"  class="control-button" (click)="hide = !hide" [disabled]="editProcessForm.controls['fileInput'].invalid || progressBarValue != 100">
    <svg-icon *ngIf="!hide" class="unit-icon" src="assets/svg-icons/visibility_off.svg"></svg-icon>
              <svg-icon *ngIf="hide" class="unit-icon" src="assets/svg-icons/visibility.svg"></svg-icon>
  </button>

</div>
    </div>
  </div>
<!-- file upload ends -->


    <div class="custom-control-row">
        <div class="custom-select custom-field custom-field-fw">
            <mat-form-field class="example-full-width input-fields" appearance="outline">
                <mat-label>Display Order </mat-label>
                  <mat-select appearance="outline" disableOptionCentering panelClass="custom-select-panel"
                              placeholder="Display Order"  [(ngModel)]="dOrder" name="dOrder" [ngModelOptions]="{standalone: true}"
                              formControlName="dOrderControl"  (selectionChange)="enableSubmitButtonForEdit()">
                      <mat-option *ngFor="let item of displayOrderList" [value]="item.displayOrder">
                        {{item.displayOrder}}
                      </mat-option>
                  </mat-select>
              <mat-hint>Select order of display.</mat-hint>
            </mat-form-field>
    </div>
</div> 



<div class="custom-control-row">
    <div class="custom-field custom-field-fw">
    <mat-form-field  appearance="outline">
          <mat-label>Owner Name </mat-label>
          <input matInput [(ngModel)]="firstName" [typeaheadAsync]="true" [typeahead]="dataSource"
                (typeaheadLoading)="changeTypeaheadLoading($event)" (typeaheadOnSelect)="typeaheadOnSelect($event)"
                [typeaheadOptionsLimit]="100" typeaheadOptionField="firstName" [typeaheadMinLength]="0"
                [ngModelOptions]="{standalone: true}" placeholder="Owner Name *" formControlName="ownerNameControl"  (keyup)="enableSubmitButtonForEdit();checkOwnerName($event)" required>
                <svg-icon matSuffix src="assets/svg-icons/search.svg"></svg-icon>
          <mat-hint>Type to select from the list.</mat-hint>
          <mat-error
            *ngIf="editProcessForm.controls['ownerNameControl'].invalid && editProcessForm.controls['ownerNameControl'].errors.required && editProcessForm.controls['ownerNameControl'].touched">
            Owner Name is required.
          </mat-error>

       
          <mat-error *ngIf="editProcessForm.controls['ownerNameControl'].invalid && ownerNameSelection && editProcessForm.controls['ownerNameControl'].value.length>0 &&  editProcessForm.controls['ownerNameControl'].touched">
            Please select the correct Owner Name
          </mat-error>
    </mat-form-field>

    </div>
</div>
</div>

   <div class="form-action-button">
      <div *ngIf="isLoadingResults" class="loading-spinner-div">
          <mat-spinner></mat-spinner>
        </div>
          <button class="button button-margin-right" [disabled]="editProcessForm.invalid || submitButtonDisabled || !fileUploaded" (click)="updateRecord()">Update</button>       
          <button class="button margin-right" mat-dialog-close (click)="cancel()">Cancel</button>
        </div>
  </form>
</div>