.row-container {
  display: block;
  border: 1px solid #000000;
  margin: 2em auto;
  max-width: 1200px;
  text-align: center;
}

.example-card {
  max-width: 300px;
  display: block;
  float: left;
  margin: 1em auto;
  min-width: 300px;
  min-height: 500px;
}
.example-card:hover {
  color: rgba(241, 8, 8, 0.8);
 /*  background-color: rgb(211, 199, 199); */
}

/* Pricing table css  */

#pricing-table {
  margin: 100px auto;
  text-align: center;
  max-width: 1226px;
  /* total computed width = 250 x 4 + 226 */
}

#pricing-table .plan {
  text-shadow: 0 1px rgba(255, 255, 255, .8);
  background: #fff;
  border: 1px solid #ddd;
  color: #333;
  padding: 20px;
  width: 180px;
  /* plan width = 180 + 20 + 20 + 1 + 1 = 222px */
  float: left;
  position: relative;
}

#pricing-table #most-popular {
  z-index: 2;
  top: -13px;
  border-width: 3px;
  padding: 30px 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
  -webkit-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
  box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
}

mat-card-content h3 {
  display: block;
  width: auto;
  margin: auto 20px;
}

mat-chip {
  max-width: auto;
  
}

