<div id="pricing-table" class="clear">

  <mat-card *ngFor= "let licenseInfo of licenseDetials " class="example-card" id="most-popular">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
        <h2>{{licenseInfo.licenseName}}</h2>
      </mat-card-title>
      <mat-card-subtitle>{{licenseInfo.licenseDescription}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-chip-list class="mat-chip-list-stacked">
        <mat-chip color="primary" selected>
          <h3>${{licenseInfo.price}}</h3>
        </mat-chip>
      </mat-chip-list>
      <mat-list>
        <mat-list-item>FREE 30-Days Trial </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>{{licenseInfo.noOfUser}} Users</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>{{licenseInfo.validity}} Days</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Cancel at any time*</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>First Month Free*</mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button color="primary" mat-raised-button (click)="buyPackage(licenseInfo.licenseId) ">Buy</button>
    </mat-card-actions>
  </mat-card>

<!--   <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
        <h2>Silver</h2>
      </mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-chip-list class="mat-chip-list-stacked">
        <mat-chip color="primary" selected>
          <h3>$00.00</h3>
        </mat-chip>
      </mat-chip-list>
      <mat-list>
        <mat-list-item>Item 1</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Item 2</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Item 3</mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button color="primary" mat-raised-button>Buy</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card" id="most-popular">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
        <h2>Gold</h2>
      </mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-chip-list class="mat-chip-list-stacked">
        <mat-chip color="primary" selected>
          <h3>$00.00</h3>
        </mat-chip>
      </mat-chip-list>

      <mat-list>
        <mat-list-item>Item 1</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Item 2</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Item 3</mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button color="primary" mat-raised-button>Buy</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
        <h2>Platinum</h2>
      </mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-chip-list class="mat-chip-list-stacked">
        <mat-chip color="primary" selected>
          <h3>$00.00</h3>
        </mat-chip>
      </mat-chip-list>
      <mat-list>
        <mat-list-item>Item 1</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Item 2</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Item 3</mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button color="primary" mat-raised-button [value]="2" (click)="buyPackage(licenseId)">Buy</button>
    </mat-card-actions>
  </mat-card> -->
</div>
