




    <!-- Breadcrumb start-->
    <mat-toolbar class="breadcrumb">
        <svg-icon  src="assets/svg-icons/home.svg"></svg-icon>
        <svg-icon src="assets/svg-icons/arrow_forward.svg"></svg-icon>
        <span><a href="#" routerLink='/#2'>{{mainbreadcrumb}}</a></span>
        <svg-icon src="assets/svg-icons/arrow_forward.svg"></svg-icon>
        <span>
          <a routerLink='/eta-web/taskflowdashboard'>{{breadcrumb}}</a>
        </span>
        <svg-icon src="assets/svg-icons/arrow_forward.svg"></svg-icon>
        <span>
          <a routerLink='/edittaskflow'>Change</a>
        </span>
    </mat-toolbar>
  <!-- Breadcrumb End -->
  

      <h2 class="target-area-title" > Edit Tasks Flow in {{acronym}} </h2>
      <mat-card class="content-card">
          <form [formGroup]="taskFlowForm" novalidate autocomplete='off'>
            <div class="top-container">
            <div class="custom-control-row">
              <div class="custom-field custom-field-fw" >  
                  <mat-form-field class="example-full-width input-fields" appearance="outline">
                      <mat-label> Name </mat-label>
                      <input matInput [(ngModel)]="taskFlowName" 
                      [typeaheadAsync]="true" 
                      [typeahead]="dataSourceTaskFlow" 
                      (typeaheadLoading)="changeTypeaheadLoadingTaskFlow($event)"
                      (typeaheadOnSelect)="typeaheadOnSelectTaskFlow($event)" 
                      [typeaheadOptionsLimit]="5" 
                      typeaheadOptionField="taskFlowName" 
                      (keyup)= "checkCharValidationForName($event);enableSubmitButton()"
                      (blur)="checkOnKeyUpName($event)"
                    
                      placeholder="Name *" maxlength="32" (keypress)="omit_special_char($event)" formControlName="taskFlowNameControl" [ngModelOptions]="{standalone: true}"  required>
                      <svg-icon matSuffix src="assets/svg-icons/search.svg"></svg-icon>
                      <mat-hint>{{32 - taskFlowName.length}} Characters Remaining.</mat-hint>
                      <mat-error *ngIf="taskFlowForm.controls['taskFlowNameControl'].invalid && taskFlowForm.controls['taskFlowNameControl'].errors.required">Name is required</mat-error>
                      <mat-error *ngIf="taskFlowForm.controls['taskFlowNameControl'].invalid && taskFlowForm.controls['taskFlowNameControl'].errors?.patternError">
                        First letter should be alphabatic.
                        </mat-error>
                      <mat-error *ngIf="taskFlowForm.controls['taskFlowNameControl'].invalid && taskFlowForm.controls['taskFlowNameControl'].value.length>0 && duplicateTaskFlowName">Name has been already taken.</mat-error>
                      <!-- <span style="color:red" *ngIf="!taskFlowName"> </span> -->
                  </mat-form-field>
  </div>
            </div>
              <mat-slide-toggle [(ngModel)]="reusable" (change)="enableSubmitButton()"  [ngModelOptions]="{standalone: true}"> Reusable </mat-slide-toggle>  

              <div *ngIf="showSuccess" class="success alert-message-division top-container-dynamic-rows">
                  <svg-icon class="check-box-icon success-svg unit-control-icon no-padding-svg display-inline-block vertical-align-middle" src="assets/svg-icons/check_box.svg"></svg-icon>
                <p class="display-inline-block vertical-align-middle no-margin">Please click Update to add {{newTaskName}}.</p>
         
                <button class="remove-alert-button button-without-background " (click)="removeSuccess()">
                    <svg-icon class="unit-control-icon no-padding-svg " src="assets/svg-icons/cancel_presentation.svg"></svg-icon>
                </button>
          </div> 

          <!-- alert message division -->
          <div class='table-modification-button-container top-container-dynamic-rows'>
              <div class="inner-center-division">
              
               
             <button *ngIf="!selection.selected.length" class="modification-buttons button-as-icon vertical-align-middle" (click)="openAddTaskDialog('Add')">
              <svg-icon class="unit-control-icon"  src="assets/svg-icons/add_box.svg"></svg-icon>
             </button>
           
                <button *ngIf="selection.selected.length" class="modification-buttons button-as-icon vertical-align-middle" >
                  <svg-icon class="unit-control-icon" src="assets/svg-icons/delete.svg"></svg-icon>
                </button>
          
      </div>  
      </div>
            </div>
         
 
               
                  <!-- <span *ngIf='taskFlowId!=null'> -->
                    <table>
                      <tr>
                        <th class="eta-table-constant-width-column-first">
                          <mat-checkbox class="custom-checkbox-without-margin margin-auto" (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()">
          </mat-checkbox>
                        </th>
                        <th class="eta-table-constant-width-column">#</th>
                        <th>Task</th>
                        <th>Next#</th>
                        <th>Category</th>
                        <th>Type</th>
                        <th>Container</th>
                        <th>Form</th>
                        <th>Privilege</th>
                      </tr>       
                      <tr *ngFor = "let task of taskList let i=index" [value]="task.taskFlowID">
                        <td class="eta-table-constant-width-column-first">
                          <!-- <mat-checkbox class="custom-checkbox-without-margin margin-auto"></mat-checkbox> -->

                              <mat-checkbox class="custom-checkbox-without-margin margin-auto" (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(task) : null"
                              [checked]="selection.isSelected(task)">
                </mat-checkbox>
                          </td>
                          <td class="eta-table-constant-width-column margin-auto">{{i}}</td>
                          <td>
                            <a [routerLink]="" class="ellipsisable-content edit-link body-text1 custom-link-style"
                            (click)="editTaskDetail(task.taskID)">{{task.taskName}}</a>
                          </td>
                          <td>{{task.taskID}}</td> 
                          <td>{{task.taskTypeName}}</td>
                          <td>{{task.subTaskTypeName}}</td>
                          <td>--</td>
                          <td>--</td>
                          <td>--</td>
                      </tr> 
                    </table>
               

                  
             <div class="submit-cancel-button-division">
                <div *ngIf="isLoadingResults" class="loading-spinner-div">
                    <mat-spinner></mat-spinner>
                  </div>
                <button [disabled]='submitButtonDisabled || taskFlowForm.invalid' type = "submit" (click) = "onEditSubmitButton($event)" class="button">Update</button>
                <button type = "button" (click) = "cancel()" class="button">Cancel</button>
                </div>
       </form>
      </mat-card>

    
        <h2 class="target-area-title"> Reusable Tasks Flows </h2>
   <!-- cards slider starts here -->
<div class="card-slider-relative-container">
    <div class="tasks-cards-slider-container" id="customScrollBarContainerHorizentol" #cardsContainer>
      <div class="cards-scrollable-content" #cardsScrollableContent>
          <mat-card class="card dashboard-square-card" *ngFor="let card of cards">
              <div class="card-description">
                <p class="body-text1">{{card.description}}</p>
              </div>
                <div class="button-division">
                 <div class="button-inner-division">
                     <button class="button no-margin">View</button>
                     <i class="card-expand-more-button material-icons unit-icon icon-without-padding">more_vert</i>
                 </div>
               </div>
           </mat-card>
  
          </div>
      <div *ngIf="cardsScrollBackButtonFlag" class="cards-back-button-transparent-container">
        <button   class="cards-scroll-back-button custom-fab-small" (click)="cardsScrollBackFunction()" mat-fab>
            <svg-icon class="unit-icon no-padding-svg " src="../../../assets/svg-icons/arrow_backward.svg"></svg-icon>
            </button>
      </div>
      <div *ngIf="cardsScrollForwardButtonFlag" class="cards-forward-button-transparent-container">
        <button  class="cards-scroll-forward-button custom-fab-small" (click)="cardsScrollForwardButton()" mat-fab>
            <svg-icon class="unit-icon no-padding-svg " src="../../../assets/svg-icons/arrow_forward.svg"></svg-icon>
          </button>
           </div>
          </div>
          </div>
          <!-- cards slider endss here -->
   
  