.content-card{
  /* padding: var(--content-inside-padding) !important; */
  padding: 0 !important;
  margin-bottom: var(--content-horizontal-margin) !important;
}
.top-container{
padding:  var(--content-inside-padding);
padding-bottom: 0;
}
.top-container-dynamic-rows{
  margin-bottom: var(--content-inside-padding)
}
table {
    width: 100%;
    border-spacing: 0;
    font-size: var(--body-text1-base-font-size);
    border-collapse: collapse;
    border-bottom: solid 2px lightgray;
  }
th{
    color: black;
    text-align: left;
    height: var(--mat-table-row-min-height);
    background: var(--eta-table-header-background);
    font-weight: inherit !important;
}
th:nth-of-type(1),
td:nth-of-type(1){
  text-align: center;
}
td{
    text-align: left;
    height: var(--mat-table-row-min-height);
} 
tr, td, th{
    border-bottom: solid #efefef 1px;
}
.mat-form-field {
    width: 100%;
}
.heading-division{
    border-bottom: solid gray 1px;
    margin-bottom: 15px;
}
.submit-cancel-button-division button[type="submit"]{
    margin-right: var(--vertical-space-between-rows);
    margin-left: var(--content-inside-padding);
}
.mat-slide-toggle{
    margin-bottom: var(--vertical-space-between-rows);
}

/* table modification button group styles starts */
.table-modification-button-container{
  padding-top: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modification-buttons {
  margin-right: var(--content-inside-padding);
}
/* table modification button group styles ends */


 /* cards slider styles starts */

 .tasks-cards-slider-container .mat-card {
  display:inline-block;
  text-align: center;
  border-radius: 4px;
  overflow: hidden;
}
.tasks-cards-slider-container .mat-card:hover{
 box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
   0px 8px 10px 1px rgba(0, 0, 0, 0.14),
   0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.card-slider-relative-container{
 position: relative;
 margin-bottom: var(--content-horizontal-margin);
}
.tasks-cards-slider-container{
 vertical-align: middle;
 overflow-y: auto;
 white-space: nowrap;
 overflow-x: hidden;
 margin: -13px 0;
}
.tasks-cards-slider-container .cards-scrollable-content{
 display: inline-block;
 padding: 13px 0;
}
.tasks-cards-slider-container .cards-back-button-transparent-container,
.tasks-cards-slider-container .cards-forward-button-transparent-container{
 position: absolute;
 top: 50%;
 height: 100%;
 width: 100px;
}
.tasks-cards-slider-container .cards-back-button-transparent-container{
 left: 0;
 transform: translate(0%, -50%);
 background: linear-gradient(to left, transparent, var(--substrate)) !important;
}
.tasks-cards-slider-container .cards-forward-button-transparent-container{
 left: 100%;
 transform: translate(-100%, -50%);
 background: linear-gradient(to right, transparent, var(--substrate)) !important;
}
.tasks-cards-slider-container .cards-scroll-forward-button,
.tasks-cards-slider-container .cards-scroll-back-button{
 position: absolute;
 top: 50%;
 background: white !important;
 color: black !important;
}
.tasks-cards-slider-container .cards-scroll-forward-button{
 left: 100%;
 transform: translate(-100%, -50%);
}
.tasks-cards-slider-container .cards-scroll-back-button{
 left: 0;
 transform: translate(0%, -50%);
}
.tasks-cards-slider-container .cards-scroll-forward-button:hover .material-icons {
 margin-left: 5px;
 transition: all .3s;
}
.tasks-cards-slider-container .cards-scroll-back-button:hover .material-icons {
 margin-right: 5px;
 transition: all .3s;
}

   .card .card-description{
    position: absolute;
    width: calc(var(--dashboard-square-card-width) - (var(--vertical-space-between-rows) * 2));
}
 .card-description p{
      margin: 0;
      white-space: normal !important;
  }
  .card .button-division{
    position: absolute;
    width: calc(var(--dashboard-square-card-width) - (var(--vertical-space-between-rows) * 2));
    bottom: var(--vertical-space-between-rows);
    text-align: initial;
    padding-top: 15px;
    border-top: solid 2px lightgray;
  }
   .button-inner-division{
     position: relative;
   }
  .button-inner-division .card-expand-more-button{
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-100%, -50%);
    text-align: left;
  }
  .cards-scroll-back-button{
    padding-right: 5px;
  }

  /* cards styles ends */

  /* alert message division styles starts */
  .alert-message-division{
    position: relative;
    font-size: var(--body-text1-base-font-size)
  }
  .check-box-icon{
    margin-right: var(--content-inside-padding);
  }
  .alert-message-division .remove-alert-button{
    position: absolute;
    top: 50%;
    left: 100%;
    -webkit-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
  }
  .alert-message-division p,
  .alert-message-division button,
  .alert-message-division .material-icons{
    color: inherit;
    vertical-align: middle;
  }
  .alert-message-division .cancel-icon{
    color: black;
  }
  .alert-message-division .success-alert{
    color: var(--primary);
  }
  /* cards slider styles ends here*/