<h1 class="target-area-title">Branding of ORG Name</h1>
<mat-card class="content-card">
<mat-tab-group dynamicHeight id="report" (selectedTabChange)="onTabChanged($event)">
  <mat-tab label="App Bar">
    <div>
     <app-app-bar-ui-configuration></app-app-bar-ui-configuration>
    </div>
  </mat-tab>
  <mat-tab label="Colors">
    <div>
     <app-colors-configuration></app-colors-configuration>
    </div>
  </mat-tab>
  <mat-tab label="Fonts">
    <div>
      <app-fonts-configuration></app-fonts-configuration>
    </div>
  </mat-tab>
</mat-tab-group>
</mat-card>

