<div>
     <!-- Breadcrumb start-->
     <mat-toolbar>
        <mat-icon>home</mat-icon>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span>
          <a href="#" routerLink='/eta-web/emaildashboard'>{{mainbreadcrumb}}</a>
        </span>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span>
          <a routerLink='/eta-web/emailtemplatedashboard'>{{breadcrumb}}</a>
        </span>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span>
          <a routerLink='/emailtempletlanguage'>Email Template Translation</a>
        </span>
    </mat-toolbar>
    <!-- Breadcrumb end-->

    <!--Grid code Start -->
    <div class="col-sm-12 table-padding">
        <mat-card>
            <app-dynamic-datatable-translate [myurl]="emailTemplateurl" [mycoloums]="functioncol" [orgId]="ETA_SELECTED_ORGID"></app-dynamic-datatable-translate>
        </mat-card>
    </div>
</div>