.channel{
    margin-bottom: var(--content-horizentol-margin);
}
/* media cards slider styles starts here */
.media-cards-slider-container .mat-card {
    display:inline-block;
    text-align: center;
    border-radius: 4px;
    overflow: hidden;
  }
  .media-cards-slider-container .mat-card:hover{
   box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
     0px 8px 10px 1px rgba(0, 0, 0, 0.14),
     0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  .media-cards-slider-container{
   vertical-align: middle;
   overflow-y: auto;
   white-space: nowrap;
   overflow-x: hidden;
   margin: -13px;
  }
  .media-cards-slider-container .media-cards-scrollable-content{
   display: inline-block;
   padding: 13px;
  }
  .media-cards-slider-container .media-cards-scroll-back-button-transparent-container,
  .media-cards-slider-container .media-cards-forward-button-transparent-container{
   position: absolute;
   top: 50%;
   height: 100%;
   width: 100px;
  }
  .media-cards-slider-container .media-cards-scroll-back-button-transparent-container{
   left: -13px;
   transform: translate(0%, -50%);
   background: linear-gradient(to left, transparent, var(--cards-background-color)) !important;
  }
  .media-cards-slider-container .media-cards-forward-button-transparent-container{
   left: calc(100% + 13px);
   transform: translate(-100%, -50%);
   background: linear-gradient(to right, transparent, var(--cards-background-color)) !important;
  }
  .media-cards-slider-container .cards-scroll-forward-button,
  .media-cards-slider-container .cards-scroll-back-button{
   position: absolute;
   top: 50%;
   background: white !important;
   color: black !important;
  }
  .media-cards-slider-container .cards-scroll-forward-button{
   left: 100%;
   transform: translate(-100%, -50%);
  }
  .media-cards-slider-container .cards-scroll-back-button{
   left: 0;
   transform: translate(0%, -50%);
  }
/* media cards slider styles ends here */

/* media card styles */

.media-card{
    display: inline-block;
    padding: 0 !important;
    text-align: initial;
    white-space: initial;
    margin-right: var(--horizontal-space-between-controls);
}
.media-card:last-of-type{
    margin-right: 0;
}
.media-card .media-container{
    width: var(--tv-card-width); 
    height: calc(var(--tv-card-width) * 9/16);
}
.media-card .detail-container{
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - calc(var(--tv-card-width) * 9/16));
    text-align: initial;
}
.detail-container .media-tags{
    display: flex;
    justify-content: space-between;
}
.media-tags .tag{
    display: inline-block;
    border: solid 1px lightgray;
    border-radius: 4px;
    text-align: center;
    width: 30%;
    height: calc(var(--button-base-height) / 1.5);
    line-height: calc(var(--button-base-height) / 1.5);
}
.media-tags .tag:nth-of-type(2){
    margin: 0 8px;
}
.rent-date-division,
.display-flex{
    justify-content: space-between;
}
/* .rent-tag{
    display: inline-block;
    border: solid lightgray 1px;
    height: calc(var(--button-base-height) * .7);
    line-height: calc(var(--button-base-height) * .7);
    padding: 0 8px;
    width: 50%;
    border-radius: 8px 100px 100px 8px;
} */
.detail-container svg-icon{
    display: inline-block !important;
    margin-right: calc(var(--horizontal-space-between-controls) / 1.5);
}
.detail-container svg-icon:last-of-type{
    margin-right: 0;
}
/* media card styles ends*/

.rent-tag {
    background: #eee;
    border-radius: 3px 0 0 3px;
    display: inline-block;
    height: calc(var(--button-base-height) * .7);
    line-height: calc(var(--button-base-height) * .7);
    width: 50%;
    padding: 0 20px;
    position: relative;
    text-decoration: none;
    -webkit-transition: color 0.2s;
  }
  
  .rent-tag::before {
    z-index: 999;
    border: dashed 1px gray;
    border-radius: 10px;
    content: '';
    position: absolute;
    width: calc((var(--button-base-height) * .2));
    height: calc((var(--button-base-height) * .2));
    right: 16px;
    transform: translate(0 , -50%);
    top: 50%;
  }
  
  
  .rent-tag::after {
    background: var(--cards-background-color);
    border-bottom: calc(calc(var(--button-base-height) * .7) / 2) solid transparent;
    border-left: 35px solid #eee;
    border-top: calc(calc(var(--button-base-height) * .7) / 2) solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* .rent-tag:hover {
    background-color: crimson;
    color: white;
  }
  
  .rent-tag:hover::after {
     border-left-color: crimson; 
  } */