

    <div class="channel"  (window:resize)="onWindowResized($event)">
   <h1 class="target-area-title">{{data.channelName}}</h1>
 <mat-card class="content-card">
    <p *ngIf="!data.channelData.length" class="body-text1">No record found!</p>
 <div class="card-slider-relative-container" *ngIf="data.channelData.length">
   <div class="media-cards-slider-container" id="customScrollBarContainerHorizentol" #cardsContainer>
     <div class="media-cards-scrollable-content" #cardsScrollableContent>
      <mat-card *ngFor="let mediaCard of data.channelData; let j=index" class="media-card"> 
     <div class="media-container" [innerHtml]="videoEmbedArray[j]">
     </div>
     <div class="detail-container">
       <div class="detail-container-row media-tags">
         <span class="tag body-text2 play-time">{{'15 min.'}}</span>
         <span class="tag body-text2 pg">{{'G'}}</span>
         <span class="tag body-text2 total-plays">{{'21 plays'}}</span>
       </div>
       <p class="detail-container-row body-text1 no-margin media-description">{{mediaCard.mediaDescription}}</p>
 
       <div class="detail-container-row rent-date-division display-flex align-items-center ">
         <div class='rent-tag body-text2 subscriptionDetails'>{{'Subscription'}}</div>
         <div class="body-text2 date">{{'07-May-2015'}}</div>
       </div>
       <div class="detail-container-row display-flex align-items-center">
           <button class="button no-margin" (click)="getIndex(j)">Play</button>
           <div>
             <svg-icon *ngIf="likedVideos.length && !likedVideos[j].liked" src="assets/svg-icons/favorite_border.svg" (click)="toggleLikeUnlike(j)" class="nav-drawer-group-icon no-padding-svg"></svg-icon>
             <svg-icon  *ngIf="likedVideos.length &&  likedVideos[j].liked" src="assets/svg-icons/favorite.svg" (click)="toggleLikeUnlike(j)" class="nav-drawer-group-icon no-padding-svg"></svg-icon>
             <svg-icon src="assets/svg-icons/share.svg" class="nav-drawer-group-icon no-padding-svg"></svg-icon>
             <svg-icon src="assets/svg-icons/more_vert.svg" class="nav-drawer-group-icon no-padding-svg"></svg-icon>
           </div>
         </div>
     </div>
      </mat-card> 
         </div>
 
     <div *ngIf="cardsScrollBackButtonFlag" class="media-cards-scroll-back-button-transparent-container">
       <button   class="cards-scroll-back-button custom-fab-small" (click)="cardsScrollBackFunction()" mat-fab>
           <svg-icon class="unit-icon no-padding-svg " src="../../../assets/svg-icons/arrow_backward.svg"></svg-icon>
         </button>
     </div>
     <div *ngIf="cardsScrollForwardButtonFlag" class="media-cards-forward-button-transparent-container">
       <button  class="cards-scroll-forward-button custom-fab-small" (click)="cardsScrollForwardButton()" mat-fab>
             <svg-icon class="unit-icon no-padding-svg " src="../../../assets/svg-icons/arrow_forward.svg"></svg-icon>
             </button>
          </div>
         </div>
         </div>
 </mat-card>
 </div>

 