
<div>
  <table>
    <tr>
      <th> Acronym </th>
      <th> Org. Name </th>
      <th> Domain</th>
      <th> Email </th>
    </tr>
    <tr *ngFor="let orgDetail of newOrgDetails">
      <td> <a class="eta-custom-link" (click)="editOrgDetail(orgDetail.orgId)"> {{orgDetail.acronym}} </a> </td>
      <td> {{orgDetail.orgName}} </td>
      <td> {{orgDetail.orgDomain}} </td>
      <td> {{orgDetail.emailaddress}} </td>
    </tr>
  </table>
  <button type='button' (click)='addNewCalendar()'>Add</button>
</div>
