.view-height{
    height: auto;
    max-height: 90vh;
    overflow-y: auto;
    padding: 0; margin: 0;
}

.add-from-width{
    max-width: 350px;
    display: block;
    position: relative;
    float: left;
    padding: 10px;
}
.popup-close{
    position: relative;
    top: 5px;
    right: 10px;
    float: right;
    cursor: pointer;

}

.example-full-width {
    width: 100%;
    margin: .5em 0;
  }

.side-block-border{
    border-left: 1px solid #BDBDBD;
}


.flex-display{
    display: flex;
    width: 100%;
}

.bc{
    background-color: #bdbdbd;
    padding: 10px;
}

.task {
    border-radius: 5px;
    margin-top: 30px;
    border: 1px solid #252829;
  }
  
  .input-border-color {
    border: 2px solid #9C9FA1;
  }
  
  .modal-content {
    width: 150%;
    margin-top: 50px;
  }
  
  .poppadding {
    padding: 10px 10px;
  }
  
  .label-space {
    margin-left: 20px;
    color: #9C9FA1;
  }
  
  .permit {
    height: 45px;
    font-size: 18px;
  }
  
  .image-margin {
    margin-top: 20px;
  }
  
 
  .eta-margin-all {
    margin: 10px;
  }
  
  .two-way-banding {
    float: left;
    width: 30%;
  }
  
  .eta-margin-two-way {
    margin: auto 10px;
  }
  
  .add-new-task-border {
    border: 1px solid #98c0c1;
    border-radius: 10px;
    display: block;
    padding: 10px;
    margin: 5px auto;
  }
  
  .width-50{
    width: 45%;
    
  }
  .itemRow{
    position: relative;
  }
  .delete-button{
    position: absolute;
    bottom: 5px;
    right: 10px;
  }

 
  