<div class="loading-indicator" *ngIf="isSpinnerShow==true">
  <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
</div>


<div class="view-height">
  <div class="top-header" style="display: block">
    <h3 class="target-area-title">{{actionValue}} Task in {{taskFlowName}} </h3>
    <!-- <button class="popup-close" type="button" aria-label="Toggle sidenav" mat-icon-button [mat-dialog-close]=responseMsg>
      <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
    </button> -->


  </div>

  <form [formGroup]="taskfrm" (ngSubmit)="onSubmit(taskfrm.value)">
    <div class="flex-display">


      <div class="add-from-width">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Previous Task</mat-label>
          <mat-select placeholder="Previous Task" formControlName="previousTask">
            <mat-option *ngFor="let pTask of allTask" [value]="pTask.taskID">
              {{pTask.taskName}}
            </mat-option>
          </mat-select>
          <mat-hint>Select Previous Task(s)</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Task Name</mat-label>
          <input #taskName maxlength="64" matInput placeholder="Task Name" formControlName="taskName">
          <mat-icon matSuffix>search</mat-icon>
          <mat-hint>{{64 - taskName.value.length}} characters remainings.</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Category</mat-label>
          <mat-select placeholder="Category" formControlName="category" (selectionChange)="categoryChange($event.value,0)">
            <mat-option *ngFor="let cat of category" [value]="cat.taskTypeID">
              {{cat.taskTypeName}}
            </mat-option>
          </mat-select>
          <mat-hint>Select Category</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Task Type</mat-label>
          <mat-select placeholder="Task Type" (selectionChange)="taskTypeFx($event.value)" formControlName="taskType">
            <mat-option *ngFor="let subTask of subTaskType" [value]="subTask.subTaskTypeId">
              {{subTask.subTaskTypeName}}
            </mat-option>
          </mat-select>
          <mat-hint>Select Task Type</mat-hint>
        </mat-form-field>
        <!-- <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Container</mat-label>
          <mat-select placeholder="Container" formControlName="container">
            <mat-option *ngFor="let dc of dataContainer" [value]="dc.dataContainerID">
              {{dc.dataContainerName}}
            </mat-option>
          </mat-select>
          <mat-hint>Select Container. Add new if required.</mat-hint>
        </mat-form-field> -->

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Discription</mat-label>
          <textarea matInput #taskDes maxlength="256" formControlName="taskDes"></textarea>
          <mat-hint>{{256 - taskDes.value.length}} characters remainings.</mat-hint>
        </mat-form-field>

        <mat-form-field *ngIf="categoryValue ==1 " appearance="outline" class="example-full-width">
          <mat-label>Privilege</mat-label>
          <input matInput #FDE placeholder="Privilege" formControlName="privilege">
          <mat-icon matSuffix>search</mat-icon>
          <mat-hint>Auto generated. Editable only when Human Category is selectd</mat-hint>
        </mat-form-field>




      </div>
      <!-- Humans Task  -->
      <!-- Fill Application Start -->

      <!-- Fill Application END-->
      <div *ngIf="taskTypeId==1 || taskTypeId==3" class="add-from-width side-block-border">

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Form</mat-label>
          <mat-select placeholder=" Form" formControlName="form">
            <mat-option *ngFor="let form of allForm" [value]="form.formID">
              {{form.formName}}
            </mat-option>
          </mat-select>
          <mat-hint>Select Select Form.</mat-hint>
        </mat-form-field>

      </div>

      <!-- Human Task END -->

      <!-- Derivation Task Type Start -->
      <div *ngIf="taskTypeId==10" class="add-from-width side-block-border" formArrayName="darivationTaskList">

        <div *ngFor="let itemrow of taskfrm.controls.darivationTaskList.controls; let i=index"  [formGroupName]="i">

          <!--  -->
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Openrand *</mat-label>
            <mat-select placeholder="Container"  formControlName="dataElementOneID">
              <mat-option *ngFor="let dc of dataContainer" [value]="dc.dataContainerID">
                {{dc.dataContainerName}}
              </mat-option>
            </mat-select>
            <mat-hint>Select Openrand. </mat-hint>
          </mat-form-field>
          <!--  -->

          <!--  -->
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Operator *</mat-label>
            <mat-select placeholder="Container" formControlName="derivationOperatorID">
              <ng-container *ngFor="let relationaOpt of relationalOpraters">
                <mat-option *ngIf="relationaOpt.operatorsType==='arithmetic'" [value]="relationaOpt.id">
                  {{relationaOpt.operator}}
                </mat-option>
              </ng-container>
            </mat-select>
            <mat-hint>Select Operator.</mat-hint>
          </mat-form-field>
          <!--  -->

          <!--  -->
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Openrand *</mat-label>
            <mat-select placeholder="Container" formControlName="dataElementTwoID">
              <mat-option *ngFor="let dc of dataContainer" [value]="dc.dataContainerID">
                {{dc.dataContainerName}}
              </mat-option>
            </mat-select>
            <mat-hint>Select Openrand. </mat-hint>
          </mat-form-field>
          <!--  -->

          <!--  -->
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Openrand *</mat-label>
            <mat-select placeholder="Container" #message[i] formControlName="derivationDataElementID">
              <mat-option *ngFor="let dc of dataContainer" [value]="dc.dataContainerID">
                {{dc.dataContainerName}}
              </mat-option>
            </mat-select>
            <mat-hint>Select Container. Add new if required.</mat-hint>
          </mat-form-field>
          <!--  -->
         
        </div>
        <!-- Repeating Button Start -->
        <div class="button-row" *ngIf="taskTypeId==10 && taskTypeId!=null">
            <mat-checkbox></mat-checkbox>
          <button type="button" mat-icon-button color="primary" (click)="addNewDerivation()">

            <mat-icon>add_box</mat-icon>
          </button>
        </div>
        <h2 class="bc" *ngIf="taskTypeId==10"> # Derivations</h2>
       
        <!-- Repeating Button Start -->
      </div>
      <!-- Repeating block close -->

      <!-- Derivation Task Type END -->

   <!-- List Of All Send Notifications Template Start  -->
   <div *ngIf="taskTypeId==2">
   <mat-form-field class="example-full-width" >
      <mat-select placeholder="Template Name" name="configId" formControlName="templateName">
        <mat-option *ngFor="let el of templateNameList" [value]="el.mailSendEvent">
          {{el.mailSendEvent}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div> 
    <!-- List Of All Send Notifications Template Start -->


<!-- Two Way Router Task START -->
          <!--  Border START -->
         <div  *ngIf="taskTypeId==5" style="height: 100px;"> 

            <mat-form-field class="two-way-banding">
              <mat-select placeholder="DataElement 1" formControlName="firstDataElement" (selectionChange)="OtherConstantValue($event.value)">
                <mat-option *ngFor="let dataElement of dataElementList" [value]="dataElement.dataElementID">
                  {{dataElement.dataElementName}}
                </mat-option>
                
              </mat-select>
            </mat-form-field>



            <mat-form-field class="two-way-banding eta-margin-two-way">
              <mat-select placeholder="Relational Oprater" formControlName="relationalOpraters">
                <ng-container *ngFor="let relationaOpt of relationalOpraters">
                  <mat-option *ngIf="relationaOpt.operatorsType==='relational'" [value]="relationaOpt.id">
                    {{relationaOpt.operator}}
                  </mat-option>
                </ng-container>
                </mat-select>
              </mat-form-field>


            <mat-form-field class="two-way-banding">
              <mat-select placeholder="DataElement 1" formControlName="secondDataElement" (selectionChange)="OtherConstantValue1($event.value)">
                <mat-option *ngFor="let dataElement of dataElementList" [value]="dataElement.dataElementID">
                  {{dataElement.dataElementName}}
                </mat-option>
                <mat-option [value]="-2">
                  Other else
                </mat-option>
              </mat-select>
            </mat-form-field>

          
<br>

            <mat-form-field class="two-way-banding" *ngIf="showConstantTextBox1== -1">
              <input matInput #message placeholder="Enter Constant1 Value" formControlName="OtherConstant1">
            </mat-form-field>

          

              <mat-form-field class="two-way-banding" style="margin-right: 15px; float: right;" *ngIf="showConstantTextBox2 == -2">
              <input matInput #message placeholder="Enter Constant2 Value" formControlName="OtherConstant2">
            </mat-form-field>
          
        

            <div  formArrayName="itemRows">
              
                 <div  *ngFor="let itemrow of taskfrm.controls.itemRows.controls; let i=index" [formGroupName]="i">

                  <div style="float: left; width: 95%" class="add-new-task-border itemRow">

                    <mat-form-field class="example-full-width">
                        <mat-select placeholder="Logical Oprater" formControlName="relationalConditionRow">
                          <ng-container *ngFor="let relationaOpt of relationalOpraters">
                            <mat-option *ngIf="relationaOpt.operatorsType==='logical'" [value]="relationaOpt.id">
                              {{relationaOpt.operator}}
                            </mat-option>
                          </ng-container>
                        </mat-select>
                      </mat-form-field> 

   <mat-form-field class="two-way-banding">
                        <mat-select placeholder="DataElement 1" formControlName="firstDataElementRow" (selectionChange)="repeatingOtherConstantValue2($event.value ,i)">
                          <mat-option *ngFor="let dataElement of dataElementList" [value]="dataElement.dataElementID">
                            {{dataElement.dataElementName}}
                          </mat-option>
                          <mat-option [value]="-1">
                            Other first
                          </mat-option>
                        </mat-select>
                      </mat-form-field>


     <mat-form-field class="two-way-banding eta-margin-two-way">
                        <mat-select placeholder="Relational Oprater" formControlName="relationalOpratersRow">
                          <ng-container *ngFor="let relationaOpt of relationalOpraters">
                            <mat-option *ngIf="relationaOpt.operatorsType==='relational'" [value]="relationaOpt.id">
                              {{relationaOpt.operator}}
                            </mat-option>
                          </ng-container>
                        </mat-select>
                      </mat-form-field> 
                       
                        
                       <mat-form-field class="two-way-banding">
                        <mat-select placeholder="DataElement 2" formControlName="secondDataElementRow" (selectionChange)="repeatingOtherConstantValue2($event.value, i)">
                          <mat-option *ngFor="let dataElement of dataElementList" [value]="dataElement.dataElementID">
                            {{dataElement.dataElementName}}
                          </mat-option>
                          <mat-option [value]="-2">
                            Other
                          </mat-option>
    
                        </mat-select>
                      </mat-form-field> 
                      
     <mat-form-field class="two-way-banding" *ngIf="repeatingBlockConstantValue1 == -1 &&  i == currentIndex">
                        <input matInput #message placeholder="Enter Constant1 Value" formControlName="OtherConstant1">
                      </mat-form-field> 

                         <mat-form-field class="two-way-banding" style="margin-right: 15px; float: right;" *ngIf="repeatingBlockConstantValue2 == -2 &&  i == currentIndex">
                        <input matInput #message placeholder="Enter Constant2 Value" formControlName="OtherConstant2">
                      </mat-form-field> 


                        <button class="delete-button"
                        type="button" mat-icon-button color="warn" (click)="deleteRow(i)">
                        <mat-icon>remove_circle</mat-icon>
                      </button>
                    </div>

                </div>
              </div>

            <button  style="float:right; width: 100%" type="button"
              mat-icon-button color="primary" (click)="addNewRow()">
              Add more conditions
              <mat-icon>add_circle</mat-icon>
            </button>
           
           <mat-form-field class="width-50 eta-float-left">
              <mat-select placeholder="True" formControlName="taskTrue">
                <mat-option *ngFor="let el of allTask" [value]="el.taskID">
                  {{el.taskName}}
                </mat-option>
                <button mat-button color="primary" class="add-button" (click)="openTaskTrueDialog()">
                  <mat-icon>add</mat-icon>
                  Add New Task
                </button>
              </mat-select>
            </mat-form-field> 

 <mat-form-field class="width-50 eta-float-right">
              <mat-select placeholder="False" formControlName="taskFalse">
                <mat-option *ngFor="let el of allTask" [value]="el.taskID">
                  {{el.taskName}}
                </mat-option>
                <button mat-button color="primary" class="add-button" (click)="openTaskFalseDialog()">
                  <mat-icon>add</mat-icon>
                  Add New Task
                </button>
              </mat-select>
            </mat-form-field>  
          </div> 
        <!-- Two Way Router Task IF/ELSE Conditions END  -->

          <!-- Splitter Task Display Chip End  -->


          
          <!-- Splitter Task Display Chip Started  -->
          <div>
          <!-- <button *ngIf="subTaskValue==6" type="button" mat-raised-button color="primary" class="eta-float-right eta-margin-all"
            (click)="openDialog()"> Splitter
            Task</button> -->
            <button *ngIf="taskTypeId== 6 && taskTypeId!=null" style="float:right; width: auto" type="button"
            mat-icon-button color="primary" (click)="openDialog()">
            Add Splitter Tasks
            <mat-icon>add_circle</mat-icon>
          </button>


          <mat-chip-list #chipList>
            <mat-chip *ngFor="let task of splitter_task" [selectable]="selectable" [removable]="removable" (removed)="remove(task)">
              {{task.name}} {{task.id}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <!--   <input placeholder="New fruit..."
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="add($event)"> -->
          </mat-chip-list>


          <!-- Splitter Task Display Chip End  -->
          <!-- Splitter Task Display Chip Started  -->
          <!-- <button *ngIf="subTaskValue==6" type="button" mat-raised-button color="primary" class="eta-float-right eta-margin-all"
            (click)="openDialog()"> Splitter
            Task</button> -->

          <!--   <mat-divider></mat-divider> -->
          <h4 *ngIf="taskTypeId== 6 && taskTypeId!=null ">_______________________________</h4>
          <button *ngIf="taskTypeId== 6 && taskTypeId!=null" style="float:right; width: auto" type="button"
            mat-icon-button color="primary" (click)="openFutureTaskDialog()">
            Add Merge splitter Task
            <mat-icon>add_circle</mat-icon>
          </button>


          <mat-chip-list #chipList>
            <mat-chip *ngFor="let task of joinner_task" [selectable]="selectable" [removable]="removable" (removed)="remove(task)">
              {{task.name}} {{task.id}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>

        </div>
          <!-- Splitter Task Display Chip End  -->

          
           <!-- Business Rule Task Start Here-->
           <div *ngIf="taskTypeId==15 && taskTypeId!=null">
              <mat-form-field class="two-way-banding">
                <mat-select placeholder="DataElement 1" formControlName="bRuleFirstDataElement" (selectionChange)="OtherConstantValue($event.value)">
                  <mat-option *ngFor="let dataElement of dataElementList" [value]="dataElement.dataElementID">
                    {{dataElement.dataElementName}}
                  </mat-option>
                  <!--  <mat-option [value]="-1" >
                    Other If
                  </mat-option> -->
                </mat-select>
              </mat-form-field>
  
              <mat-form-field class="two-way-banding eta-margin-two-way">
                <mat-select placeholder="Relational Oprater" formControlName="bRuleRelationalOpraters">
                  <ng-container *ngFor="let relationaOpt of relationalOpraters">
                    <mat-option *ngIf="relationaOpt.operatorsType==='relational'" [value]="relationaOpt.id">
                      {{relationaOpt.operator}}
                    </mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="two-way-banding">
                <mat-select placeholder="DataElement 1" formControlName="bRuleSecondDataElement" (selectionChange)="OtherConstantValue1($event.value)">
                  <mat-option *ngFor="let dataElement of dataElementList" [value]="dataElement.dataElementID">
                    {{dataElement.dataElementName}}
                  </mat-option>
                  <mat-option [value]="-2">
                    Other else
                  </mat-option>
                </mat-select>
              </mat-form-field>
  
              <mat-form-field class="two-way-banding" *ngIf="showConstantTextBox1== -1">
                <input matInput #message placeholder="Enter Constant1 Value" formControlName="OtherConstant1">
              </mat-form-field>
  
              <mat-form-field class="two-way-banding" style="margin-right: 15px; float: right;" *ngIf="showConstantTextBox2 == -2">
                <input matInput #message placeholder="Enter Constant2 Value" formControlName="bRuleOtherConstant2">
              </mat-form-field>
  
              <!-- Business Task For Excute on condition Start here -->
              <mat-form-field class="example-full-width">
                <mat-select placeholder="Business Task For above condition" formControlName="businessRuleTask">
                  <mat-option *ngFor="let el of allTask" [value]="el.taskID">
                    {{el.taskName}}
                  </mat-option>
                  <button mat-button color="primary" class="add-button" (click)="openTaskTrueDialog()">
                    <mat-icon>add</mat-icon>
                    Add New Task
                  </button>
                </mat-select>
              </mat-form-field>
              <!-- Business Task for Excute on condition ends Here -->
  
              <!-- repeating loop for business rule start here-->
              <div *ngIf="taskTypeId==15 && taskTypeId!=null" formArrayName="businessRuleRow">
                <div *ngFor="let itemrow of taskfrm.controls.businessRuleRow.controls; let i=index" [formGroupName]="i">
  
                  <!-- Border START -->
                  <div style="float: left; width: 95%" class="add-new-task-border itemRow">
                    <mat-form-field class="two-way-banding">
                      <mat-select placeholder="DataElement 1" formControlName="bRulefirstDataElementRow"
                        (selectionChange)="OtherConstantValue($event.value)">
                        <mat-option *ngFor="let dataElement of dataElementList" [value]="dataElement.dataElementID">
                          {{dataElement.dataElementName}}
                        </mat-option>
                        <!--  <mat-option [value]="-1" >
                          Other If
                        </mat-option> -->
                      </mat-select>
                    </mat-form-field>
  
                    <mat-form-field class="two-way-banding eta-margin-two-way">
                      <mat-select placeholder="Relational Oprater" formControlName="bRuleRelationalOpratersRow">
                        <ng-container *ngFor="let relationaOpt of relationalOpraters">
                          <mat-option *ngIf="relationaOpt.operatorsType==='relational'" [value]="relationaOpt.id">
                            {{relationaOpt.operator}}
                          </mat-option>
                        </ng-container>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="two-way-banding">
                      <mat-select placeholder="DataElement 1" formControlName="bRuleSecondDataElementRow"
                        (selectionChange)="OtherConstantValue1($event.value)">
                        <mat-option *ngFor="let dataElement of dataElementList" [value]="dataElement.dataElementID">
                          {{dataElement.dataElementName}}
                        </mat-option>
                        <mat-option [value]="-2">
                          Other else
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
  
                    <!--     <mat-form-field class="two-way-banding" *ngIf="showConstantTextBox1== -1">
                      <input matInput #message placeholder="Enter Constant1 Value" formControlName="OtherConstant1">
                    </mat-form-field> -->
  
                    <mat-form-field class="two-way-banding" style="margin-right: 15px; float: right;" *ngIf="showConstantTextBox2 == -2">
                      <input matInput #message placeholder="Enter Constant2 Value" formControlName="bRuleOtherConstantRow">
                    </mat-form-field>
  
                    <!-- Business Task For Excute on condition Start here -->
                    <mat-form-field class="example-full-width">
                      <mat-select placeholder="Business Task For above condition" formControlName="businessRuleTaskRow">
                        <mat-option *ngFor="let el of allTask" [value]="el.taskID">
                          {{el.taskName}}
                        </mat-option>
                        <button mat-button color="primary" class="add-button" (click)="openTaskTrueDialog()">
                          <mat-icon>add</mat-icon>
                          Add New Task
                        </button>
                      </mat-select>
                    </mat-form-field>
                    <button class="delete-button" 
                    type="button" mat-icon-button color="warn" (click)="deleteBusinessRule(i)">
                    <mat-icon>remove_circle</mat-icon>
                  </button>
                  </div>
                  <!-- Border END -->
                  
                </div>
              </div>
              <!-- Repeating block close -->
              <button *ngIf="taskTypeId==15 && taskTypeId!=null" style="float:right; width: 100%" type="button"
                mat-icon-button color="primary" (click)="addNewBusinessRule()">
                Add more conditions
                <mat-icon>add_circle</mat-icon>
              </button>
  
              <!-- Business Task For Excute on condition Else Condition  Start here -->
              <mat-form-field class="example-full-width">
                <mat-select placeholder="Default Business Rule Task  " formControlName="businessRuleElseTask">
                  <mat-option *ngFor="let el of allTask" [value]="el.taskID">
                    {{el.taskName}}
                  </mat-option>
                  <button mat-button color="primary" class="add-button" (click)="openTaskTrueDialog()">
                    <mat-icon>add</mat-icon>
                    Add New Task
                  </button>
                </mat-select>
              </mat-form-field>
                <!-- Business Task For Excute on condition Else Condition  Start END -->
              <!-- repeating loop for business rule start Ends Here-->
            </div>
            <!-- Business Rule task End here -->
           
    </div>


    <div class="flex-display">
      <div class="button-row flex-btn">
        <button type="submit" mat-raised-button color="primary">SUBMIT</button>
        <button class="eta-margin-all" type="button" [mat-dialog-close]=responseMsg mat-raised-button color="primary">CANCEL</button>
      </div>
    </div>
  </form>
</div>
