<div class=" table-padding">

  <mat-toolbar>
    <mat-icon>home</mat-icon>
    <mat-icon>arrow_forward_ios</mat-icon>
    <span>
      <a href="#" routerLink='/eta-web/userdashboard'>{{mainbreadcrumb}}</a>
    </span>
    <mat-icon>arrow_forward_ios</mat-icon>
      <span>
        <a routerLink='/eta-web/userdashboard'>{{breadcrumb}}</a>
      </span> 
  </mat-toolbar>

  <nav mat-tab-nav-bar [backgroundColor]="background">
    <ng-container *ngFor="let menu of menuList;">
      <a mat-tab-link *ngIf="menu.menuType==3 && menu.menuRef == 3" (click)="activeLink=shownRouterLink(menu.routerLink)"
        [active]="activeLink==menu.routerLink">
        {{menu.translation}} </a>
    </ng-container>
    <button mat-icon-button>
      <mat-icon (click)="toggleBackground()">invert_colors</mat-icon>
    </button>
  </nav>



  <!-- Grid show start-->
  <mat-card>

    <mat-data-table [myDataUrl]=userDataUrl [defaultSortColumn]=defaultColumnToSort></mat-data-table>

    <div class="button-row">
      <button type="button" (click)="addUser()" mat-raised-button color="primary">{{addButtonText}}</button>
      <button [disabled]="isEditAllowed == false" class="eta-margin-all" type="button" (click)="editUser()"
        mat-raised-button color="primary">{{editButtonText}}</button>
      <button [disabled]="isEditAllowed == false" type="button" (click)="AddAssignRole()" mat-raised-button color="primary">{{assignRoleButtonText}}
      </button>
      <button type="button">click me</button>
    </div>
  </mat-card>

</div>
