/* .dashboard {
  margin-left: 5px;
  border-left: 2px solid gray;
}

.nav .dashboard:hover {
  color: #A6510C;
}

.navbar-default {
  background-color: white;
  border-color: white;
}

.font {
  font-size: 22px;
}

.nav .font:hover {
  color: #A6510C;
}

.breadcrumb {
  margin-left: 10px;
}

.dashboard-margin {
  margin-left: 10px;
}

.border {
  background-color: #A6510C;
  height: 3px;
  width: 60px;
  margin-top: -20px;
  margin-left: 20px;
}

a.dashboard.font {
  height: 35px;
  padding: 10px 20px;
}
 */
/* Material design css start */

.eta-margin-all {
  margin: 10px;
}

.button-row {
  margin-top: 20px;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

/* .mat-toolbar{
  font: 500 15px/32px Roboto,"Helvetica Neue",sans-serif;
}
 */
.example-small-box, .example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.example-action-button {
  margin-bottom: 8px;
}
a:hover{
  text-decoration: none;
  color: inherit;
}