<div>
  <!-- Breadcrumb start-->
  <mat-toolbar>
    <mat-icon>home</mat-icon>
    <mat-icon>arrow_forward_ios</mat-icon>
    <span>
      <a href="#" routerLink='/eta-web/dashboardDataObject'>{{mainbreadcrumb}}</a>
    </span>
    <mat-icon>arrow_forward_ios</mat-icon>
    <span>
      <a routerLink='/eta-web/dataelementdashboard'>{{breadcrumb}}</a>
    </span>
    <mat-icon>arrow_forward_ios</mat-icon>
    <span>
      <a routerLink='/createform'>Add</a>
    </span>
  </mat-toolbar>
  <!-- Breadcrumb end-->
  <div class="col-sm-6 table-padding">
    <!--<div class=" breadcrumb">
      <table>
        <td>
          <span class="glyphicon glyphicon-home "></span>
        </td>
        <td>
          <span class="glyphicon glyphicon-menu-right"></span>
        </td>
        <td>
          <a href="#" routerLink='/dashboardDataObject'>{{mainbreadcrumb}}</a>
        </td>
        <td>
          <span class="glyphicon glyphicon-menu-right"></span>
        </td>
        <td>
          <a class=" colorA6510C" routerLink='/dataelementdashboard'>{{breadcrumb}}</a>
        </td>
        <td>
          <span class="glyphicon glyphicon-menu-right"></span>
        </td>
        <td>
          <a class=" colorA6510C" routerLink='/createform'>Add</a>
        </td>
      </table>
    </div>-->
    <mat-toolbar color="primary"> Data Elements </mat-toolbar>


    <mat-card>

      <form [formGroup]="createdynamicfrm" (ngSubmit)="onSubmit()">
         

        <mat-form-field class="example-full-width">
          <mat-select placeholder="Choose Data Object"  formControlName="selectedObject" class="filter-select"   
             multiple>
            <mat-option disabled="disabled" class="filter-option">
              <button mat-raised-button class="mat-primary fill text-sm" (click)="selectAll(dataContainers)">
                Select All
              </button>
              <button mat-raised-button class="mat-primary fill text-sm eta-margin-all" (click)="deselectAll()">
                Deselect All
              </button>
            </mat-option>
            <mat-option *ngFor="let dataContainer of dataContainers" [value]="dataContainer.item_id">{{dataContainer.item_text}}</mat-option>
          </mat-select>
        </mat-form-field>
       

        <mat-form-field class="example-full-width">
          <mat-icon matSuffix>perm_identity</mat-icon>
          <input matInput #message placeholder="Enter Element Name"  formControlName="elementname">
          <mat-hint align="end">{{message.value.length}} / 50</mat-hint>
        </mat-form-field>


        <mat-form-field class="example-full-width">
          <textarea matInput matTextareaAutosize="true" formControlName="elementDescription" placeholder="Enter Element Description"></textarea>
        </mat-form-field>


        <mat-form-field class="example-full-width">
          <mat-select placeholder="Display Element" name="configId" #selectionChangeValue formControlName="displayelement" 
            (selectionChange)="displayElementDropDownChange($event.value)">
            <mat-option *ngFor="let el of DisplayElement" [value]=el.displayElementID>
              {{el.displayElementName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      
        <mat-form-field *ngIf="selectionChangeValue.value ==4 || selectionChangeValue.value ==5" class="example-full-width">
          <mat-select placeholder="Choose Dropdown Value" formControlName="spdMstTable">
            <mat-option *ngFor="let el of spdMstList" [value]="el.tableName">
              {{el.tableDisplayName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-icon matSuffix>perm_identity</mat-icon>
          <input matInput #message placeholder="Enter Display Element Order" formControlName="displayDataElementOrder">
          <mat-hint align="end">{{message.value.length}} / 50</mat-hint>
        </mat-form-field>


        <mat-form-field class="example-full-width">
          <mat-select placeholder="Element Data Type" name="configId" formControlName="elementtype">
            <mat-option *ngFor="let el of ElementType" [value]="el.dataElementDataTypeID">
              {{el.dataElementDescription}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field class="example-full-width">
          <mat-select formControlName="mandatory" placeholder="Is mandatory">
            <mat-option [value]=0>Yes </mat-option>
            <mat-option [value]=1>No </mat-option>
          </mat-select>
        </mat-form-field>



        <mat-form-field class="example-full-width">
          <mat-select placeholder="Enter Element Source" name="configId" formControlName="elementsource">
            <mat-option *ngFor="let el of ElementSource" [value]="el.dataElementSourceID">
              {{el.dataElementSourceName}}
            </mat-option>
          </mat-select>
        </mat-form-field>



        <mat-form-field class="example-full-width">
          <mat-select placeholder="Enter Element Behaviour" name="configId" formControlName="elementbehaviour">
            <mat-option *ngFor="let el of ElementBehaviour" [value]="el.displayDataElementBehaviorID">
              {{el.displayDataElementBehaviorName}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <div class="button-row">
          <button type="submit" mat-raised-button color="primary">Add</button>
          <button class="eta-margin-all" type="button" (click)="cancel()" mat-raised-button color="primary">cancel</button>
          <button type="button" (click)="translationColumns()" mat-raised-button color="primary" data-toggle="modal"
            data-target="#myModal">Add Translation</button>

            {{selectionChangeValue.value}}
          <!-- <button *ngIf="selectionChangeValue ==4 || selectionChangeValue ==5" class="eta-margin-all" type="button" -->
          <button  class="eta-margin-all" type="button"
            (click)="addCustomTable()" mat-raised-button color="primary">Add Custom Table</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
<div *ngIf="gridDataElementColumns!=null" class="col-sm-6 table-padding ">
  <mat-toolbar color="primary">
    <span [matBadge]=recordsTotal matBadgeOverlap="false" matBadgeColor="accent">List of Data Element</span>
  </mat-toolbar>
  <mat-card>
    <mat-data-table [myDataUrl]=dataElementUrl [defaultSortColumn]=defaultColumnToSort></mat-data-table>
  </mat-card>
  <!-- <div class="heading-fontsize margin">List of Data Element (4)</div>
  <app-dynamic-datatable [myurl]=dataElementUrl [mycoloums]=gridDataElementColumns [gefields]=gridProcessData></app-dynamic-datatable> -->
</div>

<div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content" id="popup">
        <div class="modal-header">
          <!-- cross close button -->
          <button type="button" (click)="closePopUp()" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div *ngIf="isDataLoaded">
          <!-- <app-translation-grid  [myurl]="functionTransUrl" [key]="key"> </app-translation-grid> -->
          <app-dynamic-datatable (translationEditObj)="getTranslationEditObject($event)" [myurl]=dataElementTransUrl
            [mycoloums]=gridTranslationColumns></app-dynamic-datatable>
        </div>
        <!-- close button    -->
        <div class="modal-footer">
          <button type="button" (click)="closePopUp()" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
