/* Material design css start */

.eta-margin-all {
    margin: 10px;
  }
  
  .filter-option>.mat-pseudo-checkbox {
    display: none !important;
  }
  
  .filter-sidenav .mat-list-item-content {
    padding: 0 10px !important;
    font-size: 0.875rem !important;
  }
  
  .filter-sidenav .mat-select-trigger {
    font-size: 1rem !important;
  }
  