/* .dashboard{
    margin-left:5px;
    border-left: 2px solid gray;
}
.nav .dashboard:hover{
    color:#A6510C;
}
.navbar-default {
     background-color: white; 
   border-color: white;
  
}
.font{
    font-size:22px;  
}
.nav .font:hover{
    color:#A6510C;
   
}
.breadcrumb{
    margin-left:10px;
}
.dashboard-margin{
    margin-left:10px;
   

}
.border{
    background-color:#A6510C;
    height:3px;
    width:60px;
    margin-top:-20px;
    margin-left:20px;
}
a.dashboard.font{
   height:35px;
    padding: 10px 20px;
}


.colorA6510C{
    color: #A6510C;
    
}
.addbtn-float{
    float: left;
}
.addbtn-margin-top{
    margin-top: 50px;
} */
/* Material design css start */

.eta-margin-all {
    margin: 10px;
  }

.button-row {
    margin-top: 20px;
  }
    

  a:hover{
    text-decoration: none;
    color: inherit;
  }