<div>
  <!-- Breadcrumb start-->
  <mat-toolbar>
    <mat-icon>home</mat-icon>
    <mat-icon>arrow_forward_ios</mat-icon>
    <span>
      <a href="#" routerLink='/eta-web/dashboardDataObject'>{{mainbreadcrumb}}</a>
    </span>
    <mat-icon>arrow_forward_ios</mat-icon>
    <span>
      <a routerLink='/eta-web/datacontainerdashboard'>{{breadcrumb}}</a>
    </span>
    <mat-icon>arrow_forward_ios</mat-icon>
    <span>
      <a routerLink='/createdatacontainer'>Add</a>
    </span>
  </mat-toolbar>
  <!-- Breadcrumb end-->
  <div class="col-sm-6 table-padding">
    <!-- <div class=" breadcrumb">
      <table>
        <td>
          <span class="glyphicon glyphicon-home "></span>
        </td>
        <td>
          <span class="glyphicon glyphicon-menu-right"></span>
        </td>
        <td>
          <a href="#" routerLink='/dashboardDataObject'>{{mainbreadcrumb}}</a>
        </td>
        <td>
          <span class="glyphicon glyphicon-menu-right"></span>
        </td>
        <td>
          <a class=" colorA6510C" routerLink='/datacontainerdashboard'>{{breadcrumb}}</a>
        </td>
        <td>
          <span class="glyphicon glyphicon-menu-right"></span>
        </td>
        <td>
          <a class=" colorA6510C" routerLink='/createdatacontainer'>Add</a>
        </td>
      </table>
    </div>-->

    <mat-toolbar color="primary"> Data Containers </mat-toolbar>


    <mat-card>


      <form [formGroup]="createdatacontainer" (ngSubmit)="onSubmit()">

        <mat-form-field class="example-full-width">
          <mat-select placeholder="Choose Data Object" name="datacontiner" class="filter-select" formControlName="selectedConatinerValue"  multiple>
            <mat-option disabled="disabled" class="filter-option">
              <button mat-raised-button class="mat-primary fill text-sm" (click)="selectAll(dataContainers)">
                Select All
              </button>
              <button mat-raised-button class="mat-primary fill text-sm eta-margin-all" (click)="deselectAll()">
                Deselect All
              </button>
            </mat-option>
            <mat-option *ngFor="let dataContainer of dataContainers" [value]="dataContainer.item_id">{{dataContainer.item_text}}</mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field class="example-full-width">
          <mat-icon matSuffix>perm_identity</mat-icon>
          <input matInput #message placeholder="Enter Name" formControlName="createcontainername">
          <mat-hint align="end">{{message.value.length}} / 50</mat-hint>
        </mat-form-field>


        <mat-form-field class="example-full-width">
          <textarea matInput matTextareaAutosize="true" formControlName="descriptiontextarea" placeholder="Enter Description"></textarea>
        </mat-form-field>

        <div class="button-row">
          <button type="submit" mat-raised-button color="primary">Add</button>
          <button class="eta-margin-all" type="button" (click)="cancel()" mat-raised-button color="primary">cancel</button>
          <button type="button" (click)="translationColumns()" mat-raised-button color="primary" data-toggle="modal"
            data-target="#myModal">Add Translation</button>
        </div>
      </form>
    </mat-card>
  </div>
  <div *ngIf="gridDataContainerColumns!=null" class="col-sm-6 table-padding ">
    <!-- <div class="heading-fontsize margin">List of Data Container (4)</div>
    <app-dynamic-datatable [myurl]=dataContainerUrl [mycoloums]=gridDataContainerColumns></app-dynamic-datatable> -->
    <mat-toolbar color="primary">
      <span [matBadge]=recordsTotal matBadgeOverlap="false" matBadgeColor="accent">List of Container</span>
    </mat-toolbar>
    <mat-card>
      <mat-data-table [myDataUrl]=dataContainerUrl [defaultSortColumn]=defaultColumnToSort></mat-data-table>
    </mat-card>
  </div>
</div>
<div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content" id="popup">
        <div class="modal-header">
          <!-- cross close button -->
          <button type="button" (click)="closePopUp()" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div *ngIf="isDataLoaded">
          <!-- <app-translation-grid  [myurl]="functionTransUrl" [key]="key"> </app-translation-grid> -->
          <app-dynamic-datatable (translationEditObj)="getTranslationEditObject($event)" [myurl]=dataContainerTransUrl
            [mycoloums]=gridTranslationColumns></app-dynamic-datatable>
        </div>
        <!-- close button    -->
        <div class="modal-footer">
          <button type="button" (click)="closePopUp()" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
