
  <!-- Breadcrumb start-->
  <mat-toolbar class="breadcrumb">
      <svg-icon  src="assets/svg-icons/home.svg"></svg-icon>
        <svg-icon src="assets/svg-icons/arrow_forward.svg"></svg-icon>
      <span><a href="#" routerLink='/#2'>{{mainbreadcrumb}}</a></span>
      <svg-icon src="assets/svg-icons/arrow_forward.svg"></svg-icon>
      <span>
        <a routerLink='/eta-web/taskflowdashboard'>{{breadcrumb}}</a>
      </span>
      <svg-icon src="assets/svg-icons/arrow_forward.svg"></svg-icon>
      <span>
        <a routerLink='/addtaskflow'>Add</a>
      </span>
  </mat-toolbar>
<!-- Breadcrumb End -->



    <h2 class="target-area-title" > Add New Tasks Flow in {{acronym}} </h2>

  <mat-card class="content-card">
        <form [formGroup]="taskFlowForm" novalidate autocomplete='off'>
          <div class="custom-control-row">
            <div class="custom-field custom-field-fw" >  
                <mat-form-field class="example-full-width input-fields" appearance="outline">
                    <mat-label> Name </mat-label>
                    <input matInput [(ngModel)]="taskFlowName" 
                    [typeaheadAsync]="true" 
                    [typeahead]="dataSourceTaskFlow" 
                    (typeaheadLoading)="changeTypeaheadLoadingTaskFlow($event)"
                    (typeaheadOnSelect)="typeaheadOnSelectTaskFlow($event)" 
                    [typeaheadOptionsLimit]="5" 
                    typeaheadOptionField="taskFlowName" 
                    placeholder="Name *" maxlength="32" (keypress)="omit_special_char($event)" (input)= "checkOnKeyUpName($event)"  formControlName="taskFlowNameControl" [ngModelOptions]="{standalone: true}">
                     <svg-icon matSuffix src="assets/svg-icons/search.svg"></svg-icon>
                    <mat-hint>{{32 - taskFlowName.length}} Characters Remaining.</mat-hint>
                    <mat-error *ngIf="taskFlowForm.controls['taskFlowNameControl'].invalid && taskFlowForm.controls['taskFlowNameControl'].errors.required">Name is required</mat-error>
                    <!-- <mat-error *ngIf="taskFlowForm.controls['taskFlowNameControl'].invalid && taskFlowForm.controls['taskFlowNameControl'].value.length>0 && duplicateTaskFlowName">Name has been already taken.</mat-error> -->
                    <mat-error
                  *ngIf="taskFlowForm.controls['taskFlowNameControl'].invalid &&
                   taskFlowForm.controls['taskFlowNameControl'].hasError('duplicateTaskFlowName')">
                  Name has been already taken.</mat-error> 
                    <mat-error *ngIf="taskFlowForm.controls['taskFlowNameControl'].invalid && taskFlowForm.controls['taskFlowNameControl'].errors?.pattern">
                        Name should be alphanumeric.
                    </mat-error>
                    <mat-error
                  *ngIf="taskFlowForm.get('taskFlowNameControl').hasError('invalidName')">
                  First letter should be alphabatic. 
                </mat-error>
                    <!-- <span style="color:red" *ngIf="!taskFlowName"> </span> -->
                </mat-form-field>
</div>
          </div>
            <mat-slide-toggle [(ngModel)]="reusable"  [ngModelOptions]="{standalone: true}"> Reusable </mat-slide-toggle>  
                
           <div class="submit-cancel-button-division">
              <div *ngIf="isLoadingResults" class="loading-spinner-div">
                  <mat-spinner></mat-spinner>
                  </div>
                <button [disabled]='(taskFlowForm.invalid)' type = "submit" (click) = "onSave($event)" class="button no-margin button-margin-right">SUBMIT</button>
                <button type = "button" (click) = "cancel()" class="button no-margin button-margin-right">CANCEL</button>
              </div>
     </form>
    </mat-card>
  
    
      <h2 class="target-area-title"> Reusable Tasks Flows </h2>

     <!-- cards slider starts here -->
<div class="card-slider-relative-container">
    <div class="tasks-cards-slider-container" id="customScrollBarContainerHorizentol" #cardsContainer>
      <div class="cards-scrollable-content" #cardsScrollableContent>
          <mat-card class="card dashboard-square-card" *ngFor="let card of cards">
              <div class="card-description">
                <p class="body-text1">{{card.description}}</p>
              </div>
                <div class="button-division">
                 <div class="button-inner-division">
                     <button class="button no-margin">View</button>
                     <svg-icon class="card-expand-more-button unit-control-icon no-padding-svg" src="../../../assets/svg-icons/more_vert.svg"></svg-icon> 
                 </div>
               </div>
           </mat-card>
  
          </div>
      <div *ngIf="cardsScrollBackButtonFlag" class="cards-back-button-transparent-container">
        <button   class="cards-scroll-back-button custom-fab-small" (click)="cardsScrollBackFunction()" mat-fab>
            <svg-icon class="unit-icon no-padding-svg " src="../../../assets/svg-icons/arrow_backward.svg"></svg-icon>
        </button>
      </div>
      <div *ngIf="cardsScrollForwardButtonFlag" class="cards-forward-button-transparent-container">
        <button  class="cards-scroll-forward-button custom-fab-small" (click)="cardsScrollForwardButton()" mat-fab>
            <svg-icon class="unit-icon no-padding-svg " src="../../../assets/svg-icons/arrow_forward.svg"></svg-icon>
            </button>
           </div>
          </div>
          </div>
          <!-- cards slider endss here -->

