<h2>Example of type ahead</h2>
    <div class="custom-field custom-autocomplete">
      
  <mat-form-field appearance='outline' class="example-full-width">
      <mat-label>Name</mat-label>
    <input #inputField type="text" placeholder="Name" aria-label="Number" [(ngModel)]='inputNgModel' matInput [formControl]="myControl" [matAutocomplete]="auto" [formControl]="inputName" required>
    <div class="custom-autocomplete">
    <mat-autocomplete #auto="matAutocomplete" class="custom-autocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete></div>
    <mat-icon matSuffix>search</mat-icon>
    <mat-hint>As Printed in passport</mat-hint>
    <mat-error *ngIf="inputName.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</div>
