
.main-container{
    position: relative;
    width: 100%;
    height: 99%;
    background: none;
}
.close-button{
    position: absolute;
    top: 0;
    right: 0;
}
.close-button .on-hover{
    display: none;
}
.close-button:hover .on-hover{
    display: unset;
}
.close-button:hover .on-display{
    display: none;
}
.video-player-div{
    height: 100%;
    width: 100%;
    text-align: center;
}
