

<div class="main-container video-player-component" >
    <button class="close-button button-as-icon" mat-dialog-close>
        <svg-icon class="app-bar-icon no-padding-svg on-display " [style.fill]="'white'" src="assets/svg-icons/clear.svg"></svg-icon>
        <svg-icon class="app-bar-icon no-padding-svg on-hover" [style.fill]="'red'" src="assets/svg-icons/clear.svg"></svg-icon>
    </button>
    <div *ngIf="videoEmbed" class="video-player-div" [innerHtml]="videoEmbed"></div>
        <div *ngIf="youtubeEmbedID" class="video-player-div" [innerHtml]="youtubeEmbedID"></div>
</div>