

/* 
*{margin: 0; padding: 0} */

#smtpname{
    width: 200px;
     color: rgb(67, 20, 105);

}
#labelsize{

    font-size:18px;
    display: block;
    clear: both;
    text-align: left;   
 }

 .eta-margin-all{
    margin: 10px;
  }