<div>
      <!-- Breadcrumb start-->
    <mat-toolbar>
        <mat-icon>home</mat-icon>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span>
          <a href="#" routerLink='/eta-web/emaildashboard'>{{mainbreadcrumb}}</a>
        </span>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span>
          <a routerLink='/eta-web/addemailconfiguration'>Add</a>
        </span>
    </mat-toolbar>
    <!-- Breadcrumb end-->

  <!--  col-sm-6 tage start-->
  <div class=" container col-sm-6">
    <!--  table-padding tage start-->
    <div class="table-padding">
      <!-- Form container tage start-->
      <div class="container col-sm-12">
         <!-- Email Service Provider Header tag start-->
         <mat-toolbar color="primary"> Email Service Provider </mat-toolbar>
         <!-- Email Service Provider Header tag End-->
 
         <!-- mat card tag start-->
         <mat-card>
          <form [formGroup]="emailConfigForm" (ngSubmit)="onSubmit(emailConfigForm.value)">
          
           <!-- Material Design Contol Apply Start here  -->
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Select Email Provider" formControlName="configId" [(ngModel)]="cid" >
                <mat-option *ngFor="let master of masterConfig" [value]="master.configId">
                  {{master.configProviderName}}
                </mat-option>
              </mat-select>        
            </mat-form-field>

            <mat-list *ngFor="let master of masterConfig">
                <div class="form-group  user-input-wrp " *ngIf="cid==master.configId">
                  <label id="labelsize" class="label labelfont ">
                    <span id="smtpname">Provider Name : </span> {{master.configProviderName}}</label>
                  <label id="labelsize" class="label labelfont ">
                    <span id="smtpname">Smtp Address : </span>{{master.smtpAddress}}</label>
                  <label id="labelsize" class="label labelfont ">
                    <span id="smtpname">Port Number : </span>{{master.smtpPort}}</label>
                </div>
            </mat-list>

            <mat-form-field class="example-full-width">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <input matInput #message placeholder="Enter Smtp User Name" formControlName="username" required>
              <mat-hint align="start">
                <strong>Don't disclose personal info</strong>
              </mat-hint>
              <mat-hint align="end">{{message.value.length}} / 50</mat-hint>
            </mat-form-field>

            <mat-form-field class="example-full-width" >
              <input matInput placeholder="Enter Password"  formControlName="password" [type]="hide ? 'password' : 'text'" required>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-icon matSuffix>web</mat-icon>
              <input matInput placeholder="Enter Smtp Details" formControlName="smtpDetails">
            </mat-form-field>

            <div class="button-row">
              <button [disabled]="disableEditButton" type="submit" mat-raised-button color="primary">Add</button>
              <button class="eta-margin-all" type="button" (click)="cancel()" mat-raised-button color="primary">Cancel</button>
            </div>
  
            <mat-divider></mat-divider>
            <div class="eta-footer-block"></div>
  
            <!-- Material Design end here -->

          </form>
        </mat-card>
        <!-- mat card tag end -->

      </div>
      <!-- Form container tage End-->
    </div>
    <!-- Form table-padding tage End-->
  </div>
  <!-- Form col-sm-6 tage End-->
  <div *ngIf="emailConfigCol!=null" class="col-sm-6 table-padding ">
      <mat-toolbar color="primary"> List of Email Service Provider</mat-toolbar>
      <mat-card>
        <!--<app-admin-dynamic-datatable  [myurl]=emaiDataUrl [mycoloums]=emailConfigCol></app-admin-dynamic-datatable>-->
        <mat-data-table [myDataUrl]=emailServiceInnerDataUrl [defaultSortColumn]=defaultColumnToSort></mat-data-table>
      </mat-card>
  </div>
</div>