<div class=" table-padding">

  <!-- Breadcrumb start-->
  <mat-toolbar class="breadcrumb">
      <svg-icon  src="assets/svg-icons/home.svg"></svg-icon>
      <svg-icon src="assets/svg-icons/arrow_forward.svg"></svg-icon>
    <span>
      <a routerLink={{mainRouterLink}}>{{mainbreadcrumb}}</a>
    </span>
    <svg-icon src="assets/svg-icons/arrow_forward.svg"></svg-icon>
    <span>
      <a routerLink={{breadcrumbRouterLink}}>{{breadcrumb}}</a>
    </span>
  </mat-toolbar>
  <!-- Breadcrumb end-->

  <nav mat-tab-nav-bar [backgroundColor]="background">
    <ng-container *ngFor="let menu of menuList;">
      <a mat-tab-link *ngIf="menu.menuType==3 " (click)="activeLink=shownRouterLink(menu.routerLink)" [active]="activeLink==menu.routerLink">
        {{menu.translation}} </a>
    </ng-container>
    <!--<button mat-icon-button>
      <mat-icon (click)="toggleBackground()">invert_colors</mat-icon>
    </button>-->
  </nav>
  <mat-card>
    <!-- <app-dynamic-datatable *ngIf="MyTaskColumns!=null" [myurl]=MyTaskUrl [mycoloums]=MyTaskColumns></app-dynamic-datatable> -->
    <app-material-dynamic-data-table *ngIf="MyTaskColumns!=null" [myurl]=MyTaskUrl [mycoloums]=MyTaskColumns></app-material-dynamic-data-table>
  
    <!--<div class="button-row">
      <button type="button" (click)="editFunction()" mat-raised-button color="primary">Edit</button>
    </div>-->
  </mat-card>
</div>
