
  <!-- Breadcrumb start-->
  <mat-toolbar class="breadcrumb">
      <svg-icon  src="assets/svg-icons/home.svg"></svg-icon>
      <svg-icon src="assets/svg-icons/arrow_forward.svg"></svg-icon>
    <span>
      <a href="#" routerLink='/#2'>{{mainbreadcrumb}}</a>
    </span>
    <svg-icon src="assets/svg-icons/arrow_forward.svg"></svg-icon>
      <span>
        <a routerLink='/eta-web/masterdata'>{{breadcrumb}}</a>
      </span> 
  </mat-toolbar>
  <!-- Breadcrumb end-->



      <div class="target-area-title-division">
        <h3 class="target-area-title">Master Data</h3>
        <button class='setting-icon button-without-background float-right'>
          <svg-icon class="unit-control-icon no-padding-svg " src="assets/svg-icons/settings_applications.svg"></svg-icon>
        </button>
      </div>
      <div class="button-container">
        <button class="button no-top-margin button-margin-right lowercase">Show Used</button>
        <button class="button no-top-margin button-margin-right lowercase">Show Unused</button>
      </div>
   
    <!-- <p *ngIf="successAdded == 'submit'" class="remove-alert">
      Successfully Added {{groupName}} Master Group.
      <i class="material-icons remove-alert" (click) = "removeMessageAlert()"> cancel </i>
  </p> -->
  <mat-card class="content-card">
    <!-- alert message division -->
    <div class="mat-card-top-container">
        <div *ngIf="successAdded || successUpdated"
        class="alert-message-division top-container-rows">
        
         <div class="inner-flex-container">
           <div *ngIf="successAdded" class="success-alert">
            <svg-icon class="check-box-icon success-svg unit-control-icon no-padding-svg " src="assets/svg-icons/check_box.svg"></svg-icon>
           <p class="body-text1">Successfully added <span class="success-message-font">{{groupName}} </span>.</p><!--  and placed it at the end of the display order. Drag it up to reorder.  -->
               <button class="button-without-background remove-alert-button" (click)="removeSuccess()" >
                <svg-icon class="unit-control-icon no-padding-svg clear-icon" src="assets/svg-icons/cancel_presentation.svg"></svg-icon>
               </button>
           </div>
  
           <!-- for updated -->
           <div *ngIf="successUpdated" class="success-alert">
             
            <svg-icon class="check-box-icon success-svg unit-control-icon no-padding-svg " src="assets/svg-icons/check_box.svg"></svg-icon>
              <p class="body-text1">Successfully updated <span class="success-message-font">{{groupName}} </span>.</p><!--  and placed it at the end of the display order. Drag it up to reorder.  -->
              <button class="button-without-background remove-alert-button" (click)="removeUpdate()" >
                <svg-icon class="unit-control-icon no-padding-svg clear-icon" src="assets/svg-icons/cancel_presentation.svg"></svg-icon>
              </button>
          </div>
           </div>
           </div>
    <!-- table modification button group -->
    <div class='table-modification-button-container top-container-rows'>
      <div class="inner-center-division">
        
          <button *ngIf="!selection.selected.length" (click)="openAddDialog()" 
          class="modification-buttons button-without-background vertical-align-middle">
          <svg-icon class="unit-control-icon no-padding-svg" src="assets/svg-icons/add_box.svg"></svg-icon>
          </button>

          <button *ngIf="selection.selected.length" 
          class="modification-buttons button-without-background vertical-align-middle">
          <svg-icon class="unit-control-icon no-padding-svg" src="assets/svg-icons/delete.svg"></svg-icon>
          </button>


      </div>
    </div>

     
        </div>
    
    <div class="master-data-table custom-common-expandable-table">


      <div class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="masterDataSource" matSort matSortActive="typeName" matSortDisableClear
          matSortDirection="asc">

          <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

          <!-- checkbox Column -->
          <ng-container matColumnDef="checkbox">
            <mat-header-cell class="eta-table-constant-width-column-first no-padding" *matHeaderCellDef>
                <mat-checkbox class="custom-checkbox-without-margin margin-auto"
                 (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>

            </mat-header-cell>
            <mat-cell class="eta-table-constant-width-column-first text-align-center" data-label="label"
              *matCellDef="let row">
              <!-- for enabled checkbox -->
              <mat-checkbox *ngIf="!(row.typeName == 'System' || row.typeName == 'Configurable')"
                class="custom-checkbox-without-margin margin-auto" (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
              </mat-checkbox>
              <!-- for disabled checkbox -->
              <mat-checkbox *ngIf="row.typeName == 'Configurable'" [disabled]="row.typeName == 'Configurable'"
                class="custom-checkbox-without-margin margin-auto"></mat-checkbox>
            </mat-cell>
          </ng-container>

          <!-- group Column -->
          <ng-container matColumnDef="group">
            <mat-header-cell *matHeaderCellDef> Group
                <button class="filter-icon button-as-icon" mat-sort-header>
                    <svg-icon class="unit-control-icon no-padding-svg " src="assets/svg-icons/filter_list.svg"></svg-icon> 
                </button>
            </mat-header-cell>
            <mat-cell data-label="label" *matCellDef="let element">
              <a *ngIf="!(element.typeName == 'System')" [routerLink]=""
                class="ellipsisable-content edit-link body-text1 eta-custom-link"
                (click)="openEditDialog(element); $event.stopPropagation()">{{element.groupName}}</a>
                <span class="ellipsisable-content body-text1" *ngIf="element.typeName == 'System'">{{element.groupName}}</span>
                <button class="button-without-background table-right-aligned-button arrow ">
                    <svg-icon class="unit-control-icon no-padding-svg"
                      src="assets/svg-icons/arrow_down.svg"></svg-icon>
                </button></mat-cell>
          </ng-container>

          <!-- items Column -->
          <ng-container matColumnDef="items" >
            <mat-header-cell *matHeaderCellDef> Items
                <button class="filter-icon button-as-icon" mat-sort-header>
                    <svg-icon class="unit-control-icon no-padding-svg " src="assets/svg-icons/filter_list.svg"></svg-icon> 
                </button>
            </mat-header-cell>
            <mat-cell data-label="label" *matCellDef="let element"> {{element.masterGroupValues.length}} </mat-cell>
          </ng-container>

          <!-- type Column -->
          <ng-container matColumnDef="type" >
            <mat-header-cell *matHeaderCellDef> Type
                <button class="filter-icon button-as-icon" mat-sort-header>
                    <svg-icon class="unit-control-icon no-padding-svg " src="assets/svg-icons/filter_list.svg"></svg-icon> 
                </button>
            </mat-header-cell>
            <mat-cell data-label="label" *matCellDef="let element"> {{element.typeName}}

            </mat-cell>
          </ng-container>

          <!-- scope column -->
          <ng-container matColumnDef="scope" >
            <mat-header-cell *matHeaderCellDef> Scope
                <button class="filter-icon button-as-icon" mat-sort-header>
                    <svg-icon class="unit-control-icon no-padding-svg " src="assets/svg-icons/filter_list.svg"></svg-icon> 
                </button>
            </mat-header-cell>
            <mat-cell data-label="label" *matCellDef="let element">
              <div class="ellipsisable-content">
              {{ element.spdScope.scope}}
            </div>
            </mat-cell>
          </ng-container>

          <!-- status column -->
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef> Status
                <button class="filter-icon button-as-icon" mat-sort-header>
                    <svg-icon class="unit-control-icon no-padding-svg " src="assets/svg-icons/filter_list.svg"></svg-icon> 
                </button>
             </mat-header-cell>
            <mat-cell data-label="label" *matCellDef="let element">
              <svg-icon class="unit-control-icon no-padding-svg"
              [class.red-status]="element.status == '2'"
              [class.green-status]="element.status == '1'"
              [class.amber-status]="element.status == '3'"
               src="assets/svg-icons/crop_square.svg"></svg-icon>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" [cdkDetailRow]="row"
            [cdkDetailRowTpl]="tpl">
          </mat-row>
        </mat-table>
        <mat-toolbar>
          <mat-toolbar-row>
            
            <span class="example-spacer"></span>
            <mat-paginator [length]="resultsLength" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]"
              showFirstLastButtons (page)="pageEvent = onPaginateChange($event)"></mat-paginator>
          </mat-toolbar-row>
        </mat-toolbar>
      </div>

      <ng-template #tpl let-element>
        <div class="mat-row detail-row table-details-custom-container" [@detailExpand] style="overflow: hidden">
          <div class="table-details-custom-container">
            <div class="mat-column-checkbox eta-table-constant-width-column-first"></div>
            <div class="mat-column-group">
              <input type="checkbox" class="read-more-state" id="post-2" [(ngModel)]='readMoreCheckbox' />

              <ul class="read-more-wrap">

                <li *ngFor='let list of element.masterGroupValues | slice:0:5' class="body-text2">{{list.groupValue}}
                </li>
                <ng-container *ngIf='readMoreCheckbox'>
                  <li class="read-more-target" *ngFor='let list of element.masterGroupValues | slice:5'
                    class="body-text2">{{list.groupValue}}</li>
                </ng-container>
              </ul>
              <div *ngIf="element.masterGroupValues.length > 5">
                <label *ngIf='readMoreCheckbox' for="post-2" class="read-more-trigger read-more-button eta-custom-link">Show
                  less.</label>
                <label *ngIf='!readMoreCheckbox' for="post-2" class="read-more-trigger read-more-button ">... <span class="eta-custom-link">and
                  {{element.masterGroupValues.length - 5}} more.</span></label>

              </div>
            </div>
            <div class="mat-column-items "></div>
            <div class="mat-column-type"></div>
            <div class="mat-column-scope">
              {{element.spdScope.scope}}
            </div>
            <div class="mat-column-status"></div>
          </div>




        </div>
      </ng-template>

      <!--    <button type="button" (click)="openEditDialog()">edit</button> -->
      <div>

      </div>

    </div>

</mat-card>