
/* new css */
.content-card{
  padding: 0 !important;
}

.target-area-title-division .target-area-title{
  display: inline-block;
}
.target-area-title-division .float-right{
  float: right;
}
.mat-card-top-container{
  padding: var(--content-inside-padding);
}
.top-container-rows{
  margin-bottom: var(--content-inside-padding);
}
.top-container-rows:last-child{
  margin-bottom: 0;
}
/*table modification button styles starts*/
.table-modification-button-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.table-modification-button-container .inner-center-division{
position: relative;
}
.table-modification-button-container .inner-center-division .search-icon{
position: absolute;
top: 50%;
left: 100%;
transform: translate(-100%, -50%);
}
.modification-buttons{
  margin-right: var(--content-inside-padding);
}

/*table modification button styles ends*/

  /* alert message division styles starts */
  .alert-message-division{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .alert-message-division p{
   display: inline-block;
   font-size: var(--body-text1-base-font-size);
   margin: 0;
  }
  .alert-message-division .success-alert{
    color: var(--primary);
  }
  .alert-message-division .unsuccess-alert{
    color: var(--errors);
  }
  .alert-message-division p,
  .alert-message-division button,
  .alert-message-division .material-icons{
    color: inherit;
    vertical-align: middle;
  }
  .alert-message-division .remove-alert-button{
    position: absolute;
    top: 50%;
    left: 100%;
    -webkit-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
  }
  .alert-message-division .clear-icon{
    color: black;
  }
  .check-box-icon{
    display: inline-block;
    margin-right: var(--content-inside-padding);
    vertical-align: middle;
  }
/* alert message division styles ends */
/* table styles starts */
    /*styles for master data table component starts*/
    .mat-column-checkbox{
      flex: 5% !important;
    }
    .mat-column-group {
      flex: 30% !important;
    }
    .mat-column-items {
      flex: 15% !important;
    }
    .mat-column-type {
      flex: 15% !important;
    }
    .mat-column-scope {
      flex: 25% !important;
      word-break: break-word;
    }
    .mat-column-status {
      flex: 10% !important;
    }
    
    /*styles for master data table component starts*/
.mat-column-checkbox {
  flex: 5% !important;
}
.mat-column-group {
  flex: 30% !important;
}
.mat-column-items {
  flex: 15% !important;
}
.mat-column-type {
  flex: 15% !important;
}
.mat-column-scope {
  flex: 25% !important;
}
.mat-column-status {
  flex: 10% !important;
}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.element-row {
  position: relative;
}

.element-row:not(.expanded) {
  cursor: pointer;
}

.element-row:not(.expanded):hover {
  background: #f5f5f5;
}

.element-row.expanded {
  border-bottom-color: transparent;
}
.element-row.expanded .arrow {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Safari 3-8 */
  transform: rotate(180deg);
  transition: transform .2s linear;
}
.table-right-aligned-button{
  position: absolute;
  right: 20px;
}
.expansion-panel-container{
  width: 95%;
}
/* table details styles */
.table-details-custom-container{
  display: flex;
  width: 100%;
}
.table-details-custom-container ul{
  padding-left: var(--content-inside-padding);
}
.table-details-custom-container li{
  list-style: none;
  margin: 8px 0;
}
/* table styles ends */

  .filter-icon, .arrow{
      position: absolute;
      
  }
  .filter-icon{
      font-size: 18px;
      right: 0;
  }
.arrow{
    right: 20px;
}
  .green{
    color: green !important;
  }
  .red{
    color: red !important;
  }
  .amber {
    color: var(--secondary) !important;
  }
 
  /*read more styles starts*/
  .read-more-state {
    display: none;
  }
  
  .read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
  }
  
  .read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
  }
  .read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
    color: #666;
    font-size: .9em;
    line-height: 2;
    border: 1px solid #ddd;
    border-radius: .25em;
  }
  .read-more-button{
      margin-left: 40px;
      color: black;
      background: none;
      border: none;
      padding: 0;
  }
  /*read more styles ends*/
  
