.content-card{
  padding: 0 !important;
  overflow: hidden;
}
.top-container{
  padding: var(--content-inside-padding);
  
}

.dynamic-row{
  margin-bottom: var(--content-inside-padding);
  /* border-bottom: solid lightgray 1px; */
}
.dynamic-row:last-child{
  margin-bottom: 0;
} 
/* .dynamic-row:last-child{
  border-bottom: none;
} */

.target-area-title-division .target-area-title{
  display: inline-block;
}
.target-area-title-division .float-right{
  float: right;
}

/* tabs styles */
.tabs{
  position: relative;
}
.tab-button-group-container{
  vertical-align: middle;
 overflow-y: auto;
 white-space: nowrap;
 overflow-x: hidden;
}
.tab-button-group-container .scrollable-content{
  display: inline-block;
}
.tab-button-group-container .tabs-back-button-transparent-container,
.tab-button-group-container .tabs-forward-button-transparent-container{
 position: absolute;
 top: 50%;
 height: 100%;
 width: 100px;
}
.tab-button-group-container .tabs-back-button-transparent-container{
 left: 0;
 transform: translate(0%, -50%);
 background: linear-gradient(to left, transparent, white, white) !important;
}
.tab-button-group-container .tabs-forward-button-transparent-container{
 left: 100%;
 transform: translate(-100%, -50%);
 background: linear-gradient(to right, transparent, white, white) !important;
}
.tab-button-group-container .tabs-scroll-forward-button,
.tab-button-group-container .tabs-scroll-back-button{
 position: absolute;
 top: 50%;
 background: white !important;
 color: black !important;
}
.tab-button-group-container .tabs-scroll-forward-button{
 left: 100%;
 transform: translate(-100%, -50%);
}
.tab-button-group-container .tabs-scroll-back-button{

 transform: translate(0%, -50%);
}
.tab-button-group-container .tabs-scroll-forward-button:hover .material-icons {
 margin-left: 5px;
 transition: all .3s;
}
.tab-button-group-container .tabs-scroll-back-button:hover .material-icons {
 margin-right: 5px;
 transition: all .3s;
}
/* tabs styles ends */

/* table modification button group styles starts */
.table-modification-button-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.table-modification-button-container .inner-center-division{
position: relative;
}
.modification-buttons {
  margin-right: var(--content-inside-padding);
}
/* table modification button group styles ends */
/* table styles starts */
.data-model-table .mat-column-checkbox{
  flex: 5% !important;
}
.data-model-table .mat-column-container {
  flex: 35% !important;
}
.data-model-table .mat-column-type {
  flex: 15% !important;
}
.data-model-table .mat-column-objects {
  flex: 15% !important;
}
.data-model-table .mat-column-elements {
  flex: 15% !important;
}
.data-model-table .mat-column-status {
  flex: 15% !important;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.element-row {
  position: relative;
}

.element-row:not(.expanded) {
  cursor: pointer;
}

.element-row:not(.expanded):hover {
  background: #f5f5f5;
}

.element-row.expanded {
  border-bottom-color: transparent;
}
.element-row.expanded .arrow {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Safari 3-8 */
  transform: rotate(180deg);
  transition: transform .2s linear;
}
.table-right-aligned-button{
  position: absolute;
  right: 20px;
}
.expansion-panel-container{
  width: 95%;
}
/* table details styles */
.table-details-custom-container{
  display: flex;
}

.table-details-custom-container ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.table-button-toolbar{
  height: auto;
  padding: 0 !important;
}
.table-button-toolbar .mat-toolbar-row{
  padding: 0 !important;
}
.visibility-off-icon,
.visibility-icon{
  vertical-align: middle;
    border: solid 1px lightgray;
    border-radius: 4px;
    padding: 2px;
    margin-right: var(--horizontal-space-between-controls);
}
/* table styles ends */

  .filter-icon, .arrow{
      position: absolute;
      
  }
  .filter-icon{
      font-size: 18px;
      right: 15px;
  }
.arrow{
    right: 15px;
}
  .green{
    color: green !important;
  }
  .red{
    color: red !important;
  }
  .amber {
    color: var(--secondary) !important;
  }

  /* alert message division styles starts*/
.alert-message-division{
  color: green;
}
.inner-flex-division{
  position: relative;
}
.alert-message-division p,
.alert-message-division .material-icons,
.alert-message-division button{
  color: inherit;
}
.alert-message-division p{
  display: inline-block;
  margin: 0;
  font-size: var(--body-text1-base-font-size);
}
.alert-message-division .remove-alert-button{
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
.alert-message-division .checkbox-icon{
  margin-right: var(--content-inside-padding);
  display: inline-block;
}
  /* alert message division styles ends*/
.add-new-button{
  margin: var(--content-inside-padding) !important;
}

.expansion-panel-container .mat-expansion-panel ul li{
  margin-bottom: 10px !important;
  font-size: var(--body-text2-base-font-size) !important;
}
.expansion-panel-container .mat-expansion-panel-header-title{
  font-size: var(--body-text2-base-font-size) !important;
}
.expansion-panel-container .expansion-panel-container .mat-expansion-panel-header-description, 
.my-light-green-theme .expansion-panel-container .mat-expansion-indicator::after{
  color: black !important;
  border-width: 0 1px 1px 0 !important;
}

.data-model-dashboard .mat-expansion-panel-header:hover{
  background: none !important;
}
 .data-model-table .mat-expansion-panel:not([class*=mat-elevation-z]) {
     box-shadow: none !important;
   }