<div class="data-model-dashboard" (window:resize)="onWindowResized($event)">
    <!-- Breadcrumb start-->
    <mat-toolbar class="breadcrumb">
        <svg-icon src="assets/svg-icons/home.svg"></svg-icon>
        <svg-icon src="assets/svg-icons/arrow_forward.svg"></svg-icon>
        <span>
            <a href="#" routerLink='/#2'>{{mainbreadcrumb}}</a>
        </span>
        <svg-icon src="assets/svg-icons/arrow_forward.svg"></svg-icon>
        <span>
            <a routerLink='/eta-web/datamodel-dashboard'>{{breadcrumb}}</a>
        </span>
    </mat-toolbar>
    <!-- Breadcrumb end-->


    <div class="target-area-title-division">
        <h3 class="target-area-title">Data Models</h3>
        <button class='setting-icon button-without-background float-right'>
            <svg-icon class="unit-control-icon no-padding-svg " src="assets/svg-icons/settings_applications.svg"></svg-icon>
        </button>
    </div>
    <div class="button-container">
        <button class="button no-top-margin button-margin-right lowercase">Show Used</button>
        <button class="button no-top-margin button-margin-right lowercase">Show Unused</button>
    </div>

    <mat-card class="content-card">
        <!-- tabs slider -->
        <div class="top-container">
            <div class="tabs dynamic-row">
                <div class="tab-button-group-container" id="customScrollBarContainerHorizentol" #tabsContainer>
                    <div class="scrollable-content" #tabsScrollableContent>
                        <button class="button-as-tab" [class.active-button]="!processId" (click)='getAllDataContainerInfo()'> ALL </button>
                        <button class="button-as-tab" *ngFor="let process of processList" [class.active-button]="processId == process.processID"
                            (click)="getDataContainerByProcessID(process.processID)">
                            {{process.acronym}}</button>
                    </div>

                    <div *ngIf="tabsScrollbackButtonFlag" class="tabs-back-button-transparent-container">
                        <button class="tabs-scroll-back-button custom-fab-small" (click)="back()" mat-fab>
                            <svg-icon class="unit-icon no-padding-svg " src="../../../assets/svg-icons/arrow_backward.svg"></svg-icon>
                        </button>
                    </div>
                    <div *ngIf="tabsScrollForwardButtonFlag" class="tabs-forward-button-transparent-container">
                        <button class="tabs-scroll-forward-button custom-fab-small" (click)="forward()" mat-fab>
                            <svg-icon class="unit-icon no-padding-svg " src="../../../assets/svg-icons/arrow_forward.svg"></svg-icon>
                        </button>
                    </div>
                </div>

            </div>

            <div *ngIf="showMessageAlert" class="dynamic-row alert-message-division">
                <div class="inner-flex-division">

                    <svg-icon class="checkbox-icon success-svg unit-control-icon vertical-align-middle display-inline-block no-padding-svg "
                        src="assets/svg-icons/check_box.svg"></svg-icon>

                    <p *ngIf="showMessageAlert == 'submit'" class="alert-text vertical-align-middle">
                        Successfully Added {{name}}.
                    </p>
                    <p *ngIf="showMessageAlert == 'update'" class="alert-text vertical-align-middle">
                        Successfully Updated {{name}}.
                    </p>

                    <button class="button-without-background vertical-align-middle remove-alert-button" (click)="removeMessageAlert()">
                        <svg-icon class="checkbox-icon remove-alert unit-control-icon display-inline-block no-padding-svg " src="assets/svg-icons/cancel_presentation.svg"></svg-icon>
                    </button>
                </div>
            </div>
            <!-- table modification button group -->
            <div *ngIf="selection.selected.length" class='dynamic-row table-modification-button-container'>
                <div class="inner-center-division">
                    <button (click)="deleteDataContainer()" class="modification-buttons button-without-background vertical-align-middle">
                        <svg-icon class="unit-control-icon no-padding-svg delete-icon" src="assets/svg-icons/delete.svg"></svg-icon>
                    </button>
                </div>
            </div>
        </div>
        <!-- Mat Data Table Start -->
        <div class="data-model-table custom-common-expandable-table">
            <div class="example-container mat-elevation-z8">
                <mat-table #table [dataSource]="dataContainerDataSource" matSort>

                    <!-- check box field -->
                    <ng-container matColumnDef="checkbox">
                        <mat-header-cell class="eta-table-constant-width-column-first no-padding" *matHeaderCellDef>
                            <mat-checkbox class="custom-checkbox-without-margin margin-auto" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()">
                            </mat-checkbox>
                        </mat-header-cell>
                        <mat-cell class="eta-table-constant-width-column-first" *matCellDef="let row">
                            <mat-checkbox *ngIf="!(row.typeName == 'System' || row.typeName == 'Reused')" class="custom-checkbox-without-margin margin-auto"
                                (click)="$event.stopPropagation(); removeMessageAlert()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                            </mat-checkbox>
                            <mat-checkbox *ngIf="(row.typeName == 'Reused')" [disabled]="row.typeName == 'Reused'" class="custom-checkbox-without-margin margin-auto"></mat-checkbox>
                        </mat-cell>
                    </ng-container>

                    <!-- Container Column -->
                    <ng-container matColumnDef="container">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Container
                            <svg-icon class="filter-icon unit-control-icon no-padding-svg " src="assets/svg-icons/filter_list.svg"></svg-icon>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <a *ngIf="processId && !(element.typeName == 'System')" class="ellipsisable-content  body-text1 custom-link-style" [routerLink]=""
                                (click)="openEditDataContainer(element.containerId, element.processId)"> {{element.name}} </a>
                            <span *ngIf="!processId || element.typeName == 'System'" class="ellipsisable-content body-text1"> {{element.name}}</span>
                            <svg-icon class="unit-control-icon arrow no-padding-svg" src="assets/svg-icons/arrow_down.svg"></svg-icon>
                        </mat-cell>
                    </ng-container>

                    <!-- Type Column -->
                    <ng-container matColumnDef="type">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Type
                            <svg-icon class="filter-icon unit-control-icon no-padding-svg " src="assets/svg-icons/filter_list.svg"></svg-icon>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.typeName}} </mat-cell>
                    </ng-container>

                    <!-- Total Count of Objects Column -->
                    <ng-container matColumnDef="objects">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Objects
                            <svg-icon class="filter-icon unit-control-icon no-padding-svg " src="assets/svg-icons/filter_list.svg"></svg-icon>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.objectCount}} </mat-cell>
                    </ng-container>

                    <!-- Total Count of Elements Column -->
                    <ng-container matColumnDef="elements">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Elements
                            <svg-icon class="filter-icon unit-control-icon no-padding-svg " src="assets/svg-icons/filter_list.svg"></svg-icon>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.elementCount}}</mat-cell>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Status
                            <svg-icon class="filter-icon unit-control-icon no-padding-svg " src="assets/svg-icons/filter_list.svg"></svg-icon>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <svg-icon class="unit-control-icon no-padding-svg" [class.red-status]="element.status == '2'" [class.green-status]="element.status == '1'"
                                [class.amber-status]="element.status == '3'" src="../../../assets/svg-icons/crop_square.svg"></svg-icon>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row (click)='stopPropagationFunction($event)' *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row"
                        [cdkDetailRow]="row" [cdkDetailRowTpl]="tpl">
                    </mat-row>
                </mat-table>

                <mat-toolbar class="table-button-toolbar">
                    <mat-toolbar-row>
                        <button *ngIf="processId && !selection.selected.length" class="button add-new-button" (click)="openAddDataContainer()"> Add New </button>
                        <span class="example-spacer"></span>
                        <mat-paginator showFirstLastButtons [length]="resultsLength" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" (page)="pageEvent = onPaginateChange($event)"></mat-paginator>
                    </mat-toolbar-row>
                </mat-toolbar>
            </div>
            <ng-template #tpl let-element>
                <div class="mat-row detail-row" [@detailExpand] style="overflow: hidden">
                    <div class="table-details-custom-container body-text2">
                        <div class="mat-column-checkbox eta-table-constant-width-column-first"></div>
                        <div class="mat-column-container">
                            <div class="expansion-panel-container">
                                <div *ngFor='let detail of element.objConMap'>
                                <mat-expansion-panel >
                                    <mat-expansion-panel-header collapsedHeight="48px" expandedHeight="48px">
                                        <mat-panel-title>  {{detail.dataObject.objectName}} </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <ul>
                                        <li *ngFor='let itemElement of detail.dataObject.eleObjMapping'>
                                            <svg-icon *ngIf="itemElement.status != 'hidden'" class="visibility-icon unit-control-icon display-inline-block no-padding-svg"
                                                src="assets/svg-icons/visibility.svg"></svg-icon>
                                            <svg-icon *ngIf="itemElement.status == 'hidden'" class="visibility-off-icon unit-control-icon display-inline-block no-padding-svg"
                                                src="assets/svg-icons/visibility_off.svg"></svg-icon>
                                            {{itemElement.dataElement.elementName}}
                                        </li>
                                    </ul>
                                </mat-expansion-panel>
                            </div>
                            </div>
                        </div>
                        <div class="mat-column-type"></div>
                        <div class="mat-column-objects"></div>
                        <div class="mat-column-elements"></div>
                        <div class="mat-column-status"></div>
                    </div>
                </div>
            </ng-template>
        </div>
    </mat-card>
</div>
<!-- MatCard end -->