.task {
  border-radius: 5px;
  margin-top: 30px;
  border: 1px solid #252829;
}

.input-border-color {
  border: 2px solid #9C9FA1;
}

.modal-content {
  width: 150%;
  margin-top: 50px;
}

.poppadding {
  padding: 10px 10px;
}

.label-space {
  margin-left: 20px;
  color: #9C9FA1;
}

.permit {
  height: 45px;
  font-size: 18px;
}

.image-margin {
  margin-top: 20px;
}

textarea {
  width: 100%;
  min-height: 10em;
  border: 2px solid gray;
  border-radius: 5px;
}

.eta-margin-all {
  margin: 10px;
}

.two-way-banding {
  float: left;
  width: 30%;
}

.eta-margin-two-way {
  margin: auto 10px;
}

.add-new-task-border {
  border: 1px solid #98c0c1;
  border-radius: 10px;
  display: block;
  padding: 10px;
  margin: 5px auto;
}

.width-50{
  width: 45%;
  
}
