<!-- Breadcrumb start-->
<mat-toolbar>
  <mat-icon>home</mat-icon>
  <mat-icon>arrow_forward_ios</mat-icon>
  <span>
    <a href="#" routerLink='/eta-web/home'>{{mainbreadcrumb}}</a>
  </span>
  <mat-icon>arrow_forward_ios</mat-icon>
  <span>
    <a routerLink='/eta-web/taskdashboard'>{{breadcrumb}}</a>
  </span>
  <mat-icon>arrow_forward_ios</mat-icon>
  <span>
    <a routerLink='/task'>Add</a>
  </span>
</mat-toolbar>
<!-- Breadcrumb end-->

<div class="col-sm-6 table-padding">
  <!--<div class=" breadcrumb">
            <table>
                    <td>
                      <span class="glyphicon glyphicon-home "></span>
                    </td>
                    <td>
                      <span class="glyphicon glyphicon-menu-right"></span>
                    </td>
                    <td>
                      <a href="#" routerLink='/home'>{{mainbreadcrumb}}</a>
                    </td>
                    <td>
                      <span class="glyphicon glyphicon-menu-right"></span>
                    </td>
                    <td>
                      <a class=" colorA6510C" routerLink='/taskdashboard'>{{breadcrumb}}</a>
                    </td>
                    <td>
                      <span class="glyphicon glyphicon-menu-right"></span>
                    </td>
                    <td>
                      <a class=" colorA6510C" routerLink='/task'>Add</a>
                    </td>            
                  </table>
    </div>-->

  <mat-toolbar color="primary"> Task </mat-toolbar>
  <mat-card>
    <form [formGroup]="taskfrm" (ngSubmit)="onSubmit(taskfrm.value)">

      <div class="col-sm-12">
        <div class="col-sm-6 task">
          <div class="image-margin">
            <img src="assets/tag.png">
          </div>

          <mat-form-field class="example-full-width">
            <mat-icon matSuffix>perm_identity</mat-icon>
            <input matInput #message placeholder="Enter Task Title Name" formControlName="tasktitle">
            <mat-hint align="end">{{message.value.length}} / 50</mat-hint>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <textarea matInput matTextareaAutosize="true" formControlName="taskdes" placeholder="Enter Task Description"></textarea>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-icon matSuffix>perm_identity</mat-icon>
            <input matInput #message placeholder="Enter Privilege" formControlName="previlege">
            <mat-hint align="end">{{message.value.length}} / 50</mat-hint>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-icon matSuffix>perm_identity</mat-icon>
            <input matInput #message placeholder="Enter Privilege Name" formControlName="previlegename">
            <mat-hint align="end">{{message.value.length}} / 50</mat-hint>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <textarea matInput matTextareaAutosize="true" formControlName="previlegedes" placeholder="Enter Privilege Description"></textarea>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field class="example-full-width">
            <mat-select placeholder="Process" (selectionChange)="getAllTaskByProcessId($event.value)" name="configId"
              formControlName="process">
              <mat-option *ngFor="let el of allProcess" [value]="el.processID">
                {{el.processName}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-select placeholder="Previous Task" name="configId" (selectionChange)="selectedPreviousTask(el)"
              formControlName="previoustask">
              <mat-option *ngFor="let el of allTask" (click)="selectedPreviousTask(el)" [value]="el.taskID">
                {{el.taskName}}
              </mat-option>
            </mat-select>
          </mat-form-field>



          <mat-form-field class="example-full-width">
            <mat-select placeholder="Type" (selectionChange)="taskChange($event.value)" #taskType name="configId"
              formControlName="type">
              <mat-option *ngFor="let el of allTaskType" [value]="el.taskTypeID">
                {{el.taskTypeName}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-select placeholder="Sub Type" #subTask name="configId" (selectionChange)="subTaskChange($event.value)"
              formControlName="subtype">
              <mat-option *ngFor="let el of subTaskType" [value]="el.subTaskTypeId">
                {{el.subTaskTypeName}}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <!-- Splitter Task Display Chip Started  -->
          <!-- <button *ngIf="subTaskValue==6" type="button" mat-raised-button color="primary" class="eta-float-right eta-margin-all"
            (click)="openDialog()"> Splitter
            Task</button> -->
          <button *ngIf="subTaskValue== 6 && subTaskValue!=null" style="float:right; width: auto" type="button"
            mat-icon-button color="primary" (click)="openDialog()">
            Add Splitter Tasks
            <mat-icon>add_circle</mat-icon>
          </button>


          <mat-chip-list #chipList>
            <mat-chip *ngFor="let task of splitter_task" [selectable]="selectable" [removable]="removable" (removed)="remove(task)">
              {{task.name}} {{task.id}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <!--   <input placeholder="New fruit..."
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="add($event)"> -->
          </mat-chip-list>


          <!-- Splitter Task Display Chip End  -->
          <!-- Splitter Task Display Chip Started  -->
          <!-- <button *ngIf="subTaskValue==6" type="button" mat-raised-button color="primary" class="eta-float-right eta-margin-all"
            (click)="openDialog()"> Splitter
            Task</button> -->

          <!--   <mat-divider></mat-divider> -->
          <h4 *ngIf="subTaskValue== 6 && subTaskValue!=null ">_______________________________</h4>
          <button *ngIf="subTaskValue== 6 && subTaskValue!=null" style="float:right; width: auto" type="button"
            mat-icon-button color="primary" (click)="openFutureTaskDialog()">
            Add Marge splitter Task
            <mat-icon>add_circle</mat-icon>
          </button>


          <mat-chip-list #chipList>
            <mat-chip *ngFor="let task of joinner_task" [selectable]="selectable" [removable]="removable" (removed)="remove(task)">
              {{task.name}} {{task.id}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>


          <!-- Splitter Task Display Chip End  -->





          <!-- List Of All Send Notifications Template Start  -->
          <mat-form-field class="example-full-width" *ngIf="subTaskValue==2 ">
            <mat-select placeholder="Template Name" name="configId" formControlName="templateName">
              <mat-option *ngFor="let el of templateNameList" [value]="el.mailSendEvent">
                {{el.mailSendEvent}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- List Of All Send Notifications Template Start -->

          <!-- Two Way Router Task START -->
          <!--  Border START -->
          <div style="height: 100px;" *ngIf="(subTask.value==5) && subTask.value!=null">

            <!-- Two Way Router Task IF/ELSE Conditions END  -->


            <mat-form-field class="two-way-banding">
              <mat-select placeholder="DataElement 1" formControlName="firstDataElement" (selectionChange)="OtherConstantValue($event.value)">
                <mat-option *ngFor="let dataElement of dataElementList" [value]="dataElement.dataElementID">
                  {{dataElement.dataElementName}}
                </mat-option>
                <!--  <mat-option [value]="-1" >
                        Other If
                      </mat-option> -->
              </mat-select>
            </mat-form-field>

            <mat-form-field class="two-way-banding eta-margin-two-way">
              <mat-select placeholder="Relational Oprater" formControlName="relationalOpraters">
                <ng-container *ngFor="let relationaOpt of relationalOpraters">
                  <mat-option *ngIf="relationaOpt.operatorsType==='relational'" [value]="relationaOpt.id">
                    {{relationaOpt.operator}}
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="two-way-banding">
              <mat-select placeholder="DataElement 1" formControlName="secondDataElement" (selectionChange)="OtherConstantValue1($event.value)">
                <mat-option *ngFor="let dataElement of dataElementList" [value]="dataElement.dataElementID">
                  {{dataElement.dataElementName}}
                </mat-option>
                <mat-option [value]="-2">
                  Other else
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="two-way-banding" *ngIf="showConstantTextBox1== -1">
              <input matInput #message placeholder="Enter Constant1 Value" formControlName="OtherConstant1">
            </mat-form-field>

            <mat-form-field class="two-way-banding" style="margin-right: 15px; float: right;" *ngIf="showConstantTextBox2 == -2">
              <input matInput #message placeholder="Enter Constant2 Value" formControlName="OtherConstant2">
            </mat-form-field>

            <!-- Border END -->
            <!-- Repeating block after click on add in 2 way binding -->
            <div *ngIf="subTask.value==5 && subTask.value!=null" formArrayName="itemRows">
              
              <div *ngFor="let itemrow of taskfrm.controls.itemRows.controls; let i=index" [formGroupName]="i">

                <!-- Border START -->
                <div style="float: left; width: 95%" class="add-new-task-border">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Logical Oprater" formControlName="relationalConditionRow">
                      <ng-container *ngFor="let relationaOpt of relationalOpraters">
                        <mat-option *ngIf="relationaOpt.operatorsType==='logical'" [value]="relationaOpt.id">
                          {{relationaOpt.operator}}
                        </mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="two-way-banding">
                    <mat-select placeholder="DataElement 1" formControlName="firstDataElementRow" (selectionChange)="repeatingOtherConstantValue2($event.value ,i)">
                      <mat-option *ngFor="let dataElement of dataElementList" [value]="dataElement.dataElementID">
                        {{dataElement.dataElementName}}
                      </mat-option>
                      <mat-option [value]="-1">
                        Other first
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="two-way-banding eta-margin-two-way">
                    <mat-select placeholder="Relational Oprater" formControlName="relationalOpratersRow">
                      <ng-container *ngFor="let relationaOpt of relationalOpraters">
                        <mat-option *ngIf="relationaOpt.operatorsType==='relational'" [value]="relationaOpt.id">
                          {{relationaOpt.operator}}
                        </mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="two-way-banding">
                    <mat-select placeholder="DataElement 2" formControlName="secondDataElementRow" (selectionChange)="repeatingOtherConstantValue2($event.value, i)">
                      <mat-option *ngFor="let dataElement of dataElementList" [value]="dataElement.dataElementID">
                        {{dataElement.dataElementName}}
                      </mat-option>
                      <mat-option [value]="-2">
                        Other
                      </mat-option>

                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="two-way-banding" *ngIf="repeatingBlockConstantValue1 == -1 &&  i == currentIndex">
                    <input matInput #message placeholder="Enter Constant1 Value" formControlName="OtherConstant1">
                  </mat-form-field>

                  <mat-form-field class="two-way-banding" style="margin-right: 15px; float: right;" *ngIf="repeatingBlockConstantValue2 == -2 &&  i == currentIndex">
                    <input matInput #message placeholder="Enter Constant2 Value" formControlName="OtherConstant2">
                  </mat-form-field>

                </div>
                <!-- Border END -->
                <button *ngIf="subTask.value==5 && subTask.value!=null" style="float:right; width: 10px; right: -20px; display:block"
                  type="button" mat-icon-button color="warn" (click)="deleteRow(i)">
                  <mat-icon>remove_circle</mat-icon>
                </button>
              </div>
              <!-- End HERE -->
            </div>
            <!-- Repeating block close -->
            <button *ngIf="subTask.value==5 && subTask.value!=null" style="float:right; width: 100%" type="button"
              mat-icon-button color="primary" (click)="addNewRow()">
              Add more conditions
              <mat-icon>add_circle</mat-icon>
            </button>
            <!-- <button *ngIf="subTask.value==5 && subTask.value!=null" style="float:right;" type="button" mat-icon-button color="primary"
                  (click)="deleteRow(i)">
                  <mat-icon>remove_circle</mat-icon>
                </button> -->
            <!-- Repeating block after click on add in 2 way binding END HERE -->

            <!-- Two Way Router Task END HERE -->
            <!-- Two Way Router Task IF/ELSE Conditions  START -->
            <mat-form-field class="width-50 eta-float-left">
              <mat-select placeholder="True" formControlName="taskTrue">
                <mat-option *ngFor="let el of allTask" [value]="el.taskID">
                  {{el.taskName}}
                </mat-option>
                <button mat-button color="primary" class="add-button" (click)="openTaskTrueDialog()">
                  <mat-icon>add</mat-icon>
                  Add New Task
                </button>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="width-50 eta-float-right">
              <mat-select placeholder="False" formControlName="taskFalse">
                <mat-option *ngFor="let el of allTask" [value]="el.taskID">
                  {{el.taskName}}
                </mat-option>
                <button mat-button color="primary" class="add-button" (click)="openTaskFalseDialog()">
                  <mat-icon>add</mat-icon>
                  Add New Task
                </button>
              </mat-select>
            </mat-form-field>
          </div>
          <!-- Two Way Router Task IF/ELSE Conditions END  -->

          <!-- Business Rule Task Start Here-->
          <div *ngIf="subTask.value==15 && subTask.value!=null">
            <mat-form-field class="two-way-banding">
              <mat-select placeholder="DataElement 1" formControlName="bRuleFirstDataElement" (selectionChange)="OtherConstantValue($event.value)">
                <mat-option *ngFor="let dataElement of dataElementList" [value]="dataElement.dataElementID">
                  {{dataElement.dataElementName}}
                </mat-option>
                <!--  <mat-option [value]="-1" >
                  Other If
                </mat-option> -->
              </mat-select>
            </mat-form-field>

            <mat-form-field class="two-way-banding eta-margin-two-way">
              <mat-select placeholder="Relational Oprater" formControlName="bRuleRelationalOpraters">
                <ng-container *ngFor="let relationaOpt of relationalOpraters">
                  <mat-option *ngIf="relationaOpt.operatorsType==='relational'" [value]="relationaOpt.id">
                    {{relationaOpt.operator}}
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="two-way-banding">
              <mat-select placeholder="DataElement 1" formControlName="bRuleSecondDataElement" (selectionChange)="OtherConstantValue1($event.value)">
                <mat-option *ngFor="let dataElement of dataElementList" [value]="dataElement.dataElementID">
                  {{dataElement.dataElementName}}
                </mat-option>
                <mat-option [value]="-2">
                  Other else
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="two-way-banding" *ngIf="showConstantTextBox1== -1">
              <input matInput #message placeholder="Enter Constant1 Value" formControlName="OtherConstant1">
            </mat-form-field>

            <mat-form-field class="two-way-banding" style="margin-right: 15px; float: right;" *ngIf="showConstantTextBox2 == -2">
              <input matInput #message placeholder="Enter Constant2 Value" formControlName="bRuleOtherConstant2">
            </mat-form-field>

            <!-- Business Task For Excute on condition Start here -->
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Business Task For above condition" formControlName="businessRuleTask">
                <mat-option *ngFor="let el of allTask" [value]="el.taskID">
                  {{el.taskName}}
                </mat-option>
                <button mat-button color="primary" class="add-button" (click)="openTaskTrueDialog()">
                  <mat-icon>add</mat-icon>
                  Add New Task
                </button>
              </mat-select>
            </mat-form-field>
            <!-- Business Task for Excute on condition ends Here -->

            <!-- repeating loop for business rule start here-->
            <div *ngIf="subTask.value==15 && subTask.value!=null" formArrayName="businessRuleRow">
              <div *ngFor="let itemrow of taskfrm.controls.businessRuleRow.controls; let i=index" [formGroupName]="i">

                <!-- Border START -->
                <div style="float: left; width: 95%" class="add-new-task-border">
                  <mat-form-field class="two-way-banding">
                    <mat-select placeholder="DataElement 1" formControlName="bRulefirstDataElementRow"
                      (selectionChange)="OtherConstantValue($event.value)">
                      <mat-option *ngFor="let dataElement of dataElementList" [value]="dataElement.dataElementID">
                        {{dataElement.dataElementName}}
                      </mat-option>
                      <!--  <mat-option [value]="-1" >
                        Other If
                      </mat-option> -->
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="two-way-banding eta-margin-two-way">
                    <mat-select placeholder="Relational Oprater" formControlName="bRuleRelationalOpratersRow">
                      <ng-container *ngFor="let relationaOpt of relationalOpraters">
                        <mat-option *ngIf="relationaOpt.operatorsType==='relational'" [value]="relationaOpt.id">
                          {{relationaOpt.operator}}
                        </mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="two-way-banding">
                    <mat-select placeholder="DataElement 1" formControlName="bRuleSecondDataElementRow"
                      (selectionChange)="OtherConstantValue1($event.value)">
                      <mat-option *ngFor="let dataElement of dataElementList" [value]="dataElement.dataElementID">
                        {{dataElement.dataElementName}}
                      </mat-option>
                      <mat-option [value]="-2">
                        Other else
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <!--     <mat-form-field class="two-way-banding" *ngIf="showConstantTextBox1== -1">
                    <input matInput #message placeholder="Enter Constant1 Value" formControlName="OtherConstant1">
                  </mat-form-field> -->

                  <mat-form-field class="two-way-banding" style="margin-right: 15px; float: right;" *ngIf="showConstantTextBox2 == -2">
                    <input matInput #message placeholder="Enter Constant2 Value" formControlName="bRuleOtherConstantRow">
                  </mat-form-field>

                  <!-- Business Task For Excute on condition Start here -->
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Business Task For above condition" formControlName="businessRuleTaskRow">
                      <mat-option *ngFor="let el of allTask" [value]="el.taskID">
                        {{el.taskName}}
                      </mat-option>
                      <button mat-button color="primary" class="add-button" (click)="openTaskTrueDialog()">
                        <mat-icon>add</mat-icon>
                        Add New Task
                      </button>
                    </mat-select>
                  </mat-form-field>

                </div>
                <!-- Border END -->
                <button *ngIf="subTask.value==15 && subTask.value!=null" style="float:right; width: 10px; right: -20px; display:block"
                  type="button" mat-icon-button color="warn" (click)="deleteBusinessRule(i)">
                  <mat-icon>remove_circle</mat-icon>
                </button>
              </div>
            </div>
            <!-- Repeating block close -->
            <button *ngIf="subTask.value==15 && subTask.value!=null" style="float:right; width: 100%" type="button"
              mat-icon-button color="primary" (click)="addNewBusinessRule()">
              Add more conditions
              <mat-icon>add_circle</mat-icon>
            </button>

            <!-- Business Task For Excute on condition Else Condition  Start here -->
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Default Business Rule Task  " formControlName="businessRuleElseTask">
                <mat-option *ngFor="let el of allTask" [value]="el.taskID">
                  {{el.taskName}}
                </mat-option>
                <button mat-button color="primary" class="add-button" (click)="openTaskTrueDialog()">
                  <mat-icon>add</mat-icon>
                  Add New Task
                </button>
              </mat-select>
            </mat-form-field>
              <!-- Business Task For Excute on condition Else Condition  Start END -->
            <!-- repeating loop for business rule start Ends Here-->
          </div>
          <!-- Business Rule task End here -->

          <mat-form-field *ngIf="taskType.value==1 || taskType.value==null" class="example-full-width">
            <mat-select placeholder="Form" formControlName="form">
              <mat-option *ngFor="let el of allFrom" [value]="el.formID">
                {{el.formName}}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field class="example-full-width">
            <mat-select placeholder="Is Last Task?" formControlName="lasttask">
              <mat-option [value]="0">Sequence</mat-option>
              <mat-option [value]="1">Start Task</mat-option>
              <mat-option [value]="2">End Task</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="button-row">
        <button type="submit" mat-raised-button color="primary">Add</button>
        <button class="eta-margin-all" type="button" (click)="cancel()" mat-raised-button color="primary">cancel</button>
        <button type="button" (click)="translationColumns()" mat-raised-button color="primary" data-toggle="modal"
          data-target="#myModal">Add Translation</button>
      </div>
    </form>
  </mat-card>
</div>
<div *ngIf="gridTaskColumns!=null" class="col-sm-6 table-padding ">
  <!-- <div class="heading-fontsize margin">List of Task (4)</div> -->
  <mat-toolbar color="primary">
    <span [matBadge]=recordsTotal matBadgeOverlap="false" matBadgeColor="accent">List of Task</span>
  </mat-toolbar>
  <mat-card>
    <mat-data-table [myDataUrl]=taskUrl [defaultSortColumn]=defaultColumnToSort></mat-data-table>
  </mat-card>

  <!--  <app-dynamic-datatable [myurl]=taskUrl [mycoloums]=gridTaskColumns></app-dynamic-datatable>
</div> -->

  <div class="container">

    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content" id="popup">
          <div class="modal-header">
            <!-- cross close button -->
            <button type="button" (click)="closePopUp()" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div *ngIf="isDataLoaded">
            <!-- <app-translation-grid  [myurl]="functionTransUrl" [key]="key"> </app-translation-grid> -->
            <app-dynamic-datatable (translationEditObj)="getTranslationEditObject($event)" [myurl]=taskTransUrl
              [mycoloums]=gridTranslationColumns></app-dynamic-datatable>
          </div>
          <!-- close button    -->
          <div class="modal-footer">
            <button type="button" (click)="closePopUp()" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>

    </div>
