.error-msg {
  color: #a94442;
}

.fix-error-icon {
  top: 27px;
}

.control-label.required:after {
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 5px;
  top: 7px;
}

.btn-bottom-margin {
  margin-bottom: 50px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #A6510C;
}

.colorA6510C {
  color: #A6510C;
}

.eta-margin-all {
  margin: 10px;
}

.error-box {
  background-color: #f7c5c4;
  padding: 10px;
  border: 1px solid red;
  border-radius: 10px;
}

.container {
  max-width: 400px;
  min-width: 350px;
  
}

.material-icons{
  font-size: 18px;
  
}
