<div class="table-padding" style="margin-top: 20vh" >

  <div class="container">
    <mat-toolbar color="primary">Password reset</mat-toolbar>
    <mat-card>
      <mat-error *ngIf="isPasswordValid== true ">
        <mat-icon *ngIf="lengthCheck == true ">done</mat-icon>
        <mat-icon *ngIf="lengthCheck == false ">close</mat-icon> {{lengthCheckMsg}}
      </mat-error>

      <mat-error *ngIf="isPasswordValid== true ">
        <mat-icon *ngIf="numberCheck == true ">done</mat-icon>
        <mat-icon *ngIf="numberCheck == false ">close</mat-icon> {{numberCheckMsg}}
      </mat-error>

      <mat-error *ngIf="isPasswordValid== true ">
        <mat-icon *ngIf="uppercaseCheck == true ">done</mat-icon>
        <mat-icon *ngIf="uppercaseCheck == false ">close</mat-icon> {{uppercaseCheckMsg}}
      </mat-error>

      <mat-error *ngIf="isPasswordValid== true ">
        <mat-icon *ngIf="specialCharCheck == true ">done</mat-icon>
        <mat-icon *ngIf="specialCharCheck == false ">close</mat-icon> {{specialCharCheckMsg}}
      </mat-error>

      <!--  <mat-error *ngIf="passwordResetForm.controls['newPassword'].touched">
            <mat-icon *ngIf="uppercaseCheck == false ">close</mat-icon>
            Password is required
          </mat-error> -->

    </mat-card>
    <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit(passwordResetForm.value)">
      <mat-card>
        <mat-form-field class="example-full-width">
          <input matInput #newPassword placeholder="New Password" #input (focusout)=fatchedPassword(input.value) name="password" formControlName="newPassword">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput #confirmPassword placeholder="Confirm Password" name="password_confirmation" formControlName="confirmPassword">
          <mat-error *ngIf="!passwordResetForm.controls['confirmPassword'].valid && passwordResetForm.controls['confirmPassword'].touched">
            Password does not match
          </mat-error>

        </mat-form-field>
        <div class="button-row">
          <button type="submit" mat-raised-button color="primary">Submit</button>
          <button class="eta-margin-all" type="reset" (click)="cancel()" mat-raised-button color="primary">Cancel</button>
        </div>
      </mat-card>

    </form>
  </div>
</div>
