<div>
      <!-- Breadcrumb start-->
    <mat-toolbar>
        <mat-icon>home</mat-icon>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span>
          <a href="#" routerLink='/eta-web/organizationdashboard'>{{mainbreadcrumb}}</a>
        </span>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span>
          <a routerLink='/eta-web/calendardashboard'>{{breadcrumb}}</a>
        </span>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span>
          <a routerLink='/showorgdetails'>Add</a>
        </span>
    </mat-toolbar>
    <!-- Breadcrumb end-->

  <!-- Form col-sm-6 tage start-->
  <div class="col-sm-6 div-padding">
    <!-- Form table-padding tage start-->
    <div class="table-padding">
      <!-- Form container tage start-->
      <div class="container col-sm-12">
        <!-- Org Calendar Header tag start-->
        <mat-toolbar color="primary"> Organization Calendar </mat-toolbar>
        <!-- Org Calendar Header tag End-->
 
        <!-- mat card tag start -->
        <mat-card>
          <form [formGroup]="orgfrm" (ngSubmit)="onSubmit(orgfrm.value)">

            <mat-form-field class="example-full-width">
              <mat-select placeholder="Select Organization" formControlName="orgId">
                <mat-option *ngFor="let orgObj of orglist" [value]="orgObj.orgId">
                  {{orgObj.orgName}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-select placeholder="Select Location" formControlName="location">
                <mat-option *ngFor="let loc of locationlist" [value]="loc.countryId">{{loc.countryName}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-select placeholder="Select Days" formControlName="dayid">
                <mat-option *ngFor="let day of dayslist " [value]="day.id">{{day.days}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <ul>
              <li>
                <mat-form-field class="example-full-width">
                  <mat-select placeholder="Start Time Hours" formControlName="startHH">
                    <mat-option *ngFor="let work of workingHours " [value]="work.id">{{work.value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </li>
              <li>
                <mat-form-field class="example-full-width eta-margin-all">
                  <mat-select placeholder="Start Time Minutes" formControlName="startMM">
                    <mat-option *ngFor="let work of workingMinutes " [value]="work.id">{{work.value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </li>
              <li>
                <mat-form-field class="example-full-width eta-margin-all">
                  <mat-select placeholder="Start Time Type" formControlName="startAMPM">
                    <mat-option *ngFor="let work of workingType " [value]="work.id">{{work.value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </li>
            </ul>
            <ul>
              <li>
                <mat-form-field class="example-full-width">
                  <mat-select placeholder="End Time Hours" formControlName="endHH">
                    <mat-option *ngFor="let work of workingHours " [value]="work.id">{{work.value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </li>
              <li>
                <mat-form-field class="example-full-width eta-margin-all">
                  <mat-select placeholder="End Time Minutes" formControlName="endMM">
                    <mat-option *ngFor="let work of workingMinutes " [value]="work.id">{{work.value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </li>
              <li>
                <mat-form-field class="example-full-width eta-margin-all">
                  <mat-select placeholder="End Time Type" formControlName="endAMPM">
                    <mat-option *ngFor="let work of workingType " [value]="work.id">{{work.value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </li>
            </ul>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Total Working Hours" formControlName="totalworkinghours">
            </mat-form-field>

            <div class="button-row">
              <button type="submit" mat-raised-button color="primary">Add</button>
              <button class="eta-margin-all" type="button" (click)="cancel()" mat-raised-button color="primary">Cancel</button>
            </div>

        </form>
      </mat-card>
      <!-- mat card tag end -->

      </div>
      <!-- Form container tage End-->
    </div>
    <!-- Form table-padding tage End-->
  </div>
  <!-- Form col-sm-6 tage End-->
  <div *ngIf="organizationCalUrlCol!=null" class="col-sm-6 table-padding">
      <mat-toolbar color="primary"> List of Working Calender</mat-toolbar>
    <mat-card>
      <!--<app-admin-dynamic-datatable [myurl]=organizationCalUrl [mycoloums]=organizationCalUrlCol></app-admin-dynamic-datatable>-->
      <mat-data-table [myDataUrl]=workingCalenderInnerDataUrl [defaultSortColumn]=defaultColumnToSort></mat-data-table>
    </mat-card>
  </div>
</div>
