
a{
    text-decoration: none;
}
a:hover{
    color: #A6510C;
}
.colorA6510C{
    color: #A6510C;
}
ul{
    padding: 0px;
}
li{
    display: inline-block;
    width: 25%;
}

/* Material design css start */
.eta-margin-all{
    margin: 10px;
  }
  