<div class="mat-elevation-z8 data-table">

  <!--  -->
  <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      API limit has been reached. It will be updated in after sometime.
    </div>
  </div>
  <!--  -->


  <table mat-table #table [dataSource]="data" matSort matSortActive="createdBy" matSortDisableClear matSortDirection="asc"
    aria-label="Elements">

    <ng-container *ngFor="let key of gridDataDisplay" class="block-container" matColumnDef="{{key.data}}">
      <th class="full-flex" mat-header-cell *matHeaderCellDef mat-sort-header>{{key.displayName}}</th>
      <span *ngIf="key.data == 'isdeleted' || key.data == 'activeYN'">

        <td mat-cell *matCellDef="let row ;">
          <button mat-raised-button  (click)=select.open()>
            <strong style="color: green" *ngIf="row[key.data] ==0" class="menu-filter-item-title">Active</strong>
            <strong style="color: red" *ngIf="row[key.data] ==1" class="menu-filter-item-title">Deactive</strong>
            <mat-select #select class="langSelect" (selectionChange) ="updateStatus($event,row)">
              <mat-option *ngFor="let sf of statusFlagList" [value]="sf.id">
                {{sf.status}}
              </mat-option>
            </mat-select>
          </button>
        </td>

      </span>
      <span *ngIf="key.data != 'check' ">

        <td mat-cell *matCellDef="let row" (click)="openDialog()">{{row[key.data]}} </td>
      </span>

      <span *ngIf="key.data == 'check'">

        <mat-radio-group>

          <td mat-cell *matCellDef="let row ; let i = index;">

            <mat-radio-button  (click)="checkBoxSelected(row)" [value]="row"></mat-radio-button>


          </td>
        </mat-radio-group>
      </span>

    </ng-container>



    <tr class="full-flex" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <h3 class="no-record-found" *ngIf="data== null || data.length == null || data.length === 0">No records found</h3>

  <mat-paginator #paginator [length]="resultsLength" [pageIndex]="0" [pageSize]="pageSize" [pageSizeOptions]="[15, 10, 25, 50]">
  </mat-paginator>
</div>
