.data-table {
  width: 100%;
  margin: 20px auto;
}

table.mat-table {
  width: 100%;
}

th.mat-table {
  padding: 10px;
  color: aliceblue;
}

td.mat-cell {
  padding: 10px;
  border: 0.5px dotted #d6d6d6;
}

.full-flex {
  padding: 10px;
  border: 0.5px dotted #d6d6d6;
  font-size: 15px;

}

/* Structure */

.example-container {
  position: relative;
}

.example-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */

.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

th {
  background: #8a858549;
}

tr:hover {
  background: #c7bebe3a;
}


.no-record-found {
  text-align: center;
  padding: 10px;
  font-size: 16px;
}


::ng-deep .langSelect div.mat-select-arrow-wrapper {
  display: none;
}

::ng-deep .langSelect.mat-select {
  display: inline;
}