.cuppa-dropdown[_ngcontent-c8] {
	position: relative
}

.c-btn[_ngcontent-c8] {
	display: inline-block;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 14px;
	color: #333
}

.c-btn.disabled[_ngcontent-c8] {
	background: #ccc
}

.c-btn[_ngcontent-c8]:focus {
	outline: none
}
.selected-list{
    border: 1px solid #0079FE;
    
}

.selected-list[_ngcontent-c8] .c-list[_ngcontent-c8] {
	float: left;
	padding: 0px;
	margin: 0px;
	width: calc(100% - 20px)
}

.selected-list[_ngcontent-c8] .c-list[_ngcontent-c8] .c-token[_ngcontent-c8] {
	list-style: none;
	padding: 2px 8px;
	background: #0079FE;
	color: #fff;
	border-radius: 2px;
	margin-right: 4px;
	margin-top: 2px;
	float: left;
	position: relative;
	padding-right: 25px
}

.selected-list[_ngcontent-c8] .c-list[_ngcontent-c8] .c-token[_ngcontent-c8] .c-label[_ngcontent-c8] {
	display: block;
	float: left
}

.selected-list[_ngcontent-c8] .c-list[_ngcontent-c8] .c-token[_ngcontent-c8] .c-remove[_ngcontent-c8] {
	position: absolute;
	right: 8px;
	top: 50%;
	transform: translateY(-50%);
	width: 10px
}

.selected-list[_ngcontent-c8] .c-list[_ngcontent-c8] .c-token[_ngcontent-c8] .c-remove[_ngcontent-c8] svg[_ngcontent-c8] {
	fill: #fff
}

.selected-list[_ngcontent-c8] .fa-angle-down[_ngcontent-c8],
.selected-list[_ngcontent-c8] .fa-angle-up[_ngcontent-c8] {
	font-size: 15pt;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%)
}

.selected-list[_ngcontent-c8] .c-angle-down[_ngcontent-c8],
.selected-list[_ngcontent-c8] .c-angle-up[_ngcontent-c8] {
	width: 15px;
	height: 15px;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none
}

.selected-list[_ngcontent-c8] .c-angle-down[_ngcontent-c8] svg[_ngcontent-c8],
.selected-list[_ngcontent-c8] .c-angle-up[_ngcontent-c8] svg[_ngcontent-c8] {
	fill: #333
}

.selected-list[_ngcontent-c8] .countplaceholder[_ngcontent-c8] {
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%)
}

.selected-list[_ngcontent-c8] .c-btn[_ngcontent-c8] {
	width: 100%;
	box-shadow: 0px 1px 5px #959595;
	padding: 10px;
	cursor: pointer;
	display: flex;
    position: relative;
    border: 1px solid #A6510C;
}

.selected-list[_ngcontent-c8] .c-btn[_ngcontent-c8] .c-icon[_ngcontent-c8] {
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%)
}

.dropdown-list[_ngcontent-c8] {
	position: absolute;
	padding-top: 14px;
	width: 100%;
	z-index: 9999
}

.dropdown-list[_ngcontent-c8] ul[_ngcontent-c8] {
	padding: 0px;
	list-style: none;
	overflow: auto;
	margin: 0px
}

.dropdown-list[_ngcontent-c8] ul[_ngcontent-c8] li[_ngcontent-c8] {
	padding: 10px 10px;
	cursor: pointer;
	text-align: left
}

.dropdown-list[_ngcontent-c8] ul[_ngcontent-c8] li[_ngcontent-c8]:first-child {
	padding-top: 10px
}

.dropdown-list[_ngcontent-c8] ul[_ngcontent-c8] li[_ngcontent-c8]:last-child {
	padding-bottom: 10px
}

.dropdown-list[_ngcontent-c8] ul[_ngcontent-c8] li[_ngcontent-c8]:hover {
	background: #f5f5f5
}

.dropdown-list[_ngcontent-c8] [_ngcontent-c8]::-webkit-scrollbar {
	width: 8px
}

.dropdown-list[_ngcontent-c8] [_ngcontent-c8]::-webkit-scrollbar-thumb {
	background: #cccccc;
	border-radius: 5px
}

.dropdown-list[_ngcontent-c8] [_ngcontent-c8]::-webkit-scrollbar-track {
	background: #f2f2f2
}

.arrow-up[_ngcontent-c8],
.arrow-down[_ngcontent-c8] {
	width: 0;
	height: 0;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-bottom: 15px solid #fff;
	margin-left: 15px;
	position: absolute;
	top: 0
}

.arrow-down[_ngcontent-c8] {
	bottom: -14px;
	top: unset;
	transform: rotate(180deg)
}

.arrow-2[_ngcontent-c8] {
	border-bottom: 15px solid #ccc;
	top: -1px
}

.arrow-down.arrow-2[_ngcontent-c8] {
	top: unset;
	bottom: -16px
}

.list-area[_ngcontent-c8] {
	border: 1px solid #ccc;
	border-radius: 3px;
	background: #fff;
	margin: 0px;
	box-shadow: 0px 1px 5px #959595
}

.select-all[_ngcontent-c8] {
	padding: 10px;
	border-bottom: 1px solid #ccc;
	text-align: left
}

.list-filter[_ngcontent-c8] {
	border-bottom: 1px solid #ccc;
	position: relative;
	padding-left: 35px;
	height: 35px
}

.list-filter[_ngcontent-c8] input[_ngcontent-c8] {
	border: 0px;
	width: 100%;
	height: 100%;
	padding: 0px
}

.list-filter[_ngcontent-c8] input[_ngcontent-c8]:focus {
	outline: none
}

.list-filter[_ngcontent-c8] .c-search[_ngcontent-c8] {
	position: absolute;
	top: 9px;
	left: 10px;
	width: 15px;
	height: 15px
}

.list-filter[_ngcontent-c8] .c-search[_ngcontent-c8] svg[_ngcontent-c8] {
	fill: #888
}

.pure-checkbox[_ngcontent-c8] input[type="checkbox"][_ngcontent-c8] {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px
}

.pure-checkbox[_ngcontent-c8] input[type="checkbox"][_ngcontent-c8]:focus+label[_ngcontent-c8]:before,
.pure-checkbox[_ngcontent-c8] input[type="checkbox"][_ngcontent-c8]:hover+label[_ngcontent-c8]:before {
	border-color: #0079FE;
	background-color: #f2f2f2
}

.pure-checkbox[_ngcontent-c8] input[type="checkbox"][_ngcontent-c8]:active+label[_ngcontent-c8]:before {
	transition-duration: 0s
}

.pure-checkbox[_ngcontent-c8] input[type="checkbox"][_ngcontent-c8]+label[_ngcontent-c8] {
	position: relative;
	padding-left: 2em;
	vertical-align: middle;
	user-select: none;
	cursor: pointer;
	margin: 0px;
	color: #000;
	font-weight: 300
}

.pure-checkbox[_ngcontent-c8] input[type="checkbox"][_ngcontent-c8]+label[_ngcontent-c8]:before {
	box-sizing: content-box;
	content: '';
	color: #0079FE;
	position: absolute;
	top: 50%;
	left: 0;
	width: 14px;
	height: 14px;
	margin-top: -9px;
	border: 2px solid #0079FE;
	text-align: center;
	transition: all 0.4s ease
}

.pure-checkbox[_ngcontent-c8] input[type="checkbox"][_ngcontent-c8]+label[_ngcontent-c8]:after {
	box-sizing: content-box;
	content: '';
	background-color: #0079FE;
	position: absolute;
	top: 50%;
	left: 4px;
	width: 10px;
	height: 10px;
	margin-top: -5px;
	transform: scale(0);
	transform-origin: 50%;
	transition: transform 200ms ease-out
}

.pure-checkbox[_ngcontent-c8] input[type="checkbox"][_ngcontent-c8]:disabled+label[_ngcontent-c8]:before {
	border-color: #cccccc
}

.pure-checkbox[_ngcontent-c8] input[type="checkbox"][_ngcontent-c8]:disabled:focus+label[_ngcontent-c8]:before .pure-checkbox[_ngcontent-c8] input[type="checkbox"][_ngcontent-c8]:disabled:hover+label[_ngcontent-c8]:before {
	background-color: inherit
}

.pure-checkbox[_ngcontent-c8] input[type="checkbox"][_ngcontent-c8]:disabled:checked+label[_ngcontent-c8]:before {
	background-color: #cccccc
}

.pure-checkbox[_ngcontent-c8] input[type="checkbox"][_ngcontent-c8]+label[_ngcontent-c8]:after {
	background-color: transparent;
	top: 50%;
	left: 4px;
	width: 8px;
	height: 3px;
	margin-top: -4px;
	border-style: solid;
	border-color: #ffffff;
	border-width: 0 0 3px 3px;
	border-image: none;
	transform: rotate(-45deg) scale(0)
}

.pure-checkbox[_ngcontent-c8] input[type="checkbox"][_ngcontent-c8]:checked+label[_ngcontent-c8]:after {
	content: '';
	transform: rotate(-45deg) scale(1);
	transition: transform 200ms ease-out
}

.pure-checkbox[_ngcontent-c8] input[type="radio"][_ngcontent-c8]:checked+label[_ngcontent-c8]:before {
	background-color: white
}

.pure-checkbox[_ngcontent-c8] input[type="radio"][_ngcontent-c8]:checked+label[_ngcontent-c8]:after {
	transform: scale(1)
}

.pure-checkbox[_ngcontent-c8] input[type="radio"][_ngcontent-c8]+label[_ngcontent-c8]:before {
	border-radius: 50%
}

.pure-checkbox[_ngcontent-c8] input[type="checkbox"][_ngcontent-c8]:checked+label[_ngcontent-c8]:before {
	background: #0079FE
}

.pure-checkbox[_ngcontent-c8] input[type="checkbox"][_ngcontent-c8]:checked+label[_ngcontent-c8]:after {
	transform: rotate(-45deg) scale(1)
}

.list-message[_ngcontent-c8] {
	text-align: center;
	margin: 0px;
	padding: 15px 0px;
	font-size: initial
}

.list-grp[_ngcontent-c8] {
	padding: 0 15px !important
}

.list-grp[_ngcontent-c8] h4[_ngcontent-c8] {
	text-transform: capitalize;
	margin: 15px 0px 0px 0px;
	font-size: 14px;
	font-weight: 700
}

.list-grp[_ngcontent-c8]>li[_ngcontent-c8] {
	padding-left: 15px !important
}