
<div class="col-sm-12 table-padding">
<angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" (change)="showOrgValueForEditOrgDetails($event.target.value)" 
    [settings]="dropdownSettings" 
    
    class="form-header">
</angular2-multiselect>
</div>

<div class="button-div">
    <button type="button" class="btn btn-default btn-add btn-border btn-size"  (click)="onSubmitCountry()">Add</button>
    <!-- <button type="submit" class="btn btn-default btn-add btn-border"  (click) ="getLocationByOrgId(1)">edit</button> -->
</div>
<!-- <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> This alert box could indicate a successful or positive action.
      </div> -->




