
<div class="custom-field custom-multiselect" dir="rtl">
  
<mat-form-field  appearance='outline' >
  <mat-label>Scope</mat-label>
  <mat-select placeholder="Please select"  panelClass="custom-multi-select-panel" [(value)]="selected">
    <mat-option *ngIf="selected== 'oneChecked'" class="hidden-option" value="oneChecked">{{selectedInfo}}</mat-option>
    <mat-option *ngIf="selected== 'multipleChecked'" class="hidden-option" value="multipleChecked">Multiple Selection. ({{selectedInfo.length}})</mat-option>
    <mat-option   id="container">
      
    <div class="custom-tree">
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node  *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>

    <mat-checkbox style='margin-left: -20px' (click)='stopPropegationFunction($event)'  class="checklist-leaf-node custom-checkbox"
                  [checked]="checklistSelection.isSelected(node)"
                  (change)="checklistSelection.toggle(node); checkNodes()">{{node.item}} leaf</mat-checkbox>
  </mat-tree-node>


  <mat-tree-node  *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>

    <mat-checkbox class="custom-checkbox"  [checked]="descendantsAllSelected(node)"
                  [indeterminate]="descendantsPartiallySelected(node)"
                  (change)="todoItemSelectionToggle(node); checkNodes()">{{node.item}}</mat-checkbox>
  
  </mat-tree-node>
</mat-tree>
</div>
    </mat-option>
    
  </mat-select>
</mat-form-field>

</div>