<div class=" table-padding">
  <!-- Breadcrumb start-->
  <mat-toolbar>
    <mat-icon>home</mat-icon>
    <mat-icon>arrow_forward_ios</mat-icon>
    <span>
      <a href="#" routerLink='/eta-web/emaildashboard'>{{mainbreadcrumb}}</a>
    </span>
    <mat-icon>arrow_forward_ios</mat-icon>
    <span>
      <a routerLink='/eta-web/emailtemplatedashboard'>{{breadcrumb}}</a>
    </span>
  </mat-toolbar>
  <!-- Breadcrumb end-->

  <!--  table-padding tage start-->
  <nav mat-tab-nav-bar [backgroundColor]="background">
    <ng-container *ngFor="let menu of menuList;">
      <a mat-tab-link *ngIf="menu.menuType==3 && menu.menuRef == 4" (click)="activeLink=shownRouterLink(menu.routerLink)" [active]="activeLink==menu.routerLink">
        {{menu.translation}} </a>
    </ng-container>
    <button mat-icon-button>
      <mat-icon (click)="toggleBackground()">invert_colors</mat-icon>
    </button>
  </nav>



  <mat-card>
    <div *ngIf="templateConfigCol!=null">
      <!--<app-admin-dynamic-datatable [myurl]=templateConfigUrl [mycoloums]=templateConfigCol></app-admin-dynamic-datatable>-->
      <mat-data-table [myDataUrl]=emailTemplateConfigUrl [defaultSortColumn]=defaultColumnToSort></mat-data-table>

      <div class="button-row">
        <button type="button" (click)="addMailTemplate()" mat-raised-button color="primary">{{addButtonText}}</button>
        <button [disabled]="isEditAllowed == false" class="eta-margin-all" type="button" (click)="editMailTemplate()" mat-raised-button color="primary">{{editButtonText}}</button>
        <button type="button" (click)="addMailTemplateTrans()" mat-raised-button color="primary">{{emailTranslationButtonText}} </button>
      </div>
    </div>
  </mat-card>

</div>
