<div class="eta-footer-block"></div>
<footer class="footer">
  <div class="navbar  navbar-fixed-bottom">
      <div class="navbar-inner">
          <div class="container">
              <div class="footer-left col-sm-6">
                  Terms Of Use
             </div>
             <div class="footer-right   col-sm-6">
                  <div class="pull-right">  Powered By <img src="assets/footerG.png" > </div>
             </div>
          </div>
      </div>
  </div>
</footer>