/* .example-form {
  min-width: 100% auto;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-padding {
  margin-top: 50px;
}
.eta-float{
    float: right;
}
.eta-login-toolbar{
    margin-left: 0;
    padding-right: 0;
    width: 100%;
}

mat-card {
  max-width: auto;
  min-width: auto;
  width: 360px;
  margin: 10% auto;  
  text-align: left;
}
mat-form-field{
  margin: 5px 0;
}

.center-align{
  padding: 2em 0;
  margin: 2em auto;
  text-align: center;
} */

/* globle styles modified starts here */
.copy-right-text{
  font-size: 12px;
  font-weight: lighter;
}
.hero-text{
  font-size: 64px;
  font-weight: bold;
}
.hero-sub-text{
  font-size: 24px;
}
.subsection-heading{
  font-size: 24px;
}
.login-page{
  color: white;
}
*{
  color: inherit;
}
.button:enabled{
  color: var(--primary)
}
.button:disabled{
  color: gray;
}
.button{
  border: none !important;
}
.button:enabled:hover{
  background: var(--secondary);
  color: white;
}
a{
  text-decoration: underline !important;
  cursor:  pointer !important;
}
.error{
  color: yellow !important;
} 
.margin-bottom-32px{
  margin: 0 0 32px 0;
}
/* globle styles modified ends here */

.view-height{
  background: var(--primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header{
  height: 88px;
  background: none;
}
.header .login-button{
  height: 100%;
  border: none;
  background:rgba(255,255,255,.3);
  font-size: 16px;
  padding: 0 16px;
  font-weight: bold;
  text-transform: capitalize;
  color: white;
}
.header .org-logo{
  height:  56px;
}
.main-div{
  display: flex;
  margin: 0 114px;
}
.footer{
  padding: 0 75px;
  text-align: center;
}

.main-div .col-50{
  width: 50%;
}
.main-div .col-50:nth-of-type(1){
  margin-right: 124px;
}
.main-div .forgot-username-link{
  padding-right: 16px;
  border-right: 1px solid white;
}
.main-div .forgot-password-link{
  padding-left: 16px;
}
.form-action-buttons{
  margin: var(--vertical-space-between-rows) 0;
}
@media screen and (max-width: 900px){
  .main-div{
    flex-direction: column-reverse;
    margin: 0;
  }
  .main-div .col-50{
    width: 90%;
    margin: var(--horizontal-space-between-controls) auto !important;
  }
}