<!-- <app-login-header> </app-login-header> -->





<!--
   <form [formGroup]="logfrm" (ngSubmit)="onSubmit(logfrm.value)">
  <mat-card>
      <img mat-card-image src="assets/logo.png" alt="Photo of a Shiba Inu">
    <mat-card-content class="mat-padding" >
  
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Enter user name</mat-label>
        <input matInput type="text" placeholder="Enter user name " name="name" formControlName="name" />
        <mat-error >"Please Enter User name"  </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Enter your password</mat-label>
    
        <input matInput placeholder="Enter your password" formControlName="password" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error >"Please Enter Password"</mat-error>

      </mat-form-field>
    </mat-card-content>

    <mat-card-content class="mat-padding">
      <a color="primary">Password reset</a>
      <button class="eta-float" mat-raised-button color="primary" type="submit">Login</button>
    </mat-card-content>
    <mat-card-content class="mat-padding">
      <mat-divider class="example-full-width"></mat-divider>
    </mat-card-content>
    <mat-card-content class="mat-padding center-align">
      <button mat-button>Not a customer?</button>
      <button mat-raised-button color="primary" type="button" (click)="startFreeTrial()" >Try For Free</button>
    </mat-card-content>
  </mat-card>
</form>
-->
<div *ngIf="isLoadingResults" class="loading-spinner-div">
  <mat-spinner></mat-spinner>
</div>
<form [formGroup]="logfrm" (ngSubmit)="onSubmit(logfrm.value)">
  <div class="view-height login-page">
    <mat-toolbar class="header">
      <img class="org-logo" src="assets/GT-logo-white.png">
      <span class="example-spacer"></span>
      <button class="login-button">LOGIN</button>
    </mat-toolbar>
  <div class="main-div">
    <div class="col-50">
      <p class="subsection-heading margin-bottom-32px">LOGIN</p>
      <p *ngIf="error" class="error margin-bottom-32px">Invalid Username or Password.</p>
      <div class="custom-control-row">
        <div class="custom-field floating-label-top">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
            <input matInput placeholder="Username"  formControlName="name" required> 
            <mat-hint>Enter your email address.</mat-hint>
            <mat-error >"Please Enter User name"  </mat-error>
          </mat-form-field>
        </div>
      </div>
  
      <div class="custom-control-row">
          <div class="custom-field floating-label-top">
          <mat-form-field appearance="outline">
              <mat-label>Password</mat-label> 
              <input matInput placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'" required > 
                    <svg-icon *ngIf="hide" matSuffix src="assets/svg-icons/visibility.svg" (click)="hide = !hide"></svg-icon>
                    <svg-icon *ngIf="!hide" matSuffix src="assets/svg-icons/visibility_off.svg" (click)="hide = !hide"></svg-icon>
              <mat-hint>Enter your password.</mat-hint>
              <mat-error >"Please Enter Password"</mat-error>
            </mat-form-field>
            </div>
            </div>
            <mat-checkbox class="custom-checkbox">Remember me <a>(What's this?)</a></mat-checkbox>
  
            <div class="form-action-buttons">
              <button type="submit" class="button button-margin-right no-top-margin" [disabled]="logfrm.invalid">Submit</button>
              <button type="button" class="button no-top-margin">Cancel</button>
            </div>
            <p class="copy-right-text margin-bottom-32px">By Logging in, you agree with our <a> Terms of Use </a>, <a> Privacy Policy,</a> and <a> Cookie Policy </a>. </p>
            <div class="forgot-password-username-links">
              <a class="forgot-username-link">Forgot Username?</a>
              <a class="forgot-password-link">Forgot Password?</a>
            </div>
              </div>
    <div class="col-50">
      <h1 class="hero-text margin-bottom-32px">Work out something great today.
      </h1>
      <p class="hero-sub-text margin-bottom-32px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam rhoncus, erat id vestibulum dapibus, lectus magna vulputate nibh, sed facilisis ante odio eget nibh.</p>
      <button type="button" class="button">Start working now</button>
    </div>
  
  </div>
  
  <div class="footer">
    <p class="copy-right-text margin-bottom-32px no-margin">© 2018-2023. All Rights Reserved. Eta® is a registered trademark of GreenTech Consulting LLC. Apple and the 
      Apple logo are trademarks of Apple Inc., registered in U.S. and other countries. Mac App Store is a service of 
      Apple Inc. Google Play and the Google play logo are trademarks of Google Inc.
    </p>
  </div>
  </div>
  
  </form> 