<div>
    <!-- Breadcrumb start-->
    <mat-toolbar>
        <mat-icon>home</mat-icon>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span>
          <a href="#" routerLink='/eta-web/organizationdashboard'>{{mainbreadcrumb}}</a>
        </span>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span>
          <a routerLink='/eta-web/orgtermsdashboard'>{{breadcrumb}}</a>
        </span>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span>
          <a routerLink='/tnctranslation'>Terms and Conditions Translation</a>
        </span>
    </mat-toolbar>
    <!-- Breadcrumb end-->

    <div *ngIf="TNCColumnList!=null" class="col-sm-12 div-padding">
        <mat-card>
            <app-tnc-dt-trans [myurl]="termsUrl" [mycoloums]="TNCColumnList" [orgId]="ETA_SELECTED_ORGID"></app-tnc-dt-trans>
        </mat-card>
    </div>
</div>