<h1 class="target-area-title">Add New Calendar in ORG Acronym</h1>
<!-- <div class="inner-flex-container">
  <div *ngIf="showSuccess" class="success">
    <p>Calendar added successfully.</p>
    <button class="remove-alert-button button-without-background " (click)="removeSuccess()">
      <i class="material-icons unit-control-icon icon-without-padding cancel-icon">cancel </i>
    </button>
  </div>
</div> -->
<mat-card>
  <div class="main-container">
    <form [formGroup]="form" #formDirective="ngForm">
      <!-- Locale field -->
      <div class="custom-control-row">
        <div class="custom-field custom-select custom-field-fw controls">
          <mat-form-field appearance="outline">
            <mat-label>Locale</mat-label>
            <mat-select id="select-field-locale" placeholder="Locale" formControlName="locale" disableOptionCentering
              panelClass="custom-select-panel">
              <mat-option value="US">US</mat-option>
              <mat-option value="India">India</mat-option>
            </mat-select>
            <mat-hint>Select Locale.</mat-hint>
            <mat-error *ngIf="form.controls['locale'].errors?.required">required</mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- location field  -->
      <div class="custom-control-row">
        <div class="custom-field custom-field-fw">
          <mat-form-field appearance="outline">
            <mat-label>Location</mat-label>
            <input id="input-field-location" matInput #location placeholder="Location" formControlName="location"
              maxlength="64" required>
            <mat-hint>{{64 - location.value.length }} characters remaining.</mat-hint>
            <svg-icon matSuffix src="assets/svg-icons/search.svg"></svg-icon>
            <mat-error *ngIf="form.controls['location'].errors?.required">Required</mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- time zone field -->
      <div class="custom-control-row">
        <div class="custom-field custom-select custom-field-fw controls">
          <mat-form-field appearance="outline">
            <mat-label>Timezone</mat-label>
            <mat-select id="select-field-timeZone" placeholder="Timezone" formControlName="timezone"
              disableOptionCentering panelClass="custom-select-panel">
              <mat-option value="UTC+5.5">UTC+5.5</mat-option>
              <mat-option value="UTC+5.5">UTC+5.0</mat-option>
            </mat-select>
            <mat-hint>Auto-populates based on the entered Location. Change by selecting the most appropriate one.
            </mat-hint>
            <mat-error *ngIf="form.controls['timezone'].errors?.required">required</mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- fiscal start field -->
      <div class="custom-control-row">
        <div class="custom-field custom-select custom-field-fw controls">
          <mat-form-field appearance="outline">
            <mat-label>Fiscal Start</mat-label>
            <mat-select id="select-field-fiscalStartMonth" placeholder="Fiscal Start" formControlName="fiscalStart"
              required disableOptionCentering panelClass="custom-select-panel">
              <mat-option value="Jan">Jan</mat-option>
              <mat-option value="Feb">Feb</mat-option>
              <mat-option value="Mar">Mar</mat-option>
              <mat-option value="Apr">Apr</mat-option>
            </mat-select>
            <mat-hint>Select Fiscal Start month. Fiscal Start month is used for Financial Accounting puspose.</mat-hint>
            <mat-error *ngIf="form.controls['fiscalStart'].errors?.required">required</mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- administrative start field -->
      <div class="custom-control-row">
        <div class="custom-field custom-select custom-field-fw controls">
          <mat-form-field appearance="outline">
            <mat-label>Administrative Start</mat-label>
            <mat-select id="select-field-fiscalStartMonth" placeholder="Administrative Start"
              formControlName="administrativeStart" required disableOptionCentering panelClass="custom-select-panel">
              <mat-option value="Jan">Jan</mat-option>
              <mat-option value="Feb">Feb</mat-option>
              <mat-option value="Mar">Mar</mat-option>
              <mat-option value="Apr">Apr</mat-option>
            </mat-select>
            <mat-hint>Select Administrative Start month. Administrative Start month is generally used for Leaves,
              Appraisals, etc.</mat-hint>
            <mat-error *ngIf="form.controls['administrativeStart'].errors?.required">required</mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- workWeek form array starts here -->
      <div class="workWeek-div">
        <p class="body-text1 no-margin form-heading">Work Weeks:</p>
        <div class='table-modification-button-container'>
          <mat-checkbox [ngModelOptions]="{standalone: true}"
            class="modification-buttons custom-checkbox-without-margin"
            (change)="$event ? masterToggleForworkWeeks() : null"
            [checked]="selectionForworkWeek.hasValue() && isAllworkWeeksSelected()"
            [indeterminate]="selectionForworkWeek.hasValue() && !isAllworkWeeksSelected()"></mat-checkbox>

          <button *ngIf="!(form.controls['weekList'].value.length > 1 && selectionForworkWeek.selected.length)"
            id="button-add-workWeek" type="button" class="modification-buttons button-as-icon vertical-align-middle"
            (click)="addworkWeek()">
            <svg-icon class="unit-control-icon no-padding-svg" src="assets/svg-icons/add_box.svg"></svg-icon>
          </button>

          <button *ngIf="form.controls['weekList'].value.length > 1 && selectionForworkWeek.selected.length"
            type="button" class="modification-buttons button-as-icon vertical-align-middle" (click)='deleteworkWeek()'>
            <svg-icon class="unit-control-icon no-padding-svg" src="assets/svg-icons/delete.svg"></svg-icon>
          </button>
        </div>

        <div formArrayName="weekList" class="workWeeksFormArray">
          <div *ngFor="let workWeek of form['controls'].weekList['controls']; let workWeekIndex=index"
            formGroupName="{{workWeekIndex}}" id="{{'workWeeks-field' + workWeekIndex}}"
            class="display-flex custom-control-row">

            <!-- workWeek checked status -->
            <div class="control-button-container">
              <mat-checkbox id="{{'checkbox-select-row-for-workWeek' + workWeekIndex}}"
                [ngModelOptions]="{standalone: true}" class="custom-checkbox-without-margin"
                (click)="$event.stopPropagation()"
                (change)="$event ? selectionForworkWeek.toggle(this.form.controls['weekList'].controls[workWeekIndex]) : null"
                [checked]="selectionForworkWeek.isSelected(this.form.controls['weekList'].controls[workWeekIndex])"
                formControlName='workWeekCheckedStatus'>
              </mat-checkbox>
            </div>
            <div class="width-hundred-percent">
              <!-- workWeek name field -->
              <div class="custom-field custom-field-m controls">
                <mat-form-field appearance="outline">
                  <mat-label>Name</mat-label>
                  <input id="{{'input-field-work-week-name' + workWeekIndex}}" matInput placeholder="Name"
                    formControlName="name" required>
                  <mat-hint>Enter Work Week Name.</mat-hint>
                  <mat-error *ngIf="form.controls['weekList'].controls[workWeekIndex].get('name').errors?.required">
                    required</mat-error>
                </mat-form-field>
              </div>

              <!-- work days field -->
              <div class="custom-field custom-select custom-field-m controls">
                <mat-form-field appearance="outline">
                  <mat-label>Workdays</mat-label>
                  <mat-select id="{{'select-field-workdays' + workWeekIndex}}" placeholder="Workdays"
                    formControlName="workdays" required disableOptionCentering panelClass="custom-select-panel"
                    [ngModelOptions]="{standalone: true}">
                    <mat-option value=1>1</mat-option>
                    <mat-option value=2>2</mat-option>
                    <mat-option value=3>3</mat-option>
                    <mat-option value=4>4</mat-option>
                  </mat-select>
                  <mat-hint># of Workdays in this Work Week.</mat-hint>
                  <mat-error *ngIf="form.controls['weekList'].controls[workWeekIndex].get('workdays').errors?.required">
                    required</mat-error>
                </mat-form-field>
              </div>

              <!-- start day field -->
              <div class="custom-field custom-select custom-field-m controls">
                <mat-form-field appearance="outline">
                  <mat-label>Start day</mat-label>
                  <mat-select id="{{'select-field-workweek-startday' + workWeekIndex}}" placeholder="Start day"
                    formControlName="startDay" required disableOptionCentering panelClass="custom-select-panel"
                    [ngModelOptions]="{standalone: true}">
                    <mat-option value="Mon">Mon</mat-option>
                    <mat-option value="Tue">Tue</mat-option>
                    <mat-option value="Wed">Wed</mat-option>
                    <mat-option value="Thu">Thu</mat-option>
                  </mat-select>
                  <mat-hint>Start day of this Work Week.</mat-hint>
                  <mat-error *ngIf="form.controls['weekList'].controls[workWeekIndex].get('startDay').errors?.required">
                    required</mat-error>
                </mat-form-field>
              </div>

              <!-- work hours field -->
              <div class="custom-field custom-select custom-field-m controls">
                <mat-form-field appearance="outline">
                  <mat-label>Work Hours</mat-label>
                  <mat-select id="{{'select-field-workhours' + workWeekIndex}}" placeholder="Work Hours"
                    formControlName="workHours" required disableOptionCentering panelClass="custom-select-panel"
                    [ngModelOptions]="{standalone: true}">
                    <mat-option value=24>24</mat-option>
                    <mat-option value=36>36</mat-option>
                    <mat-option value=48>48</mat-option>
                    <mat-option value=60>60</mat-option>
                  </mat-select>
                  <mat-hint>Start day of this Work Week.</mat-hint>
                  <mat-error
                    *ngIf="form.controls['weekList'].controls[workWeekIndex].get('workHours').errors?.required">required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>


        </div>
      </div>
      <!-- workWeek form array ends here -->

      <!-- workShift form array starts here -->
      <div class="workShift-div">
        <p class="body-text1 no-margin form-heading">Work Shifts:</p>
        <div class='table-modification-button-container'>
          <mat-checkbox [ngModelOptions]="{standalone: true}"
            class="modification-buttons custom-checkbox-without-margin"
            (change)="$event ? masterToggleForworkShifts() : null"
            [checked]="selectionForworkShift.hasValue() && isAllworkShiftsSelected()"
            [indeterminate]="selectionForworkShift.hasValue() && !isAllworkShiftsSelected()"></mat-checkbox>

          <button *ngIf="!(form.controls['hourList'].value.length > 1 && selectionForworkShift.selected.length)"
            id="button-add-workShift" type="button" class="modification-buttons button-as-icon vertical-align-middle"
            (click)="addworkShift()">
            <svg-icon class="unit-control-icon no-padding-svg" src="assets/svg-icons/add_box.svg"></svg-icon>
          </button>

          <button *ngIf="form.controls['hourList'].value.length > 1 && selectionForworkShift.selected.length"
            id="button-delete-workShift" type="button" class="modification-buttons button-as-icon vertical-align-middle"
            (click)='deleteworkShift()'>
            <svg-icon class="unit-control-icon no-padding-svg" src="assets/svg-icons/delete.svg"></svg-icon>
          </button>
        </div>

        <div formArrayName="hourList" class="workShiftsFormArray">
          <div *ngFor="let workShift of form['controls'].hourList['controls']; let workShiftIndex=index"
            formGroupName="{{workShiftIndex}}" id="{{'workShift-field' + workShiftIndex}}"
            class="custom-control-row display-flex">
            <!-- workShift checked status -->

            <div class="control-button-container">
              <mat-checkbox id="{{'checkbox-select-row-for-workShift' + workShiftIndex}}"
                [ngModelOptions]="{standalone: true}" class="custom-checkbox-without-margin"
                (click)="$event.stopPropagation()"
                (change)="$event ? selectionForworkShift.toggle(this.form.controls['hourList'].controls[workShiftIndex]) : null"
                [checked]="selectionForworkShift.isSelected(this.form.controls['hourList'].controls[workShiftIndex])"
                formControlName='workShiftCheckedStatus'>
              </mat-checkbox>
            </div>
            <div class="width-hundred-percent">
              <!-- work shift name field -->
              <div class="custom-field  custom-field-s controls">
                <mat-form-field appearance="outline">
                  <mat-label>Name</mat-label>
                  <input id="{{'select-field-workshift-name' + workWeekIndex}}" matInput placeholder="Name"
                    formControlName="name"  required>
                  <mat-hint>Enter Shift Name.</mat-hint>
                  <mat-error *ngIf="form.controls['hourList'].controls[workShiftIndex].get('name').errors?.required">
                   </mat-error>
                </mat-form-field>
              </div>


              <!-- work shift start time field -->
              <div class="custom-field custom-select custom-field-s controls">
                <mat-form-field appearance="outline">
                  <mat-label>Start time</mat-label>
                  <mat-select id="{{'select-field-workshift-start-time' + workWeekIndex}}" placeholder="Type"
                    formControlName="startTime" disableOptionCentering panelClass="custom-select-panel">
                    <mat-option value=10>10:00</mat-option>
                    <mat-option value=12>12:00</mat-option>
                    <mat-option value=9>09:00</mat-option>
                    <mat-option value=11>11:00</mat-option>
                  </mat-select>
                  <mat-hint>Start time of this Shift.</mat-hint>
                  <mat-error
                    *ngIf="form.controls['hourList'].controls[workShiftIndex].get('startTime').errors?.required">
                    required</mat-error>
                </mat-form-field>

              </div>
              <!-- work shift Work Hours field -->
              <div class="custom-field custom-select custom-field-s controls">
                <mat-form-field appearance="outline">
                  <mat-label>Work Hours</mat-label>
                  <mat-select id="{{'select-field-shiftWorkHours' + workWeekIndex}}" placeholder="Work Hours"
                    formControlName="workHours" required disableOptionCentering panelClass="custom-select-panel">
                    <mat-option value=7>7</mat-option>
                    <mat-option value=8>8</mat-option>
                    <mat-option value=9>9</mat-option>
                    <mat-option value=10>10</mat-option>
                  </mat-select>
                  <mat-hint># of Work Hours in this Shift.</mat-hint>
                  <mat-error
                    *ngIf="form.controls['hourList'].controls[workShiftIndex].get('workHours').errors?.required">
                    required</mat-error>
                </mat-form-field>

              </div>

              <!-- workShift breaks field -->
              <div class="custom-field custom-select custom-field-s controls">
                <mat-form-field appearance="outline">
                  <mat-label>Breaks</mat-label>
                  <mat-select id="{{'select-field-breaks' + workWeekIndex}}" placeholder="Breaks"
                    formControlName="breaks" disableOptionCentering panelClass="custom-select-panel">
                    <mat-option value=1>1</mat-option>
                    <mat-option value=2>2</mat-option>
                    <mat-option value=3>3</mat-option>
                    <mat-option value=4>4</mat-option>
                  </mat-select>
                  <mat-hint># of Breaks in this Shift.</mat-hint>
                  <mat-error *ngIf="form.controls['hourList'].controls[workShiftIndex].get('breaks').errors?.required">
                    required</mat-error>
                </mat-form-field>

              </div>

              <!-- workShift break duration format field -->
              <div class="custom-field custom-select custom-field-s controls">
                <mat-form-field appearance="outline">
                  <mat-label>Duration</mat-label>
                  <mat-select id="{{'select-field-duration' + workWeekIndex}}" placeholder="Duration"
                    formControlName="duration" disableOptionCentering panelClass="custom-select-panel">
                    <mat-option value="15 min">15 min</mat-option>
                    <mat-option value="30 min">30 min</mat-option>
                    <mat-option value="45 min">45 min</mat-option>
                    <mat-option value="1 hr">1 hr</mat-option>
                  </mat-select>
                  <mat-hint>Select Display Format.</mat-hint>
                  <mat-error
                    *ngIf="form.controls['hourList'].controls[workShiftIndex].get('duration').errors?.required">required
                  </mat-error>
                </mat-form-field>

              </div>
            </div>
          </div> <!--  control row ends -->


        </div>
      </div>
      <!--workShift form array ends here-->



      <!-- holidays div starts here -->
      <div class="holiday-div">
        <p class="body-text1 no-margin form-heading">Holidays:</p>
        <div class='table-modification-button-container'>
          <mat-checkbox [ngModelOptions]="{standalone: true}"
            class="modification-buttons custom-checkbox-without-margin"
            (change)="$event ? masterToggleForholidays() : null"
            [checked]="selectionForholiday.hasValue() && isAllholidaysSelected()"
            [indeterminate]="selectionForholiday.hasValue() && !isAllholidaysSelected()"></mat-checkbox>

          <button *ngIf="!(form.controls['holidayList'].value.length > 1 && selectionForholiday.selected.length)"
            id="button-add-holiday" type="button" class="modification-buttons button-as-icon vertical-align-middle"
            (click)="addholiday()">
            <svg-icon class="unit-control-icon no-padding-svg" src="assets/svg-icons/add_box.svg"></svg-icon>
          </button>

          <button *ngIf="form.controls['holidayList'].value.length > 1 && selectionForholiday.selected.length"
            id="button-delete-holiday" type="button" class="modification-buttons button-as-icon vertical-align-middle"
            (click)='deleteholiday()'>
            <svg-icon class="unit-control-icon no-padding-svg" src="assets/svg-icons/delete.svg"></svg-icon>
          </button>
        </div>

        <div formArrayName="holidayList" class="holidaysFormArray">
          <div *ngFor="let holiday of form['controls'].holidayList['controls']; let holidayIndex=index"
            formGroupName="{{holidayIndex}}" id="{{'holiday-field' + holidayIndex}}"
            class="custom-control-row display-flex">

            <!-- holiday checked status -->
            <div class="control-button-container">
              <mat-checkbox id="{{'checkbox-select-row-for-holiday' + holidayIndex}}"
                [ngModelOptions]="{standalone: true}" class="custom-checkbox-without-margin"
                (click)="$event.stopPropagation()"
                (change)="$event ? selectionForholiday.toggle(this.form.controls['holidayList'].controls[holidayIndex]) : null"
                [checked]="selectionForholiday.isSelected(this.form.controls['holidayList'].controls[holidayIndex])"
                formControlName='holidayCheckedStatus'>
              </mat-checkbox>
            </div>
            <div class="width-hundred-percent">
              <!-- holiday name field -->
              <div class="custom-field  custom-field-s controls">
                <mat-form-field appearance="outline">
                  <mat-label>Name</mat-label>
                  <input id="{{'select-field-holiday-name' + holidayIndex}}" matInput placeholder="Name"
                    formControlName="name" required>
                  <mat-hint>Enter Holiday Name.</mat-hint>
                  <mat-error *ngIf="form.controls['holidayList'].controls[holidayIndex].get('name').errors?.required">
                    required</mat-error>
                </mat-form-field>
              </div>


              <!-- holiday type field -->
              <div class="custom-field custom-select custom-field-s controls">
                <mat-form-field appearance="outline">
                  <mat-label>Type</mat-label>
                  <mat-select id="{{'select-field-holiday-type' + holidayIndex}}" placeholder="Type"
                    formControlName="type" disableOptionCentering panelClass="custom-select-panel">
                    <mat-option value=1>Mandatory</mat-option>
                    <mat-option value=2>Optional</mat-option>
                  </mat-select>
                  <mat-hint>Mandatory or Optional.</mat-hint>
                  <mat-error *ngIf="form.controls['holidayList'].controls[holidayIndex].get('type').errors?.required">
                    required</mat-error>
                </mat-form-field>
              </div>


              <!-- holiday occurence field -->
              <div class="custom-field custom-select custom-field-s controls">
                <mat-form-field appearance="outline">
                  <mat-label>Occurence</mat-label>
                  <mat-select id="{{'select-field-occurence' + holidayIndex}}" placeholder="Occurence"
                    formControlName="occurence" required disableOptionCentering panelClass="custom-select-panel">
                    <mat-option value="Yearly">Yearly</mat-option>
                    <mat-option value="Yearly Date">Yearly Date</mat-option>
                  </mat-select>
                  <mat-hint>Select Occurence.</mat-hint>
                  <mat-error
                    *ngIf="form.controls['holidayList'].controls[holidayIndex].get('occurence').errors?.required">
                    required</mat-error>
                </mat-form-field>

              </div>

              <!-- holiday date field -->
              <div class="custom-datepicker custom-field custom-field-s controls">
                <mat-form-field appearance='outline'>
                  <mat-label>Date</mat-label>
                  <input matInput [matDatepicker]="pickerForDay" id="{{'select-field-date' + holidayIndex}}"
                    placeholder="Date" formControlName="date" required>
                  <mat-datepicker-toggle matSuffix [for]="pickerForDay"></mat-datepicker-toggle>
                  <mat-datepicker #pickerForDay></mat-datepicker>
                  <mat-hint>Select Date</mat-hint>
                  <mat-error *ngIf="form.controls['holidayList'].controls[holidayIndex].get('date').errors?.required">
                    Required.</mat-error>
                </mat-form-field>
              </div>

              <!-- day of the week field -->
              <div class="custom-select custom-field custom-field-s controls">
                <mat-form-field appearance='outline'>
                  <mat-label>Day</mat-label>
                  <!-- <input  matInput [matDatepicker]="dayOfWeekPicker" id="{{'select-field-dayOfWeek' + holidayIndex}}" placeholder="Day" formControlName="day" required>
            <mat-datepicker-toggle matSuffix [for]="dayOfWeekPicker"></mat-datepicker-toggle>
            <mat-datepicker #dayOfWeekPicker></mat-datepicker> -->


                  <mat-select id="{{'select-field-dayOfWeek' + holidayIndex}}" placeholder="Day" formControlName="day"
                    required disableOptionCentering panelClass="custom-select-panel"
                    [ngModelOptions]="{standalone: true}">
                    <mat-option value="mon">Mon</mat-option>
                    <mat-option value="tue">Tue</mat-option>
                    <mat-option value="wed">Wed</mat-option>
                    <mat-option value="thu">Thu</mat-option>
                  </mat-select>


                  <mat-hint>Select Day of the Week.</mat-hint>
                  <mat-error *ngIf="form.controls['holidayList'].controls[holidayIndex].get('day').errors?.required">
                    required</mat-error>
                </mat-form-field>
              </div>
            </div>
          </div> <!--  control row ends -->

          <div class="custom-control-row total-holidays-output-div">
            <div class="text-align-center display-inline-block vertical-align-top">
              <div class="control-button-container display-flex width-hundred-percent body-text1">
                Totals =
              </div>
            </div>
            <div class="custom-field custom-field-s">
              <mat-form-field appearance="outline">
                <input matInput [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="this.form.controls['holidayList'].value.length" readonly>
                <mat-hint>Total # of Holidays.</mat-hint>
              </mat-form-field>
            </div>
          </div>

        </div>
      </div>
      <!--holidays div ends here-->



      <!-- form action buttons - Submit, cancel -->
      <div class="form-action-buttons">
        <button *ngIf="id == undefined" id="button-submit" class="button no-margin button-margin-right" [disabled]="(form.invalid)" (click)='onSubmit(form.value,formDirective,"submit")'>Submit</button>
        <button *ngIf="id > 0" id="button-submit" class="button no-margin button-margin-right" [disabled]="(form.invalid)" (click)='onSubmit(form.value,formDirective,"update")'>Update</button>
        <button id="button-cancel" type="button" class="button no-margin">Cancel</button>
      </div>
    </form>
  </div>

</mat-card>