.padding-content-inside-padding{
    padding: var(--content-inside-padding);
  }
  /*table modification button styles starts*/
  .table-modification-button-container{
    padding:  var(--content-inside-padding) 0;
  }
  .table-modification-button-container .modification-buttons{
    margin-right: var(--content-inside-padding);
  }
    /*table modification button styles ends*/
  .languagesFormArray, 
  .currencysFormArray{
    border-bottom: solid 1px lightgray;
    margin-bottom: var(--content-inside-padding);
  }
  .checkbox-control{
  
  }
    .control-button-container{
      padding-right: var(--content-inside-padding);
    }
    .workWeeksFormArray .custom-control-row,
    .workShiftsFormArray .custom-control-row,
    .holidaysFormArray .custom-control-row{
      margin: 0 !important;
      padding: calc(var(--vertical-space-between-rows) / 2) 0 !important;
      border-bottom: solid 1px lightgray;
    }
    .workWeeksFormArray .custom-control-row:first-child,
    .workShiftsFormArray .custom-control-row:first-child,
    .holidaysFormArray .custom-control-row:first-child{
      border-top: solid 1px lightgray;
    }
    .workWeeksFormArray .custom-control-row:last-of-type,
    .workShiftsFormArray .custom-control-row:last-of-type,
    .holidaysFormArray .custom-control-row:last-of-type{
      margin-bottom: var(--vertical-space-between-rows) !important;
    }
   
.total-holidays-output-div{
  text-align: right;
}

.total-holidays-output-div .custom-field{
  margin-left: var(--horizontal-space-between-controls);
}