
<div class="main-container">
  <div class="top-container">
    <h3 class="target-area-title">Master Data</h3>
    <button class="button no-uppercase" >Show Used</button>
    <button class="button no-uppercase">Show Unused</button>
    <button class="setting-button">
        <i class="material-icons">settings</i>
      </button>
  </div>
  <div class="delete-and-checkbox-icon-container">
    <mat-checkbox class="custom-checkbox"></mat-checkbox>
    <i class="material-icons delete-icon">delete</i>
  </div>
  <div class="master-data-table custom-common-expandable-table">
     
        
        <div class="example-container mat-elevation-z8">
          <mat-table #table [dataSource]="dataSource" matSort>
        
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
        
            <!-- checkbox Column -->
            <ng-container matColumnDef="checkbox">
              <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
              <mat-cell *matCellDef="let element"> 
                <mat-checkbox *ngIf="!(element.type == 'System')"  [disabled]="element.type == 'Reused'" class="custom-checkbox" (click)='stopPropagationFunction($event)'></mat-checkbox>
                
              </mat-cell>
              
            </ng-container>
        
            <!-- group Column -->
            <ng-container matColumnDef="group">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Group 
                  <i class="material-icons filter-icon">filter_list</i>
              </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.group}}
                  <i class="material-icons arrow ">
                      keyboard_arrow_down
                      </i> </mat-cell>
            </ng-container>
        
            <!-- items Column -->
            <ng-container matColumnDef="items">
              <mat-header-cell *matHeaderCellDef mat-sort-header> items 
                  <i class="material-icons filter-icon">filter_list</i>
              </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.items}} </mat-cell>
            </ng-container>
        
            <!-- type Column -->
            <ng-container matColumnDef="type">
              <mat-header-cell *matHeaderCellDef mat-sort-header> type 
                  <i class="material-icons filter-icon">filter_list</i>
              </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.type}} 
              
              </mat-cell>
            </ng-container>
      
            <ng-container matColumnDef="scope">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Scope 
                    <i class="material-icons filter-icon">filter_list</i>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.scope}}</mat-cell>
              </ng-container>
          
              <ng-container matColumnDef="status">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Status
                      <i class="material-icons filter-icon">filter_list</i> </mat-header-cell>
                  <mat-cell *matCellDef="let element"> 
                      <i class="material-icons" [class.green]="element.status == 'green'" [class.red]="element.status == 'red'" [class.amber]="element.status == 'amber'">
                          fiber_manual_record 
                      </i>
                  </mat-cell>
                </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" [cdkDetailRow]="row" [cdkDetailRowTpl]="tpl">
              <p>Dummy</p>
            </mat-row>
          </mat-table>
          
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
        
        <ng-template #tpl let-element>
          <div class="mat-row detail-row" [@detailExpand] style="overflow: hidden">

            <input type="checkbox" class="read-more-state" id="post-2" [(ngModel)]='readMoreCheckbox' />
          
            <ul class="read-more-wrap">
             
                    <li *ngFor='let list of element.description | slice:0:5'>{{list.name}}</li>
              <ng-container *ngIf='readMoreCheckbox'>
                  <li class="read-more-target" *ngFor='let list of element.description | slice:5'>{{list.name}}</li>
                </ng-container>
                </ul>
            <label *ngIf='readMoreCheckbox' for="post-2" class="read-more-trigger read-more-button">Show less.</label>
            <label *ngIf='!readMoreCheckbox' for="post-2" class="read-more-trigger read-more-button">... and {{element.description.length - 5}} more.</label>
            
           
            
            
          </div>
        </ng-template>
        <button class="button add-new-button">Add New</button>
        <div>
          
          </div>
          
  </div>
</div>