
<h1 class="target-area-title"> {{this.formName}}</h1>
<div *ngIf="valueArray!=null">
    <table class="awidth row-border hover display table table-bordered">
      <thead>
        <tr>
          <th class="icon-margin">Fields Name</th>
          <th class="icon-margin">Values</th>
        </tr>
      </thead>
      <ng-container *ngFor="let row of valueArray">
          <td class="tab-font-size font-weight">{{row.fieldName}}</td>
          <td class="tab-font-size font-weight">{{row.value}}</td>
      </ng-container>
    </table>

  </div>




<div>
 
  <mat-card class="content-card">
    <form *ngIf="withOutValueArray" ngNativeValidate id="userData" method="POST"  name="userData" [formGroup]="userFormData"
      (ngSubmit)="setDetails(userFormData.value)" >
      <div *ngFor="let element of withOutValueArray" class="form-group" [class.display-inline-block]="element.controlName == 'button' || element.controlName == 'submit' || element.controlName == 'cancel'">
         <!-- Label Tag Start Here -->
        <div *ngIf="element.controlName == 'label' && element.htmlControlTypeName !='file'" class="custom-field">
           <mat-label class="body-text1">{{element.fieldName}}</mat-label>
           {{element.value}} <br>
          
        </div>
        <!-- Input Tag Start Here -->
        <div *ngIf="element.controlName == 'input' && element.htmlControlTypeName !='date' && element.htmlControlTypeName !='file'" class="custom-field">
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>{{element.fieldName}}</mat-label>
          <input matInput [formControlName]="element.labelID" type='{{element.htmlControlTypeName}}' [required]='element.required' max="16" id='{{element.labelID}}' 
          placeholder={{element.fieldName}}
          />
          <mat-hint>{{element.helpText}}</mat-hint>
        </mat-form-field>
        </div>
        <!-- Input Tag End Here -->
        <div *ngIf="element.controlName == 'input' && element.htmlControlTypeName =='date'" class="custom-field custom-datepicker">
            <mat-form-field appearance="outline" class="demo-full-width margin-top">
                <mat-label>{{element.fieldName}}</mat-label>
                <input matInput [matDatepicker]="picker" [formControlName]="element.labelID" placeholder="{{element.fieldName}}">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-hint>{{element.helpText}}</mat-hint>
                </mat-form-field>
        </div>
         <!-- Textarea Tag Start Here -->
         <div *ngIf="element.controlName == 'textarea' && element.htmlControlTypeName !='file'" class="custom-text-area">
         <mat-form-field class="example-full-width" appearance="outline" >
            <mat-label>{{element.fieldName}}</mat-label>
            <textarea matInput [formControlName]="element.labelID" type='{{element.htmlControlTypeName}}' [required]='element.required' max="16"
             id='{{element.labelID}}' placeholder={{element.fieldName}}
            ></textarea>
            <mat-hint>{{element.helpText}}</mat-hint>
          </mat-form-field>
          </div>
        <!-- Normal Select List Start -->
        <div *ngIf="element.controlName == 'select'" class="custom-field custom-select">
        <mat-form-field appearance="outline" class="example-full-width" >
            <mat-label>{{element.fieldName}}</mat-label>
          <mat-select placeholder={{element.fieldName}}  id='{{element.labelID}}' [formControlName]="element.labelID" 
          disableOptionCentering panelClass="custom-select-panel">
            <mat-option *ngFor="let element3 of element.masterDataValues" value={{element3.id}}>
             {{element3.value}}
            </mat-option>
          </mat-select>
          <mat-hint>{{element.helpText}}</mat-hint>
        </mat-form-field>
      </div>
          <div *ngIf="element.controlName == 'radiobutton' && element.htmlControlTypeName !='file'">
              <mat-label><strong>{{element.fieldName}}</strong></mat-label><br><br>
          <mat-radio-group  [formControlName]="element.labelID" id='{{element.labelID}}'>
              <mat-radio-button *ngFor="let item of element.masterDataValues" [value]="item.id">{{item.value}}</mat-radio-button>
            </mat-radio-group>
        </div>
         <!-- Mat Button List Start-->
         <button *ngIf="element.controlName == 'button'" class="button no-margin" id='{{element.labelID}}' type='{{element.htmlControlTypeName}}'
         data-dismiss="modal">{{element.labelName}}</button>

         <button  *ngIf="element.controlName == 'submit'" class="button no-margin" id='{{element.labelID}}' type='{{element.htmlControlTypeName}}'
         data-dismiss="modal">{{element.labelName}}</button>
         <br>

         <button *ngIf="element.controlName == 'cancel'" class="button no-margin" id='{{element.labelID}}' type='{{element.htmlControlTypeName}}'
         data-dismiss="modal">{{element.labelName}}</button>
      
      </div>
      <button mat-dialog-close class="button no-margin">Close</button>
     <!--  {{currentTaskJson | json}} -->
    </form>
  </mat-card>
</div>
