<mat-card>
  <form [formGroup]="taskfrm" (ngSubmit)="onSubmit(taskfrm.value)">

    <div class="col-sm-12">
      <div class="col-sm-6 task">
        <div class="image-margin">
          <img src="assets/tag.png">
        </div>

        <mat-form-field class="example-full-width">
          <mat-icon matSuffix>perm_identity</mat-icon>
          <input matInput #message placeholder="Enter Task Title Name" formControlName="tasktitle">
          <mat-hint align="end">{{message.value.length}} / 50</mat-hint>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <textarea matInput matTextareaAutosize="true" formControlName="taskdes" placeholder="Enter Task Description"></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-icon matSuffix>perm_identity</mat-icon>
          <input matInput #message placeholder="Enter Previlege" formControlName="previlege">
          <mat-hint align="end">{{message.value.length}} / 50</mat-hint>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-icon matSuffix>perm_identity</mat-icon>
          <input matInput #message placeholder="Enter Previlege Name" formControlName="previlegename">
          <mat-hint align="end">{{message.value.length}} / 50</mat-hint>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <textarea matInput matTextareaAutosize="true" formControlName="previlegedes" placeholder="Enter Previlege Description"></textarea>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Process" (selectionChange)="getAllTaskByProcessId($event.value)" name="configId"
            formControlName="process">
            <mat-option *ngFor="let el of allProcess" [value]="el.processID">
              {{el.processName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-select placeholder="Previous Task" name="configId" formControlName="previoustask">
            <mat-option *ngFor="let el of allTask" [value]="el.taskID">
              {{el.taskName}}
            </mat-option>
          </mat-select>
        </mat-form-field>



        <mat-form-field class="example-full-width">
          <mat-select placeholder="Type" (selectionChange)="taskChange($event.value)" #taskType name="configId"
            formControlName="type">
            <mat-option *ngFor="let el of allTaskType" [value]="el.taskTypeID">
              {{el.taskTypeName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-select placeholder="Sub Type" #subTask name="configId" formControlName="subtype">
            <mat-option *ngFor="let el of subTaskType" [value]="el.subTaskTypeId">
              {{el.subTaskTypeName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <h2>{{subTask.value}} </h2>

        <!-- Splitter Task Start Here -->
        <!-- Splitter Task ------------- Task 1 -->
        <mat-form-field class="example-full-width" *ngIf="subTask.value==6">
          <mat-select placeholder="Splitter Task" name="configId" formControlName="templateName">
            <mat-option *ngFor="let el of templateNameList" [value]="el.mailSendEvent">
              {{el.mailSendEvent}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- List Of All Send Notifications Template Start  -->
        <!-- Splitter Task ------------- Task 2 -->
        <mat-form-field class="example-full-width" *ngIf="subTask.value==6">
          <mat-select placeholder="Splitter Task" name="configId" formControlName="templateName">
            <mat-option *ngFor="let el of templateNameList" [value]="el.mailSendEvent">
              {{el.mailSendEvent}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- List Of All Send Notifications Template Start  -->
        <!-- Splitter Task Start Here -->

        <!-- List Of All Send Notifications Template Start  -->
        <mat-form-field class="example-full-width" *ngIf="subTask.value==2">
          <mat-select placeholder="Template Name" name="configId" formControlName="templateName">
            <mat-option *ngFor="let el of templateNameList" [value]="el.mailSendEvent">
              {{el.mailSendEvent}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- List Of All Send Notifications Template Start  -->

        <!-- Two Way Router Task START -->
        <!--  Border START -->
        <div style="height: 100px;" *ngIf="subTask.value==5 && subTask.value!=null">
          <!-- Two Way Router Task IF/ELSE Conditions  -->
          <mat-form-field class="width-50 eta-float-left">
            <mat-select placeholder="IF Condition" formControlName="taskTrue">
              <mat-option *ngFor="let el of allTask" [value]="el.taskID">
                {{el.taskName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="width-50 eta-float-right">
            <mat-select placeholder="ELSE Condition" formControlName="taskFalse">
              <mat-option *ngFor="let el of allTask" [value]="el.taskID">
                {{el.taskName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- Two Way Router Task IF/ELSE Conditions END  -->


          <mat-form-field class="two-way-banding">
            <mat-select placeholder="DataElement 1" formControlName="firstDataElement">
              <mat-option *ngFor="let dataElement of dataElementList" [value]="dataElement.dataElementID">
                {{dataElement.dataElementName}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="two-way-banding eta-margin-two-way">
            <mat-select placeholder="Relational Oprater" formControlName="relationalOpraters">
              <ng-container *ngFor="let relationaOpt of relationalOpraters">
                <mat-option *ngIf="relationaOpt.operatorsType==='relational'" [value]="relationaOpt.id">
                  {{relationaOpt.operator}}
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="two-way-banding">
            <mat-select placeholder="DataElement 1" formControlName="secondDataElement">
              <mat-option *ngFor="let dataElement of dataElementList" [value]="dataElement.dataElementID">
                {{dataElement.dataElementName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- Border END -->
        <!-- Repeating block after click on add in 2 way binding -->
        <div *ngIf="subTask.value==5 && subTask.value!=null" formArrayName="itemRows">
          <div *ngFor="let itemrow of taskfrm.controls.itemRows.controls; let i=index" [formGroupName]="i">
            <!-- Border START -->
            <div class="add-new-task-border">
              <mat-form-field class="example-full-width">
                <mat-select placeholder="Logical Oprater" formControlName="relationalConditionRow">
                  <ng-container *ngFor="let relationaOpt of relationalOpraters">
                    <mat-option *ngIf="relationaOpt.operatorsType==='logical'" [value]="relationaOpt.id">
                      {{relationaOpt.operator}}
                    </mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="two-way-banding">
                <mat-select placeholder="DataElement 1" formControlName="firstDataElementRow">
                  <mat-option *ngFor="let dataElement of dataElementList" [value]="dataElement.dataElementID">
                    {{dataElement.dataElementName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="two-way-banding eta-margin-two-way">
                <mat-select placeholder="Relational Oprater" formControlName="relationalOpratersRow">
                  <ng-container *ngFor="let relationaOpt of relationalOpraters">
                    <mat-option *ngIf="relationaOpt.operatorsType==='relational'" [value]="relationaOpt.id">
                      {{relationaOpt.operator}}
                    </mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="two-way-banding">
                <mat-select placeholder="DataElement 2" formControlName="secondDataElementRow">
                  <mat-option *ngFor="let dataElement of dataElementList" [value]="dataElement.dataElementID">
                    {{dataElement.dataElementName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- Border END -->
          </div>
        </div>
        <button *ngIf="subTask.value==5 && subTask.value!=null" style="float:right;" type="button" mat-icon-button
          color="primary" (click)="addNewRow()">
          <mat-icon>add_circle</mat-icon>
        </button>
        <button *ngIf="subTask.value==5 && subTask.value!=null" style="float:right;" type="button" mat-icon-button
          color="primary" (click)="addNewRow()">
          <mat-icon>remove_circle</mat-icon>
        </button>
        <!-- Repeating block after click on add in 2 way binding END HERE -->

        <!-- Two Way Router Task END HERE -->



        <mat-form-field *ngIf="taskType.value==1" class="example-full-width">
          <mat-select placeholder="Form" formControlName="form">
            <mat-option *ngFor="let el of allFrom" [value]="el.formID">
              {{el.formName}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field class="example-full-width">
          <mat-select placeholder="Is Last Task?" formControlName="lasttask">
            <mat-option [value]="0">Sequence</mat-option>
            <mat-option [value]="1">Start Task</mat-option>
            <mat-option [value]="2">End Task</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="button-row">
      <button type="submit" mat-raised-button color="primary">Add</button>
      <button class="eta-margin-all" type="button" mat-raised-button color="primary" [mat-dialog-close]=taskId>Close</button>
      <button type="button" (click)="translationColumns()" mat-raised-button color="primary" data-toggle="modal"
        data-target="#myModal">Add Translation</button>
    </div>
  </form>
</mat-card>
