<div>
    <!-- Breadcrumb start-->
    <mat-toolbar>
        <mat-icon>home</mat-icon>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span>
          <a href="#" routerLink='/eta-web/organizationdashboard'>{{mainbreadcrumb}}</a>
        </span>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span>
          <a routerLink='/eta-web/orgpassworddashboard'>{{breadcrumb}}</a>
        </span>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span>
          <a routerLink='/addpasswordpolicy'>Add</a>
        </span>
    </mat-toolbar>
    <!-- Breadcrumb end-->

  <!-- Form col-sm-6 tage start-->
  <div class="col-sm-6 div-padding">
    <!-- Form table-padding tage start-->
    <div class="table-padding">
      <!-- Form container tage start-->
      <div class="container col-sm-12">
        <!-- Org Password Policy Header tag start-->
        <mat-toolbar color="primary"> Password Policy </mat-toolbar>
        <!-- Org Password Policy Header tag End-->

        <!-- mat card tag start -->
        <mat-card>
        <form [formGroup]="orgfrm" (ngSubmit)="onSubmit(orgfrm.value)">
          
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Organization Name" disabled [value]=orgName>
            </mat-form-field>
            
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Enter No of Minimum Character Length" formControlName="minLength"  >
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Enter No of Minimum Number Length" formControlName="number"  >
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Enter No of Uppercase Character Length" formControlName="uppercaseChar"  >
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Enter No of Special Character Length" formControlName="specialChar"  >
            </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-select placeholder="Select User Type" formControlName="userId">
                   <mat-option *ngFor="let uidList of userList" [value]="uidList.id"> 
                    {{uidList.userType}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-select placeholder="Choose Policy Expiry Days" formControlName="policyid" required>
                  <mat-option *ngFor="let expday of dayslist" [value]="expday.id">
                    {{expday.passConfigId}}
                  </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="button-row">
              <button type="submit" mat-raised-button color="primary">Add</button>
              <button class="eta-margin-all" type="button" (click)="cancel()" mat-raised-button color="primary">Cancel</button>
            </div>
         
        </form>
        </mat-card>
        <!-- mat card tag end -->

      </div>
      <!-- Form container tage End-->
    </div>
    <!-- Form table-padding tage End-->
  </div>
  <!-- Form col-sm-6 tage End-->
  <div *ngIf="organizationPassUrlCol!=null" class="col-sm-6 table-padding">
      <mat-toolbar color="primary"> List of Password Policy</mat-toolbar>
    <mat-card>
      <!--<app-admin-dynamic-datatable [myurl]=organizationPassUrl [mycoloums]=organizationPassUrlCol></app-admin-dynamic-datatable>-->
      <mat-data-table [myDataUrl]=orgPasswordPolicyInnerDataUrl [defaultSortColumn]=defaultColumnToSort></mat-data-table>
    </mat-card>
  </div>
</div>
