a {
  text-decoration: none;
}

a:hover {
  color: #A6510C;
}

.colorA6510C {
  color: #A6510C;
}

#tag {
  width: 200px;
  padding: 10px;
}

#passpolicyHeaderBC {
  background-color: #fce2c4;
}

#passpolicyValueBC {
  background-color: #a5a7ac;
}

/* Material design css start */

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}

.eta-margin-all{
  margin: 10px;
}
