.eta-margin-all {
    margin: 10px;
  }
  .button-row {
    margin-top: 20px;
  }


  .alert-success {
    color: #17a161;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
  }
  .alert-danger{
    color: #ff2002;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
  }
  .alert {
    padding: 5px;
    margin: 0;
    /* border: 1px solid transparent; */
    border-radius: 4px;
  }
  .popup-close{
    position: relative;
    top: 5px;
    right: 10px;
    float: right;
    cursor: pointer;

}

/* ================================== */


.top-container {
  padding: 0px;
  background-color: lightgray;
}
.custom-slider{

  width:100%;

    overflow-x:auto;

    white-space:nowrap;
   

}
.custom-slider-container {
  position: relative;
}

.mat-card {
   display:inline-block;
   min-width: 175px;
   margin: 0 7px;
   border: solid lightgray 1px;
   border-radius: 5px;
   height:100%;
}
.card-heading{
    text-align: center;
}
.mat-card .card-second-heading {
    margin: 40px 0;
}
.button-icon-group button{
float: left;
}
.button-icon-group .icon {
    float: right;
    vertical-align: middle;
}
.previous-button-arrow, .next-button-arrow {
  position: absolute;
  top: 40%;
}
.next-button-arrow {
    right: 10px;
}
.previous-button-arrow{
  left: 10px;
}

.function-button-group button{
    margin-right: 15px;
}
.custom-container {
    padding: 10px 0;
}
.custom-container h3 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}
.custom-container .setting-icon, .search-icon {
  float: right;
  vertical-align: middle;
}
.custom-container .material-icons, .custom-container .search-icon, .custom-container mat-checkbox{
  vertical-align:  middle !important;
  margin: 05px
}

.custom-slider::-webkit-scrollbar { width: 0 !important }


