<div class=" table-padding">
  <!-- Breadcrumb start-->
  <mat-toolbar>
    <mat-icon>home</mat-icon>
    <mat-icon>arrow_forward_ios</mat-icon>
    <span>
      <a href="#" routerLink='/home'>{{mainbreadcrumb}}</a>
    </span>
    <mat-icon>arrow_forward_ios</mat-icon>
    <span>
      <a routerLink='/eta-web/taskdashboard'>{{breadcrumb}}</a>
    </span>
  </mat-toolbar>

  <div class="custom-slider-container">
    <div class="custom-slider" #widgetsContent>
    
        <mat-card class="card" *ngFor="let card of cards">
       
         <div class="card-top">
       
           <h1 class="card-heading">{{card.heading}}</h1>
       
           <h4 class="card-second-heading">{{card.discription}}</h4>
        <div class="button-icon-group">
            <button mat-raised-button color="primary">View</button>
            <mat-icon class="icon">more_vert</mat-icon>
        </div>
         </div>
       
         </mat-card>
       
         <button  class="previous-button-arrow" (click)="prev()" mat-mini-fab color="primary" ><mat-icon>arrow_back_ios</mat-icon></button>
         
         <button  class="next-button-arrow" (click)="next()" mat-mini-fab color="primary"><mat-icon>arrow_forward_ios</mat-icon></button>
       </div>
      </div>

  <nav mat-tab-nav-bar [backgroundColor]="background">
    <ng-container *ngFor="let menu of menuList;">
      <a mat-tab-link *ngIf="menu.menuType==3 && menu.menuRef == 1" (click)="activeLink=shownRouterLink(menu.routerLink)" [active]="activeLink==menu.routerLink">
        {{menu.translation}}
        </a>
        </ng-container>
        <button mat-icon-button>
          <mat-icon (click)="toggleBackground()">
            invert_colors
            </mat-icon>
            </button>
            </nav>

           

            <mat-card>
              
                <div *ngIf="showResponseMsg !=null"  class="{{ cssClass(showResponseMsg.type) }} alert-dismissable">
                    {{showResponseMsg.messages}}
                 
                    <mat-icon *ngIf="showResponseMsg.messages !=null"  class="popup-close" (click)="removeAlert()">cancel</mat-icon>
               </div>
               
              <div *ngIf="gridTaskColumns!=null">
                  <mat-data-table [myDataUrl]=taskUrl [defaultSortColumn]=defaultColumnToSort></mat-data-table>
          
              </div>
              <div class="button-row">
                <button type="button" (click)="openDialog('Add')" mat-raised-button color="primary" >Add</button>
                <button [disabled]="isEditAllowed == false"  class="eta-margin-all" type="button" (click)="openDialog('Edit')" mat-raised-button color="primary">Edit</button>
              </div>

            </mat-card>

</div>


