<div class=" table-padding">
  <!-- Breadcrumb start-->
  <mat-toolbar>
    <mat-icon>home</mat-icon>
    <mat-icon>arrow_forward_ios</mat-icon>
    <span>
      <a href="#" routerLink='/dashboardDataObject'>{{mainbreadcrumb}}</a>
    </span>
    <mat-icon>arrow_forward_ios</mat-icon>
    <span>
      <a routerLink='/eta-web/dataelementdashboard'>{{breadcrumb}}</a>
    </span>
  </mat-toolbar>
  <!-- Breadcrumb end-->
  <nav mat-tab-nav-bar [backgroundColor]="background">
    <ng-container *ngFor="let menu of menuList;">
      <a mat-tab-link *ngIf="menu.menuType==3 && menu.menuRef == 21" (click)="activeLink=shownRouterLink(menu.routerLink)" [active]="activeLink==menu.routerLink">
        {{menu.translation}} </a>
        </ng-container>
        <button mat-icon-button>
          <mat-icon (click)="toggleBackground()">invert_colors</mat-icon>
            </button>
            </nav>
            <!-- Mat Data table start -->
            <mat-card>
              <div *ngIf="gridDataElementColumns!=null">
                <mat-data-table [myDataUrl]=dataElementUrl [defaultSortColumn]=defaultColumnToSort></mat-data-table>
                <!--  <app-dynamic-datatable [myurl]=dataElementUrl [mycoloums]=gridDataElementColumns></app-dynamic-datatable> -->
              </div>
              <div class="button-row">
                <button type="button" (click)="addDataElement()" mat-raised-button color="primary">Add</button>
                <button [disabled]="isEditAllowed == false" class="eta-margin-all" type="button" (click)="editDataElement()" mat-raised-button color="primary">Edit</button>
              </div>
            </mat-card>
</div>
