
.top-container{
    padding-bottom: 20px;
    border-bottom: solid lightgray 1px;
    background-color: lightgray;
}
.title-and-icon-container{
    position: relative;
}
.title-and-icon-container .float-right-icon{
    position: absolute;
    right: 10px;
    top: 0;;
}
.custom-slider-container {
    position: relative;
    margin-bottom: 40px;
  }
  
.custom-slider::-webkit-scrollbar { width: 0 !important }
.custom-slider{
  
    width:100%;
  
      overflow-x:auto;
  
      white-space:nowrap;
     
  }
  .mat-card {
     display:inline-block;
     min-width: 175px;
     text-align: center;
     margin-right: 16px;
     border: solid lightgray 1px;
     border-radius: 5px;
     height:100%;
  }
  .mat-card .card-heading{
      text-align: center;
  }
  .mat-card .card-second-heading {
      margin: 40px 0;
  }

  .previous-button-arrow, .next-button-arrow {
    position: absolute;
    top: 40%;
  }
  .next-button-arrow {
      right: 10px;
  }
  .previous-button-arrow{
    left: 10px;
  }
.show-live-button{
    margin-right: 15px;
}
.button-container{
    margin-top: 5px;
}
.button-container button{
    background: none;
    border: none;
    color: black;
    padding: 5px 15px;
    border-bottom: 2px solid transparent;
}
.button-container button:hover {
    border-bottom: 2px solid green;
}
.icon-container .check-box{
vertical-align: super;
margin-left: 15px;
}
.icon-container .search-icon{
    float: right;
}
