
<div class="main-container">
    <div class="top-container">
    <div class="title-and-icon-container">
      <i class="material-icons medium-square-icon icon-without-area float-right-icon">settings</i>
    <h2 class="target-area-title">Metrics</h2>
  </div>
      <div class="custom-slider-container">
        <div class="custom-slider" #widgetsContent>
        
            <mat-card class="card" *ngFor="let card of cards">
           
             <div class="card-top">
           
               <h1 class="card-heading">{{card.heading}}</h1>
           
               <h4 class="card-second-heading">{{card.discription}}</h4>
            <div class="button-icon-group">
                <button mat-raised-button color="primary">View</button>
                <mat-icon class="icon">more_vert</mat-icon>
            </div>
             </div>
           
             </mat-card>
           
             <button  class="previous-button-arrow" (click)="prev()" mat-mini-fab><mat-icon>arrow_back_ios</mat-icon></button>
          
             <button  class="next-button-arrow" (click)="next()" mat-mini-fab><mat-icon>arrow_forward_ios</mat-icon></button>
           </div>
          </div>
  
          <div class="title-and-icon-container">
              <i class="material-icons medium-square-icon icon-without-area float-right-icon">settings</i>
            <h2 class="target-area-title">Tast Flows</h2>
          </div>
          <button mat-raised-button class="show-live-button">Show Live</button>
          <button mat-raised-button>Show Test</button>
        </div>
        <div class="button-container">
          <button class="button">ALL</button>
          <button class="button">GFP</button>
          <button class="button">AFP</button>
        </div>
        <div class="icon-container">
          <mat-checkbox class="check-box"></mat-checkbox>
          <i class="material-icons medium-square-icon">add_box</i>
          <i class="material-icons medium-square-icon search-icon">search</i>
        </div>

        <p class="custom-field">
            <mat-form-field appearance="outline">
              <mat-label>Outline form field</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>



        </div>