
body{
  font-family: var(--font-family) !important;
  margin: 0 !important;
  scroll-behavior: smooth;
}
*{
  box-sizing: border-box;
  transition:  background .2s, margin .2s, height .2s, width .2s, padding .2s;
  word-break: break-word !important;
}
a{
  text-decoration: none  !important;
}

/* text specific typography styles */
h3 {
  font-size: var(--h3-base-font-size);
   font-weight: 400 !important; /* roboto regular */
   font-family: var(--font-family);
   color: var(--body-text-font-color) !important;
}
.target-area-title{
  position: relative;
  font-size: var(--target-area-title-base-font-size);
  font-weight: 500 !important;
  margin: 0 0 var(--vertical-space-between-rows) 0;
  padding: 0;
  color: var(--heading-text-color) !important;
}
.target-area-title::after {
  content: '';
  width: var(--target-area-title-bar-underline-width);
  height: var(--target-area-title-bar-underline-height);;
  position: absolute;
  bottom: 0px;
  display: block;
  background-color: var(--heading-text-color) !important;
}
.nav-drawer-group-item {
  font-size: var(--nav-drawer-group-item-base-font-size);
  font-family: var(--nav-drawer-font-family);
   font-weight: 500 !important; /* roboto medium */
   color: var(--nav-drawer-font-color) !important;
}
.nav-drawer-item{
  font-family: var(--nav-drawer-font-family);
  font-weight: 400 !important; /* roboto regular */
  font-size: var(--nav-drawer-item-base-font-size);
  color: var(--nav-drawer-font-color) !important;
}

.button{
  font-family: var(--font-family);
  font-weight: 500 !important; /* roboto medium */
  /* font-size: var(--button-base-font-size); */
  font-size: var(--button-base-font-size);
  text-transform: uppercase;
  border: solid 1px lightgray !important;
  border-radius: 4px !important;
  padding: 0 var(--button-base-padding);
  height: var(--button-base-height);
  margin: var(--button-base-padding) 0;
  background: var(--button-background-color);
  cursor: pointer;
}
.button:enabled {
  color: var(--button-text-color-enabled) !important;
}
.button:enabled:hover {
  background: var(--button-hover-background-color);
  color: var(--button-text-color-hover) !important;
}
.button:enabled:active {
  background: var(--button-click-background-color);
  color: var(--button-text-color-click);
}
.lowercase{
  text-transform: initial !important;
}
.button:disabled{
 color: var(--button-text-color-disabled);
}
.button:disabled:hover{
  cursor: not-allowed;
}
button:disabled svg-icon:hover {
cursor: not-allowed !important;
}
button:disabled svg-icon svg{
  fill: gray !important;
}
button:focus {
  outline:0 !important;
}
.body-text1{
  font-family: var(--body-text-font-family) !important;
  font-size: var(--body-text1-base-font-size) !important;
  font-weight: 400 !important; /* roboto regular */
  color: var(--body-text-font-color);
}
.body-text2, .tags{
  font-family: var(--body-text-font-family);
  font-size: var(--body-text2-base-font-size);
  font-weight: 400; /* roboto regular */
  color: var(--body-text-font-color);
}
.label {
  /* font-size: var(--label-base-font-size); */
  font-size: var(--body-text1-base-font-size);
  font-family: var(--font-family);
  font-weight: 500; /* roboto regular */
}
.control-label-hint-text{
  font-size: var(--custom-control-help-text-font-size);
  color: rgba(0, 0, 0, 0.6);
}
    /*text that have body text1 font size*/
    .mat-menu-item,
    .mat-card-header .mat-card-title,
    .mat-card-subtitle,
    .mat-slide-toggle-content,
    .mat-cell, .mat-header-cell {
      font-size: var(--body-text1-base-font-size) !important;
      color: var(--body-text-font-color) !important;
    }
/* text specific typography styles ends*/

/* color palette styles starts */
.primary {
  color: var(--primary);
}
.primary-bg {
  background-color: var(--primary);
  color: white;
}
.light-primary {
  color: var(--light-primary);
}
.light-primary-bg{
  background-color: var(--light-primary);
  color: white;
}
.dark-primary {
  color: var(--dark-primary)
}
.dark-primary-bg{
  background-color: var(--dark-primary);
  color: white;
}
.secondary {
  color: var(--secondary);
}
.secondary-bg{
  background-color: var(--secondary);
  color: white;
}
.light-secondary {
  color: var(--light-secondary);
}
.light-secondary-bg{
  background-color: var(--light-secondary);
  color: white;
}
.dark-secondary {
  color: var(--light-secondary);
}
.dark-secondary-bg{
  background-color: var(--light-secondary);
  color: white;
}
.error{
  color: var(--errors);
}
.error-bg{
  background-color: var(--errors);
}
.text1-on-substrate{
color: var(--text1-on-substrate);
}
.text2-on-substrate{
color: var(--text2-on-substrate);
}

/* style for eta mat cards starts */
  .square-card{
    width: var(--square-card-width);
    height: var(--square-card-width);
  }
  .long-card{
    width: var(--long-card-width);
    height: calc(var(--long-card-width) * 1.5);
  }
  .oblong-card{
    width: var(--oblong-card-width);
    height: calc(var(--oblong-card-width) * 2/3);
  }
  .tv-card{
    width: var(--tv-card-width);
    height: calc(var(--tv-card-width) * 3/4) ;
  }
  .vertical-tv-card, .long-tv-card, .media-card{
    width: var(--tv-card-width);
    height: calc(var(--tv-card-width) * 4/3) ;
  }
  .picture-card{
    width: var(--picture-card-width);
    height: calc(var(--picture-card-width) * 9/16);
  }
  /* style for eta mat cards ends */

  /*style for success and unsuccess color*/
  .success, 
  .success p{
    color: var(--success-color) !important;
  }
   .unsuccess, 
   .unsuccess p{
     color: var(--errors) !important;
  }
 
   /* Applying primary color to elements starts */
.my-light-green-theme .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb{
    background-color: var(--primary) !important;
}
.my-light-green-theme .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: rgba(var(--primary-rgb), .65) !important;
  margin-right: var(--horizontal-space-between-controls) !important;
}
.my-light-green-theme .mat-slide-toggle .mat-slide-toggle-bar {
  margin-right: var(--horizontal-space-between-controls) !important;
}
.my-light-green-theme .mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-inner-circle{
  background-color: var(--primary) !important;
}
.my-light-green-theme .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle,
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color: var(--primary) !important;
}

/* Applying primary color to elements ends */
/* color palette styles ends */

/* Iconography starts  */
svg-icon{
  display: block;
}
  svg-icon svg{
    box-sizing: initial !important;
    vertical-align: middle;
   }
   .no-padding-svg svg{
    padding: 0 !important;
   }

.app-bar-icon svg{
  height: var(--app-bar-icon) !important;
  width: var(--app-bar-icon) !important;
  padding: var(--app-bar-icon-padding);
  }
  .app-bar-icon-img{
    height: var(--app-bar-icon) !important;
    width: var(--app-bar-icon) !important;
  }
  .nav-drawer-group-icon svg{
    width: var(--nav-drawer-group-icon) !important; 
    height: var(--nav-drawer-group-icon) !important; 
    padding: var(--nav-drawer-group-icon-padding);
  }
  .nav-drawer-item-icon svg{
    height: var(--nav-drawer-item-icon) !important;
    width: var(--nav-drawer-item-icon) !important;
    padding: var(--nav-drawer-item-icon-padding);
  }
  .control-icon svg{
    width: var(--control-icon) !important;
    height: var(--control-icon) !important;
    padding: var(--control-icon-padding);
  }
  .button-icon svg{
    width: var(--button-icon) !important;
    height: var(--button-icon) !important;
    padding: var(--button-icon-padding);
  }
  .unit-icon svg{
    height: var(--unit-icon) !important;
    width: var(--unit-icon) !important;
    padding: var(--unit-icon-padding);
  }
  .target-area-title-icon svg{
    width: var(--target-area-title-icon) !important;
    height: var(--target-area-title-icon) !important;
    padding: var(--target-area-title-icon-padding);
  }
  .card-title-icon svg{
    width: var(--card-title-icon) !important;
    height: var(--card-title-icon) !important;
    padding: var(--card-title-icon-padding);
  }
  .custom-fab.mat-fab {
    height: var(--floating-action-button) !important;
    width: var(--floating-action-button) !important;
  }
  .custom-fab.mat-fab:hover{
    box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 12px 17px 2px rgba(0, 0, 0, 0.14),
    0px 5px 22px 4px rgba(0, 0, 0, 0.12);
  }
  .custom-fab.mat-fab .mat-button-wrapper{
    padding: var(--floating-action-button-inside-padding) 0 !important;
    display: block !important;
  }
  .custom-fab-small.mat-fab {
    height: calc(var(--floating-action-button)/ 1.25) !important;
    width: calc(var(--floating-action-button)/ 1.25) !important;
  }
  .custom-fab-small.mat-fab:hover{
    box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 12px 17px 2px rgba(0, 0, 0, 0.14),
    0px 5px 22px 4px rgba(0, 0, 0, 0.12);
  }
  .custom-fab-small.mat-fab .mat-button-wrapper{
    padding: 0 !important;
    display: block !important;
  }
  .body-icon svg{
    height: var(--body-icon) !important;
    width: var(--body-icon) !important;
    padding: var(--body-icon-padding);
  }
  .icon-without-padding{
    padding: 0 !important;
  }
  .unit-control-icon svg{
    display: block;
    height: var(--unit-control-icon-size) !important;
    width: var(--unit-control-icon-size) !important;
  } 


  .success-svg svg{
    fill: var(--success-color) !important;
  }
  .unsuccess-svg svg{
   fill: var(--errors) !important;
  }
  .red-status svg{
   fill: red !important;
   }
  .green-status svg{
   fill: green !important;
   }
  .amber-status svg{
   fill: brown !important;
   }
   .my-light-green-theme .material-icons,
   .my-light-green-theme mat-icon,
   .my-light-green-theme svg-icon{
     cursor: pointer !important;
   }
   .sidenav svg-icon svg{
    fill: var(--nav-drawer-font-color) !important; /*For dynamically change the color of nav drawer contents through Branding.*/
    }
  /* Iconography ends */

/* style for application breadcrumb */
  .breadcrumb{
    display: var(--bread-crumb-display) !important;
    background: none !important;
    height: unset !important;
    margin-bottom: var(--content-inside-padding) !important;
    padding: 0 !important;
}
.breadcrumb span{
  display: inline-block;
  vertical-align: middle;
}
.breadcrumb a {
  display: inline-block;
  font-size: var(--body-text2-base-font-size) !important;
  vertical-align: middle;
  text-decoration:underline !important;
	color:var(--primary) !important;
}

.breadcrumb svg-icon{
  vertical-align: middle;
  display: inline-block !important;
  margin: 0 var(--eta-standard-spacing);
}
.breadcrumb svg-icon:first-child{
  margin: 0;
}
.breadcrumb svg-icon svg{
  height: var(--unit-icon) !important;
  width: var(--unit-icon) !important;
}
/* style for application breadcrumb ends */

/*styles for buttons as tabs starts here*/
.button-as-tab{
  background: transparent;
  border: none;
  margin: 0 var(--horizontal-space-between-controls) 0 0;
  font-size: var(--body-text1-base-font-size);
  font-weight: 400 !important; /* roboto regular */
  color: var(--body-text-font-color) !important;
  padding: 6px 0 4px 0;
  text-transform: uppercase;
  border-bottom: solid 2px transparent;
  cursor: pointer;
  position: relative;
}
.button-as-tab:not(.active-button):hover:after{
  visibility: visible !important;
}
.button-as-tab::after{
  visibility: hidden;
  content: '';
  background: rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0px;
    transform: translate;
    transform: translate(1.5, 1.5);
    transform: scale(1.5, 1.5);
}
.active-button{
  font-weight: bold;
  color: var(--primary) !important;
  border-bottom: solid 2px var(--primary) !important;
}

/*tab button slider styles*/

/* tabs slider styles starts here*/
.relative-div{
  position: relative;
}
.tab-button-group-container{
  vertical-align: middle;
 overflow-y: hidden !important;
 white-space: nowrap;
 overflow-x: hidden;
 margin-top: -6px; /*tab buttons having 6px top padding for hover background*/
}
.tab-button-group-container .scrollable-content{
  display: inline-block;
}
.tab-button-group-container .tabs-back-button-transparent-container,
.tab-button-group-container .tabs-forward-button-transparent-container{
 position: absolute;
 top: 50%;
 height: 100%;
 width: 100px;
}
.tab-button-group-container .tabs-back-button-transparent-container{
 left: 0;
 transform: translate(0%, -50%);
 background: linear-gradient(to left, transparent, var(--cards-background-color), var(--cards-background-color)) !important;
}
.tab-button-group-container .tabs-forward-button-transparent-container{
 left: 100%;
 transform: translate(-100%, -50%);
 background: linear-gradient(to right, transparent, var(--cards-background-color), var(--cards-background-color)) !important;
}
.tab-button-group-container .tabs-scroll-forward-button,
.tab-button-group-container .tabs-scroll-back-button{
 position: absolute;
 top: 50%;
 background: white !important;
 color: black !important;
}
.tab-button-group-container .tabs-scroll-forward-button{
 left: 100%;
 transform: translate(-100%, -50%);
}
.tab-button-group-container .tabs-scroll-back-button{
 left: 0;
 transform: translate(0%, -50%);
}
.tab-button-group-container .tabs-scroll-forward-button:hover .material-icons {
 margin-left: 0 !important;
 transition: none !important;
}
.tab-button-group-container .tabs-scroll-back-button:hover .material-icons {
 margin-right: 0 !important;
 transition: none !important;
}
/* tabs slider styles starts here*/
/*styles for buttons as tabs ends here*/


/*CSS FOR TYPE AHEAD DROPDOWN*/
.dropdown.open {
  width: 100%
}
.dropdown-menu::-webkit-scrollbar {
  width: 4px;
  border-radius: 10px;
}
.dropdown-menu::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
.dropdown-menu::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
.dropdown-menu::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.open>.dropdown-menu {
  display: block;
  background-color: white  !important;
  border-radius: 5px;
  margin: var(--typeahead-ul-top-margin) 0 0 0;
}


.dropdown-menu>li>a {
  display: block;
  padding: calc(var(--vertical-space-between-rows)/2) var(--vertical-space-between-rows);
  clear: both;
  font-weight: 400;
  color: black !important;
  font-size: var(--custom-control-font-size);
}
.dropdown-menu>li>a:hover {
  background: rgba(0,0,0,.04);
}



.dropdown-menu {
  position: absolute  !important;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: calc(100% + var(--custom-control-suffix-icon-size));
  padding: 0;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid black;
 
  border-radius:0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  max-height:250px !important;
  overflow-y:auto  !important;
}

.dropdown-item{
  display: block !important;
  width: 100% !important;
  text-align: left !important;
  background-color: green;
  font-size: medium;
  font-style: inherit;
  font: -webkit-pictograph;
  color: cornsilk;
  padding: 0;
  border: none;

}
.dropdown-item span{
  padding: 5px;
  border-bottom: solid lightgray 1px;
}



/* Show the dropdown menu on hover */
.dropdown-item .ng-star-inserted {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-item .ng-star-inserted {background-color: #3e8e41;}

/* style for type ahead dropdown ends here */

.mat-dialog-container{
  min-width: 500px;
}

 .mat-chip-list-wrapper{
  display: block !important;
  text-align: center !important;
}
 .mat-standard-chip{
  border-radius: 8px !important;
  padding: 0px 12px !important;
  width: 90% !important;
  margin:  auto !important;
  text-align: center !important;
  font-size: 11px;
  font-weight: bold;

}






/* root styles for responsive layout */
:root {
  --font-family: 'roboto';
  --sidenav-background: white;
  --direction:ltr;
  --screen-margin: 24px;
  --mat-card-background-color: white;
  --mat-table-row-min-height: 48px;
  --mat-table-paginator-height: 64px;
  --eta-table-constant-width-column-width: 50px;
  --eta-table-header-background: rgba(0, 0, 0, 0.05);

  --pushed-in-nav-drawer-width: 72px;
  --pulled-out-side-bar-width: 256px;
  --nav-drawer-item-height: 48px;
  --side-nav-drawer-display: block;
  --bread-crumb-display: none;
  --sidebar-expansion-panel-submenu-width: 240px;
  --sidebar-expansion-panel-submenu-height: 40px;
  --sidenav-pulled-out-bar-right-side-padding: 12px;
  --sidenav-push-in-pull-out-button-icon-size: 16px;
  --side-nav-drawer-expansion-indicator: 3px;

  --top-nav-bar-display: none;
  --top-nav-bar-height: 48px;
  --top-nav-bar-padding: 8px 0; /*for height*/
  --top-nav-bar-content-spacing: 16px;
  --top-nav-bar-expand-more-icon-left-spacing: 32px;
  --top-nab-bar-submenu-panel-padding: 8px;
  --top-nav-bar-submenu-button-padding: 16px;
  --top-nav-bar-submenu-right-left-spacing: 16px;
  --top-nav-bar-submenu-button-height: 40px;
  --top-nav-bar-submenu-panel-starting-point-top: -12px;

  --main-content-width: calc(100% - (var(--content-horizontal-margin)*2));
  --content-horizontal-margin: 16px;
  --content-vertical-margin: 8px;
  --content-inside-padding: 24px;

  --unit-control-size: 16px;
  --unit-control-icon-size: 18px;

  --custom-control-height: 40px;
  --control-button-container-margin-top: 7px;
  --custom-control-input-text-top-margin: 2px;
  --custom-control-floating-label-top: 24px;
  --cutom-control-input-label-top-margin: -.05em;
  --custom-control-font-size: 18px;
  --custom-control-border-radious: 4px;
  --control-floating-label-top: -1px;
  --custom-control-right-left-padding: 16px;
  --custom-control-help-text-font-size: 13px;
  --custom-control-help-text-top-margin: 2px;
  --horizontal-space-between-controls: 16px;
  --vertical-space-between-rows: 26px;
  --custom-control-suffix-icon-size: 24px;
  --custom-control-select-tag-responsive-padding: unset;
  --custom-select-panel-option-line-height: 20px;
  --custom-select-tag-padding: 8px 8px;
  --custom-select-panel-max-height: 200px;
  --custom-textarea-floating-label-top: 6px;

  --file-upload-button-spacing: 8px;

  --custom-select-panel-margin-top: 29px;
  --custom-select-content-both-side-total-margin: 16px;
  --custom-select-tag-arrow-border: 5px;
  --custom-select-tag-arrow-top: 0px;

  --custom-app-bar-tag-arrow-border: 9px;
  --custom-app-bar-tag-arrow-top: 0;

  --app-bar-height: 88px;
  --app-bar-inner-container-height: 56px;
  --app-bar-icon-spacing: 24px;
  --aap-bar-recently-used-select-tag-width: 200px;
  --app-bar-select-panel-margin-top: 26px;

  /* type ahead */
  --typeahead-ul-top-margin: 9px;

  /* common padding */
  --eta-common-padding: calc((var(--eta-table-constant-width-column-width) - var(--unit-control-size)) / 2);

  /* cards */
  --dashboard-square-card-width: 200px;
  --square-card-width: 244px;
  --long-card-width: 144px;
  --oblong-card-width:216px;
  --tv-card-width: 300px;
  --long-tv-card-width: 168px;

  --user-image-size: 64px;

  --app-bar-scroll-forward-button-right: 190px;
  --eta-table-image-size: 16px;
  --eta-standard-spacing: 8px;
}

/* root ends */
 /* color palette styles starts */
 :root {
  
  --Shadow: #9E9E9E;
  --body-text: #000000;
  --text-on-primary: #FFFFFF;
  --text-on-secondary: #FFFFFF;
  --text1-on-substrate: #000000;
  --text2-on-substrate: #757575;
  --modal-window-bg: #FFFFFF;
  --h3-base-font-size: 48px;
  --target-area-title-base-font-size: 20px;
  --target-area-title-bar-underline-width: 96px;
  --target-area-title-bar-underline-width: 2px;
  --nav-drawer-group-item-base-font-size: 16px;
  --nav-drawer-item-base-font-size: 16px;
  --button-base-font-size: 14px;
  --body-text1-base-font-size: 16px;
  --body-text2-base-font-size: 14px;
  --label-base-font-size: 12px;

  /* dynamic styles */
  --substrate: #EEEEEE;
  --app-bar-background: #138808;
  --app-bar-text-color: #ffffff; /*based on app bar background*/
  --org-logo-path: '';
  --primary: #138808; /* green */
  --primary-rgb: 19,136,8; /*rgb of primary*/
  --light-primary: #54b940;
  --dark-primary: #005900;
  --secondary: #A64E0A;
  --light-secondary: #DD7C3A;
  --dark-secondary: #722200;
  --errors: #f44336;
  --success-color: green;
  --nav-drawer-background-color: #ffffff;
  --nav-drawer-background-color-rgb: #000000;
  --cards-background-color: white;
  --hyperlink-color: var(--primary);
  --hyperlink-hover-color: var(--secondary);
  --hyperlink-click-color: black;
  --button-background-color: white;
  --button-hover-background-color: var(--primary);
  --button-click-background-color: var(--secondary);
  --button-text-color-enabled: black;
  --button-text-color-disabled: gray;
  --button-text-color-hover:white;
  --button-text-color-click: black;
  --nav-drawer-font-family: 'roboto';
  --nav-drawer-font-color: black;
  --body-text-font-family: 'roboto';
  --body-text-font-color: black;
  --heading-text-color: black;
  --success-message-font-color: var(--primary);
  --failure-message-font-color: var(--errors);

  --button-base-height: 40px;
  --button-base-padding: 16px;


  /*iconography - base*/
  --app-bar-icon: 40px;
  --app-bar-icon-padding: 8px; 
  --nav-drawer-group-icon: 24px;
  --nav-drawer-group-icon-padding: 4px;
  --nav-drawer-item-icon: 20px;
  --nav-drawer-item-icon-padding: 2px;
  --control-icon:20px;
  --control-icon-padding: 2px;
  --button-icon: 20px;
  --button-icon-padding: 2px;
  --unit-icon: 16px;
  --unit-icon-padding: 4px;
  --target-area-title-icon: 24px;
  --target-area-title-icon-padding: 4px;
  --card-title-icon: 40px;
  --card-title-icon-padding: 8px;
  --floating-action-button: 48px;
  --floating-action-button-inside-padding: 12px;
  --body-icon: 20px;
  --body-icon-padding: 2px;
}

 /* responsive breakpoints starts here */
/* base + 2 */
 @media only screen and (min-width: 2560px){
  :root{
    --screen-margin: 32px;
    --mat-table-row-min-height: 96px;
    --mat-table-paginator-height: 128px;
    --eta-table-constant-width-column-width: 100px;

    --app-bar-height: 184px;
    --aap-bar-recently-used-select-tag-width: 300px;
    --app-bar-inner-container-height: 120px;
    --app-bar-icon-spacing: 48px;
    --app-bar-select-panel-margin-top: 46px;
    --app-bar-image-vertical-seperator-width: 4px;
    --app-bar-image-horizentol-spacing: 32px;

    --pulled-out-side-bar-width: 512px;
    --pushed-in-nav-drawer-width: 112px;
    --sidenav-push-in-pull-out-button-icon-size: 32px;
    --nav-drawer-item-height: 96px;
    --sidebar-expansion-panel-submenu-width: 480px;
    --sidebar-expansion-panel-submenu-height: 80px;
    --sidenav-pulled-out-bar-right-side-padding: 24px;
    --side-nav-drawer-expansion-indicator: 8px;

    --top-nav-bar-height: 88px;
    --top-nav-bar-padding: 12px 0;
    --top-nav-bar-content-spacing: 32px;
    --top-nav-bar-expand-more-icon-left-spacing: 64px;
    --top-nab-bar-submenu-panel-padding: 16px;
    --top-nav-bar-submenu-button-padding: 32px;
    --top-nav-bar-submenu-right-left-spacing: 24px;
    --top-nav-bar-submenu-button-height: 80px;
    --top-nav-bar-submenu-panel-starting-point-top: -40px;

    --content-horizontal-margin: 96px;

    --custom-app-bar-tag-arrow-border: 17px;
    --custom-app-bar-tag-arrow-top: 5;

    --button-base-height: 72px;
    --button-base-padding: 32px;
    --button-font-size: 32px;

       /*typography*/
    --h3-base-font-size: 96px;
    --target-area-title-base-font-size: 40px;
    --target-area-title-bar-underline-width: 192px;
    --target-area-title-bar-underline-height: 4px;
    --nav-drawer-group-item-base-font-size: 32px;
    --nav-drawer-item-base-font-size: 27.20px;
    --button-base-font-size: 23.80px;
    --body-text1-base-font-size: 32px;
    --body-text2-base-font-size: 23.80px;
    --label-base-font-size: 20.40px;

     /*iconography */
  --app-bar-icon: 72px;
  --app-bar-icon-padding: 12px; 
  --nav-drawer-group-icon: 48px;
  --nav-drawer-group-icon-padding: 8px;
  --nav-drawer-item-icon: 32px;
  --nav-drawer-item-icon-padding: 4px;
  --control-icon:32px;
  --control-icon-padding: 4px;
  --button-icon: 32px;
  --button-icon-padding: 4px;
  --unit-icon: 32px;
  --unit-icon-padding: 4px;
  --target-area-title-icon: 48px;
  --target-area-title-icon-padding: 8px;
  --card-title-icon: 72px;
  --card-title-icon-padding: 12px;
  --floating-action-button: 72px;
  --floating-action-button-inside-padding: 12px;
  --body-icon: 32px;
  --body-icon-padding: 4px;
      

      /* content area styles */
      --content-inside-padding: 48px;
      --vertical-space-between-rows: 48px;
      --horizontal-space-between-controls: 48px;
      --unit-control-size: 32px; 
      --unit-control-icon-size: 40px;
     
      --custom-control-height: 72px;
      --custom-control-input-text-top-margin: 22px;
      --custom-control-floating-label-top: 8px; 
      --cutom-control-input-label-top-margin: 19px;
      --custom-control-font-size: 32px;
      --custom-control-border-radious: 12px;
      --control-not-floating-label-top: -10px;
      --control-floating-label-top: 46px;
      --custom-control-right-left-padding: 32px;
      --custom-control-help-text-font-size: 20px;
      --custom-control-help-text-top-margin: 8px;
      --custom-control-suffix-icon-size: 40px;
      --custom-control-select-tag-responsive-padding: 20px 0; 
      --file-upload-button-spacing: 24px;
 
      --custom-select-panel-margin-top: 54px;
      --custom-select-content-both-side-total-margin: 0;
      --custom-select-panel-option-line-height: 35px;
      --custom-select-tag-padding: 10px 16px;
      --custom-select-tag-arrow-border: 13px;
      --custom-select-tag-arrow-top: 5px;
      --custom-select-panel-max-height: 300px;
      --custom-textarea-floating-label-top: 10px;
      /* type ahead */
      --typeahead-ul-top-margin: 18px;

        /* cards */
    --dashboard-square-card-width: 400px;

    --square-card-width: 444px;
    --long-card-width: 262px;
    --oblong-card-width:393px;
    --tv-card-width:  407px;
    --long-tv-card-width: 305px;
 
    --user-detail-popup-width: 630px;
    --user-image-size: 96px;

    --app-bar-scroll-forward-button-right: 390px;
    --eta-table-image-size: 32px;
    --eta-standard-spacing: 24px;
  }
 }

/* base + 1 */
   @media only screen and (max-width: 2560px){
    :root{
    --screen-margin: 24px;
    --mat-table-row-min-height: 64px;
    --mat-table-paginator-height: 96px;
    --eta-table-constant-width-column-width: 90px;

    --app-bar-height: 136px;
    --aap-bar-recently-used-select-tag-width: 250px;
    --app-bar-inner-container-height: 88px;
    --app-bar-icon-spacing: 32px;
    --app-bar-select-panel-margin-top: 38px;
    --app-bar-image-vertical-seperator-width: 2px;
    --app-bar-image-horizentol-spacing: 24px;

    --pulled-out-side-bar-width: 384px;
    --pushed-in-nav-drawer-width: 80px;
    --sidenav-push-in-pull-out-button-icon-size: 24px;
    --nav-drawer-item-height: 72px;
    --sidebar-expansion-panel-submenu-width: 368px;
    --sidebar-expansion-panel-submenu-height: 64px;
    --sidenav-pulled-out-bar-right-side-padding: 16px;
    --side-nav-drawer-expansion-indicator: 6px;

    --top-nav-bar-height: 64px;
    --top-nav-bar-padding: 12px 0;
    --top-nav-bar-content-spacing: 24px;
    --top-nav-bar-expand-more-icon-left-spacing: 48px;
    --top-nab-bar-submenu-panel-padding: 8px;
    --top-nav-bar-submenu-button-padding: 16px;
    --top-nav-bar-submenu-right-left-spacing: 16px;
    --top-nav-bar-submenu-button-height: 64px;
    --top-nav-bar-submenu-panel-starting-point-top: -16px;

    --content-horizontal-margin: 64px;

    --custom-app-bar-tag-arrow-border: 15px;
    --custom-app-bar-tag-arrow-top: 2;

    --button-base-height: 56px;
    --button-base-padding: 24px;
    --button-font-size: 24px;


    /*typography */
    --h3-base-font-size: 72px;
    --target-area-title-base-font-size: 30px;
    --target-area-title-bar-underline-width: 144px;
    --target-area-title-bar-underline-height: 2px;
    --nav-drawer-group-item-base-font-size: 24px;
    --nav-drawer-item-base-font-size: 20.80px;
    --button-base-font-size: 19.60px;
    --body-text1-base-font-size: 24px;
    --body-text2-base-font-size: 19.60px;
    --label-base-font-size: 14.40px;
     /*iconography */
 
  --app-bar-icon: 56px;
  --app-bar-icon-padding: 8px; 
  --nav-drawer-group-icon: 32px;
  --nav-drawer-group-icon-padding: 4px;
  --nav-drawer-item-icon: 24px;
  --nav-drawer-item-icon-padding: 4px;
  --control-icon:24px;
  --control-icon-padding: 4px;
  --button-icon: 24px;
  --button-icon-padding: 4px;
  --unit-icon: 24px;
  --unit-icon-padding: 4px;
  --target-area-title-icon: 32px;
  --target-area-title-icon-padding: 4px;
  --card-title-icon: 56px;
  --card-title-icon-padding: 8px;
  --floating-action-button: 56px;
  --floating-action-button-inside-padding: 12px;
  --body-icon: 24px;
  --body-icon-padding: 4px;

  /* content area styles */
  --content-inside-padding: 40px;
  --horizontal-space-between-controls: 40px;
  --vertical-space-between-rows: 40px; 
  --unit-control-size: 24px; 
  --unit-control-icon-size: 30px;

  --custom-control-height: 56px;
  --custom-control-input-text-top-margin: 18px;
  --cutom-control-input-label-top-margin: 17px;
  --custom-control-font-size: 24px;
  --custom-control-border-radious: 8px;
  --control-not-floating-label-top: 4px;
  --control-floating-label-top: 20px;
  --custom-control-right-left-padding: 24px;
  --custom-control-help-text-font-size: 14px;
  --custom-control-help-text-top-margin: 4px;
  --custom-control-suffix-icon-size: 30px;
  --custom-control-select-tag-responsive-padding: 17px 0;
  --file-upload-button-spacing: 16px;

  --custom-select-panel-margin-top: 41px;
  --custom-select-content-both-side-total-margin: 0;
  --custom-select-panel-option-line-height: 26px;
  --custom-select-tag-padding: 10px 16px;
  --custom-select-tag-arrow-border: 15px;
  --custom-select-tag-arrow-top: 6px;
  --custom-select-panel-max-height: 250px;
  --custom-textarea-floating-label-top: 6px;
  /* type ahead */
  --typeahead-ul-top-margin: 15px;
 
  /* cards */

  --dashboard-square-card-width: 300px;

  --square-card-width: 331px;
  --long-card-width: 195px;
  --oblong-card-width: 293px;
  --tv-card-width: 400px;
  --long-tv-card-width: 228px;
 
  --user-detail-popup-width: 530px;
  --user-image-size: 80px;

  --app-bar-scroll-forward-button-right: 290px;
  --eta-table-image-size: 24px;
  --eta-standard-spacing: 16px;
    }
   
  }
/* base */
    @media only screen and (max-width: 1920px){
      :root{
    --screen-margin: 24px;
    --mat-table-row-min-height: 48px;
    --mat-table-paginator-height: 64px;
    --eta-table-constant-width-column-width: 50px;

    --app-bar-height: 88px;
    --aap-bar-recently-used-select-tag-width: 200px;
    --app-bar-inner-container-height: 56px;
    --app-bar-icon-spacing: 24px;
    --app-bar-select-panel-margin-top: 26px;
    --app-bar-image-vertical-seperator-width: 1px;
    --app-bar-image-horizentol-spacing: 16px;

    --pulled-out-side-bar-width: 256px;
    --pushed-in-nav-drawer-width: 72px;
    --sidenav-push-in-pull-out-button-icon-size: 16px;
    --nav-drawer-item-height: 48px;
    --sidebar-expansion-panel-submenu-width: 240px;
    --sidebar-expansion-panel-submenu-height: 40px;
    --sidenav-pulled-out-bar-right-side-padding: 12px;
    --side-nav-drawer-expansion-indicator: 3px;

    --top-nav-bar-height: 48px;
    --top-nav-bar-padding: 8px 0;
    --top-nav-bar-content-spacing: 16px;
    --top-nav-bar-expand-more-icon-left-spacing: 32px;
    --top-nab-bar-submenu-panel-padding: 8px;
    --top-nav-bar-submenu-button-padding: 16px;
    --top-nav-bar-submenu-right-left-spacing: 16px;
    --top-nav-bar-submenu-button-height: 40px;
    --top-nav-bar-submenu-panel-starting-point-top: -12px;

    --content-horizontal-margin: 48px;

    --custom-app-bar-tag-arrow-border: 9px;
    --custom-app-bar-tag-arrow-top: 0;

    --button-base-height: 40px;
    --button-base-padding: 16px;
    --button-font-size: 16px;


    /*typography*/
    --h3-base-font-size: 48px;
    --target-area-title-base-font-size: 20px;
    --target-area-title-bar-underline-width: 96px;
    --target-area-title-bar-underline-height: 2px;
    --nav-drawer-group-item-base-font-size: 16px;
    --nav-drawer-item-base-font-size: 16px;
    --button-base-font-size: 14px;
    --body-text1-base-font-size: 16px;
    --body-text2-base-font-size: 14px;
    --label-base-font-size: 12px;

  

     
  /*iconography*/
  --app-bar-icon: 40px;
  --app-bar-icon-padding: 8px; 
  --nav-drawer-group-icon: 24px;
  --nav-drawer-group-icon-padding: 4px;
  --nav-drawer-item-icon: 20px;
  --nav-drawer-item-icon-padding: 2px;
  --control-icon:20px;
  --control-icon-padding: 2px;
  --button-icon: 20px;
  --button-icon-padding: 2px;
  --unit-icon: 16px;
  --unit-icon-padding: 4px;
  --target-area-title-icon: 24px;
  --target-area-title-icon-padding: 4px;
  --card-title-icon: 40px;
  --card-title-icon-padding: 8px;
  --floating-action-button: 48px;
  --floating-action-button-inside-padding: 12px;
  --body-icon: 20px;
  --body-icon-padding: 2px;

  /* content area styles */
  --content-inside-padding: 24px;
     --vertical-space-between-rows: 24px;
     --horizontal-space-between-controls: 24px;
     --unit-control-size: 16px; 
     --unit-control-icon-size: 18px;

     --custom-control-height: 40px;
     --custom-control-input-text-top-margin: 17px;
     --custom-control-floating-label-top: 24px; 
     --cutom-control-input-label-top-margin: 14px;
     --custom-control-font-size: 16px;
     --custom-control-border-radious: 4px;
     --control-floating-label-top: 12px;
     --custom-control-right-left-padding: 16px;
     --custom-control-help-text-font-size: 13px;
     --custom-control-help-text-top-margin: 2px;
     --custom-control-suffix-icon-size: 24px;
     --custom-control-select-tag-responsive-padding: 15px 0;
     --file-upload-button-spacing: 8px;

     --custom-select-panel-margin-top: 27px;
     --custom-select-content-both-side-total-margin: 16px; 
     --custom-select-panel-option-line-height: 20px;
     --custom-select-tag-padding: 8px 8px;
     --custom-select-tag-arrow-border: 9px;
     --custom-select-tag-arrow-top: 3px;
     --custom-select-panel-max-height: 200px;
     --custom-textarea-floating-label-top: 6px;
     /* type ahead */
     --typeahead-ul-top-margin: 9px;

     /* cards */

    --dashboard-square-card-width: 200px;

    --square-card-width: 244px;
    --long-card-width: 144px;
    --oblong-card-width:216px;
    --tv-card-width: 300px;
    --long-tv-card-width: 168px;

    --user-detail-popup-width: 415px;
    --user-image-size: 64px;

    --app-bar-scroll-forward-button-right: 190px;
    --eta-table-image-size: 16px;
    --eta-standard-spacing: 8px;
      }
    }
    /* base - 1 */
    @media only screen and (max-width: 1360px){
      :root{
      --app-bar-height: 88px;
      --content-horizontal-margin: 16px;

      --app-bar-select-panel-margin-top: 21px;
     
       
        /*typography*/
    --h3-base-font-size: 33.60px;
    --target-area-title-base-font-size: 16px;
    --target-area-title-bar-underline-width: 81.60px;
    --target-area-title-bar-underline-height: 1px;
    --nav-drawer-group-item-base-font-size: 13.60px;
    --nav-drawer-item-base-font-size: 13.60px;
    --button-base-font-size: 11.90px;
    --body-text1-base-font-size: 13.60px;
    --body-text2-base-font-size: 11.90px;
    --label-base-font-size: 9.60px;

    
  /*iconography */
    --app-bar-icon: 32px;
    --app-bar-icon-padding: 4px; 
    --nav-drawer-group-icon: 24px;
    --nav-drawer-group-icon-padding: 4px;
    --nav-drawer-item-icon: 20px;
    --nav-drawer-item-icon-padding: 2px;
    --control-icon:20px;
    --control-icon-padding: 2px;
    --button-icon: 20px;
    --button-icon-padding: 2px;
    --unit-icon: 16px;
    --unit-icon-padding: 4px;
    --target-area-title-icon: 20px;
    --target-area-title-icon-padding: 2px;
    --card-title-icon: 32px;
    --card-title-icon-padding: 4px;
    --floating-action-button: 40px;
    --floating-action-button-inside-padding: 8px;
    --body-icon: 16px;
    --body-icon-padding: 4px;

    /* content area styles */
    --content-inside-padding: 16px;
    --vertical-space-between-rows: 16px;
    --horizontal-space-between-controls: 16px;
    --unit-control-size: 16px;


    /* cards */

    --dashboard-square-card-width: 170px;

    --square-card-width: 156px;
    --long-card-width: 92px;
    --oblong-card-width: 138px;
    --tv-card-width: 250px;
    --long-tv-card-width: 107px;

    --user-image-size: 48px;

    --user-detail-popup-width: 350px;
      }
      }
    
      /* base - 2 */
    @media only screen and (max-width: 960px){
      :root{
      --content-horizontal-margin: 16px;


      /*iconography - base - 2*/
    --app-bar-icon: 24px;
    --app-bar-icon-padding: 4px; 
    --nav-drawer-group-icon: 24px;
    --nav-drawer-group-icon-padding: 4px;
    --nav-drawer-item-icon: 20px;
    --nav-drawer-item-icon-padding: 2px;
    --control-icon:20px;
    --control-icon-padding: 2px;
    --button-icon: 20px;
    --button-icon-padding: 2px;
    --unit-icon: 16px;
    --unit-icon-padding: 4px;
    --target-area-title-icon: 20px;
    --target-area-title-icon-padding: 2px;
    --card-title-icon: 24px;
    --card-title-icon-padding: 4px;
    --floating-action-button: 32px;
    --floating-action-button-inside-padding: 0px;
    --body-icon: 16px;
    --body-icon-padding: 4px;

    /* content area styles */
    --content-inside-padding: 16px;
    --vertical-space-between-rows: 16px;
    --horizontal-space-between-controls: 16px;
    --unit-control-size: 16px; 

    /* cards */
    --dashboard-square-card-width: 150px;

    --square-card-width: 85px;
    --long-card-width: 50px;
    --oblong-card-width:75px;
    --tv-card-width: 225px;
    --long-tv-card-width: 58px;
    
 
    /* --user-image-size: 32px; */
    --user-detail-popup-width: 300px;
      }
    }

.vertically-center-with-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* active links styles starts */
.expansion-panel .active-link {
  color: var(--primary) !important;
  /* background-color:  rgba(0, 128, 0, 0.12) !important; */
  background: rgba(var(--primary-rgb), .12);
}
.expansion-panel .active-link .nav-drawer-item{
  color: var(--primary) !important;
}
.expansion-panel .active-link svg-icon svg{
  fill: var(--primary) !important;
}
.active-link svg-icon svg{
  fill: var(--primary) !important;
}
.pushed-in-active-link svg-icon svg{
  fill: var(--primary) !important;
}
/* active links styles ends */


button.color-red svg-icon svg{
  fill: red !important;
  font-size: var(--body-text1-base-font-size)
}
button.color-primary svg-icon svg{
  fill: var(--primary) !important;
}
button.color-primary{
  color: var(--primary) !important;
  font-size: var(--body-text1-base-font-size);
}
button.color-red{
  color: red !important;
  font-size: var(--body-text1-base-font-size);
}
 

  /* branding - Ui configuraion styles starts */
  /* mat tabs custom styles starts */
  .my-light-green-theme .mat-tab-header{
    border-bottom: none !important;
  }
  .mat-tab-label {
    margin: 0 var(--horizontal-space-between-controls) 0 0 !important;
    font-size: var(--body-text1-base-font-size) !important;
    padding: 6px 0 6px 0 !important;
    color: black !important;
    opacity: 1 !important;
    font-weight: 400 !important; /* roboto regular */
    min-width: unset !important;
    height: unset !important;
}
.my-light-green-theme .mat-tab-label, .my-light-green-theme .mat-tab-link{
  color: black !important;
}
.color-configuration-component .col-3:last-child .color-picker{
  right: 32px !important;
  left: unset !important;
}
  /* branding - Ui configuraion styles ends */

/* login page custom styles starts  */
 .login-page .mat-form-field-appearance-outline .mat-form-field-outline,
.login-page .mat-form-field-appearance-outline .mat-form-field-outline-thick {
background: white !important;
border-radius: var(--custom-control-border-radious) !important;
}
 .login-page  .mat-hint{
  color: white !important;
}
.login-page .mat-checkbox-background{
background: white !important;
}
 .login-page .custom-field .mat-input-element{
  color: black !important;
}
.login-page  .mat-checkbox-frame{
  border-color: var(--secondary) !important;
}
.login-page .mat-checkbox-inner-container {
  margin-right: var(--horizontal-space-between-controls) !important;
}
.login-page .custom-checkbox .mat-checkbox-inner-container{
    margin: 0 var(--horizontal-space-between-controls) 0 0 !important;
}
/* login page custom styles ends  */

/* angular editor styles starts*/
.angular-editor{
  border: solid lightgray 1px !important;
  border-radius: var(--custom-control-border-radious) !important;
  overflow: hidden !important;
}
.angular-editor-label-text {
  margin: 0 0 calc(var(--vertical-space-between-rows) / 2) 0;
  color: gray;
}
.angular-editor[_ngcontent-c15] .angular-editor-wrapper[_ngcontent-c15] .angular-editor-textarea[_ngcontent-c15]{
  border: none !important;
}
#editor::-webkit-scrollbar {
  width: 4px;
  border-radius: 10px;
}
#editor::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
#editor::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
#editor::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* angular editor styles  ends*/

/* styles for open mat menu from center of trigger starts here */
.mat-manu-trigger-button{
  position: relative;
}
.center-point-for-open-mat-menu-from-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* styles for open mat menu from center of trigger ends here */


/* transition hover for eta starts*/
 .org-logo-link .logo-yellow{
  display: none;
}
/*
.org-logo-link:hover .logo-yellow{
  display: unset;
}
.org-logo-link:hover .logo-white{
  display: none;
}
.animation-hover:hover{
  transform: scale(1.02, 1.02);
  transition: transform .3s ease; 
}
.user-image-button img:hover{
  transform: scale(1.05, 1.05);
  transition: all .3s ease; 
  border-color: yellow;
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 12px 17px 2px rgba(0, 0, 0, 0.14),
    0px 5px 22px 4px rgba(0, 0, 0, 0.12);
}
.setting-icon:hover{
  transform: rotate(90deg);
  transition: all .3s linear;
}
.notification-icon:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%, 90% {transform: translate3d(-1px, 0, 0);}
  20%, 80% {transform: translate3d(2px, 0, 0);}
  30%, 50%, 70% {transform: translate3d(-4px, 0, 0);}
  40%, 60% {transform: translate3d(4px, 0, 0);}
} */

/* transition hover for eta ends*/


      
#InvisibleScrollBarContainer::-webkit-scrollbar {
  height: 0 !important;
  width: 0 !important;
  /* scrollbar-width: none !important; */
}
#customScrollBarContainerHorizentol::-webkit-scrollbar {
  height: 4px !important;
  border-radius: 10px;
}

/* Track */
#customScrollBarContainerHorizentol::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
#customScrollBarContainerHorizentol::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
#customScrollBarContainerHorizentol::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* styles for cursor starts */
/* width */
#customScrollBarContainer::-webkit-scrollbar {
  width: 4px;
  border-radius: 10px;
}

/* Track */
#customScrollBarContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
#customScrollBarContainer::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
#customScrollBarContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* styles for cursor ends*/

.mat-drawer-backdrop.mat-drawer-shown {
display: none !important;
}


.vertical-align-middle{
vertical-align: middle;
}
.vertical-align-top{
vertical-align: top;
}
.no-margin{
margin-top: 0;
margin-bottom: 0;
margin-right: 0;
margin-left: 0;
}
.no-bottom-margin{
margin-bottom: 0 !important;
}
.no-top-margin{
margin-top: 0 !important;
}
.no-padding{
padding-top: 0 !important;
padding-bottom: 0 !important;
padding-right: 0 !important;
padding-left: 0 !important;
}
.eta-dynamic-height {
height: calc(var(--vertical-space-between-rows)* 1.5) !important;
min-height: 40px;
}
.eta-bottom-margin{
margin-bottom: var(--vertical-space-between-rows);
}
.eta-heading-background{
background: var(--eta-table-header-background) !important;
}
.display-flex{
display: flex;
}
.display-inline-block{
display: inline-block !important;
}
.align-items-center{
align-items: center;
}
.width-hundred-percent{
width: 100% !important;
}

/*input auto fill yellow background hide*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
border:none !important;
-webkit-text-fill-color: inherit !important;
/* -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset; */
transition: background-color 5000s ease-in-out 0s;
}

.dashboard-square-card{
padding: var(--horizontal-space-between-controls) !important;
margin-right: var(--horizontal-space-between-controls);
border: solid lightgray 1px;
border-radius: 5px;
width: var(--dashboard-square-card-width);
min-width: var(--dashboard-square-card-width);
height: var(--dashboard-square-card-width);
}
.custom-long-card:last-of-type{
margin-right: 0 !important;
}
.margin-auto{
margin: auto !important;
}
.text-align-center{
text-align: center !important;
}
.text-align-right{
text-align: right !important;
}
.button-as-icon, .button-without-background{
cursor: pointer;
background: none !important;
padding: 0 !important;
border: 0 !important;
}
.button-as-icon:hover{
box-shadow: none !important;
}

.green{
color: green !important;
}
.red{
color: red !important;
}
.amber {
color: var(--secondary) !important;
}
hr.custom-hr{
border-top: 1px solid #8c8b8b;
margin: 0 0 10px 0;
}
br.custom-br{
/* margin: var(--vertical-space-between-rows) 0 0 0; */
line-height: var(--vertical-space-between-rows);
}


.mat-dialog-content{
margin: 0 !important;
/* padding: 0 24px 0 0 !important;*/
padding: 0 24px 0 0 !important;
}
.button-margin-right{
margin-right: var(--vertical-space-between-rows);
}
/* styles for cursor starts */
.mat-dialog-content::-webkit-scrollbar {
height: 4px !important;
border-radius: 10px;
}
/* width */
.mat-dialog-content::-webkit-scrollbar {
width: 4px;
border-radius: 10px;
}
.mat-dialog-content::-webkit-scrollbar-track {
background: #f1f1f1;
}
/* Handle */
.mat-dialog-content::-webkit-scrollbar-thumb {
background: #888;
}
/* Handle on hover */
.mat-dialog-content::-webkit-scrollbar-thumb:hover {
background: #555;
}
.ellipsisable-content{
max-width: 85%;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
}
/* eta custom link style starts here */
.custom-link-style,
.custom-link-style:visited,
.custom-link-style:hover,
.custom-link-style:active{
/* transition:0.3s color ease; */
text-decoration:underline !important;
color:var(--hyperlink-color) !important;
}
.custom-link-style:hover{
color:var(--hyperlink-hover-color) !important;
cursor: pointer !important;
}
.custom-link-style:active{
color: var(--hyperlink-click-color) !important;
}
.eta-custom-link,
.eta-custom-link:visited,
.eta-custom-link:hover,
.eta-custom-link:active{
text-decoration:underline !important;
color:var(--hyperlink-color) !important;
width: fit-content;
}
.eta-custom-link:hover{
color:var(--hyperlink-hover-color) !important;
cursor: pointer !important;
}
.eta-custom-link:active{
color: var(--hyperlink-click-color) !important;
}
/* eta custom link style ends here */

/* styles for custom file upload */
/* hiding real input  */
.file-upload-container {
width: 100%;
display: flex;
} 
.file-upload-container .mat-form-field,
.file-upload-container .custom-input-label{
width: 100%;
position: relative;
}
.file-upload-container button{
z-index: 2;
overflow: hidden;
}
.file-upload-container button:enabled:hover {
box-shadow: 0 8px 10px 1px lightgray,
0 3px 14px 2px lightgray, 
0 5px 5px -3px lightgray;
border-radius: 4px;
}
.file-upload-container .custom-progress-division{
position: absolute;
width: 100%;
background: gray;
bottom: 0;
z-index: -1;
border-radius: 0;
-webkit-transition: height 2s; /* Safari */
-webkit-transition-timing-function: linear; /* Safari */
transition: height .3s;
transition-timing-function: linear;
}
.file-upload-container .validated{
background: var(--primary) !important;
}
.file-upload-container .error{
background: red !important;
}
.file-upload-container .upload-button{
margin: 0 var(--file-upload-button-spacing);
position: relative;
}
.file-upload-container .label{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 999;
}
/* styles for custom file upload ends*/


.mat-optgroup-label{
overflow: unset !important;
height: auto !important;
}
/* for group select */
.mat-optgroup-label{
overflow: unset !important;
height: auto !important;
}
.mat-list-item{
height: auto !important;
}
.mat-list-item-content{
padding: 0 !important;
}

/* styles for custom nested option group (multi select) ends */
/* styles for ngx tree (scope tree) starts here */
.ngx-tree .form-control{
width: 100% !important;
height: var(--custom-control-height) !important;
padding: 0 20px !important;
font-size: var(--custom-control-font-size) !important;
border-radius: var(--custom-control-border-radious) !important;
border: solid 1px lightgray !important;
}
.ngx-tree .form-control:focus {
outline: 0 !important;
}
.ngx-tree{
font-size: var(--body-text1-base-font-size) !important;
} 
.ngx-tree .treeview-container .row-item{
margin-bottom: calc(var(--vertical-space-between-rows) / 2)!important;
}
.ngx-tree .treeview-container .row-item .fa{
display: none !important; /*hiding expand more icon*/
}
.ngx-tree .form-check-input{
height: var(--unit-control-size) !important;
width: var(--unit-control-size) !important;
background-color: white !important;
border: solid 2px black !important;
background-color: black !important;
margin-right: var(--vertical-space-between-rows) !important;
}
.ngx-tree .pull-right {
display: none !important;
}
.ngx-tree .treeview-container::-webkit-scrollbar {
width: 4px !important;
border-radius: 10px;
}
/* Track */
.ngx-tree .treeview-container::-webkit-scrollbar-track {
background: #f1f1f1;
}
/* Handle */
.ngx-tree .treeview-container::-webkit-scrollbar-thumb {
background: #888;
}
/* Handle on hover */
.ngx-tree .treeview-container::-webkit-scrollbar-thumb:hover {
background: #555;
}

/* expansion panel */
.ngx-tree-expansion-panel.mat-expansion-panel:not([class*=mat-elevation-z]) {
box-shadow: none !important; 
background: white !important;
border-radius: var(--custom-control-border-radious) !important;
border: solid 1px lightgray;
overflow: hidden;
}
.ngx-tree-expansion-panel .mat-expansion-panel-header-title{
font-size: var(--custom-control-font-size) !important;
}
.ngx-tree-expansion-panel .mat-expansion-indicator::after {
content: '';
padding: 0;
width: 0;
height: 0;
border-bottom: 0;
margin: 0 4px;
transform: rotate(0deg);
border-left: var(--custom-select-tag-arrow-border) solid transparent !important;
border-right: var(--custom-select-tag-arrow-border) solid transparent !important;
border-top: var(--custom-select-tag-arrow-border) solid !important;
border-bottom: 0;
}
/* styles for ngx tree (scope tree) ends here */




/*style for Form preview button component*/
app-button, app-submit, app-cancel{
display: inline-block;
margin-right: var(--horizontal-space-between-controls);
}

/* function, process and taskflow dashboard cards slider styles starts */
.cards-slider-container{
  vertical-align: middle;
  overflow-y: auto;
  white-space: nowrap;
  overflow-x: hidden;
  margin: -13px;
  }
.cards-slider-container .mat-card {
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  overflow: hidden;
}
.cards-slider-container .mat-card:hover{
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
  0px 8px 10px 1px rgba(0, 0, 0, 0.14),
  0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  /* transform: scale(1.02, 1.02); */
  transition: transform .3s !important;
  }
  
.cards-slider-container .card-inner-div{
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.cards-slider-container .button-division{
  display: flex;
  justify-content: space-between;
}
.card-slider-relative-container{
position: relative;
margin-bottom: var(--content-horizontal-margin);
}

.cards-slider-container h2, 
.cards-slider-container p{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cards-slider-container .cards-scrollable-content{
display: inline-block;
padding: 13px;
}
.cards-slider-container .cards-back-button-transparent-container,
.cards-slider-container .cards-forward-button-transparent-container{
position: absolute;
top: 50%;
height: 100%;
width: 100px;
}
.cards-slider-container .cards-back-button-transparent-container{
left: -13px;
transform: translate(0%, -50%);
background: linear-gradient(to left, transparent, var(--substrate)) !important;
}
.cards-slider-container .cards-forward-button-transparent-container{
left: calc(100% + 13px);
transform: translate(-100%, -50%);
background: linear-gradient(to right, transparent, var(--substrate)) !important;
}
.cards-slider-container .cards-scroll-forward-button,
.cards-slider-container .cards-scroll-back-button{
position: absolute;
top: 50%;
background: white !important;
color: black !important;
}
.cards-slider-container .cards-scroll-forward-button{
left: 100%;
transform: translate(-100%, -50%);
}
.cards-slider-container .cards-scroll-back-button{
left: 0;
transform: translate(0%, -50%);
}
.metric-card-modification-mat-menu{
padding: var(--content-inside-padding);
}
.metric-card-modification-mat-menu a{
display: block;
margin-bottom: var(--horizontal-space-between-controls);
}
.metric-card-modification-mat-menu a:last-child{
margin-bottom: 0;
}
/* cards slider styles ends here*/

.media-container iframe,
.video-player-component iframe{
  width: 100% !important;
  height: 100% !important;
}
.mat-drawer-content{
  position: static !important;
}
.video-player-mat-dialog-container-panel-class{
  height: 100vh !important;
  width: 100vw !important;
  max-width: unset !important;
}
.video-player-mat-dialog-container-panel-class .mat-dialog-container{
background: black !important;
padding: 0 !important;
}

.my-backdrop{
  z-index: 1001;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: red;
}
/* data table styles starts */
.dataTables_empty,
.dataTables_info{
  display: none !important;
}
/* data table styles ends */



.mat-drawer.mat-drawer-side{
  z-index: 1 !important;
}
.loading-spinner-div {
  POSITION: FIXED;
  display: flex;
  align-items: center;
  justify-content: center;
  TOP: 0;
  height: 100vh;
  bottom: 0;
  z-index: 999 !important;
  right: 0;
  left: 0;
  /* background: rgba(0, 0, 0, 0.5); */
}
.loading-spinner-div .mat-progress-spinner.mat-progress-spinner-indeterminate-animation[mode=indeterminate]{
  margin: auto;
}
.my-light-green-theme .mat-progress-spinner circle, .my-light-green-theme .mat-spinner circle{
  stroke: var(--primary) !important;
} 
.mat-progress-spinner circle,  .mat-spinner circle{
  stroke: white !important;
}

.my-light-green-theme .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick,
.my-light-green-theme .mat-error,
.my-light-green-theme .mat-form-field.mat-form-field-invalid .mat-form-field-label{
  color: var(--errors) !important
}

.my-light-green-theme .mat-drawer{
  background:  var(--nav-drawer-background-color) !important;
}
.sidenav-button-container,
.sidenav .mat-expansion-panel .mat-expansion-panel-header{
  background: var(--nav-drawer-background-color);
}
.mat-expansion-panel.mat-expanded {
  /* background: rgba(var(--nav-drawer-background-color-rgb), .60) !important; */
  background: rgba(255, 255, 255, 0.4) !important;
}
/* .sidenav .sticky-place{
  background: white !important;
} */

/* .my-light-green-theme .mat-form-field-appearance-outline .mat-form-field-outline {
  background: rgba(255, 255, 255, 0.4) !important;
  border-radius: var(--custom-control-border-radious) !important;
} */

.mat-table{
  background: none !important;
}
.mat-row.expanded,
.detail-row{
  background: rgba(255,255,255,.4) !important;
}


/* styles for add animation in product ends */
app-material-dynamic-data-table .dataTables_wrapper{ 
  display: none;
}

.element-row:not(.expanded):hover {
  background: unset !important;
}
app-button-input-dummy{
  display: inline-block;
  margin-right: 24px;
}
.custom-control-row.repeatable-field{
  margin: 0 !important;

}
.button-component{
  display: inline-block !important;
  margin-right: var(--horizontal-space-between-controls);
}

/* .my-light-green-theme .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #524949 !important;
}
.my-light-green-theme .mat-hint {
  color: #524949 !important;
}
.my-light-green-theme .mat-form-field-label {
  color: #524949 !important;
} */