@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/* @import "~@angular/material/prebuilt-themes/pink-bluegrey.css"; */

@import '~@angular/material/theming';
@include mat-core();
$my-green-theme-primary: mat-palette($mat-light-green, 700, 500);
$my-green-theme-accent: mat-palette($mat-teal);
$my-green-theme-warn: mat-palette($mat-red);
$my-green-theme: mat-light-theme($my-green-theme-primary, $my-green-theme-accent, $my-green-theme-warn);
/* Dark Green Theme  */

$my-dark-green-theme-primary: mat-palette($mat-light-green, 900, 500);
$my-dark-green-theme-accent: mat-palette($mat-teal);
$my-dark-green-theme-warn: mat-palette($mat-red);
$my-dark-green-theme: mat-dark-theme($my-dark-green-theme-primary, $my-dark-green-theme-accent, $my-dark-green-theme-warn);
/* Light orange Theme */

$my-orange-theme-primary: mat-palette($mat-orange, 900, 500);
$my-orange-theme-accent: mat-palette($mat-teal);
$my-orange-theme-warn: mat-palette($mat-red);
$my-orange-theme: mat-light-theme($my-orange-theme-primary, $my-orange-theme-accent, $my-orange-theme-warn);
/* Dark Red Theme */

$my-red-theme-primary: mat-palette($mat-red, 700, 900, 500);
$my-red-theme-accent: mat-palette($mat-teal);
$my-red-theme-warn: mat-palette($mat-blue);
$my-red-theme: mat-dark-theme($my-red-theme-primary, $my-red-theme-accent, $my-red-theme-warn);

@mixin candy-carousel-theme($theme) {
  // Extract whichever individual palettes you need from the theme.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warm: map-get($theme, warm);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background); // Use mat-color to extract individual colors from a palette as necessary.

  .candy-carousel {
    background-color: mat-color($background, background);
    border-color: mat-color($accent, A400);
    color: mat-color($foreground, text);
  }
}



.my-light-green-theme {
  @include angular-material-theme($my-green-theme);
}

.my-dark-green-theme {
  @include angular-material-theme($my-dark-green-theme);
  @include candy-carousel-theme($my-dark-green-theme);
}

.my-orange-theme {
  @include angular-material-theme($my-orange-theme);
}

.my-red-theme {
  @include angular-material-theme($my-red-theme);
  @include mat-button-theme($my-red-theme);
  @include candy-carousel-theme($my-red-theme);
}

.example-full-width {
  width: 100%;
}

.eta-footer-block {
  width: 100%;
  height: 100px;
  display: block;
}

.eta-margin-left {
  margin-left: 10px;
}

.eta-margin-right {
  margin-right: 10px;
}

.eta-margin-all {
  margin: 10px !important;
}

.eta-float-left {
  float: left;
}

.eta-float-right {
  float: right;
}

.eta-margin-all {
  margin: 10px;
}

.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.example-button-row button,
.example-button-row a {
  margin-right: 18px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-accordion mat-expansion-panel {
  background-color: #00838f;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

/* Absolute Center Spinner */

.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */

.loading-indicator:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.example-80-width {
  width: 80%;
}

//top nav bar custom styles for material defaults starts
.menu-button-inner-container{
  position: relative;
}
.top-nav-submenu-panel-starting-point{
  position: absolute;
  visibility: hidden;
  bottom: var(--top-nav-bar-submenu-panel-starting-point-top);
  left: 0;
}
.top-nav-bar-submenu-panel{
  padding: var(--top-nab-bar-submenu-panel-padding) !important;
}
.top-nav-bar-submenu-panel .links{
  display: flex;
  align-items: center;
  height: var(--top-nav-bar-submenu-button-height);
  margin-bottom: var(--top-nab-bar-submenu-panel-padding);
  border-radius: 5px;
  padding: 0 calc(var(--nav-drawer-item-icon) + var(--top-nav-bar-submenu-right-left-spacing) + var(--top-nav-bar-submenu-button-padding)) 0 0;
}
.top-nav-bar-submenu-panel .links:last-of-type{
  margin-bottom: 0;}
.top-nav-bar-submenu-panel .links:hover{
  background-color:  rgba(0, 0, 0, 0.06);
}
.top-nav-bar-submenu-panel .links svg-icon{
  margin: 0 var(--top-nav-bar-submenu-right-left-spacing);
}
.top-nav-bar-submenu-panel .active-submenu-link{
  background-color: rgba(var(--primary-rgb), 0.12);
}
.top-nav-bar-submenu-panel .active-submenu-link svg-icon svg{
  fill: var(--primary) !important;
}
.top-nav-bar-submenu-panel .active-submenu-link span{
color: var(--primary);
}
//top nav bar custom styles for material defaults ends

/* app bar styles starts */
.app-bar{
 color: var(--app-bar-text-color) !important;
}
.app-bar .mat-toolbar-row {
  padding: 0 var(--screen-margin) !important;
  height: var(--app-bar-inner-container-height) !important;
  transition: all .3s;
}
.app-bar svg-icon svg{
  fill: var(--app-bar-text-color) !important;
}
.my-light-green-theme .app-bar .mat-badge-medium .mat-badge-content{
  position: absolute;
  top: 0 !important;
  right: 0 !important;
  border: solid 1px white;
  width: 23px;
  height: 23px;
  line-height: 23px;
}
/*app bar recently used division styles starts here*/
.app-bar-recently-used-division{
 height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}
.app-bar-recently-used-division .mat-form-field-flex,
.app-bar-recently-used-division .mat-form-field-label mat-label{
 font-size: var(--body-text1-base-font-size);
}
.app-bar-recently-used-division .mat-form-field-infix{
 border-top: none !important;
}
.app-bar-recently-used-division .mat-form-field-appearance-legacy .mat-form-field-wrapper {
 padding-bottom: 0 !important
}
.app-bar-recently-used-division .mat-form-field-appearance-legacy .mat-form-field-underline{
 display: none !important;
}
.app-bar-recently-used-division .mat-form-field{
 width: var(--aap-bar-recently-used-select-tag-width);
}
.app-bar-recently-used-division .static-text{
 line-height: initial;
 color: inherit;
}
.app-bar-recently-used-division .select-tag-div{
 border-bottom: solid var(--app-bar-image-vertical-seperator-width) var(--app-bar-text-color);
}
.app-bar-recently-used-division .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
 display: none !important;
}
.app-bar-recently-used-division .mat-select  .mat-select-placeholder {
 color:white !important;
}
.app-bar-select-panel .mat-select-content {
  width: calc(100% - 32px);
  margin: auto;
  border: solid 1px black;
  border-top: none !important;
  border-radius: 0 0 4px 4px;
  padding: 8px 0;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 
  0 4px 5px 0 rgba(0,0,0,.14), 
  0 1px 10px 0 rgba(0,0,0,.12);
}
.app-bar-select-panel{
 box-shadow: none !important;
 margin-top: var(--app-bar-select-panel-margin-top) !important;
}
.app-bar-select-panel .mat-option {
  height: auto !important;
  padding: calc(var(--vertical-space-between-rows)/2) var(--vertical-space-between-rows);
}
.app-bar-select-panel .mat-option-text{
  line-height: normal !important;
  font-size: var(--body-text1-base-font-size);
}
/*app bar recently used division styles ends here*/

.mat-menu-content:not(:empty){
 padding-top: 0 !important;
 padding-bottom: 0 !important;
}
.mat-menu-panel{
 max-width: unset !important;
}
/* app bar styles ends */

/*side bar styles for material defaults starts*/
.pulled-out-side-bar .mat-expansion-panel {
  background: none;
}
.pulled-out-side-bar .mat-expansion-panel-body {
  padding: 0 !important;
}
.pulled-out-side-bar .mat-expansion-panel-header{
  padding: 0 var(--sidenav-pulled-out-bar-right-side-padding) 0 var(--screen-margin) !important;
  height: var(--nav-drawer-item-height) !important;
}
.pulled-out-side-bar .mat-expansion-indicator::after {
  padding: var(--side-nav-drawer-expansion-indicator) !important;
  color: var(--nav-drawer-font-color) !important;
}
.my-light-green-theme .pulled-out-side-bar  .mat-expansion-panel-header-title{
  width: 100% !important;
}
/*side bar styles for material defaults ends*/

/*main content card styles starts*/
.mat-card.content-card {
  padding: var(--content-inside-padding) !important;
  border-radius: 4px !important;
  box-shadow: 2px !important;
  background: var(--cards-background-color);
}
.mat-card{
  background: var(--cards-background-color) !important;
}
/*main content card styles ends*/



 /*style for all custom common expandable table starts*/
.custom-common-expandable-table{
  position: relative;
}
.custom-common-expandable-table .mat-header-cell {
  position:  relative !important;
}
.custom-common-expandable-table .mat-header-row {
  background: var(--eta-table-header-background);
}
.custom-common-expandable-table .mat-header-row,
.custom-common-expandable-table .mat-row{
  min-height: var(--mat-table-row-min-height) !important;
}
.custom-common-expandable-table .mat-cell{
  position: relative;
}
.custom-common-expandable-table .mat-table{
  font-size: var(--body-text1-base-font-size);
  color: var(--body-text-font-color);
  border-bottom: solid 1px gray;
  font-family: var(--body-text-font-family);
}
.custom-common-expandable-table .mat-header-cell,
.custom-common-expandable-table .mat-cell {
  font-size: inherit !important;
  color: inherit !important;
}

.custom-common-expandable-table mat-cell:first-of-type,
.custom-common-expandable-table mat-footer-cell:first-of-type,
.custom-common-expandable-table mat-header-cell:first-of-type{
  padding-left: 0 !important;
}
.custom-common-expandable-table .mat-form-field-infix {
  border-radius: 4px;
  padding: 8px 13px !important;
  border: solid 1px black;
}
 
.custom-common-expandable-table .mat-paginator-page-size-label,
.custom-common-expandable-table .mat-paginator-range-label,
.custom-common-expandable-table .mat-paginator-page-size .mat-select-trigger{
  font-size: var(--body-text1-base-font-size) !important;
  color: black !important;
  font-weight: initial !important;
}
.custom-common-expandable-table .mat-paginator-page-size-select{
  width: 70px !important;
}
.custom-common-expandable-table .mat-form-field-appearance-legacy
 .mat-form-field-wrapper{
  margin-top: 9px !important;
  min-width: 80px;
}
.custom-common-expandable-table .mat-form-field-appearance-legacy .mat-form-field-underline{
  height:  0 !important;
}
.my-light-green-theme .custom-common-expandable-table .mat-form-field.mat-focused.mat-primary .mat-form-field-infix{
   border: solid 1px green !important;
}
.custom-common-expandable-table .mat-toolbar-row,
.custom-common-expandable-table .mat-paginator-container{
  // height: var(--mat-table-paginator-height) !important;
  height: auto !important;
  background: white !important;
}
.custom-common-expandable-table.mat-elevation-z8,
.mat-elevation-z8{
  box-shadow: none !important;
}
/*style for all custom common expandable table  ends*/





/*eta custom form-controls styles starting - Input field, selet, multiselect, text-area, checkbox, radio (It is responsive) */
/* custom input field, select, auto complete responsive height starts here */
.custom-control-row{
  margin:  0 0 var(--vertical-space-between-rows) 0 !important;

}
.row-without-margin{
  margin:  0 !important;
}


.custom-field-xxs,
.custom-field-xs,
.custom-field-s,
.custom-field-m,
.custom-field-l,
.custom-field-xl,
.custom-field-xxl,
.custom-field-fw,
.controls{
  display: inline-block;
  vertical-align: middle;
  /* padding: 0 calc(var(--horizontal-space-between-controls)/2); */
  padding-right: var(--horizontal-space-between-controls);
}
.custom-field-xxs:last-child,
.custom-field-xs:last-child,
.custom-field-s:last-child,
.custom-field-m:last-child,
.custom-field-l:last-child,
.custom-field-xl:last-child,
.custom-field-xxl:last-child,
.custom-field-fw:last-child,
.controls:last-child{
  padding-right: 0 !important;
}
.custom-field-xxs:first-child,
.custom-field-xs:first-child,
.custom-field-s:first-child,
.custom-field-m:first-child,
.custom-field-l:first-child,
.custom-field-xl:first-child,
.custom-field-xxl:first-child,
.custom-field-fw:first-child{
  padding-left: 0 !important;
}
.custom-field-xxs{
  width: 6.25%; /* custom field with 100% width */
}
.custom-field-xs{
  width: 12.50%; /* custom field with 100% width */
}
.custom-field-s{
  width: 20%; /* custom field with 100% width */
}
.custom-field-m{
  width: 25%; /* custom field with 100% width */
}
.custom-field-l{
  width:33.33%; /* custom field with 100% width */
}
.custom-field-xl{
  width: 50%; /* custom field with 100% width */
}
.custom-field-xxl{
  width: 75%; /* custom field with 100% width */
}
.custom-field-fw{
  width: 100%; /* custom field with 100% width */
}
.custom-field .mat-form-field{
  width: 100%;
}
.custom-field .mat-form-field-flex{
  height: calc(var(--custom-control-height) + 4px) !important;

}
.custom-field .mat-form-field-appearance-outline .mat-form-field-infix {
   padding: 0;
}
.custom-field .mat-form-field-appearance-outline .mat-form-field-flex{
  padding: 0  var(--custom-control-right-left-padding)!important;
}
.custom-field .mat-form-field-appearance-outline .mat-form-field-label{
    top: 9px;
    margin-top: var(--cutom-control-input-label-top-margin) !important; /*-.25em*/
    padding: 6px 0px;
    font-size: var(--custom-control-font-size);
    /* font-size: var(--body-text1-base-font-size); */
}
// .custom-field .mat-form-field-should-float .mat-form-field-label{
//   top:var(--custom-control-floating-label-top); 

// }
.custom-field input.mat-input-element{
  margin-top: var(--custom-control-input-text-top-margin); /*2px*/

  font-size: var(--custom-control-font-size);
  /* font-size: var(--body-text1-base-font-size); */
}
.mat-hint ,
.mat-error{
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
font-size: var(--custom-control-help-text-font-size);
}
.custom-field .mat-hint, .custom-field .mat-error{
  font-size: var(--custom-control-help-text-font-size);

}
.custom-field .mat-form-field-subscript-wrapper {
  margin-top: var(--custom-control-help-text-top-margin);
  padding: 0 .1em !important;
}
.custom-field .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 8px 0 2px 0 !important;
  /* margin: 0 !important; */
}
.custom-field .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
  margin-top: var(--control-floating-label-top) !important;
  background: var(--cards-background-color) !important;
  display: inline-block;
  width: auto !important;
  padding: 3px 2px !important;
  top: var(--custom-control-floating-label-top); /*24px*/
  /* font-size: 1px !important; */
}
.mat-dialog-container .custom-field .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.mat-menu-panel .custom-field .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
  background: white !important;
}
//style for control used in for change background color - in login page starts 
.custom-field.floating-label-top .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
  display: inline-block;
  width: auto !important;
  color: inherit !important;
  padding: 0 !important;
  background: none !important;
  top: 27px !important;
  margin-top: 0 !important;
  font-size: 18px;
}
.custom-field.floating-label-top .mat-form-field-appearance-outline .mat-form-field-flex{
  padding: 0  var(--custom-control-right-left-padding) 0 0 !important;
}
.custom-field.floating-label-top input.mat-input-element {
  padding-left: var(--custom-control-right-left-padding) !important;
}
.custom-field.floating-label-top .mat-form-field-appearance-outline .mat-form-field-label{
  padding: 6px 0 6px var(--custom-control-right-left-padding) !important;
}
.custom-field.floating-label-top .mat-focused:not(.mat-form-field-invalid)  .mat-form-field-required-marker{
  color: inherit !important;
}
//style for control used in for change background color - in login page ends here 

.custom-field  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-outline-gap{
  width: 0 !important;
}
.custom-field  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-outline-thick .mat-form-field-outline-gap{
  width: 0 !important;
}

.custom-field .mat-form-field{
  width: 100% !important;
}
.custom-field .mat-form-field-suffix .mat-icon {
  font-size: var(--custom-control-suffix-icon-size) !important;
  height: var(--custom-control-suffix-icon-size) !important;
  width: var(--custom-control-suffix-icon-size) !important;
}
.custom-field .mat-form-field-suffix svg-icon svg{
  height: var(--custom-control-suffix-icon-size) !important;
  width: var(--custom-control-suffix-icon-size) !important;
}
.mat-form-field-appearance-outline .mat-form-field-suffix{
  /* top: .30em !important; */
  top: -.15em !important;
}
.custom-field .mat-form-field-infix{
  border-top: 0 !important;
}
.custom-field .mat-form-field-appearance-outline .mat-form-field-outline-start{
  border-radius: var(--custom-control-border-radious) 0 0 var(--custom-control-border-radious) !important;
}
.custom-field .mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 0 var(--custom-control-border-radious) var(--custom-control-border-radious) 0 !important;
}
.custom-field .input-fields{
  margin: 0 !important;
 }

 .custom-field .mat-focused:not(.mat-form-field-invalid) .mat-form-field-outline-start,
.custom-field .mat-focused:not(.mat-form-field-invalid) .mat-form-field-outline-gap, 
.custom-field .mat-focused:not(.mat-form-field-invalid) .mat-form-field-outline-end {
  border-color: black !important;
}
.custom-field .mat-focused:not(.mat-form-field-invalid):hover .mat-form-field-outline-start,
.custom-field .mat-focused:not(.mat-form-field-invalid):hover .mat-form-field-outline-gap, 
.custom-field .mat-focused:not(.mat-form-field-invalid):hover .mat-form-field-outline-end{
border-color: black !important;
}
.custom-field .mat-focused:not(.mat-form-field-invalid) .mat-form-field-label,
.custom-field .mat-focused:not(.mat-form-field-invalid)  .mat-form-field-required-marker,
.my-light-green-theme .custom-field .mat-focused:not(.mat-form-field-invalid) .mat-select-arrow 
 {
   color: black !important;
 }

/*Custom field (with input field) ends*/


/*styles for custom select (works with custom-field), starts*/
.custom-select-panel{
  box-shadow: none !important;
  margin-top: var(--custom-select-panel-margin-top) !important;
}

.custom-select-panel .mat-select-content {
  width: calc(100% - var(--custom-select-content-both-side-total-margin));
  margin: auto;
  border: solid 1px black;
  border-radius: 4px;
  max-height: var(--custom-select-panel-max-height);
  overflow: auto;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),
   0 4px 5px 0 rgba(0,0,0,.14), 
   0 1px 10px 0 rgba(0,0,0,.12);
   /*custom select*/
}
.custom-select-panel .mat-select-content::-webkit-scrollbar {
  width: 4px;
}
.custom-select-panel .mat-select-content::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.custom-select-panel .mat-select-content::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.custom-select-panel .mat-select-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}
 .mat-select-panel{
  max-height: unset !important;
  overflow: unset !important;
}
.custom-select-panel .mat-option {
  height: auto !important;
  /* padding: var(--custom-select-tag-padding); */
  padding: calc(var(--vertical-space-between-rows)/2) var(--vertical-space-between-rows);
}
.custom-select-panel .mat-option-text{
  line-height: var(--custom-select-panel-option-line-height);
  font-size: var(--custom-control-font-size);
}
.custom-select .mat-select-arrow-wrapper{
  vertical-align: baseline !important;
}
.custom-select .mat-select-trigger {
  top: 2px !important;
}
.custom-select  .mat-form-field-appearance-outline .mat-form-field-infix {
  /* padding: 1em 0 1em 0 !important; */
  padding: var(--custom-control-select-tag-responsive-padding) !important;
}
.custom-select .mat-select{
  font-size: var(--custom-control-font-size) !important;
}
.custom-select .mat-select-arrow,
.app-bar .mat-select-arrow {
  border-left: var(--custom-select-tag-arrow-border) solid transparent !important;
  border-right: var(--custom-select-tag-arrow-border) solid transparent !important;
  border-top: var(--custom-select-tag-arrow-border) solid !important;
  position: relative;
  top: var(--custom-select-tag-arrow-top);
}
.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background: rgba(0,0,0,.12);
}
.mat-select-panel-done-animating {
  background: initial !important;
}
/*styles for custom select ends*/



 /* style for custom text area */
 .custom-text-area .mat-form-field{
  width: 100%;
}
.custom-text-area textarea.mat-input-element {
  min-height: 88px !important;
}
.custom-text-area .mat-form-field-infix {
 padding: 24px 0 16px 0 !important;
 border-top: none !important;
 font-size: var(--custom-control-font-size) !important;
}
.custom-text-area .mat-form-field-flex {
 padding: 0 16px 0 16px !important;
}
.custom-text-area .mat-form-field-subscript-wrapper  {
 margin-top: var(--custom-control-help-text-top-margin);
 padding: 0 .1em !important;
}
.custom-text-area  .mat-hint, .custom-text-area .mat-error{
 font-size: var(--custom-control-help-text-font-size);
}
.custom-text-area .mat-form-field-appearance-outline .mat-form-field-flex{
 padding: 0  var(--custom-control-right-left-padding)!important;
}
.custom-text-area .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
 margin-top: var(--custom-textarea-floating-label-top) !important;
 background: var(--cards-background-color) !important;
 display: inline-block;
 width: auto !important;
 padding: 3px 2px !important;
}
.mat-dialog-container .custom-text-area .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.mat-menu-panel .custom-text-area .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
  background: white !important;
}
.custom-text-area .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-outline-gap{
 width: auto !important;
}
.custom-text-area .mat-form-field-empty.mat-form-field-label{
 margin-top: var(--custom-textarea-non-floating-label-top) !important;
}
.custom-text-area .mat-focused:not(.mat-form-field-invalid) .mat-form-field-outline-start,
.custom-text-area .mat-focused:not(.mat-form-field-invalid) .mat-form-field-outline-gap, 
.custom-text-area .mat-focused:not(.mat-form-field-invalid) .mat-form-field-outline-end {
 border-color: black !important;
}

.custom-text-area .mat-focused:not(.mat-form-field-invalid) .mat-form-field-label,
.custom-text-area .mat-focused:not(.mat-form-field-invalid)  .mat-form-field-required-marker,
.my-light-green-theme .custom-text-area .mat-focused:not(.mat-form-field-invalid) .mat-select-arrow 
{
  color: black !important;
}
/* style for custom text area ends */



/* styles for custom check box and custom radio starts */
.custom-checkbox .mat-checkbox-inner-container {
  height: var(--unit-control-size) !important;
  width: var(--unit-control-size) !important;
  margin: 2px !important;
  margin-right: 10px !important;
}
.custom-radio .mat-radio-outer-circle,
.custom-radio .mat-radio-inner-circle,
.custom-radio .mat-radio-container{
  height: var(--unit-control-size) !important;
  width: var(--unit-control-size) !important;
}
.custom-radio .mat-radio-label-content{
  padding-left: calc(var(--horizontal-space-between-controls) / 2) !important;
  margin-right: var(--vertical-space-between-rows) !important;
}
/*custom checkbox styles starts*/

.custom-checkbox-without-margin .mat-checkbox-inner-container{
  height: var(--unit-control-size) !important;
  width: var(--unit-control-size) !important;
  transition: width .1s ease;
  transition: height .1s ease;
  margin: 0;

}
/*for disabled checkbox*/
.mat-checkbox-disabled:not(.mat-checkbox-checked) .mat-checkbox-frame{
  background-color: lightgray;
}
.mat-checkbox-disabled .mat-checkbox-checkmark,
.mat-checkbox-disabled:not(.mat-checkbox-checked) .mat-checkbox-checkmark{
  background: lightgray !important;
}
.my-light-green-theme .mat-checkbox-disabled .mat-checkbox-checkmark-path {
  stroke: lightgray !important
}
.my-light-green-theme .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: black !important;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: black !important
}

.checkbox-label-margin .mat-checkbox-layout .mat-checkbox-label {
  margin-left: var(--horizontal-space-between-controls);
}
/* styles for custom check box and custom radio ends */



/* styles for date picker, starts */

.custom-datepicker .mat-form-field {
  width:  100% !important;
}
 .mat-datepicker-content {
box-shadow: none !important;
border: solid black 1px;
border-top: none !important;
border-radius: 0 0 4px 4px !important;
}
.custom-datepicker .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button{
  width: unset !important;
  height: unset !important;
}
.custom-datepicker .mat-form-field-appearance-outline .mat-form-field-suffix {
  top: .3em !important;
}
.custom-datepicker .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-datepicker-toggle-default-icon{
  height: var(--custom-control-suffix-icon-size) !important;
  width: var(--custom-control-suffix-icon-size) !important;
}
.custom-datepicker .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-datepicker-toggle-default-icon svg {
  fill: black !important;
}
/* styles for date picker, ends */

//eta table constant width column and their respactive divisions styles
.eta-table-constant-width-column-first{
  width: calc((var(--content-inside-padding) * 2) + var(--unit-control-size)) !important;
  min-width: calc((var(--content-inside-padding) * 2) + var(--unit-control-size)) !important;
  max-width: calc((var(--content-inside-padding) * 2) + var(--unit-control-size)) !important;
}
.eta-table-constant-width-column-other{
  width: calc(var(--content-inside-padding) + var(--unit-control-size)) !important;
  min-width: calc(var(--content-inside-padding) + var(--unit-control-size)) !important;
  max-width: calc(var(--content-inside-padding) + var(--unit-control-size)) !important;
}


/* styles for custom error fot showing mat-form-field in error color starts */
.custom-error .mat-form-field-outline, .custom-error .mat-form-field-label, .custom-error .mat-hint {
  color: var(--errors) !important;
}
.custom-error .mat-form-field-outline-start, .custom-error .mat-form-field-outline-gap, .custom-error .mat-form-field-outline-end  {
  border-width: 2px !important
}
/* styles for custom error ends */

/* styles for custom validation fot showing mat-form-field in validated color starts */
.custom-validated .mat-form-field-outline, .custom-validated .mat-form-field-label, .custom-validated .mat-hint {
  color: var(--primary) !important;
}
.custom-validated .mat-form-field-outline-start, .custom-validated .mat-form-field-outline-gap, .custom-validated .mat-form-field-outline-end  {
  border-width: 2px !important
}
/* styles for custom validated ends */



/*responsive control buttons styles starts*/
.control-button-container{
  height:  var(--custom-control-height);
  line-height:  var(--custom-control-height);
  width: auto;
  margin-top: var(--control-button-container-margin-top);
}
 .control-button{
  height: var(--custom-control-height);
  width: var(--custom-control-height);
  min-width: var(--custom-control-height);
  max-width: var(--custom-control-height);
  border: solid lightgray 1px;
  border-radius: var(--custom-control-border-radious);
  background: transparent;
  padding: 0;
}
.control-button .control-button-inside-icon{
  font-size: 24px !important;
}
.control-checkbox-division{
 width: var(--custom-control-height);
 display: inline-block;
}
/*responsive control buttons styles ends*/

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: var(--primary) !important;
}
.my-light-green-theme .mat-tab-label-active{
  color: var(--primary) !important;
}

//style for control used in for change background color - in login page starts 
// .custom-field .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
//   display: inline-block;
//   width: auto !important;
//   color: inherit !important;
//   padding: 0 !important;
//   background: none !important;
//   top: 27px !important;
//   margin-top: 0 !important;
//   font-size: 18px;
// }
// .custom-field .mat-form-field-appearance-outline .mat-form-field-flex{
//   padding: 0  var(--custom-control-right-left-padding) 0 0 !important;
// }
// .custom-field input.mat-input-element {
//   padding-left: var(--custom-control-right-left-padding) !important;
// }
// .custom-field .mat-form-field-appearance-outline .mat-form-field-label{
//   padding: 6px 0 6px var(--custom-control-right-left-padding) !important;
// }
// .custom-field .mat-focused:not(.mat-form-field-invalid)  .mat-form-field-required-marker{
//   color: inherit !important;
// }
//style for control used in for change background color - in login page ends here 

