
  <!-- Breadcrumb start-->
  
  <mat-toolbar class="breadcrumb">
      <svg-icon  src="assets/svg-icons/home.svg"></svg-icon>
        <svg-icon src="assets/svg-icons/arrow_forward.svg"></svg-icon>
      <span>
        <a href="#" routerLink='/#5'>{{mainbreadcrumb}}</a>
      </span>
      <svg-icon src="assets/svg-icons/arrow_forward.svg"></svg-icon>
      <span>
        <a href="#" routerLink='/eta-web/datamodel-dashboard'>{{breadcrumb}}</a>
      </span>
      <svg-icon src="assets/svg-icons/arrow_forward.svg"></svg-icon>
      <span>
        <a routerLink='/editDataModel'>Change</a>
      </span>
  </mat-toolbar>

<!-- Breadcrumb end-->

              <h4 class="target-area-title"> Edit Data Container to {{acronym}} </h4>
     
          <mat-card class="content-card">
              <form [formGroup]="dataContainerForm" autocomplete="off">
          <!-- name field -->
<div class="top-container">
          <div class="custom-control-row">
          <div class="custom-field custom-field-fw" > 
              <mat-form-field appearance="outline" >
                  <mat-label>Name</mat-label>
                  <input type="hidden" formControlName="containerId">
                  <input matInput #nameInput placeholder="Enter Name" formControlName="containerName" maxlength="64" required
                        [(ngModel)]="name"
                        [typeaheadAsync]="true"
                        [typeahead]="dataSourceContainer"
                        (typeaheadLoading)="changeTypeaheadLoadingContainer($event)"
                        (typeaheadOnSelect)="typeaheadOnSelectContainer($event)"
                        [typeaheadOptionsLimit]="5"
                        [typeaheadMinLength]="0"
                        typeaheadOptionField="name"
                        [ngModelOptions]="{standalone: true}"
                        (keyup)="validateContainerName($event.target.value); enableDefaultEdit();checkCharValidationForContainer($event)"
                        (keypress)="SpecialChar($event)">

                  <mat-hint>{{64 - nameInput.value.length }} characters remaining.</mat-hint>
                  <svg-icon matSuffix src="assets/svg-icons/search.svg"></svg-icon>
                  <mat-error *ngIf="dataContainerForm.controls['containerName'].invalid && dataContainerForm.controls['containerName'].errors.required">
                          Name is required.
                        </mat-error>
                  <mat-error *ngIf="dataContainerForm.controls['containerName'].invalid &&  dataContainerForm.controls['containerName'].value?.length>0 && invalidContainerName">
                          Name  already taken.
                        </mat-error>
                        <mat-error *ngIf="dataContainerForm.controls['containerName'].errors?.patternError">
                          First letter should be alphabatic.
                        </mat-error>
                </mat-form-field>
          </div>
        </div>
            <!-- toggle buttons starts here  -->
            <section class="toggle-button eta-bottom-margin">
                <mat-slide-toggle  class="example-margin" formControlName="reusalbeName" (change)="enableDefaultEdit()">Reusable</mat-slide-toggle>
            </section>
            <section class="toggle-button eta-bottom-margin">
                <mat-slide-toggle  class="example-margin" (change)="scopeCanceled(); enableDefaultEdit()" formControlName="sharedName" >Shared</mat-slide-toggle>
            </section>
            <!-- toggle buttons ends here -->
     
          <!-- scope (multiselect) starts here-->
          <div class="custom-control-row">
          <div class="custom-field custom-multiselect custom-field-fw" >
              <mat-expansion-panel class="ngx-tree-expansion-panel" [disabled]="!dataContainerForm.controls['sharedName'].value">
              <mat-expansion-panel-header collapsedHeight="var(--custom-control-height)" expandedHeight="var(--custom-control-height)">
              <mat-panel-title>
                {{values?.length? values.length + ' item selected.': 'Please Select'}}
              </mat-panel-title>

              </mat-expansion-panel-header>
              <ngx-treeview class="ngx-tree" [config]="config" [items]="scopeData" [disabled]="!dropdownEnabled"
                            [ngxDisabledOnSelector]="'button.dropdown-toggle'" (filterChange)="onFilterChange($event)" (selectedChange)="values = $event;">
              </ngx-treeview>
              </mat-expansion-panel>
        
             
          </div>
        </div>
        <div class="col-6">
            <div class="alert alert-success" role="alert">
              <!-- Selected products: -->
              <div *ngFor="let row of rows">{{row}}</div>
            </div>
          </div>
          <!-- scope (multiselect) ends here -->
        </div>

          <div class='table-modification-button-container'>
            <div class="inner-center-division">
           
         
                <button *ngIf="!(this.dataContainerForm.controls['dataObject'].value.length > 1 
                    && selectionForDataObject.selected.length > 0)" type="button" class="modification-buttons  button-without-background vertical-align-middle" (click)="addDataObject($event)">
                    <svg-icon class="unit-control-icon no-padding-svg" src="assets/svg-icons/add_box.svg"></svg-icon>
                </button>
      
                <button *ngIf="this.dataContainerForm.controls['dataObject'].value.length > 1 
                    && selectionForDataObject.selected.length > 0" type="button" 
                    (click)='deleteDataObject(2)' class="modification-buttons button-without-background vertical-align-middle">
                    <svg-icon class="unit-control-icon no-padding-svg" src="assets/svg-icons/delete.svg"></svg-icon>
            </button>
        </div> 
    </div>  


          <div formArrayName="dataObject">
              <mat-toolbar class="data-object-heading no-padding eta-dynamic-height eta-heading-background">
                  <div class="eta-table-constant-width-column-first display-inline-block text-align-center" >  
                      <mat-checkbox 
                            [ngModelOptions]="{standalone: true}" 
                            class="custom-checkbox-without-margin"
                            (change)="$event ? masterToggleForDataObjects() : null"
                            [checked]="selectionForDataObject.hasValue() && isAllDataObjectsSelected()">
                            </mat-checkbox>  
                    </div>
                  <h4 class="body-text1 display-inline-block">Data Object Name *</h4>
              </mat-toolbar>
               <div class="data-objects-container" #dataObjectsScrollableContent id="customScrollBarContainer">
              <div *ngFor="let dataObject of dataContainerForm['controls'].dataObject['controls']; let dataObjectIndex=index"
              formGroupName="{{dataObjectIndex}}" class="dataObject">
                
                  <!-- data object checked status -->
                  <div class="custom-control-row dataobject-row display-flex">
                   <div class="control-button-container display-flex">  
                    <mat-checkbox [ngModelOptions]="{standalone: true}" 
                     class="data-element-check-row-checkbox custom-checkbox-without-margin margin-auto" (click)="$event.stopPropagation()"
                    (change)="$event ? selectionForDataObject.toggle(this.dataContainerForm.controls['dataObject'].controls[dataObjectIndex]) : null;
                    selectUnselectDataElements($event, dataObjectIndex)"
                    [checked]="selectionForDataObject.isSelected(this.dataContainerForm.controls['dataObject'].controls[dataObjectIndex])"
                    formControlName='dataObjectCheckedStatus' >
      </mat-checkbox>
                  </div>
                
          
                  <!-- data object name field -->
                  <div class="custom-field data-object-name-field">
                      <mat-form-field appearance="outline">
                          <mat-label>Name</mat-label>
                          <input matInput #ObjectName placeholder="Enter Name" formControlName="dataObjectName" maxlength="32" required
                                  [typeaheadAsync]="true"
                                  [typeahead]="dataSourceObject"
                                  (typeaheadLoading)="changeTypeaheadLoadingObject($event)"
                                  (typeaheadOnSelect)="typeaheadOnSelectObject($event, dataObjectIndex)"
                                  [typeaheadOptionsLimit]="100"
                                  [typeaheadMinLength]="0"
                                  (keypress)="SpecialChar($event,dataObjectIndex)"
                                  typeaheadOptionField="objectName" [ngModelOptions]="{standalone: true}" 
                                   (blur)= "checkOnKeyUp($event,dataObjectIndex); enableDefaultEdit()"
                                   (keyup) = "checkCharValidationForObject($event,dataObjectIndex)">
                                  <svg-icon matSuffix src="assets/svg-icons/search.svg"></svg-icon>
                          <mat-hint>{{32 - ObjectName.value.length }} characters remaining.</mat-hint>
                          <mat-error *ngIf="dataContainerForm.controls['dataObject'].controls[dataObjectIndex].get('dataObjectName').invalid && 
                                      dataContainerForm.controls['dataObject'].controls[dataObjectIndex].get('dataObjectName').errors.required">
                                      Name is required.
                          </mat-error> 
                          <mat-error *ngIf="dataContainerForm.controls['dataObject'].controls[dataObjectIndex].get('dataObjectName').errors?.customError">  
                              Name  already taken.
                          </mat-error> 

                          <mat-error *ngIf="dataContainerForm.controls['dataObject'].controls[dataObjectIndex].get('dataObjectName').errors?.patternObjectError">
                            First letter should be alphabatic.
                          </mat-error>
                        </mat-form-field>                           
                  </div>
                </div>
                  <!-- data element division starts here -->
                 <div class="display-flex">
                    <div class="eta-table-constant-width-column-other display-inline-block" ></div>    
                  <div class="data-element-division" formArrayName="dataElements">
                    <!-- data element division modification button group starts here -->
                   
                    <div class='table-modification-button-container'>
                        <div class="inner-center-division">
                            <mat-checkbox [ngModelOptions]="{standalone: true}" class="modification-buttons custom-checkbox-without-margin"  
                            (change)="$event ? masterToggleForDataElement(dataObjectIndex, $event) : null"
                            [checked]="selectionForDataElement.hasValue() &&  isAllDataElementsSelectedInADataObject(dataObjectIndex)">
              </mat-checkbox>  
                       
                      <button *ngIf="!(isAnyDataElementSeletedInADataObject(dataObjectIndex))" type="button" class="modification-buttons button-without-background vertical-align-middle" (click)="addDataElement(dataObjectIndex)">
                          <svg-icon class="unit-control-icon no-padding-svg" src="assets/svg-icons/add_box.svg"></svg-icon>
                      </button>

                      <button *ngIf="isAnyDataElementSeletedInADataObject(dataObjectIndex)"
                      type="button" (click)='deleteDataElement(dataObjectIndex, 2)' class="modification-buttons button-without-background vertical-align-middle">
                      <svg-icon class="unit-control-icon no-padding-svg" src="assets/svg-icons/delete.svg"></svg-icon>
                     </button>
                    </div> 
                </div> 
                
                    <!-- data element division modification button group ends here -->
                    <div *ngFor="let dataElement of dataObject['controls'].dataElements['controls']; let dataElementIndex=index"
                     formGroupName="{{dataElementIndex}}" class="custom-control-row data-element-row display-flex">
                                               
                        <!-- data element checked status -->
                       
                            <div class="control-button-container display-flex">
                          <mat-checkbox [ngModelOptions]="{standalone: true}" 
                           class="data-element-check-row-checkbox  custom-checkbox-without-margin margin-auto" (click)="$event.stopPropagation()"
                          (change)="$event ? selectionForDataElement.toggle(this.dataContainerForm.controls['dataObject'].controls[dataObjectIndex].controls['dataElements'].controls[dataElementIndex]) : null"
                          [checked]="selectionForDataElement.isSelected(this.dataContainerForm.controls['dataObject'].controls[dataObjectIndex].controls['dataElements'].controls[dataElementIndex])"
                          formControlName='dataElementCheckedStatus'>
            </mat-checkbox>
                        </div>
                      
                        <!-- data element name field -->
                        <div class="input-fields-division">
                           
                                <div class="custom-field custom-field-xxl" >
                                    <mat-form-field appearance="outline" >
                                        <mat-label>Element</mat-label>
                                        <input matInput #nameInput placeholder="Element" formControlName="dataElementName" maxlength="32" required
                                              [typeaheadAsync]="true"
                                              [typeahead]="dataSourceElement"
                                              (typeaheadLoading)="changeTypeaheadLoadingElement($event)"
                                              (typeaheadOnSelect)="typeaheadOnSelectElement($event,dataElementIndex,dataObjectIndex)"
                                              [typeaheadOptionsLimit]="100"
                                              [typeaheadMinLength]="0"
                                              (keypress)="SpecialChar($event)"
                                              typeaheadOptionField="elementName" [ngModelOptions]="{standalone: true}"  
                                              (blur) = "checkOnKeyUpElementName($event,dataObjectIndex,dataElementIndex)"
                                              (keyup)= "checkCharValidationForElement($event,dataElementIndex,dataObjectIndex); enableDefaultEdit()">
                                              <svg-icon matSuffix src="assets/svg-icons/search.svg"></svg-icon>
                                        <mat-hint>{{32 - nameInput.value.length }} characters remaining.</mat-hint>                           
                                          <!-- showing error according validation (this is for required validation) -->
                                        <mat-error *ngIf="dataContainerForm.controls['dataObject'].controls[dataObjectIndex].controls['dataElements'].controls[dataElementIndex].get('dataElementName').invalid && 
                                                    dataContainerForm.controls['dataObject'].controls[dataObjectIndex].controls['dataElements'].controls[dataElementIndex].get('dataElementName').errors.required">
                                                    Name is required.
                                        </mat-error>  
                                        <mat-error *ngIf="dataContainerForm.controls['dataObject'].controls[dataObjectIndex].controls['dataElements'].controls[dataElementIndex].get('dataElementName').errors?.elementError">  
                                                Name  already taken.
                                        </mat-error>    
                                        
                                        <mat-error *ngIf="dataContainerForm.controls['dataObject'].controls[dataObjectIndex].controls['dataElements'].controls[dataElementIndex].get('dataElementName').errors?.patternElementError">
                                          First letter should be alphabatic.
                                        </mat-error>
                                      </mat-form-field>
                                  </div>
                            
                            <!-- data element value type select tag -->
                            
                              <div class="custom-select custom-field custom-field-m">                
                                  <mat-form-field appearance="outline"  >
                                      <mat-label>Value type</mat-label>
                                          <mat-select placeholder="Value type" formControlName="dataElementValueType" required  disableOptionCentering panelClass="custom-select-panel" (selectionChange)="enableDefaultEdit()">
                                            <!-- <mat-option>-none-</mat-option> -->
                                            <mat-option *ngFor="let type of dataElementValueTypeList" [value]="type.dataElementDataTypeID">
                                              {{type.dataElementDescription}}
                                            </mat-option>
                                          </mat-select>
                                          <mat-hint>Select type of value expected.</mat-hint>
                                          <mat-error *ngIf="dataContainerForm.controls['dataObject'].controls[dataObjectIndex].controls['dataElements'].controls[dataElementIndex].get('dataElementValueType').invalid && 
                                        dataContainerForm.controls['dataObject'].controls[dataObjectIndex].controls['dataElements'].controls[dataElementIndex].get('dataElementValueType').errors.required">required</mat-error>
                                    </mat-form-field>
                              </div>
                                
                            
                        </div>
                        <div class="data-element-hide-show-button control-button-container">
                            <button type="button" class="control-button" >
                                <svg-icon class="unit-control-icon display-inline-block no-padding-svg" src="assets/svg-icons/visibility.svg"></svg-icon>
                            </button>
                        </div>
                      
                     
                    </div>                  
                  </div>
                </div>
                  <!-- data element division ends  here -->
              
              </div>   
            </div>    
            <div #scrollTargetForDataObject></div>
          </div>     
          <!-- submit and cancel buttons -->
          <mat-toolbar class="form-button-toolbar">
            <!-- <button type="button" class="button update-button button-margin-right"  [disabled]="dataContainerForm.invalid
            || ( this.dataContainerForm.controls['sharedName'].value) || editDefaultDisable || !disabledOnEdit" (click) = "updateDataContainer()">Update</button> -->
            <button type="button" class="button update-button button-margin-right"  [disabled]="dataContainerForm.invalid || !disabledOnEdit" (click) = "updateDataContainer()">Update</button>  
            <button  type="button" class="button no-margin" (click) = "cancel()">Cancel</button>
            </mat-toolbar>
      
      
</form>
</mat-card>


