

<div>
  <!-- Breadcrumb start-->
  <mat-toolbar>
      <mat-icon>home</mat-icon>
      <mat-icon>arrow_forward_ios</mat-icon>
      <span>
        <a href="#" routerLink='/dashboardDataObject'>{{mainbreadcrumb}}</a>
      </span>
      <mat-icon>arrow_forward_ios</mat-icon>
      <span>
        <a routerLink='/eta-web/formdashboard'>{{breadcrumb}}</a>
      </span>
      <mat-icon>arrow_forward_ios</mat-icon>
      <span>
        <a routerLink='/eta-web/createdataform'>Add</a>
      </span>
  </mat-toolbar>
  <!-- Breadcrumb end-->
  <div class="col-sm-6 table-padding">
    <!--<div class=" breadcrumb">
      <table>
        <td>
          <span class="glyphicon glyphicon-home "></span>
        </td>
        <td>
          <span class="glyphicon glyphicon-menu-right"></span>
        </td>
        <td>
          <a href="#" routerLink='/dashboardDataObject'>{{mainbreadcrumb}}</a>
        </td>
        <td>
          <span class="glyphicon glyphicon-menu-right"></span>
        </td>
        <td>
          <a class=" colorA6510C" routerLink='/formdashboard'>{{breadcrumb}}</a>
        </td>
        <td>
          <span class="glyphicon glyphicon-menu-right"></span>
        </td>
        <td>
          <a class=" colorA6510C" routerLink='/createdataform'>Add</a>
        </td>
      </table>
    </div>-->
    <mat-toolbar color="primary"> Form </mat-toolbar>
    
  
<mat-card>
 
     

      <form [formGroup]="createform" (ngSubmit)="onSubmit()">
        
          <mat-form-field class="example-full-width" >
              <mat-select placeholder="Choose Data Container" name="datacontiner" formControlName="selectedFormValue" class="filter-select" 
                multiple  >
                <mat-option disabled="disabled" class="filter-option">
                  <button mat-raised-button class="mat-primary fill text-sm" (click)="selectAll( dataContainers)">
                    Select All
                  </button>
                  <button mat-raised-button class="mat-primary fill text-sm eta-margin-all" (click)="deselectAll()">
                    Deselect All
                  </button>
                </mat-option>
                <mat-option *ngFor="let dataContainer of dataContainers" [value]="dataContainer.item_id">{{dataContainer.item_text}}</mat-option>
              </mat-select>
            </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-icon matSuffix>perm_identity</mat-icon>
          <input matInput #message placeholder="Enter Name" formControlName="createformname">
          <mat-hint align="end">{{message.value.length}} / 50</mat-hint>
        </mat-form-field>


        <mat-form-field class="example-full-width">
          <textarea matInput matTextareaAutosize="true" formControlName="createformdescription" placeholder="Enter Description"></textarea>
        </mat-form-field>
         
        
        <div class="button-row">
          <button type="submit" mat-raised-button color="primary">Add</button>
          <button class="eta-margin-all" type="button" (click)="cancel()" mat-raised-button color="primary">cancel</button>
          <button type="button" (click)="translationColumns()" mat-raised-button color="primary" data-toggle="modal" data-target="#myModal">Add Translation</button>
        </div>
      </form>
    </mat-card>
  </div>
  <div *ngIf="gridFormColumns!=null" class="col-sm-6 table-padding ">
    <mat-toolbar color="primary">
        <span [matBadge]=recordsTotal matBadgeOverlap="false" matBadgeColor="accent" >List of Forms</span>
    </mat-toolbar>
    <mat-card>
        <mat-data-table [myDataUrl]=formUrl [defaultSortColumn]=defaultColumnToSort></mat-data-table>
      </mat-card>
   <!--  <app-dynamic-datatable [myurl]=formUrl [mycoloums]=gridFormColumns></app-dynamic-datatable> -->
  </div>
</div>

<div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content" id="popup">
        <div class="modal-header">
          <!-- cross close button -->
          <button type="button" (click)="closePopUp()" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div *ngIf="isDataLoaded">
          <!-- <app-translation-grid  [myurl]="functionTransUrl" [key]="key"> </app-translation-grid> -->
          <app-dynamic-datatable (translationEditObj)="getTranslationEditObject($event)" [myurl]=formTransUrl [mycoloums]=gridTranslationColumns></app-dynamic-datatable>
        </div>
        <!-- close button    -->
        <div class="modal-footer">
          <button type="button" (click)="closePopUp()" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>