<div class=" table-padding">
  <!-- Breadcrumb start-->
  <mat-toolbar>
    <mat-icon>home</mat-icon>
    <mat-icon>arrow_forward_ios</mat-icon>
    <span>
      <a href="#" routerLink='/eta-web/userdashboard'>{{mainbreadcrumb}}</a>
    </span>
    <mat-icon>arrow_forward_ios</mat-icon>
    <span>
      <a routerLink='/eta-web/privilegedashboard'>{{breadcrumb}}</a>
    </span>
  </mat-toolbar>
  <!-- Breadcrumb end-->

  <nav mat-tab-nav-bar [backgroundColor]="background">
    <ng-container *ngFor="let menu of menuList;">
      <a mat-tab-link *ngIf="menu.menuType==3 && menu.menuRef == 3" (click)="activeLink=shownRouterLink(menu.routerLink)" [active]="activeLink==menu.routerLink">
        {{menu.translation}} </a>
    </ng-container>
    <button mat-icon-button>
      <mat-icon (click)="toggleBackground()">invert_colors</mat-icon>
    </button>
  </nav>

  <!-- Grid show start-->
  <mat-card>
    <div *ngIf="privilegeCol!=null">
      <!--<app-admin-dynamic-datatable [myurl]=privilegeurl [mycoloums]=privilegeCol></app-admin-dynamic-datatable>-->
      <mat-data-table [myDataUrl]=userPrivilegeUrl [defaultSortColumn]=defaultColumnToSort></mat-data-table>
    </div>
    <div class="button-row">
      <button type="button" (click)="addPrivilage()" mat-raised-button color="primary">{{addButtonText}}</button>
      <button [disabled]="isEditAllowed == false" class="eta-margin-all" type="button" (click)="editPrivilage()" mat-raised-button color="primary">{{editButtonText}}</button>
    </div>
  </mat-card>

  <!-- Grid show End-->

</div>
