
  <h2>Example custom File upload</h2>

<div [class.custom-validated]="validatedStatus" class="custom-file-upload-container custom-field" [class.custom-error]='fileNotSupported && fileInput'>
    <!-- real input -->
 <input [(ngModel)]='fileInput' type="file" name="file" id="file" class="inputfile" (change)='inputChangeFunction()'/>
<label for="file">
  <div>
<mat-form-field appearance="outline">  
    <mat-label>Icon *</mat-label>
    <!-- input as a label only-->
    <input  [style.width]="fileInput? '100%': '0' " [type]="hide ? 'password' : 'text'" matInput  [value]="fileInput.split( '\\' ).pop()" readonly>
    <mat-icon matSuffix>insert_drive_file</mat-icon>
    <mat-hint>{{fileNotSupported? 'Only pdf file can be Upload.': 'Please choose an image.'}}</mat-hint>
   </mat-form-field>
 
</div>
</label>

<!-- upload and visibility icon container starts -->
<div class="icon-container">
<button class="upload-button" (click)='uploadFile()' [disabled]='!uploadButtonEnabled'>
    <i class="material-icons medium-square-icon-with-border" [class.button-disabled]="!uploadButtonEnabled" [style.color]="fileNotSupported? 'black': 'unset'">
        cloud_upload
        </i>
        <div [style.height.%]="progressBarValue" [style.background]="!validatedStatus? 'gray': 'green'" [style.background]="fileNotSupported? 'red': 'gray'" class="custom-progress-division"></div>
</button>
<button [disabled]='!validatedStatus' class="showHideButton" (click)="hide = !hide">
    <i class="material-icons medium-square-icon-with-border eye-icon" [class.button-disabled]='!validatedStatus'>{{hide ? 'visibility_off' : 'visibility'}}
      </i>
      
  </button>
    
        </div>
<!-- upload and visibility icon container ends -->

<!-- progress bar starts here -->
        <!-- <div class="custom-progress-bar">
            <mat-progress-bar *ngIf="value == 0" 
            class="example-margin"
            value="0"></mat-progress-bar>
        <mat-progress-bar *ngIf="value != 0"
        class="example-margin"
        [value]="progressBarValue"></mat-progress-bar>
      
        <p class="progress-bar-text">{{!validatedStatus && fileInput && !fileNotSupported && validateAndNotSupportedControls?  "Scanning & Uploading": " "}} {{validatedStatus? "Scanned & Uploaded": " "}}</p>
      </div> -->
    <!-- progress bar ends here -->
    </div>

    <div *ngIf='validateAndNotSupportedControls'>
        <br>
        <br>
<button (click)='validate()'>Validate image</button>
<button (click)='notSupported()'>Not supported</button>
</div>
