/* hiding real input  */
.custom-file-upload-container {
    width: 300px;
    margin: 8px 0;
} 
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
    cursor: pointer; 
}

label {
    display: inline-block;
    width: calc(100% - 96px);
    vertical-align: middle;
}
.icon-container{
    display: inline-block;
 }

.custom-progress-bar{
    position: relative;
}
.progress-bar-text {
    position: absolute;
    left: 50%;;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 15px;
    width: 100%;
    text-align: center;
}
.custom-validated .progress-bar-text {
    color: white;
}
.upload-button, .showHideButton{
    border: none;
    background: transparent;
    padding: 0;
}
.upload-button{
    margin: 0 8px;
    position: relative;
}
.button-disabled{
    color: gray;
    cursor: not-allowed !important;
}
button:hover:enabled {
    box-shadow: 0 8px 10px 1px lightgray,
     0 3px 14px 2px lightgray, 
     0 5px 5px -3px lightgray;
    border-radius: 4px;
}

.custom-progress-division{
    position: absolute;
    width: 100%;
    background: green;
    bottom: 0;
    z-index: -1;
    border-radius: 6px;
    -webkit-transition: height 2s; /* Safari */
    -webkit-transition-timing-function: linear; /* Safari */
    transition: height .3s;
    transition-timing-function: linear;
}
.upload-button:hover .custom-progress-division{
    height: 100%;
}