<div *ngIf ="isDataLoad" class="table-responsive  table-padding">
  <table datatable [dtOptions]="dtOptions" id="datatabledcsdf" class="awidth row-border hover display table table-bordered striped">
    <thead>
      <tr>
        <th *ngFor="let key of mycoloums" class="icon-margin" style="padding: 8px;">{{key.displayName}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let gefield of gefields" class="overflowTest ">

        <!-- <td  *ngFor="let k of mycoloums | slice:1"  class="tab-font-size font-weight" > -->
          <ng-container *ngIf="isCreateCheck==true" >
          <td> <input type="checkbox" (click)="editCheckBox($event, gefield)" class="form-check-input-size" ></td> 
          <td *ngFor="let k of mycoloums | slice:1"  class="tab-font-size font-weight">

            <div (click)="k.hyperlink && showUser($event, gefield, k)" data-toggle="modal" data-target="#Info" [class.pointer]="k.hyperlink">
              <span *ngIf="k.data!=null && k.data1==null && k.type != 'button' " (focusout)="saveDetails($event, gefield, k)">{{gefield[k.data]}}</span>
              <span *ngIf="k.data1!=null  && k.type != 'button'" (focusout)="saveDetails($event, gefield, k)">{{gefield[k.data][k.data1]}}</span>
              <span id="editPencil" *ngIf='k.edit == true' class='glyphicon glyphicon-pencil pull-right white' (click)="makeCellEdit($event)"></span>
              <button *ngIf="k.type == 'button'" (click)="buttonClick($event, gefield, k)"> {{k.displayName}} </button>
            </div>
          </td>
        </ng-container>
        <ng-container *ngIf="isCreateCheck==false" >
            <td *ngFor="let k of mycoloums" class="tab-font-size font-weight">
  
              <div (click)="k.hyperlink && showUser($event, gefield, k)" data-toggle="modal" data-target="#Info" [class.pointer]="k.hyperlink">
                <span *ngIf="k.data!=null && k.data1==null &&  k.type != 'button'" (focusout)="saveDetails($event, gefield, k)">{{gefield[k.data]}}</span>
                <span *ngIf="k.data1!=null &&  k.type != 'button'" (focusout)="saveDetails($event, gefield, k)">{{gefield[k.data][k.data1]}}</span>
                <span id="editPencil" *ngIf='k.edit == true' class='glyphicon glyphicon-pencil pull-right white' (click)="makeCellEdit($event)"></span>
                <button *ngIf="k.type == 'button'" (click)="buttonClick($event, gefield, k)">{{k.displayName}}</button>
              </div>
            </td>
          </ng-container>
      </tr>
      <!-- <tr *ngIf="gefields?.length == 0">
        <td colspan="3" class="no-data-available">No data!</td>
      </tr> -->
    </tbody>
  </table>
</div>

<div *ngIf="showPopUp==true" class="container">
  <div class="modal fade" id="Info" role="dialog">
    <div class="modal-dialog">

      <div class="container">
        <div class="row pricing">
          <div class="col-md-3">
            <div class="well">
              <h3>
                <b>View Form</b>
              </h3>
              <p>Nitin</p>
              <p>Mark@greentechict.com</p>
              <hr>
              <h3>
                <b>Dev</b>
              </h3>
              <p>Dev</p>
              <p>skype</p>
              <hr>
              <hr>
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closePopUp()">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>

   


   