.filter-option>.mat-pseudo-checkbox {
  display: none !important;
}

.filter-sidenav .mat-list-item-content {
  padding: 0 10px !important;
  font-size: 0.875rem !important;
}

.filter-sidenav .mat-select-trigger {
  font-size: 1rem !important;
}

.example-width {
  width: 80%;
}

.icon-size {
  font-size: 26px;
  widows: 26px;
  height: 26px;
}
.mat-radio-button, .display-inline-block{
  margin-right: var(--horizontal-space-between-controls);
}