<h1 class="target-area-title"> {{data.formName}}</h1>
<div>
  <div class="col-sm-6 table-padding">
    <div *ngIf="allTaskJson!=null">

      <div class="heading-fontsize margin">User Application</div>
      <table class="awidth row-border hover display table table-bordered">
        <thead>
          <tr>
            <th class="icon-margin">Fields Name</th>
            <th class="icon-margin">Values</th>
          </tr>
        </thead>
        <ng-container *ngFor="let row of allTaskJson">
          <tr *ngFor="let element of row" class="overflowTest">
            <td class="tab-font-size font-weight">{{element.labelName}}</td>
            <td class="tab-font-size font-weight">{{element.value}}</td>
          </tr>
        </ng-container>
      </table>

    </div>
    <div>
      <!--  <div class="heading-fontsize margin">{{data.formName}}</div> -->
      <mat-card class="content-card">
        <form ngNativeValidate id="userData" method="POST"  name="userData" [formGroup]="userFormData"
          (ngSubmit)="setDetails(userFormData.value, userFormData)" >
          <div *ngFor="let element of currentTaskJson" class="form-group" [class.display-inline-block]="element.controlName == 'button' || element.controlName == 'submit' || element.controlName == 'cancel'">
             <!-- Label Tag Start Here -->
            <div *ngIf="element.controlName == 'label' && element.htmlControlTypeName !='file'" [formControlName]="element.labelID" class="custom-field">
               <mat-label class="body-text1">{{element.fieldName}}</mat-label>
               {{element.value}} <br>
              
            </div>
              <!-- Label Tag End Here -->

            <!-- Input Tag Start Here -->
            <div *ngIf="element.controlName == 'input' && element.htmlControlTypeName !='date' && element.htmlControlTypeName !='file'" class="custom-field">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>{{element.fieldName}}</mat-label>
              <input matInput [formControlName]="element.labelID" type='{{element.htmlControlTypeName}}' [required]='element.required' max="16" id='{{element.labelID}}' 
              placeholder={{element.fieldName}}
              />
              <mat-hint>{{element.helpText}}</mat-hint>
            </mat-form-field>
            <!--<input type="text" [value]="element.displayOrder" [formControlName]="element.labelID + 'displayOrder'" > -->
            </div>
            <!-- Input Tag End Here -->


            <div *ngIf="element.controlName == 'input' && element.htmlControlTypeName =='date'" class="custom-field custom-datepicker">
                <mat-form-field appearance="outline" class="demo-full-width margin-top">
                    <mat-label>{{element.fieldName}}</mat-label>
                    <input matInput [matDatepicker]="picker" [formControlName]="element.labelID" placeholder="{{element.fieldName}}">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-hint>{{element.helpText}}</mat-hint>
                    </mat-form-field>
            </div>
             <!-- Textarea Tag Start Here -->
             <div *ngIf="element.controlName == 'textarea' && element.htmlControlTypeName !='file'" class="custom-text-area">
             <mat-form-field class="example-full-width" appearance="outline" >
                <mat-label>{{element.fieldName}}</mat-label>
                <textarea matInput [formControlName]="element.labelID" type='{{element.htmlControlTypeName}}' [required]='element.required' max="16"
                 id='{{element.labelID}}' placeholder={{element.fieldName}}
                ></textarea>
                <mat-hint>{{element.helpText}}</mat-hint>
              </mat-form-field>
              </div>
          
            <!-- Normal Select List Start -->
            <div *ngIf="element.controlName == 'select'" class="custom-field custom-select">
            <mat-form-field appearance="outline" class="example-full-width" >
                <mat-label>{{element.fieldName}}</mat-label>
              <mat-select placeholder={{element.fieldName}}  id='{{element.labelID}}' [formControlName]="element.labelID" 
              disableOptionCentering panelClass="custom-select-panel">
                <mat-option *ngFor="let element3 of element.masterDataValues" value={{element3.value}}>
                 {{element3.value}}
                </mat-option>
              </mat-select>
              <mat-hint>{{element.helpText}}</mat-hint>
            </mat-form-field>
          </div>


          <div *ngIf="element.controlName == 'multiSelect'" class="custom-field custom-select">
            <mat-form-field appearance="outline">
              <mat-label>{{element.fieldName}}</mat-label>
              <mat-select [formControlName]="element.labelID" id='{{element.labelID}}' 
              placeholder="{{element.fieldName}}" multiple  disableOptionCentering panelClass="custom-select-panel">
                <mat-option *ngFor="let element of element.masterDataValues" value={{element.value}}>{{element.value}}</mat-option>
              </mat-select>
              <mat-hint>{{element.helpText}}</mat-hint>
              </mat-form-field>
          </div> 

              <div *ngIf="element.controlName == 'radiobutton' && element.htmlControlTypeName !='file'">
                  <mat-label><strong>{{element.fieldName}}</strong></mat-label><br><br>
              <mat-radio-group  [formControlName]="element.labelID" id='{{element.labelID}}'>
                  <mat-radio-button *ngFor="let item of element.masterDataValues" [value]="item.value">{{item.value}}</mat-radio-button>
                </mat-radio-group>
            </div>

            <div *ngIf="element.controlName == 'checkbox'">
                <mat-label><strong>{{element.fieldName}}</strong></mat-label><br><br>
              <div *ngFor="let item of element.masterDataValues ; let i = index">
            <mat-checkbox   (change)="onChange($event)" [value]="item.value" [formControlName]="element.labelID">{{item.value}}</mat-checkbox>
            <mat-hint>{{element.helpText}}</mat-hint>
          </div> 
           </div>    

           <div *ngIf="element.controlName == 'file' && element.htmlControlTypeName =='file'">
            <div class="custom-control-row">
              <div class="file-upload-container custom-field">
                <!-- real input -->
              <input #myInput hidden   [(ngModel)]="fileValue" [ngModelOptions]="{standalone: true}" type="file" name="file" id="file"
              class="input-file" (change)='fileInputChanged($event,element.labelID)'/>
              <div class="custom-input-label">
                <label class="label" (click)="myInput.click()"></label>
                <mat-form-field appearance="outline" class="demo-full-width" >
                <mat-label>Browse</mat-label>
                     <input matInput readonly [formControlName] = "element.labelID"  multiple="" 
                     [ngModelOptions]="{standalone: true}" [type]="hide ? 'password' : 'text'" matInput readonly> 
                     <mat-hint> Max size 128 x 128.PNG only.</mat-hint>
                     <svg-icon matSuffix src="assets/svg-icons/image_suffix.svg"></svg-icon>
                     <mat-error *ngIf="userFormData.controls[element.labelID].errors?.invalidFile">Max size 128 x 128.PNG only.</mat-error>
                     </mat-form-field>
              </div>
              
              <!-- upload and toggle container starts -->
              <div class="control-button-container">
              <button type="button" class="control-button upload-button" (click)="upload($event,element.labelID)"
              [disabled]="userFormData.controls[element.labelID].invalid || !progressBarValue == 100 || fileUploadButton">
              <svg-icon class="unit-icon" src="assets/svg-icons/cloud_upload.svg"></svg-icon>
                    <div [style.height.%]="progressBarValue"
                    [class.validated]="progressBarValue == 100 && userFormData.controls[element.labelID].valid"
                    [class.error]="progressBarValue == 100 && userFormData.controls[element.labelID].invalid"
                     class="custom-progress-division"></div>
              </button>
              </div>
              <div class="control-button-container">
                <button type="button"  class="control-button" (click)="hide = !hide" [disabled]="userFormData.controls[element.labelID].invalid || progressBarValue != 100">
                      <svg-icon *ngIf="!hide" class="unit-icon" src="assets/svg-icons/visibility_off.svg"></svg-icon>
                      <svg-icon *ngIf="hide" class="unit-icon" src="assets/svg-icons/visibility.svg"></svg-icon>
                  </button>
                
                </div>
                </div>
              </div>
             </div>

             <button *ngIf="element.controlName == 'button'" class="button no-margin" id='{{element.labelID}}' type='{{element.htmlControlTypeName}}'
             data-dismiss="modal">{{element.labelName}}</button>

             <button  *ngIf="element.controlName == 'submit'" class="button no-margin" id='{{element.labelID}}' type='{{element.htmlControlTypeName}}'
             data-dismiss="modal">{{element.labelName}}</button>
             <br>
             <button type = "button" *ngIf="element.controlName == 'cancel'" class="button no-margin" id='{{element.labelID}}' type='{{element.htmlControlTypeName}}'
             data-dismiss="modal" (click) = "cancel()">{{element.labelName}}</button>
           <!-- Mat Button List end -->

            <!-- File Upload -->

            <!--<div class="button-row" *ngIf="element.controlName == 'input' && element.htmlControlTypeName =='file'"  >
                <div class="upload-btn-wrapper example-full-width">
                  <button mat-mini-fab color="primary" class="eta-float-left">
                    <mat-icon aria-label="Example icon-button with a heart icon">attach_file</mat-icon>
                  </button>
                  <input type="file" name="myfile"  id='{{element.labelID}}' (change)="selectFile($event)"   accept=".png" placeholder="Upload Image" />
                  <mat-form-field  class="example-width">
                      <input type="text" matInput placeholder="Choose file" formControlName="userPhoto" readonly>
                    </mat-form-field>
                </div>
              </div>-->
  
              

            <!--   <select *ngIf="element.controlName == 'select'" (click)=getDropDownValue(element) id='{{element.labelID}}' class="form-control form-control-lg drpdn" name="function">
            <option *ngFor="let element3 of listObj[element.labelID]" value={{element3.id}}>{{element3.value}}</option>
          </select> -->
            <!-- <textarea *ngIf="element.controlName == 'textarea'" id='{{element.labelID}}' [required]='element.required' class="form-control permit-input inputwidth inputText "
              max="16" placeholder='{{element.labelName}}' name="name"></textarea> -->
<!--               <mat-form-field *ngIf="element.controlName == 'textarea'">
                <textarea matInput placeholder='{{element.labelName}}' [formControlName]="element.labelID" ></textarea>
              </mat-form-field> -->
          </div>
         <!--  {{currentTaskJson | json}} -->
        </form>
      </mat-card>
    </div>
  </div>
</div>
<div class="col-sm-6 table-padding ">
</div>
