<h1 class="target-area-title">My Preferences</h1>
<mat-card class="content-card">
    <form [formGroup]="form">
  <!-- select field language -->
   <div class="custom-control-row">
    <div class="custom-field custom-select custom-field-fw">
        <mat-form-field appearance="outline">
          <mat-label>Language</mat-label>
          <mat-select id="select-field-language" placeholder="Language" formControlName="language" required
          disableOptionCentering panelClass="custom-select-panel">
        <mat-option *ngFor="let item of languageList" [value]="item.language">
          {{item.language}}
        </mat-option>
        </mat-select>
          <mat-hint>Select your preferred Language.</mat-hint>
         <mat-error *ngIf="form.controls['language'].errors?.required">Language is required</mat-error>
        </mat-form-field>
      </div>
    </div> 

     <!-- select field communication channel -->
   <div class="custom-control-row">
    <div class="custom-field custom-select custom-field-fw">
        <mat-form-field appearance="outline" >
          <mat-label>Communication Channel</mat-label>
          <mat-select id="select-field-communicationChannel" placeholder="Communication Channel" formControlName="communicationChannel"
          disableOptionCentering panelClass="custom-select-panel">
          <mat-option *ngFor="let item of channelList" [value]="item.channelType">
            {{item.channelType}}
          </mat-option>
        </mat-select>
          <mat-hint>Select your preferred mode of Communication. </mat-hint>
         <mat-error *ngIf="form.controls['communicationChannel'].errors?.required">Communication Channel is required</mat-error>
        </mat-form-field>
      </div>
    </div> 

     <!-- select field currency -->
  <div class="custom-control-row">
    <div class="custom-field custom-select custom-field-fw">
        <mat-form-field appearance="outline" >
          <mat-label>Currency</mat-label>
          <mat-select id="select-field-currency" placeholder="Currency" formControlName="currency"
          disableOptionCentering panelClass="custom-select-panel">
          <mat-option *ngFor="let item of CurrencyList" [value]="item.currency">
            {{item.currency}}
          </mat-option>
        </mat-select>
          <mat-hint>Select your preferred display Currency.</mat-hint>
         <mat-error *ngIf="form.controls['currency'].errors?.required">Currency is required</mat-error>
        </mat-form-field>
      </div>
    </div> 

     <!-- select field workWeek -->
   <div class="custom-control-row">
    <div class="custom-field custom-select custom-field-fw">
        <mat-form-field appearance="outline" >
          <mat-label>Work Week</mat-label>
          <mat-select id="select-field-workWeek" placeholder="Work Week" formControlName="workWeek"
          disableOptionCentering panelClass="custom-select-panel">
          <mat-option *ngFor="let item of WorkWeekList" [value]="item.name">
            {{item.name}}
          </mat-option>
        </mat-select>
          <mat-hint>Select your Work Week.</mat-hint>
         <mat-error *ngIf="form.controls['workWeek'].errors?.required">Work Week is required</mat-error>
        </mat-form-field>
      </div>
    </div> 


     <!-- select field workShift -->
   <div class="custom-control-row">
    <div class="custom-field custom-select custom-field-fw">
        <mat-form-field appearance="outline" >
          <mat-label>Work Shift</mat-label>
          <mat-select id="select-field-workShift" placeholder="Work Shift" formControlName="workShift"
          disableOptionCentering panelClass="custom-select-panel">
          <mat-option *ngFor="let item of WorkshiftList" [value]="item.name">
            {{item.name}}
          </mat-option>
        </mat-select>
          <mat-hint>Select your Work Shift.</mat-hint>
         <mat-error *ngIf="form.controls['workShift'].errors?.required">Work Shift is required</mat-error>
        </mat-form-field>
      </div>
    </div> 

    <!-- input field - password -->
 <div class="custom-control-row">
    <div class="custom-field custom-field-fw">
        <mat-form-field appearance="outline">
          <mat-label>Current Password</mat-label>
          <input id="input-field-currentPassword" matInput placeholder="Current Password" [type]="hide ? 'password' : 'text'"  
          formControlName="currentPassword"  required>
          <mat-hint>Enter current Password.</mat-hint>
          <svg-icon *ngIf="hide" matSuffix src="assets/svg-icons/visibility.svg" (click)="hide = !hide"></svg-icon>
          <svg-icon *ngIf="!hide" matSuffix src="assets/svg-icons/visibility_off.svg" (click)="hide = !hide"></svg-icon>
         <mat-error *ngIf="form.controls['currentPassword'].errors?.required">Password is required</mat-error>
        </mat-form-field>
      </div>
    </div>


    <div class="form-action-buttons-div">
      <button id="button-submit" type="submit" class="button no-margin button-margin-right" [disabled] = "form.invalid" (click)="saveRecord(form.value)">Submit</button>
      <button id="button-cancel" type="button" class="button no-margin" (click) = "cancel()">Cancel</button>
    </div>
      </form>
</mat-card>