<div class="top-container">
<h3>Metrics</h3>

<div class="custom-slider-container">
<div class="custom-slider" #widgetsContent>

    <mat-card class="card" *ngFor="let card of cards">
   
     <div class="card-top">
   
       <h1 class="card-heading">{{card.heading}}</h1>
   
       <h4 class="card-second-heading">{{card.discription}}</h4>
    <div class="button-icon-group">
        <button mat-raised-button color="primary">View</button>
        <mat-icon class="icon">more_vert</mat-icon>
    </div>
     </div>
   
     </mat-card>
   
     <button  class="previous-button-arrow" (click)="prev()" mat-mini-fab><mat-icon>arrow_back_ios</mat-icon></button>
     <!-- <button class="previous-button-arrow" (click)="prev()"><mat-icon>arrow_back_ios</mat-icon></button> -->
     <!-- <button class="next-button-arrow" (click)="next()"><mat-icon>arrow_forward_ios</mat-icon></button> -->
     <button  class="next-button-arrow" (click)="next()" mat-mini-fab><mat-icon>arrow_forward_ios</mat-icon></button>
   </div>
  </div>

<div class="custom-container">
<h3>Functions</h3>
<span class='setting-icon'>
<i class="material-icons">
    settings
    </i></span>
</div>
<div class="function-button-group">
    <button mat-raised-button color="primary">Show All</button>
<button mat-raised-button color="default">Last 7 days</button>
<button mat-raised-button color="default">Last 30 days</button>
<button mat-raised-button color="default">Show Live</button>
<button mat-raised-button color="default">Show Test</button>

</div>

  </div>
  <mat-divider></mat-divider>
  <div class='custom-container'>
      <mat-checkbox></mat-checkbox>
      <span class='add-icon'>
          <i class="material-icons">
              add_box
              </i></span>
   
    <span class='search-icon'>
        <i class="material-icons">
            search
            </i></span>
  </div>


  <div>
   
    <table mat-table
    [dataSource]="dataSource" multiTemplateDataRows
    class="mat-elevation-z8">
<ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
 <th mat-header-cell *matHeaderCellDef> {{column}} </th>
 <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
</ng-container>

<!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
<ng-container matColumnDef="expandedDetail">
 <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
   <div class="example-element-detail"
        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
     <div class="example-element-diagram">
       <div class="example-element-position"> {{element.position}} </div>
       <div class="example-element-symbol"> {{element.symbol}} </div>
       <div class="example-element-name"> {{element.name}} </div>
       <div class="example-element-weight"> {{element.weight}} </div>
     </div>
     <div class="example-element-description">
       {{element.description}}
       <span class="example-element-description-attribution"> -- Wikipedia </span>
     </div>
   </div>
 </td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
<tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
   class="example-element-row"
   [class.example-expanded-row]="expandedElement === element"
   (click)="expandedElement = expandedElement === element ? null : element">
</tr>
<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>

  </div>
   
   