
  .cmyk-text {
    float: right;
    width: 72px;
    height: 72px;
    font-weight: bolder;
    line-height: 72px;
    text-align: center;
    text-shadow: 1px 1px 2px #bbb;
  }
  
  .color-picker .color-box {
    width: 100px;
    height: 25px;
    margin: 16px auto;
    cursor: pointer;
  }
  .color-picker{
    right: 32px !important;
    left: unset !important;
  }
  .change-me {
    cursor: pointer;
    font-size: 30px;
    font-weight: bolder;
  }
  .main-container{
      padding-top: var(--vertical-space-between-rows);
  }
  .heading-text{
      margin:  0 0 var(--vertical-space-between-rows) 0;
  }
  .flex-box{
      display: flex;
  }
  .col-3{
      width: 33%;
  }
  .col-4{
    width: 25%;
}
.col-4:nth-of-type(2){
    margin: 0 var(--horizontal-space-between-controls);
}
.col-4:nth-of-type(3){
    margin: 0 var(--horizontal-space-between-controls) 0 0;
}
  .col-3:nth-of-type(2){
      margin: 0 var(--vertical-space-between-rows);
  }
  .show-color-box{
    height: var(--app-bar-height);
    border-radius: 5px;
    margin: var(--vertical-space-between-rows) 0;
  }
  .nav-drawer-color-box{
      height: 100%;
      width: var(--app-bar-height);
      min-width: var(--app-bar-height);
      box-shadow: 0px 3px 5px -1px lightgrey, 
      0px 6px 10px 0px lightgrey, 
      0px 1px 18px 0px lightgrey;
  }
  .cards-color-box{
      width: 100%;
      margin: 16px;
      border-radius: 4px;
  }
  .hyperlink-demo-text{
      text-decoration: underline;
      cursor: pointer;
      margin: 0 0 0 16px;
      
  }
  .button-demo{
    font-family: var(--font-family);
    font-weight: 500px !important;
    font-size: var(--button-base-font-size);
    text-transform: uppercase;
    border: solid 1px lightgray !important;
    border-radius: 4px !important;
    padding: 0 var(--button-base-padding);
    height: var(--button-base-height);
    background: white;
    cursor: pointer;
    min-width: 120px;
    margin: auto;
  }
  .color-box{
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 16px;
    border-radius: 4px;
    vertical-align: middle;
    border: solid 1px lightgray;
}
.text-node{
  display: inline-block;
  margin-top: 30px;
  font-size: 30px !important;
  color: white;
}