<ng4-loading-spinner> </ng4-loading-spinner>
<form [formGroup]="form">
<div class="main-container color-configuration-component">
  
<p class="body-text1 heading-text">Two colors and its variants are used across this System. Change them below to reflect your visual brand.</p>

<div class="primary-color">
  <p class="body-text1 heading-text">Primary Color:</p>

  <div class="flex-box">
    <!-- main primary color division starts -->
  <div class="col-3">
      <div class="custom-field width-hundred-percent">
          <mat-form-field appearance="outline">
              <mat-label>Primary Color</mat-label>
              <input matInput placeholder="Primary Color" formControlName = 'primaryColor'  required
              [(ngModel)]="colorOptions[0].value" (ngModelChange)="doCompare(colorOptions[0].value)"
              (colorPickerOpen)="onEventLog('colorPickerOpen', $event)" 
              (colorPickerClose)="onEventLog('colorPickerClose', $event)"
               (cpInputChange)="onEventLog('cpInputChange', $event)" 
               (cpSliderDragStart)="onEventLog('cpSliderDragStart', $event)" 
               (cpSliderDragEnd)="onEventLog('cpSliderDragEnd', $event)"
               (change)="changed()" >
            <svg-icon matSuffix src="assets/svg-icons/color_lens.svg"  [(colorPicker)]="colorOptions[0].value"></svg-icon>
              <mat-hint>Click Palette to select, or Enter a Hex Value.</mat-hint>
             <mat-error>Reqired</mat-error>
            </mat-form-field>
            
        </div>
    <div class="width-hundred-percent show-color-box" [style.background]="colorOptions[0].value" ></div>
  </div>
  <!-- main primary color division ends -->
<!-- primary accent 1 color divsion starts -->
  <div class="col-3">
      <div class="custom-field width-hundred-percent">
          <mat-form-field appearance="outline">
              <mat-label>Primary Accent 1 (Lighter)</mat-label>
              <input matInput placeholder="Primary Accent 1 (Lighter)" formControlName= 'primaryAccent1Color' required
              [(ngModel)]="colorOptions[1].value" (ngModelChange)="doCompare(colorOptions[1].value)"
              (colorPickerOpen)="onEventLog('colorPickerOpen', $event)" 
              (colorPickerClose)="onEventLog('colorPickerClose', $event)"
               (cpInputChange)="onEventLog('cpInputChange', $event)" 
               (cpSliderDragStart)="onEventLog('cpSliderDragStart', $event)" 
               (cpSliderDragEnd)="onEventLog('cpSliderDragEnd', $event)" >
            <svg-icon matSuffix src="assets/svg-icons/color_lens.svg"  [(colorPicker)]="colorOptions[1].value">
            </svg-icon>
              <mat-hint>Click Palette to select, or Enter a Hex Value.</mat-hint>
              <mat-error>Reqired</mat-error>
            </mat-form-field>
        </div>
    <div class="width-hundred-percent show-color-box" [style.background]="colorOptions[1].value" ></div>
  </div>
  <!-- primary accent 1 color divsion ends -->

  <!-- primary accent 2 color divsion starts -->
  <div class="col-3">
      <div class="custom-field width-hundred-percent">
          <mat-form-field appearance="outline">
              <mat-label>Primary Accent 2 (Darker)</mat-label>
              <input matInput placeholder="Primary Accent 2 (Darker)" formControlName='primaryAccent2Color' required
              [(ngModel)]="colorOptions[2].value" (ngModelChange)="doCompare(colorOptions[2].value)"
              (colorPickerOpen)="onEventLog('colorPickerOpen', $event)" 
              (colorPickerClose)="onEventLog('colorPickerClose', $event)"
               (cpInputChange)="onEventLog('cpInputChange', $event)" 
               (cpSliderDragStart)="onEventLog('cpSliderDragStart', $event)" 
               (cpSliderDragEnd)="onEventLog('cpSliderDragEnd', $event)" >
            <svg-icon matSuffix src="assets/svg-icons/color_lens.svg"  [(colorPicker)]="colorOptions[2].value"></svg-icon>
              <mat-hint>Click Palette to select, or Enter a Hex Value.</mat-hint>
              <mat-error>Reqired</mat-error>
             
            </mat-form-field>
            
        </div>
    <div class="width-hundred-percent show-color-box" [style.background]="colorOptions[2].value" ></div>
  </div>
  <!-- primary accent 1 color divsion ends -->
</div><!-- display flex division ends -->

</div> <!-- primary color division ends -->

 <div class="secondary-color"><!-- secondary color division starts -->
    <p class="body-text1 heading-text">Secondary Color:</p>
  
    <div class="flex-box">
      <!-- main secondary color division starts -->
    <div class="col-3">
        <div class="custom-field width-hundred-percent">
            <mat-form-field appearance="outline">
                <mat-label>Secondary Color</mat-label>
                <input matInput placeholder="Secondary Color" formControlName ='secondaryColor' required
                [(ngModel)]="colorOptions[3].value" (ngModelChange)="doCompare(colorOptions[3].value)"
                (colorPickerOpen)="onEventLog('colorPickerOpen', $event)" 
                (colorPickerClose)="onEventLog('colorPickerClose', $event)"
                 (cpInputChange)="onEventLog('cpInputChange', $event)" 
                 (cpSliderDragStart)="onEventLog('cpSliderDragStart', $event)" 
                 (cpSliderDragEnd)="onEventLog('cpSliderDragEnd', $event)" >
              <svg-icon matSuffix src="assets/svg-icons/color_lens.svg"  [(colorPicker)]="colorOptions[3].value"></svg-icon>
                <mat-hint>Click Palette to select, or Enter a Hex Value.</mat-hint>
                <mat-error>Reqired</mat-error>
               
              </mat-form-field>
              
          </div>
      <div class="width-hundred-percent show-color-box" [style.background]="colorOptions[3].value" ></div>
    </div>
    <!-- main secondary color division ends -->
  <!-- secondary accent 1 color divsion starts -->
    <div class="col-3">
        <div class="custom-field width-hundred-percent">
            <mat-form-field appearance="outline">
                <mat-label>Secondary Accent 1 (Lighter)</mat-label>
                <input matInput placeholder="Secondary Accent 1 (Lighter)" formControlName ='secondaryAccent1Color' required
                [(ngModel)]="colorOptions[4].value" (ngModelChange)="doCompare(colorOptions[4].value)"
                (colorPickerOpen)="onEventLog('colorPickerOpen', $event)" 
                (colorPickerClose)="onEventLog('colorPickerClose', $event)"
                 (cpInputChange)="onEventLog('cpInputChange', $event)" 
                 (cpSliderDragStart)="onEventLog('cpSliderDragStart', $event)" 
                 (cpSliderDragEnd)="onEventLog('cpSliderDragEnd', $event)" >
              <svg-icon matSuffix src="assets/svg-icons/color_lens.svg"  [(colorPicker)]="colorOptions[4].value"></svg-icon>
                <mat-hint>Click Palette to select, or Enter a Hex Value.</mat-hint>
                <mat-error>Reqired</mat-error>
              </mat-form-field>
              
          </div>
      <div class="width-hundred-percent show-color-box" [style.background]="colorOptions[4].value" ></div>
    </div>
    <!-- secondary accent 1 color divsion ends -->
  
    <!-- secondary accent 2 color divsion starts -->
    <div class="col-3">
        <div class="custom-field width-hundred-percent">
            <mat-form-field appearance="outline">
                <mat-label>Secondary Accent 2 (Darker)</mat-label>
                <input matInput placeholder="Secondary Accent 2 (Darker)" formControlName ='secondaryAccent2Color' required
                [(ngModel)]="colorOptions[5].value" (ngModelChange)="doCompare(colorOptions[5].value)"
                (colorPickerOpen)="onEventLog('colorPickerOpen', $event)" 
                (colorPickerClose)="onEventLog('colorPickerClose', $event)"
                 (cpInputChange)="onEventLog('cpInputChange', $event)" 
                 (cpSliderDragStart)="onEventLog('cpSliderDragStart', $event)" 
                 (cpSliderDragEnd)="onEventLog('cpSliderDragEnd', $event)" >
              <svg-icon matSuffix src="assets/svg-icons/color_lens.svg"  [(colorPicker)]="colorOptions[5].value"></svg-icon>
                <mat-hint>Click Palette to select, or Enter a Hex Value.</mat-hint>
                <mat-error>Reqired</mat-error>
               
              </mat-form-field>
              
          </div>
      <div class="width-hundred-percent show-color-box" [style.background]="colorOptions[5].value" ></div>
    </div>
    <!-- secondary accent 2 color divsion ends -->
  </div><!-- display flex division ends -->
  
  </div> <!-- Secondary color division ends -->
  

  <div class="substrate-navDrawer-cards"><!-- substrate, nav dawer and cards color -->
      <p class="body-text1 heading-text">Substrate, Nav Drawer and Cards Color:</p>
      <div class="flex-box"> 
         <!-- Substrate color division starts -->
  <div class="col-3">
      <div class="custom-field custom-select width-hundred-percent">
          <mat-form-field appearance="outline">
              <mat-label>Substrate Color</mat-label>
              <mat-select appearance="outline"  formControlName ='substrateColor'
              disableOptionCentering panelClass="custom-select-panel" required
               placeholder="Substrate Color" [(ngModel)]="substrateColor" name="substrateColor" 
                [ngModelOptions]="{standalone: true}">
                 <mat-option *ngFor="let colorr of colorOptions" [value]="colorr"><span class="color-box" [style.background]="colorr.value"></span>{{colorr.name}} - {{colorr.value}}</mat-option>
     
              </mat-select>
              <mat-hint>Select from the list.</mat-hint>
              <mat-error>Reqired</mat-error>
                      </mat-form-field>
            
        </div>
    <div class="width-hundred-percent show-color-box" [style.background]="substrateColor?.value" ></div>
  </div>
  <!--Substratecolor division ends -->

      <!-- nav drawer color division starts -->
      <div class="col-3">
          <div class="custom-field custom-select width-hundred-percent">
              <mat-form-field appearance="outline">
                  <mat-label>Nav Drawer Color</mat-label>
                  <mat-select appearance="outline"  formControlName ='navDrawerBgColor'
                  disableOptionCentering panelClass="custom-select-panel" required 
                   placeholder="Nav Drawer Color" [(ngModel)]="navDrawerColor" name="navDrawerColor"
                    [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let colorr of colorOptions" [value]="colorr"><span class="color-box" [style.background]="colorr.value"></span>{{colorr.name}} - {{colorr.value}}</mat-option>
         </mat-select> 
                <mat-hint>Select from the list.</mat-hint>
                  <mat-error>Reqired</mat-error>
                          </mat-form-field>
                
            </div>
        <div class="width-hundred-percent show-color-box" [style.background]="substrateColor.value" >
          <div class="nav-drawer-color-box" [style.background]="navDrawerColor.value"></div>
        </div>
      </div>
      <!--nav drawer color division ends -->

        <!-- cards color division starts -->
        <div class="col-3">
            <div class="custom-field custom-select width-hundred-percent">
                <mat-form-field appearance="outline">
                    <mat-label>Cards Color</mat-label>
                    <mat-select appearance="outline" formControlName ='cardsBgColor'
                     disableOptionCentering panelClass="custom-select-panel" required
                     placeholder="Cards Color" [(ngModel)]="cardsColor" name="cardsColor"
                      [ngModelOptions]="{standalone: true}">
                      <mat-option *ngFor="let color of colorOptions" [value]="color"><span class="color-box" [style.background]="color.value"></span>{{color.name}} - {{color.value}}</mat-option>
     
                    </mat-select>
                    <mat-hint>Select from the list.</mat-hint>
                    <mat-error>Reqired</mat-error>
                            </mat-form-field>
              </div>
          <div class="width-hundred-percent show-color-box " [style.background]="substrateColor?.value" >
            <div class="display-flex" style="height: 100%">
            <div class="nav-drawer-color-box" [style.background]="navDrawerColor?.value"></div>
            <div class="cards-color-box" [style.background]="cardsColor?.value">{{cardsColor.value}}</div>
          </div>
          </div>
        </div>
        <!--cards color division ends -->
       
      </div>
  </div>
  <!-- hyperlink color division starts -->
  <div class="hyperlink-color">
      <p class="body-text1 heading-text">Hyperlink Colors:</p>
      <div class="flex-box">
<!-- hyperlink onDisplay color division starts -->
<div class="col-3">
    <div class="custom-field custom-select width-hundred-percent">
        <mat-form-field appearance="outline">
            <mat-label>Hyperlink Color</mat-label> 
            <mat-select appearance="outline" formControlName ='hyperlinkColor'
              disableOptionCentering panelClass="custom-select-panel" required
             placeholder="Hyperlink Color" [(ngModel)]="hyperLinkOnDisplayColor" name="hyperLinkOnDisplayColor"
              [ngModelOptions]="{standalone: true}">
              <mat-option *ngFor="let color of colorOptions" [value]="color"><span class="color-box" [style.background]="color.value"></span>{{color.name}} - {{color.value}}</mat-option>
           </mat-select> 
            <mat-hint>Select from the list.</mat-hint>
            <mat-error>Reqired</mat-error>
                    </mat-form-field>
          
      </div>
  <div class="width-hundred-percent show-color-box display-flex" [style.background]="substrateColor.value">
    <div class="cards-color-box  vertically-center-with-flex" [style.background]="cardsColor.value">
      <p class="hyperlink-demo-text body-text1" [style.color]="hyperLinkOnDisplayColor.value">HyperLink</p>
    </div>
  </div>
</div>
<!--hyperlink onDisplay division ends -->


<!-- hyperlink hover color division starts -->
<div class="col-3">
    <div class="custom-field custom-select width-hundred-percent">
        <mat-form-field appearance="outline">
            <mat-label>Hyperlink Hover Color</mat-label>
            <mat-select appearance="outline" formControlName='hyperlinkHoverColor'
             disableOptionCentering panelClass="custom-select-panel" 
             placeholder="Hyperlink Hover Color" [(ngModel)]="hyperLinkHoverColor" name="hyperLinkHoverColor"
              [ngModelOptions]="{standalone: true}">
              <mat-option *ngFor="let color of colorOptions" [value]="color"><span class="color-box" [style.background]="color.value"></span>{{color.name}} - {{color.value}}</mat-option>
           </mat-select> 
            <mat-hint>Select from the list.</mat-hint>
                    </mat-form-field>
          
      </div>
  <div class="width-hundred-percent show-color-box display-flex" [style.background]="substrateColor.value">
    <div class="cards-color-box  vertically-center-with-flex" [style.background]="cardsColor.value">
      <p class="hyperlink-demo-text body-text1" [style.color]="hyperLinkHoverColor.value">HyperLink</p>
    </div>
  </div>
</div>
<!--hyperlink hover color division ends -->


<!-- hyperlink click color division starts -->
<div class="col-3">
    <div class="custom-field custom-select width-hundred-percent">
        <mat-form-field appearance="outline">
            <mat-label>Hyperlink Click Color</mat-label>
            <mat-select appearance="outline" formControlName='hyperlinkClickColor'
             disableOptionCentering panelClass="custom-select-panel" 
             placeholder="Hyperlink Click Color" [(ngModel)]="hyperLinkOnClickColor" name="hyperLinkOnClickColor"
              [ngModelOptions]="{standalone: true}">
              <mat-option *ngFor="let color of colorOptions" [value]="color"><span class="color-box" [style.background]="color.value"></span>{{color.name}} - {{color.value}}</mat-option>
           </mat-select> 
            <mat-hint>Select from the list.</mat-hint>
                    </mat-form-field>
          
      </div>
  <div class="width-hundred-percent show-color-box display-flex" [style.background]="substrateColor.value">
    <div class="cards-color-box  vertically-center-with-flex" [style.background]="cardsColor.value">
      <p class="hyperlink-demo-text body-text1" [style.color]="hyperLinkOnClickColor.value">HyperLink</p>
    </div>
  </div>
</div>
<!--hyperlink click color division ends -->
      </div>
  </div>
  <!-- hyperlink color division ends -->

  <!-- button color configuration starts here -->
  <div class="button-configuraion">
    <p class="body-text1 heading-text">Button Colors:</p>
    <div class="flex-box">
 <!-- Button color division starts -->
      <div class="col-3">
    <div class="custom-field custom-select width-hundred-percent">
        <mat-form-field appearance="outline">
            <mat-label>Button Color</mat-label>
            <mat-select appearance="outline" formControlName='buttonBgColor'
             disableOptionCentering panelClass="custom-select-panel" required
             placeholder="Button Color" [(ngModel)]="buttonColor" name="buttonColor"
              [ngModelOptions]="{standalone: true}">
              <mat-option *ngFor="let color of colorOptions" [value]="color"><span class="color-box" [style.background]="color.value"></span>{{color.name}} - {{color.value}}</mat-option>
              </mat-select>
            <mat-hint>Select from the list.</mat-hint>
            <mat-error>Reqired</mat-error>
                    </mat-form-field>
          
      </div>
  <div class="width-hundred-percent show-color-box display-flex" [style.background]="substrateColor.value">
    <div class="cards-color-box  vertically-center-with-flex" [style.background]="cardsColor.value">
      <button class="button-demo" [style.background]="buttonColor.value"></button>
    </div>
  </div>
</div>
<!--Button color division ends -->


 <!-- Button hover color division starts -->
 <div class="col-3">
    <div class="custom-field custom-select width-hundred-percent">
        <mat-form-field appearance="outline">
            <mat-label>Button Hover Color</mat-label>
            <mat-select appearance="outline" formControlName='buttonHoverBgColor'
              disableOptionCentering panelClass="custom-select-panel" 
             placeholder="Button Hover Color" [(ngModel)]="buttonHoverColor" name="buttonHoverColor"
              [ngModelOptions]="{standalone: true}">
              <mat-option *ngFor="let color of colorOptions" [value]="color"><span class="color-box" [style.background]="color.value"></span>{{color.name}} - {{color.value}}</mat-option>
            
            </mat-select>
            <mat-hint>Select from the list.</mat-hint>
                    </mat-form-field>
      </div>
  <div class="width-hundred-percent show-color-box display-flex" [style.background]="substrateColor.value">
    <div class="cards-color-box  vertically-center-with-flex" [style.background]="cardsColor.value">
      <button class="button-demo" [style.background]="buttonHoverColor.value"></button>
    </div>
  </div>
</div>
<!--Button hover color division ends -->


 <!-- Button Click color division starts -->
 <div class="col-3">
    <div class="custom-field custom-select width-hundred-percent">
        <mat-form-field appearance="outline">
            <mat-label>Button Click Color</mat-label>
            <mat-select appearance="outline" formControlName='buttonClickBgColor'
             disableOptionCentering panelClass="custom-select-panel" 
             placeholder="Button Click Color" [(ngModel)]="buttonClickColor" name="buttonClickColor"
              [ngModelOptions]="{standalone: true}">
              <mat-option *ngFor="let color of colorOptions" [value]="color"><span class="color-box" [style.background]="color.value"></span>{{color.name}} - {{color.value}}</mat-option>
            
            </mat-select>
            <mat-hint>Select from the list.</mat-hint>
                    </mat-form-field>
          
      </div>
  <div class="width-hundred-percent show-color-box display-flex" [style.background]="substrateColor.value">
    <div class="cards-color-box  vertically-center-with-flex" [style.background]="cardsColor.value">
      <button class="button-demo" [style.background]="buttonClickColor.value"></button>
    </div>
  </div>
</div>
<!--Button Click color division ends -->
    </div>

    <div class="flex-box">
      <!-- Button text color disabled division starts -->
 <div class="col-4">
    <div class="custom-field custom-select width-hundred-percent">
        <mat-form-field appearance="outline">
            <mat-label>Button Text Color (Disabled)</mat-label>
            <mat-select appearance="outline" formControlName='buttonDisabledTextColor'
             disableOptionCentering panelClass="custom-select-panel" required
             placeholder="Button Text Color (Disabled)" [(ngModel)]="buttonTextColorDisabled" name="buttonTextColorDisabled"
              [ngModelOptions]="{standalone: true}">
              <mat-option *ngFor="let color of colorOptions" [value]="color"><span class="color-box" [style.background]="color.value"></span>{{color.name}} - {{color.value}}</mat-option>
           
            </mat-select>
            <mat-hint>Select from the list.</mat-hint>
            <mat-error>Reqired</mat-error>
                    </mat-form-field>
          
      </div>
  <div class="width-hundred-percent show-color-box display-flex" [style.background]="substrateColor.value">
    <div class="cards-color-box  vertically-center-with-flex" [style.background]="cardsColor.value">
      <button class="button-demo" [style.color]="buttonTextColorDisabled.value" >Submit</button>
    </div>
  </div>
</div>
<!--Button Click text color disabled division ends -->

   <!-- Button text color enabled division starts -->
   <div class="col-4"> 
      <div class="custom-field custom-select width-hundred-percent">
          <mat-form-field appearance="outline">
              <mat-label>Button Text Color (Enabled)</mat-label>
              <mat-select appearance="outline" formControlName='buttonEnabledTextColor'
                disableOptionCentering panelClass="custom-select-panel" required
               placeholder="Button Text Color (Enabled)" [(ngModel)]="buttonTextColorEnabled" name="buttonTextColorEnabled"
                [ngModelOptions]="{standalone: true}">
                <mat-option *ngFor="let color of colorOptions" [value]="color"><span class="color-box" [style.background]="color.value"></span>{{color.name}} - {{color.value}}</mat-option>
             
              </mat-select>
              <mat-hint>Select from the list.</mat-hint>
              <mat-error>Reqired</mat-error>
                      </mat-form-field>
            
        </div>
    <div class="width-hundred-percent show-color-box display-flex" [style.background]="substrateColor.value">
      <div class="cards-color-box  vertically-center-with-flex" [style.background]="cardsColor.value">
        <button class="button-demo" [style.color]="buttonTextColorEnabled.value" [style.background]="buttonColor.value">Submit</button>
      </div>
    </div>
  </div>
  <!--Button Click text color enabled division ends -->

   <!-- Button text color hover division starts -->
   <div class="col-4">
      <div class="custom-field custom-select width-hundred-percent">
          <mat-form-field appearance="outline">
              <mat-label>Button Text Hover Color</mat-label>
              <mat-select appearance="outline" formControlName ='buttonHoverTextColor'
               disableOptionCentering panelClass="custom-select-panel" 
               placeholder="Button Text Hover Color" [(ngModel)]="buttonTextHoverColor" name="buttonTextHoverColor"
                [ngModelOptions]="{standalone: true}">
                <mat-option *ngFor="let color of colorOptions" [value]="color"><span class="color-box" [style.background]="color.value"></span>{{color.name}} - {{color.value}}</mat-option>
              
              </mat-select>
              <mat-hint>Select from the list.</mat-hint>
                      </mat-form-field>
            
        </div>
    <div class="width-hundred-percent show-color-box display-flex" [style.background]="substrateColor.value">
      <div class="cards-color-box  vertically-center-with-flex" [style.background]="cardsColor.value">
        <button class="button-demo" [style.color]="buttonTextHoverColor.value" [style.background]="buttonHoverColor.value">Submit</button>
      </div>
    </div>
  </div>
  <!--Button Click text color hover division ends -->

   <!-- Button text color hover division starts -->
   <div class="col-4">
      <div class="custom-field custom-select width-hundred-percent">
          <mat-form-field appearance="outline">
              <mat-label>Button Text Click Color</mat-label>
              <mat-select appearance="outline" formControlName = 'buttonClickTextColor' 
              disableOptionCentering panelClass="custom-select-panel" 
               placeholder="Button Text Click Color" [(ngModel)]="buttonTextClickColor" name="buttonTextClickColor"
                [ngModelOptions]="{standalone: true}">
                <mat-option *ngFor="let color of colorOptions" [value]="color"><span class="color-box" [style.background]="color.value"></span>{{color.name}} - {{color.value}}</mat-option>
              
              </mat-select>
              <mat-hint>Select from the list.</mat-hint>
                      </mat-form-field>
            
        </div>
    <div class="width-hundred-percent show-color-box display-flex" [style.background]="substrateColor.value">
      <div class="cards-color-box  vertically-center-with-flex" [style.background]="cardsColor.value">
        <button class="button-demo" [style.color]="buttonTextClickColor.value" [style.background]="buttonClickColor.value">Submit</button>
      </div>
    </div>
  </div>
  <!--Button Click text color hover division ends -->
    </div>
  </div>
  <!-- button color configuration ends here -->

  <button (click)="submit()" class="button no-margin button-margin-right" [disabled]="form.invalid">Submit</button>
  <button (click)="cancel()" class="button no-margin">Cancel</button>

</div>
</form>