.example-card {
  max-width: 400px;
}

.example-card-auto {
  max-width: 600px;
}

.example-header-image {
  background-image: url("/assets/GT-Icon-Logo-yellow.png");
  background-size: cover;
}

.container {
  margin: 2em auto;
}

.eta-float-right {
  float: right;
}

.eta-float-left {
  float: left;
}

.eta-margin-all {
  margin: 10px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.free-trial-logo {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  flex-shrink: 0;
}

/* Absolute Center Spinner */
.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading-indicator:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}