<div class="loading-indicator" *ngIf="isSpinnerShow==true">
  <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
</div>
<div class="container">

  <mat-card class="example-card-auto eta-float-left">
    <h2  >Get Your FREE 30-Days Trial Now!</h2>
    <!--  <img class="  eta-float-left" src="assets/GT-Icon-Logo-yellow.png" width="410px" height="auto" alt="salesforce-logo-cloud"> -->
    <div class="example-header-image eta-float-left free-trial-logo"></div>
    <mat-card-header>

      <mat-card-title  >Sales Cloud - Professional Edition</mat-card-title>
      <mat-card-subtitle>Experience why over 2 million customers choose CRM</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://c1.sfdcstatic.com/content/dam/web/en_au/www/images/form/signup/img_freetrial-lb-wave.jpg"
      alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, id quis impetus ancillae cum, sit id brute fierent patrioque. Dolor quidam expetenda mea te.
        Odio iusto sadipscing an his, vix adhuc homero scripta ut. Sed solet consul inciderint eu, ei sed iuvaret veritus.
        Option discere assentior vim eu. Nibh inani liberavisse et quo. At vocent albucius sed. No melius latine delenit
        sit. An petentium urbanitas duo, unum oratio id his, vero partem forensibus mei no. Ea pri sumo corpora facilisi,
        vel alia veri dolorem et, in facer iusto qui. Usu vero ferri ea, labitur imperdiet eu per. At falli legimus eam,
        delectus delicata pro no. No vel adhuc primis intellegam. Et quo denique reprimique, his no fugit nostrud. Maluisset
        neglegentur usu te, cu diam vidisse sed. At prima essent audire sea, pro et wisi tamquam admodum, te per dolorem
        copiosae.
      </p>
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
  </mat-card>

  <!-- Start Your Free Trial Form Start Here  -->
  <mat-card class="example-card eta-float-right">

    <mat-card-title>Start your free trial now.</mat-card-title>
    <mat-card-subtitle>Please complete all fields.</mat-card-subtitle>



    <form [formGroup]="orgfrm" (ngSubmit)="onSubmit()">
      <!-- Org Header tag start-->
      <mat-form-field class="example-full-width">
        <mat-icon matSuffix>perm_identity</mat-icon>
        <input matInput #message placeholder="Enter ORG Name" formControlName="orgName" />
        <mat-hint align="end">{{message.value.length}} / 50</mat-hint>
        <mat-error> Enter Your Organization Name</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-icon matSuffix>perm_identity</mat-icon>
        <input matInput #message placeholder="Enter ORG Type" formControlName="orgType" />
        <mat-hint align="end">{{message.value.length}} /50</mat-hint>
        <mat-error> Enter Your Organization Type</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input type="text" etaNumberValidate matInput placeholder="Enter Phone Number" formControlName="phoneNumber" minlength="10"   required/>
        <mat-icon matSuffix>contact_phone</mat-icon>
        <!--  -->
        <mat-hint align="end">Hint :- (012) 345 6789 </mat-hint>
        <mat-error> Enter A Valid Phone Number</mat-error>
       
        
      </mat-form-field>

      <mat-form-field class="example-full-width" *ngIf="addOrEditOrg == true">
        <mat-icon matSuffix>perm_identity</mat-icon>
        <input  matInput  etaNameValidate #message placeholder="Enter Contact Person" formControlName="contactPerson" minlength="4"/>
        <mat-hint align="end">{{message.value.length}} / 50</mat-hint>
        <mat-error>Please enter Contact Person Name</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" *ngIf="addOrEditOrg == false">
        <mat-icon matSuffix>perm_identity</mat-icon>
        <input  matInput  etaNameValidate #message placeholder="Enter First Name" formControlName="firstName" minlength="4"/>
        <mat-hint align="end">{{message.value.length}} / 50</mat-hint>
        <mat-error>Please enter Contact Person Name</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" *ngIf="addOrEditOrg == false">
        <mat-icon matSuffix>perm_identity</mat-icon>
        <input  matInput  etaNameValidate #message placeholder="Enter Last Name" formControlName="lastName" minlength="4"/>
        <mat-hint align="end">{{message.value.length}} / 50</mat-hint>
        <mat-error>Please enter Contact Person Name</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-icon matSuffix>email</mat-icon>
        <input matInput type="text"  etaEmailValidate placeholder="Enter Your Email Address" formControlName="emailaddress" required />
        <mat-hint align="end">
          <strong>Hint : </strong> example@eta.com
        </mat-hint>
        <mat-error>Please enter Valid Email Address</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input type="tel" matInput placeholder="Enter User Name" formControlName="userName" required (blur)="checkUserNameAvailability($event)">
        <mat-spinner *ngIf="showSpinner==true" matSuffix [diameter]="20"></mat-spinner>
        <!--  <mat-icon matSuffix>contact_phone</mat-icon> -->
      </mat-form-field> 
      <div style="color: red" *ngIf ="usernameTaken !=null">{{usernameTaken}}</div>

      <mat-form-field class="example-full-width">
        <mat-select placeholder="Select Country" formControlName="countryId">
          <mat-option *ngFor="let countryObj of countryList" [value]="countryObj.countryId">
            {{countryObj.countryName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-icon matSuffix>web</mat-icon>
        <input type="url" matInput placeholder="Enter web site url" formControlName="website" />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input type="tel" matInput placeholder="Enter Fax Number" formControlName="faxNumber" />
        <mat-icon matSuffix>contact_phone</mat-icon>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-icon matSuffix>speaker_notes</mat-icon>
        <input matInput placeholder="Enter Remarks" formControlName="remarks" />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-icon matSuffix>web</mat-icon>
        <input type="url" matInput placeholder="Enter ORG Domain url" formControlName="orgDomain" />
      </mat-form-field>


       <mat-checkbox formControlName="agreeAgreement" required ><span>I agree <a href="" >Subscription Agreement.</a></span></mat-checkbox>


      <!-- <div class="button-row">
            <div class="upload-btn-wrapper">
              <button mat-raised-button color="primary" class="eta-float-right"> Select Your Profile Image
                <mat-icon aria-label="Example icon-button with a heart icon">attachment</mat-icon>
              </button>
              <input type="file" name="img" (change)="selectFile($event)" accept=".png" placeholder="Upload Image" required/>
            </div>
          </div>
   -->
      <div class="button-row">
        <button type="submit" [disabled]="orgfrm.invalid" mat-raised-button color="primary">Start Free Trial</button>
        <button type="reset" class="eta-margin-all"  (click)="cancel()" mat-raised-button color="primary">Cancel</button>
      </div>
    </form>




  </mat-card>
  <!-- Start Your Free Trial Form Start End  -->




</div>
