a {
  text-decoration: none;
}

a:hover {
  color: #A6510C;
}

.colorA6510C {
  color: #A6510C;
}

/* Material design css start */

.eta-margin-all {
  margin: 10px;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */



.ngx-toolbar{
  font-size: 1.0em;
  background-color: blueviolet;
}


