
.content-card{
    padding: 0 !important;
    overflow: hidden;
}
.top-container{
    padding: var(--content-inside-padding);
    padding-bottom: 0;
}

/*table modification button styles starts*/
.table-modification-button-container{
    padding: var(--content-inside-padding);
    padding-top: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .table-modification-button-container .inner-center-division{
  position: relative;
  }
  .modification-buttons {
    margin-right: var(--content-inside-padding);
  }
  
  /*table modification button styles ends*/
  .data-objects-container{
    padding:  var(--content-inside-padding) 0 0 0;
    max-height: 400px;
    overflow: auto;
}
.dataobject-row .data-object-name-field{
    flex: 100%;
}
.dataObject{
    padding:  0 var(--content-inside-padding);
    border-bottom: solid lightgray 1px;
    margin-bottom: var(--content-inside-padding);
}
.dataObject:last-of-type{
    margin-bottom: 0 !important;
}

  .data-element-row .input-fields-division{
      width: 100%;
  }
  .data-element-hide-show-button{
      margin-left: var(--vertical-space-between-rows);
  }
  .data-element-division{
      width: 100%;
  }
  .data-element-division .table-modification-button-container{
      padding: 0 0 var(--content-inside-padding) 0 !important;
  }
  .data-element-check-row-checkbox{
      margin-right: var(--content-inside-padding) !important;
  }
.form-button-toolbar{
    padding: 0;
    height: auto;
    background: white;
}

  .submit-button{
    margin: var(--content-inside-padding) !important;
}