/* .form-list-container {
    width: 700px;
    border: solid lightgray 1px;
    margin: auto;
}
.top-container{
    background-color: lightgray;
    padding-bottom: 15px;
    position: relative;
    border-bottom: solid 1px #00000036;
}
.top-container button{
    margin-right: 15px;
}
.top-container .setting-icon{
    position: absolute;
    top: 0;
    right: 0;
}
.icons-group .search-icon{
    float: right;
}
.icons-group .check-box{
    vertical-align: super;
    margin-left: 10px;
} */
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  