
<!-- <div class="form-list-container">
  <div class="top-container">
  <h2 class="target-area-title">Forms</h2>
  <button mat-raised-button>Show Live</button>
  <button mat-raised-button>Show test</button>
  <i class="material-icons medium-square-icon icon-without-area setting-icon">settings</i>
</div>
<mat-divider></mat-divider>
<mat-tab-group>
    <mat-tab label="All">  </mat-tab>
    <mat-tab label="GFP"></mat-tab>
    <mat-tab label="AFP"> </mat-tab>
  </mat-tab-group>
  <div class="icons-group">
      <mat-checkbox class="check-box"></mat-checkbox>
    <i class="material-icons medium-square-icon">delete</i>
    <i class="material-icons medium-square-icon search-icon">search</i>
  </div>
</div> -->

<h2>Example of type ahead</h2>
    <div class="custom-field custom-autocomplete">
      
  <mat-form-field appearance='outline' class="example-full-width">
      <mat-label>Name</mat-label>
    <input #inputField type="text" placeholder="Name" aria-label="Number" [(ngModel)]='inputNgModel' matInput [formControl]="myControl" [matAutocomplete]="auto" [formControl]="inputName" required>
    <div class="custom-autocomplete">
    <mat-autocomplete #auto="matAutocomplete" class="custom-autocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete></div>
    <mat-icon matSuffix>search</mat-icon>
    <mat-hint>As Printed in passport</mat-hint>
    <mat-error *ngIf="inputName.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</div>

<h2>Example of Select tag</h2>
<div class="custom-field-40px-height custom-select">
    <mat-form-field appearance="outline">
      <mat-label>Label</mat-label>
   <mat-select placeholder="Favorite animal" [formControl]="animalControl" required>
      <mat-option>--</mat-option>
      <mat-option *ngFor="let animal of animals" [value]="animal">
        {{animal.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </div> 

  <!-- <mat-form-field appearance='outline'>
    
      <select *ngIf='cars' matNativeControl placeholder="Favorite car" name="car" [formControl]="animalControl">
        <option value="" selected></option>
        <option *ngFor="let car of cars" [value]="car.value">
          {{car.viewValue}}
        </option>
      </select>
   
      <mat-hint>Hint</mat-hint>
    </mat-form-field> -->
   