<div>
  <!-- Form col-sm-6 tage start-->
  <div class="col-sm-6 div-padding">
    <!-- Form table-padding tage start-->
    <div class="table-padding">
      <!-- Form formatter tage start-->
      <!-- Org Header tag start-->
      <mat-toolbar color="primary">Organization Location Configuration</mat-toolbar>
      <!-- Org Header tag End-->
      <mat-card>

        <form [formGroup]="countryForm" (ngSubmit)="onSubmit(countryForm.value)">

          <!-- Country list start -->
          <mat-form-field class="example-full-width">
            <mat-select placeholder="Select Country" formControlName="country" (selectionChange)="countrySelected($event.value)">
              <mat-option *ngFor="let countryObj of countryList" [value]="countryObj.countryId">{{countryObj.countryName}}</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- Country list end -->

          <!-- State list start -->
          <mat-form-field class="example-full-width">
            <mat-select placeholder="Select State" formControlName="state">
              <mat-option *ngFor="let stateObj of stateList" [value]="stateObj.stateId">{{stateObj.stateName}}</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- State list end -->

          <!-- Currency Name list start -->
          <mat-form-field class="example-full-width">
            <mat-select placeholder="Select Currency" formControlName="currency">
              <mat-option *ngFor="let currencyObj of currencyList" [value]="currencyObj.currencyID">{{currencyObj.name}} </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- Currency Name list end -->

          <!-- Currency Symbol list start -->
          <mat-form-field class="example-full-width">
            <mat-select placeholder="Select Currency Symbol" formControlName="symbol">
              <mat-option *ngFor="let currencySymbolObj of currencyList" [value]="currencySymbolObj.currencyID">
                <strong style="font-size: 18px">{{currencySymbolObj.symbol}} </strong> {{ currencySymbolObj.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- Currency Symbol list end -->

          <!-- Currency Display Format list start -->
          <mat-form-field class="example-full-width">
            <mat-select placeholder="Currency Display Format" formControlName="currencySymbolFormat">
              <mat-option *ngFor="let currencyDispObj of currencyList" [value]="currencyDispObj.currencyID">{{currencyDispObj.symbol}}</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- Currency Display Format list end -->

          <!-- Date and Time Display Format list start -->
          <mat-form-field class="example-full-width">
            <mat-select placeholder="Date and Time Display Format" formControlName="dateTimeFormat">
              <mat-option *ngFor="let dateTimeObj of DateTimeFormatList" [value]="dateTimeObj.id">{{dateTimeObj.formatType}}</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- Date and Time Display Format list end -->

          <!-- Measurement list start -->
          <mat-form-field class="example-full-width">
            <mat-select placeholder="Measurement" formControlName="measurement">
              <mat-option *ngFor="let distanceMeasurement of DistanceMeasurementList" [value]="distanceMeasurement.id">{{distanceMeasurement.symbolName}}</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- Measurement list end -->

          <!-- TimeZone list start -->
          <mat-form-field class="example-full-width">
            <mat-select placeholder="Time Zone" formControlName="timezone">
              <mat-option *ngFor="let timezoneObj of timezoneList" [value]="timezoneObj.timezoneId">{{timezoneObj.timezoneAbbr + timezoneObj.timezoneDescription}}</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- TimeZone list end -->

          <!-- Domain start -->
          <mat-form-field class="example-full-width">
            <mat-icon matSuffix>speaker_notes</mat-icon>
            <input matInput placeholder="Domain" formControlName="domain">
          </mat-form-field>
          <!-- Domain end -->

          <div class="button-row">
            <button type="submit" mat-raised-button color="primary">Add</button>
            <button class="eta-margin-all" type="button" (click)="cancel()" mat-raised-button color="primary">Cancel</button>
          </div>

        </form>
      </mat-card>
      <!-- Form formatter tage end-->
    </div>
    <!-- Form table-padding tage end-->
  </div>
  <!-- Form col-sm-6 tage end-->
  <div class="col-sm-6 table-padding">
      <mat-toolbar color="primary"> List of Location</mat-toolbar>
  <mat-card>
      <mat-data-table [myDataUrl]=location_url [defaultSortColumn]=defaultColumnToSort></mat-data-table>
  </mat-card>
</div>
</div>

