<div *ngIf="languageData!=null" class="table-responsive  table-padding">
    <table datatable [dtOptions]="dtOptions" id="datatabledcsdf" class="awidth row-border hover display table table-bordered striped">
        <thead>
            <tr class="gridheader">

                <th class="icon-margin">Template Name</th>
                <th *ngFor="let key of tdheader" class="icon-margin">{{key.spdlanguage.language}}</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let gefield of gefields" class="overflowTest ">

                <td>
                    <span>{{gefield.mailSendEvent}} </span>
                </td>

                <td *ngFor="let thd of tdheader" cass="tab-font-size font-weight" style="cursor: pointer;" data-toggle="modal" data-target="#myModal"
                    (click)="editMessage(gefield,thd)">
                    <span *ngFor="let email of gefield.templateTranslateWapper" cass="tab-font-size font-weight">
                        <span id="overflowTest" *ngIf="thd.languageId  == email.languageId">{{htmlToPlaintext(email.translationMailMessage) }}</span>
                    </span>
                </td>
            </tr>
          
        </tbody>
    </table>

    <!-- pop code -->

    <div class="container">
        <!--  -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" (click)="refresh()">&times;</button>
                    </div>
                    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

                        <div class="  form-group form-group-margin  user-input-wrp ">
                            <input type="text" readonly value={{editEmailTemplate}} class="form-control permit-input inputwidth" name="templateId" />
                        </div>
                        <div class="  form-group form-group-margin  user-input-wrp ">
                            <input type="text" readonly value={{editLangId}} class="form-control permit-input inputwidth" name="languageId" />
                        </div>

                        <!--   Subject and Message code   here -->

                        <div class="  form-group form-group-margin  user-input-wrp ">
                            <input type="text" class="form-control permit-input inputwidth" max="16" formControlName="editSubject" value={{editSubjectValue}}
                                name="name" required/>
                            <span class="floating-label">Translation Subject</span>
                        </div>

                        <div class="form-group labelmargin user-input-wrp">
                            <label class="label labelfont">Body:</label>
                            <textarea [froalaEditor] rows="5" name="TranslationMailMessage" formControlName="editMessage" character="256" value={{editSubjectValue}}> {{editSubjectValue}} </textarea>
                        </div>
                        <!--   ubject and Message code   here -->
                        <div class="button-div">
                            <button type="submit" class="btn btn-default btn-add btn-border">Add</button>

                        </div>
                    </form>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default" data-dismiss="modal" (click)="refresh()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  Popup code end here -->

</div>