
/* Grid css */

.gridheader>th{
    margin: 5px;
    padding: 5px;
    word-wrap: normal;
    width:30% auto;
    color: #FFFFFF;
    font-weight: 400;
}
.gridheader :first-child {
    width: 25%;
    color: #FFFFFF;
    font-weight: 400;
  }
.overflowTest {
    margin: 5px;
    padding: 5px;
    overflow: hidden; 
    word-wrap: normal ;
    font-weight: 400;
    color: #141414;
    font-size: 15px;
}
.form-check-input-size{
    zoom:1.7;
    margin: 5px ;
}
   