

  <div dir="rtl" class="custom-checkbox-group">
<p class="group-label" [class.error]="checkboxErrorApplied && interestFormGroup.value.interests.length == 0">Select best cities</p>

      <form [formGroup]="interestFormGroup">

         <div *ngFor="let interest of interests; let i = index" >
              <mat-checkbox class="custom-checkbox" 
              (change)="onChange($event)" [value]="interest">{{interest}}</mat-checkbox>
          </div>

        
      </form>
<mat-hint *ngIf='!checkboxErrorApplied || interestFormGroup.value.interests.length > 0'>Select all that apply.</mat-hint>
<mat-error *ngIf='checkboxErrorApplied && interestFormGroup.value.interests.length == 0'>Selection is needed</mat-error>
</div>
<br>
<button (click)=check()>Check</button>
