ul{
    padding: 0;
}
ul li{
    list-style: none;
}
.mystyle {
    width: 100%;
    padding: 25px;
    background-color: coral;
    color: white;
    font-size: 25px;
    box-sizing: border-box;
  }
  table, th, td {
    border: 1px solid black;
    color: black;
    border-collapse: collapse;
  }
  .mat-radio-button {
      margin-bottom: 8px;
  }
  .help-text{
      display: block;
      font-size: 11px;
      margin-bottom: 8px;
  }
  .radio-label {
      margin:  8px 0 16px 0;
  }
  img{
      width: 200px;
  }

  /*modification button group(check all, add new and delete button)styles starts */
.modification-buttons-group{
    padding: 10px 0;
}
.modification-buttons-group button .data-object-check-all-button{
    vertical-align: super;
}
.modification-buttons-group .add-button{
    margin: 0 15px;
  
}
.modification-buttons-group button{
    background: none;
    border: none;
    padding: 0;
    vertical-align: middle;
}
 /*modification button group(check all, add new and delete button)styles ends */