  <h2>Example custom field 40px height</h2>
<div class="custom-field" dir="ltr" style="width: 300px">
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Placeholder" [formControl]="dummyInput">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

      <mat-hint>Hint Text</mat-hint>
      <mat-error *ngIf="dummyInput.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div> <!--style="unicode-bidi: bidi-override;" -->

<h2>Example custom text area</h2>
    
 <div dir="ltr" >
<mat-form-field  appearance="outline" class="custom-text-area">
    <mat-label>Description*</mat-label>
    <textarea matInput  [(ngModel)]="functionDescription" #textarea maxlength="256" placeholder="Description"></textarea>

    <mat-hint>{{256 - textarea.value?.length}} Characters remaining.</mat-hint>

  </mat-form-field>
</div>
  <h4>Basic mat-select</h4>
  <div dir="ltr" class="custom-select custom-field" style="width: 300px">


  <mat-form-field appearance="outline"  >
    <mat-label>Label</mat-label>
      <mat-select placeholder="Favorite animal" [formControl]="selectFormControl" required  disableOptionCentering panelClass="custom-select-panel ltr">
        <mat-option>-none-</mat-option>
        <mat-option *ngFor="let animal of animals" [value]="animal">
          {{animal.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="selectFormControl.hasError('required')" >Please choose an animal</mat-error>
      <mat-hint>Select a theatre nearest you.</mat-hint>
    </mat-form-field>
</div>


<div dir="ltr" class="custom-datepicker custom-field">
<mat-form-field appearance='outline'  [class.custom-error]='dateError' >
  <mat-label>Date of birth</mat-label>
  <input  matInput    (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)" [matDatepicker]="picker" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
  <mat-hint>{{dateError? 'Select date in past.' : 'Select your Date of birth.'}}</mat-hint>
  
</mat-form-field>
</div>
<p>{{dateError}}</p>
<button class='button' (click)='onDateChange()'>Check</button>
<button class='button' >Check</button>


<form #formControl='ngForm'>
  <label>name</label>
  <input type="text" required name="firstName"  [(ngModel)]='fName' #fNameControl='ngModel'>
  <p *ngIf='fNameControl.invalid'>this is required</p>
  <label for="lastName">name</label>
  <input type="text"  name="lastName" id="lastName" [(ngModel)]='LName'>
  <input type="text"> 
</form>
{{formControl.value | json}}
{{formControl.touched | json}}
{{formControl.valid | json}}
<p>svg icon</p>
<mat-icon svgIcon="Add_Square"></mat-icon>

<br>
<!-- <div class="svg-icon">
  <mat-icon svgIcon="Add_Square"></mat-icon>
</div> -->
<!-- <mat-icon class=" medium-square-icon-with-border">card_travel</mat-icon>
<i class="material-icons medium-square-icon-with-border">card_travel</i> -->

<br>
<br>
<div class="custom-svg">
  
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 512 512" xml:space="preserve">  <image id="image0" width="512" height="512" x="0" y="0"
        xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAgAAAAIACAQAAABecRxxAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
    AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZ
    cwAADdcAAA3XAUIom3gAAAAHdElNRQfjAR8HNQm3vMFiAAAXqklEQVR42u3de5AV5ZnH8d9ccLgH
    L8NwM4BMjEGjjngJhcCGrBQVwqqbddWQXWOikmxF3FC1SYyVzSap0mipm0uldNVULhWSEONGRVYk
    uCuoUTQKJkgRHLkjM4yIwIAMAmf/OIMOzJk5t+736T7P99NVaDEz/Txvn3l/dPfp012l9KjWqWpU
    o8ZokAZ2LgPe+2+VdXtwJaN9ale72t/7b7v2aKOa1aytOmLdXqGSPm1GabwaO5fTVGfdDlCADq1X
    c+eyRlut2+lNUgPgDE3RZE3WaOtGgDJt0tN6Wsu11rqRXJIVADU6p3Pi11u3AkSsrTMIXtFh61be
    l5QAqNEnNFuX6gPWjQAx261HNF9PJiMGkhAAF2q2rlSDdRtAQK1aoPl6wboN2wA4XbP1GTVabwTA
    SLN+pflaZ9eAVQDU6B/1FV1gN3AgMV7U3XrQ5pDAIgDqdI2+qnEWwwUSqlm36xc6GLps6AAYqDma
    pxGhhwmkwDbdqfu1L2TJkAFwkubqRp0UcnhAyrypH+pHejtUuVAB0F+3aK4GhhoWkGJ79Z/6nt4J
    USpMAFymH+iDQSoBlWGD5uqx+MvEHwBj9SPNjH8gQMV5VDdpY7wlamJde51u1m80Pt4hABXqw5oj
    aUWcbxDGuQdwiX6sD8W4fsCDdfqy/hDXyuMKgMG6V1fH1TTgzK/1Re2JY8XxBECTHuRCHyBCzbpC
    q6JfbXUMrX5JzzH9gUg16jndEP1qo94DGKT7dFWQDQL4M19zor1SMNoAOFsP6vSgGwTwZa3+Qa9G
    t7ooDwGu0wqmPxCrM/SCroludVFdB1Cr+/Ut1ZpsEsCTPrpMDXpcmShWFs0hQD8t0CzTjQL48t/6
    jDrKX00UATBEC3Wx9fYAnHlKl5Z/bUD5ATBci3W29bYAHFqlGWotbxXlBkCjlmis9XYAnHpd07W+
    nBWU9y5Ak55h+gNmxulZnVvOCsoJgKl6ipt5A6aGaZmmlv7jpR8CTNVi9bUePQAd0AwtK+1HSw2A
    Jj2lwdbjBiBJ2qOppX1UqLQAaNQz7PwDCdKiSaWcDiwlAIbrWU79AQnzuiYV/6Zg8ScBh2gx0x9I
    nHFaXPxhebEB0E8LuewHSKRz9YjqivuR4gKgVr/lol8gsf5GvypuThf3acAHdKX1CAH04iMaqkWF
    f3sxAXCDvmk9OgB5XKCNeqXQby78XYBz9DwX/gApsF8XFnrXoEIDYJBe4h7/QEqs1fmF3Tuw0BMG
    9zP9gdQ4Q/9V2DcWdg7gS/qa9YgAFOFsbddL+b+tkEOA8/THYt9dBGDsgCbm/3xA/gAYrJd5zAeQ
    Qs2akO+mYfnPAdzL9AdSqVH35PuWfHsAl2iJ9SgAlGx6708W7j0ATtBfeNQHkGLr9FEd7PnLvb8L
    8HVdYd0/gDKcrA493fOXe9sDGKM16mfdP4CyvKPx2tjTF3s7CfgDpj+Qev30g56/2PMewKe00Lpz
    AJGYpcdyf6GnAOinV7nvD1AhNuhMvZPrCz2dBPymLrPuGUBETtRhPZXrC7n3AIZoswZZ9wwgMnv1
    Qb3d/a9znwS8kekPVJRBujHXX+faAxigjTrFul8AkXpTY7rfI6A2xzden7rpf0Rv6bB1E3ClRieV
    +Wjd0E7R9fr+8X/ZfQ/gBK3XSOte81ijlWpRq1o7/2xj+iO4GtWrQQ0a1vnnefqIdUt5bNNpvV0W
    nHWdMoldOvSEbuTtSSTUaZqrJeownyc9L9flG0KNXjNvMteyXT/R5Rpo/QoDeQ3Sp/VTtZrPmVzL
    a/nuAXaVeYvdl9d1dRmPMQcsVOuftMF87nRfruq97RfMGzx2adWX1cf6tQRKcoJu0g7zOXTs8kJv
    DZ9u3l7XZY++xU4/Um6Q/kN7zedS16WXO3x827y5o8tB/VD11q8dEImh+qEOms+po8u3e240KScA
    2zTZ+jUDIjVZbebzKru81lOLF5q3ll1W80YfKtBYrTafW9nlwveb6not02zrLSRJWqSJ2mDdBBC5
    DZpYzHN7Y5RzpteoxTyZMrozZZdXAsWo1p3mcyyjllxXA0w3b6tD11q/PkDsrk3AtYLTu7f1c/Pp
    P836lQGCmGYeAT8/vqUa7TZuiX/94cfnjWfb7uMPAiYYN3Sn9SsCBHW38YybcGw780ybeYxTf3Cm
    Ro+bzrl52TaOTrwphptita7WEevXAwjqsK7SWsP6x8z4Ku00S6IdXPYDpxoN593Orp+w/ahZGx1c
    9AvHpulds7n3UenoIYDdAcCPe3twIVDh/lf3mdXuMusXGGXQbp1s/QoAphrMPiy8QLLeA7hDO623
    P2CqVXcZVX5v1jcaJdB29bfe+oC5gWb3D2zM7gFY3cz429pvve0Bc+36jlHlj2QDYJxJ8df0gNGw
    gWS5T80mdcdlA6DRpPgtOmRSF0iad3WLSd1Guz2ALfqdyZCBJHpQWw2qjrMLgEXKGFQFkimj/zGo
    Ok6qVo3GGJR+zKAmkFwWNwsbo5oqjTG4A987OlnvGAwYSKoB2qm64FXHVpscADzJ9AeOsU9PGVQd
    V23yHkAy7o0KJInFrGis1miDspwBAI5nEQCjqzU4eNFXTN7yAJJtvcENQgZXGzx+86XgFYE0eDl4
    xYEWAdAavCKQBi3BK5oEwI7gFYE0CP9PI3sAQGKE3wMYUK0BwYuyBwDkwh4A4BjnAADHDPYAqrQ3
    cAQcUR8eAwLkUKODgZ+R1R7+HMBbTH8gp8N6K3DFAdVdnw8SaJAAcgs9O6p4KCfgGAEAOEYAAI4R
    AIBjBADgGAEAOEYAAI4RAIBjBADgGAEAOEYAAI4RAIBjtdYNIFZ1qld9yY+c6lCb2tRhPQjEhwCo
    TH00SzM0PZLHvmzWEj2hhQRBZcoEXsLf9sibWn1eGyJ/3TbpOv65iF1L8PlIAFSY4Xo+ttfueQ23
    Hl6FCx4AnASsLE16URfFtvaL9KKarIeIKBEAlWSUHtfIWCuM1OMaZT1MRIcAqBx99bAaYq/SoIfV
    13qoiAoBUDnmaUKQOhM0z3qoiEqVMoErtmqY9aAr0hBt0JBAtd7WWL1tPeCK1BJgH+4Y7AFUijnB
    pr80RHOsh4toEACVYmYFV0NsCIDKMFgTg9abqMHWQ0YUCIDKcFbgq/RqdZb1kBEFAqAy1DuoiBgQ
    AJVhqIOKiAEBUBlCP+LVoiJiQAAAjhEAgGMEAOAYAQA4RgAAjhEAgGMEAOAYAQA4RgAAjhEAgGME
    AOAYAQA4RgAAjhEAgGMEAOAYAQA4RgAAjhEAgGMEAOAYAQA4RgAAjhEAgGMEAOAYAQA4RgAAjhEA
    gGMEAOAYAQA4RgAAjhEAgGMEAOAYAQA4RgAAjhEAgGMEAOAYAQA4RgAAjhEAgGMEAOAYAQA4RgAA
    jhEAgGMEAOAYAQA4RgAAjhEAgGMEAOAYAQA4RgAAjhEAgGMEAOAYAQA4RgAAjhEAgGMEAOAYAQA4
    RgAAjhEAgGMEAOAYAQA4RgAAjhEAgGMEAOAYAQA4RgAAjhEAgGMEAOAYAQA4RgAAjhEAgGMEAOAY
    AQA4RgAAjhEAgGMEAOAYAQA4RgAAjhEAgGMEAOAYAQA4RgAAjhEAgGMEAOAYAQA4RgAAjhEAgGME
    AOAYAQA4RgAAjhEAgGMEAOAYAQA4RgAAjhEAgGMEAOAYAQA4RgAAjhEAgGO11g2YGayzVK+hGmDd
    SCSmOqgYj33aoTat1h7rRmxUKRO4YquGGY95iOZopiY6Dj8c75Ce0yLdp13GfbSoIWxBbwHQV/P0
    bxpi2AGSa7fu0l3ab9gBARCrUXpYE8yqIw1W6VJtNqsePAA8nQRs0p+Y/sjjXL2oJusmwvETAA16
    NHS6IpWGaqGGWzcRipcAqNFDGmXdBFJipH7v5RSxlwD4rCZZt4AUuUj/bN1CGD5OAvbROo0JXhVp
    tlGn693gVTkJGItZTH8UaYxmWbcQgo8AmGHdAFLIxW+NjwCYbt0AUsjFb42HAKjTaOsWkEKjVWfd
    Qvw8BEC9dQNIKQe/OQQA0BMHvzkeAsDBjhxi4eA3x0MAAOgBAQA4RgAAjhEAgGMEAOAYAQA4RgAA
    jhEAgGMEAOAYAQA4RgAAjhEAgGMEAOAYAQA4RgAAjhEAgGMEAOAYAQA4RgAAjhEAgGMEAOAYAQA4
    RgAAjhEAgGMEAOAYAQA4RgAAjnkIgA7rBpBSDn5zPARAm3UDSCkHvzkEANATB785HgKgQ5utW0AK
    beEQoFIssW4AKeTit8ZHADxh3QBSaLF1AyH4CICFHASgSJu10LqFEHwEQIe+a90CUua7Hs4AeAkA
    6WdaYd0CUmSFfmbdQhheAuCQLtc26yaQEtt0uQ5ZNxGGlwCQtmuWWq2bQArs0Cxtt24iFD8BIK3U
    +XrJugkk3CpdoJXWTYTjKQCkrbpYt+ht6zaQULv175rk6x2jKmUCV2zVMOMxD9EczdRE1Rr3geQ4
    pOe0SPdpl3EfLWoIW9BjAGQN1lmq11ANsG4kElN1WeCKD2uZ9aAjsU871KbV2mPdiCSDAPD7r+Ae
    /dG6hUhdFrjeMn3fesgon69zAACOQQAAjhEAgGMEAOAYAQA4RgAAjhEAgGMEAOAYAQA4RgAAjhEA
    gGMEAOAYAQA4RgAAjhEAgGMEAOAYAQA4RgAAjhEAgGMEAOAYAQA4RgAAjhEAgGMEAOAYAQA4RgAA
    jhEAgGMEAOAYAQA4RgAAjhEAgGMEAOAYAQA4RgAAjhEAgGMEAOAYAQA4RgAAjhEAgGMEAOAYAQA4
    RgAAjhEAgGMEAOAYAQA4RgAAjhEAgGMEAOAYAQA4RgAAjhEAgGMEAOAYAQA4RgAAjhEAgGMEAOAY
    AQA4RgAAjhEAgGMEAOAYAQA4RgAAjhEAgGMEAOAYAQA4RgAAjhEAgGMEAOAYAQA4RgAAjhEAgGME
    AOAYAQA4RgAAjhEAgGMEAOAYAQA4RgAAjhEAgGMEAOAYAQA4RgAAjhEAgGMEAOAYAQA4RgAAjhEA
    gGMEAOAYAQA4RgAAjhEAgGMEAOAYAQA4RgAAjhEAgGMEAOAYAQA4RgAAjhEAlWGfg4qIAQFQGXY4
    qIgYEACVoc1BRcSAAKgMq3UoaL1DWm09ZESBAKgMe/Rc0HrPaY/1kBEFAqBSLKrgaohNlTKBK7Zq
    mPWgK9KJ2qAPBKq1W2O1y3rAFalFDWELsgdQKXbprmC17mL6VwoCoHLcpVVB6qwKGDWIGQFQOfbr
    0gDvzu/QpdpvPVREhQCoJJs1Q9tirbBNM7TZepiIDgFQWVbqAq2Ibe0rdIFWWg8RUSIAKs12Xawv
    aGPk692s63WxtlsPD9HibcDK1EezNEPTNTqCdW3WEj2hheqwHpQDwd8GJAAqW53qVa+6En+6Q21q
    Y+IHFDwAaq1HjFh1aKu2WjeB5OIcAOAYAQA4RgAAjhEAgGMEAOAYAQA4RgAAjhEAgGMEAOAYAQA4
    RgAAjhEAgGPVwT8NWGM9ZCCxQs+OTJX2amDQkkfUR0cCDxNIgxodDLxP3l6t9sCDrNYpgSsC6VAf
    /JDcIACkocErAmkQ+GYgMgqA8MME0sBJALAHAOQS/mZ5BACQGE72ADgEAHJxEgDsAQC5ODkEaApe
    EUiD8DOjvVq7gxc9TyOC1wSSbozGB6+5u1obDIY606AmkGwWs2JDtZoNyn7KoCaQbBYB0FylUdoS
    vOx+nawDBsMFkqqf3lLf4FVPrdY2g6nYXx8PXhNIsmkG0/+AtlUro/UGw+UgAOjK4gBgvTLVkslZ
    AE4DAl2ZnAHI3hHodYPSo3W5QVUgmf5eHzSo+no2ACz2AKRbuTcQIEmq1a0mdQ33AKQzdK1JXSBp
    vqAPm9TtnPkjlDFZtqqf9ZYHzPXXG0YzcER2D+ANo4OAkZprve0Bc/M03KRus944+r8/MUqgXTrR
    eusDpk7RbqPZ9xPp6HMBlhkNfohutt7+gKlvarBR5S6zfrRRBmV0QB+zfgUAM5N10Gzuje7ayEaz
    NlpM3gEF7I1Vm9m825ht4eh9yJebbYQGPRr40SRAEgzSQsNnZHTO+KMBYHUWQJLO0XyeUQhnqvVr
    nWlY/7gZ32i2K5Jdbjd9MYDQ7jSecY3HN7TJuKHPWb8iQDDXGs+2Td1busO4pQ5Ns35VgCCmqcN4
    tt3RvalzjFvKqIO9ADhwrfn0z+icXI2tNm8ro9s5HYgKVm1+7J9RRqtzN3ezeWMZZfQIbwqiQg3S
    Y+bzK6NMT9ffjtYR89YyymgVlwahAo3VX8znVkYZHTn2GsCunjZvLru0cIEwKsxk7TCfV9nl6a5t
    HXvEPd96K3Vq0FO6g08KokKcrLu1VPXWbXTqZZafZPjRhO7LLn1d/a23FlCW/rrF7AO/uZaDOqm3
    dh8yb/DYZZvmqNb6NQRKUqsvarv5HDp2eaj3li80b7D78lddoSrr1xIoSpWu0DrzudN9uTBf40vN
    W8y1bNY9mmnw7BSgWH01U/dos/mcybUszd/+NPMme1726VHdoJHWrzCQ00jdoEe1z3ye9Lx0u9w+
    167187rIekvmsVIvq0Wtau38823rhuDSEDWoQcM6/zxPTdYN5bGi+9vruQLg7/SIdadF6lCbDls3
    AVdqVK866yaKdKkePf6vcgVAlf6ss6x7BRCp1TpbmeP/MtdHbzK6zbpXABG7rfv0Vw9vr9VonU6z
    7hdAZNbr9FyHybk/fHtY37DuF0CEvpH7LFnPF9j8QX9r3TOASCzVJbm/0HMAfFh/1gnWfQMo20Gd
    rb/m/lJNjz+0U/002bpzAGW7Xb/t6Uu9XWPfX2t6vnUAgFTYpPHa39MXe7sD337dZN07gDLd1PP0
    V95P2T2mmdb9AyjZIn2qty/nC4DT9CqfwQNS6oDO1PrevqEmzwp2qUPTrUcBoCQ3a1Hv35D/RhtV
    WshhAJBCizQr1+W/XRVyp52TtVKnWo8FQFG2qEk7831TIc/h2amrdMh6NACKcEhX5Z/++c8BZG1R
    R0+XEgJIoJv1m0K+rdCbbXImAEiPAo7+swq/2y5nAoB0KOjoP6vwZ/FyJgBIgwKP/rMKOweQtUU7
    er+qCIC5f9HDhX9zMQEgvaSMPm49PgA9+pbuLubbiwsAaZnq8z9bBICJH+trxf1AsQEgLdYZ3DMY
    SKAFuq6wc//vK+WZeydoEbcLAxJmqWbqYLE/VNpDNwfq/3S+9XgBvOdP+rjai/+xUp+6e4qe1enW
    YwYgSVqnSXqzlB8s/DqAY72p6dpiPWoAkrZoemnTv/QAkDZpktZajxxwb60maVOpP1x6AEhbNFkv
    Wo8ecO1FTS5nX7ycAJDe1DQ9ab0FALee1LRSd/6zygsAqV2f1EPWWwFw6SF9spQz/10VfyHQ8Q7r
    dxqhCdbbAnDmfl1T/sfzyg8AKaOFquMpQkBAt+lfi73qL5coAkCSntQuXVL2AQWA/A7pK7o1mlWV
    eiFQLhdrgUaYbBDAjzd0pZ6JamVR/pv9jJq01GCDAH4sVVN00z+6Q4CsfZovaUqk+xUAso7oO7q+
    3PP+x4pjqk7XL1UfaJMAXrTps1oS9Urj+bd6pBZoUuwbBPDjWV2pbdGvNtpDgKP26hfqo4/FtHbA
    l3d1h67R7jhWHefR+pm6h6sDgDI9rS/p1bhWHuc7969qij6nthgrAJWtTZ/TlPimf1yHAO97RQ/o
    RJ3H+wJAkTK6X5fp+XiLhJmYF+lenRukElAZVumLWhF/mTAX767Q+ZqrliC1gLRr0VydH2L6h9oD
    yOqra/VVjQlYEUibjbpDP9WBUOVCH5vX6jO6WWcErgqkwVrdpl+FfQKnxcm5al2ub+g8g8pAUr2s
    W/V7HQld1u7s/AzN0yf4ADHcO6IndbcW2xS3fXtuhK7WbDWZ9gDYWan5+rXesGsgCe/Pj9dszdZo
    6zaAgDZpvuZrjXUbSQiAbB+T9Fl9WqdYNwLE7E09pF/q2Shu6FW+pATA0W7Ga6qmaIqGW7cCRGy7
    lmu5lmlNMqZ+VrIC4H0f0hRN0RSuGkDqbdRyLddyvWbdSC5JDYCjRmm8GjuX01Rn3Q5QgA6tV3Pn
    skZbrdvpTdIDoKtqnapGNWqMBmlg5zLgvf+maSRIv4z2qV3tnX9ml73aqGY1a0v49/NL9f/H2p/v
    ZsQvhgAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOS0wMS0zMVQwNzo1MzowOSswMDowMIyJA4gAAAAl
    dEVYdGRhdGU6bW9kaWZ5ADIwMTktMDEtMzFUMDc6NTM6MDkrMDA6MDD91Ls0AAAAGXRFWHRTb2Z0
    d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAABJRU5ErkJggg==" />
    </svg>
    

<!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm9 7h-6v13h-2v-6h-2v6H9V9H3V7h18v2z"/></svg> -->
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M4 10v7h3v-7H4zm6 0v7h3v-7h-3zM2 22h19v-3H2v3zm14-12v7h3v-7h-3zm-4.5-9L2 6v2h19V6l-9.5-5z"/></svg>
</div>
<br>
<br>
<br>


  <!--modification button group(add, delete, checkall) starts here -->
  <!-- <div class="modification-buttons-group">
      <mat-checkbox class="custom-checkbox-without-margin data-element-check-all-button"></mat-checkbox>

      <button type="button" (click)="addElement(dataObjectIndex)"  class="add-button">
        <i class="material-icons">add_box</i>
      </button>

      <button type="button" (click)='deleteElement(dataObjectIndex, 2)' class="delete-button">
          <i class="material-icons">delete</i>
        </button>
    </div> -->
<!-- modification button group ends here -->
<!-- <app-forms></app-forms> -->