.field-heading{
    margin: 0 0 var(--vertical-space-between-rows) 0;
}

.profile-pic-selection-div{
    height: calc(var(--user-image-size) * 1.7);
    display: flex;
    margin-bottom: var(--vertical-space-between-rows)
}
.profile-pic-div{
    position: relative;
    border: solid 2px black;
    border-radius: 4px;
    width: calc(var(--user-image-size) * 1.7);
}
.profile-pic-div .profile-pic{
    height: 100%;
}
.profile-pic-div .transparent-part{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    height: 33%;
    text-align: center;
}
.profile-pic-selection-div .vertical-bar{
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 calc(var(--horizontal-space-between-controls) * 2);
}
.profile-pic-selection-div .vertical-bar::after{
    content: '';
    height: 100%;
    background: black;
    width: 2px;
    position: absolute;
    left: 50%;
}
.vertical-bar .text{
    background: var(--cards-background-color);
    position: relative;
    z-index: 2;
}
.profile-pic-selection-div .select-avatar-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.select-avatar-div .avatar{
    display: inline-block;
    height: var(--user-image-size);
    width: var(--user-image-size);
    border: solid lightgray 1px;
    border-radius: var(--custom-control-border-radious);
    margin-right: var(--horizontal-space-between-controls);
}

.select-avatar-div .avatar:hover{
    cursor: pointer;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12); 
}