<mat-card class="content-card">
  <form [formGroup]="form">
<p class="field-heading body-text1">Please enter your current password to make any changes to your profile. </p>

     <!-- input field name -->
 <div class="custom-control-row">
<div class="custom-field custom-field-fw">
    <mat-form-field appearance="outline" >
      <mat-label>First Name</mat-label>
      <input id="input-field-name" matInput placeholder="FirstName" formControlName="firstName"  required>
      <mat-hint>Enter first name that will be displayed on User's profile. </mat-hint>
     <mat-error *ngIf="form.controls['firstName'].errors?.required">First name  required</mat-error>
    </mat-form-field>
  </div>
</div> 

<div class="custom-control-row">
  <div class="custom-field custom-field-fw">
      <mat-form-field appearance="outline" >
        <mat-label>Last Name</mat-label>
        <input id="input-field-name" matInput placeholder="LastName" formControlName="lastName"  required>
        <mat-hint>Enter last name that will be displayed on User's profile. </mat-hint>
       <mat-error *ngIf="form.controls['lastName'].errors?.required">Last name  required</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="custom-control-row">
    <div class="custom-field custom-field-fw">
        <mat-form-field appearance="outline" >
          <mat-label>UserName</mat-label>
          <input id="input-field-name" matInput placeholder="UserName" formControlName="userName" [disableControl]="true" required>
          <mat-hint>Enter last name that will be displayed on User's profile. </mat-hint>
         <mat-error *ngIf="form.controls['userName'].errors?.required">User name  required</mat-error>
        </mat-form-field>
      </div>
    </div>

   
     <!-- password division starts -->
     <div>
        <p class="field-heading body-text1">Password:</p>
        <div class="custom-control-row">
          <!-- current password input field -->
            <div class="custom-field custom-field-l">
                <mat-form-field appearance="outline">
                  <mat-label>Current Password</mat-label>
                  <input id="input-field-currentPassword" matInput placeholder="Current Password" [type]="hideCurrentPass ? 'password' : 'text'"  
                    required>
                  <mat-hint>Enter current Password.</mat-hint>
                  <svg-icon *ngIf="hideCurrentPass" matSuffix src="assets/svg-icons/visibility.svg" (click)="hideCurrentPass = !hideCurrentPass"></svg-icon>
                  <svg-icon *ngIf="!hideCurrentPass" matSuffix src="assets/svg-icons/visibility_off.svg" (click)="hideCurrentPass = !hideCurrentPass"></svg-icon>
                 <!--<mat-error *ngIf="form.controls['currentPassword'].errors?.required">Current password required</mat-error>-->
                </mat-form-field>
              </div>

              <!-- new password input field -->
            <div class="custom-field custom-field-l">
                <mat-form-field appearance="outline">
                  <mat-label>New Password</mat-label>
                  <input id="input-field-newPassword" matInput placeholder="New Password" [type]="hideNewPass ? 'password' : 'text'"  
                  >
                  <mat-hint>Enter New Password.</mat-hint>
                  <svg-icon *ngIf="hideNewPass" matSuffix src="assets/svg-icons/visibility.svg" (click)="hideNewPass = !hideNewPass"></svg-icon>
                  <svg-icon *ngIf="!hideNewPass" matSuffix src="assets/svg-icons/visibility_off.svg" (click)="hideNewPass = !hideNewPass"></svg-icon>
                <!-- <mat-error *ngIf="form.controls['newPassword'].errors?.required">New password required</mat-error>-->
                </mat-form-field>
              </div>

                <!-- repeat new password input field -->
            <div class="custom-field custom-field-l">
                <mat-form-field appearance="outline">
                  <mat-label>Repeat New Password</mat-label>
                  <input id="input-field-repeatNewPassword" matInput placeholder="Repeat New Password" [type]="hideNewPassRe ? 'password' : 'text'"  
                  >
                  <mat-hint>Repeat New Password.</mat-hint>
                  <svg-icon *ngIf="hideNewPassRe" matSuffix src="assets/svg-icons/visibility.svg" (click)="hideNewPassRe = !hideNewPassRe"></svg-icon>
                  <svg-icon *ngIf="!hideNewPassRe" matSuffix src="assets/svg-icons/visibility_off.svg" (click)="hideNewPassRe = !hideNewPassRe"></svg-icon>
                 <!--<mat-error *ngIf="form.controls['repeatNewPassword'].errors?.required">Repeat new password required</mat-error>-->
                </mat-form-field>
              </div>
        </div>
      </div>
      <!-- profile pic configuration starts -->
<div class="profile-pic-configuration">
      <p class="field-heading body-text1">Profile Pic:</p>
       <mat-error *ngIf="form.controls['profileImage'].errors?.invalidFile">Max size 128 x 128.PNG & JPG only.</mat-error>
      <div class="profile-pic-selection-div">
        <div class="profile-pic-div">
            <input hidden #imageInput  [ngModelOptions]="{standalone: true}" type="file" accept="image/*" (change)="ImageClick($event)" formControlName="profileImage">
            <img src="assets/orgnization/{{imageValue}}" class="profile-pic">
            <div class="transparent-part body-text2" (click) = "imageInput.click()">Upload</div>
        </div>
      
        <div class="vertical-bar">
         <span class="text body-text1">OR</span>
        </div>

        <div class="select-avatar-div">
          <p class="body-text2 no-margin">Select an Avatar:</p>
          <div class="avatars">
            <img class="avatar" src="assets/avatars/avatar-boy.jpg" name = "avatar-boy.jpg" (click) = "ImageClick($event,true)">
            <img class="avatar" src="assets/avatars/avatar-girl.png" name = "avatar-girl.png" (click) = "ImageClick($event,true)">
            <img class="avatar" src="assets/avatars/avatar-man.png" name = "avatar-man.png" (click) = "ImageClick($event,true)">
            <img class="avatar" src="assets/avatars/avatar-women.png" name = "avatar-women.png" (click) = "ImageClick($event,true)">
            <img class="avatar" src="assets/avatars/avatar-male-executive.png" name = "avatar-male-executive.png" (click) = "ImageClick($event,true)">
            <img class="avatar" src="assets/avatars/avatar-female-executive.png" name = "avatar-female-executive.png" (click) = "ImageClick($event,true)">
          </div>
        </div>
      </div>
    </div>
      <!-- profile pic configuration ends -->
      <div class="form-action-button-div">
        <button id="button-submit" type="submit" class="button no-margin button-margin-right" (click) = "saveRecord(form.value)">Submit</button>
        <button id="button-cancel" type="button" class="button no-margin" (click) = "cancel()">Cancel</button>
      </div>
</form>
</mat-card>