.main-container{
  position: relative;
}
.main-container .close-button{
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  padding: 0;
  border: none;
  z-index: 999;
  box-shadow: none !important;
}
/*table modification button styles starts*/
.table-modification-button-container{
  padding: var(--content-inside-padding);
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modification-buttons{
  margin-right: var(--content-inside-padding);
}

/*table modification button styles ends*/


/* item name headin styles starts here */
.item-name-heading{
 padding: 0;
}
/* item name heading styles ends here */

/* item fields styles starts here */
.item-division .all-items-division{
  
}
.item-division .item{
  padding: calc(var(--vertical-space-between-rows) / 2) 0;
  padding-right: var(--content-inside-padding);
  border-bottom: solid lightgray 1px;
}


.item-check-button-division{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
}
.all-items-division{
  max-height: 400px;
  overflow: auto;
}
.item-division .custom-control-row{
  margin: 0 !important;
  display: flex;
}


/* file upload styles starts here */
/* hiding real input  */
.custom-file-upload-container {
width: 100%;
margin: 8px 0;
} 
.inputfile {
width: 0.1px;
height: 0.1px;
opacity: 0;
overflow: hidden;
position: absolute;
z-index: -1;
cursor: pointer; 
}

.icon-container{
display: inline-block;
}

.upload-icon {

}
.custom-progress-division{
position: absolute;
width: 100%;
background: green;
bottom: 0;
z-index: -1;
border-radius: 6px;
-webkit-transition: height 2s; /* Safari */
-webkit-transition-timing-function: linear; /* Safari */
transition: height .3s;
transition-timing-function: linear;
}
.upload-button:hover .custom-progress-division{
height: 100%;
}
.upload-button, .showHideButton{
border: none;
background: transparent;
padding: 0;
}
.upload-button{
margin: 0 8px;
position: relative;
z-index: 1;
}
.button-disabled{
color: gray;
cursor: not-allowed !important;
}

/* file upload styles ends here */

/* styles for submit, cancel button group */
.submit-cancel-button-group .submit-button{
margin-right: 10px;
}
