
<div   class="my-light-green-theme main-container">
  <form [formGroup]="masterForm">
  <button (click)='onNoClick()' class="close-button button-without-background">
      <svg-icon  class="unit-icon" src="assets/svg-icons/clear.svg"></svg-icon>
  </button>
<h3 class="target-area-title">Change Master Data Group</h3>

<!-- name field starts -->
<div mat-dialog-content>
<div class="custom-control-row">
<div class="custom-field custom-field-fw" >
    <mat-form-field appearance="outline">
      <mat-label>Name *</mat-label>
      <input #nameFieldReference matInput [(ngModel)]="groupName" placeholder="Name" 
      (keypress)="omitSpecialChar($event)" 
      formControlName="groupName"  [typeaheadAsync]="true" [typeahead]="dataSourceGroupName"
      (typeaheadLoading)="changeTypeaheadLoadingGroup($event)"
      (typeaheadOnSelect)="typeaheadOnSelectGroup($event)" [typeaheadOptionsLimit]="100" [typeaheadMinLength]="0"
      typeaheadOptionField="groupName" maxlength="64"   [ngModelOptions]="{standalone: true}"
      (keyup)= "checkOnKeyUpGroupName($event);enableEdit();checkCharValidationForName($event)">
      <svg-icon matSuffix src="assets/svg-icons/search.svg"></svg-icon>
      <mat-hint>{{64 - nameFieldReference.value.length }} characters remaining.</mat-hint>
      <mat-error
      *ngIf="masterForm.controls['groupName'].invalid && masterForm.controls['groupName'].errors.required && masterForm.controls['groupName'].touched">
      Name is required.
    </mat-error>
    <mat-error *ngIf="masterForm.controls['groupName'].errors?.patternError">
        First letter should be alphabatic.
      </mat-error>
    <mat-error *ngIf="masterForm.controls['groupName'].errors?.duplicate">
      Name has been already taken.
    </mat-error>
    </mat-form-field>
  </div>
</div>
<!-- name field ends -->
<!-- scope multi select starts here -->

<div class="custom-control-row">
    <div class="custom-field custom-multiselect custom-field-fw" >
        <mat-expansion-panel class="ngx-tree-expansion-panel">
        <mat-expansion-panel-header collapsedHeight="var(--custom-control-height)" expandedHeight="var(--custom-control-height)">
        <mat-panel-title>
        {{values?.length? values.length + ' item selected.': 'Scope *'}}
        </mat-panel-title>

        </mat-expansion-panel-header>
        <ngx-treeview class="ngx-tree" [config]="config" [items]="scopeData" [disabled]="!dropdownEnabled"
        [ngxDisabledOnSelector]="'button.dropdown-toggle'" (filterChange)="onFilterChange($event)" (selectedChange)="values = $event;">
        </ngx-treeview>
        </mat-expansion-panel>
        <mat-hint>Select scope</mat-hint>
          
       
    </div>
  </div>


<!-- table modification button group -->
<div class='table-modification-button-container'>
    <div class="inner-center-division">
         
              
   
      <button *ngIf="!(selection.selected.length && this.masterForm.controls['masterGroupValues'].value.length > 1)"  
      type="button" (click)="additem($event)" 
      class="modification-buttons button-without-background vertical-align-middle">
      <svg-icon class="unit-control-icon no-padding-svg" src="assets/svg-icons/add_box.svg"></svg-icon>
      </button>
     
          <button *ngIf="selection.selected.length && this.masterForm.controls['masterGroupValues'].value.length > 1"
             type="button" (click)='deleteitem(); enableEdit();' 
             class=" modification-buttons button-without-background vertical-align-middle">
             <svg-icon class="unit-control-icon no-padding-svg" src="assets/svg-icons/delete.svg"></svg-icon>
          </button>
</div> 
</div>




 
    <div class="item-division" formArrayName="masterGroupValues">
      <!-- item heading  -->
      <mat-toolbar class="item-name-heading eta-dynamic-height eta-heading-background">
        <div class="eta-table-constant-width-column-first text-align-center">
            <mat-checkbox class="custom-checkbox-without-margin"  (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"></mat-checkbox>
        </div>
        <h4 class="body-text1 no-margin">Item Name*</h4>
      </mat-toolbar>
      <div class="all-items-division" #masterListScrollableContent id="customScrollBarContainer">
      <div  *ngFor="let masterGroupValues of masterForm['controls'].masterGroupValues['controls']; let itemIndex=index">
       
        <div formGroupName="{{itemIndex}}" class="item custom-control-row">
          <!--  checked status -->
          <div class="item-check-button-division control-button-container eta-table-constant-width-column-first text-align-center">
        
          <mat-checkbox  class="custom-checkbox-without-margin"  
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(masterForm.controls['masterGroupValues'].controls[itemIndex]) : null"
          [checked]="selection.isSelected(masterForm.controls['masterGroupValues'].controls[itemIndex])"
          formControlName='itemCheckedStatus'></mat-checkbox>
        </div>
  
          <!-- name field -->
          <div class="custom-field item-name-field width-hundred-percent" >
              <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput #nameInput  placeholder="Enter Name" formControlName="groupValue" maxlength="32" 
                (keypress)="omitSpecialChar($event)"   
                [typeaheadAsync]="true" 
                [typeahead]="dataSourceGroupValue"
                (typeaheadLoading)="changeTypeaheadLoadingGroupValue($event)"
                (typeaheadOnSelect)="typeaheadOnSelectGroupValue($event,itemIndex)" 
                [typeaheadOptionsLimit]="100" 
                [typeaheadMinLength]="0"
                typeaheadOptionField="groupValue"  
                [ngModelOptions]="{standalone: true}" 
                (blur)="checkDuplicateGroupValue(itemIndex, masterForm.controls['masterGroupValues'].controls[itemIndex].get('groupValue').value); enableEdit();"
                (keyup) = "checkCharValidationForGroupValue($event,itemIndex)" 
                required>
                <svg-icon matSuffix src="assets/svg-icons/search.svg"></svg-icon>
  
                <mat-hint>{{32 - nameInput.value.length }} characters remaining.</mat-hint>

               <!-- message showing according validations -->
               <mat-error *ngIf="masterForm.controls['masterGroupValues'].controls[itemIndex].get('groupValue').invalid && 
                masterForm.controls['masterGroupValues'].controls[itemIndex].get('groupValue').errors.required">Name is required</mat-error>


                <mat-error *ngIf="masterForm.controls['masterGroupValues'].controls[itemIndex].get('groupValue').errors?.customError">
                  Name has been already taken.
                  </mat-error>

                  <mat-error *ngIf="masterForm.controls['masterGroupValues'].controls[itemIndex].get('groupValue').errors?.patternGroupError">
                    First letter should be alphabatic.
                  </mat-error>
              </mat-form-field>
            </div>
            <mat-divider></mat-divider>
          
        </div>
      </div>
    </div>
    <div #masterListScrollTarget></div>
    </div>
  <!--repating item code ends here -->
  <!-- suggestion text -->

  <!-- file upload code starts here -->
  <!-- <div  [class.custom-validated]="validatedStatus" class="custom-file-upload-container custom-field" [class.custom-error]='fileNotSupported && fileInput'>
    <input formControlName='fileInput' [(ngModel)]='fileInput' type="file" name="file" id="file" class="inputfile" (change)='inputChangeFunction($event)' [ngModelOptions]='{standalone: true}'/><!-- real input -->
 <!--   <label for="file">
     <div >
   <mat-form-field appearance="outline">  
       <mat-label>File</mat-label>
       <input  [style.width]="fileInput? '100%': '0' " [type]="hide ? 'password' : 'text'" matInput  [value]="fileInput.split( '\\' ).pop()" readonly><!-- input as a label only-->
  <!--      <mat-icon matSuffix>insert_drive_file</mat-icon>
       <mat-hint>{{fileNotSupported? 'Only CSV or XLSX file can be Upload.': 'CSV or XLSX only.'}}</mat-hint>
     </mat-form-field>
   </div>
   </label>
   
   <div class="icon-container">
   <button type="button" class="upload-button" (click)='uploadFile($event)' [disabled]='!uploadButtonEnabled'>
       <i class="material-icons medium-square-icon-with-border" [class.button-disabled]="!uploadButtonEnabled">
           cloud_upload
           </i>

           <div [style.height.%]="progressBarValue" [style.background]="!validatedStatus? 'gray': 'green'"
            [style.background]="fileNotSupported? 'red': 'gray'" class="custom-progress-division"></div>

   </button>
   <button  type="button"  [disabled]='!validatedStatus' class="showHideButton" (click)="hide = !hide">
       <i class="material-icons medium-square-icon-with-border eye-icon" [class.button-disabled]='!validatedStatus'>{{hide ? 'visibility_off' : 'visibility'}}
         </i>
     </button>
       
           </div>
   
         
       </div> -->

         <div *ngIf='validateAndNotSupportedControls'>
     <button (click)='validate()'>Validate image</button>
     <button (click)='notSupported()'>Not supported</button>
     </div>
     <!-- file upload code ends here -->

    </div>
  </form>
 
<div class="submit-cancel-button-group">
   <button [disabled]="masterForm.invalid || !disabledOnEdit" class="button button-margin-right no-bottom-margin" (click)="addMasterData()" >Update</button>
  <button (click)='onNoClick()'  class="button no-bottom-margin">Cancel</button>
</div>

</div>



<!-- item name ends here -->