<div class=" table-padding">
        <!-- Breadcrumb start-->
          <!--<mat-toolbar>
              <mat-icon>home</mat-icon>
              <mat-icon>arrow_forward_ios</mat-icon>
              <span><a href="#" routerLink='/home'>{{mainbreadcrumb}}</a></span>
              <mat-icon>arrow_forward_ios</mat-icon>
              <span>
                <a routerLink='/processdash'>{{breadcrumb}}</a>
              </span>
          </mat-toolbar>-->
        <!-- Breadcrumb End -->
    
          
        <div class="top-container">
          <h3>Metrics</h3>
    
          <div class="custom-slider-container">
              <div class="custom-slider" #widgetsContent>
              
                  <mat-card class="card" *ngFor="let card of cards">
                 
                   <div class="card-top">
                 
                     <h1 class="card-heading">{{card.heading}}</h1>
                 
                     <h4 class="card-second-heading">{{card.discription}}</h4>
                  <div class="button-icon-group">
                      <button mat-raised-button color="primary">View</button>
                      <mat-icon class="icon">more_vert</mat-icon>
                  </div>
                   </div>
                 
                   </mat-card>
                 
                   <button  class="previous-button-arrow" (click)="prev()" mat-mini-fab><mat-icon>arrow_back_ios</mat-icon></button>
                   <button  class="next-button-arrow" (click)="next()" mat-mini-fab><mat-icon>arrow_forward_ios</mat-icon></button>
                 </div>
                </div>
    
    
            <div class="custom-container">
                <h3>Processes</h3>
                <span class='setting-icon'>
                <i class="material-icons">
                    settings
                    </i></span>
                </div>
                <div class="process-button-group">
                <button mat-raised-button color="default">Show Live</button>
                <button mat-raised-button color="default">Show Test</button>
                
                </div>
                </div>
                <mat-divider></mat-divider>
            <div class='custom-container'>
            <button  class="tab-button"  (click)="getAllProcess();  markActiveButton('all')">All</button>
            <button  class="tab-button"  *ngFor ="let fx of allFunction"  (click)="clickFunctionName(fx.functionID); markActiveButton('none')">{{fx.acronym}}</button>
        </div>
    
            <div class='custom-container'>
                <mat-checkbox></mat-checkbox>
                        <span *ngIf='!allButtonFlag && !editButtonFalg'  class='add-icon' ><i class="material-icons" (click)="onCreate()">add_box </i></span>
                        <button  mat-icon-button *ngIf='!allButtonFlag && editButtonFalg' (click)="onEdit()"><mat-icon>edit</mat-icon></button> 
                
                        
              <span class='search-icon'>
                  <i class="material-icons">
                      search
                      </i></span>
            </div>
    
    
              <table>
                    <tr>
                    <th># Process</th>
                    <th>Owner</th>
                    <th>Status</th>
                    <th>Since</th> 
                    </tr>
                    <tr *ngFor= "let process of processList" [value]="process.processID">
                    <td><mat-checkbox (click)="updateProcessId(process.processID)">{{process.processName}}</mat-checkbox></td>
                    <td>{{process.ownerName}}</td>
                    <td>{{process.activeYN}}</td>
                    <td>{{process.createdDate}}</td>

                    
                    
    
                    
                    </tr>
                    </table> 
      
        </div>
      