.example-card {
    max-width: 300px;
    min-height: 200px;
    float: left;
    margin-left: 50px;
    }
    .mat-button{
    background-color: #af6205;
    color: aliceblue;
    } 
    .metrics{
    height: auto;
    } 
    table{
        width: 100%;
    }
    .example-container {
        display: flex;
        flex-direction: column;
      }
      
      .example-container > * {
        width: 100%;
      }
      .top-container {
        padding: 10px;
        background-color: lightgray;
    }
    .custom-slider{
    
        width:100%;
    
          overflow-x:auto;
    
          white-space:nowrap;
         
    
    }
    .custom-slider-container {
        position: relative;
    }
    
    .mat-card {
         display:inline-block;
         min-width: 175px;
         text-align: center;
         margin: 0 7px;
         border: solid lightgray 1px;
         border-radius: 5px;
         height:100%;
      }
      .mat-card .card-heading{
          text-align: center;
      }
      .mat-card .card-second-heading {
          margin: 40px 0;
      }
      .button-icon-group button{
    float: left;
      }
      .button-icon-group .icon {
          float: right;
          vertical-align: middle;
      }
      .previous-button-arrow, .next-button-arrow {
        position: absolute;
        top: 40%;
      }
      .next-button-arrow {
          right: 10px;
      }
      .previous-button-arrow{
        left: 10px;
      }
    
      .process-button-group button{
          margin-right: 15px;
      }
      .custom-container {
          padding: 10px 0;
      }
      .custom-container h3 {
          display: inline-block;
          vertical-align: middle;
          margin: 0;
      }
      .custom-container .setting-icon, .search-icon {
        float: right;
        vertical-align: middle;
    }
    .custom-container .material-icons, .custom-container .search-icon, .custom-container mat-checkbox{
        vertical-align:  middle !important;
        margin: 05px
    }
    
    .custom-slider::-webkit-scrollbar { width: 0 !important }
    
    
    
    table {
      width: 100%;
    }
    table th{
      color: black !important;
      text-align: left !important;
      background: lightgray !important;
      padding: 10px 0;
    
    }
    thead {
        background: lightgray;
    }
    .example-element-diagram div{
        background: none !important;
    }
    tr.example-detail-row {
      height: 0;
    }
    
    tr.example-element-row:not(.example-expanded-row):hover {
      background: #f5f5f5;
    }
    
    tr.example-element-row:not(.example-expanded-row):active {
      background: #efefef;
    }
    
    .example-element-row td {
      border-bottom-width: 0;
    }
    
    .example-element-detail {
      overflow: hidden;
      display: flex;
    }
    
    .example-element-diagram {
      min-width: 80px;
      border: 2px solid black;
      padding: 8px;
      font-weight: lighter;
      margin: 8px 0;
      height: 104px;
    }
    
    .example-element-symbol {
      font-weight: bold;
      font-size: 40px;
      line-height: normal;
    }
    
    .example-element-description {
      padding: 16px;
    }
    
    .example-element-description-attribution {
      opacity: 0.5;
    }

      
   button{
   background: none;
   border: none;
  font-size: 15px;
  padding: 5px;
  font-weight: bold;
  margin:5px;
  }
button:hover{
background: none;
border: none;
font-size: 15px;
text-decoration: underline green;
font-weight: bold;
color: green;
margin:5px;
padding: 5px;

} 
.active-button{
  background-color: red !important;
}
 

      

table {
  width: 100%;
}
.tab-button{
  background: transparent;
  border: none;
  color: black;
  border-bottom: solid 2px transparent;
  padding: 5px 10px;
}
.tab-button:hover {
border-bottom: solid 2px green;
color: green;
}