<div class="custom-radio-group" dir="rtl">
<p class="group-label" [class.error]='radioError && !selectedRadio'>Best movie of All time</p>



<mat-radio-group [(ngModel)]="selectedRadio">
  <mat-radio-button class="custom-radio" *ngFor="let option of options" [value]="option">
    {{option}}
  </mat-radio-button>
</mat-radio-group>
 <mat-hint  *ngIf='!radioError || selectedRadio'>Select Only one.</mat-hint>
 <mat-error   *ngIf='radioError && !selectedRadio'>Selection is needed</mat-error>

<button (click)='check()'>Check</button>
</div>