
<!-- Breadcrumb start-->
<div (window:resize)="onWindowResized($event)">
  <mat-toolbar class="breadcrumb" >
      <svg-icon  src="assets/svg-icons/home.svg"></svg-icon>
      <svg-icon src="assets/svg-icons/arrow_forward.svg"></svg-icon>
    <span>
      <a href="#" routerLink='/#2'>{{mainbreadcrumb}}</a>
    </span>
    <svg-icon src="../../../assets/svg-icons/arrow_forward.svg"></svg-icon>
    <span>
      <a routerLink='/eta-web/functionDashBoard'>{{breadcrumb}}</a>
    </span>
  </mat-toolbar>
  <div class="substrate-part">
        <div class="target-area-title-division">
            <h3 class="target-area-title">Metrics</h3>
            <button (click)="showExpandedCardContent = 'null'; openMatMenuFromCenter.click()" 
             class='setting-icon button-as-icon mat-manu-trigger-button float-right'>
                <span class="center-point-for-open-mat-menu-from-center" #openMatMenuFromCenter [matMenuTriggerFor]="settingPanel"></span>
               <svg-icon class="unit-control-icon no-padding-svg" src="../../../assets/svg-icons/settings_applications.svg"></svg-icon> 
              </button>
              <mat-menu #settingPanel="matMenu">
                  <div (click) = "$event.stopPropagation()" class="metrics-settings-div">
                    <div class="col-base">
                    <a class="eta-custom-link links body-text1" (click)="showExpandedCardContent = 'addNewmetric'">Add New Metric</a>
                   <a class="eta-custom-link links body-text1" (click)="showExpandedCardContent = 'listOfmetrics'">List of Metrics</a>
                  </div>
                  <div *ngIf="showExpandedCardContent == 'addNewmetric'" class="col-expanded col-add-new-metric">
                    <p class="heading body-text1">Add New Metric to Process Acronym</p>
 <!-- select field  data element-->
    <div class="custom-control-row">
    <div class="custom-field custom-select custom-field-fw">
        <mat-form-field appearance="outline" >
          <mat-label>Date Element</mat-label>
          <mat-select id="select-field-dateElement" placeholder="Date Element" 
          disableOptionCentering panelClass="custom-select-panel" required>
        <mat-option value="1">1</mat-option>
        <mat-option value="2">2</mat-option>
        </mat-select>
          <mat-hint>Select Data Element</mat-hint>
         <mat-error >Required</mat-error>
        </mat-form-field>
      </div>
    </div> 

    <!-- select field operation-->
    <div class="custom-control-row">
        <div class="custom-field custom-select custom-field-fw">
            <mat-form-field appearance="outline" >
              <mat-label>Operation</mat-label>
              <mat-select id="select-field-operation" placeholder="Operation" 
              disableOptionCentering panelClass="custom-select-panel" required>
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            </mat-select>
              <mat-hint>Select Operation</mat-hint>
             <mat-error >Required</mat-error>
            </mat-form-field>
          </div>
        </div> 
        <div class="form-action-buttons">
          <button class="button no-margin button-margin-right" disabled>Submit</button>
          <button class="button no-margin">Cancel</button>
        </div>
                  </div>

                  <div *ngIf="showExpandedCardContent == 'listOfmetrics'" class="col-expanded col-list-of-metrics">
                    <p class="heading body-text1">List of Metrics</p>  
                   <div class="list-of-cards" id="customScrollBarContainer">
                    <mat-card *ngFor="let metric of cards" class="metric-card">
                      <button class="drag-and-drop-button button-as-icon"><svg-icon class="unit-icon" src="assets/svg-icons/drag_indicator.svg"></svg-icon></button>
                      <p class="metric-heading body-text1 no-margin">{{metric.description}}</p>
                      <span class="example-spacer"></span>
                      <button class="edit-button button-as-icon"><svg-icon class="unit-icon" src="assets/svg-icons/edit.svg"></svg-icon></button>
                      <button class="delete-button button-as-icon"><svg-icon class="unit-icon" src="assets/svg-icons/delete.svg"></svg-icon></button>
                    </mat-card>
                  </div>
                  </div>
                </div>
                </mat-menu>
        </div>  

    <!-- cards slider starts here -->
<div class="card-slider-relative-container">
  <div class="cards-slider-container" id="customScrollBarContainerHorizentol" #cardsContainer>
    <div class="cards-scrollable-content" #cardsScrollableContent>
      <mat-card class="card dashboard-square-card" *ngFor="let card of cards">
        <div class="card-inner-div">
         <h3 class="no-margin">{{card.heading}}</h3>
        <p class="body-text1  no-margin">{{card.description}}</p>
        <div class="button-division">
             <button class="button no-margin">View</button>
            <button class="card-expand-more-button button-as-icon mat-manu-trigger-button" (click)="openMatMenuFromCenter.click()">
              <svg-icon class="unit-control-icon no-padding-svg" 
              src="assets/svg-icons/more_vert.svg"></svg-icon>
              <span class="center-point-for-open-mat-menu-from-center" #openMatMenuFromCenter [matMenuTriggerFor]="showMore" ></span>
             </button>
             <mat-menu style="display: none" #showMore="matMenu" xPosition="before" class="metric-card-modification-mat-menu">
                <a class="eta-custom-link modification-links body-text1">Edit metric</a>
                <a class="eta-custom-link modification-links body-text1">Delete metric</a>
              </mat-menu>
       </div>
      </div>
          </mat-card>
        </div>
    <div *ngIf="cardsScrollBackButtonFlag" class="cards-back-button-transparent-container">
      <button   class="cards-scroll-back-button custom-fab-small" (click)="cardsScrollBackFunction()" mat-fab>
          <svg-icon class="unit-icon no-padding-svg " src="../../../assets/svg-icons/arrow_backward.svg"></svg-icon>
        </button>
    </div>
    <div *ngIf="cardsScrollForwardButtonFlag" class="cards-forward-button-transparent-container">
      <button  class="cards-scroll-forward-button custom-fab-small" (click)="cardsScrollForwardButton()" mat-fab>
            <svg-icon class="unit-icon no-padding-svg " src="../../../assets/svg-icons/arrow_forward.svg"></svg-icon>
            </button>
         </div>
        </div>
        </div>
        
        <!-- cards slider endss here -->
       
        <div class="target-area-title-division">
            <h3 class="target-area-title">Functions</h3>
            <button class='setting-icon button-without-background float-right'>
                 <svg-icon class="unit-control-icon no-padding-svg" src="../../../assets/svg-icons/settings_applications.svg"></svg-icon> 
              </button>
        </div>

    <div class="function-button-group">
            <button class="button no-top-margin button-margin-right lowercase">Show All</button>
            <button class="button no-top-margin button-margin-right lowercase">Last 7 days</button>
            <button class="button no-top-margin button-margin-right lowercase">Last 30 days</button>
            <button class="button no-top-margin button-margin-right lowercase">Show Live</button>
            <button class="button no-top-margin button-margin-right lowercase">Show Test</button>                
    </div>
  </div>
  <mat-card class="content-card">
        <div class="top-container">
        <div *ngIf="successAdded || failAdded || successUpdated || successHidden || successUnHidden || successDelete || deleteFailValidation"
         class="alert-message-division top-container-rows">

          <div class="inner-flex-container">
            <div *ngIf="successAdded" class="success">
              
              <svg-icon class="check-box-icon success-svg unit-control-icon no-padding-svg"
               src="../../../assets/svg-icons/check_box.svg"></svg-icon>
          <p>Successfully added <span class="success-message-font">{{functionName}} </span>.</p><!--  and placed it at the end of the display order. Drag it up to reorder.  -->
              
                <button class="remove-alert-button button-without-background " (click)="removeSuccess()" >
                  <svg-icon class=" unit-control-icon no-padding-svg" src="../../../assets/svg-icons/cancel_presentation.svg"></svg-icon>
                </button>
         
            </div>
            
            <div *ngIf="failAdded" class="unsuccess">
              <svg-icon class="check-box-icon unsuccess-svg unit-control-icon no-padding-svg" src="../../../assets/svg-icons/error.svg"></svg-icon>

                <p> Adding{{errorInFunctionAdding}}  failed. </p>
               
                  <button class="remove-alert-button button-without-background" (click)="removeAddError()">
                    <svg-icon class=" unit-control-icon no-padding-svg" src="../../../assets/svg-icons/cancel_presentation.svg"></svg-icon>

                  </button>
              
              </div>

            <div *ngIf="successUpdated" class="success">
              <svg-icon class="check-box-icon success-svg unit-control-icon no-padding-svg" src="../../../assets/svg-icons/check_box.svg"></svg-icon>
                <p> Successfully updated <span class="success-message-font">{{functionName}}</span>.</p>
                
                <button class="remove-alert-button button-without-background" (click)="removeUpdate()" >
                    <svg-icon class=" unit-control-icon no-padding-svg" src="../../../assets/svg-icons/cancel_presentation.svg"></svg-icon>
                </button>
               
            </div>

            <div *ngIf="successHidden" class="success">
               
              <svg-icon class="check-box-icon success-svg unit-control-icon no-padding-svg" src="../../../assets/svg-icons/check_box.svg"></svg-icon>
        
             <p> Successfully hidden the selected function.</p>
            
                <button class="remove-alert-button button-without-background" (click)="removeHiddenMsg()">
                    <svg-icon class=" unit-control-icon no-padding-svg" src="../../../assets/svg-icons/cancel_presentation.svg"></svg-icon>
                </button>
               
            </div>

            <div *ngIf="successUnHidden" class="success">
               
              <svg-icon class="check-box-icon success-svg unit-control-icon no-padding-svg" src="../../../assets/svg-icons/check_box.svg"></svg-icon>
             
               <p> Successfully unhidden the selected function.</p>
               
                <button class="remove-alert-button button-without-background" (click)="removeUnHiddenMsg()">
                    <svg-icon class=" unit-control-icon no-padding-svg" src="../../../assets/svg-icons/cancel_presentation.svg"></svg-icon>
                </button>
              </div>

              <div *ngIf="successDelete"  class="success">
                <svg-icon class="check-box-icon success-svg unit-control-icon no-padding-svg" src="../../../assets/svg-icons/check_box.svg"></svg-icon>
                <p>Function deleted successfully.</p>
                 <button class="remove-alert-button button-without-background" (click)="removeDeleteMsg()">
                    <svg-icon class=" unit-control-icon no-padding-svg" src="../../../assets/svg-icons/cancel_presentation.svg"></svg-icon>
                </button>
              </div>
                   


              <div *ngIf="deleteFailValidation" class="unsuccess">
                <svg-icon class="check-box-icon unsuccess-svg unit-control-icon no-padding-svg" src="../../../assets/svg-icons/error.svg"></svg-icon>
                <p>Function has dependent process so you can not delete this function.</p>
                <button class="remove-alert-button button-without-background" (click)="removeFunctionDeleteValidationMsg()">
                    <svg-icon class=" unit-control-icon no-padding-svg" src="../../../assets/svg-icons/cancel_presentation.svg"></svg-icon>
                </button>
              </div>
            </div>
        </div>

        <div class='table-modification-button-container top-container-rows'>
            <div class="inner-center-division">            
           <button *ngIf='!selection.selected.length'  class="modification-buttons button-without-background vertical-align-middle"
             (click)="openAddDialog()">
             <svg-icon class="unit-control-icon no-padding-svg" src="../../../assets/svg-icons/add_box.svg"></svg-icon>
           </button>

           <button  *ngIf='selection.selected.length' (click)="deleteFunction()" 
           class="modification-buttons button-without-background vertical-align-middle">
           <svg-icon class="unit-control-icon no-padding-svg" src="../../../assets/svg-icons/delete.svg"></svg-icon>
           </button>
           
          <button *ngIf='selection.selected.length' (click)="openHide()" 
            class="modification-buttons button-without-background vertical-align-middle">
            <svg-icon class="unit-control-icon no-padding-svg" src="../../../assets/svg-icons/visibility_off.svg"></svg-icon>
            </button>
           
          <button  *ngIf='selection.selected.length' (click)="openUnHide()" 
            class="modification-buttons button-without-background vertical-align-middle">
            <svg-icon class="unit-control-icon no-padding-svg" src="../../../assets/svg-icons/visibility.svg"></svg-icon>
              </button>
            
          
        </div> 
    </div>         
  </div>



     
            <div class="example-container mat-elevation-z8">
                <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
                  <div *ngIf="isLoadingResults" class="loading-spinner-div">
                    <mat-spinner ></mat-spinner>
                  </div>

                </div>
                  
                <div class="example-table-container">
                 
                  <!-- data tables code start from here -->
                  <div class="example-container mat-elevation-z8 custom-expandable-table-function-dashboard custom-common-expandable-table">
                    <mat-table #table [dataSource]="dataSource" matSort class="example-table-container"   matSortActive="displayOrder" matSortDisableClear matSortDirection="asc">
                    
                      <!-- function id column -->
                      <ng-container matColumnDef="functionID">
                        <mat-header-cell class="no-padding mat-header-cell eta-table-constant-width-column-first" *matHeaderCellDef>
                            <mat-checkbox class="custom-checkbox-without-margin margin-auto"
                            (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"></mat-checkbox>
                        </mat-header-cell>
                        <mat-cell class="mat-cell eta-table-constant-width-column-first" *matCellDef="let element">  
                         
                            <mat-checkbox class="custom-checkbox-without-margin margin-auto"
                                          id="{{element.functionID}}"
                                          (click)="$event.stopPropagation()"
                                          (change)="$event ? selection.toggle(element) : null; setFunctionId(element.functionID, element.functionName)"
                                          [checked]="selection.isSelected(element)">
                            </mat-checkbox>
                        </mat-cell>      
                      </ng-container>
                     
                      <!-- drag handle column -->
                      <ng-container matColumnDef="dragHandle">
                          <mat-header-cell class="eta-table-constant-width-column-other" *matHeaderCellDef >   #                       
                          </mat-header-cell>
                         <mat-cell class="eta-table-constant-width-column-other" *matCellDef="let element">
                            <svg-icon class="unit-control-icon no-padding-svg " src="../../../assets/svg-icons/drag_indicator.svg"></svg-icon>
                                </mat-cell>
                        </ng-container>

                        <!-- function name column -->
                      <ng-container matColumnDef="functionName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            Function 
                            <button class="button-without-background  filter-icon table-right-aligned-button">
                                <svg-icon class="unit-control-icon no-padding-svg " src="../../../assets/svg-icons/filter_list.svg"></svg-icon>
                            </button>
                           
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <div class="ellipsisable-content">
                            <img class="eta-table-image" src='assets/organizations/{{element.functionImage}}'  alt="image">
                          <a [routerLink]="" class="body-text1 eta-custom-link" 
                              (click)="stopPropegationFunction($event); openEditDialog(element.functionID)">
                            <span >{{element.functionName}} &nbsp;({{element.acronym}}) </span>
                          </a>
                        </div>
                      
                          
                                <svg-icon class="unit-control-icon arrow table-right-aligned-button no-padding-svg"
                                 src="../../../assets/svg-icons/arrow_down.svg"></svg-icon>
                              </mat-cell>
                      </ng-container>

                    <!-- created name column -->
                      <ng-container matColumnDef="createdName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Owner       
                            <button class="button-without-background filter-icon table-right-aligned-button">                  
                                <svg-icon class="unit-control-icon no-padding-svg " src="../../../assets/svg-icons/filter_list.svg"></svg-icon> 
                                </button>                         
                        </mat-header-cell>
                       <mat-cell *matCellDef="let element">
                           {{element.createdName}}</mat-cell>
                      </ng-container>

                    <!-- active column -->
                      <ng-container matColumnDef="active">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Status 
                            <button class="button-without-background filter-icon table-right-aligned-button">
                                <svg-icon class="unit-control-icon no-padding-svg " src="../../../assets/svg-icons/filter_list.svg"></svg-icon>
                                </button>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                         
                          <svg-icon class="unit-control-icon no-padding-svg"
                          [class.red-status]="element.active != 1"
                          [class.green-status]="element.active == 1"
                          [class.amber-status]="false"
                           src="../../../assets/svg-icons/crop_square.svg"></svg-icon>
                        </mat-cell>
                      </ng-container>

                      <!-- Since column -->
                      <ng-container matColumnDef="createdDate">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Since
                            <button class="button-without-background filter-icon table-right-aligned-button">
                                <svg-icon class="unit-control-icon no-padding-svg " src="../../../assets/svg-icons/filter_list.svg"></svg-icon>
                            </button>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.createdDate | date}}</mat-cell>
                      </ng-container>      

                    
                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" [cdkDetailRow]="row" [cdkDetailRowTpl]="tpl">
                      </mat-row>
                    </mat-table>
                    
                    <mat-paginator showFirstLastButtons [length]="resultsLength" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" (page)="pageEvent = onPaginateChange($event)"></mat-paginator>
                  </div>

            <ng-template #tpl let-element>
              <div class="mat-row detail-row" [@detailExpand] style="overflow: hidden">
                <div class="table-details-custom-container">
                  <div class="mat-column-functionID eta-table-constant-width-column-first"></div>
                  <div class="mat-column-dragHandle eta-table-constant-width-column-other"></div>
                  <div class="mat-column-functionName">
                      <div class="function-description">
                        <p class="body-text2">{{element.functionDescription}}</p>
                      <div *ngIf="element.process.length">
                      <p  class="body-text2" >Contains,</p>
                      <ul *ngFor="let process of element.process">
                          <li class="body-text2"><a>{{process.processName}}</a></li>
                      </ul>
                    </div>
                      </div>
                    </div>
                  <div class="mat-column-createdName"></div>
                  <div class="mat-column-active"></div>
                  <div class="mat-column-createdDate"></div>                 
                   
              </div>
              </div>
            
            </ng-template>
    </div>                  
    </div>                   
  </mat-card>
</div>