
/*new css*/
/* top container styles starts */
.content-card {
   padding: 0 !important;
   overflow: hidden;
  }
  .target-area-title-division .target-area-title{
    display: inline-block;
  }
  .target-area-title-division .float-right{
    float: right;
  }
  .top-container{
    padding: var(--content-inside-padding);
  }
  .top-container-rows{
    margin-bottom: var(--content-inside-padding);
  }
  .top-container-rows:last-child{
    margin-bottom: 0;
  }
/* top container styles ends */

  /* alert message division styles starts */
  .alert-message-division{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: var(--body-text1-base-font-size)
  }
  .alert-message-division p{
   display: inline-block;
   margin: 0;
  }

  .alert-message-division p,
  .alert-message-division button,
  .alert-message-division .material-icons{
    color: inherit;
    vertical-align: middle;
  }
  .alert-message-division .remove-alert-button{
    position: absolute;
    top: 50%;
    left: 100%;
    -webkit-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
  }
  .alert-message-division .cancel-icon{
    color: black;
  }
  .check-box-icon{
    margin-right: var(--content-inside-padding);
    display: inline-block;
    vertical-align: middle;
  }
/* alert message division styles ends */

/*table modification button styles starts*/

.table-modification-button-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.table-modification-button-container .inner-center-division{
position: relative;
}
.table-modification-button-container .inner-center-division .search-icon{
position: absolute;
top: 50%;
left: 100%;
transform: translate(-100%, -50%);
}
.modification-buttons {
  margin-right: var(--content-inside-padding);
}

/*table modification button styles ends*/

/*expandable table css starts*/

.custom-expandable-table-function-dashboard .mat-column-functionID {
  flex: none !important;
}
.custom-expandable-table-function-dashboard .mat-column-dragHandle {
  flex: none !important;
  /* padding: 0 var(--content-inside-padding) 0 0 !important; */
}
.custom-expandable-table-function-dashboard .mat-column-functionName {
 flex: 40% !important;
}
.custom-expandable-table-function-dashboard .mat-column-createdName {
 flex: 25% !important;
}
.custom-expandable-table-function-dashboard .mat-column-active {
 flex: 10% !important;
}
.custom-expandable-table-function-dashboard .mat-column-createdDate {
 flex: 15% !important;
}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.element-row {
  position: relative;
}

.element-row:not(.expanded) {
  cursor: pointer;
}

.element-row:not(.expanded):hover {
  background: #f5f5f5;
}

.element-row.expanded {
  border-bottom-color: transparent;
}
.element-row.expanded .arrow {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Safari 3-8 */
  transform: rotate(180deg);
  transition: transform .2s linear;
}
.table-right-aligned-button{
  position: absolute;
  right: 20px;
}
/* table details styles */
.table-details-custom-container{
  display: flex;
}
.table-details-custom-container .mat-column-functionName {
 padding-left: calc(var(--eta-table-image-size) + var(--eta-standard-spacing));
}
.table-details-custom-container .mat-column-functionName p{
  text-align: justify;
}
.mat-column-functionName .function-description{
  width: 90%;
}
.table-details-custom-container ul{
  list-style: square;
  padding-left: 17px;
}

/* expandable table styles ends */

.cards-scroll-back-button{
  padding-right: 5px;
}
.eta-table-image{
  height: var(--eta-table-image-size);
  width: var(--eta-table-image-size);
  margin-right: var(--eta-standard-spacing);
}
/* metrics settings div styles starts here */
.metrics-settings-div{
  display: flex;
  padding: var(--content-inside-padding);
}
.col-base .links{
  display: block;
  margin-bottom: var(--vertical-space-between-rows);
}
.col-base .links:last-child{
  margin-bottom: 0;
}
.col-expanded{
  padding-left: calc(var(--content-inside-padding) * 2);
  margin-left: calc(var(--content-inside-padding) * 2);
  border-left: solid black 2px;
  min-width: 400px;
}
.col-expanded .heading{
  margin: 0 0 var(--vertical-space-between-rows) 0;
}
.col-expanded.col-list-of-metrics .metric-card{
  display: flex;
  align-items: center;
  padding: calc(var(--content-inside-padding) * .6);
  margin-bottom: 2px;
}
.col-list-of-metrics .list-of-cards{
  max-height: 40vh;
  overflow: auto;
  padding: 2px;
}
.metric-card .metric-heading{
  padding-right: calc(var(--content-inside-padding) * .6);
}
.metric-card .edit-button{
  margin: 0 calc(var(--content-inside-padding) * .6);
}
.metric-card .drag-and-drop-button{
  margin-right: calc(var(--content-inside-padding) * .6);
}
/* metrics settings div styles ends here */