<app-menu></app-menu>
<div>
  <mat-toolbar>
    <mat-icon>home</mat-icon>
    <mat-icon>arrow_forward_ios</mat-icon>
    <span>
      <a href="#" routerLink='/userdashboard'>{{mainbreadcrumb}}</a>
    </span>
    <mat-icon>arrow_forward_ios</mat-icon>
    <span>
      <a routerLink='/userdashboard'>{{breadcrumb}}</a>
    </span>
  </mat-toolbar>
  <!--  col-sm-6 tage start-->
  <div class="container col-sm-6">
    <!--  table-padding tage start-->
    <div>
      <div class="container col-sm-12">

        <form [formGroup]="userdetailForm" (ngSubmit)="onSubmit()">
          <mat-card>

            <mat-form-field class="example-full-width">
              <input type="tel" matInput placeholder="Base Provider URL" formControlName="url">
              <mat-icon matSuffix>edit</mat-icon>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input type="tel" matInput placeholder="Base DN" formControlName="basedn">
              <mat-icon matSuffix>edit</mat-icon>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input type="tel" matInput placeholder="Principal" formControlName="principal">
              <mat-icon matSuffix>edit</mat-icon>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input type="tel" matInput placeholder="Password" formControlName="password">
              <mat-icon matSuffix>visibility</mat-icon>
            </mat-form-field>

            <div class="button-row">
              <button type="submit" mat-raised-button color="primary">Add</button>
              <button class="eta-margin-all" type="button" (click)="cancel()" mat-raised-button color="primary">cancel</button>
            </div>

          </mat-card>
        </form>
      </div>
    </div>
  </div>
</div>