<div class="modal-dialog my-light-green-theme" [ngStyle]="{'display':display}" id="functionAdd">  

    <h2 class="target-area-title">Change Function</h2>
    <button class="close-button button-as-icon" mat-dialog-close (click)="cancel()">
        <svg-icon mat-dialog-close class="unit-icon" src="assets/svg-icons/clear.svg"></svg-icon>
      </button>
 

  <form [formGroup]="functionForm" novalidate  autocomplete='off' >
    <div mat-dialog-content>
      <!-- form name field -->
      <div class="custom-control-row">
          <div class="custom-field custom-field-fw">
  <mat-form-field  appearance="outline">
      <mat-label>Name </mat-label>
      <input matInput #nameInput [(ngModel)]="functionName"
          [typeaheadAsync]="true"         
          [typeahead]="dataSourceFunction"
          (typeaheadLoading)="changeTypeaheadLoadingFunction($event)"
          (typeaheadOnSelect)="typeaheadOnSelectFunction($event)"
          [typeaheadOptionsLimit]="100"
          typeaheadOptionField="functionName" 
          [typeaheadMinLength]="0"
          [ngModelOptions]="{standalone: true}"
          (keyup)="checkDuplicateFuntionName($event);enableSubmitButtonForEdit();checkCharValidationForName($event)"
          (keypress)="omitSpecialChar($event)"
          placeholder="Name *" maxlength="24" formControlName="functionNameControl" required>
          <svg-icon matSuffix src="assets/svg-icons/search.svg"></svg-icon>
      <mat-hint>For display in Navigation.{{24 - nameInput.value.length}} Characters Remaining.</mat-hint>


      <mat-error
      *ngIf="functionForm.controls['functionNameControl'].invalid && functionForm.controls['functionNameControl'].errors.required && functionForm.controls['functionNameControl'].touched">
      Name is required.
    </mat-error>
    <mat-error
      *ngIf="functionForm.controls['functionNameControl'].invalid && functionName.length>0 && duplicateFunctionName">
      Name has been already taken.
    </mat-error>

    <mat-error
                  *ngIf="functionForm.controls['functionNameControl'].errors?.patternError">
                  First letter should be alphabatic.
                </mat-error>
    </mat-form-field>
  </div>
      </div>
  <!-- form acronym field -->
      <div class="custom-control-row">
          <div class="custom-field custom-field-fw">
 <mat-form-field  appearance="outline">
      <mat-label>Acronym </mat-label>
      <input matInput #acronymInput  [(ngModel)]="acronym"
      [typeaheadAsync]="true"
      [typeahead]="dataSourceAcronym"
      (typeaheadLoading)="changeTypeaheadLoadingAcronym($event)"
      (typeaheadOnSelect)="typeaheadOnSelectAcronym($event)"
      [typeaheadOptionsLimit]="100"
      typeaheadOptionField="acronym"
      placeholder="Acronym *"    
      [typeaheadMinLength]="0"
      [ngModelOptions]="{standalone: true}"
      (keyup)="enableSubmitButtonForEdit();checkCharValidationForAcronym($event)"
      (keypress)="omitSpecialChar($event)"
      (blur) = "checkDuplicateAcronymName($event)"
      minlength="3"
      maxlength="3" formControlName="acronymControl" #input (input)="input.value=$event.target.value.toUpperCase()"  class="acronym-name-upper" required>
      <svg-icon matSuffix src="assets/svg-icons/search.svg"></svg-icon>
      <mat-hint>Function's Acronym.{{3 - acronymInput.value.length}} Characters Remaining.</mat-hint>

      <mat-error  *ngIf="functionForm.controls['acronymControl'].invalid && !functionForm.controls['acronymControl'].errors?.patternAcronymError && functionForm.controls['acronymControl'].value.length<3 && acronym.length>0">
        Acronym should be minimum 3 Letter.
      </mat-error>

      <mat-error
      *ngIf="functionForm.controls['acronymControl'].invalid && functionForm.controls['acronymControl'].errors.required && functionForm.controls['acronymControl'].touched">
      Acronym is required.
    </mat-error>
    <mat-error *ngIf="functionForm.controls['acronymControl'].errors?.myError">
      Acronym  already taken.
    </mat-error>

    <mat-error
                *ngIf="functionForm.controls['acronymControl'].errors?.patternAcronymError">
                First letter should be alphabatic.
              </mat-error>
    </mat-form-field>
</div>
</div>
<!-- form description -->
<div class="custom-control-row">
    <div class="custom-text-area">
<mat-form-field  appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput  [(ngModel)]="functionDescription"
       maxlength="256" 
      placeholder="Description *" 
      formControlName="decriptionControl"
       [ngModelOptions]="{standalone: true}" (keyup)="enableSubmitButtonForEdit()" required></textarea>
     <mat-hint [class.error]='functionDescription.length == 256'>{{256 - functionDescription.length}} Characters Remaining</mat-hint>
      <mat-error *ngIf="functionForm.controls['decriptionControl'].invalid && 
      functionForm.controls['decriptionControl'].errors.required && 
      functionForm.controls['decriptionControl'].touched">
      Description is required.
    </mat-error>
    </mat-form-field> 
</div>
</div>
 
<!-- form file upload -->
<div class="custom-control-row">
    <div class="file-upload-container custom-field">
      
      <!-- real input -->
   <input #myInput hidden  [(ngModel)]="fileValue" [ngModelOptions]="{standalone: true}" type="file" name="file" id="file"
    class="input-file" (change)='fileInputChanged($event)'/>
  <div class="custom-input-label">
      <label class="label" (click)="myInput.click()"></label>
  <mat-form-field  appearance="outline">  
      <mat-label>Icon </mat-label>
      
      <input   formControlName="fileInput" 
      [ngModelOptions]="{standalone: true}" [type]="hide ? 'password' : 'text'" matInput readonly required>
      <svg-icon matSuffix src="assets/svg-icons/image_suffix.svg"></svg-icon>
      <mat-hint> Max size 128 x 128.PNG only.</mat-hint>
      
      <mat-error *ngIf="functionForm.controls['fileInput'].errors?.invalidFile">Max size 128 x 128.PNG only.</mat-error>
     </mat-form-field>
  </div>
  
  <!-- upload and toggle container starts -->
  <div class="control-button-container">
  <button type="button" class="control-button upload-button" (click)='upload($event);' [disabled]="functionForm.controls['fileInput'].invalid || !progressBarValue == 100 || fileUploadButton">
      <svg-icon class="unit-icon" src="assets/svg-icons/cloud_upload.svg"></svg-icon>
          <div [style.height.%]="progressBarValue"
           [class.validated]="progressBarValue == 100 && functionForm.controls['fileInput'].valid"
           [class.error]="progressBarValue == 100 && functionForm.controls['fileInput'].invalid"
           class="custom-progress-division"></div>
  </button>
  </div>
  <div class="control-button-container">
  <button type="button"  class="control-button" (click)="hide = !hide" [disabled]="functionForm.controls['fileInput'].invalid || progressBarValue != 100">
      <svg-icon *ngIf="!hide" class="unit-icon" src="assets/svg-icons/visibility_off.svg"></svg-icon>
      <svg-icon *ngIf="hide" class="unit-icon" src="assets/svg-icons/visibility.svg"></svg-icon>
    </button>
  
  </div>
      </div>
    </div>

      <div class="custom-control-row">
        <div class="custom-select custom-field custom-field-fw">
            <mat-form-field class="example-full-width input-fields" appearance="outline">
                <mat-label>Display Order </mat-label>
                  <mat-select appearance="outline" disableOptionCentering panelClass="custom-select-panel"
                              placeholder="Display Order"  [(ngModel)]="dOrder" name="dOrder" [ngModelOptions]="{standalone: true}"
                              formControlName="dOrderControl"  (selectionChange)="enableSubmitButtonForEdit()">
                              <mat-option *ngFor="let item of displayOrderList" [value]="item.displayOrder">
                                {{item.displayOrder}}
                              </mat-option>
                  </mat-select>
              <mat-hint>Select order of display.</mat-hint>
            </mat-form-field>
      </div>
    </div> 


<!-- form owner name -->
<div class="custom-control-row">
    <div class="custom-field custom-field-fw">
  <mat-form-field class="example-full-width input-fields"  appearance="outline">
          <mat-label>Owner Name </mat-label>
          <input matInput [(ngModel)]="firstName"
          [typeaheadAsync]="true"
          [typeahead]="dataSource"
          (typeaheadLoading)="changeTypeaheadLoading($event)"
          (typeaheadOnSelect)="typeaheadOnSelect($event)"
          [typeaheadOptionsLimit]="100"
          typeaheadOptionField="firstName"
          [typeaheadMinLength]="0"
          [ngModelOptions]="{standalone: true}"
          placeholder="Owner Name *" formControlName = "ownerNameControl" (keyup) = "checkOwnerName($event);enableSubmitButtonForEdit()" required>
          <svg-icon matSuffix src="assets/svg-icons/search.svg"></svg-icon>
          <mat-hint>Type to select from the list.</mat-hint>
          <mat-error *ngIf="functionForm.controls['ownerNameControl'].invalid &&
          functionForm.controls['ownerNameControl'].errors.required &&
           functionForm.controls['ownerNameControl'].touched">
            Owner Name is required.
          </mat-error>
    <mat-error *ngIf="functionForm.controls['ownerNameControl'].invalid && ownerNameSelection && functionForm.controls['ownerNameControl'].value.length>0 &&  functionForm.controls['ownerNameControl'].touched">
      Please select the correct Owner Name
    </mat-error>
        </mat-form-field>
</div>
</div>
      </div>
<!-- form action buttons -->
    <div class="form-action-button-division">
                      <button class="button button-margin-right"
                      [disabled]="functionForm.invalid || submitButtonDisabled || !fileUploaded" 
                      (click)="updateRecord()">Update</button>
                     <button class="button"  mat-dialog-close (click)="cancel()">CANCEL</button>
         </div>
  </form>
</div>
