.modal-dialog {
    position: relative;
    margin: 0 !important;
}


.example-full-width {
    width: 100%;
  }

  .modal-dialog .close-button {
      position: absolute;
      top: 0;
      right: 0;
      background: transparent;
      border: none;
  }
.modal-dialog .input-fields{
    margin: 10px 0;
}
.submit-button {
    margin-right: 15px;
}

/* hiding real input  */
.custom-file-upload-container {
    width: 100%;
    margin: 8px 0;
} 
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
    cursor: pointer; 
}

/*label {
    display: inline-block;
    width: calc(100% - 96px);
    vertical-align: middle;
}*/
.icon-container{
    display: inline-block;
 }

/*.upload-icon {
    
}*/
.custom-progress-bar{
    position: relative;
}
.progress-bar-text {
    position: absolute;
    left: 50%;;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 15px;
    width: 100%;
    text-align: center;
}
.custom-validated .progress-bar-text {
    color: white;
}

/* .upload-button{
    margin: 0 8px;
} */
.button-disabled{
    color: gray;
    cursor: not-allowed !important;
}
button:hover:enabled {
    box-shadow: 0 8px 10px 1px lightgray,
     0 3px 14px 2px lightgray, 
     0 5px 5px -3px lightgray;
    border-radius: 4px;
}

/*drop down*/

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    padding-left: 10px;
}
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    /* display: none; */
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}



/*upper case*/

/* .acronym-name-upper{
    text-transform: uppercase !important;
} */

.display-order-default{
    color: grey;
    font-size: 10px;
}

.custom-input-label{
    position: relative;
}
.label{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}