<div class="header">
  <div class="logo head-color">
    <div class="col-sm-6">
      <a href="#" routerLink='/login' routerLinkActive="active">
      
        <div>
          <img src="{{imageToShow}}" class="logo2 col-sm-8 top-margin col-sm-8 bottom-margin pull-left"  width="auto" height="90px">asas
        </div>
      </a>
    </div>
    <!-- <div *ngIf="IsloginOrNot!=null" class="col-sm-6 top-margin ">
      <div class="pull-right top-margin  .visible-lg-block, hidden-xs">
        <div >
          <table *ngIf="LastloginTime!=null">
            <tr>
              <td>
                <span>
                  <img class="media-object dp img-circle profileImage" src={{profileToShow}} width="75px; height 75px;">
                </span>
              </td>
              <td>
                <div class="color">
                  <a href="#" class="color" [routerLink]="['/userprofilepage']" routerLinkActive="active">{{CurrentUserName}}
                  </a>
                </div>
                <div class="text-color">Last Login: {{LastloginTime | date :'short'}} </div>
                <div class="color">Preference | Delegate</div>
                <div class="color">
                  <a class="color" (click)="logout($event)">Logout</a>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div> -->
  </div>
</div>

