<!-- <h1 mat-dialog-title>Script Approval Application Form {{data.name}}</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div> -->
<div class="main-container">
  <button  (click)="onNoClick()" class="close-button">
    <i class="material-icons">close</i>
  </button>

  <h2 class="target-area-title">
    Script Approval Application Form
  </h2>
 <div class="custom-field">
  <mat-form-field appearance="outline" class="script-title-field " >
      <mat-label>Script Title *</mat-label>
      <input matInput placeholder="Enter Script Title">
      <mat-hint>Enter title of Script</mat-hint>
    </mat-form-field>
  </div>

  <div class="author-description">
    <h4>Author(s)*</h4>
    <p>Name(s) as per passport</p>
  </div>
    <div class="icon-container-modification">
        <mat-checkbox class="check-box custom-checkbox icons"></mat-checkbox>
<i class="material-icons icons middle-icon">add_box</i>
<i class="material-icons icons">delete</i>
    </div>

<!-- authore input field starts here -->
    <div class="author-input-fields">
<div class="check-box-division">
        <mat-checkbox class="check-box custom-checkbox"></mat-checkbox>
      </div>
        <div class="custom-select custom-field salutation">
                   <mat-form-field appearance="outline"  >
                     <mat-label>Salutation</mat-label>
              <mat-select placeholder="Salutation" disableOptionCentering panelClass="custom-select-panel">
               <mat-option *ngFor="let salutation of salutations" [value]="salutation">
                  {{salutation}}
                </mat-option>
              </mat-select>
              <mat-hint>Select salutation.</mat-hint>
            </mat-form-field>
        </div>
        <div class="custom-field author-first-name" >
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name" required [formControl]="firstNameField">
              <mat-hint>First name</mat-hint>
            <mat-error *ngIf="firstNameField.invalid">Error.</mat-error>
          </mat-form-field>
        </div>
        <div class="custom-field author-middle-name" >
          <mat-form-field appearance="outline">
            <mat-label>MI</mat-label>
            <input matInput placeholder="MI" >
             <mat-hint>Middle initial</mat-hint>
            
          </mat-form-field>
        </div>
        <div class="custom-field author-last-name" >
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name" >
            <mat-hint>Last name</mat-hint>
            
          </mat-form-field>
        </div>

        <div class="custom-select custom-field author-suffix">
          <mat-form-field appearance="outline"  >
            <mat-label>Suffix</mat-label>
     <mat-select placeholder="Suffix" disableOptionCentering panelClass="custom-select-panel">
      <mat-option *ngFor="let suffix of suffixes" [value]="suffix">
        {{suffix}}
       </mat-option>
     </mat-select>
     <mat-hint>Select suffix.</mat-hint>
   </mat-form-field>
</div>
    

                      
    </div>
<!-- author input field ends here -->

<!-- nationality code starts here -->
    <div class="custom-select custom-field nationality">
         <mat-form-field appearance="outline"  >
           <mat-label>Nationality</mat-label>
            <mat-select placeholder="nationality" [formControl]="nationalityFormField" required  disableOptionCentering panelClass="custom-select-panel">
              <mat-option>-none-</mat-option>
              <mat-option *ngFor="let country of nationality" [value]="country">
                {{country}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="nationalityFormField.hasError('required')">Please choose.</mat-error>
            <mat-hint>Select country.</mat-hint>
          </mat-form-field>
      </div>
<!-- nationality code ends here -->

<!-- genre code starts here -->
      <div class="custom-select custom-field genre">
          <mat-form-field appearance="outline"  >
              <mat-label>Genre</mat-label>
             <mat-select placeholder="Genre`" disableOptionCentering panelClass="custom-select-panel">
               <mat-option>-none-</mat-option>
               <mat-option *ngFor="let genre of gnereValues" [value]="genre">
                 {{genre}}
               </mat-option>
             </mat-select>
            
             <mat-hint>Select genre`.</mat-hint>
           </mat-form-field>
       </div>
<!-- genre code ends here -->

<!-- type code starts here -->
       <div class="custom-select custom-field nationality">
          <mat-form-field appearance="outline"  >
            <mat-label>Type</mat-label>
             <mat-select placeholder="Type" [formControl]="typeFormField" required  disableOptionCentering panelClass="custom-select-panel">
               <mat-option>-none-</mat-option>
               <mat-option *ngFor="let type of types" [value]="type">
                 {{type}}
               </mat-option>
             </mat-select>
             <mat-error *ngIf="typeFormField.hasError('required')">Selection is needed.</mat-error>
             <mat-hint>Select production type.</mat-hint>
           </mat-form-field>
       </div>
<!-- type code ends here -->

<!-- file upload code starts here -->
<div  [class.custom-validated]="validatedStatus" class="custom-file-upload-container custom-field" [class.custom-error]='fileNotSupported && fileInput'>
    <input [(ngModel)]='fileInput' type="file" name="file" id="file" class="inputfile" (change)='inputChangeFunction()'/><!-- real input -->
   <label for="file">
     <div >
   <mat-form-field appearance="outline">  
       <mat-label>Icon *</mat-label>
       <input  [style.width]="fileInput? '100%': '0' " [type]="hide ? 'password' : 'text'" matInput  [value]="fileInput.split( '\\' ).pop()" readonly><!-- input as a label only-->
       <mat-icon matSuffix>insert_drive_file</mat-icon>
       <mat-hint>{{fileNotSupported? 'Only pdf file can be Upload.': 'Please choose an image.'}}</mat-hint>
     </mat-form-field>
   </div>
   </label>
   
   <div class="icon-container">
   <button class="upload-button" (click)='uploadFile()' [disabled]='!uploadButtonEnabled'>
       <i class="material-icons medium-square-icon-with-border" [class.button-disabled]="!uploadButtonEnabled"  [style.color]="fileNotSupported? 'black': 'unset'">
           cloud_upload
           </i>
           <div [style.height.%]="progressBarValue" [style.background]="!validatedStatus? 'gray': 'green'" 
           [style.background]="fileNotSupported? 'red': 'gray'" class="custom-progress-division"></div>

   </button>
   <button [disabled]='!validatedStatus' class="showHideButton" (click)="hide = !hide">
       <i class="material-icons medium-square-icon-with-border eye-icon" [class.button-disabled]='!validatedStatus'>{{hide ? 'visibility_off' : 'visibility'}}
         </i>
     </button>
       </div>
   <!-- <div class="custom-progress-bar">
           <mat-progress-bar
           class="example-margin"
           [value]="progressBarValue"></mat-progress-bar>
         
           <p class="progress-bar-text">{{!validatedStatus && fileInput && !fileNotSupported && validateAndNotSupportedControls?  "Scanning & Uploading": " "}} {{validatedStatus? "Scanned & Uploaded": " "}}</p>
         </div>
       </div> -->
   
       <div *ngIf='validateAndNotSupportedControls'>
         <br>
   <button (click)='validate()'>Validate image</button>
   <button (click)='notSupported()'>Not supported</button>
   </div>
   
<!-- file upload code ends here -->

<!-- submit and cancel button starts here -->
<button class="button submit-button" disabled>Submit</button>
<button class="button">Cancel</button>
<!-- submit and cancel button ends here -->
<mat-divider></mat-divider>
<button (click)="onNoClick()" class="button">Close</button>
</div>