.main-container{
    padding-top: var(--vertical-space-between-rows);
}
.main-container p {
    /* font-size: var(--body-text1-base-font-size); */
}
.heading-text{
    margin: 0 0 var(--vertical-space-between-rows) 0;
}
.body-text1-demo-text{
    font-size: var(--body-text1-base-font-size);
    font-weight: 400 !important;
}
.flex-box{
    display: flex;
}
.flex-box .col-2{
 width: 50%;
}
.flex-box .col-1{
    width: 100%;
}
.flex-box .col-2:first-child{
    margin-right: var(--horizontal-space-between-controls);
}
.show-nav-drawer-font-configuration-box{
    height: var(--app-bar-height);
    width: 100%;
    border-radius: 5px;
    margin: var(--vertical-space-between-rows) 0;
    margin-left: 5px;
}
.show-nav-drawer-font-configuration-box .nav-drawer-demo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 33%;
    height: 100%;
    min-width: 33%;
    margin-left: 5px;
    padding-left: var(--vertical-space-between-rows);
    box-shadow: 0px 3px 5px -1px lightgrey, 
      0px 6px 10px 0px lightgrey, 
      0px 1px 18px 0px lightgrey;
}
.nav-drawer-demo p {
    margin: 0;
}


.show-body-text-font-configuration-box,
.message-alert-text-font-configuration-box,
.failure-message-alert-text-font-configuration-box{
    display: flex;
    height: var(--app-bar-height);
    width: 100%;
    border-radius: 5px;
    margin: var(--vertical-space-between-rows) 0;
}
.show-body-text-font-configuration-box .card-demo,
.message-alert-text-font-configuration-box .card-demo,
.failure-message-alert-text-font-configuration-box .card-demo{
    border-radius: 5px;
    background: white;
    width: 100%;
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 var(--vertical-space-between-rows);
}
.alert-message-icon{
    margin-right:  var(--vertical-space-between-rows);
}


/* heading/title  */
.show-heading-title-font-configuration-box {
    padding: 16px;
    width: 100%;
    margin: var(--vertical-space-between-rows) 0;
}
.show-heading-title-font-configuration-box .card-demo{
    height: 75px;
    width: 100%;
    background: white;
    border-radius: 5px;
    padding: 16px;
}

svg-icon svg path:nth-of-type(2){    
    fill: green !important;
  }
  .color-box{
      display: inline-block;
      height: 20px;
      width: 20px;
      margin-right: 16px;
      border-radius: 4px;
      vertical-align: middle;
      border: solid 1px lightgray;
  }

  .text-node{
    display: inline-block;
    margin-top: 30px;
    color: white;
  }
  mat-slider {
    width: 300px;
  }