<form [formGroup]="form">
<div class="main-container">
  <p class="heading-text body-text1">Two Web safe fonts are used across this System. Change them below to reflect your visual brand.</p>
  <!-- nav drawer font configuration starts here -->
  <div class="nav-drawer">
      <p class="heading-text body-text1">Nav Drawer:</p>
<div class="flex-box">
  <div class="col-2">
      <div class="custom-field custom-select width-hundred-percent">
          <mat-form-field appearance="outline">
              <mat-label>Nav Drawer Font</mat-label>
              <mat-select appearance="outline"  disableOptionCentering panelClass="custom-select-panel" formControlName ='navDrawerFont'   required
               placeholder="Nav Drawer Font" [(ngModel)]="navDrawerFont" name="navDrawerFont"
                [ngModelOptions]="{standalone: true}">
                <mat-option *ngFor="let font of webSafeFonts" [value]="font" [style.font-family]="font">{{font}}</mat-option>
              </mat-select>
              <mat-hint>Select from the list of web-safe fonts.</mat-hint>
              <mat-error>Required.</mat-error>
              
                      </mat-form-field>
            
        </div>
  </div>
  <div class="col-2">
      <div class="custom-field custom-select width-hundred-percent">
          <mat-form-field appearance="outline">
              <mat-label>Nav Drawer Font Color</mat-label>
              <mat-select appearance="outline"  disableOptionCentering panelClass="custom-select-panel" formControlName ='navDrawerTextColor'  required
               placeholder="Button Text Color (Enabled)" [(ngModel)]="navDrawerFontColor" name="navDrawerFontColor"
                [ngModelOptions]="{standalone: true}">
                <mat-option [value]="navDrawerFontColor"><span class="color-box" [style.background]="navDrawerFontColor"></span>Current Color {{navDrawerFontColor}}</mat-option>
                <mat-option [value]="primaryColor"><span class="color-box" [style.background]="primaryColor"></span>Primary {{primaryColor}}</mat-option>
                <mat-option [value]="primaryAccent1Color"><span class="color-box" [style.background]="primaryAccent1Color"></span>Primary Accent 1 {{primaryAccent1Color}}</mat-option>
                <mat-option [value]="primaryAccent2Color"><span class="color-box" [style.background]="primaryAccent2Color"></span>Primary Accent 2 {{primaryAccent2Color}}</mat-option>
                <mat-option [value]="secondaryColor"><span class="color-box" [style.background]="secondaryColor"></span>Secondary {{secondaryColor}} </mat-option>
                <mat-option [value]="secondaryAccent1Color"><span class="color-box" [style.background]="secondaryAccent1Color"></span>Secondary Accent 1 {{secondaryAccent1Color}}</mat-option>
                <mat-option [value]="secondaryAccent2Color"><span class="color-box" [style.background]="secondaryAccent2Color"></span>Secondary Accent 2 {{secondaryAccent2Color}}</mat-option>
                <mat-option value="#000000"><span class="color-box" [style.background]="'#000000'"></span>Black</mat-option>
                <mat-option value="#ffffff"><span class="color-box" [style.background]="'#ffffff'"></span>White</mat-option>
              </mat-select>
              <mat-hint>Select from the list.</mat-hint>
              <mat-error>Required.</mat-error>
                      </mat-form-field>
            
        </div>
  </div>
</div>
<div class="show-nav-drawer-font-configuration-box" [style.background]="substrateColor">
  <div class="nav-drawer-demo" [style.background]="navDrawerColor">
    <p [style.color]="navDrawerFontColor" class="nav-drawer-group-items" [style.font-family]="navDrawerFont">Menu Item 1</p>
    <p [style.color]="navDrawerFontColor" class="nav-drawer-group-items" [style.font-family]="navDrawerFont">Menu Item 2</p>
  </div>
</div>
  </div>
  <!-- nav drawer font configuration starts here -->


   <!-- body-text font configuration starts here -->
   <div class="body-text-font-configuration">
      <p class="heading-text body-text1">Body text:</p>
<div class="flex-box">
  <div class="col-2">
      <div class="custom-field custom-select width-hundred-percent">
          <mat-form-field appearance="outline">
              <mat-label>Body Text Font</mat-label>
              <mat-select appearance="outline"  disableOptionCentering panelClass="custom-select-panel" formControlName ='bodyTextFont'  required
               placeholder="Body Text Font" [(ngModel)]="bodyTextFont" name="bodyTextFont"
                [ngModelOptions]="{standalone: true}">
                <mat-option *ngFor="let font of webSafeFonts" [value]="font" [style.font-family]="font"> {{font}}</mat-option>
              </mat-select>
              <mat-hint>Select from the list of web-safe fonts.</mat-hint>
              <mat-error>Required.</mat-error>
                      </mat-form-field>
            
        </div>
  </div>
  <div class="col-2">
      <div class="custom-field custom-select width-hundred-percent">
          <mat-form-field appearance="outline">
              <mat-label>Body Text Font Color</mat-label>
              <mat-select appearance="outline"  disableOptionCentering panelClass="custom-select-panel" formControlName ='bodyTextColor'  required
               placeholder="Body Text Font " [(ngModel)]="bodyTextFontColor" name="bodyTextFontColor"
                [ngModelOptions]="{standalone: true}">
                <mat-option [value]="bodyTextFontColor"><span class="color-box" [style.background]="bodyTextFontColor"></span>Current Color {{bodyTextFontColor}}</mat-option>
                <mat-option [value]="primaryColor"><span class="color-box" [style.background]="primaryColor"></span>Primary {{primaryColor}}</mat-option>
                <mat-option [value]="primaryAccent1Color"><span class="color-box" [style.background]="primaryAccent1Color"></span>Primary Accent 1 {{primaryAccent1Color}}</mat-option>
                <mat-option [value]="primaryAccent2Color"><span class="color-box" [style.background]="primaryAccent2Color"></span>Primary Accent 2 {{primaryAccent2Color}}</mat-option>
                <mat-option [value]="secondaryColor"><span class="color-box" [style.background]="secondaryColor"></span>Secondary {{secondaryColor}} </mat-option>
                <mat-option [value]="secondaryAccent1Color"><span class="color-box" [style.background]="secondaryAccent1Color"></span>Secondary Accent 1 {{secondaryAccent1Color}}</mat-option>
                <mat-option [value]="secondaryAccent2Color"><span class="color-box" [style.background]="secondaryAccent2Color"></span>Secondary Accent 2 {{secondaryAccent2Color}}</mat-option>
                <mat-option value="#000000"><span class="color-box" [style.background]="'#000000'"></span>Black</mat-option>
                <mat-option value="#ffffff"><span class="color-box" [style.background]="'#ffffff'"></span>White</mat-option>
              </mat-select>
              <mat-hint>Select from the list.</mat-hint>
              <mat-error>Required.</mat-error>
                      </mat-form-field>
            
        </div>
  </div>
</div>
<div class="show-body-text-font-configuration-box"  [style.background]="substrateColor">
  <div class="card-demo" [style.background]="cardsColor">
    <p [style.color]="bodyTextFontColor" class="body-text1-demo-text" [style.font-family]="bodyTextFont">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc laoreet porta consequat.</p>
   
  </div>
</div>
  </div>
  <!-- body-text font configuration starts here -->


  <!-- heading/title font configuration starts here -->
  <div class="heading-title-font-configuration">
      <p class="heading-text body-text1">Heading/Titles:</p>
<div class="flex-box">
  <div class="col-1">
      <div class="custom-field custom-select width-hundred-percent">
          <mat-form-field appearance="outline">
              <mat-label>Heading/Title Color</mat-label>
              <mat-select appearance="outline"  disableOptionCentering panelClass="custom-select-panel" formControlName ='headingTextColor'  required
               placeholder="Body Text Font" [(ngModel)]="headingColor" name="headingColor"
                [ngModelOptions]="{standalone: true}">
                <mat-option [value]="headingColor"><span class="color-box" [style.background]="headingColor"></span>Current Color {{headingColor}}</mat-option>
                <mat-option [value]="primaryColor"><span class="color-box" [style.background]="primaryColor"></span>Primary {{primaryColor}}</mat-option>
                <mat-option [value]="primaryAccent1Color"><span class="color-box" [style.background]="primaryAccent1Color"></span>Primary Accent 1 {{primaryAccent1Color}}</mat-option>
                <mat-option [value]="primaryAccent2Color"><span class="color-box" [style.background]="primaryAccent2Color"></span>Primary Accent 2 {{primaryAccent2Color}}</mat-option>
                <mat-option [value]="secondaryColor"><span class="color-box" [style.background]="secondaryColor"></span>Secondary {{secondaryColor}} </mat-option>
                <mat-option [value]="secondaryAccent1Color"><span class="color-box" [style.background]="secondaryAccent1Color"></span>Secondary Accent 1 {{secondaryAccent1Color}}</mat-option>
                <mat-option [value]="secondaryAccent2Color"><span class="color-box" [style.background]="secondaryAccent2Color"></span>Secondary Accent 2 {{secondaryAccent2Color}}</mat-option>
                <mat-option value="#000000"><span class="color-box" [style.background]="'#000000'"></span>Black</mat-option>
                <mat-option value="#ffffff"><span class="color-box" [style.background]="'#ffffff'"></span>White</mat-option>
              </mat-select>
              <mat-hint>Select from the list of web-safe fonts.</mat-hint>
              <mat-error>Required.</mat-error>
                      </mat-form-field>
        </div>
  </div>
  
</div>
<div class="show-heading-title-font-configuration-box" [style.background]="substrateColor">
  <div class="substrate-demo">
    <h2 class="target-area-title" [style.color]="headingColor">Heading</h2>
  <div class="card-demo" [style.background]="cardsColor">
    <p class="body-text1 no-margin" [style.color]="headingColor" >Title</p>
  </div>
</div>
</div>
  </div>
  <!-- heading/title  font configuration starts here -->



  <!-- messages/alerts font configuration starts here -->
  <div class="body-text-font-configuration">
      <p class="heading-text body-text1">Messages/Alerts:</p>
<div class="flex-box">
  <div class="col-1">
      <div class="custom-field custom-select width-hundred-percent">
          <mat-form-field appearance="outline">
              <mat-label>Success Message Color</mat-label>
              <mat-select appearance="outline"  disableOptionCentering panelClass="custom-select-panel" formControlName ='successMessageTextColor'  required
               placeholder="Body Text Font" [(ngModel)]="messageFontColor" name="messageFontColor"
                [ngModelOptions]="{standalone: true}">
                <mat-option [value]="messageFontColor"><span class="color-box" [style.background]="messageFontColor"></span>Current Color {{messageFontColor}}</mat-option>
                <mat-option [value]="primaryColor"><span class="color-box" [style.background]="primaryColor"></span>Primary {{primaryColor}}</mat-option>
                <mat-option [value]="primaryAccent1Color"><span class="color-box" [style.background]="primaryAccent1Color"></span>Primary Accent 1 {{primaryAccent1Color}}</mat-option>
                <mat-option [value]="primaryAccent2Color"><span class="color-box" [style.background]="primaryAccent2Color"></span>Primary Accent 2 {{primaryAccent2Color}}</mat-option>
                <mat-option [value]="secondaryColor"><span class="color-box" [style.background]="secondaryColor"></span>Secondary {{secondaryColor}} </mat-option>
                <mat-option [value]="secondaryAccent1Color"><span class="color-box" [style.background]="secondaryAccent1Color"></span>Secondary Accent 1 {{secondaryAccent1Color}}</mat-option>
                <mat-option [value]="secondaryAccent2Color"><span class="color-box" [style.background]="secondaryAccent2Color"></span>Secondary Accent 2 {{secondaryAccent2Color}}</mat-option>
                <mat-option value="#000000"><span class="color-box" [style.background]="'#000000'"></span>Black</mat-option>
                <mat-option value="#ffffff"><span class="color-box" [style.background]="'#ffffff'"></span>White</mat-option>
              </mat-select>
              <mat-hint>Select from the list.</mat-hint>
              <mat-error>Required.</mat-error>
                      </mat-form-field>
            
        </div>
  </div>

</div>
<div class="message-alert-text-font-configuration-box" [style.background]="substrateColor">
  <div class="card-demo" [style.background]="cardsColor">
    <div >
    <svg-icon class="display-inline-block alert-message-icon vertical-align-middle" [style.fill]="messageFontColor" src="assets/svg-icons/done.svg"></svg-icon>
    <p class="body-text1 display-inline-block no-margin vertical-align-middle" [style.color]="messageFontColor">Function "Human Resources" successfully.</p>
  </div>
  </div>
</div>
  </div>
  <!-- message/alerts font configuration starts here -->

    <!-- failure message font configuration starts here -->
    <div class="body-text-font-configuration">
  <div class="flex-box">
    <div class="col-1">
        <div class="custom-field custom-select width-hundred-percent">
            <mat-form-field appearance="outline">
                <mat-label>Failure Message Color</mat-label>
                <mat-select appearance="outline"  disableOptionCentering panelClass="custom-select-panel" formControlName ='failureMessageTextColor'  required
                 placeholder="Failure Message Color" [(ngModel)]="failureMessageFontColor" name="failureMessageFontColor"
                  [ngModelOptions]="{standalone: true}">
                  <mat-option [value]="failureMessageFontColor"><span class="color-box" [style.background]="failureMessageFontColor"></span>Current Color {{failureMessageFontColor}}</mat-option>
                  <mat-option [value]="primaryColor"><span class="color-box" [style.background]="primaryColor"></span>Primary {{primaryColor}}</mat-option>
                  <mat-option [value]="primaryAccent1Color"><span class="color-box" [style.background]="primaryAccent1Color"></span>Primary Accent 1 {{primaryAccent1Color}}</mat-option>
                  <mat-option [value]="primaryAccent2Color"><span class="color-box" [style.background]="primaryAccent2Color"></span>Primary Accent 2 {{primaryAccent2Color}}</mat-option>
                  <mat-option [value]="secondaryColor"><span class="color-box" [style.background]="secondaryColor"></span>Secondary {{secondaryColor}} </mat-option>
                  <mat-option [value]="secondaryAccent1Color"><span class="color-box" [style.background]="secondaryAccent1Color"></span>Secondary Accent 1 {{secondaryAccent1Color}}</mat-option>
                  <mat-option [value]="secondaryAccent2Color"><span class="color-box" [style.background]="secondaryAccent2Color"></span>Secondary Accent 2 {{secondaryAccent2Color}}</mat-option>
                  <mat-option value="#000000"><span class="color-box" [style.background]="'#000000'"></span>Black</mat-option>
                  <mat-option value="#ffffff"><span class="color-box" [style.background]="'#ffffff'"></span>White</mat-option>
                </mat-select>
                <mat-hint>Select from the list.</mat-hint>
                <mat-error>Required.</mat-error>
                        </mat-form-field>
          </div>
    </div>
  
  </div>
  <div class="failure-message-alert-text-font-configuration-box" [style.background]="substrateColor">
    <div class="card-demo" [style.background]="cardsColor">
        <div >
            <svg-icon class="display-inline-block alert-message-icon vertical-align-middle" [style.fill]="failureMessageFontColor" src="assets/svg-icons/error.svg"></svg-icon>
            <p class="body-text1 display-inline-block no-margin vertical-align-middle" [style.color]="failureMessageFontColor">Failed to add the Function "Human Resources". A Function with same name exists.</p>
          </div>
    </div>
  </div>
    </div>
    <!-- failure message font configuration starts here -->

    <!-- form action buttons -->
    <div class="form-action-buttons">
      <button (click)="submit()" class="button no-margin button-margin-right" [disabled]="form.invalid">Submit</button>
      <button type="button" (click)="cancel()" class="button no-margin">Cancel</button>
    </div>
</div>
</form>
<div *ngIf="false" class="loading-spinner-div">
    <div style="text-align: center">
    <mat-spinner></mat-spinner>
    <span class="text-node body-text1"> Dynamic css is being applied ...</span>
  </div>
  </div>