.drpdn{
    margin-left:-2px;
}
.eta-margin-all{
    margin: 10px;
  }
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  .example-form-field {
    width: 500px;
  }
  .close-icon {
    float: right;
    background: transparent;
    border: none;
  }
  .heading {
  position: relative;

  }
  .heading:after {
    content: '';
    display: block;
    position: absolute;
    width: 96px;
    height: 2px;
    background-color: black;
    bottom: 0;
  }