<div>
    <button  mat-dialog-close class="close-icon"  >
        <i class="material-icons" ng-click="clean()">
            close
        </i>
    </button>
    
    <div class="col-sm-6 table-padding">

        <h3 class="heading">{{value}}</h3>

        <mat-card>
            <form id="myform" #myForm='ngForm' [formGroup]="addfrm" (ngSubmit)="onSubmit()">

                <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Name</mat-label>
                        <input #processName maxlength="16" matInput placeholder="Name" formControlName="processName" required>
                        <mat-icon matSuffix>search</mat-icon>
                    <mat-hint>{{16 - processName.value.length}} characters remainings.</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Acronym</mat-label>
                        <input #acronym maxlength="3" matInput placeholder="Name" formControlName="acronym" #input (input)="input.value=$event.target.value.toUpperCase()"  class="acronym-name-upper" required>
                        <mat-icon matSuffix>search</mat-icon>
                    <mat-hint>{{3 - acronym.value.length}} characters remainings.</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Description</mat-label>
                        <textarea matInput #processDescription maxlength="256" formControlName="processDescription" required></textarea>
                        <mat-hint>{{256 - processDescription.value.length}} characters remainings.</mat-hint>
                      </mat-form-field>

                <div *ngIf="currentFileUpload"  class="progress">
                    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"  attr.aria-valuenow="{{progress.percentage}}"
                        aria-valuemin="0"  aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
                        {{progress.percentage}}%
                      </div>
                </div>
<label class="btn btn-default">
    <input type="file"  (change)="selectFile($event)">
        </label>
        <button class="btn btn-success"  [disabled]="!selectedFiles" (click)="upload()">Upload</button>


            <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Display Order</mat-label>
                    <mat-select placeholder="Display Order"  formControlName="displayOrder">
                      <!-- <mat-option *ngFor="let displayOrder of allFunction" [value]="displayOrder.functionID">
                        {{displayOrder.functionName}}
                      </mat-option> -->
                      <mat-option *ngFor="let disList of processList" [value]="disList.processID">
                        {{disList.displayOrder}}
                      </mat-option>
                    </mat-select>
                    <mat-hint>Type to select from the list</mat-hint>
                  </mat-form-field>


            <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Owner Name</mat-label>
                    <input  matInput placeholder="Owner Name" formControlName="ownerName" required>
                    <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>


            <div class="button-row">
                <button [disabled]="myForm.invalid" type="submit" mat-raised-button >Submit</button>
                <button mat-flat-button  mat-dialog-close ng-click="clean()">Cancel</button>
                
            </div>
            </form>
           
            </mat-card>