<div class="loading-indicator" *ngIf="isSpinnerShow==true">
    <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
  </div>
<div>
  <!-- Breadcrumb start-->
  <mat-toolbar>
    <mat-icon>home</mat-icon>
    <mat-icon>arrow_forward_ios</mat-icon>
    <span>
      <a href="#" routerLink='/eta-web/organizationdashboard'>{{mainbreadcrumb}}</a>
    </span>
    <mat-icon>arrow_forward_ios</mat-icon>
    <span>
      <a routerLink='/addorg'>Add</a>
    </span>
  </mat-toolbar>
  <!-- Breadcrumb end-->

  <!-- Form col-sm-6 tage start-->
  <div class="col-sm-6 div-padding">
    <!-- Form table-padding tage start-->
    <div class="table-padding">
      <!-- Form container tage start-->
      <div class="container col-sm-12">
        <!-- Org Header tag start-->
        <mat-toolbar color="primary"> Organization Information </mat-toolbar>
        <!-- Org Header tag End-->

        <!-- mat card tag start-->
        <mat-card>
          <form [formGroup]="orgfrm" (ngSubmit)="onSubmit()">

            <mat-form-field class="example-full-width">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <input matInput #message placeholder="Enter ORG Name" formControlName="orgName" />
              <mat-hint align="end">{{message.value.length}} / 50</mat-hint>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-select placeholder="Select Organization Type" formControlName="orgType">
                <mat-option *ngFor="let orgTypeObj of allOrgTypeList" [value]="orgTypeObj.Id">
                  {{orgTypeObj.orgType}}
                </mat-option>
              </mat-select>
              <mat-error>Make a choice</mat-error>
            </mat-form-field>
            
            <mat-form-field class="example-full-width">
              <input type="tel" matInput placeholder="Enter Phone Number" formControlName="phoneNumber" />
              <mat-icon matSuffix>contact_phone</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width" *ngIf="addOrEditOrg == true">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <input matInput #message placeholder="Enter Contact Person" formControlName="contactPerson" required/>
              <mat-hint align="end">{{message.value.length}} / 50</mat-hint>
            </mat-form-field>
            <mat-form-field class="example-full-width" *ngIf="addOrEditOrg == false">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <input matInput #message placeholder="Enter First Name" formControlName="firstName" required/>
              <mat-hint align="end">{{message.value.length}} / 50</mat-hint>
            </mat-form-field>
            <mat-form-field class="example-full-width" *ngIf="addOrEditOrg == false">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <input matInput #message placeholder="Enter Last Name" formControlName="lastName" required/>
              <mat-hint align="end">{{message.value.length}} / 50</mat-hint>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-icon matSuffix>email</mat-icon>
              <input matInput type="email" placeholder="Enter Your Email Address" formControlName="emailaddress" />
              <mat-hint align="end">
                <strong> Hint :- </strong> abc@example.com
              </mat-hint>
              <mat-error> Enter a valid email</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" *ngIf="addOrEditOrg == false">
              <input type="tel" matInput placeholder="Enter User Name" formControlName="userName" required (blur)="checkUserNameAvailability($event)">
              <mat-spinner *ngIf="showSpinner==true" matSuffix [diameter]="20"></mat-spinner>
              <!--  <mat-icon matSuffix>contact_phone</mat-icon> -->
            </mat-form-field> 
            <div style="color: red" *ngIf ="usernameTaken !=null">{{usernameTaken}}</div>

            <mat-form-field class="example-full-width">
              <mat-select placeholder="Select Country" formControlName="countryId">
                <mat-option *ngFor="let countryObj1 of allCountryList" [value]="countryObj1.countryId">
                  {{countryObj1.countryName}}
                </mat-option>
              </mat-select>
              <mat-hint align="end">
                <strong> ex :- </strong> Mr. Steve sumit
              </mat-hint>
              <mat-error>Make a choice</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-icon matSuffix>web</mat-icon>
              <input type="url" matInput placeholder="Enter web site url" formControlName="website" />
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input type="tel" matInput placeholder="Enter Fax Number" formControlName="faxNumber" />
              <mat-icon matSuffix>contact_phone</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-icon matSuffix>speaker_notes</mat-icon>
              <input matInput placeholder="Enter Remarks" formControlName="remarks" />
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-icon matSuffix>web</mat-icon>
              <input type="url" matInput placeholder="Enter ORG Domain url" formControlName="orgDomain" required/>
            </mat-form-field>

           <!--  <div class="button-row">
              <div class="upload-btn-wrapper">
                <button mat-raised-button color="primary" class="eta-float-right"> Select Your Profile Image
                  <mat-icon aria-label="Example icon-button with a heart icon">attachment</mat-icon>
                </button>
                <input type="file" name="img" (change)="selectFile($event)" accept=".png" placeholder="Upload Image" required/>
              </div>
            </div> -->

            <!--  -->
            <div class="button-row">
                <div class="upload-btn-wrapper">
                  <button type="button" mat-mini-fab color="primary" class="eta-float-left">
                    <mat-icon aria-label="Example icon-button with a heart icon">attach_file</mat-icon>
                  </button>
                  <input type="file" name="myfile" (change)="selectFile($event)"  accept=".png" placeholder="Upload Image" required/>
                  <mat-form-field >
                      <input type="text" disabled  matInput placeholder="Choose file" formControlName="fileNameDisplay"  >
                    </mat-form-field>
                </div>
              </div>

            <!--  -->
            <div class="button-row">
              <button type="submit" [disabled]="orgfrm.invalid"
                mat-raised-button color="primary" >Add</button>
              <button class="eta-margin-all" type="button" (click)="cancel()" mat-raised-button color="primary">Cancel</button>
            </div>
        
          </form>

          <!-- Multi Select Mat Start For Country -->
          <form [formGroup]="orgCountryForm" (ngSubmit)="onSubmitCountry(orgCountryForm.value)">
          <mat-form-field class="example-full-width">
              <mat-select placeholder="Select Country" class="filter-select" formControlName="selectedCountryItems" multiple>
                <mat-option disabled="disabled" class="filter-option">
                  <button mat-raised-button class="mat-primary fill text-sm" (click)="selectAllCountry(countryList)">
                    Select All
                  </button>
                  <button mat-raised-button class="mat-primary fill text-sm eta-margin-all" (click)="deselectAllCountry()">
                    Deselect All
                  </button>
                </mat-option>
                <mat-option *ngFor="let element3 of countryList" [value]="element3.id">{{element3.itemName}}</mat-option>
              </mat-select>
          </mat-form-field>
          <div class="button-row">
              <button type="submit" mat-raised-button color="primary">Add</button>
          </div>
        </form>
          <!-- Multi select mat end For Country -->

          <!-- Multi Select Mat Start For Language -->
          <form [formGroup]="orgLanguageForm" (ngSubmit)="onSubmitLanguage(orgLanguageForm.value)">
          <mat-form-field class="example-full-width">
              <mat-select placeholder="Select Language" class="filter-select" formControlName="selectedLanguageItems" multiple>
                <mat-option disabled="disabled" class="filter-option">
                  <button mat-raised-button class="mat-primary fill text-sm" (click)="selectAllLanguage(languageList)">
                    Select All
                  </button>
                  <button mat-raised-button class="mat-primary fill text-sm eta-margin-all" (click)="deselectAllLanguage()">
                    Deselect All
                  </button>
                </mat-option>
                <mat-option *ngFor="let element3 of languageList" [value]="element3.id">{{element3.itemName}}</mat-option>
              </mat-select>
          </mat-form-field>
          <div class="button-row">
              <button type="submit" mat-raised-button color="primary">Add</button>
          </div>
          <!-- Multi select mat end For Language -->
        </form>
        </mat-card>
        <!-- mat card tag end-->

      </div>
      <!-- Form container tage End-->
    </div>
    <!-- Form table-padding tage End-->
  </div>
  <!-- Form col-sm-6 tage End-->
  <div *ngIf="organizationUrlCol!=null" class="col-sm-6 table-padding">
    <mat-toolbar color="primary"> List of Organization Details</mat-toolbar>
    <mat-card>
        <mat-data-table [myDataUrl]=orgInnerDataUrl [defaultSortColumn]=defaultColumnToSort></mat-data-table>
        <!-- <app-admin-dynamic-datatable [myurl]=organizationUrl [mycoloums]=organizationUrlCol></app-admin-dynamic-datatable> -->
    </mat-card>
  </div>
</div>
