h1{
    text-align:center;
    color:#A6510C;
}
.center{
    font-size:16px;
}
.left-space{
    margin-left:20px;
}
.forgotpw{
  margin-right:30px;
}

.btn-div-margin{
    margin-bottom: 40px;
}
.dual-list .list-group {
    margin-top: 8px;
}

.list-left li, .list-right li {
    cursor: pointer;
}

.list-arrows {
    padding-top: 100px;
}

    .list-arrows button {
        margin-bottom: 20px;
    }

.btn-div{
    margin-left:15px;
}

a{
    text-decoration: none;
}
a:hover{
    color: #A6510C;
}
.colorA6510C{
    color: #A6510C;
    
}
.eta-margin-all{
    margin: 10px;
  }
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
   
.filter-option>.mat-pseudo-checkbox {
    display: none !important;
  }
  
  .filter-sidenav .mat-list-item-content {
    padding: 0 10px !important;
    font-size: 0.875rem !important;
  }
  
  .filter-sidenav .mat-select-trigger {
    font-size: 1rem !important;
  }
  