
<div   class="my-light-green-theme main-container">
  
  <form  [formGroup]="masterForm" autocomplete="off">
  <button (click)='onNoClick()' class="close-button">
      <svg-icon  class="unit-icon" src="assets/svg-icons/clear.svg"></svg-icon>
      
  </button>
<h3 class="target-area-title">Add New Master Data Group</h3>

<!-- name field starts -->
<div mat-dialog-content>
<div class="custom-control-row">
<div class="custom-field custom-field-fw" >
    <mat-form-field appearance="outline">
        <mat-label>Name *</mat-label>
        <input #nameFieldReference matInput  [(ngModel)]="groupName" placeholder="Name"  (keypress)="omitSpecialChar($event)" formControlName="groupName"  [typeaheadAsync]="true" [typeahead]="dataSourceGroupName"
        (typeaheadLoading)="changeTypeaheadLoadingGroup($event)"
        (typeaheadOnSelect)="typeaheadOnSelectGroup($event)" [typeaheadOptionsLimit]="100" [typeaheadMinLength]="0"
        typeaheadOptionField="groupName" maxlength="64"   [ngModelOptions]="{standalone: true}" 
        (keyup)= "checkCharValidationForName($event)"
        (blur) = "checkOnKeyUpGroupName($event)">
        <svg-icon matSuffix src="assets/svg-icons/search.svg"></svg-icon>
        <mat-hint>{{64 - nameFieldReference.value.length }} characters remaining.</mat-hint>
        <!-- <mat-error *ngIf="nameField.invalid">Error</mat-error> -->
  
        <mat-error
        *ngIf="masterForm.controls['groupName'].invalid && masterForm.controls['groupName'].errors.required">
        Name is required.
      </mat-error>
       <mat-error *ngIf="masterForm.controls['groupName'].errors?.patternError">
        First letter should be alphabatic.
      </mat-error>
      <mat-error *ngIf="masterForm.controls['groupName'].errors?.groupName">
        Name  already taken.
      </mat-error>
      </mat-form-field>
  </div>
</div>
<!-- name field ends -->
<!-- {{scopeData | json}}  --><!-- Count : {{values}} -->
<!-- scope multi select starts here -->
<div class="custom-control-row">
    <div class="custom-field custom-multiselect custom-field-fw" >
        <mat-expansion-panel class="ngx-tree-expansion-panel">
              <mat-expansion-panel-header collapsedHeight="var(--custom-control-height)" expandedHeight="var(--custom-control-height)">
              <mat-panel-title>
              {{values?.length? values.length + ' item selected.': 'Scope *'}}
              </mat-panel-title>

              </mat-expansion-panel-header>
              <ngx-treeview class="ngx-tree" [config]="config" [items]="scopeData" [disabled]="!dropdownEnabled"
                            [ngxDisabledOnSelector]="'button.dropdown-toggle'" (filterChange)="onFilterChange($event)" (selectedChange)="values = $event">
              </ngx-treeview>
        </mat-expansion-panel>
        <mat-hint>Select scope</mat-hint>
       
    </div>
  </div>

<!-- scope multi select ends here -->
<mat-radio-group class="custom-radio" [(ngModel)]="selectedRadio" (change)="userPreferenceChanged()" [ngModelOptions]="{standalone: true}">
    <mat-toolbar class="body-text1 eta-dynamic-height eta-heading-background">
  <mat-radio-button value="manual">
  Add Manually
  </mat-radio-button>
  <span class="example-spacer"></span>
  <mat-radio-button value="fileUpload">
    Upload File
    </mat-radio-button>
  </mat-toolbar>
  </mat-radio-group> 

<!-- table modification button group -->
<div *ngIf="selectedRadio == 'manual'" class='table-modification-button-container'>
    <div class="inner-center-division">
               

      <button *ngIf="!(selection.selected.length && this.masterForm.controls['masterGroupValues'].value.length > 1)"  type="button" (click)="additem($event)" class="modification-buttons button-without-background vertical-align-middle">
          <svg-icon class="unit-control-icon no-padding-svg" src="assets/svg-icons/add_box.svg"></svg-icon>
      </button> 

          <button *ngIf="selection.selected.length && this.masterForm.controls['masterGroupValues'].value.length > 1"
               type="button" (click)='deleteitem()' class="modification-buttons button-without-background vertical-align-middle">
               <svg-icon class="unit-control-icon no-padding-svg" src="assets/svg-icons/delete.svg"></svg-icon>
          </button>
  
</div>  
</div>


    <div  *ngIf="selectedRadio == 'manual'" class="item-division" formArrayName="masterGroupValues">
      <!-- item heading  -->
      <mat-toolbar class="item-name-heading eta-dynamic-height eta-heading-background">
<div  class="eta-table-constant-width-column-first text-align-center display-inline-block">
    <mat-checkbox class="custom-checkbox-without-margin"  (change)="$event ? masterToggle() : null"
    [checked]="selection.hasValue() && isAllSelected()"></mat-checkbox>
</div>
          <h4 class="body-text1">Item Name*</h4> 
        </mat-toolbar>
      <div class="all-items-division" #masterListScrollableContent id="customScrollBarContainer">
      <div  *ngFor="let masterGroupValues of masterForm['controls'].masterGroupValues['controls']; let itemIndex=index">
       
        <div formGroupName="{{itemIndex}}" class="item">
          <!--  checked status -->
          <div class="custom-control-row">
           
          <div class="item-check-button-division control-button-container eta-table-constant-width-column-first">
        
          <mat-checkbox  class="custom-checkbox-without-margin"  
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(masterForm.controls['masterGroupValues'].controls[itemIndex]) : null"
          [checked]="selection.isSelected(masterForm.controls['masterGroupValues'].controls[itemIndex])"
          formControlName='itemCheckedStatus'></mat-checkbox>
        </div>
  
          <!-- name field -->
           
          <div class="custom-field custom-field-fw item-name-field" >
              <mat-form-field appearance="outline">
                  <mat-label>Name</mat-label>
                  <input matInput #nameInput  placeholder="Enter Name" formControlName="groupValue" maxlength="32" (keypress)="omitSpecialChar($event)"   
                  [typeaheadAsync]="true" [typeahead]="dataSourceGroupValue"
                  (typeaheadLoading)="changeTypeaheadLoadingGroupValue($event)"
                  (typeaheadOnSelect)="typeaheadOnSelectGroupValue($event,itemIndex)" 
                  [typeaheadOptionsLimit]="100" [typeaheadMinLength]="0"
                  typeaheadOptionField="groupValue"  
                  [ngModelOptions]="{standalone: true}"
                  (blur)="checkDuplicateGroupValue(itemIndex, masterForm.controls['masterGroupValues'].controls[itemIndex].get('groupValue').value)"
                  (keyup) = "checkCharValidationForGroupValue($event,itemIndex)"
                   required>
                   <svg-icon matSuffix src="assets/svg-icons/search.svg"></svg-icon>
    
                  <mat-hint>{{32 - nameInput.value.length }} characters remaining.</mat-hint>
  
                 <!-- message showing according validations -->
                  <mat-error *ngIf="masterForm.controls['masterGroupValues'].controls[itemIndex].get('groupValue').invalid && 
                  masterForm.controls['masterGroupValues'].controls[itemIndex].get('groupValue').errors.required">Name is required</mat-error>
  
                  <mat-error *ngIf="masterForm.controls['masterGroupValues'].controls[itemIndex].get('groupValue').errors?.customError" >
                    Name  already taken.
                    </mat-error>

                <mat-error *ngIf="masterForm.controls['masterGroupValues'].controls[itemIndex].get('groupValue').errors?.patternGroupError">
                  First letter should be alphabatic.
                </mat-error>
  
  
                </mat-form-field>
            </div>
          </div>
      
          
        </div>
      </div>
    </div>
    <div #scrollTarget></div>
    </div>
  <!--repating item code ends here -->
 
  <!-- file upload code starts here -->
  <mat-toolbar *ngIf="selectedRadio == 'fileUpload'" 
   class="download-tamplate-link eta-dynamic-height eta-heading-background">
   <p class="body-text1 "> Click here to download template &nbsp;
     <a class="custom-link-style" download="MasterData_Group_Item_Templete_{{currDateTime}}.csv" href="assets/MasterData_Group_Item_Templete.csv" > csv 
</a> &nbsp; or &nbsp;
<a class="custom-link-style" download="MasterData_Group_Item_Templete_{{currDateTime}}.xlsx" href="assets/MasterData_Group_Item_Templete.xlsx" >
 xlsx. </a>  </p>
  </mat-toolbar>


  <div *ngIf="selectedRadio == 'fileUpload'" class="custom-control-row">
      <div  class="file-upload-container custom-field">
        <!-- real input -->
     <input #myInput hidden  [(ngModel)]="fileValue" [ngModelOptions]="{standalone: true}" type="file" name="file" id="file"
      class="input-file" (change)='inputChangeFunction($event)'/>
    <div class="custom-input-label">
        <label class="label" (click)="myInput.click()"></label>
    <mat-form-field  appearance="outline">  
        <mat-label>File </mat-label>
        
        <input   formControlName="fileInput" 
        [ngModelOptions]="{standalone: true}" [type]="hide ? 'password' : 'text'" matInput readonly required>
        <svg-icon matSuffix src="assets/svg-icons/search.svg"></svg-icon>
        <mat-hint>CSV or XLSX only.</mat-hint>
        
        <mat-error *ngIf="masterForm.controls['fileInput'].errors?.invalidFile">Validate CSV or XLSX data.</mat-error>
        <!--<mat-error *ngIf="fileNotLoaded">Please Upload Image</mat-error>-->
       </mat-form-field>
    </div>
    
    <!-- upload and toggle container starts -->
    <div class="control-button-container">
    <button type="button" class="control-button upload-button" (click)='uploadFile($event);' [disabled]="masterForm.controls['fileInput'].invalid || !progressBarValue == 100 || fileUploadButton">
        <svg-icon class="unit-icon" src="assets/svg-icons/cloud_upload.svg"></svg-icon>
            <div [style.height.%]="progressBarValue"
             [class.validated]="progressBarValue == 100 && masterForm.controls['fileInput'].valid"
             [class.error]="progressBarValue == 100 && masterForm.controls['fileInput'].invalid"
             class="custom-progress-division"></div>
    </button>
    </div>
    <div class="control-button-container">
    <button type="button"  class="control-button" (click)="hide = !hide" [disabled]="masterForm.controls['fileInput'].invalid || progressBarValue != 100">
        <svg-icon *ngIf="!hide" class="unit-icon" src="assets/svg-icons/visibility_off.svg"></svg-icon>
        <svg-icon *ngIf="hide" class="unit-icon" src="assets/svg-icons/visibility.svg"></svg-icon>
      </button>
    
    </div>
        </div>
      </div>
     <!-- file upload code ends here -->
    </div>
  </form>
 
<div class="submit-cancel-button-group">
    <button [disabled]="masterForm.invalid || (selectedRadio == 'fileUpload' &&  !fileUploaded) || !countOnEdit " class="button button-margin-right no-bottom-margin" (click)="addMasterData()" >Submit</button>
  <button (click)='onNoClick()'  class="button no-bottom-margin">Cancel</button>

</div>

</div>



<!-- item name ends here -->