.main-container{
    position: relative;
}
.main-container .close-button{
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    padding: 0;
    border: none;
    z-index: 999;
    box-shadow: none !important;
}
/*table modification button styles starts*/
.table-modification-button-container{
  padding: var(--content-inside-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modification-buttons{
  margin-right: var(--content-inside-padding);
}

/*table modification button styles ends*/


/* item name headin styles starts here */
.item-name-heading{
   padding: 0;
}
.item-name-heading h4{
   margin: 0;
}
/* item name heading styles ends here */
.all-items-division{
  max-height: 400px;
  overflow: auto;
}
.item-division .item{
    padding: calc(var(--content-inside-padding) / 2) 0;
    padding-right: var(--content-inside-padding);
    border-bottom: solid 1px lightgray;
}
.item-division .custom-control-row{
  margin: 0 !important;
}
.item-check-button-division{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}



/* file upload styles starts here */
/* hiding real input  */


/* file upload styles ends here */

/* styles for submit, cancel button group */
.submit-cancel-button-group .submit-button{
  margin-right: 10px;
}
.custom-control-row{
  display: flex;
}
.download-tamplate-link{
  margin: var(--vertical-space-between-rows) 0;
}