<div>
    <!-- Breadcrumb start-->
    <mat-toolbar>
            <mat-icon>home</mat-icon>
            <mat-icon>arrow_forward_ios</mat-icon>
            <span>
              <a href="#" routerLink='/eta-web/emaildashboard'>{{mainbreadcrumb}}</a>
            </span>
            <mat-icon>arrow_forward_ios</mat-icon>
            <span>
              <a routerLink='/eta-web/emailtemplatedashboard'>{{breadcrumb}}</a>
            </span>
            <mat-icon>arrow_forward_ios</mat-icon>
            <span>
              <a routerLink='/addemailtemplate'>Add</a>
            </span>
    </mat-toolbar>
    <!-- Breadcrumb end-->

    <!-- Form col-sm-6 tage start-->
    <div class="col-sm-6 div-padding">
        <!-- Form table-padding tage start-->
        <div class="table-padding">
            <!-- Form container tage start-->
            <div class="container col-sm-12">
                <!-- Email Template Header tag start-->
                <mat-toolbar color="primary"> Email Template </mat-toolbar>
                <!-- Email Template Header tag End-->
        
                <!-- mat card tag start-->
                <mat-card>
                <form [formGroup]="templateform" (ngSubmit)="onSubmit(templateform.value)">

                    <!-- Material Design Contol Apply Start here  -->
                   
                    <mat-form-field class="example-full-width">   
                        <input matInput placeholder="Organization Name" disabled value={{orgName}}>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Template Event Name" formControlName="templatename">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Template Subject" formControlName="Subject">
                    </mat-form-field>

                    <div style="color: black;">
                        <app-ngx-editor [config]="editorConfig"  formControlName="Message"></app-ngx-editor>
                    </div>                               
                   
                    <div class="button-row">
                        <button  type="submit" mat-raised-button color="primary">Add</button>
                        <button class="eta-margin-all" type="button" (click)="cancel()" mat-raised-button color="primary">Cancel</button>
                    </div>
            
                    <mat-divider></mat-divider>
                    <div class="eta-footer-block"></div>
            
                      <!-- Material Design end here -->

                </form>
                </mat-card>
                <!-- mat card tag end -->
            </div>
            <!-- Form container tage End-->
        </div>
        <!-- Form table-padding tage End-->
    </div>
    <!-- Form col-sm-6 tage End-->
    <!--Grid code Start -->
    <div *ngIf="templateConfigCol!=null" class="col-sm-6 table-padding">
            <mat-toolbar color="primary"> List of Email Template</mat-toolbar>
        <mat-card>
            <!-- <app-admin-dynamic-datatable  [myurl]=templateurl [mycoloums]=templateConfigCol></app-admin-dynamic-datatable> -->
            <mat-data-table [myDataUrl]=emailTemplateInnerDataUrl [defaultSortColumn]=defaultColumnToSort></mat-data-table>
        </mat-card>
    </div>
    <!--Grid code End -->
</div>