<div class="form">
    <ng4-loading-spinner> </ng4-loading-spinner>
    <button class="close-button button-as-icon" mat-dialog-close><i class="material-icons" mat-dialog-close (click)="cancel()">
        clear
      </i></button>

    <h1 class="target-area-title">
      {{formName}}
    </h1>
  <div mat-dialog-content *ngIf="regConfig">
      <dynamic-form [fields]="regConfig" (submit)="submit($event)">
  </dynamic-form>
</div>

  <br>
  <button mat-dialog-close class="button no-margin">Close</button>
</div>