<div>
     <!-- Breadcrumb start-->
     <mat-toolbar>
        <mat-icon>home</mat-icon>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span>
          <a href="#" routerLink='/emaildashboard'>{{mainbreadcrumb}}</a>
        </span>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span>
          <a routerLink='/emaillog'>{{breadcrumb}}</a>
        </span>
    </mat-toolbar>
    <!-- Breadcrumb end-->

    <!--Grid code End -->
    <div class="col-sm-12 table-padding " style="border: 1px solid #000000">
      <mat-card>
        <app-dynamic-datatable-edit [myurl]="emailUrl" [mycoloums]="emailLogCol" [mySubmitUrl]=emailSubmitUrl [checkboxId]=checkbox></app-dynamic-datatable-edit>
      </mat-card>
    </div>
</div>