<div class="main-container">
<p class="body-text1 heading-text">
 App Bar appers on top of each page of this System. Change the background color, image, or your logo below.
</p>
<div class="custom-control-row flex-box">
    <div class="custom-field col-1">
        <mat-form-field appearance="outline">
            <mat-label>Background Color</mat-label>
            <input matInput placeholder="Background Color" required
            [(ngModel)]="colorList[0].value"
         
          [cpOKButton] = "true"
          [cpOKButtonText] = "'Select'"
          [cpCancelButton] = "true"
          [cpSaveClickOutside] = "'false'"
          [cpDisableInput]="false"
          [cpAlphaChannel]="'disabled'" 
          [cpOutputFormat]="'hex'"
          [cpPresetColors]="presetValues"
          [cpAddColorButton]="true" >
          <svg-icon matSuffix src="assets/svg-icons/color_lens.svg"  [(colorPicker)]="colorList[0].value"></svg-icon>
            <mat-hint>Click Palette to select, or Enter a Hex Value without#.</mat-hint>
           
          </mat-form-field>
      </div>
      <!-- app bar background image upload -->
    <div class="file-upload-container custom-field col-2">
      <div class="display-flex width-hundred-percent">
      <!-- real input -->
   <input #appBarBgImageRealInput hidden [(ngModel)]="appBarBgImageNgModel"  type="file" name="file" id="file"
    class="input-file" (change)='appBarBgImageChanged($event)' />
  <div class="custom-input-label">
      <label class="label" (click)="appBarBgImageRealInput.click()"></label>
  <mat-form-field  appearance="outline">  
      <mat-label>Background Image </mat-label>
      
      <input  matInput [formControl]="appBarBgImageFormControl"  [type]="hideAppBarBgImageName ? 'password' : 'text'" placeholder="Background Image" readonly>
      <svg-icon matSuffix src="assets/svg-icons/image_suffix.svg"></svg-icon>
      <mat-hint> Upload a PNG or JPEG file. Max Res = 3840 * 184px @ 72ppi.</mat-hint>
      <mat-error *ngIf="appBarBgImageFormControl.errors?.invalidFile">Image not supported.</mat-error>
      <mat-error *ngIf="appBarBgImageFormControl.errors?.required">Image is required</mat-error>
     </mat-form-field>
  </div>
  
  <!-- upload and toggle container starts -->
  <div class="control-button-container">
  <button type="button" [disabled]="appBarBgImageFormControl.invalid || !uploadAppBarBgButtonEnabled" (click)="uploadAppBarBgImage()" class="control-button upload-button">
      <svg-icon class="unit-icon" src="assets/svg-icons/cloud_upload.svg"></svg-icon>
      <div [style.height.%]="progressBarValue"
      [class.validated]="progressBarValue == 100 && appBarBgImageFormControl.valid"
      [class.error]="progressBarValue == 100 && appBarBgImageFormControl.invalid"
      class="custom-progress-division"></div>
  </button>
  </div>
  <div class="control-button-container">
    <button type="button"  class="control-button" (click)="hideAppBarBgImageName = !hideAppBarBgImageName" [disabled]="appBarBgImageFormControl.invalid || progressBarValue != 100">
      <svg-icon *ngIf="!hideAppBarBgImageName" class="unit-icon" src="assets/svg-icons/visibility_off.svg"></svg-icon>
      <svg-icon *ngIf="hideAppBarBgImageName" class="unit-icon" src="assets/svg-icons/visibility.svg"></svg-icon>
  </button>
  
  </div>
      </div>
    </div>
    <mat-card *ngIf="showChooseAppBarBgOptionCard" class="choose-option-for-app-bar-bg-image">
      <div class="inner-div">
   <button (click)="appBarBgImageRealInput.click(); showChooseAppBarBgOptionCard = false">
     <img height="100px; width: 100px" src="assets/select-image-logo.png">
   </button>
   <button (click)="removeImages(); showChooseAppBarBgOptionCard = false">
    <img height="100px; width: 100px" src="assets/select-image-logo.png">
   </button>
  </div>
    </mat-card>
  </div>
<div class="show-color-and-image-boxes-division flex-box">
<div class="show-color-box col-1" [style.background]="colorList[0].value" ></div>
<div class="show-image-box col-2 vertically-center-with-flex" [style.border]="!appBarBgImageName ? 'dashed black 1px' : ''">

    <p *ngIf="!appBarBgImageName" class="body-text1">No Image Uploaded</p>
    <div *ngIf="appBarBgImageName" style="height:100%">
  <button type="button" (click)="removeAppBarBgImage()" class="remove-image-button">
      <svg-icon class="unit-icon" src="assets/svg-icons/clear.svg" ></svg-icon>
  </button>
  <img src="assets/organizations/{{appBarBgImageName}}" (error)="$event.target.src='assets/app_bar_bg_default_image.png'">
  <span class="image-not-found-text"></span>
</div>
</div>
</div>

<div class="custom-control-row">
  <div class="file-upload-container custom-field col-2">
    <div class="display-flex width-hundred-percent">
    <!-- real input -->
 <input #orgLogoRealInput hidden [(ngModel)]="orgLogoNgModel"  type="file" name="file" id="file"
  class="input-file" (change)='orgLogoChanged($event)' />
<div class="custom-input-label">
    <label class="label" (click)="orgLogoRealInput.click()"></label>
<mat-form-field  appearance="outline">  
    <mat-label>Logo </mat-label>
    <input  matInput [formControl]="orgLogoFormControl" placeholder="Logo"  [type]="hideOrgLogoName ? 'password' : 'text'" readonly required>
    <svg-icon matSuffix src="assets/svg-icons/image_suffix.svg"></svg-icon>
    <mat-hint> Upload a PNG or JPEG file. Max Res = 512 * 120 @ 72ppi.</mat-hint>
    <mat-error *ngIf="orgLogoFormControl.errors?.invalidFile">Image not supported.</mat-error>
    <mat-error *ngIf="orgLogoFormControl.errors?.required">Image is required.</mat-error>
   </mat-form-field>
</div>

<!-- upload and toggle container starts -->
<div class="control-button-container">
<button type="button" [disabled]="orgLogoFormControl.invalid || ! uploadOrgLogoButtonEnabled" (click)="uploadOrgLogo()" class="control-button upload-button">
    <svg-icon class="unit-icon" src="assets/svg-icons/cloud_upload.svg"></svg-icon>
    <div [style.height.%]="progressBarValueOrgLogo"
    [class.validated]="progressBarValueOrgLogo == 100 && orgLogoFormControl.valid"
    [class.error]="progressBarValueOrgLogo == 100 && orgLogoFormControl.invalid"
    class="custom-progress-division"></div>
</button>
</div>
<div class="control-button-container">
  <button type="button"  class="control-button" (click)="hideOrgLogoName = !hideOrgLogoName" [disabled]="orgLogoFormControl.invalid || progressBarValueOrgLogo != 100">
    <svg-icon *ngIf="!hideOrgLogoName" class="unit-icon" src="assets/svg-icons/visibility_off.svg"></svg-icon>
    <svg-icon *ngIf="hideOrgLogoName" class="unit-icon" src="assets/svg-icons/visibility.svg"></svg-icon>
</button>

</div>
    </div>
  </div>
</div>
<!-- [style.background-image]="'url(' + 'assets/organizations/' + appBarBgImageName + ')'" -->
<!-- <div *ngIf="appBarBgImageName" class="color-with-logo-result"   (error)="$event.target.src='assets/app_bar_bg_default_image.jpg'">
  <div>
  <img *ngIf="orgLogo" class="selected-logo" src="assets/organizations/{{orgLogo}}">
</div>
</div> -->
<div style="position: relative; overflow: hidden;" class="color-with-logo-result app-bar-bg-image" [style.background]="colorList[0].value">
    <img *ngIf="appBarBgImageName" style="height: 100%; width: 100%"  src="assets/organizations/{{appBarBgImageName}}" (error)="$event.target.src='assets/app_bar_bg_default_image.png'">
    <span class="image-not-found-text"></span>
  <img *ngIf="orgLogo" style="position: absolute" class="selected-logo" src="assets/organizations/{{orgLogo}}" (error)="$event.target.src='assets/404-logo-not-found.png'">

</div>
</div>
<div class="action-buttons">
  <button (click)="submit()" class="button button-margin-right no-margin" [disabled]= "!colorList[0].value || submitDisabled">Submit</button>
  <button  class="button no-margin" (click)="cancel()">Cancel</button>
</div>