

.cmyk-text {
  float: left;

  width: 72px;
  height: 72px;

  font-weight: bolder;
  line-height: 72px;
  text-align: center;
  text-shadow: 1px 1px 2px #bbb;
}

.color-box {
  width: 100px;
  height: 25px;
  margin: 16px auto;

  cursor: pointer;
}

.change-me {
  cursor: pointer;
  font-size: 30px;
  font-weight: bolder;
}

.heading-text{
  margin:  var(--vertical-space-between-rows) 0;
}
.flex-box{
  display: flex !important;
}
.flex-box .col-1,
.flex-box .col-2{
  width:50%;
}
.flex-box .col-1{
  margin-right: var(--horizontal-space-between-controls);
}
.show-color-and-image-boxes-division{
  margin-bottom: var(--vertical-space-between-rows);
}
.show-color-box,
.show-image-box{
  height: 100px;
  border-radius: 5px;
  overflow: hidden;
}

.show-image-box{
  position: relative;
  /* border: dashed black 1px; */
  text-align: center;
}
.show-image-box .remove-image-button{
  position: absolute;
  top: 0;
  right: 0;
  background: #ffa7a7;
  border-radius: 50px;
  padding: 0;
  border: none;
}
.show-image-box img{
  height: 100%;
  width: 100%;
}
.color-with-logo-result{
  margin: var(--vertical-space-between-rows) 0;
  width: 100%;
  height: var(--app-bar-height);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover !important;

}
.selected-logo{
  height: var(--app-bar-inner-container-height) !important;
  margin-left: var(--screen-margin);
  height: 100%;
}
.choose-option-for-app-bar-bg-image{
  position: fixed;
  height: 40vh;
  width: 40vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: flex;
  align-items: center;
}
.inner-div{
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.app-bar-bg-image::after{
 
}
img[src*="default"] + span{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
img[src*="default"] + span::after{
  content: "Image not found :(";
  color: pink;
  font-family: var(--body-text-font-family) !important;
  font-size: var(--body-text1-base-font-size) !important;
  font-weight: 400 !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

