.pad5 {
    padding: 5px;
  }
  .app-bar{
    height: var(--app-bar-height);
    justify-content: center;
    background-size: cover !important;
  }
  /* add box shadow for top tool bar if top nav bar is not shown */
  .box-shadow-app-bar {
    position: relative;
    box-shadow: 0px 2px 4px -1px lightgray,  /* box shadow 4dp */
    0px 4px 5px 0px lightgray,
    0px 1px 10px 0px lightgray;
  }
  
  
  .sidenav-container {
    width: 100%;
  }
  
  /* only if logged in */
  .loged-in .mat-drawer-content{
   height: calc(100vh - var(--app-bar-height)) !important; 
  }
  .sidenav {
   transition: width ease .2s;
   box-shadow: 0px 3px 5px -1px lightgray,  /* box shadow 16dp */
      0px 6px 10px 0px lightgray,
      0px 1px 18px 0px lightgray;
      /* background: var(--nav-drawer-background-color); */
  }
  .fixed-place {
    position: fixed;
  }
  
  .sticky-place {
    margin: 0;
    position: -webkit-sticky;
    position: sticky;
  }
  
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  /* styles given by Shyam starts */
  .margin-left-zero{
    margin-left: 0 !important;
  }
  .example-sidenav-content {
    height: 100vh;
    transition: margin ease .2s;
    background-color: var(--substrate);
  }
  a{
    color: black;
  }
  .loged-in .main-content {
  width: var(--main-content-width);
  margin:  var(--content-horizontal-margin) auto;
  }
  
  /* app bar styles */
  
  .org-logo-link{
    display: inline-block;
    height: 100%;
    padding-right: var(--app-bar-image-horizentol-spacing);
    margin-right: var(--app-bar-image-horizentol-spacing); 
    /* border-right: var(--app-bar-image-vertical-seperator-width) solid var(--app-bar-text-color); */
    /* transition: all .5s; */
  }
  .org-logo {
    height: 100%;
    /* transition: all .5s; */
  }
  
  .notification-icon{
    position: relative;
    margin-right: var(--app-bar-icon-spacing);
  }
  .user-image-button{
    position: relative;
  }
  .user-image{
    border: solid 2px var(--app-bar-text-color);
    border-radius: 4px;
  }
  .mat-menu-vertual-starting-point{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* app bar styles ends */
  
  /* top nav bar custom styles */
  .top-nav-bar {
    padding: var(--top-nav-bar-padding); /*for height*/
    background-color: white;
    box-shadow: 0px 3px 5px -1px lightgray,   /* box shadow 16dp */
      0px 6px 10px 0px lightgray,
      0px 1px 18px 0px lightgray;
    overflow-x: auto;
    white-space: nowrap;
  }
  .top-nav-bar  .body-text1{
  color: black !important;
  }
  .top-nav-bar .top-nav-icon{
    margin-right: var(--top-nav-bar-content-spacing);
  }
  .top-nav-menu-button {
    display: inline-block;
    padding: 0 var(--top-nav-bar-content-spacing);
    border-right: 1px lightgray solid;
    cursor: pointer;
    vertical-align: middle;
  }
  .top-nav-menu-button:first-of-type{
    padding: 0 var(--top-nav-bar-content-spacing) 0 var(--screen-margin)
  }
  .top-nav-menu-button:last-child{
    border-right: none;
  }
  .top-nav-home-button{
    display: inline-block;
    padding: 0 var(--top-nav-bar-content-spacing) 0 var(--screen-margin);
    border-right: 1px lightgray solid;
    cursor: pointer;
    vertical-align: middle;
  }
  .top-nav-expand-icon{
    display: inline-block;
    margin-left: var(--top-nav-bar-expand-more-icon-left-spacing);
    cursor: pointer;
    vertical-align: middle;
  }
  .top-nav-submenu-icon{
    vertical-align: text-bottom !important;
  }
  a.nav-drawer-item{
    color: inherit !important
  }
  
   .active-menu-link{
    color: var(--primary) !important;
    background-color:  rgba(0, 128, 0, 0.12) !important; 
  }
  .toggle-sidebar-style-button{
    display: inline-block;
    width: min-content;
    margin: auto;
  }
  .side-nav-bar-sticky-buttons-top{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
    background: var(--nav-drawer-background-color);
  }
  .side-nav-bar-sticky-buttons-bottom{
    position: sticky;
    bottom: 0;
    width: 100%;
    z-index: 2;
    background: var(--nav-drawer-background-color);
  }
  .top-nav-bar-sticky-buttons-left{
   position: sticky;
   left: 0;
   background: white; 
   z-index: 2;
  }
  .top-nav-bar-sticky-buttons-right{
    position: sticky;
    right: 0;
    background: white; 
    z-index: 2;
   }
  
  /* pushed in side bar styles starts*/
  .pushed-in-side-bar .pushed-in-nav-button-container{
    display: inline-block;
    cursor: pointer;
    height: var(--nav-drawer-item-height);
    line-height: var(--nav-drawer-item-height);
    text-align: center;
    border-bottom: 1px lightgray solid;
    width: 100%;
  }
  /* pushed in side bar styles ends here */
  
  /* pulled out side bar styles starts*/
  .pulled-out-side-bar .sidenav-button-container {
    display: flex;
    align-items: center;
    height: var(--nav-drawer-item-height);
    line-height: var(--nav-drawer-item-height);
    border-bottom: 1px lightgray solid;
    cursor: pointer;
    padding: 0 var(--sidenav-pulled-out-bar-right-side-padding) 0 var(--screen-margin) !important;
  }
  .pulled-out-side-bar .eta-version-container{
    display: flex;
    align-items: center;
    height: var(--nav-drawer-item-height);
    line-height: var(--nav-drawer-item-height);
    padding: 0 var(--sidenav-pulled-out-bar-right-side-padding) 0 var(--screen-margin) !important;
  }
  .eta-version-text{
    color: #969696;
  }
  .sidenav-button-container.push-in-button{
    justify-content: flex-end;
  }
  .pulled-out-side-bar .sidenav-button-container:active {
    background-color:  rgba(0, 0, 0, 0.12) !important;
  }
  
  .pulled-out-side-bar .nav-drawer-group-icon{
    margin-right: var(--screen-margin);
  }
  .pulled-out-side-bar .nav-drawer-item-icon{
    margin-right:  calc(var(--screen-margin) - 8px);
  }
  .pulled-out-side-bar .expansion-panel{
    box-shadow: none !important;
    border-bottom: 1px lightgray solid;
  }
  .pulled-out-side-bar .expansion-panel-menu-icon{
    vertical-align: middle;
  }
  .pulled-out-side-bar .expansion-panel .submenu-text{
    vertical-align: middle; 
    width: calc(100% - ((var(--nav-drawer-item-icon) + var(--screen-margin)) - 8px));
    line-height: initial;
    padding-right: 8px;
  }
 
  /* expension pannel custom styles */
  
  .pulled-out-side-bar .sidenav-submenu-button{
    width: var(--sidebar-expansion-panel-submenu-width);
    height: var(--sidebar-expansion-panel-submenu-height);
    line-height: var(--sidebar-expansion-panel-submenu-height);
    padding-left: calc((2 * var(--screen-margin)) + var(--nav-drawer-group-icon) - ((var(--pulled-out-side-bar-width) - var(--sidebar-expansion-panel-submenu-width))/2));
    margin: 4px auto;
    border-radius: 3px;
  }
  .pulled-out-side-bar .sidenav-submenu-button:not(.active-link):hover,
  .pulled-out-side-bar .sidenav-button-container:hover,
  .pushed-in-side-bar .pushed-in-nav-button-container:hover{
    background-color:  rgba(0, 0, 0, 0.06);
  }
   .pushed-in-side-bar .pushed-in-nav-button-container:active {
    background-color:  rgba(0, 0, 0, 0.12);
   } 
  .pulled-out-side-bar .sidenav-submenu-button:active{
    background-color:  rgba(0, 0, 0, 0.12);
  }
  .pulled-out-side-bar .toggle-sidebar-style-button{
    float: right;
    margin: 0;
  }
  .pulled-out-side-bar .toggle-sidebar-style-button:hover {
    box-shadow: none !important;
  }
  .pulled-out-side-bar .active-menu-link{
    color: var(--primary) !important;
  }
  .pulled-out-side-bar .expansion-panel-menu-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  /* pulled out side bar styles ends*/
   .active-link {
    color: var(--primary) !important;
  }
  .active-expansion-panel-link a .expansion-panel-menu-text{
    color: var(--primary) !important;
  }
  
  
  
  
  /* styles for rtl and ltr sidenav bar starts */
  
  .pushed-in-side-bar-width{
    width: var(--pushed-in-nav-drawer-width);
  }
  .margin-left-for-pushed-in-side-bar{
    margin-left: var(--pushed-in-nav-drawer-width) !important;
  }
  .margin-right-for-pushed-in-side-bar{
    margin-right: var(--pushed-in-nav-drawer-width) !important;
  }
  
  .pulled-out-side-bar-width{
    width: var(--pulled-out-side-bar-width);
  }
  .margin-right-for-pulled-out-side-bar{
    margin-right: var(--pulled-out-side-bar-width) !important;
  }
  .margin-left-for-pulled-out-side-bar{
    margin-left: var(--pulled-out-side-bar-width) !important;
  }
  .margin-right-zero{
    margin-right: 0 !important;
  }
  
  
  .rtl{
    direction: rtl;
  }
  .ltr{
    direction: ltr;
  }
  /* styles for rtl and ltr sidenav bar ends */
  
  .mat-drawer-backdrop.mat-drawer-shown {
  display: none !important;
  }
  .top-nav-bar-outer-container{
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
  }
  .top-nav-bar{
  overflow-x:auto;
  white-space:nowrap;
  overflow-y: hidden;
  }
  .scroll-back-button, .scroll-forward-button{
    position: absolute;
    z-index: 999;
    top: 50%;
    background: white !important;
    color: black !important;
  }
  .scroll-back-button{
    padding-right: 5px;
    /* left: calc((var(--top-nav-bar-content-spacing) * 2 ) + var(--nav-drawer-group-icon) + 10px ); */
    left: 10px;
    transform: translate(0%, -50%);
  }
  .scroll-back-button .material-icons{
    position: relative;
    left: 3px;
  }
  .scroll-forward-button{
    left: calc(100% - var(--app-bar-scroll-forward-button-right));
    transform: translate(-100%, -50%);
  }
  
  
  /* footer styles */
  
  footer{
    width:  var(--main-content-width);
    margin: auto;
    color: black;
    text-align: center;
    margin-bottom: 16px;
  }
  footer ul{
    margin: 0;
    list-style: none;
    padding: 0;
  }
  footer ul li{
    display: inline-block;
    padding: 0 10px;
    border-right: solid 1px black;
  }
  footer ul li:last-of-type{
    border-right: none !important;
  }
  footer ul li a{
    text-decoration: underline !important;
    cursor: pointer;
  }
  footer a:active{
    color: darkgray !important;
  }
  
  /* user detail popup styles */
  .user-detail-div{
    padding: var(--content-inside-padding) !important; 
    width: var(--user-detail-popup-width);
  }
  .user-detail-div .user-img{
    width: var(--user-image-size);
    height: var(--user-image-size);
    border: solid 1px black;
    border-radius: 4px;
    display: block;
  }
  .user-detail-top{
    height: var(--user-image-size);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: var(--content-inside-padding);
  }
  .detail-contents{
    margin: 0;
    margin-bottom: var(--content-inside-padding);
    display: block;
  }
  .user-detail-div a{
    text-decoration: underline !important;
    cursor: pointer;
  }
  .img-div{
    position: relative;
    margin-right: var(--content-inside-padding);
    cursor: pointer;
  }
  .transparent-part{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 13px;
    text-align: center;
    height: 33%;
    border-radius: 0 0 4px 4px;
    cursor: pointer;
  }
  .ellipsisable-text{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
   .pulled-out-side-bar .display-flex{
      align-items: center;
    }