<div [class]="applyedTheme" [class.loged-in]="(isLoggedIn$ | async)" (window:resize)="onWindowResized($event)">
  <!-- <div [class]="applyedTheme"> -->
     
  <mat-toolbar *ngIf="isLoggedIn$ | async as isLoggedIn"
    class="app-bar" [class.box-shadow-app-bar]='!topMenuFlag' style="z-index: 2" color="primary"
  [ngStyle]="{'background': 'var(--app-bar-background) url(' + 'assets/organizations/' + appBarBgImage + ') no-repeat 0 0'}">
  <mat-toolbar-row>
     <a class="org-logo-link" routerLink="welcome">
     <!-- <img class="org-logo logo-white" src="../assets/GT-logo-white.png"> -->
     <img *ngIf="orgLogoPath" class="org-logo logo-white" src="assets/organizations/{{orgLogoPath}}" (error)="$event.target.src='assets/404-logo-not-found.png'">
     <!-- <img class="org-logo logo-yellow" src="../assets/GT-Icon-Logo-yellow.png"> -->
   </a>
     
     <div class="app-bar-recently-used-division" style="display: none">
        <p class="static-text no-margin body-text2">Recently used</p>

        <div class="select-tag-div">
           <mat-form-field>
              <mat-label>Select</mat-label>
            <mat-select class="mat-select" placeholder="Select" disableOptionCentering  panelClass="app-bar-select-panel">
               <mat-option value="option1">Add new task</mat-option>
                 <mat-option value="option2">Edit task</mat-option>
                 <mat-option value="option3">Edit image</mat-option>
            </mat-select>
          </mat-form-field>
         </div>
     </div>
     <span class="example-spacer"></span>
     <!--  <button mat-fab class="example-header-image" ></button> -->
     <!--    <button mat-icon-button>
        <mat-icon matBadge="5" matBadgeColor="warn">notification_important</mat-icon>
        </button>
        <button mat-icon-button>
        <mat-icon matBadge="15" matBadgeColor="warn">mail_outline</mat-icon>
        </button> -->
     <button  class="notification-icon button-as-icon" matBadge="15" matBadgeColor="warn">
     <!-- <i class="material-icons app-bar-icon">
     notification_important
     </i> -->
    <svg-icon class="app-bar-icon" src="../assets/svg-icons/notifications.svg"></svg-icon>
     </button>
     <button class="user-image-button button-as-icon">
     <img class="app-bar-icon-img user-image" src="../assets/avtar1.png" alt="Photo Of User" (click)="vertualTrigger.click()">
     <span #vertualTrigger class="mat-menu-vertual-starting-point" [matMenuTriggerFor]="avtarInfo"></span>
     </button>
     <!-- <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
     </button>
     <mat-menu #menu="matMenu">
        <button mat-menu-item>
           <mat-icon>power_settings_new</mat-icon>
           <span (click)="logout($event)">Logout</span>
        </button>
        <button mat-menu-item>
           <mat-icon>person</mat-icon>
           <span (click)="profileView()">Profile</span>
        </button>
        <button mat-menu-item>
           <mat-icon>settings</mat-icon>
           <span>Setting</span>
        </button>
        <button mat-menu-item>
           <mat-icon>mail_outline</mat-icon>
           <span>Messages</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="themelist">
           <mat-icon>opacity</mat-icon>
           <span>Themes</span>
        </button>
        <button mat-menu-item>
           <mat-icon>help</mat-icon>
           <span>Help</span>
        </button>
        <button mat-menu-item (click)='changeSideBarPosition()'>
           <mat-icon>{{sideNavBarPosition == 'start'? 'format_align_right': 'format_align_left'}}</mat-icon>
           <span>Change sidebar position</span>
        </button>
     </mat-menu>
     <mat-menu #themelist="matMenu">
        <button *ngFor="let theme of themesList"  [value]="theme.value" (click)="onChange(theme.value)" mat-menu-item>{{theme.viewValue}}</button>
     </mat-menu> -->

     <mat-menu #avtarInfo="matMenu" yPosition="below" class="user-detail-card">
             <div class="user-detail-div">
                <div class="display-flex ">
                <div class="img-part">
                   <div class="img-div">
                   <img class="user-img" src="../assets/avtar1.png">
                   <div class="transparent-part" style="font-size: calc(var(--body-text2-base-font-size) - 2px)">Upload</div>
                  </div>
                </div>
                <div class="detail-part">
                   <div class="user-detail-top">
                        <h3 class="body-text1 no-margin">Deepak Jain</h3>
                        <p class="body-text2 no-margin">Last login: Monday, Apr 22, 2019 at 10:54am (IST)</p>
                   </div>
                  
                  <a class="detail-contents body-text1 eta-custom-link" (click) = "reDirectAccount()">Account</a>
                  <a class="detail-contents body-text1 eta-custom-link" (click) = "reDirectPrefernces()">Preferences</a>
                  <a class="detail-contents body-text1 eta-custom-link">Delegate</a>
                  <button (click)="logout($event)" class="button no-margin">Logout</button>
                </div>
             </div>
            </div>

     </mat-menu>
  </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container  class="sidenav-container">
      
     <mat-sidenav  [class.expanded-sidenav]="isExpanded"  id="customScrollBarContainer" 
     [position]="sideNavBarPosition"
     [class.pulled-out-side-bar-width]="isExpanded" 
     [class.pushed-in-side-bar-width]="!isExpanded"
     [class.rtl]="sideNavBarPosition == 'end'"
     *ngIf="topMenuFlag == false && isLoggedIn$ | async as isLoggedIn" #drawer 
     [class.styles-for-side-nav]="sideIconBarFlag == true" 
     [class.loged-in] = "isLoggedIn$"
     class="sidenav  mat-primary" 
     fixedInViewport="false" 
     [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
     [mode]="(isHandset$ | async) ? 'over' : 'side'" 
     [opened]="(isLoggedIn$ | async)">
     <!-- Menu List Start here  -->
     <div  *ngIf="isLoggedIn$ | async as isLoggedIn " class="sticky-place ltr">
        <div class="sticky-place">
           <mat-accordion color="primary">
              <!-- pushed in side bar shows when isExpanded property is false -->
              <div *ngIf="!isExpanded" class="pushed-in-side-bar">
                 <!-- pull out button starts -->
                    <div class="side-nav-bar-sticky-buttons-top" (click)="changeSideBarStyle()">
                       <div class="pushed-in-nav-button-container ">
                         <svg-icon  class="unit-icon toggle-sidebar-style-button" 
                           src="../assets/svg-icons/arrow_forward.svg"></svg-icon>
                           </div> 
                        </div>
                 <!-- pull out button ends -->
              <!-- constant home button starts  -->
                  <a class="pushed-in-nav-button-container"
                     routerLinkActive="active-link" routerLink='welcome'>   
                       <svg-icon class="nav-drawer-group-icon" src="../assets/svg-icons/nav-drawer-icons/welcome.svg"></svg-icon> 
                           </a>
            <!-- constant home button ends  -->

            <!-- dynamic nav bar items starts -->
             <div *ngFor="let menuList of menuTypeList"> 
                    <a *ngIf="menuList.routerLink !='eta-web/welcome'" class="pushed-in-nav-button-container"
                     (click)="openExpandablePanel(menuList)" 
                     routerLinkActive="pushed-in-active-link" routerLink='{{menuList.routerLink}}'>   
                    <svg-icon class="nav-drawer-group-icon"
                     src="../assets/svg-icons/nav-drawer-icons/{{menuList.iconName}}.svg"></svg-icon>
                     <!-- hardecoded icon for producer -->
                     <svg-icon *ngIf="menuList.translation == 'Producer'" class="nav-drawer-group-icon"
                     src="../assets/svg-icons/nav-drawer-icons/producer.svg"></svg-icon>

          <!-- submenu link for make active button style -->
                    <div *ngIf="menuList.subMenu!=null" style="display: none">
                     <a *ngFor="let submenu of menuList.subMenu" routerLink="/{{submenu.routerLink}}"></a>
                  </div>
                    </a>
            </div>
             <!-- dynamic nav bar items ends -->

            <!-- constant media player menu starts here  -->
            <a class="pushed-in-nav-button-container" (click)="openExpandablePanel('notNull')" 
            routerLinkActive="active-link">   
              <svg-icon class="nav-drawer-group-icon" src="../assets/svg-icons/nav-drawer-icons/ciff.svg"></svg-icon> 
                  </a>
           <!-- constant media player menu ends here  -->
              <!-- toggle to top button -->
                 <div class="side-nav-bar-sticky-buttons-bottom" (click)="toggleTopMenu()" >
                    <div class="pushed-in-nav-button-container ">
                  <svg-icon class="nav-drawer-group-icon" 
                  src="../assets/svg-icons/nav-drawer-icons/launch.svg"></svg-icon>
              </div>
            </div>
              <!-- toggle to top button ends -->
        </div>

        <!-- pulled out bar shows when isExpanded property is false -->
        <div class="pulled-out-side-bar" *ngIf="isExpanded" >
        <!-- push in in button starts -->
        <div class="side-nav-bar-sticky-buttons-top" (click)="changeSideBarStyle()"> 
           <div class="sidenav-button-container push-in-button">
            <svg-icon *ngIf="sideNavBarPosition == 'start'" class="unit-icon toggle-sidebar-style-icon" 
                  src="../assets/svg-icons/arrow_backward.svg"></svg-icon>
                  <svg-icon *ngIf="sideNavBarPosition == 'end'" 
                  class="unit-icon toggle-sidebar-style-icon" 
                  src="../assets/svg-icons/arrow_forward.svg"></svg-icon>
        </div>
      </div>
        <!-- push in button ends -->
        <!-- constant welcome menu starts -->
        <a class="sidenav-button-container nav-drawer-group-item"
        routerLinkActive="active-link"  routerLink='welcome'> 
        <svg-icon class="nav-drawer-group-icon  no-padding-svg" 
        src="assets/svg-icons/nav-drawer-icons/welcome.svg"></svg-icon>
        <span class="menu-text ellipsisable-text">Home</span>
        </a>
         <!-- constant welcome menu ends -->
         
        <div  *ngFor="let menuList of menuTypeList">
        <a *ngIf="menuList.subMenu==null && menuList.routerLink != 'eta-web/welcome'" class="sidenav-button-container nav-drawer-group-item"
        routerLinkActive="active-link"  routerLink='/{{menuList.routerLink}}'>  

        <svg-icon class="nav-drawer-group-icon  no-padding-svg  vertical-align-middle" 
        src="../assets/svg-icons/nav-drawer-icons/{{menuList.iconName}}.svg"></svg-icon>
        <span class="menu-text ellipsisable-text">{{menuList.translation }}</span>

        </a>

        <!-- Expandable menu when menu have some submenu-->
        <mat-expansion-panel  hideToggle="false" #expansionPanel  *ngIf="menuList.subMenu!=null"  class="expansion-panel" [expanded]="expandPannelFlag[menuList.translation]"
        >
        <mat-expansion-panel-header (click)="openExpandablePanel(menuList)" collapsedHeight="var(--nav-drawer-item-height)" expandedHeight="var(--nav-drawer-item-height)" 
        routerLinkActive="active-expansion-panel-link"
         [style.paddingRight]="sideNavBarPosition == 'end'? '0' : '24px'" >
         <mat-panel-title>
         <a class="display-flex" style="align-items: center; width: 100%">
        <svg-icon  *ngIf="menuList.translation != 'Producer'" class="nav-drawer-group-icon  no-padding-svg  vertical-align-middle" src="../assets/svg-icons/nav-drawer-icons/{{menuList.iconName}}.svg"></svg-icon>
        <!-- hardcoded icon for producer -->
        <svg-icon *ngIf="menuList.translation == 'Producer'" class="nav-drawer-group-icon  no-padding-svg  vertical-align-middle" 
        src="../assets/svg-icons/nav-drawer-icons/producer.svg"></svg-icon>
       
        <div class="expansion-panel-menu-text  nav-drawer-group-item" >{{menuList.translation}}</div> 
        </a>
        </mat-panel-title>
        </mat-expansion-panel-header>
        
        <a class="sidenav-submenu-button display-flex"  
        *ngFor="let submenu of menuList.subMenu" 
        routerLinkActive="active-link" 
        routerLink='/{{submenu.routerLink}}'>
        <svg-icon *ngIf="submenu.translation != 'Add Video'" class="nav-drawer-item-icon vertically-center-with-flex " src="../assets/svg-icons/nav-drawer-icons/{{submenu.iconName}}.svg"></svg-icon>
        <!-- hardcoded add_video icon -->
        <svg-icon *ngIf="submenu.translation == 'Add Video'"
         class="nav-drawer-item-icon vertically-center-with-flex " 
         src="../assets/svg-icons/nav-drawer-icons/add_video.svg"></svg-icon>
                 <div class="submenu-text nav-drawer-item vertically-center-with-flex">{{submenu.translation}}</div>
      </a>
     
    
        </mat-expansion-panel>
        </div>

        <!-- hardcoded media player menu starts -->
        <mat-expansion-panel  hideToggle="false" #expansionPanel  class="expansion-panel" [expanded]="expandPannelFlag[menuList.translation]"
        >
        <mat-expansion-panel-header (click)="openExpandablePanel(menuList)" collapsedHeight="var(--nav-drawer-item-height)" 
        expandedHeight="var(--nav-drawer-item-height)" 
        routerLinkActive="active-expansion-panel-link"
         [style.paddingRight]="sideNavBarPosition == 'end'? '0' : '24px'" >
         <mat-panel-title>
         <a class="display-flex" style="align-items: center; width: 100%">
        <svg-icon class="nav-drawer-group-icon  no-padding-svg  vertical-align-middle" src="../assets/svg-icons/nav-drawer-icons/ciff.svg"></svg-icon>
        <div class="expansion-panel-menu-text  nav-drawer-group-item" >CIFF</div> 
        </a>
        </mat-panel-title>
        </mat-expansion-panel-header>
        
        <!-- hardcoded media channels -->
        <a class="sidenav-submenu-button display-flex"  
        routerLinkActive="active-link" 
        routerLink='/eta-web/mediaPlayer/2014'>
        <svg-icon class="nav-drawer-item-icon vertically-center-with-flex " src="../assets/svg-icons/nav-drawer-icons/channel.svg"></svg-icon>
        <div class="submenu-text nav-drawer-item vertically-center-with-flex">2014</div>
      </a>
      <a class="sidenav-submenu-button display-flex"  
      routerLinkActive="active-link" 
      routerLink='/eta-web/mediaPlayer/2015'>
      <svg-icon class="nav-drawer-item-icon vertically-center-with-flex " src="../assets/svg-icons/nav-drawer-icons/channel.svg"></svg-icon>
      <div class="submenu-text nav-drawer-item vertically-center-with-flex">2015</div>
    </a>
    <a class="sidenav-submenu-button display-flex"  
    routerLinkActive="active-link" 
    routerLink='/eta-web/mediaPlayer/2016'>
    <svg-icon class="nav-drawer-item-icon vertically-center-with-flex " src="../assets/svg-icons/nav-drawer-icons/channel.svg"></svg-icon>
    <div class="submenu-text nav-drawer-item vertically-center-with-flex">2016</div>
  </a>
  <a class="sidenav-submenu-button display-flex"  
  routerLinkActive="active-link" 
  routerLink='/eta-web/mediaPlayer/2017'>
  <svg-icon class="nav-drawer-item-icon vertically-center-with-flex " src="../assets/svg-icons/nav-drawer-icons/channel.svg"></svg-icon>
  <div class="submenu-text nav-drawer-item vertically-center-with-flex">2017</div>
</a>
<a class="sidenav-submenu-button display-flex"  
routerLinkActive="active-link" 
routerLink='/eta-web/mediaPlayer/2018'>
<svg-icon class="nav-drawer-item-icon vertically-center-with-flex " src="../assets/svg-icons/nav-drawer-icons/channel.svg"></svg-icon>
<div class="submenu-text nav-drawer-item vertically-center-with-flex">2018</div>
</a>
     
    
        </mat-expansion-panel>
        <!-- hardcoded media player menu ends -->
        <!-- toggle to top button -->
        <div class="side-nav-bar-sticky-buttons-bottom" >
        <div (click)="toggleTopMenu()"> 
           <div class="sidenav-button-container">
            <svg-icon class="nav-drawer-group-icon no-padding-svg" src="../assets/svg-icons/nav-drawer-icons/launch.svg"></svg-icon>
        <span class="nav-drawer-group-item">Top Nav bar</span>
        </div>
        </div>
        <div class="eta-version-container">
            <span class="eta-version-text body-text2">Eta Version Alpha 1.</span>
        </div>
      </div>
      </div>
        </mat-accordion>
     </div>
     </div>
     </mat-sidenav>
     <mat-sidenav-content 
     #scrollableContainer
     [class.rtl]="sideNavBarPosition == 'end'" 
     [class.sidenav-content-expanded-navbar]="sideNavBarPosition == 'start' && isExpanded && !topMenuFlag" 
     [class.margin-left-for-pulled-out-side-bar]="sideNavBarPosition == 'start' && isExpanded && !topMenuFlag && (isLoggedIn$ | async)" 
     [class.margin-left-for-pushed-in-side-bar]="sideNavBarPosition == 'start' && !isExpanded && !topMenuFlag && (isLoggedIn$ | async)"
     [class.margin-right-for-pulled-out-side-bar]="sideNavBarPosition == 'end' && isExpanded && !topMenuFlag" 
     [class.margin-right-for-pushed-in-side-bar]="sideNavBarPosition == 'end' && !isExpanded && !topMenuFlag" 
     [class.margin-left-zero]="sideNavBarPosition == 'end' || !isLoggedIn$"
     [class.margin-right-zero]="sideNavBarPosition == 'start' || !isLoggedIn$"  class="example-sidenav-content">
     <!-- top nav bar starts here --> 


     <!-- *ngIf="topMenuFlag == true" -->
     <div *ngIf="isLoggedIn$ | async as isLoggedIn" style="display: var(--top-nav-bar-display)"  class="top-nav-bar-outer-container"> 
     <button *ngIf="previousButtonFlag"  class="scroll-back-button custom-fab-small" (click)="prev()" mat-fab>
      <svg-icon class="unit-icon no-padding-svg" src="assets/svg-icons/arrow_backward.svg"></svg-icon>
     </button>
      <button *ngIf="nextButtonFlag" class="scroll-forward-button custom-fab-small" (click)="next()" mat-fab>
         <svg-icon class="unit-icon no-padding-svg" src="assets/svg-icons/arrow_forward.svg"></svg-icon>
      </button>
     <div id="InvisibleScrollBarContainer" class="top-nav-bar"    #widgetsContent>

        <div style="white-space:nowrap; display: inline-block" #scrollableContent>
      

           <!-- constant home button starts -->
           <div *ngIf="menuList.routerLink != 'welcome'" class="top-nav-menu-button" >
            <div class="menu-button-inner-container display-flex">
                  <a class="body-text1 display-flex"  routerLink='welcome'>
                  <svg-icon class="nav-drawer-group-icon top-nav-icon vertically-center-with-flex no-padding-svg"
                   src="assets/svg-icons/nav-drawer-icons/welcome.svg"></svg-icon>
                 <span class="vertically-center-with-flex"> Home</span>
                </a>
            </div>
         </div>
             <!-- constant home button ends -->

          <div *ngFor="let menuList of menuTypeList" class="display-inline-block" style="border-right: solid lightgray 1px">
           <div *ngIf="menuList.routerLink != 'eta-web/welcome'"  class="top-nav-menu-button">
              <div class="menu-button-inner-container display-flex">
                 
                    <a class="body-text1 display-flex"  routerLink='/{{menuList.routerLink}}'>
                    <svg-icon *ngIf="menuList.translation != 'Producer'" class="nav-drawer-group-icon top-nav-icon vertically-center-with-flex no-padding-svg" 
                    src="assets/svg-icons/nav-drawer-icons/{{menuList.iconName}}.svg"></svg-icon>
                    <!-- hardcoded producer icon -->
                    <svg-icon *ngIf="menuList.translation == 'Producer'" class="nav-drawer-group-icon top-nav-icon vertically-center-with-flex no-padding-svg" 
                    src="assets/svg-icons/nav-drawer-icons/producer.svg"></svg-icon>
                    
                   <span class="vertically-center-with-flex"> {{menuList.translation }}</span>
                  </a>
                    <span *ngIf="menuList.subMenu!=null" class="vertically-center-with-flex">
                    <svg-icon (click)="MatMenuTriggerForOpenMenuFromCenter.click()"  class="top-nav-expand-icon unit-icon no-padding-svg" src="assets/svg-icons/arrow_down.svg"></svg-icon>
                  </span>
                            <mat-menu class="top-nav-bar-submenu-panel"  #submenuPanel="matMenu">
                             <a *ngFor="let submenu of menuList.subMenu" routerLinkActive="active-submenu-link" 
                              class="nav-drawer-item display-flex links" routerLink='/{{submenu.routerLink}}'>
                          <svg-icon *ngIf="submenu.translation != 'Add Video'" 
                          class="nav-drawer-item-icon no-padding" src="assets/svg-icons/nav-drawer-icons/{{submenu.iconName}}.svg"></svg-icon>
                          <!-- hardcoded add_video icon -->
                          <svg-icon *ngIf="submenu.translation == 'Add Video'"
                      class="nav-drawer-item-icon vertically-center-with-flex " 
                          src="../assets/svg-icons/nav-drawer-icons/add_video.svg"></svg-icon>
                          <span >{{submenu.translation}}</span>
                          </a>
                    </mat-menu>
                    <span  #MatMenuTriggerForOpenMenuFromCenter [matMenuTriggerFor]="submenuPanel" class="top-nav-submenu-panel-starting-point"></span>
              </div>
           </div>
         </div>

         <!-- constant media player menu starts here -->
         <div  class="display-inline-block" style="border-right: solid lightgray 1px">
            <div  class="top-nav-menu-button">
               <div class="menu-button-inner-container display-flex">
                  
                     <a class="body-text1 display-flex" >
                     <svg-icon class="nav-drawer-group-icon top-nav-icon vertically-center-with-flex no-padding-svg" src="assets/svg-icons/nav-drawer-icons/ciff.svg"></svg-icon>
                     
                    <span class="vertically-center-with-flex"> CIFF</span>
                   </a>
                     <span  class="vertically-center-with-flex">
                     <svg-icon (click)="MatMenuTriggerForOpenMenuFromCenter.click()"  class="top-nav-expand-icon unit-icon no-padding-svg"
                      src="assets/svg-icons/arrow_down.svg"></svg-icon>
                   </span>
                             <mat-menu class="top-nav-bar-submenu-panel"  #submenuPanel="matMenu">
                              <a routerLinkActive="active-submenu-link" 
                               class="nav-drawer-item display-flex links" routerLink='/eta-web/mediaPlayer/2014'>
                           <svg-icon class="nav-drawer-item-icon no-padding" src="assets/svg-icons/nav-drawer-icons/channel.svg"></svg-icon>
                           <span>2014</span>
                           </a>

                           <a routerLinkActive="active-submenu-link" 
                           class="nav-drawer-item display-flex links" routerLink='/eta-web/mediaPlayer/2015'>
                       <svg-icon class="nav-drawer-item-icon no-padding" src="assets/svg-icons/nav-drawer-icons/channel.svg"></svg-icon>
                       <span>2015</span>
                       </a>

                       <a routerLinkActive="active-submenu-link" 
                       class="nav-drawer-item display-flex links" routerLink='/eta-web/mediaPlayer/2016'>
                   <svg-icon class="nav-drawer-item-icon no-padding" src="assets/svg-icons/nav-drawer-icons/channel.svg"></svg-icon>
                   <span>2016</span>
                   </a>
                   
                   <a routerLinkActive="active-submenu-link" 
                   class="nav-drawer-item display-flex links" routerLink='/eta-web/mediaPlayer/2017'>
               <svg-icon class="nav-drawer-item-icon no-padding" src="assets/svg-icons/nav-drawer-icons/channel.svg"></svg-icon>
               <span>2017</span>
               </a>
               
               <a routerLinkActive="active-submenu-link" 
               class="nav-drawer-item display-flex links" routerLink='/eta-web/mediaPlayer/2018'>
           <svg-icon class="nav-drawer-item-icon no-padding" src="assets/svg-icons/nav-drawer-icons/channel.svg"></svg-icon>
           <span>2018</span>
           </a>
                     </mat-menu>
                     <span  #MatMenuTriggerForOpenMenuFromCenter [matMenuTriggerFor]="submenuPanel" class="top-nav-submenu-panel-starting-point"></span>
               </div>
            </div>
          </div>
 <!-- constant media player menu ends here -->

           <div (click)="toggleTopMenu()" class="top-nav-menu-button top-nav-bar-sticky-buttons-right" >
              <span>
              <svg-icon class="vertical-align-middle display-inline-block top-nav-icon nav-drawer-group-icon"
               src="assets/svg-icons/nav-drawer-icons/launchSideNavDrawer.svg"></svg-icon>
              <span class="body-text1 vertical-align-middle icon-without-padding"> Side Nav Drawer</span></span>
           </div>
      </div>
   </div>
      </div>
     <!-- top nav bar ends here -->
     <!-- main content starts here -->
        <div id="defaultScrollBar"  class="main-content ltr"  (resized)="onMainContentResized($event)">
        <router-outlet (activate)='onActivate()'></router-outlet>
   </div>
     <!-- main content ends here -->
     <footer *ngIf="isLoggedIn$ | async as isLoggedIn">
        <ul class="body-text2">
           <li><a >About Eta </a><sup>®</sup></li>
           <li><a >Terms of Use</a></li>
           <li><a >Privacy Policy</a></li>
           <li><a >Contact Support</a></li>
           <li> © 2018-23 GreenTech Consulting LLC All Rights Reserved.</li>
        </ul>
     </footer>

     </mat-sidenav-content>
  </mat-sidenav-container>
  <div>
  </div>
  </div>

