<div class="custom-slider-container">
  <div class="custom-slider" #widgetsContent>
          <mat-card class="card custom-long-card" *ngFor="let card of cards">
                  <div class="card-top">
                   <h3 class="card-heading no-margin">{{card.heading}}</h3>
                  <p class="body-text1 card-discription">{{card.description}}</p>
                  <div class="button-division">
                   <div class="button-inner-division">
                       <button class="button no-margin">View</button>
                       <i class="card-expand-more-button material-icons unit-icon icon-without-padding">more_vert</i>
                   </div>
                 </div>
                    </div>
                  
                    </mat-card>
                    <button  class="fab-previous custom-fab" (click)="prev()" mat-fab><mat-icon>arrow_back_ios</mat-icon></button>
                    <button  class="fab-next custom-fab" (click)="next()" mat-fab><mat-icon>arrow_forward_ios</mat-icon></button>
                    <div class="trasparent-div"></div>
  </div>
</div>