.custom-slider-container {
    position: relative;
    margin-bottom: 40px;
  }
  
.custom-slider::-webkit-scrollbar { 
  width: 0 !important;
height: 0 !important; }
.custom-slider{
  
    width:100%;
  
      overflow-x:auto;
  
      white-space:nowrap;
      padding: 30px 0;
     
  }
  .custom-slider .mat-card {
     display:inline-block;
     text-align: center;
     border-radius: 4px;
     overflow: hidden;
  }
  .custom-slider .mat-card:hover{
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2),
    0px 16px 24px 2px rgba(0, 0, 0, 0.14),
    0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  }
  .card .card-heading, .card .card-discription{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .card .card-discription{
    font-weight: 500;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: calc(var(--custom-long-card-min-width) - (var(--custom-long-card-padding) * 2))
  } 
  .card .button-division{
    position: absolute;
    width: calc(var(--custom-long-card-min-width) - (var(--custom-long-card-padding) * 2));
    bottom: var(--custom-long-card-padding);
  }
  .card .card-heading, .card .card-discription{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .card .card-discription{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: calc(var(--custom-long-card-min-width) - (var(--custom-long-card-padding) * 2))
  } 
  .card .button-division{
    position: absolute;
    width: calc(var(--custom-long-card-min-width) - (var(--custom-long-card-padding) * 2));
    bottom: var(--custom-long-card-padding);
  }
  .button-division .button-inner-division{
    position: relative;
    text-align: left;
  }
  .button-inner-division .card-expand-more-button{
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-100%, -50%);
  }
  .fab-previous, .fab-next {
    position: absolute;
    top: 50%;
    z-index: 2;
    background: white !important;
  }
  .fab-previous .material-icons,
   .fab-next .material-icons{
     color: black !important;
   }
  .fab-previous {
    left: 20px;
  transform: translate(-50%, -50%);
  }
  .fab-next{
    left: 100%;
    transform: translate(-100%, -50%);
  }

  .trasparent-div{
    height: calc(100% - 60px);
    width: 200px;
    background: red;
    position: absolute;
    background: linear-gradient(to right, transparent, white);
    top: 50%;
    left: 100%;
    transform: translate(-100%, -50%);
}