<div class="main-container">
  <div class="heading-division">
<h4 class="target-area-title">Add new Data Container to Process Name</h4>
</div>
<!-- name field  -->
<div class="custom-field" >
    <mat-form-field appearance="outline" [class.custom-error]="nameInput.value.length == 64">
      <mat-label>Name</mat-label>
      <input matInput #nameInput placeholder="Enter Name" [formControl]='name' maxlength="64" required>
      <mat-hint>{{64 - nameInput.value.length }} characters remaining.</mat-hint>
      <mat-icon matSuffix>search</mat-icon>
      <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>


<!-- toggle buttons starts here  -->
  <section class="toggle-button">
<mat-slide-toggle  class="example-margin" [(ngModel)]="resuable" color='warn'>Reusable</mat-slide-toggle>
</section>

<section class="toggle-button">
<mat-slide-toggle  class="example-margin"  [(ngModel)]="shared" color='warn'>Shared</mat-slide-toggle>
</section>
<!-- toggle buttons ends here -->

<!-- scope (multiselect) starts here-->
<div class="custom-field custom-multiselect" >
  
    <mat-form-field  appearance='outline' >
      <mat-label>Scope</mat-label>
      <mat-select placeholder="Please select"  panelClass="custom-multi-select-panel" [(value)]="selected">
        <mat-option *ngIf="selected== 'oneChecked'" class="hidden-option" value="oneChecked">{{selectedInfo}}</mat-option>
        <mat-option *ngIf="selected== 'multipleChecked'" class="hidden-option" value="multipleChecked">Multiple Selection. ({{selectedInfo.length}})</mat-option>
        <mat-option   id="container">
          
        <div class="custom-tree">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node  *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
    
        <mat-checkbox style='margin-left: -20px' (click)='stopPropegationFunction($event)'  class="checklist-leaf-node custom-checkbox"
                      [checked]="checklistSelection.isSelected(node)"
                      (change)="checklistSelection.toggle(node); checkNodes()">{{node.item}}</mat-checkbox>
      </mat-tree-node>
    
    
      <mat-tree-node  *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    
        <mat-checkbox class="custom-checkbox"  [checked]="descendantsAllSelected(node)"
                      [indeterminate]="descendantsPartiallySelected(node)"
                      (change)="todoItemSelectionToggle(node); checkNodes()">{{node.item}}</mat-checkbox>
      
      </mat-tree-node>
    </mat-tree>
    </div>
        </mat-option>
        
      </mat-select>
      <mat-hint>Select scope of sharing.</mat-hint>
    </mat-form-field>
    
    </div>
<!-- scope (multiselect) ends here -->


<div class="data-object-modification-buttons-group">
  <mat-checkbox  [ngModelOptions]="{standalone: true}" [(ngModel)]='dataObjectCheckAllItem' class="custom-checkbox-without-margin data-object-check-all-button" (change)='checkAllDataObject($event); toggleDeleteDataObjectButton()'></mat-checkbox>
  <button  (click)="addDataObject()"  class="add-data-object-button">
    <i class="material-icons">add_box</i>
  </button>
  <button *ngIf='dataObjectdeleteButtonFlag' (click)='deleteDataObject(2)' class="delete-data-object-button">
      <i class="material-icons">delete</i>
    </button>
</div>

<form [formGroup]="form">
	<!-- X -->
	<div formArrayName="dataObject">
      <div class="data-object-heading">
          <h4>Data Object Name*</h4>
        </div>
		<div *ngFor="let dataObject of form['controls'].dataObject['controls']; let dataObjectIndex=index">
      
			<div formGroupName="{{dataObjectIndex}}" class="dataObject">
        <!-- data object checked status -->
        <div class="data-object-check-button">
        <mat-checkbox (change)="toggleDeleteDataObjectButton(); toggleCheckAllDataObjectButton()" class="custom-checkbox-without-margin" formControlName="dataObjectCheckedStatus"></mat-checkbox>
      </div>

        <!-- data object name field -->
        <div class="custom-field data-object-name-field" >
            <mat-form-field appearance="outline" [class.custom-error]="nameInput.value.length == 32">
              <mat-label>Name</mat-label>
              <input matInput #nameInput placeholder="Enter Name" formControlName="dataObjectName" maxlength="32" required>
              <mat-icon matSuffix>search</mat-icon>

              <mat-hint>{{32 - nameInput.value.length }} characters remaining.</mat-hint>
              <!-- showing error according validation (this is for required validation) -->
               <mat-error *ngIf="form.controls['dataObject'].controls[dataObjectIndex].get('dataObjectName').invalid && 
               form.controls['dataObject'].controls[dataObjectIndex].get('dataObjectName').errors.required">required</mat-error>

            </mat-form-field>
            
          </div>
         
		
			<!-- data element division starts here -->
				<div class="data-element-division" formArrayName="dataElements">

          <!-- data element division modification button group starts here -->
          <div class="data-element-modification-buttons-group">
            <mat-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]='dataElementCheckAllItem' class="custom-checkbox-without-margin data-element-check-all-button"
            (change)="checkAllDataElement(dataObjectIndex, $event); toggleDeleteDataElementButton(dataObjectIndex)"></mat-checkbox>

            <button type="button" (click)="addDataElement(dataObjectIndex)"  class="add-data-element-button">
              <i class="material-icons">add_box</i>
            </button>

            <button *ngIf="dataElementdeleteButtonFlag" type="button" (click)='deleteDataElement(dataObjectIndex, 2)' class="delete-data-element-button">
                <i class="material-icons">delete</i>
              </button>
          </div>
 <!-- data element division modification button group ends here -->
					<div *ngFor="let Y of dataObject['controls'].dataElements['controls']; let dataElementIndex=index">
						<div formGroupName="{{dataElementIndex}}" class="dataElements">

              <!-- data element checked status -->
              <div class="data-element-check-button  data-element-check-button">
              <mat-checkbox (change)=" toggleDeleteDataElementButton(dataObjectIndex); toggleCheckAllDataElementButton(dataObjectIndex)" class="custom-checkbox-without-margin" formControlName="dataElementCheckedStatus"></mat-checkbox>
            </div>
              <!-- data element name field -->
              <div class="dynamic-width-division">
              <div class="data-element-name-field">
        <div class="custom-field" >
            <mat-form-field appearance="outline" >
              <mat-label>Element</mat-label>
              <input matInput #nameInput placeholder="Element" formControlName="dataElementName" maxlength="32" required>
              <mat-icon matSuffix>search</mat-icon>
              <mat-hint>{{32 - nameInput.value.length }} characters remaining.</mat-hint>

                         <!-- showing error according validation (this is for required validation) -->
                         <mat-error *ngIf="form.controls['dataObject'].controls[dataObjectIndex].controls['dataElements'].controls[dataElementIndex].get('dataElementName').invalid && 
                         form.controls['dataObject'].controls[dataObjectIndex].controls['dataElements'].controls[dataElementIndex].get('dataElementName').errors.required">required</mat-error>
                           
                        </mat-form-field>
          </div>
        </div>


          <!-- data element value type select tag -->
          <div class="data-element-value-type-field">
          <div class="custom-select custom-field">

          <mat-form-field appearance="outline"  >
            <mat-label>Value type</mat-label>
                  <mat-select placeholder="Value type" formControlName="dataElementValueType" required  disableOptionCentering panelClass="custom-select-panel">
                    <mat-option>-none-</mat-option>
                    <mat-option *ngFor="let type of dataElementValueType" [value]="type">
                      {{type}}
                    </mat-option>
                  </mat-select>
                
                  <mat-hint>Select type of value expected.</mat-hint>

                           <!-- showing error according validation (this is for required validation) -->
              <mat-error *ngIf="form.controls['dataObject'].controls[dataObjectIndex].controls['dataElements'].controls[dataElementIndex].get('dataElementValueType').invalid && 
              form.controls['dataObject'].controls[dataObjectIndex].controls['dataElements'].controls[dataElementIndex].get('dataElementValueType').errors.required">required</mat-error>
                </mat-form-field>
            </div>
						
          </div>
        </div>
<div class="data-element-hide-show-button">
    <button class="data-element-hide-show-button" >
        <i class="material-icons medium-square-icon-with-border eye-icon" >visibility
          </i>
      </button>
</div>

            </div>
            <mat-divider></mat-divider>
					</div>
    
         
        </div>
  
	<!-- data element division ends  here -->
        
      </div>
      <mat-divider></mat-divider>
		</div>

	</div>

	<form>


<!-- submit and cancel buttons -->
<div class="submit-cancel-button-group">
<button type="button" class="button submit-button" disabled>Submit</button>
<button  type="button" class="button">Cancel</button>
</div>
		
		<!-- <pre style="font-size:15px">{{ form.value | json }}</pre>  -->





