.main-container {
    width: 900px;
    margin: auto;
}
.heading-division{
    padding-bottom: 15px;
    background-color: lightgray;
}

.heading-division .target-area-title{
    margin: 0;
}
.main-container .name-field{
    width: 100%;
}
.toggle-button{
    margin: 10px 0;
}
/* data object check all, add new and delete button styles starts */
.data-object-modification-buttons-group{
    padding: 10px 0;
}
.data-object-modification-buttons-group button .data-object-check-all-button{
    vertical-align: super;
}
.data-object-modification-buttons-group .add-data-object-button{
    margin: 0 10px;
  
}
.data-object-modification-buttons-group button{
    background: none;
    border: none;
    padding: 0;
    vertical-align: middle;
}
/* data object check all, add new and delete button styles ends */
.dataObject{
    padding: 10px 0;
}
.data-object-heading{
    background: lightgray;
  padding: 10px 46px;
}
.data-object-heading h4{
margin: 0;
}
.data-object-check-button{
    display: inline-block;
    padding: 0 15px;
  
}
.data-object-name-field{
    display: inline-block;

width: calc(100% - 46px);

}


/*data element styles starts*/
.data-element-modification-buttons-group{
    padding: 10px 0;
}
.data-element-modification-buttons-group button .data-element-check-all-button{
    vertical-align: super;
}
.data-element-modification-buttons-group .add-data-element-button{
    margin: 0 10px;
  
}
.data-element-modification-buttons-group button{
    background: none;
    border: none;
    padding: 0;
    vertical-align: middle;
}
.data-element-division{
    
    margin-left: 46px;
}
.data-element-division .data-element-check-button,
.data-element-division .data-element-name-field,
.data-element-division .data-element-value-type-field,
.data-element-division .data-element-hide-show-button{
    display: inline-block;
}
.data-element-division .data-element-name-field,
.data-element-division .data-element-value-type-field{
    vertical-align: middle;
    padding-right: 10px;
    box-sizing: border-box;
}
.data-element-division .data-element-name-field{
    width: 60%;
     
}
.data-element-division .data-element-value-type-field{
    width: 40%;
}
.data-element-division .data-element-hide-show-button{
    border: none;
    background: transparent;
    padding: 0;
}
.data-element-check-button{
    padding-right: 15px;
    position: relative;
    top: -8px;

}
.dynamic-width-division{
    display: inline-block;
    width: calc(100% - 71px);
}
   /*data element styles ends*/

   /* submit- cancel button styles */
.submit-cancel-button-group .submit-button{
    margin-right: 10px;
}

/* scope (multi select) styles starts here */
#container::-webkit-scrollbar {
    width: 12px;
}

#container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

#container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.hidden-option{
    display: none !important;
}
/* scope (multi select) styles ends here */