

    <!-- Breadcrumb start-->
    <mat-toolbar class="breadcrumb">
            <svg-icon  src="assets/svg-icons/home.svg"></svg-icon>
            <svg-icon src="assets/svg-icons/arrow_forward.svg"></svg-icon>
        <span>
            <a href="#" routerLink='/#6'>{{mainbreadcrumb}}</a>
        </span>
        <svg-icon src="assets/svg-icons/arrow_forward.svg"></svg-icon>
        <span>
            <a href="#" routerLink='/eta-web/userConfigDashboard'>{{breadcrumb}}</a>
        </span>
    </mat-toolbar>
    <!-- Breadcrumb end--> 

    <div class="target-area-title-division">
        <h3 class="target-area-title">Users in Eta{{OrgListDetails}}</h3>
        <button id="button-settings" class='setting-icon button-without-background float-right'>
                <svg-icon class="unit-control-icon no-padding-svg " src="assets/svg-icons/settings_applications.svg"></svg-icon>
        </button>
    </div>
    <div class="filter-table-button-container">
        <button id="button-show-active" class="button no-top-margin button-margin-right lowercase">Show Active</button>
        <button id="button-show-deactive" class="button no-top-margin button-margin-right lowercase">Show Deactive</button>
        <button id="button-show-inactive" class="button no-top-margin  button-margin-right lowercase">Show Inactive (30d)</button>
    </div>

    <!-- MatCard Start -->
    <mat-card class="content-card">
        <div class="table-top-container">
            <div *ngIf="showMessageAlert" class="alert-message-division top-container-rows">
                <div class="inner-flex-division">
                        <svg-icon class="check-box-icon success-svg unit-control-icon no-padding-svg " src="assets/svg-icons/check_box.svg"></svg-icon>
                    <p *ngIf="showMessageAlert == 'submit'" class="alert-text vertical-align-middle">
                        Successfully Added {{username}}.
                    </p>  
                    <p *ngIf="showMessageAlert == 'update'" class="alert-text vertical-align-middle">
                        Successfully Updated {{username}}.
                    </p> 
                    <p *ngIf="showMessageAlert == 'delete'" class="alert-text vertical-align-middle">
                        Successfully Deleted.
                    </p>
                    <button class="button-without-background vertical-align-middle remove-alert-button" (click)="removeMessageAlert()">
                            <svg-icon class="unit-control-icon no-padding-svg clear-icon" src="assets/svg-icons/cancel_presentation.svg"></svg-icon>
                    </button>
                </div>
            </div>
        
            <!-- table modification button group -->
            <div *ngIf="rowsSelection.selected.length" class='table-modification-button-container top-container-rows'>
                <div class="inner-center-division">
                        
                                
        
            <button id="button-filter" class="modification-buttons button-without-background vertical-align-middle">
            <svg-icon class="unit-control-icon no-padding-svg " src="assets/svg-icons/deactivate.svg"></svg-icon>
            </button>
            
                    <button   (click)="deleteUserDataFunction()"
                    id="button-delete-row" class="modification-buttons button-without-background vertical-align-middle">
                    <svg-icon class="unit-control-icon no-padding-svg " src="assets/svg-icons/delete.svg"></svg-icon>
                    </button>
                    
            
                </div> 
            </div>  
        </div>
        <!-- Mat Data Table Start -->
        <div class="data-model-table custom-common-expandable-table">   
            <div class="example-container mat-elevation-z8">
                <mat-table #table [dataSource]="dataSourceUsers" matSort>
            
                    <!-- checkbox field -->
                    <ng-container matColumnDef="checkbox">
                        <mat-header-cell class="eta-table-constant-width-column-first" *matHeaderCellDef>
                            <mat-checkbox id="checkbox-select-rows" class="custom-checkbox-without-margin margin-auto"  (change)="$event ? masterToggle() : null"
                            [checked]="rowsSelection.hasValue() && isAllSelected()">
                </mat-checkbox>
                        </mat-header-cell>
                        <mat-cell class="eta-table-constant-width-column-first" *matCellDef="let row; let checkBoxCellIndex = index">
                            <mat-checkbox id="{{'checkbox-select-row-' + checkBoxCellIndex}}" *ngIf="!(row.type == 'System' || row.type == 'Reused')"   
                            class="custom-checkbox-without-margin margin-auto"  (click)="$event.stopPropagation(); removeMessageAlert()"
                                            (change)="$event ? rowsSelection.toggle(row) : null"
                                            [checked]="rowsSelection.isSelected(row)">
                            </mat-checkbox>
                            <mat-checkbox id="{{'checkbox-select-row-' + checkBoxCellIndex}}" *ngIf="(row.type == 'Reused')" [disabled]="row.type == 'Reused'"  class="custom-checkbox margin-auto"></mat-checkbox>
                            
                        </mat-cell>
                    </ng-container>
                    
                    <!-- name Column -->
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef > Name (Email)
                                <button class="filter-icon button-as-icon" mat-sort-header>
                                        <svg-icon class="unit-control-icon no-padding-svg " src="assets/svg-icons/filter_list.svg"></svg-icon> 
                                    </button>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">  
                            <a [routerLink]="" class="ellipsisable-content edit-link body-text1 custom-link-style" 
                            (click)="stopPropegation($event); openEditPage(element.userId)">
                        
                            <span >{{element.userName}} ({{element.emailAddress}}) </span>
                        </a>
                        <button class="button-without-background table-right-aligned-button arrow ">
                                <svg-icon class="unit-control-icon no-padding-svg"
                                  src="assets/svg-icons/arrow_down.svg"></svg-icon>
                            </button>
                        </mat-cell>
                    </ng-container>
                
                    <!-- roles Column -->
                    <ng-container matColumnDef="roles">
                        <mat-header-cell *matHeaderCellDef > Roles
                                <button class="filter-icon button-as-icon" mat-sort-header>
                                        <svg-icon class="unit-control-icon no-padding-svg " src="assets/svg-icons/filter_list.svg"></svg-icon> 
                                    </button>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.roleConfigInfoList?.length}} </mat-cell>
                    </ng-container>
                
                    <!-- username  Column -->
                    <ng-container matColumnDef="username">
                        <mat-header-cell *matHeaderCellDef> Username 
                                <button class="filter-icon button-as-icon" mat-sort-header>
                                        <svg-icon class="unit-control-icon no-padding-svg " src="assets/svg-icons/filter_list.svg"></svg-icon> 
                                    </button>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.userName}} </mat-cell>
                    </ng-container>
                
                    <!-- status  Column -->
                    <ng-container matColumnDef="type">
                        <mat-header-cell *matHeaderCellDef > Type 
                                <button class="filter-icon button-as-icon" mat-sort-header>
                                        <svg-icon class="unit-control-icon no-padding-svg " src="assets/svg-icons/filter_list.svg"></svg-icon> 
                                    </button>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.userType}}</mat-cell>
                    </ng-container>
                    
                    <!-- Status Column -->
                    <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef > Status
                                <button class="filter-icon button-as-icon" mat-sort-header>
                                        <svg-icon class="unit-control-icon no-padding-svg " src="assets/svg-icons/filter_list.svg"></svg-icon> 
                                    </button>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">

                           
                            <svg-icon class="unit-control-icon no-padding-svg"
                            [class.red-status]="!element.isdeleted == 0"
                            [class.green-status]="!element.isdeleted == 1"
                            [class.amber-status]="false"
                             src="assets/svg-icons/crop_square.svg"></svg-icon>
                        </mat-cell>
                    </ng-container>
                        
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row (click)='stopPropegation($event)' *matRowDef="let row; columns: displayedColumns; let rowIndex" id="{{'table-row-' + rowIndex}}" matRipple class="element-row" [cdkDetailRow]="row" [cdkDetailRowTpl]="tpl">   
                    </mat-row>
                </mat-table> 
                
                <mat-toolbar class="table-footer-toolbar">
                        <mat-toolbar-row>
                                <button id="add-new-button" *ngIf="!rowsSelection.selected.length" class="button add-new-button" (click) = "openAddPage()"> Add New </button> 
                            <span class="example-spacer"></span>
                            <mat-paginator showFirstLastButtons [length]="resultsLength" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20, 50]"
                            (page)="pageEvent = onPaginateChange($event)"></mat-paginator>
                        </mat-toolbar-row>
                        </mat-toolbar>
            </div>  
            <ng-template #tpl let-element>
                <div  class="mat-row detail-row" [@detailExpand] style="overflow: hidden">
                        <div class="table-details-custom-container body-text2">
                                <div class="mat-column-checkbox eta-table-constant-width-column-first"></div>
                                <div class="mat-column-name">
                                <ul>
                                    <li *ngFor="let role of element.roleConfigInfoList">{{role.roleName}}</li>
                                </ul>
                                </div>
                                <div class="mat-column-roles"></div>
                                <div class="mat-column-username"></div>
                                <div class="mat-column-type"></div>
                                <div class="mat-column-status"></div>
                    
                                
                        
                    </div>
            
            </div>
            </ng-template>
            
        </div>  

    </mat-card>
    <!-- MatCard End -->
