

.eta-padding-all{
    padding: 10px;
}
.eta-padding-top{
    padding-top: 10px;
}
.eta-padding-bottom{
    padding-bottom: 10px;
}
.eta-padding-left{
    padding-left: 10px;
}
.eta-padding-right{
    padding-right: 10px;
}
.eta-margin-all{
    margin: 10px;
}