.content-card{
  padding: 0 !important;
}
.top-container{
  padding: var(--content-inside-padding);
}
/*table modification button styles starts*/
.table-modification-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .modification-buttons{
   margin-right: var(--content-inside-padding);
  }
  /*table modification button styles ends*/
  .heading-division{
      padding-bottom: 15px;
  }
  .heading-division .target-area-title{
      margin: 0 !important;
  }
  .data-object-heading{
    padding: 0 !important;
  }
  .control-button-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .dynamic-items{
    max-height: 400px;
    overflow: auto;
  }
  .dynamicItem .custom-control-row{
    margin: 0 !important;
  }
  .dynamicItem{
    border-bottom: solid #eaeaea  1px;
    padding: calc(var(--vertical-space-between-rows) / 2) 0 ;
    padding-right: var(--content-inside-padding);
  }
  .submit-button{
    margin: var(--content-inside-padding);
  }
 