<div>
    <!-- Breadcrumb start-->
    <mat-toolbar>
        <mat-icon>home</mat-icon>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span>
          <a href="#" routerLink='/eta-web/organizationdashboard'>{{mainbreadcrumb}}</a>
        </span>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span>
          <a routerLink='/eta-web/orgtermsdashboard'>{{breadcrumb}}</a>
        </span>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span>
          <a routerLink='/edittermscondition'>Edit</a>
        </span>
    </mat-toolbar>
    <!-- Breadcrumb end-->

  <!-- Form col-sm-6 tage start-->
  <div class="col-sm-6 div-padding">
    <!-- Form table-padding tage start-->
    <div class="table-padding">
      <!-- Form formatter tage start-->
      <div class="container col-sm-12">
        <!-- Terms and Condition Header tag start-->
        <mat-toolbar color="primary">Terms and Condition</mat-toolbar>
        <!-- Terms and Condition Header tag End-->

        <!-- mat card tag start -->
        <mat-card>
        <form [formGroup]="termsForm" (ngSubmit)="onSubmit(termsForm.value)">

          <mat-form-field class="example-full-width">
              <input matInput placeholder="Organization Name" disabled [value]="get_OrgName">
          </mat-form-field>
          
          <mat-form-field class="example-full-width">
              <input matInput placeholder="T&C Name" formControlName="termsevent">
          </mat-form-field>
          
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Active" disabled [value]="get_ActiveYN">
          </mat-form-field>
          
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Draft" disabled [value]="get_DraftYN">
          </mat-form-field>

          <div class="button-row">
              <button type="submit" mat-raised-button color="primary">Add</button>
              <button class="eta-margin-all" type="button" (click)="cancel()" mat-raised-button color="primary">Cancel</button>
          </div>
         
        </form>
      </mat-card>
      <!-- mat card tag end -->
      </div>
      <!-- Form formatter tage End-->
    </div>
    <!-- Form table-padding tage End-->
  </div>
  <!-- Form col-sm-6 tage End-->
  <!--Table code Start -->
  <div *ngIf="termsManagementCol!=null" class="col-sm-6 table-padding">
    <mat-card>
      <app-admin-dynamic-datatable [myurl]=allTermsUrl [mycoloums]=termsManagementCol></app-admin-dynamic-datatable>
    </mat-card>
  </div>
  <!--Table code End -->
</div>
