/* Grid css */

.gridheader>th {
  margin: 5px;
  padding: 5px;
  word-wrap: normal;
  width: 30%;
  color: #FFFFFF;
  font-weight: 400;
}

.gridheader :first-child {
  width: 25%;
  color: #FFFFFF;
  font-weight: 400;
}

.overflowTest {
  margin: 5px;
  padding: 5px;
  max-width: 400px;
  font-weight: 400;
  color: #141414;
  font-size: 15px;
  
}

.form-check-input-size {
  zoom: 1.7;
  margin: 5px;
}
.overflow-text{
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    display:inline-block;
}
