<!-- Breadcrumb start-->
<mat-toolbar class="breadcrumb">
    <svg-icon  src="assets/svg-icons/home.svg"></svg-icon>
    <svg-icon src="assets/svg-icons/arrow_forward.svg"></svg-icon>
    <span>
      <a href="#" routerLink='/#6'>{{mainbreadcrumb}}</a>
    </span>
    <svg-icon src="assets/svg-icons/arrow_forward.svg"></svg-icon>
    <span>
      <a routerLink='/eta-web/userConfigDashboard'>{{breadcrumb}}</a>
    </span>
    <svg-icon src="assets/svg-icons/arrow_forward.svg"></svg-icon>
    <span>
      <a routerLink='/edit-user'>Change</a>
    </span>
</mat-toolbar>
<!-- Breadcrumb End -->

<h4 class="target-area-title"> Change {{userRealName}} in Eta{{OrgListDetails}}</h4>

  <mat-card class="content-card">
      <form [formGroup]="form">
        <div class="form-top-container">
   <!-- First Name field  -->
   <div class="custom-control-row">
    <div class="custom-field custom-field-fw">
        <mat-form-field appearance="outline" >
          <mat-label>Firstname</mat-label>
          <input id="input-field-name" matInput #name placeholder="Enter First Name*" formControlName="firstname" maxlength="64" (keypress)="checkCharValidationForName($event);enableSubmitButtonForEdit()" (keydown)="enableSubmitButtonForEdit()" required>
          <mat-hint>Enter First name that will be displayed on User's profile.</mat-hint>
         
         <mat-error *ngIf="form.controls['firstname'].errors?.required">First Name is required</mat-error>
        </mat-form-field>
      </div>
    </div>
  
    <!-- Last Name field  -->
    <div class="custom-control-row">
      <div class="custom-field custom-field-fw">
          <mat-form-field appearance="outline" >
            <mat-label>Lastname</mat-label>
            <input id="input-field-name" matInput #name placeholder="Enter Last Name*" formControlName="lastname" maxlength="64" (keypress)="checkCharValidationForlastname($event);enableSubmitButtonForEdit()" (keydown)="enableSubmitButtonForEdit()" required>
            <mat-hint>Enter Last name that will be displayed on User's profile.</mat-hint>
           
           <mat-error *ngIf="form.controls['lastname'].errors?.required">Last Name is required</mat-error>
          </mat-form-field>
        </div>
      </div>
  
    <!-- email field  -->
    <div class="custom-control-row">
        <div class="custom-field custom-field-fw">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input type = "email" id="input-field-email" matInput placeholder="Email" formControlName="email" required
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" (change)="changeEmail($event.target.value);enableSubmitButtonForEdit()" [disableControl]="true">
              <mat-hint>Enter email address of the User.</mat-hint>
             <mat-error *ngIf="form.controls['email'].errors?.required">Email is required</mat-error>
             <mat-error *ngIf="form.controls['email'].errors && form.controls['email'].errors?.pattern">Please enter Valid Email</mat-error>
             <mat-error *ngIf="form.controls['email'].errors?.myEmailError">Email Already Exist</mat-error>
            </mat-form-field>
          </div>
        </div>
  
        <!-- username field  -->
    <div class="custom-control-row">
        <div class="custom-field custom-field-fw">
            <mat-form-field appearance="outline" >
              <mat-label>Username</mat-label>
              <input id="input-field-username" matInput  placeholder="Username" formControlName="username" required
                    [(ngModel)]="userNameModel"
                    [typeaheadAsync]="true"
                    [typeahead]="dataSourceUserName"
                    (typeaheadLoading)="changeTypeaheadLoadingUser($event)"
                    (typeaheadOnSelect)="typeaheadOnSelectUser($event);enableSubmitButtonForEdit()"
                    [typeaheadOptionsLimit]="5"
                    [typeaheadMinLength]="0"
                    typeaheadOptionField="userName" [ngModelOptions]="{standalone: true}" 
                    (keyup)= "checkOnKeyUpUser($event);enableSubmitButtonForEdit()"
                    (keypress)="checkCharValidationForUserName($event)" [disableControl]="true">
                    <mat-hint>Enter a unique Username. This will used to login to the System.</mat-hint>
                    <svg-icon matSuffix src="assets/svg-icons/search.svg"></svg-icon>
              <mat-error *ngIf="form.controls['username'].errors?.required">User Name is required</mat-error>
              <mat-error *ngIf="form.controls['username'].invalid && duplicateUserName && form.controls['username'].value.length>0">
                User name  already taken.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
  
        <!-- type field  -->
    <div class="custom-control-row">
      <div class="custom-select custom-field custom-field-fw">
        <mat-form-field appearance="outline"  >
            <mat-label>Type</mat-label>
            <mat-select id="select-field-type" appearance="outline" formControlName="type"
             disableOptionCentering panelClass="custom-select-panel"
             placeholder="ORG_ACCOUNT" name="type" (selectionChange) = "enableSubmitButtonForEdit()" required>
              <mat-option *ngFor="let type of typeList" [value]="type.id">
             {{type.userType}}
              </mat-option>
            </mat-select>
            <mat-hint>Select User's type</mat-hint>
            <mat-error *ngIf="form.controls['type'].errors?.required">Type is required</mat-error>
                    </mat-form-field>
                </div> 
        </div>

  <div class='table-modification-button-container'>
      <div class="inner-center-division">
             
     <button *ngIf="!(form.controls['roleConfigInfoList'].value.length > 1 && selectionFordynamicItem.selected.length)"
        type="button" id="button-add-dynamic-item" class="modification-buttons button-without-background vertical-align-middle"
      (click) = "adddynamicItem($event)">
      <svg-icon class="unit-control-icon no-padding-svg" src="assets/svg-icons/add_box.svg"></svg-icon>
     </button>
    
        <button *ngIf="form.controls['roleConfigInfoList'].value.length > 1 && selectionFordynamicItem.selected.length"
            type="button" id="button-delete-dynamic-item" class="modification-buttons button-without-background vertical-align-middle" (click)='deletedynamicItem()'>
            <svg-icon class="unit-control-icon no-padding-svg" src="assets/svg-icons/delete.svg"></svg-icon>
        </button>
     
  </div>
</div>

        </div>
  <div formArrayName="roleConfigInfoList">
      <mat-toolbar class="data-object-heading eta-heading-background eta-dynamic-height">
          <div class="eta-table-constant-width-column-first text-align-center">
            <mat-checkbox id="checkbox-select-dynamic-fields" [ngModelOptions]="{standalone: true}"
             class="custom-checkbox-without-margin margin-auto" 
             (change)="$event ? masterToggleFordynamicItems() : null"
            [checked]="selectionFordynamicItem.hasValue() && isAlldynamicItemsSelected()"></mat-checkbox>
          </div>
          <p class="body-text1">Role*</p>
          
        </mat-toolbar>
        <div class="dynamic-items"  #usersScrollabeContent id="customScrollBarContainer">
    <div *ngFor="let dynamicItem of form['controls'].roleConfigInfoList['controls']; let dynamicItemIndex=index"
    formGroupName="{{dynamicItemIndex}}" class="dynamicItem display-flex" id="{{'div-dynamic-fields-' + dynamicItemIndex}}">

        <!-- data object checked status -->

            <div class="eta-table-constant-width-column-first display-inline-block text-align-center">
                <div class="control-button-container display-flex width-hundred-percent">
                  <mat-checkbox id="{{'checkbox-select-field' + dynamicItemIndex}}" [ngModelOptions]="{standalone: true}"  class="custom-checkbox-without-margin"
                  (click)="$event.stopPropagation()"
                  (change)="$event ? selectionFordynamicItem.toggle(this.form.controls['roleConfigInfoList'].controls[dynamicItemIndex]) : null"
                  [checked]="selectionFordynamicItem.isSelected(this.form.controls['roleConfigInfoList'].controls[dynamicItemIndex])"
                  formControlName='dynamicItemCheckedStatus'>
             </mat-checkbox>
      </div>
</div>
        <!-- data object name field -->
        <div class="custom-control-row width-hundred-percent">
       

          <div class="custom-select custom-field custom-field-fw">
            <mat-form-field appearance="outline"  >
              <mat-label>Name</mat-label>
              <mat-select id="{{'select-name-field-' + dynamicItemIndex}}" appearance="outline" formControlName="roleId"
               disableOptionCentering panelClass="custom-select-panel"
               placeholder="Name" name="roleName" (selectionChange)="changeRole($event.value,dynamicItemIndex);enableSubmitButtonForEdit()">
                <mat-option *ngFor="let role of roleList; let optionIndex = index" [value]="role.roleId" id="{{'option-' + dynamicItemIndex + '-' + optionIndex}}">
               {{role.roleName}}
                </mat-option>
              </mat-select>
              <mat-hint>Select Role Name.</mat-hint>
              <mat-error *ngIf="form.controls['roleConfigInfoList'].controls[dynamicItemIndex].get('roleId').errors?.required">Role is required</mat-error>
              <mat-error *ngIf="form.controls['roleConfigInfoList'].controls[dynamicItemIndex].get('roleId').errors?.myError">Role already exist</mat-error>
                      </mat-form-field>
                    </div> 
                   
        </div>

    </div>
  </div>
  <div #scrollTarget></div>
  </div>

</form>


<!-- submit and cancel buttons -->
<div class="submit-cancel-button-group">
  <button type="button" id="button-submit" class="button submit-button" [disabled]="form.invalid || submitButtonDisabled" (click)="submitEditUser()">Update</button>
  <button  type="button" id="button-cancel" class="button no-margin" (click)='cancel()'>Cancel</button>
</div>
  </mat-card>
 

