.content-card{
    padding: 0 !important;
  }
  .form-top-container{
    padding: var(--content-inside-padding);
  }
  /*table modification button styles starts*/
  .table-modification-button-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
   .modification-buttons{
     margin-right: var(--content-inside-padding);
   }
    /*table modification button styles ends*/
  
  .data-object-heading{
      padding: 0;
  }
    .control-button-container{
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .dynamic-items{
      max-height: 400px;
      overflow: auto;
    }
    .dynamicItem{
      padding: calc(var(--vertical-space-between-rows) / 2) 0;
      padding-right: var(--content-inside-padding);
      border-bottom: solid lightgray 1px;
      
    }
    .dynamicItem .custom-control-row{
      margin: 0 !important;
      }
      .submit-button{
        margin: var(--content-inside-padding);
      }
  .spinner-div{
    POSITION: FIXED;
      TOP: 50%;
      z-index: 999 !important;
      LEFT: 50%;
      HEIGHT: calc(100% + 108px);
      WIDTH: 100%;
      TRANSITION: TRANSLATE(-50%, -50%);
      transform: translate;
      transform: translate(-50%, -50%);
  }
      .mat-progress-spinner.mat-progress-spinner-indeterminate-animation[mode=indeterminate] {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }