<div  *ngIf="showData==true" class="col-sm-8 table-padding">
  <form [formGroup]="acceptform" (ngSubmit)="onSubmitTerms(acceptform.value)">



    <div innerHTML="{{acceptTerms.termsText }}"></div>

    <div  class="  form-group form-group-margin  ">
      <mat-checkbox formControlName="AcceptCheck"></mat-checkbox>
      <label>I accept terms and conditions</label>
    </div>
   

    <div class="button-div">
      <button type="submit"  [disabled]="acceptform.controls['AcceptCheck'].invalid || acceptform.controls['AcceptCheck'].value==null || acceptform.controls['AcceptCheck'].value==false " mat-raised-button color="primary">Add</button>
      <button class="eta-margin-all" type="button" (click)='logout()' mat-raised-button color="primary">Cancel</button>
    </div>
  </form>
</div>