
  <!-- Breadcrumb start-->
  <mat-toolbar class="breadcrumb">
      <svg-icon  src="assets/svg-icons/home.svg"></svg-icon>
            <svg-icon src="assets/svg-icons/arrow_forward.svg"></svg-icon>
    <span>
      <a href="#" routerLink='/#6'>{{mainbreadcrumb}}</a>
    </span>
    <svg-icon src="assets/svg-icons/arrow_forward.svg"></svg-icon>
    <span>
      <a href="#" routerLink='/eta-web/roleConfigDashboard'>{{breadcrumb}}</a>
    </span>
</mat-toolbar>
<!-- Breadcrumb end-->


  <div class="target-area-title-division">
    <h3 class="target-area-title">Roles in Eta{{OrgListDetails}}</h3>
    <button id="button-settings" class='setting-icon button-without-background float-right'>
        <svg-icon class="unit-control-icon no-padding-svg " src="assets/svg-icons/settings_applications.svg"></svg-icon>
    </button>
  </div>

    <button id="button-show-used" class="button no-top-margin button-margin-right lowercase">Show Used</button>
    <button id="button-show-unused" class="button no-top-margin button-margin-right lowercase">Show Unused</button>

<mat-card class="content-card">
<div class="mat-card-top-container ">
<div *ngIf="showMessageAlert" class="alert-message-division top-container-rows">
    <div class="inner-flex-division">
        <svg-icon class="check-box-icon success-svg unit-control-icon no-padding-svg " src="assets/svg-icons/check_box.svg"></svg-icon>
      <p *ngIf="showMessageAlert == 'submit'" class="alert-text vertical-align-middle">
        Successfully Added {{roleName}}.
      </p>  
      <p *ngIf="showMessageAlert == 'update'" class="alert-text vertical-align-middle">
        Successfully Updated {{roleName}}.
      </p> 
      <p *ngIf="showMessageAlert == 'delete'" class="alert-text vertical-align-middle">
        Successfully Deleted.
      </p> 
    
      <button class="button-without-background vertical-align-middle remove-alert-button" (click)="removeMessageAlert()">
          <svg-icon class="unit-control-icon no-padding-svg clear-icon" src="assets/svg-icons/cancel_presentation.svg"></svg-icon>
      </button>
    </div>
</div>

<!-- table modification button group -->
<div *ngIf="selection.selected.length" class='table-modification-button-container top-container-rows'>
  <div class="inner-center-division">
   
      <button  id="button-delete-row" 
      (click)="deleteRoleDataFunction()" 
      class="button-without-background vertical-align-middle  modification-buttons">
      <svg-icon class="unit-control-icon no-padding-svg " src="assets/svg-icons/delete.svg"></svg-icon>
      </button>
  
  </div>
</div>
</div>
<!-- Mat Data Table Start -->
<div class="data-model-table custom-common-expandable-table">
  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSourceRoles" matSort>

      <!-- check box field -->
      <ng-container matColumnDef="checkbox">
        <mat-header-cell class="eta-table-constant-width-column-first" *matHeaderCellDef>
          <mat-checkbox id="checkbox-select-table-rows" class="custom-checkbox-without-margin margin-auto" 
      (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" (click) = "removeMessageAlert()">
      </mat-checkbox>
        </mat-header-cell>

        <mat-cell class="eta-table-constant-width-column-first" *matCellDef="let row; let checkBoxCellIndex = index">
          <mat-checkbox id="{{'checkbox-select-row-' + checkBoxCellIndex}}" *ngIf="!(row.typeName.toLowerCase() == 'system')"
                        class="custom-checkbox-without-margin margin-auto" (click)="$event.stopPropagation(); removeMessageAlert()"
                         (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)" [disabled]="row.status==1">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <!-- name Column -->
      <ng-container matColumnDef="roleName">
        <mat-header-cell *matHeaderCellDef> Name
            <button class="filter-icon button-as-icon" mat-sort-header>
                <svg-icon class="unit-control-icon no-padding-svg " src="assets/svg-icons/filter_list.svg"></svg-icon> 
            </button>
        </mat-header-cell>

        <mat-cell *matCellDef="let element">
            <a [routerLink]="" class="ellipsisable-content edit-link body-text1 custom-link-style" 
            (click)="stopPropegation($event); openEditPage(element.roleId)">
         
          <span >{{element.roleName}}</span>
        </a>
        <button class="button-without-background table-right-aligned-button arrow ">
            <svg-icon class="unit-control-icon no-padding-svg"
              src="assets/svg-icons/arrow_down.svg"></svg-icon>
        </button>
        </mat-cell>
      </ng-container>

      <!-- Privileges Column -->
      <ng-container matColumnDef="privilegeCount">
        <mat-header-cell *matHeaderCellDef> Privileges
            <button class="filter-icon button-as-icon" mat-sort-header>
                <svg-icon class="unit-control-icon no-padding-svg " src="assets/svg-icons/filter_list.svg"></svg-icon> 
            </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.privilegeCount}} </mat-cell>
      </ng-container>

      <!-- Users  Column -->
      <ng-container matColumnDef="userCount">
        <mat-header-cell *matHeaderCellDef> Users
            <button class="filter-icon button-as-icon" mat-sort-header>
                <svg-icon class="unit-control-icon no-padding-svg " src="assets/svg-icons/filter_list.svg"></svg-icon> 
            </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.userCount}} </mat-cell>
      </ng-container>

      <!-- Type  Column -->
      <ng-container matColumnDef="typeName">
        <mat-header-cell *matHeaderCellDef> Type
            <button class="filter-icon button-as-icon" mat-sort-header>
                <svg-icon class="unit-control-icon no-padding-svg " src="assets/svg-icons/filter_list.svg"></svg-icon> 
            </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.typeName}}</mat-cell>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Status
            <button class="filter-icon button-as-icon" mat-sort-header>
                <svg-icon class="unit-control-icon no-padding-svg " src="assets/svg-icons/filter_list.svg"></svg-icon> 
            </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <svg-icon class="unit-control-icon no-padding-svg"
          [class.red-status]="element.status == '2'"
          [class.green-status]="element.status == '1'"
          [class.amber-status]="false"
           src="assets/svg-icons/crop_square.svg"></svg-icon>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row (click)='stopPropegation($event)' *matRowDef="let row; columns: displayedColumns; let rowIndex = index"
        id="{{'table-row-' + rowIndex}}" matRipple class="element-row" [cdkDetailRow]="row" [cdkDetailRowTpl]="tpl">
      </mat-row>
    </mat-table>

    <mat-toolbar class="table-footer-toolbar">
      <mat-toolbar-row>
        <button id="add-new-button" *ngIf="!selection.selected.length" class="button add-new-button" (click)="openAddRole()"> Add New
        </button>
        <span class="example-spacer"></span>
        <mat-paginator showFirstLastButtons [length]="resultsLength" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20, 50]" (page)="pageEvent = onPageChange($event)"></mat-paginator>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <ng-template #tpl let-element>
    <div class="mat-row detail-row" [@detailExpand] style="overflow: hidden">
      <div class="table-details-custom-container body-text2">
        <div class="mat-column-checkbox eta-table-constant-width-column-first"></div>
        <div class="mat-column-roleName">
          <ul>
            <li *ngFor="let privilege of element.privilegeList">{{privilege.privilegeName}}</li>
          </ul>
        </div>
        <div class="mat-column-privilegeCount"></div>
        <div class="mat-column-userCount"></div>
        <div class="mat-column-typeName"></div>
        <div class="mat-column-status"></div>
      </div>
    </div>
  </ng-template>

</div>

</mat-card>
<!-- MatCard end -->