.content-card{
  padding: 0 !important;
}
.target-area-title-division .target-area-title{
  display: inline-block;
}
.target-area-title-division .float-right{
  float: right;
}

.mat-card-top-container{
 
}
.top-container-rows{
  padding: var(--content-inside-padding);
}
/* .top-container-rows:last-child{
  padding-top: 0;
} */
/*table modification button styles starts*/
.table-modification-button-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.table-modification-button-container .inner-center-division{
position: relative;
}
.modification-buttons{
margin-right: var(--content-inside-padding);
}
/*table modification button styles ends*/
/* table styles starts */
.mat-column-checkbox{
  flex: 5% !important;
}
.mat-column-roleName {
  flex: 35% !important;
}
.mat-column-privilegeCount {
  flex: 15% !important;
}
.mat-column-userCount {
  flex: 15% !important;
}
.mat-column-typeName {
  flex: 15% !important;
}
.mat-column-status {
  flex: 15% !important;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.element-row {
  position: relative;
}

.element-row:not(.expanded) {
  cursor: pointer;
}

.element-row:not(.expanded):hover {
  background: #f5f5f5;
}

.element-row.expanded {
  border-bottom-color: transparent;
}
.element-row.expanded .arrow {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Safari 3-8 */
  transform: rotate(180deg);
  transition: transform .2s linear;
}
.table-right-aligned-button{
  position: absolute;
  right: 20px;
}
.expansion-panel-container{
  width: 95%;
}
.table-footer-toolbar .mat-toolbar-row{
  padding: 0 !important;
}
/* table details styles */
.table-details-custom-container{
  display: flex;
}

.table-details-custom-container ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.table-details-custom-container ul .material-icons{
  vertical-align: middle;
  border: solid 1px lightgray;
  border-radius: 4px;
  padding: 2px;
  margin-right: 20px;
}
.add-new-button{
  margin: var(--content-inside-padding);
}
/* table styles ends */

  .filter-icon, .arrow{
      position: absolute;
      
  }
  .filter-icon{
      font-size: 18px;
      right: 0;
  }
.arrow{
    right: 18px;
}

ul li{
  margin: 15px 0;
}
 /* alert message division styles starts*/
 .alert-message-division{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: green;
  border-bottom: solid lightgray 1px;
}
.inner-flex-division{
  position: relative;
}
.alert-message-division p,
.alert-message-division .material-icons,
.alert-message-division button{
  color: inherit;
}
.alert-message-division p{
  display: inline-block;
  margin: 0;
  font-size: var(--body-text1-base-font-size);
}
.alert-message-division .remove-alert-button{
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
  .check-box-icon{
    margin-right: var(--content-inside-padding);
    display: inline-block;
    vertical-align: middle;
  }