<div class="loading-indicator" *ngIf="isSpinnerShow==true">
    <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
  </div>
  
<div>
    <!-- Breadcrumb start-->
    <mat-toolbar>
        <mat-icon>home</mat-icon>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span>
          <a href="#" routerLink='/eta-web/userdashboard'>{{mainbreadcrumb}}</a>
        </span>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span>
          <a routerLink='/eta-web/privilegedashboard'>{{breadcrumb}}</a>
        </span>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span>
          <a routerLink='/addprivilege'>Add</a>
        </span>
    </mat-toolbar>
    <!-- Breadcrumb end-->

  <!-- Form col-sm-6 tage start-->
  <div class="col-sm-6 div-padding">
    <!-- Form table-padding tage start-->
    <div class="table-padding">
      
      <!-- Form formatter tage start-->
      <div class="container col-sm-12">
        <!-- User Privilege Header tag start-->
        <mat-toolbar color="primary"> User Privilege </mat-toolbar>
        <!-- User Privilege Header tag End-->

        <!-- mat card tag start -->
        <mat-card>
          <form [formGroup]="privilegeForm" (ngSubmit)="onSubmit(privilegeForm.value)">
            
            <mat-form-field class="example-full-width">
              <input matInput placeholder=" Privilege Name" formControlName="privilegeName" required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput placeholder="Privilege Discription" formControlName="privilegeDiscription" required>
            </mat-form-field>

            <div class="button-row">
              <button type="submit" mat-raised-button color="primary">Add</button>
              <button class="eta-margin-all" type="button" (click)="cancel()" mat-raised-button color="primary">Cancel</button>
              <button type="button" (click)="translationColumns()" mat-raised-button color="primary" data-toggle="modal" data-target="#myModal">Add Translation</button>
            </div>
         
          </form>
        </mat-card>
        <!-- mat card tag end -->
        
      </div>
      <!-- Form formatter tage End-->
    </div>
    <!-- Form table-padding tage End-->
  </div>
  <!-- Form col-sm-6 tage End-->
  <div *ngIf="privilegeCol!=null" class="col-sm-6 table-padding ">
      <mat-toolbar color="primary"> List of User Privilege</mat-toolbar>
    <mat-card>
      <!--<app-admin-dynamic-datatable [myurl]=privilegeurl [mycoloums]=privilegeCol></app-admin-dynamic-datatable>-->
      <mat-data-table [myDataUrl]=userPrivilegeInnerDataUrl [defaultSortColumn]=defaultColumnToSort></mat-data-table>
    </mat-card>
  </div>

<div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!-- cross close button -->
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div *ngIf="isDataLoaded">
          <app-user-translation-dt [myurl]=PrivilegeTranslationUrl [mycoloums]=privTransColumn [gridName]="Privilege" [checkpid]="storePrivilegeId">
          </app-user-translation-dt>
        </div>
        <!-- close button    -->
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
