.main-container{
    position: relative;
}
.close-button{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
}
table{
    text-align: left;
    font-size: var(--body-text1-base-font-size);
    margin-bottom: var(--vertical-space-between-rows);
}
td, th{
    padding-right: 40px;
}
.display-inline-block{
    margin-right: var(--horizontal-space-between-controls);
}
.table-image{
    height: var(--eta-table-image-size);
    width: var(--eta-table-image-size);
}