.content-card{
  padding: 0 !important;
  overflow: hidden;
}
.target-area-title-division .target-area-title{
  display: inline-block;
}
.target-area-title-division .float-right{
  float: right;
}

  .top-container{
    padding: var(--content-inside-padding);
  }
  .top-container-rows{
    margin-bottom: var(--content-inside-padding);
  }
  .top-container-rows:last-child{
    margin-bottom: 0;
  }
/* tabs styles */
.relative-div{
  position: relative;
}
.tab-button-group-container{
  vertical-align: middle;
 overflow-y: auto;
 white-space: nowrap;
 overflow-x: hidden;
}
.scrollable-content{
  display: inline-block;
}
.tab-button-group-container .tabs-back-button-transparent-container,
.tab-button-group-container .tabs-forward-button-transparent-container{
 position: absolute;
 top: 50%;
 height: 100%;
 width: 100px;
}
.tab-button-group-container .tabs-back-button-transparent-container{
 left: 0;
 transform: translate(0%, -50%);
 background: linear-gradient(to left, transparent, white, white) !important;
}
.tab-button-group-container .tabs-forward-button-transparent-container{
 left: 100%;
 transform: translate(-100%, -50%);
 background: linear-gradient(to right, transparent, white, white) !important;
}
.tab-button-group-container .tabs-scroll-forward-button,
.tab-button-group-container .tabs-scroll-back-button{
 position: absolute;
 top: 50%;
 background: white !important;
 color: black !important;
}
.tab-button-group-container .tabs-scroll-forward-button{
 left: 100%;
 transform: translate(-100%, -50%);
}
.tab-button-group-container .tabs-scroll-back-button{
 left: 0;
 transform: translate(0%, -50%);
}
.tab-button-group-container .tabs-scroll-forward-button:hover .material-icons {
 margin-left: 5px;
 transition: all .3s;
}
.tab-button-group-container .tabs-scroll-back-button:hover .material-icons {
 margin-right: 5px;
 transition: all .3s;
}
/* tabs styles ends */
  
/* table modification button group styles starts */
.table-modification-button-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.table-modification-button-container .inner-center-division{
position: relative;
}
.modification-buttons {
  margin-right: var(--content-inside-padding);
}
/* table modification button group styles ends */
/* table styles starts */
.mat-column-formID{
  flex: 5% !important;
}
.mat-column-formName {
  flex: 35% !important;
}
.mat-column-formType {
  flex: 15% !important;
}
.mat-column-formFieldCount {
  flex: 15% !important;
}
.mat-column-active {
  flex: 15% !important;
}
.mat-column-modifiedDate {
  flex: 15% !important;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.element-row {
  position: relative;
}
.element-row:not(.expanded):hover {
  background: #f5f5f5;
}
.table-right-aligned-button{
  position: absolute;
  right: 20px;
}
.expansion-panel-container{
  width: 95%;
}
/* table details styles */
.table-bottom-toolbar{
  background: white;
  height: auto !important;
}
.table-bottom-toolbar .mat-toolbar-row{
  padding: 0 !important;
}
.table-bottom-toolbar .add-new-button{
margin: var(--content-inside-padding);
}
  
  .filter-icon, .arrow{
      position: absolute;
      right: 20px;
  }
  .filter-icon{
      font-size: 18px;
  }

  .green{
    color: green !important;
  }
  .red{
    color: red !important;
  }
  .amber {
    color: var(--secondary) !important;
  }

  .aler-messae-division .checkbox-icon{
margin-right: var(--content-inside-padding);
  }
  .aler-messae-division .remove-alert-button{
    float: right;
  }