<div (window:resize)="onWindowResized($event)">
  <!-- Breadcrumb start-->
  <mat-toolbar class="breadcrumb">
      <svg-icon  src="assets/svg-icons/home.svg"></svg-icon>
      <svg-icon src="assets/svg-icons/arrow_forward.svg"></svg-icon>
    <span>
      <a href="#" routerLink='/#2'>{{mainbreadcrumb}}</a>
    </span>
    <svg-icon src="assets/svg-icons/arrow_forward.svg"></svg-icon>
    <span>
      <a routerLink='/eta-web/formdashboard'>{{breadcrumb}}</a>
    </span>
  </mat-toolbar>
 


   
      <div class="target-area-title-division">
              <h3 class="target-area-title">Forms</h3>
              <button class='setting-icon button-without-background float-right'>
                  <svg-icon class="unit-control-icon no-padding-svg " 
                  src="assets/svg-icons/settings_applications.svg"></svg-icon>
                </button>
          </div>
          <div class="button-container">
              <button class="button no-top-margin button-margin-right lowercase">Show Live</button>
              <button class="button no-top-margin lowercase">Show Test</button>
          </div>
<mat-card class="content-card">
<div class="top-container">
<!-- tab button group container -->
<div class="relative-div top-container-rows">
  <div class="tab-button-group-container" id="customScrollBarContainerHorizentol" #tabsContainer>
    <div class="scrollable-content" #tabsScrollableContent>
     <button class="button-as-tab" [class.active-button]="allEnableDisable" (click)='markActiveButtonForAll($event); getFormsAllInfo()'>All</button>
          <button *ngFor = "let process of processList" [class.active-button]="process.processID == processId" class="button-as-tab" (click)="markActiveButton($event); getFormsByProcessID(process.processID, process.processName)"> {{process.acronym}} </button>
    </div>

   <div *ngIf="tabsScrollbackButtonFlag" class="tabs-back-button-transparent-container">
      <button   class="tabs-scroll-back-button custom-fab-small" (click)="tabsScrollBackFunction()" mat-fab>
          <svg-icon class="unit-icon no-padding-svg " src="../../../assets/svg-icons/arrow_backward.svg"></svg-icon>
      </button>
    </div>
    <div *ngIf="tabsScrollForwardButtonFlag" class="tabs-forward-button-transparent-container">
      <button  class="tabs-scroll-forward-button custom-fab-small" (click)="tabsScrollForwardFunction()" mat-fab>
          <svg-icon class="unit-icon no-padding-svg " src="../../../assets/svg-icons/arrow_forward.svg"></svg-icon>
          </button>
         </div>
       </div>
       
        </div>
        
  <!-- tab button group container ends here -->

<!-- alert message division starts -->
  <div *ngIf="addFormStatus" class="top-container-rows aler-messae-division success">
      <svg-icon class="vertical-align-middle success-svg display-inline-block checkbox-icon unit-control-icon no-padding-svg "
                     src="assets/svg-icons/check_box.svg"></svg-icon>
      <p class="body-text1 display-inline-block vertical-align-middle no-margin">Successfully added <span class="success-message-font">{{formName}}.</span></p><!--  and placed it at the end of the display order. Drag it up to reorder.  -->
    
      <button class="remove-alert-button button-without-background " (click)="removeSuccess()" >
        <svg-icon class="unit-control-icon icon-without-padding cancel-icon "
                     src="assets/svg-icons/cancel_presentation.svg"></svg-icon>
      </button>
  </div>

  <!-- update alert message division starts -->
  <div *ngIf="updateFormStatus" class="top-container-rows aler-messae-division success">
    <svg-icon class="vertical-align-middle success-svg display-inline-block checkbox-icon unit-control-icon no-padding-svg "
                   src="assets/svg-icons/check_box.svg"></svg-icon>
    <p class="body-text1 display-inline-block vertical-align-middle no-margin">Successfully updated <span class="success-message-font">{{formName}}.</span></p><!--  and placed it at the end of the display order. Drag it up to reorder.  -->
  
    <button class="remove-alert-button button-without-background " (click)="removeUpdateSuccess()" >
      <svg-icon class="unit-control-icon icon-without-padding cancel-icon "
                   src="assets/svg-icons/cancel_presentation.svg"></svg-icon>
    </button>
</div>
<!-- alert message division ends -->

    <div *ngIf="selection.selected.length" class='table-modification-button-container top-container-rows'>
          <div class="inner-center-division">
              <button  (click)="deleteForm()" class="modification-buttons button-without-background vertical-align-middle">
                  <svg-icon class="unit-control-icon no-padding-svg delete-icon"
                         src="assets/svg-icons/delete.svg"></svg-icon>
              </button>
          </div> 
    </div>
  </div>
    <div class="data-model-table custom-common-expandable-table">         
          <div class="example-container mat-elevation-z8">
            <mat-table #table [dataSource]="formDataSource" matSort matSortActive="modifiedDate" matSortDisableClear matSortDirection="asc">
          
              <ng-container matColumnDef="formID">
                <mat-header-cell class="eta-table-constant-width-column-first no-padding" *matHeaderCellDef>
                  <mat-checkbox class="custom-checkbox-without-margin margin-auto"  (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"></mat-checkbox>
                </mat-header-cell>
                <mat-cell class="eta-table-constant-width-column-first" *matCellDef="let element">
                  <mat-checkbox *ngIf="!(element.formType == 'System' || element.formType == 'Reused')" class="custom-checkbox-without-margin margin-auto"  (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(element) : null"
                                [checked]="selection.isSelected(element)">
                  </mat-checkbox>
                  <mat-checkbox *ngIf="element.formType == 'Reused'"  [disabled]="element.formType == 'Reused'" class="custom-checkbox-without-margin margin-auto" >
                 </mat-checkbox>
                 </mat-cell>
                </ng-container>
              <!-- container Column -->
              <ng-container matColumnDef="formName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Form 
                    <svg-icon class="filter-icon unit-control-icon no-padding-svg "
                                 src="assets/svg-icons/filter_list.svg" ></svg-icon> 
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <a *ngIf="!(element.formType == 'System') && processId"
                  class="ellipsisable-content edit-link body-text1 custom-link-style" 
                  [routerLink]=""  (click)="openEditForm(element.formID)"> {{element.formName}}</a>
                  <span *ngIf="(element.formType == 'System') || !processId"
                  class="ellipsisable-content body-text1" > 
                     {{element.formName}}</span>
                   </mat-cell>
              </ng-container>
          
              <!-- type Column -->
              <ng-container matColumnDef="formType">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Type 
                    <svg-icon class="filter-icon unit-control-icon no-padding-svg "
                    src="assets/svg-icons/filter_list.svg" ></svg-icon> 
                </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.formType}} </mat-cell>
              </ng-container>
          
              <!-- objects Column -->
             <ng-container matColumnDef="formFieldCount">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Fields 
                    <svg-icon class="filter-icon unit-control-icon no-padding-svg "
                                 src="assets/svg-icons/filter_list.svg" ></svg-icon> 
                </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.formFieldCount}} 
                
                </mat-cell>
              </ng-container>
        
              
                <ng-container matColumnDef="active">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Status
                        <svg-icon class="filter-icon unit-control-icon no-padding-svg "
                                 src="assets/svg-icons/filter_list.svg" ></svg-icon>  </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <svg-icon class="unit-control-icon no-padding-svg"
                                [class.red-status]="element.active == '0'"
                                [class.green-status]="element.active == '1'"
                                [class.amber-status]="element.active == '2'"
                                 src="assets/svg-icons/crop_square.svg"></svg-icon>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="modifiedDate">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Since
                          <svg-icon class="filter-icon unit-control-icon no-padding-svg "
                                 src="assets/svg-icons/filter_list.svg" ></svg-icon>  </mat-header-cell>
                      <mat-cell *matCellDef="let element"> 
                         {{element.modifiedDate | date}}
                      </mat-cell>
                    </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row (click)='stopPropagationFunction($event)' *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" [cdkDetailRow]="row" [cdkDetailRowTpl]="tpl">
            
              </mat-row>
            </mat-table>
            <mat-toolbar class="table-bottom-toolbar">
              <mat-toolbar-row>
                <button class="button add-new-button" *ngIf="processId && !selection.selected.length"  (click)="openAddForm()">Add New</button>
                <span class="example-spacer"></span>
            <mat-paginator [length]="resultsLength" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons (page)="pageEvent = onPaginateChange($event)"></mat-paginator>
          </mat-toolbar-row>
            </mat-toolbar>
          </div>
		  
		  
       </div>
      </mat-card>
  </div>
