.content-card{
    padding: 0 !important;
  }
  
    /*table modification button styles starts*/
    .table-modification-button-container {
      padding: var(--content-inside-padding);
    }
    .table-modification-button-container .modification-buttons{
     margin-right: var(--content-inside-padding);
    }
    /*table modification button styles ends*/
    /* table styles starts */
   .mat-column-checkboxColumn{
      flex: 5% !important;
    }
  .mat-column-location {
      flex: 25% !important;
    }
   .mat-column-locale {
      flex: 15% !important;
    }
  .mat-column-timezone {
      flex: 15% !important;
    }
  .mat-column-fiscalStart {
      flex: 15% !important;
    }
   .mat-column-adminStart {
      flex: 15% !important;
    }
    .mat-column-holidays{
     flex: 10%;
    }
    
    .example-container {
      display: flex;
      flex-direction: column;
    }
    .element-row {
      position: relative;
    }
    
    .element-row:not(.expanded) {
      cursor: pointer;
    }
    
    .element-row:not(.expanded):hover {
      background: #f5f5f5;
    }
    
    .element-row.expanded {
      border-bottom-color: transparent;
    }
  
    .table-right-aligned-button{
      position: absolute;
      right: 20px;
    }
    
    .right-aligned-buttons{
      position: absolute;
      right: 10px;
    }
    /* table styles ends */
    
      .filter-icon{
          position: absolute;
          font-size: 18px;
          right: 0;
      }
  