<!-- MatCard start -->

<!-- Breadcrumb start-->
<mat-toolbar class="breadcrumb">
    Breadcrumb
</mat-toolbar>
<!-- Breadcrumb end-->
<h1 class="target-area-title">Calendars of ORG Acronym</h1>
<div class="inner-flex-container" *ngIf="showSuccess == 'submit'">
  <div class="success">
    <p>Calendar added successfully.</p>
    <button class="remove-alert-button button-without-background " (click)="removeSuccess()">
      <i class="material-icons unit-control-icon icon-without-padding cancel-icon">cancel </i>
    </button>
  </div>
</div>
<div class="inner-flex-container" *ngIf="showSuccess == 'update'">
    <div class="success">
      <p>Calendar updated successfully.</p>
      <button class="remove-alert-button button-without-background " (click)="removeSuccess()">
        <i class="material-icons unit-control-icon icon-without-padding cancel-icon">cancel </i>
      </button>
    </div>
  </div>
<mat-card class="content-card">
    <!-- table modification button group -->
    <div *ngIf="rowsSelection.selected.length" class="table-modification-button-container">
        <button class="modification-buttons button-as-icon vertical-align-middle">
            <svg-icon class="unit-control-icon no-padding-svg" src="assets/svg-icons/delete_forever.svg"></svg-icon>
        </button>
        <button class="modification-buttons button-as-icon vertical-align-middle">
            <svg-icon class="unit-control-icon no-padding-svg" src="assets/svg-icons/edit.svg"></svg-icon>
        </button>
    </div>
    <!-- Mat Data Table Start -->
    <div class="data-model-table custom-common-expandable-table">
        <div class="example-container mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource" matSort id="mat-table">

                <!-- checkboxColumn field -->
                <ng-container matColumnDef="checkboxColumn">
                    <mat-header-cell class="eta-table-constant-width-column-first" *matHeaderCellDef>
                        <mat-checkbox id="checkbox-select-rows" class="custom-checkbox-without-margin margin-auto"
                            (change)="$event ? masterToggle() : null"
                            [checked]="rowsSelection.hasValue() && isAllSelected()">
                        </mat-checkbox>
                    </mat-header-cell>
                    <mat-cell class="eta-table-constant-width-column-first"
                        *matCellDef="let row; let checkBoxCellIndex = index">
                        <mat-checkbox *ngIf="row.type != 'system'" id="{{'checkbox-select-row-' + checkBoxCellIndex}}"
                            class="custom-checkbox-without-margin margin-auto" (click)="$event.stopPropagation()"
                            (change)="$event ? rowsSelection.toggle(row) : null"
                            [checked]="rowsSelection.isSelected(row)">
                        </mat-checkbox>


                    </mat-cell>
                </ng-container>

                <!-- location Column -->
                <ng-container matColumnDef="location">
                    <mat-header-cell *matHeaderCellDef> Location
                        <button mat-sort-header class="button-without-background right-aligned-buttons">
                            <svg-icon class="unit-control-icon no-padding-svg " src="assets/svg-icons/filter_list.svg">
                            </svg-icon>
                        </button>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <a class="eta-custom-link" (click)="editCalender(element.calendarId)"> {{element.location}} </a>
                    </mat-cell>
                </ng-container>

                <!-- locale Column -->
                <ng-container matColumnDef="locale">
                    <mat-header-cell *matHeaderCellDef> Locale
                        <button mat-sort-header class="button-without-background right-aligned-buttons">
                            <svg-icon class="unit-control-icon no-padding-svg " src="assets/svg-icons/filter_list.svg">
                            </svg-icon>
                        </button>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.locale}} </mat-cell>
                </ng-container>

                <!-- timezone  Column -->
                <ng-container matColumnDef="timezone">
                    <mat-header-cell *matHeaderCellDef> Timezone
                        <button mat-sort-header class="button-without-background right-aligned-buttons">
                            <svg-icon class="unit-control-icon no-padding-svg " src="assets/svg-icons/filter_list.svg">
                            </svg-icon>
                        </button>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.timezone}} </mat-cell>
                </ng-container>

                <!-- fiscalStart  Column -->
                <ng-container matColumnDef="fiscalStart">
                    <mat-header-cell *matHeaderCellDef> Fiscal Start
                        <button mat-sort-header class="button-without-background right-aligned-buttons">
                            <svg-icon class="unit-control-icon no-padding-svg " src="assets/svg-icons/filter_list.svg">
                            </svg-icon>
                        </button>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.fiscalStart}}</mat-cell>
                </ng-container>

                <!-- adminStart Column -->
                <ng-container matColumnDef="adminStart">
                    <mat-header-cell *matHeaderCellDef> Admin Start
                        <button mat-sort-header class="button-without-background right-aligned-buttons">
                            <svg-icon class="unit-control-icon no-padding-svg " src="assets/svg-icons/filter_list.svg">
                            </svg-icon>
                        </button>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">

                        {{element.administrativeStart}}
                    </mat-cell>
                </ng-container>

                <!-- holidays  Column -->
                <ng-container matColumnDef="holidays">
                    <mat-header-cell *matHeaderCellDef> Holidays
                        <button mat-sort-header class="button-without-background right-aligned-buttons">
                            <svg-icon class="unit-control-icon no-padding-svg " src="assets/svg-icons/filter_list.svg">
                            </svg-icon>
                        </button>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.holidayList.length}}</mat-cell>
                </ng-container>
                <mat-header-row id="header-row" *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; let rowIndex= index columns: displayedColumns;"
                    id="{{'table-row' + rowIndex}}" class="element-row">
                </mat-row>
            </mat-table>

            <mat-toolbar>
                <mat-toolbar-row>
                    <button *ngIf="!rowsSelection.selected.length" id="button-add-new" class="button add-new-button" (click)="addNewCalendar();">
                        Add New </button>
                    <span class="example-spacer"></span>
                    <mat-paginator #paginator [length]="resultsLength" [pageSize]="pageSize"
                        [pageSizeOptions]="[5, 10, 20, 50]" [pageIndex]="0"></mat-paginator>
                </mat-toolbar-row>
            </mat-toolbar>
        </div>


    </div>

</mat-card>
<!-- MatCard end -->