<div class=" table-padding">
  <!-- Breadcrumb start-->
  <mat-toolbar>
    <mat-icon>home</mat-icon>
    <mat-icon>arrow_forward_ios</mat-icon>
    <span>
      <a href="#" routerLink='/eta-web/organizationdashboard'>{{mainbreadcrumb}}</a>
    </span>
    <mat-icon>arrow_forward_ios</mat-icon>
    <span>
      <a routerLink='/eta-web/gadashboard'>{{breadcrumb}}</a>
    </span>
  </mat-toolbar>
  <!-- Breadcrumb end-->


  <nav mat-tab-nav-bar [backgroundColor]="background">
    <ng-container *ngFor="let menu of menuList;">
      <a mat-tab-link *ngIf="menu.menuType==3 && menu.menuRef == 2" (click)="activeLink=shownRouterLink(menu.routerLink)" [active]="activeLink==menu.routerLink">
        {{menu.translation}} </a>
    </ng-container>
    <button mat-icon-button>
      <mat-icon (click)="toggleBackground()">invert_colors</mat-icon>
    </button>
  </nav>
  <!-- Grid show start-->
  <mat-card>
    <div *ngIf="gaUrlCol!=null">
      <app-dynamic-datatable-edit [myurl]="gaUrl" [mycoloums]="gaUrlCol"></app-dynamic-datatable-edit>
      <app-admin-dynamic-datatable [myurl]=gaDataUrl [mycoloums]=gaUrlCol></app-admin-dynamic-datatable>

      <div class="button-row">
        <button type="button" (click)="addGA()" mat-raised-button color="primary">{{addButtonText}}</button>
        <button [disabled]="isEditAllowed == false" class="eta-margin-all" type="button" (click)="editGA()" mat-raised-button color="primary">{{editButtonText}}</button>
      </div>
    </div>
  </mat-card>
  <!-- Grid show end-->

</div>
