<div class=" table-padding">
  <mat-toolbar color="primary">
    User Profile
  </mat-toolbar>
  <!-- Left Side Container -->
  <div class="col-sm-3 left-container float-left">
    <mat-card class="example-card">
      <img mat-card-image src="http://www.venmond.com/demo/vendroid/img/photos/04.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <h2>
          <strong>Mariah Caraiban</strong>
        </h2>
        <h4>Owner at Our Company, Inc.</h4>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
          very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
      <mat-list>
        <mat-divider></mat-divider>
        <mat-list-item>
          <span>First Line</span>
          <span class="example-spacer"></span>
          <mat-icon class="example-icon">verified_user</mat-icon>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <span>Second Line</span>
          <span class="example-spacer"></span>
          <mat-icon class="example-icon" color="primary">verified_user</mat-icon>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <span>Third Line</span>
          <span class="example-spacer"></span>
          <mat-icon class="example-icon">verified_user</mat-icon>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </mat-card>
  </div>

  <!-- about  container  start-->
  <div class="col-sm-8 min-width right-container float-right ">

    <h3>
      <mat-icon> person </mat-icon>ABOUT</h3>
    <mat-divider></mat-divider>
    <div class="example-card  box-padding right-container float-left ">
      <!--  <span class="header-font">ABOUT</span> -->

      <mat-card-content>
        <mat-list class="left-container">
          <mat-list-item>
            <span>First Name:</span>
            <span class="example-spacer"></span>
            <span>Mariah</span>
          </mat-list-item>

          <mat-list-item>
            <span>User Name:</span>
            <span class="example-spacer"></span>
            <span>Mariah </span>
          </mat-list-item>

          <mat-list-item>
            <span>City:</span>
            <span class="example-spacer"></span>
            <span>Los Angeles</span>
          </mat-list-item>
          <mat-list-item>
            <span>Birthday:</span>
            <span class="example-spacer"></span>
            <span>Jan 22, 1984</span>
          </mat-list-item>
          <mat-list-item>
            <span>Website:</span>
            <span class="example-spacer"></span>
            <span><a href="#">Vendroid.venmond.com</a></span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </div>

    <div class="example-card right-container float-right">

      <mat-card-content>
        <mat-list class="example-card">
          <mat-list-item>
            <span>Last Name:</span>
            <span class="example-spacer"></span>
            <span>Caraiban</span>
          </mat-list-item>
          <mat-list-item>
            <span>Email:</span>
            <span class="example-spacer"></span>
            <span>mariah@Vendroid.com</span>
          </mat-list-item>
          <mat-list-item>
            <span>Country:</span>
            <span class="example-spacer"></span>
            <span>United States</span>
          </mat-list-item>
          <mat-list-item>
            <span>Interests:</span>
            <span class="example-spacer"></span>
            <span>Basketball, Web, Design, etc.</span>
          </mat-list-item>
          <mat-list-item>
            <span>Phone:</span>
            <span class="example-spacer"></span>
            <span>+1-234-5678</span>
          </mat-list-item>

        </mat-list>
      </mat-card-content>
    </div>
  </div>
  <!-- About side container END -->


  <!-- Experince side container -->
  <div class="col-sm-8 min-width right-container float-right ">


    <mat-divider></mat-divider>
    <!--  EXPERIENCE block start here -->
    <div class="example-card  box-padding right-container float-left ">
      <!--  <span class="header-font">ABOUT</span> -->
      <h3>EXPERIENCE</h3>
      <mat-card-content>
        <mat-list class="left-container">
          <mat-list-item>
            <span>First Name:</span>
            <span class="example-spacer"></span>
            <span>Mariah</span>
          </mat-list-item>

          <mat-list-item>
            <span>Third Line</span>
            <span class="example-spacer"></span>
            <mat-icon class="example-icon">favorite</mat-icon>
          </mat-list-item>

          <mat-list-item>
            <span>Third Line</span>
            <span class="example-spacer"></span>
            <mat-icon class="example-icon">favorite</mat-icon>
          </mat-list-item>
          <mat-list-item>
            <span>Third Line</span>
            <span class="example-spacer"></span>
            <mat-icon class="example-icon">favorite</mat-icon>
          </mat-list-item>
          <mat-list-item>
            <span>Third Line</span>
            <span class="example-spacer"></span>
            <mat-icon class="example-icon">favorite</mat-icon>
          </mat-list-item>

        </mat-list>


      </mat-card-content>
    </div>
    <!--  EXPERIENCE block start End -->
    <!--  EDUCATION block start here -->
    <div class="example-card right-container float-right">
      <h3>EDUCATION</h3>
      <mat-card-content>
        <mat-list class="example-card">
          <mat-list-item>
            <span>First Name:</span>
            <span class="example-spacer"></span>
            <span>Mariah</span>
          </mat-list-item>
          <mat-list-item>
            <span>Third Line</span>
            <span class="example-spacer"></span>
            <mat-icon class="example-icon">favorite</mat-icon>
          </mat-list-item>
          <mat-list-item>
            <span>Third Line</span>
            <span class="example-spacer"></span>
            <mat-icon class="example-icon">favorite</mat-icon>
          </mat-list-item>
          <mat-list-item>
            <span>Third Line</span>
            <span class="example-spacer"></span>
            <mat-icon class="example-icon">favorite</mat-icon>
          </mat-list-item>
          <mat-list-item>
            <span>Third Line</span>
            <span class="example-spacer"></span>
            <mat-icon class="example-icon">favorite</mat-icon>
          </mat-list-item>

        </mat-list>
      </mat-card-content>
    </div>
    <!--  EDUCATION block start END -->
  </div>
  <!-- Experince side container END -->

  <!-- Activity and SKILL Block -3 Start -->
  <div class="col-sm-8 min-width right-container float-right ">


    <mat-divider></mat-divider>
    <!--  EXPERIENCE block start here -->
    <div class="example-card  box-padding right-container float-left ">
      <!--  <span class="header-font">ABOUT</span> -->
      <h3>EXPERIENCE</h3>
      <mat-card-content>
        <mat-list class="left-container">
          <mat-list-item>
            <span>First Name:</span>
            <span class="example-spacer"></span>
            <span>Mariah</span>
          </mat-list-item>

          <mat-list-item>
            <span>Third Line</span>
            <span class="example-spacer"></span>
            <mat-icon class="example-icon">favorite</mat-icon>
          </mat-list-item>

          <mat-list-item>
            <span>Third Line</span>
            <span class="example-spacer"></span>
            <mat-icon class="example-icon">favorite</mat-icon>
          </mat-list-item>
          <mat-list-item>
            <span>Third Line</span>
            <span class="example-spacer"></span>
            <mat-icon class="example-icon">favorite</mat-icon>
          </mat-list-item>
          <mat-list-item>
            <span>Third Line</span>
            <span class="example-spacer"></span>
            <mat-icon class="example-icon">favorite</mat-icon>
          </mat-list-item>

        </mat-list>


      </mat-card-content>
    </div>
    <!--  EXPERIENCE block start End -->
    <!--  SKILL block start here -->
    <div class="example-card right-container float-right">
      <h3>EDUCATION</h3>

      <section class="example-section">
        <span>HTML</span>
        <mat-progress-bar class="example-margin" color="primary" mode="determinate" value="50" bufferValue="Progress">
        </mat-progress-bar>
      </section>
      <section class="example-section">
        <span>HTML</span>
        <mat-progress-bar class="example-margin" color="accent" mode="determinate" value="30" bufferValue="Progress">
        </mat-progress-bar>
      </section>
      <section class="example-section">
        <span>HTML</span>
        <mat-progress-bar class="example-margin" color="accent" mode="determinate" value="78" bufferValue="Progress">
        </mat-progress-bar>
      </section>
      <section class="example-section">
        <span>HTML</span>
        <mat-progress-bar class="example-margin" color="warn" mode="determinate" value="50" bufferValue="Progress">
        </mat-progress-bar>
      </section>

    </div>
    <!--  EDUCATION block start END -->
  </div>
  <!-- Activity and SKILL Block -3 ENDF -->

</div>
