.show-user-profile {
  margin: 30px;
}

.profile-table-width {
  width: 80%;
}

.left-container {
  max-width: 400px;
  width: 100%;
}

.right-container {
  margin: auto;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.container {
  padding: 20px;
}

.example-card {
  max-width: 500px;
  min-width: 350px;
  margin:  auto 50px;

}

.header-font {
  font-size: 20px;
}

.black-border{
  border: 1px solid #000000;
}
.min-width{
  min-width: 350px;
  max-width: auto;
  
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}


