  .main-container{
      position: relative;
  }
  .main-container .close-button{
      position: absolute;
      top: 0;
      right: 0;
      background: none;
      padding: 0;
      border: none;
      z-index: 999;
      box-shadow: none !important;
  }
  /*modification button group(check all, add new and delete button)styles starts */
  .modification-buttons-group{
    padding: 10px 0;
}
.modification-buttons-group button .data-object-check-all-button{
    vertical-align: super;
}
.modification-buttons-group .add-button{
    margin: 0 15px;
  
}
.modification-buttons-group  .item-check-all-button{
margin-left: 15px;
}
.modification-buttons-group button{
    background: none;
    border: none;
    padding: 0;
    vertical-align: middle;
    box-shadow: none !important;
}
 /*modification button group(check all, add new and delete button)styles ends */

 /* item name headin styles starts here */
 .item-name-heading{
     padding: 10px 46px;
     background: lightgray;
 }
 .item-name-heading h4{
     margin: 0;
 }
  /* item name heading styles ends here */

  /* item fields styles starts here */
  .item-division .all-items-division{
      max-height: 400px;
      overflow-y: scroll;
  }
  .item-division .item{
      padding: 10px 0;
  }
  .item-division .item-check-button{
      display: inline-block;
      margin-left: 15px;
  }
  .item-division .item-name-field{
padding: 0 15px;
width: calc(100% - 61px);
display: inline-block;
  }

  /* file upload styles starts here */
  /* hiding real input  */
.custom-file-upload-container {
    width: 100%;
    margin: 8px 0;
} 
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
    cursor: pointer; 
}

label {
    display: inline-block;
    width: calc(100% - 96px);
    vertical-align: middle;
}
.icon-container{
    display: inline-block;
 }

.upload-icon {
    
}
.custom-progress-bar{
    position: relative;
}
.progress-bar-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 15px;
    width: 100%;
    text-align: center;
}
.custom-validated .progress-bar-text {
    color: white;
}
.upload-button, .showHideButton{
    border: none;
    background: transparent;
    padding: 0;
}
.upload-button{
    margin: 0 8px;
}
.button-disabled{
    color: gray;
    cursor: not-allowed !important;
}
button:hover:enabled {
    box-shadow: 0 8px 10px 1px lightgray,
     0 3px 14px 2px lightgray, 
     0 5px 5px -3px lightgray;
    border-radius: 4px;
}
/* file upload styles ends here */

/* styles for submit, cancel button group */
.submit-cancel-button-group .submit-button{
    margin-right: 10px;
}