
<div class="main-container">
  <button (click)='toggleDeleteButton()'>Toggle delete</button>
  <button (click)='onNoClick()' class="close-button">
    <i class="material-icons">close</i>
  </button>
<h3 class="target-area-title">Add New Master Data Group</h3>

<!-- name field starts -->
<div class="custom-field" >
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input #nameFieldReference matInput placeholder="Name" [formControl]="nameField" maxlength="64">
      <mat-icon matSuffix>search</mat-icon>
      <mat-hint>{{64 - nameFieldReference.value.length }} characters remaining.</mat-hint>
      <mat-error *ngIf="nameField.invalid">Error</mat-error>
    </mat-form-field>
  </div>
<!-- name field ends -->

<!-- scope multi select starts here -->

<div class="custom-field custom-multiselect" >
  
  <mat-form-field  appearance='outline' >
    <mat-label>Scope</mat-label>
    <mat-select placeholder="Please select"  panelClass="custom-multi-select-panel" [(value)]="selected">
      <mat-option *ngIf="selected== 'oneChecked'" class="hidden-option" value="oneChecked">{{selectedInfo}}</mat-option>
      <mat-option *ngIf="selected== 'multipleChecked'" class="hidden-option" value="multipleChecked">Multiple Selection. ({{selectedInfo.length}})</mat-option>
      <mat-option   id="container">
        
      <div class="custom-tree">
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node  *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
  
      <mat-checkbox style='margin-left: -20px' (click)='stopPropegationFunction($event)'  class="checklist-leaf-node custom-checkbox"
                    [checked]="checklistSelection.isSelected(node)"
                    (change)="checklistSelection.toggle(node); checkNodes()">{{node.item}} leaf</mat-checkbox>
    </mat-tree-node>
  
  
    <mat-tree-node  *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
  
      <mat-checkbox class="custom-checkbox"  [checked]="descendantsAllSelected(node)"
                    [indeterminate]="descendantsPartiallySelected(node)"
                    (change)="todoItemSelectionToggle(node); checkNodes()">{{node.item}}</mat-checkbox>
    
    </mat-tree-node>
  </mat-tree>
  </div>
      </mat-option>
      
    </mat-select>
  </mat-form-field>
  
  </div>
<!-- scope multi select starts here -->
<form [formGroup]="form">
 <!--modification button group(add, delete, checkall) starts here -->
 <div class="modification-buttons-group">
    <mat-checkbox  [ngModelOptions]="{standalone: true}" [(ngModel)]='checkAllItem' class="custom-checkbox-without-margin item-check-all-button"
    (change)="checkAllItems($event); toggleDeleteButton()"></mat-checkbox>

    <button type="button" (click)="additem()"  class="add-button">
      <i class="material-icons">add_box</i>
    </button>

    <button *ngIf='deleteButtonFlag' type="button" (click)='deleteitem()' class="delete-button">
        <i class="material-icons">delete</i>
      </button>
  </div>
<!-- modification button group ends here -->



 
    <div class="item-division" formArrayName="item">
      <!-- item heading  -->
      <div class="item-name-heading ">
        <h4>Item Name*</h4>
      </div>
      <div class="all-items-division" id="customScrollBarContainer">
      <div  *ngFor="let item of form['controls'].item['controls']; let itemIndex=index">
       
        <div formGroupName="{{itemIndex}}" class="item">
          <!--  checked status -->
          <div class="item-check-button">
          <mat-checkbox (change)="toggleDeleteButton(); toggleCheckAllButton()" class="custom-checkbox-without-margin" formControlName="itemCheckedStatus"></mat-checkbox>
        </div>
  
          <!-- name field -->
          <div class="custom-field item-name-field" >
              <mat-form-field appearance="outline" [class.custom-error]="nameInput.value.length == 32">
                <mat-label>Name</mat-label>
                <input matInput #nameInput placeholder="Enter Name" formControlName="itemName" maxlength="32" required>
                <mat-icon matSuffix>search</mat-icon>
  
                <mat-hint>{{32 - nameInput.value.length }} characters remaining.</mat-hint>

               <!-- message showing according validations -->
                <mat-error *ngIf="form.controls['item'].controls[itemIndex].get('itemName').invalid && 
                form.controls['item'].controls[itemIndex].get('itemName').errors.required">required</mat-error>
              </mat-form-field>
            </div>
            <mat-divider></mat-divider>
          
        </div>
      </div>
    </div>
    </div>
  <!--repating item code ends here -->
  <!-- suggestion text -->
  <p class="suggestion-text">Or, Upload file with List of Values</p>
  <!-- file upload code starts here -->
  <div  [class.custom-validated]="validatedStatus" class="custom-file-upload-container custom-field" [class.custom-error]='fileNotSupported && fileInput'>
      <input formControlName='fileInput' [(ngModel)]='fileInput' type="file" name="file" id="file" class="inputfile" (change)='inputChangeFunction()'/><!-- real input -->
     <label for="file">
       <div >
     <mat-form-field appearance="outline">  
         <mat-label>Icon *</mat-label>
         <input formControlName='fileInputLabel'  [style.width]="fileInput? '100%': '0' " [type]="hide ? 'password' : 'text'" matInput  [value]="fileInput.split( '\\' ).pop()" readonly><!-- input as a label only-->
         <mat-icon matSuffix>insert_drive_file</mat-icon>
         <mat-hint> Max size 128 x 128.PNG only.</mat-hint>
         <mat-error *ngIf="logoInvalid && fileNotSupported">Max size 128 x 128.PNG only.</mat-error>
       </mat-form-field>
     </div>
     </label>
     
     <div class="icon-container">
     <button class="upload-button" (click)='uploadFile()' [disabled]='!uploadButtonEnabled'>
         <i class="material-icons medium-square-icon-with-border" [class.button-disabled]="!uploadButtonEnabled">
             cloud_upload
             </i>
     </button>
     <button [disabled]='!validatedStatus' class="showHideButton" (click)="hide = !hide">
         <i class="material-icons medium-square-icon-with-border eye-icon" [class.button-disabled]='!validatedStatus'>{{hide ? 'visibility_off' : 'visibility'}}
           </i>
       </button>
         
             </div>
     
             <div class="custom-progress-bar">
               
                <mat-progress-bar *ngIf="value == 0" 
                class="example-margin"
                value="0"></mat-progress-bar>
            <mat-progress-bar *ngIf="value != 0"
            class="example-margin"
            [value]="progressBarValue"></mat-progress-bar>

             <!-- <mat-progress-bar
             class="example-margin"
             [value]="progressBarValue"></mat-progress-bar> -->
           
             <p class="progress-bar-text">{{!validatedStatus && fileInput && !fileNotSupported && validateAndNotSupportedControls?  "Scanning & Uploading": " "}} {{validatedStatus? "Scanned & Uploaded": " "}}</p>
           </div>
         
         </div>

         <div *ngIf='validateAndNotSupportedControls'>
     <button (click)='validate()'>Validate image</button>
     <button (click)='notSupported()'>Not supported</button>
     </div>
     <!-- file upload code ends here -->
  </form>
 
<div class="submit-cancel-button-group">
  <button class="button submit-button" disabled>Submit</button>
  <button class="button">Cancel</button>
</div>

</div>




<!-- item name ends here -->