.modal-dialog {
  margin: 0 !important;
 position: relative;
}
.close-button{
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: none;
    padding: 0 !important;
}

.example-full-width {
    width: 100%;
  }
  .input-fields {
      margin: 10px 0;
  }
  .submit-button{
      margin-right: 15px;
  }
  .error{
      color: red;
  }
.acr-text-transform{
    text-transform: uppercase !important;
}

