<div class="modal-dialog my-light-green-theme" [ngStyle]="{'display':display}" id="processAdd">
  <md-card-header>
    <md-card-title>
      <h3 class="target-area-title">Add New Process to {{functionAcronym}}</h3>
    </md-card-title>
    <button (click)="cancel()" class="button-as-icon close-button" mat-dialog-close>
        <svg-icon class="unit-icon" src="assets/svg-icons/clear.svg"></svg-icon></button>
  </md-card-header>

  <form [formGroup]="addProcessForm" novalidate autocomplete='off'>
    <div mat-dialog-content>

      <div class="custom-control-row">
        <div class="custom-field custom-field-fw">
          <mat-form-field appearance="outline" style="position:relative">
            <mat-label>Name </mat-label>
            <input matInput #processNameInput [(ngModel)]="processName" [typeaheadAsync]="true"
              [typeahead]="dataSourceProcess" (typeaheadLoading)="changeTypeaheadLoadingProcess($event)"
              (typeaheadOnSelect)="typeaheadOnSelectProcess($event)" [typeaheadOptionsLimit]="100"
              [typeaheadMinLength]="0" typeaheadOptionField="processName" placeholder="Name *" maxlength="16"
              formControlName="processNameControl" [ngModelOptions]="{standalone: true}"
              (keyup)="checkCharValidationForName($event)" 
              (blur)="checkOnProcessName($event)" required>
              <svg-icon matSuffix src="assets/svg-icons/search.svg"></svg-icon>
            <mat-hint>For display in Navigation.{{16 - processNameInput.value.length}} Characters Remaining.</mat-hint>

            <mat-error
              *ngIf="addProcessForm.controls['processNameControl'].invalid && addProcessForm.controls['processNameControl'].errors.required && addProcessForm.controls['processNameControl'].touched">
              Name is required.
            </mat-error>
            <mat-error
              *ngIf="addProcessForm.controls['processNameControl'].invalid && processName.length>0 && duplicateProcessName">
              Name  already taken.
            </mat-error>
            <mat-error
              *ngIf="addProcessForm.controls['processNameControl'].errors?.patternError">
              First letter should be alphabatic.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="custom-control-row">
        <div class="custom-field custom-field-fw">

          <mat-form-field appearance="outline">
            <mat-label>Acronym </mat-label>
            <input matInput #acronymInput [(ngModel)]="acronym" [typeaheadAsync]="true" [typeahead]="dataSourceAcronym"
              (typeaheadLoading)="changeTypeaheadLoadingAcronym($event)"
              (typeaheadOnSelect)="typeaheadOnSelectAcronym($event)" [typeaheadOptionsLimit]="100"
              [typeaheadMinLength]="0" 
              (keyup)="checkCharValidationForAcronym($event)" typeaheadOptionField="acronym"
              placeholder="Acronym *" minlength="3" maxlength="3" formControlName="acronymControl"
              #input (input)="input.value=$event.target.value.toUpperCase()" (blur)="checkOnAcronymName($event)" required>
            <!--class="acr-text-transform" upperCase remove-->
            <svg-icon matSuffix src="assets/svg-icons/search.svg"></svg-icon>
            <mat-hint>Process's Acronym.{{3 - acronymInput.value.length}} characters Remaining.</mat-hint>

            <mat-error
              *ngIf="addProcessForm.controls['acronymControl'].invalid &&  acronym.length>0 && addProcessForm.controls['acronymControl'].value.length<3 && addProcessForm.controls['acronymControl'].touched && !addProcessForm.controls['acronymControl'].errors?.patternAcronymError">
              Acronym should be minimum 3 Letter.
            </mat-error>

            <mat-error
              *ngIf="addProcessForm.controls['acronymControl'].invalid && addProcessForm.controls['acronymControl'].errors.required && addProcessForm.controls['acronymControl'].touched">
              Acronym is required.
            </mat-error>
            <mat-error *ngIf="addProcessForm.controls['acronymControl'].errors?.myError">
              Acronym  already taken.
            </mat-error>

            <mat-error
              *ngIf="addProcessForm.controls['acronymControl'].errors?.patternAcronymError">
              First letter should be alphabatic.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="custom-control-row">
        <div class="custom-text-area">
          <mat-form-field appearance="outline">
            <mat-label>Description </mat-label>
            <textarea matInput #processDescriptionInput [(ngModel)]="processDescription" maxlength="255"
              placeholder="Description *" formControlName="decriptionControl"
              [ngModelOptions]="{standalone: true}" required></textarea>

            <mat-hint>{{255 - processDescriptionInput.value.length}} Characters
              Remaining</mat-hint>

            <mat-error
              *ngIf="addProcessForm.controls['decriptionControl'].invalid && addProcessForm.controls['decriptionControl'].errors.required && addProcessForm.controls['decriptionControl'].touched">
              Description is required.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- file upload starts -->
      <div class="custom-control-row">
        <div class="file-upload-container custom-field">

          <!-- real input -->
          <input #myInput hidden [(ngModel)]="fileValue" [ngModelOptions]="{standalone: true}" type="file" name="file"
            id="file" class="input-file" (change)='fileInputChanged($event)' accept=".png" />
          <div class="custom-input-label">
            <label class="label" (click)="myInput.click()"></label>
            <mat-form-field appearance="outline">
              <mat-label>Icon </mat-label>

              <input formControlName="fileInput" [ngModelOptions]="{standalone: true}"
                [type]="hide ? 'password' : 'text'" matInput readonly required>
                <svg-icon matSuffix src="assets/svg-icons/image_suffix.svg"></svg-icon>
              <mat-hint> Max size 128 x 128.PNG only.</mat-hint>

              <mat-error *ngIf="addProcessForm.controls['fileInput'].errors?.invalidFile">Max size 128 x 128.PNG only.
              </mat-error>
            </mat-form-field>
          </div>

          <!-- upload and toggle container starts -->
          <div class="control-button-container">
            <button type="button" class="control-button upload-button" (click)='upload($event);'
              [disabled]="addProcessForm.controls['fileInput'].invalid || !progressBarValue == 100 || fileUploadButton">
              <svg-icon class="unit-icon" src="assets/svg-icons/cloud_upload.svg"></svg-icon>
              <div [style.height.%]="progressBarValue"
                [class.validated]="progressBarValue == 100 && addProcessForm.controls['fileInput'].valid"
                [class.error]="progressBarValue == 100 && addProcessForm.controls['fileInput'].invalid"
                class="custom-progress-division"></div>
            </button>
          </div>
          <div class="control-button-container">
            <button type="button" class="control-button" (click)="hide = !hide"
              [disabled]="addProcessForm.controls['fileInput'].invalid || progressBarValue != 100">
              <svg-icon *ngIf="!hide" class="unit-icon" src="assets/svg-icons/visibility_off.svg"></svg-icon>
              <svg-icon *ngIf="hide" class="unit-icon" src="assets/svg-icons/visibility.svg"></svg-icon>
            </button>

          </div>
        </div>
      </div>
      <!-- file upload ends -->



      <div class="custom-control-row">
        <div class="custom-select custom-field custom-field-fw">
          <mat-form-field appearance="outline">
            <mat-label>Display Order </mat-label>
            <mat-select appearance="outline" placeholder="Display Order" [(ngModel)]="dOrder" name="dOrder"
              formControlName="displayOrderControl" [ngModelOptions]="{standalone: true}" disableOptionCentering
              panelClass="custom-select-panel">
              <mat-option *ngFor="let item of displayOrderList" [value]="item.displayOrder">
                {{item.displayOrder}}
              </mat-option>
            </mat-select>
            <mat-hint>Select order of display.</mat-hint>
          </mat-form-field>
        </div>
      </div>

      <div class="custom-control-row">
        <div class="custom-field custom-field-fw">
          <mat-form-field class="example-full-width input-fields" appearance="outline">
            <mat-label>Owner Name </mat-label>
            <input matInput [(ngModel)]="userId" [typeaheadAsync]="true" [typeahead]="dataSource"
              (typeaheadLoading)="changeTypeaheadLoading($event)" (typeaheadOnSelect)="typeaheadOnSelect($event)"
              [typeaheadOptionsLimit]="100" [typeaheadMinLength]="0" typeaheadOptionField="firstName"
              placeholder="Owner Name *" formControlName="ownerNameControl" [ngModelOptions]="{standalone: true}"
              (keyup)="checkOwnerName($event)" required>
              <svg-icon matSuffix src="assets/svg-icons/search.svg"></svg-icon>
            <mat-hint>Type to select from the list.</mat-hint>

            <mat-error *ngIf="addProcessForm.controls['ownerNameControl'].invalid &&
      addProcessForm.controls['ownerNameControl'].errors.required &&
       addProcessForm.controls['ownerNameControl'].touched">
              Owner Name is required.
            </mat-error>

            <mat-error
              *ngIf="addProcessForm.controls['ownerNameControl'].invalid && ownerNameSelection && addProcessForm.controls['ownerNameControl'].value.length>0 &&  addProcessForm.controls['ownerNameControl'].touched">
              Please select the correct Owner Name
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="form-action-buttons-div">
        <div *ngIf="isLoadingResults" class="loading-spinner-div">
            <mat-spinner></mat-spinner> 
          </div>
      <button type="submit" class="button button-margin-right" [disabled]="(addProcessForm.invalid || !fileUploaded)"
        (click)="saveRecord()">Submit</button>
      <button class="button" mat-dialog-close (click)="cancel()">Cancel</button>
    </div>

  </form>
</div>