<div class=" table-padding">
  <!-- Breadcrumb start-->
  <mat-toolbar>
    <mat-icon>home</mat-icon>
    <mat-icon>arrow_forward_ios</mat-icon>
    <span>
      <a href="#" routerLink='/eta-web/emaildashboard'>{{mainbreadcrumb}}</a>
    </span>

  </mat-toolbar>
  <!-- Breadcrumb end-->

    <nav mat-tab-nav-bar [backgroundColor]="background">
      <ng-container *ngFor="let menu of menuList;">
        <a mat-tab-link *ngIf="menu.menuType==3 && menu.menuRef == 4" (click)="activeLink=shownRouterLink(menu.routerLink)" [active]="activeLink==menu.routerLink">
          {{menu.translation}} </a>
      </ng-container>
      <button mat-icon-button>
        <mat-icon (click)="toggleBackground()">invert_colors</mat-icon>
      </button>
    </nav>
    
    <!-- Grid show start-->
    <mat-card>
      <div *ngIf="emailConfigCol!=null">
          <!--<app-admin-dynamic-datatable  [myurl]=emailDataUrl [mycoloums]=emailConfigCol></app-admin-dynamic-datatable>-->
          <mat-data-table [myDataUrl]=emailUrl [defaultSortColumn]=defaultColumnToSort></mat-data-table>
          
          <div class="button-row">
            <button type="button" (click)="addMailConfig()" mat-raised-button color="primary">{{addButtonText}}</button>
            <button [disabled]="isEditAllowed == false" class="eta-margin-all" type="button" (click)="editMailConfig()" mat-raised-button color="primary">{{editButtonText}}</button>
          </div>  
      </div>
    </mat-card>
    <!-- Grid show End-->
    
  <!--  table-padding tage End-->

</div>
