.content-card{
    padding:  0 !important;
    overflow: hidden;
}
.top-container{
    padding: var(--content-inside-padding);
}
/*table modification button styles starts*/
.table-modification-button-container{
    /* height: var(--mat-table-row-min-height); */
    /* display: flex;
    flex-direction: column;
    justify-content: center;*/
  } 
  .table-modification-button-container .inner-center-division{
  position: relative;
  }
  .modification-buttons{
      margin-right: var(--content-inside-padding);
  }
  /*table modification button styles ends*/
  .custom-table-row, 
  .custom-table-header{
      display: flex;
  }
  .custom-table-header{
      background: var(--eta-table-header-background);
      height: var(--mat-table-row-min-height);
  }
  .custom-table-header .custom-table-cell{
      font-weight: 450;
      line-height:  var(--mat-table-row-min-height);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
  } 
  .custom-table-cell{
      width: 10% !important;
      flex: 1;
  }
 .name-field,
 .field-type,
 .store-field,
 .default-field,
 .reference-field,
 .help-text-field{
    padding: 0 calc(var(--horizontal-space-between-controls)/2);
 }
 .store-field,
 .name-field{
     padding-left: 0 !important;
 }
 .field-type{
     padding-right: 0 !important;
 }
 .validation-field{
    padding: 0
     var(--content-inside-padding)
     0
     calc(var(--horizontal-space-between-controls)/2);
 }

.control-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-button-toolbar{
    background: white;
    height: auto !important;
    padding: 0 var(--content-inside-padding);
}
.form-button-toolbar button{
    margin: var(--content-inside-padding) 0;
}
.form-button-toolbar .submit-button{
    margin-right: var(--content-inside-padding) !important;;
}
.custom-table .custom-control-row{
    margin: 0 !important;
    padding: calc(var(--vertical-space-between-rows) / 2) 0;
    border-bottom: solid #eaeaea 1px;
}
.table-rows-division{
    max-height: 400px;
    overflow: auto;
}