 /* top container styles starts */
.content-card{
  padding: 0 !important;
  overflow: hidden;
}
.target-area-title-division .target-area-title{
  display: inline-block;
}
.target-area-title-division .float-right{
  float: right;
}
/* top container styles ends */
.top-container{
  padding: var(--content-inside-padding);
}
.top-container-rows{
  margin-bottom: var(--content-inside-padding);
}
.top-container-rows:last-child{
  margin-bottom: 0;
}
/* alert message division styles starts*/
.alert-message-division{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: green;
}
.inner-flex-division{
  position: relative;
}
.alert-message-division p,
.alert-message-division .material-icons,
.alert-message-division button{
  color: inherit;
}
.alert-message-division p{
  display: inline-block;
  margin: 0;
  font-size: var(--body-text1-base-font-size);
}
.alert-message-division .remove-alert-button{
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
  color: black !important
}
.check-box-icon{
   margin-right: var(--content-inside-padding);
   display: inline-block;
   vertical-align: middle;
}
/* alert message division styles ends*/
 /* taskflow-dashboard-expandable table styles starts */
 .custom-expandable-table-taskflow-dashboard .mat-column-taskFlowID{
  flex: 5% !important;
}

.custom-expandable-table-taskflow-dashboard .mat-column-taskFlowName {
  flex: 30% !important;
}
.custom-expandable-table-taskflow-dashboard .mat-column-taskFlowTypeName{
  flex: 20% !important;
}
.custom-expandable-table-taskflow-dashboard .mat-column-taskCount {
  flex: 15% !important;
}
.custom-expandable-table-taskflow-dashboard .mat-column-status {
  flex: 15% !important;
}
.custom-expandable-table-taskflow-dashboard .mat-column-since{
  flex: 15% !important;
}
.right-aligned-buttons{
  position: absolute;
  right: 10px;
}
a{
  cursor:  pointer !important;
}
 /* taskflow-dashboard-expandable table styles ends */



/*table modification button styles starts*/
.table-modification-button-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.table-modification-button-container .inner-center-division{
position: relative;
}
.table-modification-button-container .inner-center-division .search-icon{
position: absolute;
top: 50%;
left: 100%;
transform: translate(-100%, -50%);
}
.modification-buttons {
  margin-right: var(--content-inside-padding);
}
/*table modification button styles ends*/

.table-button-toolbar{
  /* padding: 0 var(--eta-common-padding); */
  height: auto;
  background: none;
}
.table-button-toolbar .add-new-button{
  margin: var(--content-inside-padding) !important;
}
.cards-scroll-back-button,
.tabs-scroll-back-button{
  padding-right: 5px;
}

/* metrics settings div styles starts here */
.metrics-settings-div{
  display: flex;
  padding: var(--content-inside-padding);
}
.col-base .links{
  display: block;
  margin-bottom: var(--vertical-space-between-rows);
}
.col-base .links:last-child{
  margin-bottom: 0;
}
.col-expanded{
  padding-left: calc(var(--content-inside-padding) * 2);
  margin-left: calc(var(--content-inside-padding) * 2);
  border-left: solid black 2px;
  min-width: 400px;
}
.col-expanded .heading{
  margin: 0 0 var(--vertical-space-between-rows) 0;
}
.col-expanded.col-list-of-metrics .metric-card{
  display: flex;
  align-items: center;
  padding: calc(var(--content-inside-padding) * .6);
  margin-bottom: 2px;
}
.col-list-of-metrics .list-of-cards{
  max-height: 400px;
  overflow: auto;
  padding: 2px;
}
.metric-card .metric-heading{
  padding-right: calc(var(--content-inside-padding) * .6);
}
.metric-card .edit-button{
  margin: 0 calc(var(--content-inside-padding) * .6);
}
.metric-card .drag-and-drop-button{
  margin-right: calc(var(--content-inside-padding) * .6);
}
/* metrics settings div styles ends here */