
<div  (window:resize)="onWindowResized($event)">

    <!-- Breadcrumb start-->
    <mat-toolbar class="breadcrumb">
            <svg-icon  src="../../../assets/svg-icons/home.svg"></svg-icon>
            <svg-icon src="../../../assets/svg-icons/arrow_forward.svg"></svg-icon>
        <span>
            <a href="#" routerLink='/#2'>{{mainbreadcrumb}}</a>
        </span>
        <svg-icon src="../../../assets/svg-icons/arrow_forward.svg"></svg-icon>
        <span>
            <a routerLink='/eta-web/taskflowdashboard'>{{breadcrumb}}</a>
        </span>
    </mat-toolbar>
    <div class="main-container">
            <div >
                    <div class="target-area-title-division">
                        <h3 class="target-area-title">Metrics</h3>
                        <button (click)="showExpandedCardContent = 'null'; openMatMenuFromCenter.click()" 
                        class='setting-icon button-as-icon mat-manu-trigger-button float-right'>
                           <span class="center-point-for-open-mat-menu-from-center" #openMatMenuFromCenter [matMenuTriggerFor]="settingPanel"></span>
                          <svg-icon class="unit-control-icon no-padding-svg" src="../../../assets/svg-icons/settings_applications.svg"></svg-icon> 
                         </button>
                         <mat-menu #settingPanel="matMenu">
                             <div (click) = "$event.stopPropagation()" class="metrics-settings-div">
                               <div class="col-base">
                               <a class="eta-custom-link links body-text1" (click)="showExpandedCardContent = 'addNewmetric'">Add New Metric</a>
                              <a class="eta-custom-link links body-text1" (click)="showExpandedCardContent = 'listOfmetrics'">List of Metrics</a>
                             </div>
                             <div *ngIf="showExpandedCardContent == 'addNewmetric'" class="col-expanded col-add-new-metric">
                               <p class="heading body-text1">Add New Metric to Process Acronym</p>
            <!-- select field  data element-->
               <div class="custom-control-row">
               <div class="custom-field custom-select custom-field-fw">
                   <mat-form-field appearance="outline" >
                     <mat-label>Date Element</mat-label>
                     <mat-select id="select-field-dateElement" placeholder="Date Element"  required
                     disableOptionCentering panelClass="custom-select-panel">
                   <mat-option value="1">1</mat-option>
                   <mat-option value="2">2</mat-option>
                   </mat-select>
                     <mat-hint>Select Data Element</mat-hint>
                    <mat-error >Required</mat-error>
                   </mat-form-field>
                 </div>
               </div> 
           
               <!-- select field operation-->
               <div class="custom-control-row">
                   <div class="custom-field custom-select custom-field-fw">
                       <mat-form-field appearance="outline" >
                         <mat-label>Operation</mat-label>
                         <mat-select id="select-field-operation" placeholder="Operation"  required
                         disableOptionCentering panelClass="custom-select-panel">
                       <mat-option value="1">1</mat-option>
                       <mat-option value="2">2</mat-option>
                       </mat-select>
                         <mat-hint>Select Operation</mat-hint>
                        <mat-error >Required</mat-error>
                       </mat-form-field>
                     </div>
                   </div> 
                   <div class="form-action-buttons">
                     <button class="button no-margin button-margin-right" disabled>Submit</button>
                     <button class="button no-margin">Cancel</button>
                   </div>
                             </div>
           
                             <div *ngIf="showExpandedCardContent == 'listOfmetrics'" class="col-expanded col-list-of-metrics">
                               <p class="heading body-text1">List of Metrics</p>  
                              <div class="list-of-cards" id="customScrollBarContainer">
                               <mat-card *ngFor="let metric of cards" class="metric-card">
                                 <button class="drag-and-drop-button button-as-icon"><svg-icon class="unit-icon" src="assets/svg-icons/drag_indicator.svg"></svg-icon></button>
                                 <p class="metric-heading body-text1 no-margin">{{metric.description}}</p>
                                 <span class="example-spacer"></span>
                                 <button class="edit-button button-as-icon"><svg-icon class="unit-icon" src="assets/svg-icons/edit.svg"></svg-icon></button>
                                 <button class="delete-button button-as-icon"><svg-icon class="unit-icon" src="assets/svg-icons/delete.svg"></svg-icon></button>
                               </mat-card>
                             </div>
                             </div>
                           </div>
                           </mat-menu>
                    </div>
            
                       <!-- cards slider starts here -->
<div class="card-slider-relative-container">
        <div class="cards-slider-container" id="customScrollBarContainerHorizentol" #cardsContainer>
          <div class="cards-scrollable-content" #cardsScrollableContent>
                <mat-card class="card dashboard-square-card" *ngFor="let card of cards">
                        <div class="card-inner-div">
                         <h3 class="no-margin">{{card.heading}}</h3>
                        <p class="body-text1 no-margin">{{card.description}}</p>
                        <div class="button-division">
                             <button class="button no-margin">View</button>
                            <button class="card-expand-more-button button-as-icon mat-manu-trigger-button" (click)="openMatMenuFromCenter.click()">
                              <svg-icon class="unit-control-icon no-padding-svg" 
                              src="assets/svg-icons/more_vert.svg"></svg-icon>
                              <span class="center-point-for-open-mat-menu-from-center" #openMatMenuFromCenter [matMenuTriggerFor]="showMore" ></span>
                             </button>
                             <mat-menu style="display: none" #showMore="matMenu" xPosition="before" class="metric-card-modification-mat-menu">
                                <a class="eta-custom-link modification-links body-text1">Edit metric</a>
                                <a class="eta-custom-link modification-links body-text1">Delete metric</a>
                              </mat-menu>
                       </div>
                      </div>
                          </mat-card>
            </div>
          <div *ngIf="cardsScrollBackButtonFlag" class="cards-back-button-transparent-container">
            <button   class="cards-scroll-back-button custom-fab-small" (click)="cardsScrollBackFunction()" mat-fab>
                    <svg-icon class="unit-icon no-padding-svg " src="../../../assets/svg-icons/arrow_backward.svg"></svg-icon>
            </button>
          </div>
          <div *ngIf="cardsScrollForwardButtonFlag" class="cards-forward-button-transparent-container">
            <button  class="cards-scroll-forward-button custom-fab-small" (click)="cardsScrollForwardButton()" mat-fab>
                    <svg-icon class="unit-icon no-padding-svg " src="../../../assets/svg-icons/arrow_forward.svg"></svg-icon>
                </button>
               </div>
              </div>
              </div>
              <!-- cards slider endss here -->

                    <div class="target-area-title-division">
                        <h3 class="target-area-title">Tasks Flows</h3>
                        <button class='setting-icon button-without-background float-right'>
                                <svg-icon class="unit-control-icon no-padding-svg " src="../../../assets/svg-icons/settings_applications.svg"></svg-icon>
                          </button>
                    </div>
            
                <div class="taskflow-button-group">
                        <button class="button no-top-margin button-margin-right lowercase">Show Live</button>
                        <button class="button no-top-margin button-margin-right lowercase">Show Test</button>
                 </div>
                </div>

              <mat-card class="content-card">
                  <div class="top-container">
 <!-- tab button group container -->
 <div class="relative-div top-container-rows">
        <div class="tab-button-group-container" id="customScrollBarContainerHorizentol" #tabsContainer>
          <div class="scrollable-content" #tabsScrollableContent>
                <button class="button-as-tab active-button" [class.active-button]="!processId" (click) = " clickAllButton(); markActiveButton('all', $event)"> ALL </button>
                <button class="button-as-tab" *ngFor = "let process of processList"  [class.active-button]="process.processID == processId" (click) = "clickProcessName(process.processID); markActiveButton('none', $event)"> {{process.acronym}}</button>
                </div>
      
         <div *ngIf="tabsScrollbackButtonFlag" class="tabs-back-button-transparent-container">
            <button   class="tabs-scroll-back-button custom-fab-small" (click)="back()" mat-fab>
                    <svg-icon class="unit-icon no-padding-svg " src="../../../assets/svg-icons/arrow_backward.svg"></svg-icon>
                    </button>
          </div>
          <div *ngIf="tabsScrollForwardButtonFlag" class="tabs-forward-button-transparent-container">
            <button  class="tabs-scroll-forward-button custom-fab-small" (click)="forward()" mat-fab>
                    <svg-icon class="unit-icon no-padding-svg " src="../../../assets/svg-icons/arrow_forward.svg"></svg-icon>
                </button>
               </div>
             </div>
             
              </div>
              
        <!-- tab button group container ends here -->

  
    <div *ngIf="showMessageAlert" class="alert-message-division top-container-rows">
        <div class="inner-flex-division">
         
           <svg-icon class="check-box-icon success-svg unit-control-icon no-padding-svg " src="../../../assets/svg-icons/check_box.svg"></svg-icon>
        <p *ngIf="showMessageAlert == 'submit'" class="alert-text vertical-align-middle">
            Successfully Added {{taskFlowName}}.
        </p>  
        <p *ngIf="showMessageAlert == 'update' && !taskName" class="alert-text vertical-align-middle">
        Successfully Updated {{taskFlowName}}.
        </p>  
        <p *ngIf="showMessageAlert == 'update' && taskName" class="alert-text vertical-align-middle">
            Successfully Updated {{taskFlowName}} with {{taskName}} ( Task ).
        </p>
       
        <button class="remove-alert-button button-without-background vertical-align-middle " (click)="removeMessageAlert()">
                <svg-icon class="unit-control-icon no-padding-svg " src="../../../assets/svg-icons/cancel_presentation.svg"></svg-icon>
         </button>
    </div>
    </div>
    <div *ngIf="selection.selected.length" class='table-modification-button-container top-container-rows'>
        <div class="inner-center-division">
       <button class="modification-buttons button-without-background vertical-align-middle" >
            <svg-icon class="unit-control-icon no-padding-svg " src="../../../assets/svg-icons/delete.svg"></svg-icon>
       </button>
    </div> 
    </div>  
</div>
    <div style="clear:both"></div>
    <div class="example-container mat-elevation-z8">
        <div class="example-table-container">
            <div class="example-container mat-elevation-z8 custom-common-expandable-table custom-expandable-table-taskflow-dashboard">
                <mat-table #table [dataSource]="taskFlowDataSource" matSort class="example-table" matSortActive="created" matSortDisableClear matSortDirection="asc">
                  
                    <!-- Task Flow Id Column -->
                    <ng-container matColumnDef="taskFlowID">
                        <mat-header-cell class="mat-header-cell eta-table-constant-width-column-first no-padding" *matHeaderCellDef>
                                <mat-checkbox class="custom-checkbox-without-margin margin-auto vertical-align-middle"
                                 (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                (click)="removeMessageAlert()">
                        </mat-checkbox>
                        </mat-header-cell>
                        <mat-cell class="mat-cell eta-table-constant-width-column-first text-align-center" *matCellDef="let element">  
                            <mat-checkbox class="custom-checkbox-without-margin margin-auto" id="{{element.taskFlowID}}" 
                                            (click)="updateCurrentTaskFlowId(element.taskFlowID); $event.stopPropagation(); removeMessageAlert()"
                                            (change)="$event ? selection.toggle(element) : null"
                                            [checked]="selection.isSelected(element)">
                            </mat-checkbox>
                        </mat-cell>      
                    </ng-container>

                    
                    <!-- Task Flow Name Column -->
                    <ng-container matColumnDef="taskFlowName">
                        <mat-header-cell  *matHeaderCellDef > Tasks Flow 
                            <button mat-sort-header class="button-without-background right-aligned-buttons">
                                    <svg-icon class="unit-control-icon no-padding-svg " src="../../../assets/svg-icons/filter_list.svg"></svg-icon> 
                        </button>
                        </mat-header-cell>
                        <mat-cell  *matCellDef="let element">    
                            <a *ngIf="!allButtonFlag"  class="custom-link-style  ellipsisable-content" 
                                routerLink="../edittaskflow/{{processId}}/{{element.taskFlowID}}">
                                {{element.taskFlowName}}
                            
                            </a>
                            <span class="ellipsisable-content" *ngIf="allButtonFlag">{{element.taskFlowName}}</span> 
                        </mat-cell>
                    </ng-container>

                    <!-- Task Flow Type Name Column -->
                    <ng-container matColumnDef="taskFlowTypeName">
                        <mat-header-cell  *matHeaderCellDef> Type 
                            <button mat-sort-header class="button-without-background right-aligned-buttons">
                                    <svg-icon class="unit-control-icon no-padding-svg " src="../../../assets/svg-icons/filter_list.svg"></svg-icon> 
                            </button>
                        </mat-header-cell>
                        <mat-cell  *matCellDef="let element"> 
                            {{element.taskFlowTypeName}}                 
                        </mat-cell>  
                    </ng-container>
                    
                    <!-- No. of Taks Count Column -->
                    <ng-container matColumnDef="taskCount">
                        <mat-header-cell *matHeaderCellDef> # of Tasks 
                                <button  mat-sort-header class="button-without-background right-aligned-buttons">
                                        <svg-icon class="unit-control-icon no-padding-svg " src="../../../assets/svg-icons/filter_list.svg"></svg-icon> 
                            </button>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.taskCount}} </mat-cell>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef > Status 
                                <button  mat-sort-header class="button-without-background right-aligned-buttons">
                                        <svg-icon class="unit-control-icon no-padding-svg " src="../../../assets/svg-icons/filter_list.svg"></svg-icon> 
                            </button>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <svg-icon class="unit-control-icon no-padding-svg"
           [class.red-status]="element.status == 'red'"
           [class.green-status]="element.status == 'green'"
           [class.amber-status]="element.status == 'amber'"
            src="../../../assets/svg-icons/crop_square.svg"></svg-icon>
                        </mat-cell>
                    </ng-container>

                    <!-- Since Column -->
                    <ng-container matColumnDef="since">
                        <mat-header-cell *matHeaderCellDef> Since 
                                <button mat-sort-header class="button-without-background right-aligned-buttons">
                                        <svg-icon class="unit-control-icon no-padding-svg " src="../../../assets/svg-icons/filter_list.svg"></svg-icon> 
                            </button>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.since | date}}</mat-cell>
                    </ng-container>
                    
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" [cdkDetailRow]="row" [cdkDetailRowTpl]="tpl"> </mat-row>

                </mat-table>
                <mat-toolbar class="table-button-toolbar">
                    <mat-toolbar-row class="no-padding">
                        <button *ngIf="!allButtonFlag && !selection.selected.length" class="add-new-button button" (click)="addTaskFlow()">Add new</button>
                        <span class="example-spacer"></span>
                        <mat-paginator showFirstLastButtons #paginator [length]="resultsLength"  [pageSize]="pageSize" [pageSizeOptions]="[5, 10 ,15, 25, 50]" (page)="pageEvent = onPaginateChange($event)"></mat-paginator>
                    </mat-toolbar-row>
                </mat-toolbar>
            </div>
        </div>
    </div>
</mat-card>
</div>